﻿@model  List<INI.Models.Mymodels.RedVirtualGrupoOtherUser>
<h1>Mis redes</h1>
<table id="tbl_mr" class="table">
    <thead>
        <tr>
            <th>Logo</th>
            <th>Creador</th>
            <th>
                Nombre
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            if (item.StateUserAceptGroup != 6)
            {
                <tr>
                    <td>
                        @if (item.StateUserAceptGroup == 1)
                        {
                            <a href="@Url.Action("Index", "RVCWall", new {id=@item.id })" data-hint="RVC|Aquí puede ingresar a esta red" data-hint-position="bottom">
                                <img src="@Url.Action("DowloadFile", "tbNetVirtualGroups", new { id = item.id, FileId = "photo" })" width="100px" />
                            </a>
                        }
                        else if (item.StateUserAceptGroup == 0)
                        {
                            <img src="@Url.Action("DowloadFile", "tbNetVirtualGroups", new { id = item.id, FileId = "photo" })" width="100px" />
                            <i class="icon-glasses-2" data-hint="Revisando|Esta red virtual de conocimiento está siendo estudiada para ser aprobada" data-hint-position="right"></i>
                        }
                        else if (item.StateUserAceptGroup == 5)
                        {
                            <div style="width:100px;height:100px;background:rgba(146, 143, 143, 0.67);position:relative;top:0px;z-index:2;"></div>
                            <img src="@Url.Action("DowloadFile", "tbNetVirtualGroups", new { id = item.id, FileId = "photo" })"   style="width:100px;position:relative;top:-100px"/>                            
                        }

                    </td>
                    <td>
                        <a href="#" data-hint="Propietario|Aquí podras saber más sobre el creador de esta red." data-hint-position="bottom">
                            <img src="@Url.Action("DowloadFile", "tbNetVirtualUsers", new { id = item.idUser, FileId = "photo" })" width="50px" />
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>

                        @*@Html.ActionLink("Detalles", "Details", "tbNetVirtualGroups", new { id = item.id, activo = 1 }, new {data_hint = "Detalles|Aquí podrás saber más sobre esta red.", data_hint_position = "bottom" })|*@
                        @if (item.StateUserAceptGroup != 0 && item.StateUserAceptGroup!=6 && item.StateUserAceptGroup!=5)
                        {
                            @Html.ActionLink("Editar", "Edit", "tbNetVirtualGroups", new { id = item.id }, new {data_hint = "Editar|Aquí podrás editar esta red.", data_hint_position = "bottom" })
                        }
                        else
                        {
                            @*<i class="icon-pencil"></i>*@
                            <span>Editar</span>
                        }
                        |@Html.ActionLink("Inhabilitar/Ocultar", "Delete", "tbNetVirtualGroups", new { id = item.id }, new {data_hint = "Inhabilitar/Ocultar|Aquí podrás ocultar o inhabilitar esta red.", data_hint_position = "bottom" })
                    </td>
                </tr>
            }

        }
    </tbody>
</table>
