﻿@model  List<INI.Models.Mymodels.RedVirtualGrupoOtherUser>                
<h1>Otras redes</h1>

<table id="tbl_or" class="table">
    <thead>
        <tr>
            <th>Logo</th>
            <th>Creador</th>
            <th>
                Nombre
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            if (item.StateUserAceptGroup != 5 && item.StateUserAceptGroup != 6)
            {
                <tr>
                    <td>
                        <a href="#">
                            <img src="@Url.Action("DowloadFile", "tbNetVirtualGroups", new { id = item.id, FileId = "photo" })" width="100px" />
                        </a>
                    </td>
                    <td>
                        <a href="#" data-hint="Propietario|Aquí podrás saber más sobre el creador de esta red." data-hint-position="bottom">
                            <img src="@Url.Action("DowloadFile", "tbNetVirtualUsers", new { id = item.idUser, FileId = "photo" }) " width="50px" />
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <button class="button large primary btnrvcor" id="@item.id">Participar</button>
                        @Html.ActionLink("Detalles", "Details", "tbNetVirtualGroups", new { id = item.id, activo = 5 }, new { data_hint = "Detalles|Aquí podrás saber más sobre esta red.", data_hint_position = "bottom" })
                    </td>
                </tr>
            }

        }
    </tbody>
</table>
