﻿@model  List<INI.Models.Mymodels.RedVirtualGrupoOtherUser>
<h1>Redes de colaboración</h1>
<table id="tbl_rc" class="table">
    <thead>
        <tr>
            <th>Logo</th>
            <th>Creador</th>
            <th>
                Nombre
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            if (item.StateNet != 6)
            {
                <tr>
                    <td>
                       @if (item.StateNet != 5)
                       {
                            <a href="@Url.Action("Index", "RVCWall", new { id = @item.id })" data-hint="RVC|Aquí puede ingresar a esta red" data-hint-position="bottom">
                                <img src="@Url.Action("DowloadFile", "tbNetVirtualGroups", new { id = item.id, FileId = "photo" })" width="100px" />
                            </a>
                       }
                       else
                       {
                            <div style="width:100px;height:100px;background:rgba(146, 143, 143, 0.67);position:relative;top:0px;z-index:2;"></div>
                            <img src="@Url.Action("DowloadFile", "tbNetVirtualGroups", new { id = item.id, FileId = "photo" })" style="width:100px;position:relative;top:-100px" />
                       }
                    </td>
                    <td>
                        <a href="#" data-hint="Propietario|Aquí podrás saber más sobre el creador de esta red." data-hint-position="bottom">
                            <img src="@Url.Action("DowloadFile", "tbNetVirtualUsers", new { id = item.idUser, FileId = "photo" }) " width=" 50px" />
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>                        
                        @Html.ActionLink("Detalles", "Details", "tbNetVirtualGroups", new { id = item.id, activo = 2 }, new { data_hint = "Detalles|Aquí podrás saber más sobre esta red.", data_hint_position = "bottom" })
                    </td>
                </tr>

            }

        }
    </tbody>
</table>
