﻿@model  List<INI.Models.Mymodels.RedVirtualGrupoOtherUser>
<h1>Otras redes</h1>

<table id="tbl_sol" class="table">
    <thead>
        <tr>
            <th>Logo</th>
            <th>Creador</th>
            <th>
                Nombre
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            //var activo = "activo=3";
            if (item.StateNet != 6 && item.StateNet != 5)
            {
                <tr>
                    <td>
                        <a href="#">
                            <img src="@Url.Action("DowloadFile", "tbNetVirtualGroups", new { id = item.id, FileId = "photo" })" width="100px" />
                        </a>
                        <i class="icon-glasses-2" data-hint="Revisando|Tu solicitud está siendo revisada." data-hint-position="right"></i>
                    </td>
                    <td>
                        <a href="#" data-hint="Propietario|Aquí podrás saber más sobre el creador de esta red." data-hint-position="bottom">
                            <img src="@Url.Action("DowloadFile", "tbNetVirtualUsers", new { id = item.idUser, FileId = "photo" }) " width="50px" />
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        
                        @Html.ActionLink("Detalles", "Details", "tbNetVirtualGroups", new { id = item.id, activo = 4 }, new { data_hint = "Detalles|Aquí podrás saber más sobre esta red.", data_hint_position = "bottom" })
                    </td>
                </tr>

            }

        }
    </tbody>
</table>
