﻿@model INI.Models.DataBase.AspNetUsers

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_InvAdministrator.cshtml";
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/PanelAdministrativo">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @*<a href="~/PanelAdministrativo">*@
                        <a href="~/Administrator">
                            <img src="~/images/botones_ruta_migas/admin/btn_admin_a.png" title="Administrador" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/PanelAdministrativo">
                            <img src="~/images/botones_ruta_migas/admin/btn_usuario_a.png" title="Usuarios" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_eliminar.png" title="Crear" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br />
<div class="panel panel-default" style="margin-top:55px;">
    <div class="panel-heading"><strong>Eliminar usuario</strong></div>
    <div class="panel-body">
        <p>¿Estás seguro que quieres eliminar la siguiente información?</p>
        <div class="media-body container well">
            <dl class="dl-horizontal">
                <dt style="padding-bottom:5px;">@Html.DisplayNameFor(model => model.Name):&nbsp&nbsp</dt>
                <dd>@Html.DisplayFor(model => model.Name)</dd>

                <dt style="padding-bottom:5px;">@Html.DisplayNameFor(model => model.SureName):&nbsp&nbsp</dt>
                <dd>@Html.DisplayFor(model => model.SureName)</dd>

                <dt style="padding-bottom:5px;">@Html.DisplayNameFor(model => model.PersonalID):&nbsp&nbsp</dt>
                <dd>@Html.DisplayFor(model => model.PersonalID)</dd>

                <dt style="padding-bottom:5px;">@Html.DisplayNameFor(model => model.Genre):&nbsp&nbsp</dt>
                <dd>@ViewBag.Genero</dd>

                <dt style="padding-bottom:5px;">@Html.DisplayNameFor(model => model.Address):&nbsp&nbsp</dt>
                <dd>@Html.DisplayFor(model => model.Address)</dd>

                <dt style="padding-bottom:5px;">@Html.DisplayNameFor(model => model.BirthDay):&nbsp&nbsp</dt>
                <dd>@Html.DisplayFor(model => model.BirthDay)</dd>

                <dt style="padding-bottom:5px;">@Html.DisplayNameFor(model => model.Email):&nbsp&nbsp</dt>
                <dd>@Html.DisplayFor(model => model.Email)</dd>

                <dt style="padding-bottom:5px;">@Html.DisplayNameFor(model => model.PhoneNumber):&nbsp&nbsp</dt>
                <dd>@Html.DisplayFor(model => model.PhoneNumber)</dd>

                <dt style="padding-bottom:2px;">&nbsp&nbsp</dt>
                <dd>&nbsp&nbsp</dd>

                <dt style="padding-bottom:5px;">&nbsp&nbsp</dt>
                <dd>
                    @using (Html.BeginForm("DeleteConfirmed", "PanelAdministrativo"))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)
    <input type="submit" value="Eliminar" class="button medium primary" />
                        @Html.ActionLink("Regresar", "Index", null, new { @class = "button medium primary" })
                    }
                    
                </dd>
            </dl>
        </div>
    </div>
</div>