﻿@using dl = ClassLibrary

@{
    var Title = "Administración de usuarios";
    Layout = "~/Views/Shared/_InvAdministrator.cshtml";
    string msj = ViewBag.Mensaje;
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        @*<a href="~/Home">*@
                        <a href="javascript:history.back(1)">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @*<a href="~/PanelAdministrativo">*@
                        <a href="~/Administrator">
                            <img src="~/images/botones_ruta_migas/admin/btn_admin_a.png" title="Administrador" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/admin/btn_usuarios.png" title="Usuarios" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>    
</div>
<br /><br /><br /><br />
<div style="margin-top:55px;">
    <h2 style="font-family: Chewy;">@Title</h2>
</div>
<div class="button-set margin10">
    @Html.ActionLink("Nuevo usuario", "RegistroAdmin", "", new { @class = "button large primary" })
</div>

<input id="ntfmsj" type="hidden" value="@ViewBag.Msj"/>
<table id="tblAdmin">
    <thead>
        <tr>
            <th>Documento</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Género</th>
            <th>Correo</th>
            <th>Dirección</th>
            <th>Fecha nacimiento</th>
            <th>Rol</th>    
            <th>Opciones</th>        
        </tr>
    </thead>

    <tbody>        
    </tbody>
    
</table>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/moment.js"></script>
    <script>    
        $(function () {
            //var msj = $("#ntfmsj").val();
            //console.log(msj);

            //if (msj != "") {
            //    var not = $.Notify({
            //        caption: "",
            //        content: msj,
            //        timeout: 5000 // 10 seconds
            //    });;

            //}

           

            $.fn.dataTable.moment('HH:mm MMM D, YY');
            $.fn.dataTable.moment('dddd, MMMM Do, YYYY');
                $('#tblAdmin').DataTable({
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        "url": "/PanelAdministrativo/getUsers",
                        "type": "POST"
                    },
                    "language": {
                        "lengthMenu": "Mostrar _MENU_ registros por página",
                        "zeroRecords": "Sin resultados",
                        "info": "Mostrando página _PAGE_ de _PAGES_",
                        "infoEmpty": "Sin resultados",
                        "infoFiltered": "(filtrado de _MAX_ registros)",
                        "search": "Buscar",
                        "paginate": {
                            "previous": "Anterior",
                            "next": "Siguiente"
                        }
                    },
                    "columns": [
                        { "data": "PersonalID" },
                        { "data": "Name" },
                        { "data": "SureName" },
                        { "data": "Genre" },
                        { "data": "Email" },                        
                        { "data": "Address" },
                        { "data": "BirthDay" },
                        { "data": "Rol" },
                        {
                            "class": "details-control",
                            "orderable": false,
                            "data": null,
                            "defaultContent": "<a href='#' onclick=redirect_action(this,1)>Editar</a> | <a href='#' onclick=redirect_action(this,2)>Eliminar</a>"
                                //| <a href='#' onclick=redirect_action(this,3)>Detalles</a>"
                        }
                    ]
                    
                    
                });
            
            
        });

        (function ($) {

            $.fn.dataTable.moment = function (format, locale) {
                var types = $.fn.dataTable.ext.type;

                // Add type detection
                types.detect.unshift(function (d) {
                    // Null and empty values are acceptable
                    if (d === '' || d === null) {
                        return 'moment-' + format;
                    }

                    return moment(d.replace ? d.replace(/<.*?>/g, '') : d, format, locale, true).isValid() ?
                        'moment-' + format :
                        null;
                });

                // Add sorting method - use an integer for the sorting
                types.order['moment-' + format + '-pre'] = function (d) {
                    return d === '' || d === null ?
                        -Infinity :
                        parseInt(moment(d.replace ? d.replace(/<.*?>/g, '') : d, format, locale, true).format('x'), 10);
                };
            };

        }(jQuery));

        function redirect_action(obj,action) {
            var mobj = $(obj).closest("tr");
            var id=mobj.attr('id');
            console.log(obj);
            console.log(mobj);
            console.log(mobj.attr('id'));
            switch (action) {
                case 1:
                    window.location.href = '/PanelAdministrativo/Edit/' + id;
                    break;
                case 2:
                    window.location.href = '/PanelAdministrativo/Delete/' + id;
                    break;
                case 3:
                    window.location.href = '/PanelAdministrativo/Details/' + id;
                    break;
            }
            

        }
    </script>
    <script src="~/Scripts/Investic/iep-0.1-AlertMessage.js"></script>
    <script>
            AlertMessage('@msj');
    </script>
}