﻿@using dl = ClassLibrary

@{
    var Title = "Limpiar usuarios sin confirmación de correo";
    Layout = "~/Views/Shared/_InvAdministrator.cshtml";
    string msj = ViewBag.Mensaje;
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @*<a href="~/PanelAdministrativo">*@
                        <a href="~/Administrator">
                            <img src="~/images/botones_ruta_migas/admin/btn_admin_a.png" title="Administrador" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/admin/btn_limpiar_usu.png" title="Usuarios" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br />
<div style="margin-top:55px;">
    <h2 style="font-family: Chewy;">@Title</h2>
</div>
<div class="button-set margin10">
    @Html.ActionLink("Limpiar", "LimpiarUsuarios", "", new { @class = "button large primary" })
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Investic/iep-0.1-AlertMessage.js"></script>
    <script>
            AlertMessage('@msj');
    </script>
}