﻿@model INI.Models.RegisterViewModel
@using INI.Models.DataBase

<link href="~/Content/tooltipbootstrap/jquery.webui-popover.css" rel="stylesheet" />

@{
    ViewBag.Title = "Registro de Usuario";
    Layout = "~/Views/Shared/_InvAdministrator.cshtml";
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/PanelAdministrativo">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @*<a href="~/PanelAdministrativo">*@
                        <a href="~/Administrator">
                            <img src="~/images/botones_ruta_migas/admin/btn_admin_a.png" title="Administrador" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/PanelAdministrativo">
                            <img src="~/images/botones_ruta_migas/admin/btn_usuario_a.png" title="Usuarios" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_crear.png" title="Crear" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br />
<style>
    label, input, select {
        margin-top: 7px;
    }
</style>
<div class="panel panel-default" style="margin-top:55px;">
    <div class="panel-heading"><strong>Crear Usuario</strong></div>
    <div class="panel-body">
    @using (Html.BeginForm("RegistroAdmin", "PanelAdministrativo", FormMethod.Post, new { id = "form1" }))
    {
        @Html.AntiForgeryToken()
        
            <form class="form-horizontal" style="width:500px;">
                <input type="hidden" id="UserName" name="UserName" value="nn" />

                <div class="form-group">
                    <label id="Passworde" for="Password" class="col-sm-2 control-label">Clave <span style="color:red;">*</span></label>
                    <div class="col-sm-4">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Escribe tu clave" })
                        @Html.ValidationMessageFor(model => model.Password, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <label id="ConfirmPassworde" for="ConfirmPassword" class="col-sm-2 control-label">Confirmar clave <span style="color:red;">*</span></label>
                    <div class="col-sm-4">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirma tu clave" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <label id="Namee" for="Name" class="col-sm-2 control-label">Nombres <span style="color:red;">*</span></label>
                    <div class="col-sm-4">
                        @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Escribe tu nombre" } })
                        @Html.ValidationMessageFor(model => model.Name, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <label id="SureNamee" for="SureName" class="col-sm-2 control-label">Apellidos <span style="color:red;">*</span></label>
                    <div class="col-sm-4">
                        @Html.EditorFor(m => m.SureName, new { htmlAttributes = new { @class = "form-control", placeholder = "Escribe tus apellidos" } })
                        @Html.ValidationMessageFor(model => model.SureName, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <label id="PersonalIDe" for="PersonalID" class="col-sm-2 control-label">Documento <span style="color:red;">*</span></label>
                    <div class="col-sm-4">
                        @Html.EditorFor(m => m.PersonalID, new { htmlAttributes = new { @class = "form-control", placeholder = "Escribe el número de tu documento de identidad" } })
                        @Html.ValidationMessageFor(model => model.PersonalID, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <label id="Genree" for="Genre" class="col-sm-2 control-label">Género <span style="color:red;">*</span></label>
                    <div class="col-sm-4 control-label" id="Genreradio">
                        <div class="radio">
                            <label><input type="radio" name="Genre" id="Genre" value="1" checked>Mujer</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="Genre" id="Genre" value="2">Hombre</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label id="Maile" for="Mail" class="col-sm-2 control-label">Correo <span style="color:red;">*</span></label>
                    <div class="col-sm-4">
                        @Html.EditorFor(m => m.Mail, new { htmlAttributes = new { @class = "form-control", placeholder = "Escribe tu correo electrónico" } })
                        @Html.ValidationMessageFor(model => model.Mail, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <label id="Phonee" for="Phone" class="col-sm-2 control-label">Teléfono <span style="color:red;">*</span></label>
                    <div class="col-sm-4">
                        @Html.EditorFor(m => m.Phone, new { htmlAttributes = new { @class = "form-control", placeholder = "Escribe tu número de teléfono" } })
                        @Html.ValidationMessageFor(model => model.Phone, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <label id="Addresse" for="Address" class="col-sm-2 control-label">Dirección </label>
                    <div class="col-sm-4">
                        @Html.EditorFor(m => m.Address, new { htmlAttributes = new { @class = "form-control", placeholder = "Escribe tu dirección de residencia" } })
                        @Html.ValidationMessageFor(model => model.Address, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <label id="BirthDaye" for="BirthDay" class="col-sm-2 control-label ">Fecha nacimiento <span style="color:red;">*</span></label>
                    <div class="col-sm-4" data-role="datepicker" data-format="dd/mm/yyyy" data-locale="es" data-effect="slide" data-position="top">
                        @Html.TextBoxFor(m => m.BirthDay, "{0:dd/MM/yyyy}", new { @class = "form-control", placeholder = "Selecciona tu fecha de nacimiento", required = "required" })
                        @Html.ValidationMessageFor(model => model.BirthDay, String.Empty, new { @style = "color:red;!important" })
                        <span id="lbl_fecha" style="color:red;display:none">La fecha nacimiento es obligatoria</span>
                    </div>
                    
                </div>

                <div class="form-group">
                    <label id="RolIde" for="RolId" class="col-sm-2 control-label">Rol <span style="color:red;">*</span></label>
                    <div class="col-sm-4">
                        @*@Html.DropDownListFor(model => model.RolId, null, "Seleccionar rol", new { @class = "form-control" })*@
                        <select name="RolId" id="RolId" class="form-control" data-val="true" data-val-required="El rol es obligatorio">
                            <option value="">Seleccionar Rol</option>
                            <option value="087C4DFE-E242-4B6A-95B6-400BA2301C1D">Administrador</option>
                            <option value="c81cff96-fdae-4d28-b95b-471f3eeb5b0b">Editor</option>
                            <option value="6bd3960d-1f9f-463c-8a2d-6a9d7fa42a64">Maestro</option>
                            <option value="6933df36-894a-4c67-bcbb-567893f0e239">Estudiante</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.RolId, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="button medium primary" style="margin-top:15px;">Guardar</button>
                        @Html.ActionLink("Regresar", "Index", null, new { @class = "button medium primary", style = "margin-top:15px;" })
                    </div>
                </div>
            </form>
            @Html.ValidationSummary(true)
    }
        <!-- Mensajes de ayuda -->
        <div style="display:none;">
            <div id="passwordm">
                <img src="~/images/ToolTip/p2.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es la clave?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar una clave para ingresar al sitio.
            </div>
        </div>
        <div style="display:none;">
            <div id="passwordme">
                <img src="~/images/ToolTip/p2.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es la clave?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar una clave para ingresar al sitio.
            </div>
        </div>

        <div style="display:none;">
            <div id="confirmpasswordm">
                <img src="~/images/ToolTip/p2.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es la clave?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes confirmar la clave para ingresar al sitio.
            </div>
        </div>
        <div style="display:none;">
            <div id="confirmpasswordme">
                <img src="~/images/ToolTip/p2.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es la clave?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes confirmar la clave para ingresar al sitio.
            </div>
        </div>

        <div style="display:none;">
            <div id="namem">
                <img src="~/images/ToolTip/p2.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es el nombre?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar el nombre.
            </div>
        </div>
        <div style="display:none;">
            <div id="nameme">
                <img src="~/images/ToolTip/p2.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es el nombre?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar el nombre.
            </div>
        </div>

        <div style="display:none;">
            <div id="surenamem">
                <img src="~/images/ToolTip/p2.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuáles son los apellidos?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar los apellidos.
            </div>
        </div>
        <div style="display:none;">
            <div id="surenameme">
                <img src="~/images/ToolTip/p2.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuáles son los apellidos?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar los apellidos.
            </div>
        </div>

        <div style="display:none;">
            <div id="personalidm">
                <img src="~/images/ToolTip/p2.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es el número del documento de identidad?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar el número del documento de identidad.
            </div>
        </div>
        <div style="display:none;">
            <div id="personalidme">
                <img src="~/images/ToolTip/p2.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es el número de documento de identidad?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar el número del documento de identidad.
            </div>
        </div>

        <div style="display:none;">
            <div id="genrem">
                <img src="~/images/ToolTip/p2.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es el género?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes seleccionar el género.
            </div>
        </div>
        <div style="display:none;">
            <div id="genreme">
                <img src="~/images/ToolTip/p2.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es el género?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes seleccionar el género.
            </div>
        </div>

        <div style="display:none;">
            <div id="mailm">
                <img src="~/images/ToolTip/p2.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es el correo electrónico?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar el correo electrónico.
            </div>
        </div>
        <div style="display:none;">
            <div id="mailme">
                <img src="~/images/ToolTip/p2.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es el correo electrónico?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar el correo electrónico.
            </div>
        </div>

        <div style="display:none;">
            <div id="phonem">
                <img src="~/images/ToolTip/p2.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es el número de teléfono?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar el número de teléfono.
            </div>
        </div>
        <div style="display:none;">
            <div id="phoneme">
                <img src="~/images/ToolTip/p2.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es el número de teléfono?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar el número de teléfono.
            </div>
        </div>

        <div style="display:none;">
            <div id="addressm">
                <img src="~/images/ToolTip/p2.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es la dirección de residencia?</strong></b><br /><br />
                Aquí debes ingresar la dirección de residencia.
            </div>
        </div>
        <div style="display:none;">
            <div id="addressme">
                <img src="~/images/ToolTip/p2.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es la dirección de residencia?</strong></b><br /><br />
                Aquí debes ingresar la dirección de residencia.
            </div>
        </div>

        <div style="display:none;">
            <div id="brithdaym">
                <img src="~/images/ToolTip/p2.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es la fecha de nacimiento?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar la fecha de nacimiento.
            </div>
        </div>
        <div style="display:none;">
            <div id="birthdayme">
                <img src="~/images/ToolTip/p2.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es la fecha de nacimiento?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar la fecha de nacimiento.
            </div>
        </div>

        <div style="display:none;">
            <div id="rolidm">
                <img src="~/images/ToolTip/p2.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es el rol del usuario?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes seleccionar el rol del usuario.
            </div>
        </div>
        <div style="display:none;">
            <div id="rolidme">
                <img src="~/images/ToolTip/p2.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es el rol del usuario?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes seleccionar el rol del usuario.
            </div>
        </div>
    </div>
</div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")

        <script src="~/Scripts/tooltipbootstrap/jquery.webui-popover.js"></script>
        <script>
            $('#Password').webuiPopover({ url: '#passwordm', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
            $('#Passworde').webuiPopover({ url: '#passwordme', trigger: 'hover', style: 'inverse', placement: 'right', width: '500px' });
            $('#ConfirmPassword').webuiPopover({ url: '#confirmpasswordm', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
            $('#ConfirmPassworde').webuiPopover({ url: '#confirmpasswordme', trigger: 'hover', style: 'inverse', placement: 'right', width: '500px' });
            $('#Name').webuiPopover({ url: '#namem', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
            $('#Namee').webuiPopover({ url: '#nameme', trigger: 'hover', style: 'inverse', placement: 'right', width: '500px' });
            $('#SureName').webuiPopover({ url: '#surenamem', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
            $('#SureNamee').webuiPopover({ url: '#surenameme', trigger: 'hover', style: 'inverse', placement: 'right', width: '500px' });
            $('#PersonalID').webuiPopover({ url: '#personalidm', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
            $('#PersonalIDe').webuiPopover({ url: '#personalidme', trigger: 'hover', style: 'inverse', placement: 'right', width: '500px' });
            $('#Genreradio').webuiPopover({ url: '#genrem', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
            $('#Genree').webuiPopover({ url: '#genreme', trigger: 'hover', style: 'inverse', placement: 'right', width: '500px' });
            $('#Mail').webuiPopover({ url: '#mailm', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
            $('#Maile').webuiPopover({ url: '#mailme', trigger: 'hover', style: 'inverse', placement: 'right', width: '500px' });
            $('#Phone').webuiPopover({ url: '#phonem', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
            $('#Phonee').webuiPopover({ url: '#phoneme', trigger: 'hover', style: 'inverse', placement: 'right', width: '500px' });
            $('#Address').webuiPopover({ url: '#addressm', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
            $('#Addresse').webuiPopover({ url: '#addressme', trigger: 'hover', style: 'inverse', placement: 'right', width: '500px' });
            $('#BirthDay').webuiPopover({ url: '#brithdaym', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
            $('#BirthDaye').webuiPopover({ url: '#birthdayme', trigger: 'hover', style: 'inverse', placement: 'right', width: '500px' });
            $('#RolId').webuiPopover({ url: '#rolidm', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
            $('#RolIde').webuiPopover({ url: '#rolidme', trigger: 'hover', style: 'inverse', placement: 'right', width: '500px' });
            
            $(document).ready(function () {
                $(function () {
                    $("#BirthDay").blur(function () {
                        if ($("#BirthDay").val().length == 0) {
                            $("#lbl_fecha").show();
                        } else {
                            $("#lbl_fecha").hide();
                        }
                    });
                    $("#lbl_fecha").hide();
                    $("#form1").submit(function () {
                        var count_errors = 0;
                        if ($("#BirthDay").val().length == 0) {
                            $("#lbl_fecha").show();
                            count_errors++;
                        } else {
                            $("#lbl_fecha").hide();
                        }
                        if (count_errors > 0) {
                            return false;
                        }
                    });
                });
            });
        </script>

    }
