﻿@model INI.Models.DataBase.tblNivelLengua

@{
    Layout = "~/Views/Shared/_InvCuenta.cshtml";
    ViewBag.Title = "Adicionar Lengua";
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/MAI/FormacionYExperiencia?tabactive=4">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Usuario/AdministrarCuenta">
                            <img src="~/images/botones_ruta_migas/usuarios/btn_usuario_a.png" title="Usuario" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/MAI/FormacionYExperiencia">
                            <img src="~/images/botones_ruta_migas/usuarios/btn_formacion_a.png" title="Formacion y experiencia" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/MAI/FormacionYExperiencia?tabactive=4">
                            <img src="~/images/botones_ruta_migas/usuarios/btn_lenguas_a.png" title="Lenguas" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/crud/btn_crear.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<div class="verticalSpan2"></div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.Hidden("tblHojaVida_ID", (object)ViewBag.idHojaVida)


    <div class="panel" style="text-align:center; margin-top:50px;">
        <div class="panel-header">
            <h2 style="font-family:Chewy; text-align:center">Adicionar lenguas</h2>
        </div>
        <div class="panel-content" style="margin-left:15px">
            <div class="grid">
                <div class="row">
                    <div class="span2">
                        <strong>Lengua</strong>
                    </div>
                    <div id="lbl_lengua" class="span5">
                        <div class="input-control select">
                            @Html.DropDownList("tblLenguas_ID")
                            @Html.ValidationMessageFor(model => model.tblLenguas_ID)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span2">
                        <strong>Nivel</strong>
                    </div>
                    <div id="lbl_nivel" class="span5">
                        <div class="input-control select">
                            @Html.DropDownList("tblNivel_ID")
                            @Html.ValidationMessageFor(model => model.tblNivel_ID)
                        </div>
                    </div>
                </div>
            </div>
            <button class="large primary fg-white" type="submit">
                Guardar
                @*<i class="icon-plus bg-green fg-white"></i>*@
            </button>

            <div class="form-group">
                <h3>
                    @*@Html.ActionLink("Regresar", "FormacionYExperiencia", new { tabactive = 4 })*@
                </h3>
            </div>
        </div>
    </div>

    @section Scripts {
        <script>
            $('#lbl_lengua').webuiPopover({ url: '#lengua', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
            $('#lbl_nivel').webuiPopover({ url: '#nivel', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        </script>
    }

    <div style="display:none;">
        <div id="lengua">
            <img src="/images/ToolTip/p1.svg" style="float:right;margin-left:12px;" alt="" />
            <b><strong>¿Cuál es la lengua que maneja?</strong></b><br /><br />
            Aquí debe escoger de la lista la lengua.
        </div>
    </div>

    <div style="display:none;">
        <div id="nivel">
            <img src="/images/ToolTip/p1.svg" style="float:right;margin-left:12px;" alt="" />
            <b><strong>¿Cuál es el nivel que tiene de esta lengua?</strong></b><br /><br />
            Aquí debe escoger de la lista su nivel.
        </div>
    </div>


    @*<div class="text-center">
        <h2><strong>Adicionar Lenguas</strong></h2>
    </div>

    <div class="form-control grid" style="text-align:center">
        <hr />

        <div class="form-group span6 offset4 text-center">
            <h3><strong>Lengua</strong></h3>
            <div class="input-control select">
                @Html.DropDownList("tblLenguas_ID")
                @Html.ValidationMessageFor(model => model.tblLenguas_ID)
            </div>
        </div>

        <div class="form-group span6 offset4 text-center">
            <h3><strong>Nivel</strong></h3>
            <div class="input-control select">
                @Html.DropDownList("tblNivel_ID")
                @Html.ValidationMessageFor(model => model.tblNivel_ID)
            </div>
        </div>

        <button class="large bg-green fg-white" type="submit">
            Agregar Lengua
            <i class="icon-plus bg-green fg-white"></i>
        </button>

        <div class="form-group">
            <h3>
                @Html.ActionLink("Regresar", "FormacionYExperiencia", new { id = (object)ViewBag.idUsuarioPlataforma })
            </h3>
        </div>
    </div>*@
}

