﻿@model INI.Models.DataBase.tblExperienciaProyectos

@{
    Layout = "~/Views/Shared/_InvCuenta.cshtml";
    ViewBag.Title = "Adicionar Proyecto";
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/MAI/Investigacion?tabexpactive=1">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Usuario/AdministrarCuenta">
                            <img src="~/images/botones_ruta_migas/usuarios/btn_usuario_a.png" title="Usuario" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/MAI/Investigacion">
                            <img src="~/images/botones_ruta_migas/usuarios/btn_experiencia_a.png" title="Experiencia" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/MAI/Investigacion?tabexpactive=1">
                            <img src="~/images/botones_ruta_migas/usuarios/btn_proyec_inves_a.png" title="Proyectos de investigación" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_crear.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<div class="verticalSpan2"></div>


@using (Html.BeginForm("AdicionarProyecto", "MAI", FormMethod.Post, new { id = "form1" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.Hidden("tblHojaVida_ID", (object)ViewBag.idHojaVida)


    <div class="panel" style="text-align:center; margin-top:50px;">
        <div class="panel-header">
            <h2 style="font-family:Chewy; text-align:center">Adicionar proyecto</h2>
        </div>
        <div class="panel-content" style="margin-left:15px">
            <div class="grid">
                <div class="row">
                    <div class="span3">
                        <strong>Título del proyecto<span style="color:red">*</span></strong>
                    </div>
                    <div id="lbl_proy" class="span9">
                        <div class="input-control text" data-role="input-control">
                            @Html.EditorFor(model => model.exppro_tituloProyecto)
                            @Html.ValidationMessageFor(model => model.exppro_tituloProyecto, "", new { @style = "color:red;!important" })
                            @if (ViewBag.SqlError != null)
                            {
                                <span style="color:red">@ViewBag.SqlError</span>
                            }
                            <button type="button" class="btn btn-clear" tabindex="-1"></button>
                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span3">
                        <strong>Fecha de terminación del proyecto<span style="color:red">*</span></strong>
                    </div>
                    <div id="lbl_dateend" class="span9">
                        <div class="input-control text" data-role="datepicker" data-format="dd/mm/yyyy">
                            @Html.TextBoxFor(m => m.exppro_anoTerminacion, "{0:dd/MM/yyyy}")
                            <button class="btn btn-date" type="button"></button>
                            @Html.ValidationMessageFor(model => model.exppro_anoTerminacion, "", new { @style = "color:red;!important" })
                            @*@Html.ValidationMessage("Digite fecha")*@
                            <span id="lbl_fecha" style="color:red;display:none">La fecha de terminación del proyecto es obligatoria</span>
                        </div>
                    </div>
                </div>
            </div>

            <button class="large primary fg-white" type="submit">
                Guardar
                @*<i class="icon-plus bg-green fg-white"></i>*@
            </button>

            <div class="form-group">
                <h3>
                    @*@Html.ActionLink("Regresar", "Investigacion", new { tabexpactive = 1 })*@
                </h3>
            </div>
        </div>
    </div>

    @section Scripts {
        <script>
            $('#lbl_proy').webuiPopover({ url: '#proy', trigger: 'hover', style: 'inverse', placement: 'top', width: '350px' });
            $('#lbl_dateend').webuiPopover({ url: '#dateend', trigger: 'hover', style: 'inverse', placement: 'top', width: '350px' });
            
            $(document).ready(function () {
                $(function () {
                    $("#lbl_fecha").hide();
                    //var fecha = $("#proaca_anoTerminacion").val();
                    if ($("#exppro_anoTerminacion").val() != "") {
                        $("#lbl_fecha").hide();
                    }

                    $("#form1").submit(function () {
                        var count_errors = 0;
                        //alert($("#proaca_anoTerminacion").val());
                        if ($("#exppro_anoTerminacion").val() == "") {
                            $("#lbl_fecha").show();
                            count_errors++;
                        } else {
                            console.log("Validado");
                            $("#lbl_fecha").hide();
                        }
                        if (count_errors > 0) {
                            return false;
                        }
                    });
                });
            });
        </script>
    }

    <div style="display:none;">
        <div id="proy">
            <img src="/images/ToolTip/p1.svg" style="float:right;margin-left:12px;" alt="" />
            <b><strong>¿Cuál es el título del proyecto?</strong></b><br /><br />
            Este campo es obligatorio. Aquí debe ingresar el título del proyecto.
        </div>
    </div>
    <div style="display:none;">
        <div id="dateend">
            <img src="/images/ToolTip/p1.svg" style="float:right;margin-left:12px;" alt="" />
            <b><strong>¿Cuál es la fecha de terminación de su proyecto?</strong></b><br /><br />
            Aquí debe ingresar la fecha en la cual va a finalizar su proyecto.
        </div>
    </div>


    @*<div class="text-center">
        <h2><strong>Adicionar Proyecto</strong></h2>
    </div>

    <div class="form-control grid" style="text-align:center">
        <hr />

        <div class="form-group span6 offset4 text-center">
            <h3><strong>Título del Proyecto</strong></h3>
            <div class="input-control text" data-role="input-control">
                @Html.EditorFor(model => model.exppro_tituloProyecto)
                <button type="button" class="btn btn-clear" tabindex="-1"></button>
                @Html.ValidationMessageFor(model => model.exppro_tituloProyecto)
            </div>
        </div>

        <div class="form-group span6 offset4 text-center">
            <h3><strong>Fecha de Terminación del Proyecto</strong></h3>
            <div class="input-control text" data-role="datepicker" data-format="dd/mm/yyyy">
                @Html.TextBoxFor(m => m.exppro_anoTerminacion, "{0:dd/MM/yyyy}")
                <button class="btn btn-date" type="button"></button>
                @Html.ValidationMessage("Digite fecha")
            </div>
        </div>

        <button class="large bg-green fg-white" type="submit">
            Agregar Proyecto
            <i class="icon-plus bg-green fg-white"></i>
        </button>

        <div class="form-group">
            <h3>
                @Html.ActionLink("Regresar", "Investigacion", new { id = (object)ViewBag.idUsuarioPlataforma })
            </h3>
        </div>
    </div>*@
}
