﻿@model INI.Models.DataBase.tblProductosAcademicos

@{
    Layout = "~/Views/Shared/_InvCuenta.cshtml";
    ViewBag.Title = "Adicionar Producto Academico";
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/MAI/Investigacion?tabexpactive=2">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Usuario/AdministrarCuenta">
                            <img src="~/images/botones_ruta_migas/usuarios/btn_usuario_a.png" title="Usuario" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/MAI/Investigacion">
                            <img src="~/images/botones_ruta_migas/usuarios/btn_experiencia_a.png" title="Experiencia" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/MAI/Investigacion?tabexpactive=2">
                            <img src="~/images/botones_ruta_migas/usuarios/btn_product_aca_a.png" title="Productos académicos" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_crear.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<div class="verticalSpan2"></div>

@using (Html.BeginForm("AdicionarProductoAcademico", "MAI", FormMethod.Post, new { id = "form1"}))
{
    //"AdicionarProductoAcademico", "MAI", FormMethod.Post, new { id = "form1" }
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.Hidden("tblHojaVida_ID", (object)ViewBag.idHojaVida)


    <div class="panel" style="text-align:center; margin-top:50px;">
        <div class="panel-header">
            <h2 style="font-family:Chewy; text-align:center">Adicionar producto académico</h2>
        </div>
        <div class="panel-content" style="margin-left:15px">
            <div class="grid">
                <div class="row">
                    <div class="span3">
                        <strong>Título del producto académico<span style="color:red">*</span></strong>
                    </div>
                    <div id="lbl_titleprod" class="span9">
                        <div class="input-control text" data-role="input-control">
                            @Html.EditorFor(model => model.proaca_tituloProducto)                            
                            @Html.ValidationMessageFor(model => model.proaca_tituloProducto, "", new { @style = "color:red;!important" })
                            @if (ViewBag.SqlError != null)
                            {
                                <span style="color:red">@ViewBag.SqlError</span>
                            }
                            <button type="button" class="btn btn-clear" tabindex="-1"></button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span3">
                        <strong>Fecha de publicación del producto académico<span style="color:red">*</span></strong>
                    </div>
                    <div id="lbl_date" class="span9">
                        <div class="input-control text" data-role="datepicker" data-format="dd/mm/yyyy">
                            @Html.TextBoxFor(m => m.proaca_anoTerminacion, "{0:dd/MM/yyyy}")                            
                            @Html.ValidationMessageFor(model => model.proaca_anoTerminacion, "", new { @style = "color:red;!important" })
                            <button type="button" class="btn btn-date" type="button" tabindex="-1"></button>
                            <span id="lbl_fecha" style="color:red;display:none">La fecha de publicación del producto es obligatoria</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span3">
                        <strong>Categoría del producto académico</strong>
                    </div>
                    <div id="lbl_categ" class="span9">
                        <div class="input-control select">
                            @Html.DropDownList("tblCategoriaProductos_ID")
                            @Html.ValidationMessageFor(model => model.tblCategoriaProductos_ID, "", new { @style = "color:red;!important" })
                        </div>
                    </div>
                </div>
            </div>

            <button class="large primary fg-white" type="submit">
                Guardar
                @*<i class="icon-plus bg-green fg-white"></i>*@
            </button>

            <div class="form-group">
                <h3>
                    @*@Html.ActionLink("Regresar", "Investigacion", new { tabexpactive = 2 })*@
                </h3>
            </div>
        </div>
    </div>

    @section Scripts {
        <script>
            $('#lbl_titleprod').webuiPopover({ url: '#titleprod', trigger: 'hover', style: 'inverse', placement: 'top', width: '400px' });
            $('#lbl_date').webuiPopover({ url: '#date', trigger: 'hover', style: 'inverse', placement: 'top', width: '400px' });
            $('#lbl_categ').webuiPopover({ url: '#categ', trigger: 'hover', style: 'inverse', placement: 'top', width: '400px' });
        
            $(document).ready(function () {
                $(function () {
                    $("#lbl_fecha").hide();
                    //var fecha = $("#proaca_anoTerminacion").val();
                    if ($("#proaca_anoTerminacion").val() != "") {
                        $("#lbl_fecha").hide();
                    }
                    
                    $("#form1").submit(function () {
                        var count_errors = 0;
                        //alert($("#proaca_anoTerminacion").val());
                        if ($("#proaca_anoTerminacion").val() == "") {
                            $("#lbl_fecha").show();
                            count_errors++;
                        } else {
                            console.log("Validado");
                            $("#lbl_fecha").hide();
                        }
                        if (count_errors > 0) {
                            return false;
                        }
                    });
                });
            });
        </script>
    }

    <div style="display:none;">
        <div id="titleprod">
            <img src="/images/ToolTip/p1.svg" style="float:right;margin-left:12px;" alt="" />
            <b><strong>¿Cuál es el título del producto académico?</strong></b><br /><br />
            Este campo es obligatorio. Aquí debe ingresar el título del producto académico.
        </div>
    </div>
    <div style="display:none;">
        <div id="date">
            <img src="/images/ToolTip/p1.svg" style="float:right;margin-left:12px;" alt="" />
            <b><strong>¿Cuál es la fecha de la publicación del producto?</strong></b><br /><br />
            Aquí debe ingresar la fecha en la cual fue publicado el producto.
        </div>
    </div>
    <div style="display:none;">
        <div id="categ">
            <img src="/images/ToolTip/p1.svg" style="float:right;margin-left:12px;" alt="" />
            <b><strong>¿Cuál es la categoría del producto académico?</strong></b><br /><br />
            Aquí debe escoger de la lista la categoría del producto académico.
        </div>
    </div>

    @*<div class="text-center">
        <h2><strong>Adicionar Producto Academico</strong></h2>
    </div>

    <div class="form-control grid" style="text-align:center">
        <hr />


        <div class="form-group span6 offset4 text-center">
            <h3><strong>Titulo del Producto Académico</strong></h3>
            <div class="input-control text" data-role="input-control">
                @Html.EditorFor(model => model.proaca_tituloProducto)
                <button type="button" class="btn btn-clear" tabindex="-1"></button>
                @Html.ValidationMessageFor(model => model.proaca_tituloProducto)
            </div>
        </div>

        <div class="form-group span6 offset4 text-center">
            <h3><strong>Fecha de Publicación del Producto Académico</strong></h3>
            <div class="input-control text" data-role="datepicker" data-format="dd/mm/yyyy">
                @Html.TextBoxFor(m => m.proaca_anoTerminacion, "{0:dd/MM/yyyy}")
                <button class="btn btn-date" type="button"></button>
                @Html.ValidationMessage("Digite fecha")
            </div>
        </div>

        <div class="form-group span6 offset4 text-center">
            <h3><strong>Categoría del Producto Académico</strong></h3>
            <div class="input-control select">
                @Html.DropDownList("tblCategoriaProductos_ID")
                @Html.ValidationMessageFor(model => model.tblCategoriaProductos_ID)
            </div>
        </div>

        <button class="large bg-green fg-white" type="submit">
            Agregar Producto Académico
            <i class="icon-plus bg-green fg-white"></i>
        </button>

        <div class="form-group">
            <h3>
                @Html.ActionLink("Regresar", "Investigacion", new { id = (object)ViewBag.idUsuarioPlataforma })
            </h3>
        </div>
    </div>*@
}
