﻿@model INI.Models.DataBase.tblHojaVida
@using INI.Models.DataBase

@{
    Layout = "~/Views/Shared/_InvCuenta.cshtml";
    ViewBag.Title = "Modificar Hoja de Vida";
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/MAI/FormacionYExperiencia?tabactive=1">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Usuario/AdministrarCuenta">
                            <img src="~/images/botones_ruta_migas/usuarios/btn_usuario_a.png" title="Usuario" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/MAI/FormacionYExperiencia">
                            <img src="~/images/botones_ruta_migas/usuarios/btn_formacion_a.png" title="Formacion y experiencia" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/MAI/FormacionYExperiencia?tabactive=1">
                            <img src="~/images/botones_ruta_migas/usuarios/btn_basic_sec_a.png" title="Básica secundaria" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/crud/btn_editar.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>

<div class="verticalSpan2"></div>

<input id="hd_fechaactual" type="hidden" value="@ViewBag.FechaActual" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.tblHojaVida_ID)
    @Html.HiddenFor(model => model.tblUsuarioPlataforma_ID)
    

    <div class="panel" style="text-align:center;margin-top:50px;" >
        <div class="panel-header">
            <h2 style="font-family:Chewy"> Editar información educación básica</h2>
        </div>
        <div class="panel-content" style="margin-left:15px">
            <div class="grid">
                <div class="row" style="text-align:center">
                    <div class="span12" >
                        <h3><strong>@Html.DisplayName(AspNetUsers.GetName(Model.AspNetUsers.UserName))</strong></h3>
                    </div>                    
                </div>
                <div class="row" >
                    <div class="span3">
                        <strong>Título educación secundaria<span style="color:red">*</span></strong>
                    </div>
                    <div id="lbl_edu2" class="span9">
                        <div class="input-control text" data-role="input-control">
                            @Html.EditorFor(model => model.hojVid_tituloSecundaria)
                            <button type="button" class="btn btn-clear" tabindex="-1"></button>
                            @Html.ValidationMessageFor(model => model.hojVid_tituloSecundaria, "", new { @style = "color:red;!important" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span3">
                        <strong>Fecha de graduación</strong>
                    </div>
                    <div id="lbl_dategrade" class="span9" >
                        <div class="input-control text" data-role="datepicker" data-format="dd/mm/yyyy">
                            @Html.TextBoxFor(m => m.hojVid_anoGradoSecundaria, "{0:dd/MM/yyyy}")
                            <button class="btn btn-date" type="button"></button>
                            @*@Html.ValidationMessage("Digite fecha", "", new { @style = "color:red;!important" })*@
                            <span id="msj_fechaactual" style="color:red;display:none">No se permiten fechas superiores a la actual</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="large primary fg-white" type="submit">
            Guardar
            @*<i class="icon-upload-3 bg-green fg-white"></i>*@
        </button>
        <div class="form-group">
            <h3>
                @*@Html.ActionLink("Regresar", "FormacionYExperiencia", new { tabactive = 1 })*@
            </h3>
        </div>
    </div>
}
    @section Scripts {        
        <script>
            $('#lbl_edu2').webuiPopover({ url: '#edu2', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
            $('#lbl_dategrade').webuiPopover({ url: '#dategrade', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
            
            $(function () {
                $("form").submit(function () {
                    var startdate = $("#hojVid_anoGradoSecundaria").val();
                    var enddate = $("#hd_fechaactual").val();

                    var sdate = startdate.split('/');
                    var edate = enddate.split('/');

                    var s_date = new Date(parseInt(sdate[2]), parseInt(sdate[1]) - 1, parseInt(sdate[0]), 0, 0, 0);
                    var e_date = new Date(parseInt(edate[2]), parseInt(edate[1]) - 1, parseInt(edate[0]), 0, 0, 0);


                    if (s_date > e_date) {
                        $("#msj_fechaactual").show();
                        return false;
                    }
                    else {
                        $("#msj_fechaactual").hide();
                    }


                });
            });

        </script>
    }

    <div style="display:none;">
        <div id="edu2">
            <img src="/images/ToolTip/p1.svg" style="float:right;margin-left:12px;" alt="" />
            <b><strong>¿Cuál es el título que obtuvo en la educación secundaria?</strong></b><br /><br />
            Aquí debe ingresar el título otorgado en la educación secundaria.
        </div>
    </div>
    <div style="display:none;">
        <div id="dategrade">
            <img src="/images/ToolTip/p1.svg" style="float:right;margin-left:12px;" alt="" />
            <b><strong>¿Cuál es la fecha de graduación de la educación secundaria?</strong></b><br /><br />
            Aquí debe ingresar la fecha en la cual le fue otorgado el título de la educación secundaria.
        </div>
    </div>


    @*<div class="text-center">
        <h2><strong>Modificar Información Educación Basica</strong></h2>
    </div>

    <div class="form-control grid" style="text-align:center">

        <h2><strong>@Html.DisplayName(AspNetUsers.GetName(Model.AspNetUsers.UserName))</strong></h2>
        @*<h3>@Html.DisplayFor(model => model.tblUsuarioPlataforma.usuPla_nombre)</h3>*@
        @*<hr />

        <div class="form-group span6 offset4 text-center">
            <h3><strong>Titulo Educación Secundaria</strong></h3>
            <div class="input-control text" data-role="input-control">
                @Html.EditorFor(model => model.hojVid_tituloSecundaria)
                <button type="button" class="btn btn-clear" tabindex="-1"></button>
                @Html.ValidationMessageFor(model => model.hojVid_tituloSecundaria)
            </div>
        </div>

        <div class="form-group span6 offset4 text-center">
            <h3><strong>Año de Graduación</strong></h3>
            <div class="input-control text" data-role="datepicker" data-format="dd/mm/yyyy">
                @Html.TextBoxFor(m => m.hojVid_anoGradoSecundaria, "{0:dd/MM/yyyy}")
                <button class="btn btn-date" type="button"></button>
                @Html.ValidationMessage("Digite fecha")
            </div>
        </div>

        <button class="large bg-green fg-white" type="submit">
            Guardar Cambios
            <i class="icon-upload-3 bg-green fg-white"></i>
        </button>
        <div class="form-group">
            <h3>
                @Html.ActionLink("Regresar", "FormacionYExperiencia", new { id = Model.tblUsuarioPlataforma_ID })
            </h3>
        </div>
    //</div>*@

