﻿@model INI.Models.DataBase.tblHojaVida

@{
    Layout = "~/Views/Shared/_InvCuenta.cshtml";
    ViewBag.Title = "Formacion Y Experiencia";
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        @*<a href="~/Usuario/AdministrarCuenta">*@
                        <a href="javascript:history.back(1)">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Usuario/AdministrarCuenta">
                            <img src="~/images/botones_ruta_migas/usuarios/btn_usuario_a.png" title="Usuario" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/usuarios/btn_formacion_v.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<div class="verticalSpan2"></div>

<div class="fondohojavida" style="margin-top:60px;">
    <table style="background-color:transparent; margin:auto;">
        <tr>
            <td width="80%" align="left">
                <div class="tableroHojaVida">
                    @Html.Partial("~/Views/Shared/_FormacionYExperiencia.cshtml", Model,ViewData)
                </div>
            </td>
            <td width="20%" align="left">
                <img src="~/images/MAI/HojaVida/personajeHojaVida.png" height="150" />
            </td>
        </tr>
    </table>
</div>

@section scripts{
    <link href="~/Content/Investic/MAI/mai_Site_HojaVida.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables-1.10.4/jquery.dataTables.js"></script>
    <script src="~/Scripts/Investic/mai_TablasHojaVida.js"></script>
    <script src="~/Scripts/Investic/mai_BorrarRegistrosHojaVida.js"></script>    
}
