﻿@model INI.Models.DataBase.tblEventosAcademicos

@{
    Layout = "~/Views/Shared/_InvCuenta.cshtml";
    ViewBag.Title = "ModificarEventoAcademico";
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/MAI/Investigacion?tabexpactive=3">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Usuario/AdministrarCuenta">
                            <img src="~/images/botones_ruta_migas/usuarios/btn_usuario_a.png" title="Usuario" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/MAI/Investigacion">
                            <img src="~/images/botones_ruta_migas/usuarios/btn_experiencia_a.png" title="Experiencia" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/MAI/Investigacion?tabexpactive=3">
                            <img src="~/images/botones_ruta_migas/usuarios/btn_event_aca_a.png" title="Eventos académicos" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_editar.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<div class="verticalSpan2"></div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.tblEventosAcademicos_ID)
    @Html.Hidden("tblHojaVida_ID", (object)ViewBag.idHojaVida)


    <div class="panel" style="text-align:center; margin-top:50px;">
        <div class="panel-header">
            <h2 style="font-family:Chewy; text-align:center">Editar evento académico</h2>
        </div>
        <div class="panel-content" style="margin-left:15px">
            <div class="grid">
                <div class="row">
                    <div class="span3">
                        <strong>Título del evento académico<span style="color:red">*</span></strong>
                    </div>
                    <div id="lbl_titleevent" class="span9">
                        <div class="input-control text" data-role="input-control">
                            @Html.EditorFor(model => model.eveaca_tituloEvento)                            
                            @Html.ValidationMessageFor(model => model.eveaca_tituloEvento, "", new { @style = "color:red;!important" })
                            @if (ViewBag.SqlError != null)
                            {
                                <span style="color:red">@ViewBag.SqlError</span>
                            }
                            <button type="button" class="btn btn-clear" tabindex="-1"></button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span3">
                        <strong>Evento académico<span style="color:red">*</span></strong>
                    </div>
                    <div id="lbl_event" class="span9">
                        <div class="input-control text" data-role="input-control">
                            @Html.EditorFor(model => model.eveaca_evento)
                            <button type="button" class="btn btn-clear" tabindex="-1"></button>
                            @Html.ValidationMessageFor(model => model.eveaca_evento, "", new { @style = "color:red;!important" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span3">
                        <strong>Lugar de realización del evento académico<span style="color:red">*</span></strong>
                    </div>
                    <div id="lbl_lugar" class="span9">
                        <div class="input-control text" data-role="input-control">
                            @Html.EditorFor(model => model.eveaca_lugarEvento)
                            <button type="button" class="btn btn-clear" tabindex="-1"></button>
                            @Html.ValidationMessageFor(model => model.eveaca_lugarEvento, "", new { @style = "color:red;!important" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span3">
                        <strong>Fecha de terminación del evento académico<span style="color:red">*</span></strong>
                    </div>
                    <div id="lbl_date" class="span9">
                        <div class="input-control text" data-role="datepicker" data-format="dd/mm/yyyy">
                            @Html.TextBoxFor(m => m.eveaca_anoTerminacion, "{0:dd/MM/yyyy}")
                            <button class="btn btn-date" type="button"></button>
                            @Html.ValidationMessage("Digite fecha")
                        </div>
                    </div>
                </div>
            </div>

            <button class="large primary fg-white" type="submit">
                Guardar
                @*<i class="icon-plus bg-green fg-white"></i>*@
            </button>

            <div class="form-group">
                <h3>
                    @*@Html.ActionLink("Regresar", "Investigacion", new { tabexpactive = 3 })*@
                </h3>
            </div>
        </div>
    </div>

    @section Scripts {
        <script>
            $('#lbl_titleevent').webuiPopover({ url: '#titleevent', trigger: 'hover', style: 'inverse', placement: 'top', width: '400px' });
            $('#lbl_event').webuiPopover({ url: '#event', trigger: 'hover', style: 'inverse', placement: 'top', width: '400px' });
            $('#lbl_lugar').webuiPopover({ url: '#lugar', trigger: 'hover', style: 'inverse', placement: 'top', width: '400px' });
            $('#lbl_date').webuiPopover({ url: '#date', trigger: 'hover', style: 'inverse', placement: 'top', width: '400px' });

        </script>
    }

    <div style="display:none;">
        <div id="titleevent">
            <img src="/images/ToolTip/p1.svg" style="float:right;margin-left:12px;" alt="" />
            <b><strong>¿Desea cambiar el título del evento académico?</strong></b><br /><br />
            Este campo es obligatorio. Aquí puede actualizar el título del evento académico.
        </div>
    </div>
    <div style="display:none;">
        <div id="event">
            <img src="/images/ToolTip/p1.svg" style="float:right;margin-left:12px;" alt="" />
            <b><strong>¿Desea cambiar el evento académico?</strong></b><br /><br />
            Este campo es obligatorio. Aquí puede actualizar el evento.
        </div>
    </div>
    <div style="display:none;">
        <div id="lugar">
            <img src="/images/ToolTip/p1.svg" style="float:right;margin-left:12px;" alt="" />
            <b><strong>¿Desea cambiar el lugar de realización del evento académico?</strong></b><br /><br />
            Este campo es obligatorio. Aquí puede actualizar el lugar del evento académico.
        </div>
    </div>
    <div style="display:none;">
        <div id="date">
            <img src="/images/ToolTip/p1.svg" style="float:right;margin-left:12px;" alt="" />
            <b><strong>¿Desea cambiar la fecha de terminación del evento?</strong></b><br /><br />
            Aquí puede actualizar la fecha en la cual finalizará el evento.
        </div>
    </div>

    @*<div class="text-center">
        <h2><strong>ModificarEventoAcademico</strong></h2>
    </div>

    <div class="form-control grid" style="text-align:center">
        <hr />

        <div class="form-group span6 offset4 text-center">
            <h3><strong>Título del Evento Académico</strong></h3>
            <div class="input-control text" data-role="input-control">
                @Html.EditorFor(model => model.eveaca_tituloEvento)
                <button type="button" class="btn btn-clear" tabindex="-1"></button>
                @Html.ValidationMessageFor(model => model.eveaca_tituloEvento)
            </div>
        </div>

        <div class="form-group span6 offset4 text-center">
            <h3><strong>Evento Academico</strong></h3>
            <div class="input-control text" data-role="input-control">
                @Html.EditorFor(model => model.eveaca_evento)
                <button type="button" class="btn btn-clear" tabindex="-1"></button>
                @Html.ValidationMessageFor(model => model.eveaca_evento)
            </div>
        </div>

        <div class="form-group span6 offset4 text-center">
            <h3><strong>Lugar de Realización del Evento Académico</strong></h3>
            <div class="input-control text" data-role="input-control">
                @Html.EditorFor(model => model.eveaca_lugarEvento)
                <button type="button" class="btn btn-clear" tabindex="-1"></button>
                @Html.ValidationMessageFor(model => model.eveaca_lugarEvento)
            </div>
        </div>

        <div class="form-group span6 offset4 text-center">
            <h3><strong>Fecha de Terminación del Evento Académico</strong></h3>
            <div class="input-control text" data-role="datepicker" data-format="dd/mm/yyyy">
                @Html.TextBoxFor(m => m.eveaca_anoTerminacion, "{0:dd/MM/yyyy}")
                <button class="btn btn-date" type="button"></button>
                @Html.ValidationMessage("Digite fecha")
            </div>
        </div>
        <button class="large bg-green fg-white" type="submit">
            Guardar Cambios
            <i class="icon-plus bg-green fg-white"></i>
        </button>

        <div class="form-group">
            <h3>
                @Html.ActionLink("Regresar", "Investigacion", new { id = (object)ViewBag.idUsuarioPlataforma })
            </h3>
        </div>
    </div>*@

}
