﻿@model INI.Models.DataBase.tblTituloEducacionSuperior

@{
    Layout = "~/Views/Shared/_InvCuenta.cshtml";
    ViewBag.Title = "Modificar Titulo";
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/MAI/FormacionYExperiencia?tabactive=2">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Usuario/AdministrarCuenta">
                            <img src="~/images/botones_ruta_migas/usuarios/btn_usuario_a.png" title="Usuario" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/MAI/FormacionYExperiencia">
                            <img src="~/images/botones_ruta_migas/usuarios/btn_formacion_a.png" title="Formacion y experiencia" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/MAI/FormacionYExperiencia?tabactive=2">
                            <img src="~/images/botones_ruta_migas/usuarios/btn_titulos_a.png" title="Títulos" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/crud/btn_editar.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<div class="verticalSpan2"></div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.tblTituloEducacionSuperior_ID)
    @Html.Hidden("tblHojaVida_ID", (object)ViewBag.idHojaVida)

    <div class="panel" style="text-align:center;margin-top:50px;">
        <div class="panel-header">
            <h2 style="font-family:Chewy"> Editar título</h2>
        </div>
        <div class="panel-content" style="margin-left:15px">
            <div class="grid">
                <div class="row">
                    <div class="span3">
                        <strong>Título educación superior<span style="color:red">*</span></strong>
                    </div>
                    <div id="lbl_edusup" class="span9">
                        <div class="input-control text" data-role="input-control">
                            @Html.EditorFor(model => model.titEduSup_nombre)
                            @Html.ValidationMessageFor(model => model.titEduSup_nombre, "", new { @style = "color:red;!important" })
                            @if (ViewBag.SqlError != null)
                            {
                                <span style="color:red">@ViewBag.SqlError</span>
                            }                            
                            <button type="button" class="btn btn-clear" tabindex="-1"></button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span3">
                        <strong>Fecha de graduación</strong>
                    </div>
                    <div id="lbl_dategrade" class="span9">
                        <div class="input-control text" data-role="datepicker" data-format="dd/mm/yyyy">
                            @Html.TextBoxFor(m => m.titEduSup_anoGraduacion, "{0:dd/MM/yyyy}")
                            <button class="btn btn-date" type="button"></button>
                            @Html.ValidationMessage("Digite fecha de graduación", "", new { @style = "color:red;!important" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span3">
                        <strong>Nivel académico</strong>
                    </div>
                    <div id="lbl_nivel" class="span9">
                        <div class="input-control select">
                            @Html.DropDownList("tblNivelAcademicoEducacionSuperior_ID")
                            @Html.ValidationMessageFor(model => model.tblNivelAcademicoEducacionSuperior_ID, "", new { @style = "color:red;!important" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="large primary fg-white" type="submit">
            Guardar
            @*<i class="icon-plus bg-green fg-white"></i>*@
        </button>

        <div class="form-group">
            <h3>
                @*@Html.ActionLink("Regresar", "FormacionYExperiencia", new { tabactive = 2 })*@
            </h3>
        </div>
    </div>

    @section Scripts {
        <script>
            $('#lbl_edusup').webuiPopover({ url: '#edusup', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
            $('#lbl_dategrade').webuiPopover({ url: '#dategrade', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
            $('#lbl_nivel').webuiPopover({ url: '#nivel', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        </script>
    }

    <div style="display:none;">
        <div id="edusup">
            <img src="/images/ToolTip/p1.svg" style="float:right;margin-left:12px;" alt="" />
            <b><strong>¿Desea cambiar el título que obtuvo en la educación superior?</strong></b><br /><br />
            Este campo es obligatorio. Aquí puede actualizar el título otorgado en la educación superior.
        </div>
    </div>
    <div style="display:none;">
        <div id="dategrade">
            <img src="/images/ToolTip/p1.svg" style="float:right;margin-left:12px;" alt="" />
            <b><strong>¿Desea cambiar la fecha de graduación de la educación superior?</strong></b><br /><br />
            Aquí puede actualizar la fecha en la cual le fue otorgado el título de la educación superior.
        </div>
    </div>
    <div style="display:none;">
        <div id="nivel">
            <img src="/images/ToolTip/p1.svg" style="float:right;margin-left:12px;" alt="" />
            <b><strong>¿Desea cambiar su nivel académico?</strong></b><br /><br />
            Aquí debe escoger de la lista su nivel académico.
        </div>
    </div>


    @*<div class="text-center">
        <h2><strong>Modificar Titulo</strong></h2>
    </div>

    <div class="form-control grid" style="text-align:center">
        <hr />

        <div class="form-group span6 offset4 text-center">
            <h3><strong>Titulo Educación Superior</strong></h3>
            <div class="input-control text" data-role="input-control">
                @Html.EditorFor(model => model.titEduSup_nombre)
                <button type="button" class="btn btn-clear" tabindex="-1"></button>
                @Html.ValidationMessageFor(model => model.titEduSup_nombre)
            </div>
        </div>

        <div class="form-group span6 offset4 text-center">
            <h3><strong>Fecha de Graduación</strong></h3>
            <div class="input-control text" data-role="datepicker" data-format="dd/mm/yyyy">
                @Html.TextBoxFor(m => m.titEduSup_anoGraduacion, "{0:dd/MM/yyyy}")
                <button class="btn btn-date" type="button"></button>
                @Html.ValidationMessage("Digite fecha de graduación")
            </div>
        </div>

        <div class="form-group span6 offset4 text-center">
            <h3><strong>Nivel Académico</strong></h3>
            <div class="input-control select">
                @Html.DropDownList("tblNivelAcademicoEducacionSuperior_ID")
                @Html.ValidationMessageFor(model => model.tblNivelAcademicoEducacionSuperior_ID, "", new { @style = "color:red;!important" })
            </div>
        </div>
        <button class="large bg-green fg-white" type="submit">
            Guardar Cambios
            <i class="icon-upload-3 bg-green fg-white"></i>
        </button>

        <div class="form-group">
            <h3>
                @Html.ActionLink("Regresar", "FormacionYExperiencia", new { id = (object)ViewBag.idUsuarioPlataforma })
            </h3>
        </div>
    </div>*@
}

