﻿@model SEG.Models.DataBase.programa_tareas

@{
    ViewBag.Title = "Seleccionar Tarea";
}

<h2>Seleccionar</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">Nombre Contratista:</label>
            <div class="col-md-10">
                @Html.DropDownList("pendiente", null, htmlAttributes: new { @class = "form-control", id = "Nombres" })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Registrar" class="btn btn-default" />
            </div>
        </div>
    </div>
}
