﻿
<div class="grid fluid">
    <div class="row" style="margin-left:15px">
        <div class="row">
            <table id="nuevosIntegrantes">
                <thead>
                    <tr>
                        <th>Identificación</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>   
                        <th></th>                     
                    </tr>
                </thead>
                <tbody>                    
                </tbody>
            </table>
        </div>
    </div>
</div>

@*@section Scripts{
    <script src="~/Scripts/DataTables-1.10.3/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Investic/mai_MisTablas.js"></script>
    <script src="~/Scripts/Investic/mai_AddIntegranteGrupoInv.js"></script>
}*@