﻿@*@model IEnumerable<DataBase.tblIntegrantesGrupoInv>*@

@model INI.Models.DataBase.tblGruposInvestigacion
@using INI.Models.DataBase

@{
    Layout = "~/Views/Shared/_LayoutMAI_Proyectos.cshtml";
    ViewBag.Title = "Integrantes";
    var rol = AspNetUsersRoles.IsUserInRole("Maestro", User.Identity.Name);
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/GruposInvestigacion/MisGrupos">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/Home/MenuMaestro">
                                <img src="~/images/botones_ruta_migas/iep/btn_maestro.png" title="Maestro" />
                            </a>
                        }
                        else
                        {
                            <a href="~/Home/MenuEstudiante">
                                <img src="~/images/botones_ruta_migas/iep/btn_estudiantes.png" title="Estudiantes" />
                            </a>
                        }

                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/GruposInvestigacion/MisGrupos">
                            <img src="~/images/botones_ruta_migas/mai/btn_MAI.png" title="MAI" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                            <a href="~/GruposInvestigacion/MisGrupos">
                                <img src="~/images/botones_ruta_migas/mai/btn_grupo_a.png" title="Mi Grupo" />
                            </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/mai/btn_integrantes.png" title="Integrantes" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>

<div class="grid fluid">
    <br />
    @Html.Partial("~/Views/Shared/_GrupoInvestigacion.cshtml", Model)

    <h2 style="font-family:Chewy">Integrantes</h2>

    <div class="row">
        <button id="newIntegrante" type="button" class="large primary fg-white">
            Agregar integrante
            @*<i class="icon-plus bg-gren fg-white"></i>*@
        </button>
    </div>

    <div class="row">
        <table id="miTabla" class="table striped hover">
            <thead>
                <tr>
                    <th class="span2">Identificación</th>
                    <th class="span4">Nombre</th>
                    <th class="span2">Fecha de vinculación</th>
                    <th class="span2"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.tblIntegrantesGrupoInv)
                {
                    <tr>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.AspNetUsers.PersonalID)</td>
                        <td>@Html.DisplayName(AspNetUsers.GetName(item.AspNetUsers.UserName))</td>
                        <td>@Html.DisplayFor(modelItem => item.intGruInv_fechaVinculacion)</td>
                        <td class="text-center">
                            @*<a href="#" onclick="javascript:DeleteMember(@item.tblIntegrantesGrupoInv_ID);" title="Eliminar"><i class="icon-remove"></i></a>*@
                            <a href=""></a>
                            <button class="button primary" onclick="javascript:DeleteMember(@item.tblIntegrantesGrupoInv_ID)">Eliminar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
       @* <center> @Html.AtrasInvestic()</center>*@
    </div>

    @*<div class="row">
        <button id="newIntegrante" type="button" class="large bg-green fg-white">
            Agregar Intgrantes
            <i class="icon-plus bg-gren fg-white"></i>
        </button>
    </div>*@

    @*<div class="form-group">
        <h3>
            @Html.ActionLink("Regresar", "DetallesGrupo", "GruposInvestigacion", new { id = Model.tblGruposInvestigacion_ID }, null)
        </h3>
    </div>*@

</div>
<div id="">

</div>

<div id="addMemberDialog">
        @{
        investicEntities db = new investicEntities();
        ViewBag.tblGruposInvestigacion_ID = Model.tblGruposInvestigacion_ID;
        Html.RenderPartial("AgregarIntegrantes");
        }
</div>

@section ScriptsMAI_PRY{
    <script>

        $('#nuevosIntegrantes').DataTable({

            "language": {
                "url": "../../Lang/es-Co.txt"
            },

            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "/IntegrantesGrupoInv/getUsers/@Model.tblGruposInvestigacion_ID",
                "type": "POST"
            },
            "columns": [
                { "data": "Identification" },
                { "data": "Name" },
                { "data": "LastName" },
                { "data": "Ctrl" },
            ]


        });
    </script>
    <script src="~/Scripts/DataTables-1.10.3/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Investic/mai_MisTablas.js"></script>
    <script src="~/Scripts/Investic/mai_AddIntegranteGrupoInv.js"></script>
    <script src="~/Scripts/Investic/mai_BorrarMiembroGrupInv.js"></script>
}
