﻿@model INI.Models.DataBase.tblMeta
@using INI.Models.DataBase
@{
    ViewBag.Title = "Crear meta";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
    var usu = User.Identity.Name;
    var rol = AspNetUsersRoles.IsUserInRole("Administrador", User.Identity.Name);
    if (!rol) { rol = AspNetUsersRoles.IsUserInRole("Administrator", User.Identity.Name); }
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/Metas">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/Noticias">
                                <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                            </a>
                        }
                        else
                        {
                            <a href="~/Admin/Editor?nombreu=@usu">
                                <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                            </a>
                        }
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Metas">
                            <img src="~/images/botones_ruta_migas/editor/btn_meta_a.png" title="Metas" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_crear.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br /><br /><br />

<div class="divMetas">
    <p>
        <h2 style="font-family:Chewy">
            Crear meta
        </h2>
    </p>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <hr />

        @Html.ValidationSummary(true)
        <div>

                    <p>
                        <h3>
                            <strong>Investigación</strong>
                        </h3>
                    </p>
       
            <table border="0">
                
                <tr>
                    <td class="span3">Municipio <span style="color:red;">*</span></td>
                    <td>
                        <div class="input-control select size4">
                            @Html.DropDownList("idMunicipio")
                            @if (ViewBag.SqlError != null)
                            {
                                <span style="color:red">@ViewBag.SqlError</span>
                            }
                            @Html.ValidationMessageFor(model => model.idMunicipio, "", new { @style = "color:red;!important" })
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>Grupos estudiantiles <span style="color:red;">*</span></td>
                    <td>
                        <div class="input-control  text size4">
                            @Html.EditorFor(model => model.met_grupoInvestigacionEstudiantil)
                            @Html.ValidationMessageFor(model => model.met_grupoInvestigacionEstudiantil, "", new { @style = "color:red;!important" })
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>N° Estudiantes <span style="color:red;">*</span></td>
                    <td>
                        <div class="input-control  text size4">
                            @Html.EditorFor(model => model.met_estudianteInvestigando)
                            @Html.ValidationMessageFor(model => model.met_estudianteInvestigando, "", new { @style = "color:red;!important" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Grupos de docentes <span style="color:red;">*</span></td>
                    <td>
                        <div class="input-control  text size4">
                            @Html.EditorFor(model => model.met_grupoInvestigacionDocente)
                            @Html.ValidationMessageFor(model => model.met_grupoInvestigacionDocente, "", new { @style = "color:red;!important" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>N° Docentes <span style="color:red;">*</span></td>
                    <td>
                        <div class="input-control  text size4">
                            @Html.EditorFor(model => model.met_docenteInvestigando)
                            @Html.ValidationMessageFor(model => model.met_docenteInvestigando, "", new { @style = "color:red;!important" })
                        </div>
                    </td>
                </tr>
            </table>
            <br />
            <p>
                <h3>
                    <strong>Formación en las TIC</strong>
                </h3>
            </p>
            <table border="0">
                <tr>
                    <td class="span3">Sedes educativas<span style="color:red;">*</span></td>
                    <td>
                        <div class="input-control  text size4">
                            @Html.EditorFor(model => model.met_establecimientosEducativos)
                            @Html.ValidationMessageFor(model => model.met_establecimientosEducativos, "", new { @style = "color:red;!important" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>N° Padres 40H <span style="color:red;">*</span></td>
                    <td>
                        <div class="input-control  text size4">
                            @Html.EditorFor(model => model.met_padresFormados40)
                            @Html.ValidationMessageFor(model => model.met_padresFormados40, "", new { @style = "color:red;!important" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>N° Estudiantes 40H <span style="color:red;">*</span></td>
                    <td>
                        <div class="input-control  text size4">
                            @Html.EditorFor(model => model.met_estudiantesFormados40)
                            @Html.ValidationMessageFor(model => model.met_estudiantesFormados40, "", new { @style = "color:red;!important" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>N° Docentes 120H <span style="color:red;">*</span></td>
                    <td>
                        <div class="input-control  text size4">
                            @Html.EditorFor(model => model.met_docentesFormados120)
                            @Html.ValidationMessageFor(model => model.met_docentesFormados120, "", new { @style = "color:red;!important" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>N° estudiantes 180H <span style="color:red;">*</span></td>
                    <td>
                        <div class="input-control  text size4">
                            @Html.EditorFor(model => model.met_estudiantesFormados180)
                            @Html.ValidationMessageFor(model => model.met_estudiantesFormados180, "", new { @style = "color:red;!important" })
                        </div>
                    </td>
                <tr>
                    <td>N° Docentes 180H <span style="color:red;">*</span></td>
                    <td>
                        <div class="input-control  text size4">
                            @Html.EditorFor(model => model.met_docentesFormados180)
                            @Html.ValidationMessageFor(model => model.met_docentesFormados180, "", new { @style = "color:red;!important" })
                        </div>
                    </td>
                </tr>

            </table>
            <br />
        </div>
        
        <div class="form-actions no-color">
            <table style="background-color:transparent;">
                <tr>
                    <td><input type="submit" value="Guardar" class="button medium primary" /></td>
                    <td>@Html.ActionLink("Regresar", "Index", null, new { @class = "button medium primary", style = "margin-left:15px;" })</td>
                </tr>
            </table>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}