﻿@model IEnumerable<INI.Models.DataBase.tblMeta>
@using INI.Models.DataBase
@using dl = ClassLibrary
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
    string msj = ViewBag.Message;
    var usu = User.Identity.Name;
    var rol = AspNetUsersRoles.IsUserInRole("Administrador", User.Identity.Name);
    if (!rol) { rol = AspNetUsersRoles.IsUserInRole("Administrator", User.Identity.Name); }
}
                      <div id="ruta_miga">
                          <table>
                              <tr>
                                  <td rowspan="2">
                                      <ul id="img_fijos">
                                          <li>
                                              @if (rol == true)
                                                {
                                                    @*<a href="~/Noticias">*@
                                                  <a href="javascript:history.back(1)">
                                                        <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                                                    </a>
                                                }
                                                else
                                                {
                                                    @*<a href="~/Admin/Editor?nombreu=@usu">*@
                                                  <a href="javascript:history.back(1)">
                                                        <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                                                    </a>
                                                }
                                          </li>
                                      </ul>
                                  </td>
                                  <td>
                                      <ul>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                                          </li>
                                      </ul>

                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <ul id="img_variables">
                                          <li>
                                              <a href="~/Home">
                                                  <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              @if (rol == true)
                                                {
                                                    <a href="~/Noticias">
                                                        <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a href="~/Admin/Editor?nombreu=@usu">
                                                        <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                                                    </a>
                                                }
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/editor/btn_metas.png" title="Metas" />
                                          </li>
                                      </ul>
                                  </td>
                              </tr>
                          </table>
                      </div>
<br /><br /><br /><br /><br /><br />

<p>
    <h3>
        @Html.ActionLink("Nueva meta", "Create", "", new { @class = "button large bg-green" })
    </h3>
</p> 
<div class="divMetas">
      
    <p>
        <h3>
            <strong>
                Investigación
            </strong>
        </h3>
    </p>
    <table id="Tabla_1" class="table striped hover" style="width:100%">
        <thead>
            <tr>
                <td>
                    Municipio
                </td>
                <td>
                    Grupos estudiantiles
                </td>
                <td>
                    N° Estudiantes
                </td>
                <td>
                    Grupos de docentes
                </td>
                <td>
                    N° Docentes
                </td>

                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.tblMunicipios.NombreMunicipio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.met_grupoInvestigacionEstudiantil)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.met_estudianteInvestigando)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.met_grupoInvestigacionDocente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.met_docenteInvestigando)
                    </td>

                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.tblMeta_ID }) |
                        @*@Html.ActionLink("Detalles", "Details", new { id = item.tblMeta_ID }) |*@
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.tblMeta_ID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <p>
        <h3>
            <strong>
                Formación en las TIC
            </strong>
        </h3>
    </p>
    <table id="Tabla_2" class="table striped hover" style="width:100%">
        <thead>
            <tr>
                <td width="14%">
                    Municipio
                </td>
                <td>
                    Sedes educativas
                </td>
                <td>
                    N° Padres 40H
                </td>
                <td>
                    N° Estudiantes 40H
                </td>
                <td>
                    N° Docentes 120H
                </td>
                <td>
                    N° Estudiantes 180H
                </td>
                <td>
                    N° Docentes 180H
                </td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.tblMunicipios.NombreMunicipio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.met_establecimientosEducativos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.met_padresFormados40)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.met_estudiantesFormados40)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.met_docentesFormados120)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.met_estudiantesFormados180)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.met_docentesFormados180)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.tblMeta_ID }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.tblMeta_ID }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.tblMeta_ID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts{
    <script src="~/Scripts/DataTables-1.10.4/jquery.dataTables.js"></script>
    <script src="~/Scripts/Investic/iep-0.1-index.js"></script>
    <script>
        $(function () {
            $('#Tabla_1').dataTable({
                "sPaginationType": "full_numbers",
                "oLanguage": {
                    "sUrl": "../../Lang/es-CO.txt"
                }
            });


            $(function () {
                $('#Tabla_2').dataTable({
                    "sPaginationType": "full_numbers",
                    "oLanguage": {
                        "sUrl": "../../Lang/es-CO.txt"
                    }
                });

            });
        });

    </script>
}