﻿@model INI.Models.DataBase.tbNetVirtualGroup

@{
    Layout = "~/Views/Shared/_InvRVC.cshtml";
    ViewBag.Title = "Delete";
    String ctrl=ViewBag.ControllerName;
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbNetVirtualGroup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

     
        <dt>
            @Html.DisplayNameFor(model => model.photo)
        </dt>
        <dd>
            <a href="@Url.Action("DowloadFile", new { id = Model.id, FileId = "photo" })" target="_blank" class="glyphicon glyphicon-download-alt"></a>
            @*<img src="@Url.Action("DowloadFile", new { id = Model.id, FileId = "photo" })" width="100px"/>*@       
        <dd>
        <dt>
            @Html.DisplayNameFor(model => model.state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
