﻿@model INI.Models.DataBase.tblFechaCronograma

@{
    ViewBag.Title = "Create";
    Model.cro_FechaInicio = DateTime.Now;
    Model.cro_FechaFin = DateTime.Now;

    var startdate = System.DateTime.Now.AddMonths(-1);
    var enddate = System.DateTime.Now;

    string sd = startdate.Year + "/" + startdate.Month + "/" + startdate.Day;
    string ed = enddate.Year + "/" + enddate.Month + "/" + enddate.Day;
    string ed2 = enddate.Year + "/" + enddate.Month + "/" + (enddate.Day + 1);
}


<div class="row" style="margin-left:30px">
    @using (Html.BeginForm("CreateFecha", "FechasCronograma",FormMethod.Post, new {id="frm_crono" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("tblCronogramaProy_ID", Model.tblCronogramaProy_ID)

        <div class="row">
            <div class="span6">
                <strong>Actividad<span style="color:red;">*</span></strong>
            </div>
            <div class="span6 input-control text">
                @Html.EditorFor(m => m.cro_Actividad)
                @*@Html.ValidationMessage("¿Que actividad va a realizar?")*@
                @Html.ValidationMessageFor(m => m.cro_Actividad, String.Empty, new { @style = "color:red;!important" })
            </div>
        </div>
        <div class="row">
            <div class="span6">
                <strong>Fecha inicio</strong>
            </div>
            <div class="input-control text size6" data-role="datepicker" data-format="dd/mm/yyyy" > @*style='max-width: 130px'>*@
                @Html.TextBoxFor(m => m.cro_FechaInicio, "{0:dd/MM/yyyy}", new { @type = "text" })
                <button class="btn btn-date" type="button"></button>                
                @*@Html.ValidationMessage("Digite fecha de inicio")*@
                @Html.ValidationMessageFor(m => m.cro_FechaInicio, String.Empty, new { @style = "color:red;!important" })
            </div>
            <div class="span6">
                <strong>Fecha final</strong>
            </div>
            <div class="input-control text size6" data-role="datepicker" data-format="dd/mm/yyyy" > @*style='max-width: 130px'>*@
                @Html.TextBoxFor(m => m.cro_FechaFin, "{0:dd/MM/yyyy}")
                <button class="btn btn-date" type="button"></button>
                <span id="val_enddate" style="display:none;color:red">La fecha final es menor que la fecha inicial</span>
                @*@Html.ValidationMessage("Digite fecha de inicio")*@
                @Html.ValidationMessageFor(m => m.cro_FechaFin, String.Empty, new { @style = "color:red;!important" })
            </div>
        </div>
        <div class="row">
            <div class="span6">
                <strong>Indicador<span style="color:red;">*</span></strong>
            </div>
            <div class="span6 input-control text">
                @Html.EditorFor(m => m.cro_Indicador)
                @*@Html.ValidationMessage("Indicador")*@
                @Html.ValidationMessageFor(m => m.cro_Indicador, String.Empty, new { @style = "color:red;!important" })
            </div>
        </div>
        <div class="row">
            <button class="medium primary fg-white" type="submit">
                Agregar fecha
                @*<i class="icon-plus bg-green fg-white"></i>*@
            </button>
        </div>
    }
</div>

