﻿@model INI.Models.DataBase.tblProyectosInvestigacion

@{
    ViewBag.Title = "Nuevo Proyecto";
    var idginv = ViewBag.tblGruposInvestigacion_ID;
}



<div class="grid">
    @using (Html.BeginForm("CrearProyecto", "ProyectosInvestigacion"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <input type="hidden" id="tblGruposInvestigacion_ID" name="tblGruposInvestigacion_ID" value="@idginv" />

        <div class="row">
            <div class="span2">                
                <label id="lbl_proyecto"><strong>Nuevo proyecto<span style="color:red">*</span></strong></label>                 
            </div>
            <div class="span10">
                <div class="input-control text">
                    @Html.TextBoxFor(model=>model.proyInv_nombreProyecto)                    
                    <button type="button" class="btn btn-clear" tabindex="-1"></button>
                    @Html.ValidationMessageFor(model=>model.proyInv_nombreProyecto, "", new {@style = "color:red;!important" })

                </div>
            </div>
        </div>

        <div class="row">
            <div class="span2">

            </div>
            <div class="span10">
                <button class="large primary fg-white" type="submit">
                    Crear proyecto
                    @*<i class="icon-plus bg-green fg-white"></i>*@
                </button>
            </div>
        </div>
    }
</div>

@section Scripts {
    
    
    @RenderSection("scripts", required: false)      

     
}
