﻿@model INI.Models.DataBase.tblProyectosInvestigacion
@using INI.Models.DataBase
@{
    Layout = "~/Views/Shared/_LayoutMAI_Proyectos.cshtml";
    ViewBag.Title = "Delete";
    String ctrl=ViewBag.ControllerName;
    var rol = AspNetUsersRoles.IsUserInRole("Maestro", User.Identity.Name);
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/ProyectosInvestigacion/Proyectos">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/Home/MenuMaestro">
                                <img src="~/images/botones_ruta_migas/iep/btn_maestro.png" title="Maestro" />
                            </a>
                        }
                        else
                        {
                            <a href="~/Home/MenuEstudiante">
                                <img src="~/images/botones_ruta_migas/iep/btn_estudiantes.png" title="Estudiantes" />
                            </a>
                        }

                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/GruposInvestigacion/MisGrupos">
                            <img src="~/images/botones_ruta_migas/mai/btn_MAI.png" title="MAI" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/GruposInvestigacion/MisGrupos">
                                <img src="~/images/botones_ruta_migas/mai/btn_grupo_a.png" title="Mi Grupo" />
                            </a>
                        }
                        else
                        {
                            <a href="~/GruposInvestigacion/MisGrupos">
                                <img src="~/images/botones_ruta_migas/mai/btn_grupo_a.png" title="Mi Grupo" />
                            </a>
                        }
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/ProyectosInvestigacion/Proyectos">
                            <img src="~/images/botones_ruta_migas/mai/btn_proyecto_a.png" title="Proyecto" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/crud/btn_eliminar.png" title="Editar" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br />
<style>
    .myrow {
        margin-top: 2px !important;
        margin-left: 20px;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel">
        <div class="panel-header" style="font-family:Chewy">
            ¿Está seguro de eliminar el proyecto?
        </div>
        <div class="panel-content">
            <div class="grid">
                <div class="row myrow">
                    <div class="span3">
                        @Html.DisplayName("Título")
                    </div>
                    <div class="span9">
                        @Html.DisplayFor(m => m.proyInv_nombreProyecto)                        
                    </div>
                </div>
                <div class="row myrow">
                    <div class="span3">
                        @Html.DisplayName("Resumen")
                    </div>
                    <div class="span9">
                        @Html.DisplayFor(model => model.tblPresentacionProyecto.preProy_resumenProy)
                    </div>
                </div>
                <div class="row myrow">
                    <div class="span3">
                        @Html.DisplayName("Fecha de creación")
                    </div>
                    <div class="span9">
                        @Html.DisplayFor(model => model.proyInv_fechaCreacion)
                    </div>
                </div>                                
                <br />
                <div class="row myrow">
                    <div class="span2">
                        <input type="submit" value="Eliminar" class="button medium primary" />
                    </div>
                    <div class="span10">
                        <a href="@Url.Action("Proyectos")" class="button medium primary">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}




