﻿@model INI.Models.DataBase.tblProyectosInvestigacion

@using INI.Models.DataBase

@{
    Layout = "~/Views/Shared/_LayoutMAI_Proyectos.cshtml";
    ViewBag.Title = "EditarProyecto";
    var rol = AspNetUsersRoles.IsUserInRole("Maestro", User.Identity.Name);
}

<style>
    .steps {
        background-color: #eeeeee;
        border-radius: 5px 5px 5px 5px;
    }
</style>

<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/ProyectosInvestigacion/Proyectos">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/Home/MenuMaestro">
                                <img src="~/images/botones_ruta_migas/iep/btn_maestro.png" title="Maestro" />
                            </a>
                        }
                        else
                        {
                            <a href="~/Home/MenuEstudiante">
                                <img src="~/images/botones_ruta_migas/iep/btn_estudiantes.png" title="Estudiantes" />
                            </a>
                        }

                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/GruposInvestigacion/MisGrupos">
                            <img src="~/images/botones_ruta_migas/mai/btn_MAI.png" title="MAI" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/GruposInvestigacion/MisGrupos">
                                <img src="~/images/botones_ruta_migas/mai/btn_grupo_a.png" title="Mi Grupo" />
                            </a>
                        }
                        else
                        {
                            <a href="~/GruposInvestigacion/MisGrupos">
                                <img src="~/images/botones_ruta_migas/mai/btn_grupo_a.png" title="Mi Grupo" />
                            </a>
                        }
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/ProyectosInvestigacion/Proyectos">
                            <img src="~/images/botones_ruta_migas/mai/btn_proyecto_a.png" title="Proyecto" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/crud/btn_editar.png" title="Editar" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br />
<div class="grid fluid">

    <div id="informeProyectoDialog">
    </div>
    
    @{
        investicEntities db = new investicEntities();
        var grupoInvestigacion = db.tblGruposInvestigacion.Find(Model.tblGruposInvestigacion_ID);
        @Html.Partial("~/Views/Shared/_GrupoInvestigacion.cshtml", grupoInvestigacion);

    }

    <h2 style="font-family:Chewy">Complete su proyecto</h2>

    @Html.Partial("~/Views/Shared/_ProyectoInvestigacion.cshtml", Model)

    <div id="wizard" data-id="@Model.tblProyectosInvestigacion_ID">
        @*Hoja 1 del wizard*@
        <h1>PRESENTACIÓN DEL PROYECTO</h1>
        <div class="overflow">
            @Html.Partial("~/Views/PresentacionProyecto/Edit.cshtml", Model)
        </div>


        @*Hoja 2 del wizard*@
        <h1>PROBLEMA DE INVESTIGACIÓN</h1>
        <div class="overflow">
            @Html.Partial("~/views/ProblemaInvestigacionProy/Edit.cshtml", Model)
        </div>

        @*Hoja 3 del wizard*@
        <h1>MARCO DE REFERENCIA</h1>
        <div class="overflow">
            @Html.Partial("~/Views/MarcoReferenciaProy/Edit.cshtml", Model)
        </div>

        @*Hoja 4 del wizard*@
        <h1>MÉTODO</h1>
        <div class="overflow">
            @Html.Partial("~/Views/MetodoProy/Edit.cshtml", Model)
        </div>

        @*Hoja 5 del wizard*@
        <h1>APORTE DEL PROYECTO</h1>
        <div class="overflow">
            @Html.Partial("~/Views/CaracteristicasProy/Edit.cshtml", Model)
        </div>

        @*Hoja 6 CRONOGRAMA*@
        <h1>CRONOGRAMA</h1>
        <div class="overflow">
            @Html.Partial("~/Views/CronogramaProy/Edit.cshtml", Model.tblCronogramaProy)
        </div>

        @*Hoja 7 PRESUPUESTO*@
        <h1>PRESUPUESTO</h1>
        <div class="overflow">
            @Html.Partial("~/Views/PresupuestoProy/Edit.cshtml", Model.tblPresupuestoProy)
        </div>


        @*Hoja 8 del wizard*@
        <h1>REFERENCIAS</h1>
        <div class="overflow">
            @Html.Partial("~/Views/ReferenciasProy/Edit.cshtml", Model)
        </div>
        @*Hoja 9 del wizard*@
        <h1>FINALIZAR</h1>
        <div class="overflow">
            <div class="panel" >
                <div class="panel-header bg-blue fg-white" >
                    Advertencia
                </div>
                <div class="panel-content">
                    Si está seguro de finalizar, presione el botón terminar.
                </div>
            </div>
        </div>
    </div>


    <div class="form-group">
        <h3>
            @*@Html.ActionLink("Regresar", "Proyectos", "ProyectosInvestigacion", new { id = Model.tblGruposInvestigacion_ID }, null)*@
        </h3>
    </div>

</div>

<div id="addFechaDialog">
    @{
        tblFechaCronograma miNuevaFecha = new tblFechaCronograma();
        miNuevaFecha.tblCronogramaProy_ID = Model.tblCronogramaProy_ID;
        Html.RenderPartial("CreateFecha", miNuevaFecha);
    }
</div>

<div id="addRubroDialog">
    @{        
        tblRubroPresupuesto miNuevoRubro = new tblRubroPresupuesto();
        miNuevoRubro.tblPresupuestoProy_ID = Model.tblPresentacionProyecto_ID;
        Html.RenderPartial("CreatePresupuesto", miNuevoRubro);
    }
</div>

<div style="display:none;">
    <input type="button" id="watchButton" name="watchButton" class="btn btn-info btn-lg" data-toggle="modal" data-target= "#myModal" />
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="background-color: #cccccc; background-image: url(/images/fondo_enterate.png); background-size: 222px 200px; background-repeat: repeat; background-position:20px top;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title" style="font-family: Chewy, serif; font-size: 24px; font-weight:100; text-shadow: 4px 4px 4px #aaa;">Información</h4>
            </div>
            <div class="modal-body">
                <p style="font-family: Roboto, serif; font-size: 16px; font-weight:100;" id="modal_content"></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="close_modal" class="btn btn-default" data-dismiss="modal" style="background-color: #3e97df; color:#ffffff; font-weight:normal;">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>



@section ScriptsMAI_PRY {
    @Scripts.Render("~/bundles/jqueryval")
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables-1.10.3/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery.steps.js"></script>
    <link href="~/Content/Investic/MAI/jquery.steps.css" rel="stylesheet" />
    <script src="~/Scripts/Investic/mai_WizardProyectos.js"></script>
    <script src="~/Scripts/Investic/mai_MEpistemologicoCascading.js"></script>
    <script>
        $(function () {

            $("#frm_crono").submit(function () {
                var startdate = $("#cro_FechaInicio").val();
                var enddate = $("#cro_FechaFin").val();

                var sdate = startdate.split('/');
                var edate = enddate.split('/');

                var s_date = new Date(parseInt(sdate[2]), parseInt(sdate[1]) - 1, parseInt(sdate[0]), 0, 0, 0);
                var e_date = new Date(parseInt(edate[2]), parseInt(edate[1]) - 1, parseInt(edate[0]), 0, 0, 0);


                if (s_date > e_date) {
                    $("#val_enddate").show();
                    return false;
                }
                else {
                    $("#val_enddate").hide();
                }
            });

            $("#tblParadigmaEpistemologico_ID").change(function () {
                $("#tblTipoEstudioProy_ID").html("");
                $.getJSON("@Url.Action("getTipodeEstudio")/" + $("#tblParadigmaEpistemologico_ID").val(), function (data) {
                    $.each(data, function (key, val) {
                        $("#tblTipoEstudioProy_ID").append("<option value='" + val.tblTipoEstudioProy_ID + "'>" + val.tipEst_nombre + "</option>");
                    });
                });

            });
            $("#tblTipoEstudioProy_ID").change(function () {
                $("#tblDiseniosProy_ID").html("");
                $.getJSON("@Url.Action("getDiseniosProy")/" + $("#tblTipoEstudioProy_ID").val(), function (data) {
                    $.each(data, function (key, val) {
                        $("#tblDiseniosProy_ID").append("<option value='" + val.tblDiseniosProy_ID + "'>" + val.disProy_nombre + "</option>");
                    });
                });

            });
        });
    </script>
}


