﻿@model INI.Models.DataBase.tblGruposInvestigacion
@using INI.Models.DataBase
@{
    Layout = "~/Views/Shared/_LayoutMAI_Proyectos.cshtml";
    ViewBag.Title = "Proyectos";
    var rol = AspNetUsersRoles.IsUserInRole("Maestro", User.Identity.Name);
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/GruposInvestigacion/MisGrupos">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/Home/MenuMaestro">
                                <img src="~/images/botones_ruta_migas/iep/btn_maestro.png" title="Maestro" />
                            </a>
                        }
                        else
                        {
                            <a href="~/Home/MenuEstudiante">
                                <img src="~/images/botones_ruta_migas/iep/btn_estudiantes.png" title="Estudiantes" />
                            </a>
                        }

                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/GruposInvestigacion/MisGrupos">
                            <img src="~/images/botones_ruta_migas/mai/btn_MAI.png" title="MAI" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/GruposInvestigacion/MisGrupos">
                            <img src="~/images/botones_ruta_migas/mai/btn_grupo_a.png" title="Grupo" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/mai/btn_proyectos.png" title="Proyectos" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br />

<div style="display:none;">
    <div id="NuevoProyecto">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es tu nuevo proyecto?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar un nuevo proyecto.
    </div>
</div>
<div style="display:none;">
    <div id="NuevoProyecto2">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es tu nuevo proyecto?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar un nuevo proyecto.
    </div>
</div>

<div class="grid fluid">
    <div class="row">
        @Html.Partial("~/Views/Shared/_GrupoInvestigacion.cshtml", Model)
        <div class="row">
            <button id="AddNuevoProyecto" type="button" class="large primary fg-white">
                Crear nuevo proyecto                
            </button>
        </div>

        <h2 style="font-family:Chewy">Nuestros proyectos</h2>
        <table id="miTabla" class="table striped hover">
            <thead>
                <tr>
                    <th class="span4">Nombre del proyecto</th>
                    <th class="span4">Resumen</th>
                    <th class="span2">Fecha de creación</th>
                    <th class="span2"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.tblProyectosInvestigacion)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => item.proyInv_nombreProyecto)</td>
                        <td>@Html.DisplayFor(model => item.tblPresentacionProyecto.preProy_resumenProy)</td>
                        <td class="text-center">@Html.DisplayFor(model => item.proyInv_fechaCreacion)</td>
                        @if (item.tblEstado_ID == 1)
                        {
                            <td class="text-center">
                                @Html.ActionLink("Editar", "EditarProyecto", "ProyectosInvestigacion", new { id = item.tblProyectosInvestigacion_ID }, new { @class = "" }) |                                
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.tblProyectosInvestigacion_ID })
                            </td>

                        }
                        else
                        {
                            <td class="text-center">Proyecto en evaluación</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        <br />
       @* <center> @Html.AtrasInvestic()</center>*@
    </div>

    @*<div class="form-group">
        <h3>
            @Html.ActionLink("Regresar", "DetallesGrupo", "GruposInvestigacion", new { id = Model.tblGruposInvestigacion_ID }, null)
        </h3>
    </div>*@
</div>

<div id="crearProyectoDialog">
    @{
        Html.RenderAction("CrearProyecto", new { id = Model.tblGruposInvestigacion_ID });
    }
</div>

@section ScriptsMAI_PRY{
    <script src="~/Scripts/DataTables-1.10.3/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Investic/mai_MisTablas.js"></script>
    <script src="~/Scripts/Investic/mai_ProyectosInvestigacion.js"></script>
    <script>
        $('#lbl_proyecto').webuiPopover({ url: '#NuevoProyecto', trigger: 'hover', style: 'inverse', placement: 'right', width: '500px' });
        $('#proyInv_nombreProyecto').webuiPopover({ url: '#NuevoProyecto2', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
    </script>
    <script>
        function DeleteMember(id) {
            $.Dialog({
                overlay: true,
                shadow: true,
                flat: true,
                icon: '<span class="icon-remove"></span>',
                title: 'Confirmación',
                width: 400,
                content: '',
                onShow: function (_dialog) {
                    var content =
                        '<div class="confirmbox">' +
                        '<p>Desea continuar con la eliminación del registro?</p>' +
                        '<button class="button primary" onclick="javascript:ConfirmDeleteMember(' + id +
                        ');">Continuar</button> ' +
                        '<button class="button" type="button" onclick="$.Dialog.close()">Cancel</button> ' +
                        '</div>';
                    $.Dialog.content(content);
                }
            });
        }
        function ConfirmDeleteMember(id) {
            $.Dialog.close();
            window.location.href = "/ProyectosInvestigacion/Delete/".concat(id);
        }
    </script>
}
