﻿@model INI.Models.DataBase.tblRecursosEducativos
@using INI.Models.DataBase
@{
    Layout = "~/Views/Shared/_InvChamilo.cshtml";
    var rol = AspNetUsersRoles.IsUserInRole("Maestro", User.Identity.Name);
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/RecursosEducativos">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/Home/MenuMaestro">
                                <img src="~/images/botones_ruta_migas/iep/btn_maestro.png" title="Maestro" />
                            </a>
                        }
                        else
                        {
                            <a href="~/Home/MenuEstudiante">
                                <img src="~/images/botones_ruta_migas/iep/btn_estudiantes.png" title="Estudiantes" />
                            </a>
                        }

                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/RecursosEducativos">
                            <img src="~/images/botones_ruta_migas/rec_edu/btn_rec_edu_a.png" title="Recursos educativos" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_eliminar.png" title="Eliminar" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Eliminar</title>
</head>
<body>
    <br /><br /><br />
    <h3 style="color:red;">Está seguro de eliminar este Recurso?</h3>
    <div class="divMetas">
        <p>
            <h2>
                <strong>
                    <label style="font-family:Chewy; font-size: 30px; color: #00B8D4">Detalle de Recurso Educativo</label>
                </strong>
            </h2>
        </p>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Colección
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tblColecciones.nom_coleccion)
            </dd>

            <dt>
                Nombre
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nom_rec_educativo)
            </dd>

            <dt>
                Descripción
            </dt>

            <dd>
                @Html.DisplayFor(model => model.desc_rec_educativo)
            </dd>

            <dt>
                Archivo
            </dt>

            <dd>
                @Html.DisplayFor(model => model.archivo_rec_educativo)<a style="font-size:12px;" href="@Html.DisplayFor(model => model.archivo_rec_educativo)" target="_blank" title="Ver...">
    Ver recurso educativo...
</a>
            </dd>


            <dt>
                Autor
            </dt>

            <dd>
                @Html.DisplayFor(model => model.autor_rec_educativo)                
            </dd>

        </dl>




        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <table style="background-color:transparent;">
                    <tr>
                        <td><input type="submit" value="Eliminar" class="button médium primary" /></td>
                        <td><a href="../Index" class="button médium primary">Regresar</a></td>
                        
                    </tr>
                </table>
            </div>
    <div>
        <input type="hidden" name="rec" id="rec" value="@Html.DisplayFor(model => model.id_rec_educativo)" />
        <input type="hidden" name="autor" id="autor" value="@Html.DisplayFor(model => model.autor_rec_educativo)" />
    </div>
        }
    </div>
</body>
</html>
