﻿@model INI.Models.DataBase.tblRecursosEducativos
@using INI.Models.DataBase
@{
    Layout = null;
}

<div style="background:#FFFFFF; height:460px;">
    <div class="col-lg-10">
        <div>
            <strong style="font-family: Chewy; color: #33691E; font-size: 2.0em; text-align:center;">Recurso educativo</strong>
        </div>
    </div>
    <div class="col-lg-2">
        <div id="back" class="span1">
            <h1>
                <a href="#" title="Cerrar">
                    <i class="icon-arrow-right-3 smaller"></i>
                </a>
            </h1>
        </div>
    </div>
    <hr />
    <table>
        <tr>
            <td colspan="2">
                <div class="recEducativos">
                    <strong>Colección</strong>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><strong>@Html.DisplayFor(model => model.tblColecciones.nom_coleccion)</strong></td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="recEducativos">
                    <strong>Recurso Educativo</strong>
                </div>
            </td>

        </tr>
        <tr>
            <td><div style="padding:10px;"><img src="@Html.DisplayFor(model => model.icono_rec_educativo)" width="64" height="64" /></div></td>
            <td><strong> @Html.DisplayFor(model => model.nom_rec_educativo)</strong></td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="recEducativos">
                    <strong> Descripción General</strong>
                </div>
            </td>

        </tr>
        <tr>
            <td></td>
            <td><strong>@Html.DisplayFor(model => model.desc_rec_educativo)</strong></td>
        </tr>

    </table>
    <br />

    <a href="@Html.DisplayFor(model => model.archivo_rec_educativo)" class="button mediun primary">Descargar</a>
</div>
<script type="text/javascript">

    $(function () {

        $("#back").click(function () {
            $('#divResultados2').css("visibility", 'hidden');

        });

    });
</script>