﻿@using Microsoft.AspNet.Identity
@model INI.Models.DataBase.tblRecursosEducativos
@using INI.Models.DataBase
@{
    ViewBag.Title = "Editar Recurso Educativo";
    Layout = "~/Views/Shared/_InvChamilo.cshtml";
    var rol = AspNetUsersRoles.IsUserInRole("Maestro", User.Identity.Name);
}
<style>
    .inputClass input {
        width: 100%;
    }

    .row {
        margin-top: 5px;
    }

    #pan {
        margin-top: 80px;
    }
</style>
<link href="~/Content/tooltipbootstrap/jquery.webui-popover.css" rel="stylesheet" />
<script src="~/Scripts/js/jquery-1.9.1.min.js"></script>
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/RecursosEducativos">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/Home/MenuMaestro">
                                <img src="~/images/botones_ruta_migas/iep/btn_maestro.png" title="Maestro" />
                            </a>
                        }
                        else
                        {
                            <a href="~/Home/MenuEstudiante">
                                <img src="~/images/botones_ruta_migas/iep/btn_estudiantes.png" title="Estudiantes" />
                            </a>
                        }

                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/RecursosEducativos">
                            <img src="~/images/botones_ruta_migas/rec_edu/btn_rec_edu_a.png" title="Recursos educativos" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_editar.png" title="Editar" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
    </div>
    
        
        @using (Html.BeginForm("Edit", "RecursosEducativos", FormMethod.Post, new { enctype = "multipart/form-data", id = "form1" }))
{
    <div class="col-lg-10 col-lg-offset-1" id="pan">
            <div class="panel panel-default" style="margin-top:0px;">
                <div class="panel-heading"><strong style="font-family:Chewy;">@ViewBag.Title</strong></div>
                <div class="panel-content">
        @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.id_rec_educativo)
            <table style="background-color:transparent;">
                <thead>
                    <tr>
                        <td class="span3">
                            <div class="span2 text-right">
                                <div style="margin: auto; width: auto;">
                                    <label id="id_coleccione" for="id_coleccion">Colección <span class="requerido">*</span></label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="input-control select size8">
                                @Html.DropDownList("id_coleccion")
                                @Html.ValidationMessageFor(model => model.id_coleccion, String.Empty, new { @style = "color:red;!important" })
                                <!--<span class="requerido" style="display:none" id="id_col">Selecciona Colección</span>-->
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="span2 text-right">
                                <div style="margin: auto; width: auto;">
                                    <label id="nom_rec_educativoe" for="nom_rec_educativo">
                                        Nombre <span class="requerido">*</span>
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="input-control text size8">
                                @Html.EditorFor(model => model.nom_rec_educativo)
                                @Html.ValidationMessageFor(model => model.nom_rec_educativo, String.Empty, new { @style = "color:red;!important" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="span2 text-right">
                                <div style="margin: auto; width: auto;">
                                    <label id="desc_rec_educativoe" for="desc_rec_educativo">
                                        Descripción <span class="requerido">*</span>
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="input-control text size8">
                                @Html.EditorFor(model => model.desc_rec_educativo)
                                @Html.ValidationMessageFor(model => model.desc_rec_educativo, String.Empty, new { @style = "color:red;!important" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="span3">
                            <div class="span2 text-right">
                                <div style="margin: auto; width: auto;">
                                    <label id="tblIdiomas_IDe" for="tblIdiomas_ID">
                                        Idioma <span class="requerido">*</span>
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="input-control select size8">
                                @Html.DropDownList("tblIdiomas_ID")
                                @Html.ValidationMessageFor(model => model.tblIdiomas_ID, String.Empty, new { @style = "color:red;!important" })
                                <!--<span class="requerido" style="display:none" id="id_col">Selecciona Colección</span>-->
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="span2 text-right">
                                <div style="margin: auto; width: auto;">
                                    <label id="archivo_rec_educativoe" for="archivo_rec_educativo">
                                        ¿Deseas actualizar archivo?<span class="requerido">*</span>
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td>
                                <a style="font-size:9px;" href="@Html.DisplayFor(model => model.archivo_rec_educativo)" target="_blank" title="Descargar...">
                                    @Html.DisplayFor(model=> model.archivo_rec_educativo)
                                </a><br />
                                Si <input type="radio" name="conservar_archivo" id="conservar_archivo" value="si" >
                                No <input type="radio" name="conservar_archivo" id="conservar_archivo" value="no" checked>
                        </td>
                    </tr>  
                    <tr id="old_archivo">
                        <td colspan="2">
                            @Html.Hidden("archivo_rec_educativo1", @Html.DisplayFor(model => model.archivo_rec_educativo))
                            @Html.Hidden("archivo_rec_educativo", @Html.DisplayFor(model => model.archivo_rec_educativo))
                        </td>
                    </tr>                  
                    <tr id="nuevo_archivo">
                        <td>
                            <div class="span2 text-right">
                                <div style="margin: auto; width: auto;">
                                    <label id="archivo_rec_educativoe" for="archivo_rec_educativo">
                                        Nuevo archivo <span class="requerido">*</span>
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="input-control text size8">
                                <div class="input-control file" id="archivo_rec_educativoin">
                                    <!--<input id="not_urlimage" name="not_urlimage" type="file" required  message="Error Usted no selecciono el archivo [pdf,image/jpeg]"/>-->
                                    @*<input id="archivo_rec_educativo" class="archivo" name="archivo_rec_educativo" type="file" required message="Error Usted no selecciono el archivo [pdf,image/jpeg]" data-val="true" data-val-required="El archivo es  obligatorio" accept="image/png, image/jpeg, image/gif, application/pdf, application/vnd.ms-excel, application/vnd.ms-word application/vnd.ms-powerpoint" />*@
                                    <input id="archivo_rec_educativo" class="archivo" name="archivo_rec_educativo" type="file" required message="Error Usted no selecciono el archivo [pdf,image/jpeg]" data-val="true" data-val-required="El archivo es  obligatorio" accept="image/png, image/jpeg, image/gif, application/pdf, application/vnd.ms-excel, application/vnd.ms-word application/vnd.ms-powerpoint" />
                                    <button class="btn btn-file"></button>
                                </div>
                                @Html.ValidationMessageFor(model => model.archivo_rec_educativo, String.Empty, new { @style = "color:red;!important" })
                                <span id="lbl_archivo_rec_educativo_tipo" style="color:red;display:none">Solo se permiten archivos jpg, png, docx, doc, pdf, rar, zip, xls, xlsx, ppt, pptx</span>
                                <span id="lbl_archivo_rec_educativo_tamano" style="color:red;display:none">El tamaño del archivo no debe sobrepasar 50 MB</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="span2 text-right">
                                <div style="margin: auto; width: auto;">
                                    <label id="palabra_clavee" for="palabra_clave">
                                        Palabras clave
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="input-control text size8">
                                @Html.TextAreaFor(model => model.palabra_clave)
                            </div>
                        </td>
                    </tr>
            </table>
            

            <div class="form-actions no-color">
                <table style="background-color:transparent;">
                    <tr>
                        <td><input type="submit" value="Guardar" class="button médium primary" /> </td>
                        @*<td><h4>@Html.ActionLink("Regresar", "Index")</h4></td>*@
                    </tr>
                    @Html.Hidden("autor_rec_educativo", User.Identity.GetUserName())
                    @Html.Hidden("id_user", User.Identity.GetUserId())
                    @Html.Hidden("icono_rec_educativo", "/images/icono_agenda.png")
                </table>
            </div>


        </div>
    </div>
        </div>
}

                <div style="display:none;">
                    <div id="id_coleccionl">
                        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
                        <b><strong>¿Cuál es tu Colección?</strong></b><br /><br />
                        Este campo es obligatorio. Aquí debes seleccionar una Colección.
                    </div>
                </div>
                <div style="display:none;">
                    <div id="id_coleccioni">
                        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
                        <b><strong>¿Cuál es tu Colección?</strong></b><br /><br />
                        Este campo es obligatorio. Aquí debes seleccionar una Colección.
                    </div>
                </div>

                <div style="display:none;">
                    <div id="nom_rec_educativoi">
                        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
                        <b><strong>¿Cuál es tu Nombre?</strong></b><br /><br />
                        Este campo es obligatorio. Aquí debes ingresar  un nombre.
                    </div>
                </div>
                <div style="display:none;">
                    <div id="nom_rec_educativol">
                        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
                        <b><strong>¿Cuál es tu Nombre?</strong></b><br /><br />
                        Este campo es obligatorio. Aquí debes ingresar  un nombre.
                    </div>
                </div>

                <div style="display:none;">
                    <div id="desc_rec_educativoi">
                        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
                        <b><strong>¿Cuál es tu Descripción?</strong></b><br /><br />
                        Este campo es obligatorio. Aquí debes ingresar una Descripción.
                    </div>
                </div>
                <div style="display:none;">
                    <div id="desc_rec_educativol">
                        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
                        <b><strong>¿Cuál es tu Descripción?</strong></b><br /><br />
                        Este campo es obligatorio. Aquí debes ingresar una Descripción.
                    </div>
                </div>

                <div style="display:none;">
                    <div id="tblIdiomas_IDi">
                        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
                        <b><strong>¿Cuál es tu Idioma?</strong></b><br /><br />
                        Este campo es obligatorio. Aquí debes seleccionar un Idioma.
                    </div>
                </div>
                <div style="display:none;">
                    <div id="tblIdiomas_IDl">
                        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
                        <b><strong>¿Cuál es tu Idioma?</strong></b><br /><br />
                        Este campo es obligatorio. Aquí debes seleccionar un Idioma.
                    </div>
                </div>

                <div style="display:none;">
                    <div id="archivo_rec_educativoi">
                        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
                        <b><strong>¿Cuál es tu Archivo?</strong></b><br /><br />
                        Este campo es obligatorio. Aquí debes Seleccionar un Archivo.
                    </div>
                </div>
                <div style="display:none;">
                    <div id="archivo_rec_educativol">
                        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
                        <b><strong>¿Cuál es tu Archivo?</strong></b><br /><br />
                        Este campo es obligatorio. Aquí debes Seleccionar un Archivo.
                    </div>
                </div>

                <div style="display:none;">
                    <div id="palabra_clavei">
                        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
                        <b><strong>¿Cuáles son tus palabras clave?</strong></b><br /><br />
                        Aquí debes ingresar las palabras clave de tu recurso.
                    </div>
                </div>
                <div style="display:none;">
                    <div id="palabra_clavel">
                        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
                        <b><strong>¿Cuáles son tus palabras clave?</strong></b><br /><br />
                        Aquí debes ingresar las palabras clave de tu recurso.
                    </div>
                </div>
                <br />
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script src="~/Scripts/tooltipbootstrap/jquery.webui-popover.js"></script>
        <script>
            $('#id_coleccion').webuiPopover({ url: '#id_coleccioni', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
            //$('#id_coleccione').webuiPopover({ url: '#id_coleccionl', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
            $('#nom_rec_educativo').webuiPopover({ url: '#nom_rec_educativoi', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
            //$('#nom_rec_educativoe').webuiPopover({ url: '#nom_rec_educativol', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
            $('#desc_rec_educativo').webuiPopover({ url: '#desc_rec_educativoi', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
            //$('#desc_rec_educativoe').webuiPopover({ url: '#desc_rec_educativol', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
            $('#tblIdiomas_ID').webuiPopover({ url: '#tblIdiomas_IDi', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
            //$('#tblIdiomas_IDe').webuiPopover({ url: '#tblIdiomas_IDl', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
            $('#archivo_rec_educativoin').webuiPopover({ url: '#archivo_rec_educativoi', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
            //$('#archivo_rec_educativoe').webuiPopover({ url: '#archivo_rec_educativol', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
            $('#palabra_clave').webuiPopover({ url: '#palabra_clavei', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
            //$('#palabra_clavee').webuiPopover({ url: '#palabra_clavel', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        </script>

    }
    <script>
        $("#nuevo_archivo").hide();
        $(document).ready(function () {
            //Validacion de  campo select id_coleccion
            $('#id_coleccion').attr('data-val', 'true');
            $('#id_coleccion').attr('data-val-range', 'La  colección es obligatoria');
            $('#id_coleccion').attr('data-val-range-min', '1');
            //Agregar atribitos textarea palabras clave
            $('#palabra_clave').attr('cols', '100');
            $('#palabra_clave').attr('placeholder', 'Informática, Tecnología');
            //Validacion de  campo select id_idioma
            $('#tblIdiomas_ID').attr('data-val', 'true');
            $('#tblIdiomas_ID').attr('data-val-range', 'El idioma es obligatorio');
            $('#tblIdiomas_ID').attr('data-val-range-min', '1');
            $('input[type="radio"]').click(function () {
                if ($(this).attr("value") == "no") {
                    $("#nuevo_archivo").hide();
                    //$("#archivo_rec_educativo").attr('value', '@Html.DisplayFor(model => model.archivo_rec_educativo)');
                    $("#old_archivo").show();
                }
                if ($(this).attr("value") == "si") {
                    $("#nuevo_archivo").show();
                   $("#old_archivo").hide();
                }
            });
            $(function () {
                $("#lbl_archivo_rec_educativo_tipo").hide();
                $("#lbl_archivo_rec_educativo_tamano").hide();
                $("#form1").submit(function () {
                    if ($('input:radio[name=conservar_archivo]:checked').val() == "si") {
                        //alert($('input:radio[name=conservar_archivo]:checked').val());
                        var filesize = this.archivo_rec_educativo.files[0].size / 1024;
                        var count_errors = 0;
                        var archivo = this.archivo_rec_educativo.value;

                        if (archivo.match("^.*\.(jpg|JPG|png|PNG|docx|doc|pdf|rar|zip|xls|xlsx|ppt|pptx)$")) {
                            $("#lbl_archivo_rec_educativo_tipo").hide();
                            console.log("Validado");
                        } else {
                            $("#lbl_archivo_rec_educativo_tipo").show();
                            count_errors++;
                        }

                        if (filesize <= 50000) {
                            $("#lbl_archivo_rec_educativo_tamano").hide();
                        }
                        else {
                            $("#lbl_archivo_rec_educativo_tamano").show();
                            count_errors++;
                        }
                        if (count_errors > 0) {
                            return false;
                        }
                    } 
                });
            });
        });
    </script>
