﻿@model IEnumerable<INI.Models.DataBase.tblRecursosEducativos>
@using INI.Models.DataBase

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InvChamilo.cshtml";
    var rol = AspNetUsersRoles.IsUserInRole("Maestro", User.Identity.Name);
}
                      <div id="ruta_miga">
                          <table>
                              <tr>
                                  <td rowspan="2">
                                      <ul id="img_fijos">
                                          <li>
                                              @if (rol == true)
                                              {
                                                  @*<a href="~/Home/MenuMaestro">*@
                                                  <a href="javascript:history.back(1)">
                                                      <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                                                  </a>
                                              }
                                              else
                                              {
                                                  @*<a href="~/Home/MenuEstudiante">*@
                                                  <a href="javascript:history.back(1)">
                                                      <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                                                  </a>
                                              }
                                          </li>
                                      </ul>
                                  </td>
                                  <td>
                                      <ul>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                                          </li>
                                      </ul>

                                  </td>
                              </tr>

                              <tr>
                                  <td>
                                      <ul id="img_variables">
                                          <li>
                                              <a href="~/Home">
                                                  <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              @if (rol == true)
                                              {
                                                  <a href="~/Home/MenuMaestro">
                                                      <img src="~/images/botones_ruta_migas/iep/btn_maestro.png" title="Maestro" />
                                                  </a>
                                              }
                                              else
                                              {
                                                  <a href="~/Home/MenuEstudiante">
                                                      <img src="~/images/botones_ruta_migas/iep/btn_estudiantes.png" title="Estudiantes" />
                                                  </a>
                                              }
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/rec_edu/btn_rec_edu_v.png" title="Recursos educativos" />
                                          </li>
                                      </ul>
                                  </td>
                              </tr>
                          </table>
                      </div>
<br /><br /><br />
<div class="divMetas">
    <p>
        <h2>
            <label style="font-family:Chewy; font-size: 30px; color: #00B8D4">Recursos Educativos</label>
        </h2>
    </p>
    <br />
    <p>
        <h3>
            @Html.ActionLink("Nuevo Recurso Educativo", "Create", "RecursosEducativos", null, new { @class = "button large primary" })
        </h3>
    </p>

    <table id="Tabla" class="table striped hover" style="width:100%">
        <thead>
            <tr>
                <th width="20%">
                    Nombre
                </th>
                <th width="20%">
                    Descripción
                </th>
                <th width="10%">
                    Archivo
                </th>
                <th width="10%">
                    Palabras clave
                </th>
                @*<th width="5%">
                    Autor
                </th>*@
                <th width="5%">
                    Colección
                </th>
                <th width="15%">Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.nom_rec_educativo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.desc_rec_educativo)
                    </td>
                    <td>
                        <a href="@Html.DisplayFor(modelItem => item.archivo_rec_educativo)" target="_blank" title="Descargar...">
                           @Html.DisplayFor(modelItem => item.archivo_rec_educativo)
                        </a>
                    </td>
                    <td>
                         @Html.DisplayFor(modelItem => item.palabra_clave)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.autor_rec_educativo)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.tblColecciones.nom_coleccion)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.id_rec_educativo }) |
                        @*@Html.ActionLink("Ver", "Details", new { id = item.id_rec_educativo }) |/*@
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.id_rec_educativo })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @*<center>@Html.AtrasInvestic()</center>*@
</div>
@section Scripts{
    <script src="~/Scripts/DataTables-1.10.4/jquery.dataTables.js"></script>
    <script>
        $(function () {
            $("#btn_create").attr("href", "/Home/Chamilo?url=cr");            
            $("#btn_miscursos").attr("href", "/Home/Chamilo?url=mc");
            $("#btn_catcursos").attr("href", "/Home/Chamilo?url=cc");

            $("#btn_create").attr("target", "");
            $("#btn_miscursos").attr("target", "");
            $("#btn_catcursos").attr("target", "");

           
            $('#Tabla').dataTable({
                "sPaginationType": "full_numbers",
                "oLanguage": {
                    "sUrl": "../../Lang/es-CO.txt"
                }
            });
        });    
    </script>
}


