﻿@model SEG.Models.DataBase.evidencia
@using System.Data.Entity
@using System.Linq
@using SEG.Models.DataBase

@{
    var db = new Entities();    
}
@using (Ajax.BeginForm("Create", "evidencias",null, new AjaxOptions
            {//GetPacients is name of method in PacientController

                InsertionMode = InsertionMode.Replace,//target element(#pacientList) will be replacet
                UpdateTargetId = "Id_Actividad",
                LoadingElementId = "loader"// div with .gif loader - that is shown when data are loading


            }, new { enctype = "multipart/form-data" }))
            
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id_Evidencia)
        @Html.HiddenFor(model => model.Id_Contratista)
        @Html.HiddenFor(model => model.Id_Actividad)
        
        <h4>EVIDENCIAS</h4>


        <div class="form-group">
            <label class="control-label col-md-2">Evidencia</label>
            <div class="input-control file">
                <input id="Nombre_Evidencia" name="Nombre_Evidencia" type="file" />
                <button class="btn btn-file"></button>
            </div>
        </div>

        <div class="input-control textarea">
            <label class="control-label col-md-2">Descripción Evidencia</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Descripcion_Evidencia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descripcion_Evidencia, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Subir" class="btn large bg-darkBlue fg-white" />
            </div>
        </div>
    </div>
}
<div id="listaevidencias">
    @{
        var evidencias = db.evidencias.Where(x => x.Id_Actividad == Model.Id_Actividad).Include(p => p.AspNetUser).Include(p => p.actividade);
    }
    @Html.Partial("listaev", evidencias)

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


