﻿@model SEG.Models.DataBase.producto
@using System.Data.Entity
@using System.Linq
@using SEG.Models.DataBase

@{
    var db = new Entities();
    string msj = ViewBag.Message;
   
}   


@using (Ajax.BeginForm("Create", "produto", null, new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "Id_Actividad",
                LoadingElementId = "loader"


            }, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    
    <div class="form-horizontal">        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id_Producto)
        @Html.HiddenFor(model => model.Id_Contratista)
        @Html.HiddenFor(model => model.Id_Actividad)

        <h4>PRODUCTOS</h4>
       
        
        <div class="form-group">
            <label class="control-label col-md-2">Producto</label>
            <div class="input-control file">
                <input id="Nombre_Producto" name="Nombre_Producto" type="file" />
                <button class="btn btn-file"></button>
            </div>
        </div>


        <div class="input-control textarea">
            <label class="control-label col-md-2">Descripción Producto(s)</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Descripcion_Producto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descripcion_Producto, "", new { @class = "text-danger" })

            </div>
        </div>

      
                <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Subir" class="btn large bg-darkOrange fg-white" />
            </div>
        </div>
    </div>
}
<div id="listaproductos">
    @{
        var productos = db.productos.Where(x => x.Id_Actividad == Model.Id_Actividad).Include(p => p.AspNetUser).Include(p => p.actividade);
    }
 
    @Html.Partial("lista", productos)

</div>
@section Scripts {
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.min-1.11.1.js"></script>
    <script src="~/Scripts/metro-ui/metro.min.js"></script>
    @Styles.Render("~/Content/csswizard")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/wizard")
<script>
    AlertMessage('@msj');
</script>

    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.validate.date.js"></script>
  
}