﻿
@{
    ViewBag.Title = "DeleteNoPosible";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
}

<br /><br /><br /><br /><br /><br />

<div class="panel">
    <div class="panel-header" style="font-family:Chewy">
        <label>Eliminar categoría</label>
    </div>
    <div class="panel-content">
        <div>No es posible eliminar esta subcategoría porque contiene repositorios asociadas</div>
        <br /><br /><br />
        <a href="@Url.Action("Index")" class="button medium primary">Cancelar</a>
    </div>
</div>

