﻿@model IEnumerable<INI.Models.DataBase.SubCategoriaRepositorio>
@using INI.Models.DataBase
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
    var usu = User.Identity.Name;
    var rol = AspNetUsersRoles.IsUserInRole("Administrador", User.Identity.Name);
    if (!rol) { rol = AspNetUsersRoles.IsUserInRole("Administrator", User.Identity.Name); }
}
                      <div id="ruta_miga">
                          <table>
                              <tr>
                                  <td rowspan="2">
                                      <ul id="img_fijos">
                                          <li>
                                              @*<a href="~/Repositorios">*@
                                              <a href="javascript:history.back(1)">
                                                  <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                                              </a>
                                          </li>
                                      </ul>
                                  </td>
                                  <td>
                                      <ul>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                                          </li>
                                      </ul>

                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <ul id="img_variables">
                                          <li>
                                              <a href="~/Home">
                                                  <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              @if (rol == true)
                                                    {
                                                        <a href="~/Noticias">
                                                            <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a href="~/Admin/Editor?nombreu=@usu">
                                                            <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                                                        </a>
                                                    }
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              <a href="~/Repositorios">
                                                  <img src="~/images/botones_ruta_migas/editor/btn_rep_dig_a.png" title="Repositorios" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/editor/btn_sub_categorias.png" />
                                          </li>
                                      </ul>
                                  </td>
                              </tr>
                          </table>
                      </div>
                      <br /><br /><br /><br /><br /><br />
<a id="btn_repository" class="button large bg-green" style="cursor:pointer" href="/Repositorios">Gestionar Repositorios</a>
<a id="btn_categoria" class="button large bg-green" style="cursor:pointer" href="/CategoriaRepositorios">Gestionar Categorías</a>
<h2 style="font-family:Chewy">Subcategoría Repositorio</h2>



<p>
    <a href="@Url.Action("Create", "SubCategoriaRepositorios")" id="btn_newsubcategory" class="button large bg-green"><strong> Nueva Subcategoría</strong></a>        
</p>

<table class="table" id="tbl_subcategoria">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                Categoría
            </th>
            <th>
                @Html.DisplayNameFor(model => model.urlimg)
            </th>
            
            <th></th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoriaRepositorio.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.urlimg)
                </td>               
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                    @*@Html.ActionLink("Detalles", "Details", new { id = item.id }) |*@
                    @*@Html.ActionLink("Eliminar", "Delete", new { id = item.id })*@
                    <a href="#" onclick="javascript:DeleteSubCategoria(@item.id)" title="Eliminar">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>

</table>

@section scripts{
    <script>
        $(function () {

            $('#tbl_subcategoria').dataTable({
                "sPaginationType": "full_numbers",
                "oLanguage": {
                    "sUrl": "../../Lang/es-CO.txt"
                }
            });
        });
        
        function ConfirmDelete(id) {
            window.location = "@Url.Action("Delete", "SubCategoriaRepositorios")/" + id;
        }
        function DeleteSubCategoria(id) {

            $.getJSON("@Url.Action("DeleteIsPosible", "SubCategoriaRepositorios")/"+id,function(data){
                if (data.rta == "Ok") {
                    $.Dialog({
                        overlay: true,
                        shadow: true,
                        flat: true,
                        icon: '<span class="icon-remove"></span>',
                        title: 'Confirmación',
                        width: 400,
                        content: '',
                        onShow: function (_dialog) {
                            var content =
                                '<div class="confirmbox">' +
                                '<p>Está seguro que desea eliminar la subcategoría</p>' +
                                '<button class="button primary" onclick="javascript:ConfirmDelete(' + id +
                                ');">Continuar</button> ' +
                                '<button class="button" type="button" onclick="$.Dialog.close()">Cancelar</button> ' +
                                '</div>';
                            $.Dialog.content(content);
                        }
                    });
                }
                else if (data.rta == "Bad") {
                    $.Dialog({
                        overlay: true,
                        shadow: true,
                        flat: true,
                        icon: '<span class="icon-remove"></span>',
                        title: 'Confirmación',
                        width: 400,
                        content: '',
                        onShow: function (_dialog) {
                            var content =
                                '<div class="confirmbox">' +
                                '<p>No se puede eliminar la subcategoría porque contiene repositorios asociados</p>' +
                                '<button class="button" type="button" onclick="$.Dialog.close()">Cancelar</button> ' +
                                '</div>';
                            $.Dialog.content(content);
                        }
                    });
                }
            });
        }
    </script>
}
<div style="display:none;">
    <div id="newsubcategory">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Nueva Subcategoría</strong></b><br /><br />
        Para crear una subcategoría de clic aquí.
    </div>
</div>

