﻿@model SEG.Models.DataBase.responsabilidade

@{
    ViewBag.Title = "Create";
}

<h2>Responsabilidades</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            
            <div class="col-md-10">
                @Html.DropDownList("Id_Contratista", null, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.Id_Contratista, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="input-control textarea">
            <label class="control-label col-md-2">Descripcion</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Descripcion, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Descripcion, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ingresar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}