﻿@model SEG.Models.DataBase.responsabilidade

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Responsabilidades</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new {id = Model.Id}) |
    @Html.ActionLink("Regresar", "Index")
</p>