﻿@model SEG.Models.DataBase.responsabilidade

@{
    ViewBag.Title = "Edit";
}

<h2>Editar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>responsabilidade</h4>
        <hr />
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Id_Contratista, "Id_Contratista", new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownList("Id_Contratista", null, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.Id_Contratista, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descripcion, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Descripcion, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}