﻿@using SEG.Models.DataBase
@model IEnumerable<SEG.Models.DataBase.responsabilidade>

@{
    ViewBag.Title = "Index";
}

<h2>Responsabilidades</h2>

<p>
    @Html.ActionLink("Ingresar Nueva Responsabilidad", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.UserName)
        </th>
        <th></th>
    </tr>

    @foreach (responsabilidade item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.UserName)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {id = item.Id}) |
                @Html.ActionLink("Detalles", "Details", new {id = item.Id}) |
                @Html.ActionLink("Borrar", "Delete", new {id = item.Id})
            </td>
        </tr>
    }

</table>