﻿@model INI.Models.DataBase.tblNoticias
@using INI.Models.DataBase
@{
    ViewBag.Title = "Crear Noticia";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
    var usu = User.Identity.Name;
    var rol = AspNetUsersRoles.IsUserInRole("Administrador", User.Identity.Name);
    if (!rol) { rol = AspNetUsersRoles.IsUserInRole("Administrator", User.Identity.Name); }
}
<style>
    .myrow {
        margin-top: 2px !important;
        margin-left: 20px;
    }
</style>
<style>
    .inputClass input {
        width: 100%;
    }
</style>
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/Noticias">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/Noticias">
                                <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                            </a>
                        }
                        else
                        {
                            <a href="~/Admin/Editor?nombreu=@usu">
                                <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                            </a>
                        }
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Noticias">
                            <img src="~/images/botones_ruta_migas/editor/btn_noticia_a.png" title="Noticias" />
                        </a>
                   </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_crear.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br /><br /><br />


@using (Html.BeginForm("Create", "Noticias", FormMethod.Post, new { enctype = "multipart/form-data" , id="frm_not"}))
{
    @Html.AntiForgeryToken()
    <div class="panel">
        <div class="panel-header" style="font-family:Chewy">            
                Crear Noticia            
        </div>
        @Html.ValidationSummary(true)
        <div class="panel-content">
            <div class="grid">
                <div class="row myrow">
                    <div class="span2">
                        <label id="lb_titularnew" style="cursor:pointer"><strong>Titular</strong><span style="color:red;">*</span></label>
                    </div>
                    <div class="span10">
                        <div id="box_titularnew" class="input-control text size10">
                            @Html.EditorFor(model => model.not_titulo, new { htmlAttributes = new { @placeholder = "Titular de la noticia" } })
                            @Html.ValidationMessageFor(model => model.not_titulo, String.Empty, new { @style = "color:red;!important" })
                        </div>
                    </div>
                </div>
                <div class="row myrow">
                    <div class="span2">
                        <div style="margin: auto; width: auto;">
                            <label id="lb_descripnew"> <strong>Descripción</strong><span style="color:red;">*</span></label>
                        </div>
                    </div>
                    <div class="span10">
                        <div id="box_descripnew" class="editor-field">
                            <div class="input-control text size10">
                                @Html.EditorFor(model => model.not_descripcion, new { htmlAttributes = new { @placeholder = "Descripción de la noticia" } })
                                @Html.ValidationMessageFor(model => model.not_descripcion, String.Empty, new { @style = "color:red;!important" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row myrow">
                    <div class="span2">
                        <div style="margin: auto; width: auto;">
                            <label id="lb_imgnew"><strong>Imagen</strong><span style="color:red;">*</span></label>
                        </div>
                    </div>
                    <div class="span10">
                        <div id="box_imgnew">
                            <div class="input-control file">
                                <input id="not_urlimage" name="not_urlimage" type="file" maxlength="500" data-transform="input-control" required message="Usted no seleccionó el archivo [image/jpeg,png,jpg]." accept="image/png, image/jpeg, image/jpg" z-index="99" size="500" title="Usted no seleccionó un archivo con extensiones png/jpeg/jpg"/>
                                <button class="btn btn-file"></button>
                            </div>
                            @Html.ValidationMessageFor(model => model.not_urlimage, String.Empty, new { @style = "color:red;!important" })
                            <span id="lbl_not_urlimage" style="color:red;display:none">Solo se permiten imágenes con extensiones .jpg, .png .jpeg</span>
                            <span id="lbl_newsize" style="color:red;display:none" class="text-danger">Solo se admiten imágenes con tamaño inferior o igual a 3Mb</span>
                        </div>
                    </div>
                </div>
                <div class="row myrow">
                    <div class="span2">
                        <div style="margin: auto; width: auto;">
                            <label id="lb_audionew"><strong>Audio</strong></label>
                        </div>
                    </div>
                    <div class="span10">
                        <div id="box_audionew">
                            <div class="input-control file">
                                <input id="not_urlpotcast" name="not_urlpotcast" type="file" maxlength="1000" data-transform="input-control" accept="Audio/mp3, Audio/wma, Audio/wav" z-index="99" size="500" />
                                <button class="btn btn-file"></button>
                            </div>
                            @*@Html.ValidationMessageFor(model => model.not_urlpotcast, String.Empty, new { @style = "color:red;!important" })*@
                            <span id="lbl_not_urlpotcast" style="color:red;display:none">Solo se permiten audios con extensiones .mp3, .wma, .wav</span>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row myrow">
                    <div class="span2">
                        <div style="margin: auto; width: auto;">
                            <label id="lb_contetnnew"><strong>Contenido</strong><span style="color:red;">*</span></label>
                        </div>
                    </div>
                    <div class="span10">
                        @*<div style="max-width:600pt;max-height:100pt;overflow-y:auto;overflow-x:hidden;">*@
                        <div id="box_contetnnew" class="editor-field">
                            @Html.EditorFor(model => model.not_contenido)
                        </div>
                    </div>
                </div>
                <div class="row myrow">
                    <div class="span2">
                    </div>
                    <div class="span10">
                        @Html.ValidationMessageFor(model => model.not_contenido, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>
                <br />
                <div class="row myrow">
                    <div class="span2">
                        <div style="margin: auto; width: auto;">
                            <label id="lb_photonew"><strong>Pie de foto</strong><span style="color:red;">*</span></label>
                        </div>
                    </div>
                    <div class="span10">
                        <div id="box_photonew" class="input-control text size10">
                            @Html.EditorFor(model => model.not_piedefoto, new { htmlAttributes = new { @placeholder = "Pie de foto de la noticia" } })
                            @Html.ValidationMessageFor(model => model.not_piedefoto, String.Empty, new { @style = "color:red;!important" })
                        </div>
                    </div>
                </div>
                <div class="row myrow">
                    <div class="span2">
                        <div style="margin: auto; width: auto;">
                            <label id="lb_datenew"><strong>Fecha de la noticia</strong><span style="color:red;">*</span></label>
                        </div>
                    </div>
                    <div class="span10">
                        <div id="box_datenew" class="input-control text size10">
                            <div class="input-control text" data-role="datepicker" data-position="top" data-format="yyyy-mm-dd" data-effect="fade">
                                <input type="text" id="not_fecha" name="not_fecha" readonly="readonly">
                                <a href="#" class="btn-date"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row myrow">
                    <div class="span2">
                    </div>
                    <div class="span10">
                        @Html.ValidationMessageFor(model => model.not_fecha, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>
                <div class="row myrow">
                    <div class="span2">
                        <div style="margin: auto; width: auto;">
                            <label id="lb_autornew"><strong>Autor</strong><span style="color:red;">*</span></label>
                        </div>
                    </div>
                    <div class="span10">
                        <div id="box_autornew" class="input-control text size10">
                            @Html.EditorFor(model => model.not_autor, new { htmlAttributes = new { @placeholder = "Autor de la noticia" } })
                            @Html.ValidationMessageFor(model => model.not_autor, String.Empty, new { @style = "color:red;!important" })
                        </div>
                    </div>
                </div>
                <div class="row myrow">
                    <div class="span2">
                        <label><strong>Activo:</strong></label>
                    </div>
                    <div class="span10">
                        <input type="checkbox" checked="checked" disabled="disabled" id="chkestaActivo" />
                        <input type="hidden" id="estaActivo" name="estaActivo" value="true" />
                        @Html.ValidationMessageFor(model => model.estaActivo)
                    </div>
                </div>
                <br />
                <div class="row myrow">
                    <div class="span2">
                        <input type="submit" value="Guardar" class="button medium primary" />
                    </div>
                    <div class="span10">
                        <a href="@Url.Action("Index")" class="button medium primary">Regresar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div style="display:none;">
    <div id="Titularnew">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es el titular?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar un titular.
    </div>
</div>
<div style="display:none;">
    <div id="Descripcionnew">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es la descripción?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar una descripción.
    </div>
</div>
<div style="display:none;">
    <div id="Imagennew">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es la imagen?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar una imagen.
    </div>
</div>
<div style="display:none;">
    <div id="Audionew">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es el audio?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar un audio.
    </div>
</div>
<div style="display:none;">
    <div id="Contenidonew">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es el contenido?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar un contenido.
    </div>
</div>
<div style="display:none;">
    <div id="PiedeFotonew">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es el pie de foto?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar un pie de foto.
    </div>
</div>

<div style="display:none;">
    <div id="Fechanew">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es la fecha de la noticia?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar la fecha de la noticia.
    </div>
</div>
<div style="display:none;">
    <div id="Autornew">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Quién es el autor?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar un autor.
    </div>
</div>
<div style="display:none;">
    <div id="boxTitularnew">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es el titular?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar un titular.
    </div>
</div>
<div style="display:none;">
    <div id="boxDescripcionnew">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es la descripción?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar una descripción.
    </div>
</div>
<div style="display:none;">
    <div id="boxImagennew">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es la imagen?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar una imagen.
    </div>
</div>
<div style="display:none;">
    <div id="boxAudionew">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es el audio?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar un audio.
    </div>
</div>
<div style="display:none;">
    <div id="boxContenidonew">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es el contenido?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar un contenido.
    </div>
</div>
<div style="display:none;">
    <div id="boxPiedeFotonew">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es el pie de foto?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar un pie de foto.
    </div>
</div>

<div style="display:none;">
    <div id="boxFechanew">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es la fecha de la noticia?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar la fecha de la noticia.
    </div>
</div>
<div style="display:none;">
    <div id="boxAutornew">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Quién es el autor?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar un autor.
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $("#lbl_not_urlimage").hide();
            $("#lbl_not_urlpotcast").hide();
            $("#frm_not").submit(function (e) {

                var filesize = this.not_urlimage.files[0].size / 1024;
                var count_errors = 0;
                
                var img = this.not_urlimage.value;
                if (img.match("^.*\.(jpg|JPG|png|PNG|jpeg|JPEG)$")) {
                    $("#lbl_not_urlimage").hide();
                    console.log("Validado");                    
                }
                else {
                    $("#lbl_not_urlimage").show();
                    count_errors++;
                }

                if (filesize <= 3000) {
                    $("#lbl_newsize").hide();
                }
                else {
                    $("#lbl_newsize").show();
                    count_errors++;
                }

                var aud = this.not_urlpotcast.value;
                if (aud == "" || aud == null || aud.match("^.*\.(mp3|MP3|wma|WMA|wav|WAV)$")) {
                    $("#lbl_not_urlpotcast").hide();
                    console.log("Validado");
                }
                else {
                    $("#lbl_not_urlpotcast").show();
                    count_errors++;
                }
                if (count_errors > 0) {
                    return false;
                }
            });
        });
    </script>

}
