﻿@model INI.Models.DataBase.tblNoticias
@using INI.Models.DataBase
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
    var usu = User.Identity.Name;
    var rol = AspNetUsersRoles.IsUserInRole("Administrador", User.Identity.Name);
    if (!rol) { rol = AspNetUsersRoles.IsUserInRole("Administrator", User.Identity.Name); }
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/Noticias">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                            {
                                <a href="~/Noticias">
                                    <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                                </a>
                            }
                            else
                            {
                                <a href="~/Admin/Editor?nombreu=@usu">
                                    <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                                </a>
                            }
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Noticias">
                            <img src="~/images/botones_ruta_migas/editor/btn_noticia_a.png" title="Noticias" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_eliminar.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br /><br /><br />
<style>
    .myrow {
        margin-top: 2px !important;
        margin-left: 20px;
    }
</style>

<h3>¿Está seguro de eliminar esta noticia?</h3>

<div class="panel">
    <div class="panel-header" style="font-family:Chewy">
        Eliminar noticia
    </div>
    <div class="panel-content">
        <div class="grid">
            <div class="row myrow">
                <div class="span2">
                    Titular:
                </div>
                <div class="span10">
                    @Html.DisplayFor(model => model.not_titulo)
                </div>
            </div>
            <div class="row myrow">
                <div class="span2">
                    Descripción:
                </div>
                <div class="span10">
                    @Html.DisplayFor(model => model.not_descripcion)
                </div>
            </div>
            <div class="row myrow">
                <div class="span2">
                    Imagen:
                </div>
                <div class="span10">
                    @Html.DisplayFor(model => model.not_urlimage)
                    @if (!Model.not_urlpotcast.IsEmpty())
                    {
                        @Html.DisplayFor(model => model.not_urlpotcast)
                    }
                </div>
            </div>
            <div class="row myrow">
                <div class="span2">
                    Contenido:
                </div>
                <div class="span10">
                    @*@Html.DisplayFor(model => model.not_contenido)*@
                    @Html.Raw(Model.not_contenido)
                </div>
            </div>
            <div class="row myrow">
                <div class="span2">
                    Pie de Foto:
                </div>
                <div class="span10">
                    @Html.DisplayFor(model => model.not_piedefoto)
                </div>
            </div>
            <div class="row myrow">
                <div class="span2">
                    Fecha:
                </div>
                <div class="span10">
                    @Html.DisplayFor(model => model.not_fecha)
                </div>
            </div>
            <div class="row myrow">
                <div class="span2">
                    Autor:
                </div>
                <div class="span10">
                    @Html.DisplayFor(model => model.not_autor)
                </div>
            </div>
            <br />
            <div class="row myrow">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Eliminar" class="button meduim-size primary" />   
                        <a href="@Url.Action("Index")" class="button medium primary">Regresar</a>                    
                    </div>
                }
            </div>
        </div>
    </div>
</div>


           

   

