﻿@model INI.Models.DataBase.tblNoticias
@using INI.Models.DataBase
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
    var usu = User.Identity.Name;
    var rol = AspNetUsersRoles.IsUserInRole("Administrador", User.Identity.Name);
    if (!rol) { rol = AspNetUsersRoles.IsUserInRole("Administrator", User.Identity.Name); }
}
<style>
    .myrow {
        margin-top: 2px !important;
        margin-left: 20px;
    }
</style>
<style>
    .inputClass input {
        width: 100%;
    }
</style>
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/Noticias">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/Noticias">
                                <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                            </a>
                        }
                        else
                        {
                            <a href="~/Admin/Editor?nombreu=@usu">
                                <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                            </a>
                        }
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Noticias">
                            <img src="~/images/botones_ruta_migas/editor/btn_noticia_a.png" title="Noticias" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_editar.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br /><br /><br />

@using (Html.BeginForm("Edit", "Noticias", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm_not" }))
{
    @Html.AntiForgeryToken()
<div class="panel">
    <div class="panel-header" style="font-family:Chewy">
        Editar Noticia
    </div>   
       
    <div class="panel-content">
        <div class="grid">
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Noticia_ID)
            @Html.HiddenFor(model => model.not_urlimage)
            @Html.HiddenFor(model => model.not_urlpotcast)
            <div class="row myrow">
                <div class="span2">
                    <label id="ed_Titularnew">Titular<span style="color:red;">*</span></label>
                </div>
                <div class="span10">
                    <div id="ed_boxTitularnew" class="input-control text size8">
                        @Html.EditorFor(model => model.not_titulo)
                        @Html.ValidationMessageFor(model => model.not_titulo, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>
            </div>
            <div class="row myrow">
                <div class="span2">
                    <label id="ed_Descripcionnew">Descripción<span style="color:red;">*</span></label>
                </div>
                <div class="span10">
                    <div id="ed_boxDescripcionnew" class="input-control text size8">
                        @Html.EditorFor(model => model.not_descripcion)
                        @Html.ValidationMessageFor(model => model.not_descripcion, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>
            </div>
            <div class="row myrow">
                <div class="span2">
                    <label id="ed_Imagennew">¿Desea actualizar esta imagen?</label>
                </div>
                <div class="span2" style="text-align:center">
                    <a style="font-size:25px" href="@Model.not_urlimage" target="_blank"><img src="@Model.not_urlimage" style="width:60%" /></a>
                </div>
                <div class="span8">
                    <div class="input-control radio">
                        <label>
                            <input type="radio" id="rd_yes" name="rd_noturlimage" />
                            <span class="check"></span>
                            Sí
                        </label>
                    </div>

                    <div class="input-control radio">
                        <label>
                            <input type="radio" id="rd_no" name="rd_noturlimage" checked />
                            <span class="check"></span>
                            No
                        </label>
                    </div>
                </div>
            </div>
            <div class="row myrow" id="box_urlimage" style="display:none">
                <div class="span2">
                    <label id="ed_boxImagennew">Imagen<span style="color:red;">*</span></label>
                </div>
                <div class="span10">                    
                        <div id="ed2_boxImagennew" class="input-control file">
                            <input id="not_urlimagefile" name="not_urlimagefile" type="file" maxlength="500" />
                            <button class="btn btn-file"></button>                            
                        </div>
                        @Html.ValidationMessageFor(model => model.not_urlimage, String.Empty, new { @style = "color:red;!important" })
                        <label id="lbl_not_urlimage" style="color:red;display:none">Solo se permiten imágenes con extensiones .jpg, .png</label> 
                        <span id="lbl_ednewsize" style="color:red;display:none" class="text-danger">Solo se admiten imágenes con tamaño inferior o igual a 3Mb</span>                  
                </div>
            </div>
            @if (Model.not_urlpotcast != null)
            {
                <div class="row myrow">
                    <div class="span2">
                        <label id="ed_Audionew">¿Desea actualizar el audio?</label>
                    </div>
                    <div class="span4" style="text-align:center">
                        <audio src="@Model.not_urlpotcast" preload="auto" controls></audio>
                        @*<a class="icon-download" style="font-size:25px" href="@Model.not_urlpotcast" target="_blank"></a>*@
                    </div>
                    <div class="span6">
                        <div class="input-control radio">
                            <label>
                                <input type="radio" id="rda_yes" name="rd_noturlpotcast" />
                                <span class="check"></span>
                                Sí
                            </label>
                        </div>

                        <div class="input-control radio">
                            <label>
                                <input type="radio" id="rda_no" name="rd_noturlpotcast" checked />
                                <span class="check"></span>
                                No
                            </label>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row myrow">
                    <div class="span2">
                        <label id="ed_Audionew">¿Desea subir un audio?</label>
                    </div>
                    <div class="span10">
                        <div class="input-control radio">
                            <label>
                                <input type="radio" id="rda_yes" name="rd_noturlpotcast" />
                                <span class="check"></span>
                                Sí
                            </label>
                        </div>

                        <div class="input-control radio">
                            <label>
                                <input type="radio" id="rda_no" name="rd_noturlpotcast" checked />
                                <span class="check"></span>
                                No
                            </label>
                        </div>
                    </div>
                </div>
            }
            <div class="row myrow" id="box_urlpotcaste" style="display:none">
                <div class="span2">
                    <label id="ed_boxAudionew">Audio</label>
                </div>
                <div class="span10">
                    <div id="ed2_boxAudionew" class="input-control text size8">
                        <div class="input-control file">
                            <input id="not_urlpotcastfile" name="not_urlpotcastfile" type="file" />
                            <button class="btn btn-file"></button>
                        </div>
                        <label id="lbl_not_urlpotcast" style="color:red;display:none">Solo se permiten audios con extensiones .mp3, .wma, .wav</label>
                    </div>
                </div>
            </div>
            <br />
            <div class="row myrow">
                <div class="span2">
                    <label id="lb_contetnnew">Contenido:<span style="color:red;">*</span></label>
                </div>
                <div class="span10">
                    <div id="box_contetnnew" class="editor-field">
                        @*@Html.EditorFor(Json.Encode(model => model.not_contenido))*@
                        @*@Html.EditorFor(model => model.not_contenido, new { @AllowHtml = true, @UIHint = "tinymce_full_compressed" })*@

                        @Html.EditorFor(model => model.not_contenido)                        
                        @*@Html.TextArea(Server.HtmlDecode(Model.not_contenido)))*@
                        @*@Html.ValidationMessageFor(model => model.not_contenido)tinymce.3.4.5/css/content.css Failed to load resource: the server responded with a status of 404 (Not Found)*@
                    </div>
                </div>
            </div>
            <br />
            <div class="row myrow">
                <div class="span2">
                </div>
                <div class="span10">
                    @Html.ValidationMessageFor(model => model.not_contenido, String.Empty, new { @style = "color:red;!important" })
                </div>
            </div>
            <div class="row myrow">
                <div class="span2">
                    <label id="ed_PiedeFotonew">Pie de Foto<span style="color:red;">*</span></label>
                </div>
                <div class="span10">
                    <div id="ed_boxPiedeFotonew" class="input-control text size6">
                        @Html.EditorFor(model => model.not_piedefoto)
                        @Html.ValidationMessageFor(model => model.not_piedefoto, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>
            </div>
            <div class="row myrow">
                <div class="span2">
                    <label id="ed_Fechanew"> Fecha de la Noticia<span style="color:red;">*</span></label>
                </div>
                <div class="span10">
                    @{
                        var myDate = String.Format("{0}-{1}-{2}", Html.DisplayFor(model => model.not_fecha.Year), Html.DisplayFor(model => model.not_fecha.Month), Html.DisplayFor(model => model.not_fecha.Day));
                    }
                    <div id="ed_boxFechanew" class="input-control text size6">
                        <div class="input-control text" data-role="datepicker" data-position="top" data-date="@myDate" data-format=" yyyy-mm-dd" data-effect="fade">
                            <input type="text" id="not_fecha" name="not_fecha" readonly="readonly">
                            <a href="#" class="btn-date"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row myrow">
                <div class="span2">
                    <label id="ed_Autornew">Autor<span style="color:red;">*</span></label>
                </div>
                <div class="span10">
                    <div id="ed_boxAutornew" class="input-control text size6">
                        @Html.EditorFor(model => model.not_autor)
                        @Html.ValidationMessageFor(model => model.not_autor, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>
            </div>
            <div class="row myrow">
                <div class="span2">
                    <label>Esta Activo:</label>
                </div>
                <div class="span10">
                    @if (!Model.estaActivo.HasValue || !Model.estaActivo.Value)
                {
                        <input type="checkbox" id="chk_estaActivo" />
                    }
                    else
                    {
                        <input type="checkbox" id="chk_estaActivo" checked />
                    }
                    @Html.HiddenFor(model => model.estaActivo)
                    @*<input type="hidden" id="estaActivo" name="estaActivo" value="@Model.estaActivo.Value" />*@
                    @Html.ValidationMessageFor(model => model.estaActivo)
                </div>
            </div>
            <br />
            <div class="row myrow">
                <div class="span2">
                    <input type="submit" value="Guardar" class="button medium primary" />
                </div>
                <div class="span10">
                    <a href="@Url.Action("Index")" class="button medium primary">Regresar</a>
                </div>
            </div>
        </div>
    </div>
</div>
}

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")

        <script>
            $(function () {
                $("#chk_estaActivo").click(function () {
                    console.log("hola");
                    var val = $("#chk_estaActivo").prop("checked");
                    console.log(val);
                    $("#estaActivo").val(val);
                })

                $("#rd_yes").click(function () {
                    $("#box_urlimage").show();
                });
                $("#rd_no").click(function () {
                    $("#not_urlimagefile").val("");
                    $("#not_urlimagefile").next().val("")
                    $("#box_urlimage").hide();
                });

                $("#rda_yes").click(function () {                    
                    $("#box_urlpotcaste").show();
                });
                $("#rda_no").click(function () {
                    $("#not_urlpotcastfile").val("");
                    $("#not_urlpotcastfile").next().val("")
                    $("#box_urlpotcaste").hide();
                });

                $("#lbl_not_urlimage").hide();
                $("#lbl_not_urlpotcast").hide();
                $("#frm_not").submit(function (e) {

                    var filesize = this.not_urlimagefile.files[0].size / 1024;
                    var count_errors = 0;
                    var img = this.not_urlimagefile.value;
                    if (img == "" || img == null || img.match("^.*\.(jpg|JPG|png|PNG)$")) {
                        $("#lbl_not_urlimage").hide();
                        console.log("Validado");
                    }
                    else {
                        $("#lbl_not_urlimage").show();
                        count_errors++;
                    }
                    if (filesize <= 3000) {
                        $("#lbl_ednewsize").hide();
                    }
                    else {
                        $("#lbl_ednewsize").show();
                        count_errors++;
                    }

                    var aud = this.not_urlpotcastfile.value;
                    if (aud == "" || aud == null || aud.match("^.*\.(mp3|MP3|wma|WMA|wav|WAV)$")) {
                        $("#lbl_not_urlpotcast").hide();
                        console.log("Validado");
                    }
                    else {
                        $("#lbl_not_urlpotcast").show();
                        count_errors++;
                    }
                    if (count_errors > 0) {
                        return false;
                    }
                });

            });

            $('#ed_Titularnew').webuiPopover({ url: '#edTitularnew', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
            $('#ed_boxTitularnew').webuiPopover({ url: '#edboxTitularnew', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
            $('#ed_Descripcionnew').webuiPopover({ url: '#edDescripcionnew', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
            $('#ed_boxDescripcionnew').webuiPopover({ url: '#edboxDescripcionnew', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
            $('#ed_Imagennew').webuiPopover({ url: '#edImagennew', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
            $('#ed_boxImagennew').webuiPopover({ url: '#edboxImagennew', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
            $('#ed2_boxImagennew').webuiPopover({ url: '#ed2boxImagennew', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
            $('#ed_Audionew').webuiPopover({ url: '#edAudionew', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
            $('#ed_boxAudionew').webuiPopover({ url: '#edboxAudionew', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
            $('#ed2_boxAudionew').webuiPopover({ url: '#ed2boxAudionew', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
            $('#lb_contetnnew').webuiPopover({ url: '#edContenidonew', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
            $('#box_contetnnew').webuiPopover({ url: '#edboxcontetnnew', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
            $('#ed_PiedeFotonew').webuiPopover({ url: '#edPiedeFotonew', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
            $('#ed_boxPiedeFotonew').webuiPopover({ url: '#edboxPiedeFotonew', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
            $('#ed_Fechanew').webuiPopover({ url: '#edFechanew', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
            $('#ed_boxFechanew').webuiPopover({ url: '#edboxFechanew', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
            $('#ed_Autornew').webuiPopover({ url: '#edAutornew', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
            $('#ed_boxAutornew').webuiPopover({ url: '#edboxAutornew', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        </script>
    }

<div style="display:none;">
    <div id="edboxTitularnew">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea actualizar el titular?</strong></b><br /><br />
        Aquí puedes editar el titular. Este campo es obligatorio.
    </div>
</div>
<div style="display:none;">
    <div id="edboxDescripcionnew">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea actualizar la descripción?</strong></b><br /><br />
        Aquí puedes editar la descripción. Este campo es obligatorio. 
    </div>
</div>
<div style="display:none;">
    <div id="edboxImagennew">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Actualizar la imagen</strong></b><br /><br />
        Aquí puedes ingresar una nueva imagen. Este campo es obligatorio.
    </div>
</div>
<div style="display:none;">
    <div id="ed2boxImagennew">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Actualizar la imagen</strong></b><br /><br />
        Aquí puedes ingresar una nueva imagen. Este campo es obligatorio.
    </div>
</div>
<div style="display:none;">
    <div id="edboxAudionew">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Subir audio</strong></b><br /><br />
        Aquí debes ingresar un audio.
    </div>
</div>
<div style="display:none;">
    <div id="ed2boxAudionew">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Subir audio</strong></b><br /><br />
        Aquí debes ingresar un audio.
    </div>
</div>
<div style="display:none;">
    <div id="edboxcontetnnew">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea actualizar el contenido?</strong></b><br /><br />
        Aquí puedes editar el contenido. Este campo es obligatorio. 
    </div>
</div>
<div style="display:none;">
    <div id="edboxPiedeFotonew">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea actualizar el pie de foto?</strong></b><br /><br />
        Aquí puedes editar el pie de foto. Este campo es obligatorio.
    </div>
</div>

<div style="display:none;">
    <div id="edboxFechanew">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea cambiar la fecha de la noticia?</strong></b><br /><br />
        Aquí puedes escoger otra fecha para la noticia. Este campo es obligatorio. 
    </div>
</div>
<div style="display:none;">
    <div id="edboxAutornew">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea actualizar el autor?</strong></b><br /><br />
        Aquí puedes editar el autor. Este campo es obligatorio.
    </div>
</div>

<div style="display:none;">
    <div id="edTitularnew">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea actualizar el titular?</strong></b><br /><br />
        Aquí puedes editar el titular. Este campo es obligatorio.
    </div>
</div>
<div style="display:none;">
    <div id="edDescripcionnew">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea actualizar la descripción?</strong></b><br /><br />
        Aquí puedes editar la descripción. Este campo es obligatorio.
    </div>
</div>
<div style="display:none;">
    <div id="edImagennew">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Actualizar la imagen</strong></b><br /><br />
        Aquí puedes ingresar una nueva imagen. Este campo es obligatorio.
    </div>
</div>
<div style="display:none;">
    <div id="edAudionew">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Subir audio</strong></b><br /><br />
        Aquí debes ingresar un audio.
    </div>
</div>
<div style="display:none;">
    <div id="edContenidonew">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea actualizar el contenido?</strong></b><br /><br />
        Aquí puedes editar el contenido. Este campo es obligatorio. 
    </div>
</div>
<div style="display:none;">
    <div id="edPiedeFotonew">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea actualizar el pie de foto?</strong></b><br /><br />
        Aquí puedes editar el pie de foto. Este campo es obligatorio.
    </div>
</div>

<div style="display:none;">
    <div id="edFechanew">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea cambiar la fecha de la noticia?</strong></b><br /><br />
        Aquí puedes escoger otra fecha para la noticia. Este campo es obligatorio.
    </div>
</div>
<div style="display:none;">
    <div id="edAutornew">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea actualizar el autor?</strong></b><br /><br />
        Aquí puedes editar el autor. Este campo es obligatorio.
    </div>
</div>