﻿@model IEnumerable<INI.Models.DataBase.tblNoticias>
@using INI.Models.DataBase
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
    var usu = User.Identity.Name;
    var rol = AspNetUsersRoles.IsUserInRole("Administrador", User.Identity.Name);
    if (!rol) { rol = AspNetUsersRoles.IsUserInRole("Administrator", User.Identity.Name); }
}
                      <div id="ruta_miga">
                          <table>
                              <tr>
                                  <td rowspan="2">
                                      <ul id="img_fijos">
                                          <li>
                                            @if (rol == true)
                                            {
                                                @*<a href="~/Noticias">*@
                                                <a href="javascript:history.back(1)">
                                                      <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                                                </a>
                                            }
                                            else
                                            {
                                                @*<a href="~/Admin/Editor?nombreu=@usu">*@
                                                <a href="javascript:history.back(1)">
                                                    <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                                                </a>
                                            }
                                          </li>
                                      </ul>
                                  </td>
                                  <td>
                                      <ul>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                                          </li>
                                      </ul>

                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <ul id="img_variables">
                                          <li>
                                              <a href="~/Home">
                                                  <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                            @if (rol == true)
                                            {
                                              <a href="~/Noticias">
                                                  <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                                              </a>
                                            }
                                            else
                                            {
                                                <a href="~/Admin/Editor?nombreu=@usu">
                                                    <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                                                </a>
                                            }
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/editor/btn_noticias.png" title="Noticias" />
                                          </li>
                                      </ul>
                                  </td>
                              </tr>
                          </table>
                      </div>
<br /><br /><br /><br /><br /><br />
   
    <h3>
        <a href="/Noticias/Create" class="button large bg-green">Nueva Noticia</a>
    </h3>
    <table id="tbl_noticias" class="table striped hover" style="width:100%">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Titular</th>
                <th>Descripción</th>
                <th>Autor</th>
                <th>Está activo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.not_fecha</td>
                    <td>@item.not_titulo</td>
                    <td>@item.not_descripcion</td>
                    <td>@item.not_autor</td>
                    <td>
                        @if (!item.estaActivo.HasValue || !item.estaActivo.Value)
                        {
                            <input type="checkbox" disabled="disabled" />
                        }
                        else
                        {
                            <input type="checkbox" checked disabled="disabled" />
                            
                        }

                    </td>
                    <td>                        
                        @Html.ActionLink("Editar", "Edit", new { id = item.Noticia_ID }) | @Html.ActionLink("Eliminar", "Delete", new { id = item.Noticia_ID })
                    </td>
                </tr>
            }
        </tbody>
    </table>

@section Scripts{
    <script src="~/Scripts/DataTables-1.10.4/jquery.dataTables.js"></script>
    <script>
        $(function () {
            $('#tbl_noticias').dataTable({
                "sPaginationType": "full_numbers",
                "oLanguage": {
                    "sUrl": "../../Lang/es-CO.txt"
                }
            });

        });

    </script>

}
                      
                    

