﻿@model IEnumerable<INI.Models.DataBase.tblPropagacionGrupo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutGrupo.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Archivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblGrupoInvestigacion.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblTipoFeria.TipoFeria)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Archivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblGrupoInvestigacion.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblTipoFeria.TipoFeria)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
