﻿@model INI.Models.DataBase.tblActividadContratista

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_InvSeguimiento.cshtml";
}

<h2>Details</h2>

<div>
    <h4>actividade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Ini)

        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Ini)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Des_Actividad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Des_Actividad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Des_Observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Des_Observaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblResponsabContratista.Id_Contratista)

        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblResponsabContratista.Id_Contratista)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblAlternativas.Des_Alternativa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblAlternativas.Des_Alternativa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblEstadoTarea.Des_Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblEstadoTarea.Des_Estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Actividad }) |
    @Html.ActionLink("Back to List", "Index")
</p>
