﻿@model INI.Models.DataBase.tblColecciones

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>tblColecciones</h4>
    	<hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.nom_coleccion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.nom_coleccion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.desc_coleccion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.desc_coleccion)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id_coleccion }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
