﻿@model IEnumerable<SEG.Models.DataBase.producto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_Producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.actividade.Id_Contratista)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.actividade.Id_Contratista)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Producto }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Producto }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Producto })
        </td>
    </tr>
}

</table>
