﻿@model MAI.Models.DataBase.tblProyectosInvestigacion

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit", "MarcoReferenciaProy", FormMethod.Post, new { id = "MarcoReferenciaProy" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.tblMarcoReferenciaProy.tblMarcoReferenciaProy_ID)

    <div class="grid fluid">
        @*ESTRUCTURA MARCO TEORICO*@
        <div class="row">
            <div class="span2">
                <strong>Marco Teórico</strong>
            </div>
            <div class="span10 input-control textarea">
                @Html.TextAreaFor(m => m.tblMarcoReferenciaProy.marRefProy_marcoTeoricoProy)
                @Html.ValidationMessage("Agrege el marco teórico de la investigación")
            </div>
        </div>
        <div class="row">
            <div class="offset2">
                <div class="panel" data-role="panel">
                    <div class="panel-header bg-blue fg-white">
                        Apreciaciones
                    </div>
                    <div class="panel-content" style="display:none">
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Retroalimentación asesores Investic</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev.tblMarcoReferenciaProy_Rev.marRefProy_marcoTeoricoProy)
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Sugerencia Evaluador 1</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev1.tblMarcoReferenciaProy_Rev.marRefProy_marcoTeoricoProy)
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Sugerencia Evaluador 2</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev2.tblMarcoReferenciaProy_Rev.marRefProy_marcoTeoricoProy)
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Asesoría de Grupo Investigación Colciencias</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev3.tblMarcoReferenciaProy_Rev.marRefProy_marcoTeoricoProy)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*ESTRUCTURA MARCO DE ANTECEDENTES*@
        <div class="row">
            <div class="span2">
                <strong>Marco de Antecedentes</strong>
            </div>
            <div class="span10 input-control textarea">
                @Html.TextAreaFor(m => m.tblMarcoReferenciaProy.marRefProy_marcoAntecedentesProy)
                @Html.ValidationMessage("Agrege el marco de antecedentes de la investigación")
            </div>
        </div>
        <div class="row">
            <div class="offset2">
                <div class="panel" data-role="panel">
                    <div class="panel-header bg-blue fg-white">
                        Apreciaciones
                    </div>
                    <div class="panel-content" style="display:none">
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Retroalimentación asesores Investic</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev.tblMarcoReferenciaProy_Rev.marRefProy_marcoAntecedentesProy)
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Sugerencia Evaluador 1</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev1.tblMarcoReferenciaProy_Rev.marRefProy_marcoAntecedentesProy)
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Sugerencia Evaluador 2</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev2.tblMarcoReferenciaProy_Rev.marRefProy_marcoAntecedentesProy)
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Asesoría de Grupo Investigación Colciencias</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev3.tblMarcoReferenciaProy_Rev.marRefProy_marcoAntecedentesProy)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*ESTRUCTURA MARCO CONTEXTUAL*@
        <div class="row">
            <div class="span2">
                <strong>Marco Contextual</strong>
            </div>
            <div class="span10 input-control textarea">
                @Html.TextAreaFor(m => m.tblMarcoReferenciaProy.marRefProy_marcoConceptualProy)
                @Html.ValidationMessage("Agrege el marco contextual de la investigación")
            </div>
        </div>
        <div class="row">
            <div class="offset2">
                <div class="panel" data-role="panel">
                    <div class="panel-header bg-blue fg-white">
                        Apreciaciones
                    </div>
                    <div class="panel-content" style="display:none">
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Retroalimentación asesores Investic</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev.tblMarcoReferenciaProy_Rev.marRefProy_marcoConceptualProy)
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Sugerencia Evaluador 1</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev1.tblMarcoReferenciaProy_Rev.marRefProy_marcoConceptualProy)
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Sugerencia Evaluador 2</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev2.tblMarcoReferenciaProy_Rev.marRefProy_marcoConceptualProy)
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Asesoría de Grupo Investigación Colciencias</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev3.tblMarcoReferenciaProy_Rev.marRefProy_marcoConceptualProy)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

