﻿@model INI.Models.DataBase.Revista
@using INI.Models.DataBase
@{
    ViewBag.Title = "Crear revista";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
    var usu = User.Identity.Name;
    var rol = AspNetUsersRoles.IsUserInRole("Administrador", User.Identity.Name);
    if (!rol) { rol = AspNetUsersRoles.IsUserInRole("Administrator", User.Identity.Name); }
}
<style>
    .myrow {
        margin-top: 2px !important;
        margin-left: 20px;
    }
</style>

<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/Revistas">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/Noticias">
                                <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                            </a>
                        }
                        else
                        {
                            <a href="~/Admin/Editor?nombreu=@usu">
                                <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                            </a>
                        }
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Revistas">
                            <img src="~/images/botones_ruta_migas/editor/btn_revista_a.png" title="Revistas" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_crear.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br /><br /><br />

@using (Html.BeginForm("Create", "Revistas", FormMethod.Post, new { enctype = "multipart/form-data", id= "frm_rev" }))
{
    @Html.AntiForgeryToken()
    
    <div class="panel">
        <div class="panel-header">
            <label style="font-family:Chewy">Crear revista</label>
        </div>        
        <div class="panel-content">
            <div class="grid" style="margin-left:20px">
                @Html.ValidationSummary(true)
                <div class="row">
                    <div id="lb_tittle" class="span2">
                        <strong>Título<span style="color:red;">*</span></strong>
                    </div>
                    <div id="box_tittle" class="span10">
                        @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Título de la revista" } })
                        @Html.ValidationMessageFor(model => model.title, "", new { @style = "color:red;!important" })
                        @if (ViewBag.SqlError != null)
                        {
                            <span style="color:red">@ViewBag.SqlError</span>
                        }
                    </div>
                </div>
                <div class="row">
                    <div id="lb_descrip" class="span2">
                        <strong>Descripción</strong>
                    </div>
                    <div id="box_descrip" class="span10">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Descripción" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div id="lb_pdf" class="span2">
                        <strong>Archivo PDF<span style="color:red;">*</span></strong>
                    </div>
                    <div id="box_pdf" class="span10">
                        <div class="input-control file">
                            <input id="urlPdf" name="urlPdf" type="file" data-transform="input-control" accept="images/..../pdf" title="Error Usted no selecciono el archivo [pdf]"/>
                            <button class="btn btn-file"></button>                            
                        </div>
                        @*@Html.ValidationMessageFor(model => model.urlPdf, "", new { @style = "color:red;!important" })*@
                        <span id="lbl_Rq_urlPdf" style="color:red;display:none">El PDF es requerido</span><br />
                        <span id="lbl_urlPdf" style="color:red;display:none">Solo se permiten archivos PDF</span>
                        <span id="lbl_pdfsize" style="color:red;display:none">Solo se admiten archivos pdf con tamaño inferior o igual a 50Mb</span>
                    </div>
                </div>
                <div class="row">
                    <div id="lb_img" class="span2">
                        <strong>Archivo de portada<span style="color:red;">*</span></strong>
                    </div>
                    <div id="box_img" class="span10" style="cursor:pointer">
                        <div class="input-control file">
                            <input id="urlfront" name="urlfront" type="file" maxlength="500" data-transform="input-control" required message="Error Usted no selecciono el archivo [images/..../png]" accept="images/..../png" z-index="99" size="500" title="Error Usted no selecciono el archivo [png]"/>
                            <button class="btn btn-file"></button>                             
                        </div>
                        @*@Html.ValidationMessageFor(model => model.urlfront, "", new { @style = "color:red;!important" })*@
                        <span id="lbl_Rq_urlfront" style="color:red;display:none">La imagen es requerida</span><br/>         
                        <span id="lbl_urlfront" style="color:red;display:none">Solo se permiten imágenes con extensión .png</span>
                        <span id="lbl_revistasize" style="color:red;display:none">Solo se admiten imágenes con tamaño inferior o igual a 3Mb</span>         
                    </div>
                </div>
                <div class="row">
                    <div id="lb_categ" class="span2">
                        <strong>Categoría</strong>
                    </div>
                    <div id="box_categ" class="span10">
                        @Html.DropDownList("id_Categoria", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SubCategoriaRevista.id_categoria, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row" id="box_subcat">
                    <div id="lb_subcateg" class="span2">
                        <strong>Subcategoría</strong>
                    </div>
                    <div id="box_subcateg" class="span10">
                        @Html.DropDownList("id_SubCategoria", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.id_SubCategoria, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row" >
                    <div class="span2" id="box_btnsubmit">
                        <div>
                            <input type="submit" value="Guardar" class="button medium primary" />
                        </div>                        
                    </div>
                    <div class="span10">  
                        <div>
                            <a href="@Url.Action("Index")" class="button medium primary">Regresar</a>                            
                        </div>                     
                    </div>
                </div>
                <div class="row" id="box_msj_catvalidate" style="display:none">
                    <div class="span2">
                        <div>
                            <span style="color:red">La categoría aún no tiene subcategorías</span>
                        </div>
                    </div>
                    <div class="span10">
                    </div>
                </div>                           
            </div>
        </div>
    </div>
}

<div style="display:none;">
    <div id="lbtitle">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es tu título?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar un título.
    </div>
</div>
<div style="display:none;">
    <div id="lbDescription">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es tu descripción?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar una descripción.
    </div>
</div>
<div style="display:none;">
    <div id="pdf">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es la URL del PDF?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar la URL del PDF.
    </div>
</div>
<div style="display:none;">
    <div id="front">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es tu url de portada?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar la URL de portada.
    </div>
</div>
<div style="display:none;">
    <div id="Categoria">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es tu categoría?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes elegir una categoría de la lista.
    </div>
</div>
<div style="display:none;">
    <div id="Subcategoria">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es tu subcategoría?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes elegir una subcategoría de la lista.
    </div>
</div>

<div style="display:none;">
    <div id="boxtitle">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es tu título?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar un título.
    </div>
</div>
<div style="display:none;">
    <div id="boxDescription">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es tu descripción?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar una descripción.
    </div>
</div>
<div style="display:none;">
    <div id="boxpdf">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es tu url del PDF?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar una url PDF.
    </div>
</div>
<div style="display:none;">
    <div id="boxfront">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es tu url de portada?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar una url de portada.
    </div>
</div>
<div style="display:none;">
    <div id="boxCategoria">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es tu categoría?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes elegir una categoría de la lista.
    </div>
</div>
<div style="display:none;">
    <div id="boxSubcategoria">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es tu subcategoría?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes elegir una subcategoría de la lista.
    </div>
</div>



@section scripts{
    <script>
        $(function () {
            $("#lbl_urlfront").hide();
            $("#lbl_urlPdf").hide();
            $("#frm_rev").submit(function (e) {
                                
                var pdf = this.urlPdf.value;
                var cerror=0;

                if (pdf != null && pdf != "") {
                    $("#lbl_Rq_urlPdf").hide();
                    $("#lbl_urlPdf").hide();
                    console.log("Validado");
                    
                }
                else {
                    $("#lbl_Rq_urlPdf").show();
                    cerror++;
                }
                if (cerror == 0) {
                    var filesize = this.urlPdf.files[0].size / 1024;
                    if (filesize <= 50 * 1024) {
                        $("#lbl_pdfsize").hide();
                    }
                    else {
                        $("#lbl_pdfsize").show();
                        cerror++;
                    }
                }

                if (pdf.match("^.*\.(pdf|PDF)$")) {
                    $("#lbl_urlPdf").hide();
                    $("#lbl_Rq_urlPdf").hide();
                    console.log("Validado");
                }
                else {
                    $("#lbl_urlPdf").show();
                    cerror++;
                }

                var img = this.urlfront.value;

                if (img != null && img != "") {
                    $("#lbl_Rq_urlfront").hide();
                    $("#lbl_urlfront").hide();
                    console.log("Validado");
                }
                else {
                    $("#lbl_Rq_urlfront").show();
                    cerror++;
                }
                if (cerror == 0) {
                    var filesize = this.urlfront.files[0].size / 1024;
                    if (filesize <= 3 * 1024) {
                        $("#lbl_revistasize").hide();
                    }
                    else {
                        $("#lbl_revistasize").show();
                        cerror++;
                    }
                }

                if (img.match("^.*\.(png|PNG)$")) {
                    $("#lbl_urlfront").hide();
                    $("#lbl_Rq_urlfront").hide();
                    console.log("Validado");
                }
                else {
                    $("#lbl_urlfront").show();
                    cerror++;
                }
                if (cerror > 0) return false;
            });

            $("#id_Categoria").change(function () {

                var lst_subcategoria = $("#id_SubCategoria");
                var lst_categoria = $("#id_Categoria");

                $.ajax({
                    cache: false,
                    type: 'GET',
                    async: false,
                    dataType: 'json',
                    url: "/Revistas/GetSubcategoria/".concat(lst_categoria.val()),
                    success: function (result) {
                        lst_subcategoria.find("option").remove();
                         
                        if (result.length==0){
                            $("#box_subcat").hide();
                            $("#box_btnsubmit").hide();
                            $("#box_msj_catvalidate").show();
                            
                        }
                        else {
                            $("#box_subcat").show();
                            $("#box_btnsubmit").show();
                            $("#box_msj_catvalidate").hide();
                            $.each(result, function (index, item) {
                                lst_subcategoria.append("<option value='" + item.id + "'>" + item.nombre + "</option>");

                            });
                        }
                       
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert("error status " + xhr.status);
                        alert("error error trow" + thrownError);
                    }
                });                
            });
        });

        $('#lb_tittle').webuiPopover({ url: '#lbtitle', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#lb_descrip').webuiPopover({ url: '#lbDescription', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#lb_pdf').webuiPopover({ url: '#pdf', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#lb_img').webuiPopover({ url: '#front', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#lb_categ').webuiPopover({ url: '#Categoria', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#lb_subcateg').webuiPopover({ url: '#Subcategoria', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#box_tittle').webuiPopover({ url: '#boxtitle', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#box_descrip').webuiPopover({ url: '#boxDescription', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#box_pdf').webuiPopover({ url: '#boxpdf', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#box_img').webuiPopover({ url: '#boxfront', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#box_categ').webuiPopover({ url: '#boxCategoria', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#box_subcateg').webuiPopover({ url: '#boxSubcategoria', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
    </script>
}

        