﻿@model INI.Models.DataBase.Revista

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/Revistas">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Noticias">
                            <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Revistas">
                            <img src="~/images/botones_ruta_migas/editor/btn_revista_a.png" title="Revistas" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_detalle.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br /><br /><br />


<br /><br /><br /><br />
<style>
    .myrow {
        margin-top: 2px !important;
        margin-left: 20px;
    }
</style>

<div class="panel">
    <div class="panel-header" style="font-family:Chewy">
        Detalles de la Revista
    </div>    
    <div class="panel-content">
        <div class="grid">
            <div class="row myrow">
                <div class="span2">
                    @Html.DisplayNameFor(model => model.title)
                </div>
                <div class="span10">
            @Html.DisplayFor(model => model.title)
                </div>
            </div>
            <div class="row myrow">
                <div class="span2">
            @Html.DisplayNameFor(model => model.Description)
                </div>
                <div class="span10">
            @Html.DisplayFor(model => model.Description)
                </div>
            </div>
            <div class="row myrow">
                <div class="span2">
            @Html.DisplayNameFor(model => model.urlPdf)
                </div>
                <div class="span10">
            @Html.DisplayFor(model => model.urlPdf)
                </div>
            </div>
            <div class="row myrow">
                <div class="span2">
            @Html.DisplayNameFor(model => model.urlfront)
                </div>
                <div class="span10">
            @Html.DisplayFor(model => model.urlfront)
                </div>
            </div>
            <div class="row myrow">
                <div class="span2">
            @Html.DisplayNameFor(model => model.SubCategoriaRevista.nombre)
                </div>
                <div class="span10">
            @Html.DisplayFor(model => model.SubCategoriaRevista.nombre)
                </div>
            </div>
        </div>
    </div>
</div>
        
<p>
    <label class="button large primary">@Html.ActionLink("Editar", "Edit", new { id = Model.id })</label> |
    @Html.ActionLink("Regresar", "Index")
</p>
