﻿@model INI.Models.DataBase.Revista
@using INI.Models.DataBase
@{
    ViewBag.Title = "Editar revista";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
    var usu = User.Identity.Name;
    var rol = AspNetUsersRoles.IsUserInRole("Administrador", User.Identity.Name);
    if (!rol) { rol = AspNetUsersRoles.IsUserInRole("Administrator", User.Identity.Name); }
}
<style>
    .myrow {
        margin-top: 2px !important;
        margin-left: 20px;
    }
</style>
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/Revistas">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/Noticias">
                                <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                            </a>
                        }
                        else
                        {
                            <a href="~/Admin/Editor?nombreu=@usu">
                                <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                            </a>
                        }
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Revistas">
                            <img src="~/images/botones_ruta_migas/editor/btn_revista_a.png" title="Revistas" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_editar.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br /><br /><br />

@using (Html.BeginForm("Edit", "Revistas", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm_rev" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model => model.urlPdf)
    @Html.HiddenFor(model => model.urlfront)
    <div class="panel">
        <div class="panel-header" style="font-family:Chewy">
            Editar revista
        </div>
        <div class="panel-content">
            <div class="grid">
                <div class="row myrow">
                    <div id="lb_edtittle" class="span2">
                        <label>Título<span style="color:red;">*</span></label>
                    </div>
                    <div id="box_edtittle" class="span10">
                        @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.title, "", new { @style = "color:red;!important" })
                        @if (ViewBag.SqlError != null)
                        {
                            <span style="color:red">@ViewBag.SqlError</span>
                        }
                    </div>
                </div>
                <div class="row myrow">
                    <div id="lb_eddescrip" class="span2">
                        @Html.LabelFor(model => model.Description)
                    </div>
                    <div id="box_eddescrip" class="span10">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @style = "color:red;!important" })
                    </div>
                </div>
                <div class="row myrow">                    
                    <div id="lb_edpdf" class="span2">
                        <label>¿Desea actualizar el archivo PDF?</label>
                    </div>
                    <div class="span2" style="text-align:center">
                        <a style="font-size:25px" href="@Model.urlPdf" target="_blank" class="icon-download-2"></a>
                    </div>
                    <div class="span8">
                        <div class="input-control radio">
                            <label>
                                <input type="radio" id="rda_yes" name="rd_notpdf" />
                                <span class="check"></span>
                                Sí
                            </label>
                        </div>

                        <div class="input-control radio">
                            <label>
                                <input type="radio" id="rda_no" name="rd_notpdf" checked />
                                <span class="check"></span>
                                No
                            </label>
                        </div>
                    </div>
                </div>
               
                <div class="row myrow" id="box_pdf" style="display:none">
                    <div id="lb2_edpdf" class="span2">
                        <label>Archivo PDF<span style="color:red;">*</span></label>
                    </div>
                    <div id="box_edpdf" class="span10">
                        <div class="input-control file">
                            <input id="urlPdf_file" name="urlPdf_file" type="file" data-transform="input-control" accept="images/..../pdf"/> 
                                   @*value="@Model.urlPdf" />*@
                            <button class="btn btn-file"></button>                            
                        </div>
                        @*@Html.ValidationMessageFor(model => model.urlPdf, String.Empty, new { @style = "color:red;!important" })*@
                        <span id="lbl_not_pdf" style="color:red;display:none">Solo se permiten archivos PDF</span>
                        <span id="lbl_pdfsize" style="color:red;display:none">Solo se admiten archivos PDF con tamaño inferior o igual a 50Mb</span>
                    </div>
                </div>
                <br />
                <div class="row myrow">
                    <div id="lb_edimg" class="span2">
                        <label>¿Desea actualizar la portada?</label>
                    </div>
                    <div class="span2" style="text-align:center">
                        <a style="font-size:25px" href="@Model.urlfront" target="_blank"><img src="@Model.urlfront" style="width:60%" /></a>
                    </div>
                    <div class="span8">
                        <div class="input-control radio">
                            <label>
                                <input type="radio" id="rd_yes" name="rd_notportada" />
                                <span class="check"></span>
                                Sí
                            </label>
                        </div>

                        <div class="input-control radio">
                            <label>
                                <input type="radio" id="rd_no" name="rd_notportada" checked />
                                <span class="check"></span>
                                No
                            </label>
                        </div>
                    </div>
                </div>                                
                <div class="row myrow" id="box_portada" style="display:none">
                    <div id="box_edimg" class="span2">
                        <label>Archivo de portada<span style="color:red;">*</span></label>
                    </div>
                    <div id="box2_edimg" class="span10">
                        <div class="input-control file">
                            <input id="urlfront_file" name="urlfront_file" type="file" data-transform="input-control" accept="images/..../png" z-index="99" title="Error Usted no selecciono el archivo [png]"/>
                            <button class="btn btn-file"></button>                            
                        </div>
                        @*@Html.ValidationMessageFor(model => model.urlfront)*@
                        <span id="lbl_not_portada" style="color:red;display:none">Solo se permiten imágenes con extensión .png</span>
                        <span id="lbl_revistasize" style="color:red;display:none">Solo se admiten imágenes con tamaño inferior o igual a 3Mb</span>     
                    </div>
                </div>
                <div class="row myrow">
                    <div id="lb_edcateg" class="span2">
                        <label>Categoría</label>                        
                        @*Categoria:@Html.DropDownList("id_Categoria", null, htmlAttributes: new { @class = "form-control" })*@
                    </div>
                    <div id="box_edcateg" class="span10">
                        @Html.DropDownList("id_Categoria", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SubCategoriaRevista.id_categoria, "", new { @style = "color:red;!important" })                        
                    </div>
                </div>
                <div class="row myrow" id="box_subcat">
                    <div id="lb_edsubcateg" class="span2">
                        <label>Subcategoría</label>
                    </div>
                    <div id="box_edsubcateg" class="span10">
                        @Html.DropDownList("id_SubCategoria", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.id_SubCategoria, "", new { @style = "color:red;!important" })
                    </div>
                </div>
                <br />
                <div class="row myrow">
                    <div class="span2"  id="box_btnsubmit">
                        <div>
                            <input type="submit" value="Guardar" class="button medium primary" />
                        </div>
                    </div>
                    <div class="span10">
                        <div>
                            <a href="@Url.Action("Index")" class="button medium primary">Regresar</a>
                        </div> 
                    </div>
                </div>
                <div class="row myrow" id="box_msj_catvalidate" style="display:none">
                    <div class="span2">
                        <div>
                            <span style="color:red">La categoría aún no tiene subcategorías</span>
                        </div>
                    </div>
                    <div class="span10">
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section scripts{
    <script>
        $(function () {
                           
            $("#rda_yes").click(function () {
                $("#box_pdf").show();
            });
            $("#rda_no").click(function () {
                $("#urlPdf_file").val("");
                $("#urlPdf_file").next().val("")
                $("#box_pdf").hide();
            });
            $("#rd_yes").click(function () {
                $("#box_portada").show();
            });
            $("#rd_no").click(function () {
                $("#urlfront_file").val("");
                $("#urlfront_file").next().val("")
                $("#box_portada").hide();
            });
                        
            $("#lbl_not_pdf").hide();
            $("#lbl_not_portada").hide();
            $("#frm_rev").submit(function (e) {

                var pdf = this.urlPdf_file.value;
                var cerror = 0;
                if (pdf == "" || pdf == null || pdf.match("^.*\.(pdf|PDF)$")) {
                    $("#lbl_not_pdf").hide();
                    console.log("Validado");
                }
                else {
                    $("#lbl_not_pdf").show();
                    cerror++;
                }
                if (cerror == 0) {
                    var filesize = this.urlPdf.files[0].size / 1024;
                    if (filesize <= 50 * 1024) {
                        $("#lbl_pdfsize").hide();
                    }
                    else {
                        $("#lbl_pdfsize").show();
                        cerror++;
                    }
                }
                var filesize = this.urlfront.files[0].size / 1024;
                var img = this.urlfront_file.value;
                if (img == "" || img == null || img.match("^.*\.(png|PNG)$")) {
                    $("#lbl_not_portada").hide();
                    console.log("Validado");
                }
                else {
                    $("#lbl_not_portada").show();
                    cerror++;
                }                    
                if (filesize <= 3 * 1024) {
                    $("#lbl_revistasize").hide();
                }
                else {
                    $("#lbl_revistasize").show();
                    cerror++;                
                }
                if (cerror > 0) return false;

            });

            $("#id_Categoria").change(function () {

                var lst_subcategoria = $("#id_SubCategoria");
                var lst_categoria = $("#id_Categoria");

                $.ajax({
                    cache: false,
                    type: 'GET',
                    async: false,
                    dataType: 'json',
                    url: "/Revistas/GetSubcategoria/".concat(lst_categoria.val()),
                    success: function (result) {
                        lst_subcategoria.find("option").remove();
                        if (result.length == 0) {
                            $("#box_subcat").hide();
                            $("#box_btnsubmit").hide();
                            $("#box_msj_catvalidate").show();

                        }
                        else {
                            $("#box_subcat").show();
                            $("#box_btnsubmit").show();
                            $("#box_msj_catvalidate").hide();
                            $.each(result, function (index, item) {
                                lst_subcategoria.append("<option value='" + item.id + "'>" + item.nombre + "</option>");

                            });
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert("error status " + xhr.status);
                        alert("error error trow" + thrownError);
                    }
                });
            });
        });
        $('#lb_edtittle').webuiPopover({ url: '#lbedtitle', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#lb_eddescrip').webuiPopover({ url: '#lbedDescription', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#lb_edpdf').webuiPopover({ url: '#lbedpdf', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#lb2_edpdf').webuiPopover({ url: '#boxedpdf', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#lb_edimg').webuiPopover({ url: '#lbedImage', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#lb_edcateg').webuiPopover({ url: '#lbCategoria', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#lb_edsubcateg').webuiPopover({ url: '#lbSubcategoria', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#box_edtittle').webuiPopover({ url: '#boxedTitulo', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#box_eddescrip').webuiPopover({ url: '#boxedDescripcion', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#box_edpdf').webuiPopover({ url: '#ed2boxpdf', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#box_edimg').webuiPopover({ url: '#edboxImage', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#box2_edimg').webuiPopover({ url: '#ed2boxImage', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#box_edcateg').webuiPopover({ url: '#boxCategoria', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#box_edsubcateg').webuiPopover({ url: '#boxSubcategoria', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });                
    </script>
}
<div style="display:none;">
    <div id="lbedtitle">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea actualizar el título?</strong></b><br /><br />
        Aquí puede editar el título. Este campo es obligatorio. 
    </div>
</div>
<div style="display:none;">
    <div id="lbedDescription">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea actualizar la descripción?</strong></b><br /><br />
        Aquí puedes editar la descripción. Este campo es obligatorio. 
    </div>
</div>
<div style="display:none;">
    <div id="lbedpdf">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Actualizar PDF</strong></b><br /><br />
        Aquí puedes ingresar un nuevo archivo PDF. Este campo es obligatorio.
    </div>
</div>
<div style="display:none;">
    <div id="boxedpdf">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Actualizar PDF</strong></b><br /><br />
        Aquí puedes ingresar un nuevo archivo PDF. Este campo es obligatorio.
    </div>
</div>
<div style="display:none;">
    <div id="lbedImage">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Actualizar la imagen</strong></b><br /><br />
        Aquí puedes ingresar una nueva imagen. Este campo es obligatorio.
    </div>
</div>
<div style="display:none;">
    <div id="edboxImage">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Actualizar la imagen</strong></b><br /><br />
        Aquí puedes ingresar una nueva imagen. Este campo es obligatorio.
    </div>
</div>
<div style="display:none;">
    <div id="lbCategoria">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea cambiar la categoría?</strong></b><br /><br />
        Aquí puede elegir una categoría de la lista.
    </div>
</div>
<div style="display:none;">
    <div id="lbSubcategoria">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea cambiar la subcategoría?</strong></b><br /><br />
        Aquí puede elegir una subcategoría de la lista.
    </div>
</div>

<div style="display:none;">
    <div id="boxedTitulo">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea actualizar el título?</strong></b><br /><br />
        Aquí puede editar el título. Este campo es obligatorio. 
    </div>
</div>
<div style="display:none;">
    <div id="boxedDescripcion">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea actualizar la descripción?</strong></b><br /><br />
        Aquí puedes editar la descripción. Este campo es obligatorio.
    </div>
</div>
<div style="display:none;">
    <div id="ed2boxpdf">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Actualizar PDF</strong></b><br /><br />
        Aquí puedes ingresar un nuevo archivo PDF. Este campo es obligatorio.
    </div>
</div>
<div style="display:none;">
    <div id="ed2boxImage">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Actualizar la imagen</strong></b><br /><br />
        Aquí puedes ingresar una nueva imagen. Este campo es obligatorio.
    </div>
</div>
<div style="display:none;">
    <div id="boxCategoria">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea cambiar la categoría?</strong></b><br /><br />
        Aquí puede elegir una categoría de la lista.
    </div>
</div>
<div style="display:none;">
    <div id="boxSubcategoria">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea cambiar la subcategoría?</strong></b><br /><br />
        Aquí puede elegir una subcategoría de la lista.
    </div>
</div>