﻿@model IEnumerable<INI.Models.DataBase.Revista>
@using INI.Models.DataBase
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
    var usu = User.Identity.Name;
    var rol = AspNetUsersRoles.IsUserInRole("Administrador", User.Identity.Name);
    if (!rol) { rol = AspNetUsersRoles.IsUserInRole("Administrator", User.Identity.Name); }
}
                      <div id="ruta_miga">
                          <table>
                              <tr>
                                  <td rowspan="2">
                                      <ul id="img_fijos">
                                          <li>
                                              @if (rol == true)
                                              {
                                                  @*<a href="~/Noticias">*@
                                                  <a href="javascript:history.back(1)">
                                                      <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                                                  </a>
                                              }
                                              else
                                              {
                                                  @*<a href="~/Admin/Editor?nombreu=@usu">*@
                                                  <a href="javascript:history.back(1)">
                                                      <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                                                  </a>
                                              }
                                          </li>
                                      </ul>
                                  </td>
                                  <td>
                                      <ul>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                                          </li>
                                      </ul>

                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <ul id="img_variables">
                                          <li>
                                              <a href="~/Home">
                                                  <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              @if (rol == true)
                                                {
                                                    <a href="~/Noticias">
                                                        <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a href="~/Admin/Editor?nombreu=@usu">
                                                        <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                                                    </a>
                                                }
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/editor/btn_revista_v.png" title="Revista digital" />
                                          </li>
                                      </ul>
                                  </td>
                              </tr>
                          </table>
                      </div>
                      <br /><br /><br /><br /><br /><br />
<a class="button large bg-green" href="/CategoriaRevistas">Gestionar Categorías</a>
<a class="button large bg-green" href="/SubCategoriaRevistas">Gestionar Subcategorías</a>
<h2 style="font-family:Chewy">Revista Digital</h2>

<p>
    <label class="button large bg-green">@Html.ActionLink("Nueva Revista", "Create")</label>
</p>
<table class="table" id="tbl_revista">
    <thead>
        <tr>
            <th>
                Título
            </th>                       
            <th>
                Categoría
            </th>
            <th>
                Subcategoría
            </th>
            <th>
                URL revista digital
            </th> 
            <th>
                URL portada
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>                               
                <td>
                    @Html.DisplayFor(modelItem => item.SubCategoriaRevista.CategoriaRevista.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubCategoriaRevista.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.urlPdf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.urlfront)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                    @*@Html.ActionLink("Detalles", "Details", new { id = item.id }) |*@
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
   <script>
    $(function () {

        $('#tbl_revista').dataTable({
            "sPaginationType": "full_numbers",
            "oLanguage": {
                "sUrl": "../../Lang/es-CO.txt"
            }
        });


    });
</script>

}
