﻿@model IEnumerable<IEP.Models.DataBase.MisGrupos>

@using IEP.Models.DataBase

@{
    Layout = "~/Views/Shared/_LayoutIEP.cshtml";
    ViewBag.Title = "Mis grupos de investigación";
    var TieneGrupo = tblGrupoInvestigacion.ExistGroup(User.Identity.Name).ToString().ToLower();
}

<h2>@ViewBag.Title</h2>

<div class="grid fluid">
    <div class="row">
        <div class="offset10 span2 text-right">
            <a id="CrearGrupoLink" href="/MisGrupos/CrearGrupo" class="button info"><i class="icon-new on-left"></i>Crear Grupo</a>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <table id="misGrupos" class="table striped hover">
                <thead>
                    <tr>
                        <th class="span2"></th>
                        <th class="span2">Imagen</th>
                        <th class="span8">Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">
                                @Html.ActionLink("Ver Proyecto", "Index", "AsistenteGruposInvestigacion", new { id = item.id }, new { @class = "button info" })
                            </td>
                            <td class="text-center">
                                <img src="~/images/Avatars/@item.Avatar" width="110" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Informacion, "InfoGrupo")
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/DataTables-1.10.3/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Investic/MisGrupos.js"></script>
    <script>
        DisableButton(@TieneGrupo);
    </script>
}