﻿@model IEnumerable<IEP.Models.DataBase.tblComentarioGrupo>

@using IEP.Models.DataBase
@using dl = ClassLibrary

@{
    ViewBag.Title = "Comentarios del Proyecto";
    string msj = ViewBag.Message;
    int idGrupoInvestigacion = (int)ViewBag.idGrupoinvestigacion;
    InvesticEntities db = new InvesticEntities();
}

<div class="button-set margin10">
    <a href="/MisGrupos" class="button">Mis grupos</a>
    <a href="/AsistenteGruposInvestigacion/Invitaciones" class="button">Mis solicitudes</a>
    @if (ViewBag.InfoGrupo != null)
    {
        <a href="/AsistenteGruposInvestigacion/ForoProyecto/@ViewBag.InfoGrupo.idGrupo" class="button">Foro</a>
        <a href="/AsistenteGruposInvestigacion/ComentarioProyecto/@ViewBag.InfoGrupo.idGrupo" class="button">Comentario</a>
    }
</div>
@if (ViewBag.InfoGrupo != null)
{
    var infogrupo = (IEP.Models.DataBase.InformacionGrupo)ViewBag.InfoGrupo;
    Html.RenderPartial("_InformacionGrupo", infogrupo);
}
<hr />

<p>
    <button id="lnkCrearForo" class="large bg-green">Agregar Comentario</button>
</p>

<table id="ComentariosProyecto" class="table striped hovered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comentario)
            </th>
            <th>
                @Html.DisplayName("Nombre")
            </th>
            <th>
                @Html.DisplayName("Estado")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Comentario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUsers.Name)
                </td>
                <td>
                    @{
                        string aprobado = "No Aprobado";
                        if (item.Aprobado.Value)
                        {
                            aprobado = "Aprobado";
                        }
                    }
                    @aprobado
                </td>
                <td class="text-right">
                    <a class="button info" href="/AsistenteGruposInvestigacion/AprobarComentario/@item.id" title="Aprobar"><i class="icon-checkmark"></i></a>
                    <a class="button info" href="#" onclick="javascript:DeleteComentario('@item.id')" title="Eliminar"><i class="icon-remove"></i></a>
                </td>
            </tr>
        }
    </tbody>

</table>



<div id="nuevo-foro">
    @{
        tblComentarioGrupo tblComentario = new tblComentarioGrupo();
        tblComentario.idGrupo = idGrupoInvestigacion;
        tblComentario.UserId = AspNetUsers.GetUserId(User.Identity.Name);
        tblComentario.Aprobado = false;
        Html.RenderPartial("_CrearComentario", tblComentario);
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.min-1.11.1.js"></script>
    <script src="~/Scripts/metro-ui/jquery.ui.widget.js"></script>    
    <script src="~/Scripts/DataTables-1.10.3/media/js/jquery.dataTables.js"></script>
    <script src="~/Scripts/Investic/CrearComentario.js"></script>
    <script>
        AlertMessage('@msj');
    </script>
}

