﻿@model IEnumerable< IEP.Models.DataBase.tblMiembroGrupo>

@using IEP.Models.DataBase
@using dl = ClassLibrary

@{
    ViewBag.Title = "Integrantes Grupo de Investigación";    
}

<div class="button-set margin10">
    <a href="/MisGrupos" class="button">Mis grupos</a>
    <a href="/AsistenteGruposInvestigacion/Invitaciones" class="button">Mis solicitudes</a>
    @if (ViewBag.InfoGrupo != null)
    {
        <a href="/AsistenteGruposInvestigacion/ForoProyecto/@ViewBag.InfoGrupo.idGrupo" class="button">Foro</a>
    }
</div>
@if (ViewBag.InfoGrupo != null)
{
    var infogrupo = (IEP.Models.DataBase.InformacionGrupo)ViewBag.InfoGrupo;
    Html.RenderPartial("_InformacionGrupo", infogrupo);
}
<hr />

<h4>@ViewBag.Title</h4>

<div class="grid">
    <div class="row">
        <div class="span3">
            <div class="button-set">
                <button class="image-button primary fg-white size3" onclick="javascript: $('#AddMember').dialog('open');">
                    Integrante
                    <i class="icon-plus bg-cobalt"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<table id="MemberGroupTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Usuario")
            </th>
            <th>
                @Html.DisplayName("Nombre")
            </th>
            <th>
                @Html.DisplayName("Apellido")
            </th>
            <th>
                @Html.DisplayName("Dirección")
            </th>
            <th>
                @Html.DisplayName("Rol")
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUsers.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUsers.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUsers.SureName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUsers.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tblRol.Nombre)
                </td>
                <td>
                    <a href="/ResearchGroupWizard/" title="Modificar"><i class="icon-pencil"></i></a> |
                    <a href="/ResearchGroupWizard/" title="Detalles"><i class="icon-list"></i></a> |
                    <a href="#" onclick="javascript:DeleteMember(@item.id);" title="Eliminar"><i class="icon-remove"></i></a>
                </td>
            </tr>
        </tbody>
    }
</table>

<div id="AddMember">
    @{
        MiembroGrupo mg = new MiembroGrupo();
        string userId = IEP.Models.DataBase.AspNetUsers.GetUserId(User.Identity.Name);
        int id = tblGrupoInvestigacion.ResearchGroupIdByUser(userId);
        mg.User = new IEP.Models.RegisterViewModel();
        mg.Informacion = new tblMiembroGrupo();
        mg.User.UserName = "Nombre de Usuario";
        mg.User.Password = "abc123";
        mg.User.ConfirmPassword = "abc123";
        mg.Informacion.idUsuario = "nd";
        mg.Informacion.idRol = 2;
        mg.Informacion.idGrupoInvestigacion = id;
    }
    @Html.Partial("_AgregarMiembroGrupo", mg)
</div>

@section Scripts {    
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.min-1.11.1.js"></script>
    <script src="~/Scripts/DataTables-1.10.3/media/js/jquery.dataTables.js"></script>       
    <script src="~/Scripts/Investic/GroupMember.js"></script>
}
