﻿@model INI.Models.DataBase.tbNetVirtualUser

@{
    ViewBag.Title = "Details";
    String ctrl=ViewBag.ControllerName;
}

<h2>Details</h2>

<div>
    <h4>tbNetVirtualUser</h4>
    <hr />
    <dl class="dl-horizontal">
     
        <dt>
            @Html.DisplayNameFor(model => model.photo)
        </dt>
        <dd>
            <a href="@Url.Action("DowloadFile", new { id = Model.id, FileId = "photo" })" target="_blank" class="glyphicon glyphicon-download-alt"></a>
            @*<img src="@Url.Action("DowloadFile", new { id = item.id, FileId = "photo" })" width="100px"/>*@       
        <dd>
        <dt>
            @Html.DisplayNameFor(model => model.state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
