﻿
@{
    Layout = null;
    var nombre = Request.QueryString["name"];
    var email = Request.QueryString["mail"];
    var motivo = Request.QueryString["subject"];
    var mensaje = Request.QueryString["message"];
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/js/jquery-1.9.1.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>contactosMovil</title>
</head>
<body>
    <form action="~/InfoGeneral/enviarMail" method="POST">
        <center>
            <input type="hidden" name="name" value="@nombre">
            <input type="hidden" name="mail" value="@email">
            <input type="hidden" name="subject" value="@motivo">
            <input type="hidden" name="message" value="@mensaje">
            <img src="~/images/enviando.gif"><br />
            <input type="submit" name="op" id="op" value="Enviando">
        </center>
    </form>
</body>
</html>
@section Scripts {
    
}
<script>
    $(document).ready(function () {
        $('#op').trigger('click');
    });
</script>