﻿@model INI.Models.DataBase.tblLinkCVEMP
@{
    ViewBag.Title = "editar_link";
    Layout = "~/Views/Shared/_InvAdministrator.cshtml";
}

<link href="~/Content/tooltipbootstrap/jquery.webui-popover.css" rel="stylesheet" />
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        @*<a href="~/PanelAdministrativo">*@
                        <a href="javascript:history.back(1)">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @*<a href="~/PanelAdministrativo">*@
                        <a href="~/Administrator">
                            <img src="~/images/botones_ruta_migas/admin/btn_admin_a.png" title="Administrador" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/InfoGeneral/litar_link_cvemp">
                            <img src="~/images/botones_ruta_migas/admin/btn_link_cve_a.png" title="Link CVE" />
                        </a>
                        </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_editar.png" title="" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<div class="col-lg-10 col-lg-offset-1" style="margin-top:140px;">

    <div class="panel panel-default">
        <div class="panel-heading">
            Link Centro Virtual de Emprendimiento
        </div>
        <div class="panel-body">
            <form action="/InfoGeneral/editar_link" method="post" name="form1" id="form1">
                <input type="hidden" name="id" id="id" value="@ViewBag.id">
                
                <label for="categoria" class="">Categoría</label>
                <input class="form-control" type="text" name="categoria" id="categoria" value="@ViewBag.categoria" readonly />
                
                <label for="elemento" class="">Elemento</label>
                <input class="form-control" type="text" name="elemento" id="elemento" value="@ViewBag.elemento" readonly />

                <label for="link" class="">Link</label>
                <input class="form-control" type="url" name="link" id="link" value="@ViewBag.link" data-val="true" readonly="readonly" required="required" placeholder="Link es obligatorio" />
                @Html.ValidationMessageFor(model => model.link, String.Empty, new { @style = "color:red;!important" })
                <br />
                <center>
                    <button id="guardar" name="guardar" type="submit" class="button medium primary" style="margin-top:15px; display:none;">Guardar</button>
                </center>
            </form>
            <center><button id="editar" name="editar" class="button medium primary" style="margin-top:15px;">Editar</button></center>
        </div>
    </div>
</div>

<div style="display:none;">
    <div id="linkm">
        <img src="~/images/ToolTip/p2.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es el link?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar el link para Centro Virtual de emprendimiento.
    </div>
</div>
<div style="display:none;">
    <div id="categoriam">
        <img src="~/images/ToolTip/p2.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Categoría</strong></b><br /><br />
        Este campo describe a la categoría que pertenece el link del Centro Virtual de emprendimiento.
    </div>
</div>
<div style="display:none;">
    <div id="elementom">
        <img src="~/images/ToolTip/p2.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Elemento</strong></b><br /><br />
        Este campo describe al elemento dentro de la categoría que pertenece el link del Centro Virtual de emprendimiento.
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/tooltipbootstrap/jquery.webui-popover.js"></script>
    <script>
        $('#link').webuiPopover({ url: '#linkm', trigger: 'hover', style: 'inverse', placement: 'top', width: '450px' });
        $('#categoria').webuiPopover({ url: '#categoriam', trigger: 'hover', style: 'inverse', placement: 'top', width: '450px' });
        $('#elemento').webuiPopover({ url: '#elementom', trigger: 'hover', style: 'inverse', placement: 'top', width: '450px' });
    </script>
    <script>
        $(document).ready(function () {
            //$("#lbl_email").hide();
            $('#editar').click(function () {
                $('#editar').hide();
                $('#guardar').show();
                $('#link').removeAttr('readonly');
            });
            /*
            $(function () {
                $("#form1").submit(function () {
                    var count_errors = 0;
                    var archivo = $('#campo').val();
                    if (/gmail/.test(archivo)) {
                        $("#lbl_email").hide();
                    } else {
                        $("#lbl_email").show();
                        count_errors++;
                    }
                    if (count_errors > 0) {
                        return false;
                    }
                });
            });*/

        });
    </script>
}
