﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>enviarMail</title>
    <meta http-equiv="Refresh" content="0; URL=http://investic.udenar.edu.co:8070/sent.php"> 
</head>
<body>
    <div> 
    </div>
</body>
</html>
