﻿@model INI.Models.DataBase.tblInfoGeneral
    @{
        ViewBag.Title = "Email contáctanos";
        Layout = "~/Views/Shared/_InvAdministrator.cshtml";
    }
    <link href="~/Content/tooltipbootstrap/jquery.webui-popover.css" rel="stylesheet" />
    <div id="ruta_miga">
        <table>
            <tr>
                <td rowspan="2">
                    <ul id="img_fijos">
                        <li>
                            @*<a href="~/PanelAdministrativo">*@
                            <a href="javascript:history.back(1)">
                                <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                            </a>
                        </li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>
                            <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                        </li>
                    </ul>

                </td>
            </tr>
            <tr>
                <td>
                    <ul id="img_variables">
                        <li>
                            <a href="~/Home">
                                <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                            </a>
                        </li>
                        <li>
                            <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                        </li>
                        <li>
                            @*<a href="~/PanelAdministrativo">*@
                            <a href="~/Administrator">
                                <img src="~/images/botones_ruta_migas/admin/btn_admin_a.png" title="Administrador" />
                            </a>
                        </li>
                        <li>
                            <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                        </li>
                        <li>
                            <img src="~/images/botones_ruta_migas/admin/btn_email_cont.png" title="" />
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>

    <div class="col-lg-4 col-lg-offset-4" style="margin-top:140px;">
        
            <div class="panel panel-default">
                <div class="panel-heading">
                    Email contáctanos
                </div>
                <div class="panel-body">
                    <form action="/InfoGeneral/index" method="post" name="form1" id="form1">
                        <input type="hidden" name="id" id="id" value="@ViewBag.id">
                        <label for="nombre" class="">Nombre</label>
                        <input class="form-control" type="text" name="nombre" id="nombre" value="@ViewBag.nombre" readonly />
                        <label for="campo" class="">Email</label>
                        <input class="form-control" type="email" name="campo" id="campo" value="@ViewBag.campo" data-val="true" readonly="readonly" required="required" placeholder="Email es obligatorio" />
                        @Html.ValidationMessageFor(model => model.campo, String.Empty, new { @style = "color:red;!important" })
                        <span id="lbl_email" style="color:red;display:none">Ingresa una cuenta de gmail</span>
                        <label for="password" class="">Password</label>
                        <input class="form-control" type="password" name="password" id="password" value="@ViewBag.password" data-val="true" readonly="readonly" required="required" placeholder="Contraseña es obligatoria" />
                        @Html.ValidationMessageFor(model => model.password, String.Empty, new { @style = "color:red;!important" })
                        <br />
                        <center>
                            <button id="guardar" name="guardar" type="submit" class="button medium primary" style="margin-top:15px; display:none;">Guardar</button>
                        </center>
                    </form>
                    <center><button id="editar" name="editar" class="button medium primary" style="margin-top:15px;">Editar</button></center>
                </div>  
            </div>
    </div>

    <div style="display:none;">
        <div id="campom">
            <img src="~/images/ToolTip/p2.svg" style="float:right;margin-left:12px;" alt="" />
            <b><strong>¿Cuál es el email de contáctanos?</strong></b><br /><br />
            Este campo es obligatorio. Aquí debes ingresar el email donde llegan los mensajes de contáctanos. Solo cuentas de Gmail.
        </div>
    </div>
    <div style="display:none;">
    <div id="passm">
        <img src="~/images/ToolTip/p2.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es la contraseña del email?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar la contraseña de ingreso al email donde llegan los mensajes de contáctanos.
    </div>
</div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")

        <script src="~/Scripts/tooltipbootstrap/jquery.webui-popover.js"></script>
        <script>
            $('#campo').webuiPopover({ url: '#campom', trigger: 'hover', style: 'inverse', placement: 'right', width: '450px' });
            $('#password').webuiPopover({ url: '#passm', trigger: 'hover', style: 'inverse', placement: 'right', width: '450px' });
        </script>
        <script>
            $(document).ready(function () {                               
                $("#lbl_email").hide();
                $('#editar').click(function () {
                    $('#editar').hide();
                    $('#guardar').show();
                    $('#campo').removeAttr('readonly');
                    $('#password').removeAttr('readonly');
                });
                
                $(function () {
                    $("#form1").submit(function () {
                        var count_errors = 0;
                        var archivo = $('#campo').val();
                        if (/gmail/.test(archivo)) {
                            $("#lbl_email").hide();
                        } else {
                            $("#lbl_email").show();
                            count_errors++;
                        }
                        if (count_errors > 0) {
                            return false;
                        }
                    });
                });
                
            });
        </script>
    }
