﻿@model IEnumerable<INI.Models.DataBase.tblLinkCVEMP>
@using INI.Models.DataBase
@{ 
    ViewBag.Title = "litar_link_cvemp"; 
    Layout = "~/Views/Shared/_InvAdministrator.cshtml";
    var datos = ViewBag.datos;
    var id = 0;
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        @*<a href="~/PanelAdministrativo">*@
                        <a href="javascript:history.back(1)">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @*<a href="~/PanelAdministrativo">*@
                        <a href="~/Administrator">
                            <img src="~/images/botones_ruta_migas/admin/btn_admin_a.png" title="Administrador" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/admin/btn_link_cve_v.png" title="" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
    <div style="margin-top:120px;">
        <h2 style="font-family:Chewy;">Link Centro Virtual de Emprendimiento</h2>

        <table class="table" id="tabla">
            <thead>
                <tr>
                    <th width="36">
                        ID
                    </th>
                    <th width="150">
                        Categoria
                    </th>
                    <th width="150">
                        Elemento
                    </th>
                    <th>
                        Link
                    </th>
                    <th width="70">
                        Opción
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    char[] delimiterChars = { ',' };
                    for (int j = 0; j < 12; j++) { 
                        string[] campos = datos[j].Split(delimiterChars);
                        int i = 0;
                        <tr>
                            @foreach (string s in campos)
                            {
                                if (i == 0)
                                {
                                    id = Convert.ToInt16(s);
                                    i = 1;
                                }
                            
                            
                            <td>
                                @s
                            </td>

                            }
                            <td>
                                @Html.ActionLink("Editar", "editar_link", new { id = id })
                            </td>
                        </tr>
                    }
                }
                @*@foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.categoria)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.elemento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.link)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "editar_link", new { id = item.id })
                        </td>
                    </tr>
                }*@
            </tbody>
        </table>
    </div>
    @section Scripts{
        <script src="~/Scripts/DataTables-1.10.4/jquery.dataTables.js"></script>
        <script>
            $(function () {
                $('#tabla').dataTable({
                    "sPaginationType": "full_numbers",
                    "oLanguage": {
                        "sUrl": "../../Lang/es-CO.txt"
                    }
                });

            });

        </script>
    }
