﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>return_link</title>
    <meta http-equiv="Refresh" content="0; URL=@ViewBag.link"> 
</head>
<body>
    <div> 
    </div>
</body>
</html>
