﻿@model IEnumerable<MAI.Models.DataBase.tblGruposInvestigacion>
@using MAI.Models.DataBase

@{
    ViewBag.Title = "Grupos de Investigacion";
}

@Html.AntiForgeryToken()




<div class="grid fluid">
    <div class="row">
        @if (Model.Count().Equals(0))
        {
            <button id="newGroup" type="button" class="large bg-green fg-white">
                Crear Grupo
                <i class="icon-plus bg-gren fg-white"></i>
            </button>
        }
    </div>

    <table style="background-color:transparent; margin:auto;">
        <tr>
            <td width="20%" align="left">
                <img src="~/images/MAI/Proyecto/personajeProyecto.png" height="120"/>
            </td>
            <td width="80%" align="left">
                <h1>Mis Grupos</h1>
                <div class="row">
                    <table id="misGrupos" class="table striped hover">
                        <thead>
                            <tr>
                                <th class="span2"></th>
                                <th class="span4">Nombre del Grupo</th>
                                <th class="span2">Emblema</th>
                                <th class="span2">Fecha de Creación</th>
                                <th class="span2">Proyectos de Investigación</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center">
                                        @Html.ActionLink("Ir", "DetallesGrupo", "GruposInvestigacion", new { id = item.tblGruposInvestigacion_ID }, new { @class = "button info" })
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.gruInv_nombreGrupo)</td>
                                    <td class="text-center">
                                        <img src="~/images/logo_Grupo/@item.gruInv_emblema" width="110" />
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.gruInv_fechaCreacion)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.gruInv_proyectos)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>



    @*<div class="row">
        <table id="misGrupos" class="table striped hover">
            <thead>
                <tr>
                    <th class="span2"></th>
                    <th class="span4">Nombre del Grupo</th>
                    <th class="span2">Emblema</th>
                    <th class="span2">Fecha de Creación</th>
                    <th class="span2">Proyectos de Investigación</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            @Html.ActionLink("Ir", "DetallesGrupo", "GruposInvestigacion", new { id = item.tblGruposInvestigacion_ID }, new { @class = "button info" })
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.gruInv_nombreGrupo)</td>
                        <td class="text-center">
                            <img src="~/images/logo_Grupo/@item.gruInv_emblema" width="110" />
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.gruInv_fechaCreacion)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.gruInv_proyectos)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>*@
</div>

<div id="crearGrupoDialog">
    @{
        investicEntities db = new investicEntities();
        var idUsuario = AspNetUsers.GetUserId(User.Identity.Name);
        AspNetUsers usuario = db.AspNetUsers.Find(idUsuario);
        Html.RenderPartial("CrearGrupoInv", usuario);
    }
</div>



@section Scripts {
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.min-1.11.1.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/DataTables-1.10.3/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Investic/mai_MisTablas.js"></script>
    <script src="~/Scripts/Investic/mai_GruposInvestigacion.js"></script>
<link href="~/Content/Investic/mai_Site_Proyecto.css" rel="stylesheet" />
}