﻿
@model INI.Models.DataBase.tblEstadoArteProyectoInvestigacion

<style>
    label, input, select {
        margin-top: 7px;
    }
</style>

<div class="panel panel-default" style="margin-top:0px;">
    <div class="panel-heading"><strong>Agregar estado del arte</strong></div>
    <div class="panel-body">
        @using (Html.BeginForm("AgregarEstadoArte", "IEP", FormMethod.Post, new { @id = "frmIdEstadoArte", enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.id)
            @Html.HiddenFor(model => model.idGrupoInvestigacion)

            <form class="form-horizontal" style="width:500px;">

                <div class="form-group">
                    <label id="" for="TemaInvestigacion" class="col-sm-2 control-label">Tema <span style="color:red;">*</span></label>
                    <div class="col-sm-10">
                        @Html.EditorFor(model => model.TemaInvestigacion, new { htmlAttributes = new { @class = "form-control", placeholder = "Escribe el tema" } })
                        @Html.ValidationMessageFor(model => model.TemaInvestigacion, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <label id="" for="MapaConceptual" class="col-sm-2 control-label">Evidencia <span style="color:red;">*</span></label>
                    <div class="col-sm-10">
                        <div class="input-control file">
                            <input type="file" name="MapaConceptual" id="MapaConceptual" data-val-required="El archivo es obligatorio" data-val="true" class="input-validation-error" accept="application/pdf,image/jpeg" data-val-length-max="50" data-val-length="Máximo 256 caracteres" data-val="true" data-target="webuiPopover3" aria-invalid="true" aria-describedby="MapaConceptual-error" />
                            <button class="btn btn-file"></button>
                        </div>
                        <span class="field-validation-valid" style="color:red; !important"><span id="prueava"></span></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn primary" style="margin-top:15px;" id="enviarMapaConceptual">Guardar</button>
                        <button id="CerrarEstadoArte" name="Cerrar" type="button" class="btn primary" style="margin-top:15px;">Regresar</button>
                    </div>
                </div>
            </form>
        }

        <div style="display:none;">
            <div id="TemaInvestigacionm">
                <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es el tema de investigación?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar el tema de investigación.
            </div>
        </div>
        <div style="display:none;">
            <div id="MapaConceptualm">
                <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es la mapa conceptual?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes subir evidencia del mapa conceptual.
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

