﻿@model INI.Models.DataBase.tblPresupuestoProyectoInvestigacion

<style>
    label, input, select {
        margin-top: 7px;
    }
</style>

<div class="panel panel-default" style="margin-top:0px;">
    <div class="panel-heading"><strong>Agregar presupuesto</strong></div>
    <div class="panel-body">
        @using (Html.BeginForm("AgregarPresupuesto", "IEP"))
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.idGrupoInvestigacion)
            
            <form class="form-horizontal" style="width:500px;">

                <div class="form-group">
                    <label id="" for="idRubro" class="col-sm-2 control-label">Rubro <span style="color:red;">*</span></label>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(model => model.idRubro, null, "Seleccionar rubro", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.idRubro, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <label id="" for="ValorRubro" class="col-sm-2 control-label">Cantidad <span style="color:red;">*</span></label>
                    <div class="col-sm-2">
                        @Html.EditorFor(model => model.ValorRubro, new { htmlAttributes = new { @class = "form-control", placeholder = "Escribe la cantidad" } })
                        @Html.ValidationMessageFor(model => model.ValorRubro, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <label id="" for="ValorUnitario" class="col-sm-2 control-label">Valor unitario <span style="color:red;">*</span></label>
                    <div class="col-sm-2">
                        @Html.EditorFor(model => model.ValorUnitario, new { htmlAttributes = new { @class = "form-control", placeholder = "Escribe el valor unitario" } })
                        @Html.ValidationMessageFor(model => model.ValorUnitario, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <label id="" for="Total" class="col-sm-2 control-label">Total <span style="color:red;">*</span></label>
                    <div class="col-sm-2">
                        @Html.EditorFor(model => model.Total, new { htmlAttributes = new { @class = "form-control", placeholder = "Escribe el valor total", @readonly = true } })
                        @Html.ValidationMessageFor(model => model.Total, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12"></div>
                </div>

                <div class="form-group">
                    <label id="" for="DescripcionGasto" class="col-sm-2 control-label">Descripción <span style="color:red;">*</span></label>
                    <div class="col-sm-10">
                        @Html.TextAreaFor(model => model.DescripcionGasto, new { @class = "form-control", @style = "margin-top:10px;", placeholder = "Escribe la descripción" })
                        @Html.ValidationMessageFor(model => model.DescripcionGasto, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn primary" style="margin-top:15px;">Guardar</button>
                        <button id="Cerrar" name="Cerrar" type="button" class="btn primary" style="margin-top:15px;">Regresar</button>
                    </div>
                </div>
            </form>
        }

        <div style="display:none;">
            <div id="idRubrom">
                <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es el rubro?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes seleccionar el rubro.
            </div>
        </div>
        <div style="display:none;">
            <div id="ValorRubrom">
                <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es la cantidad?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar la cantidad.
            </div>
        </div>
        <div style="display:none;">
            <div id="ValorUnitariom">
                <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es el valor unitario?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar el valor unitario.
            </div>
        </div>
        <div style="display:none;">
            <div id="Totalm">
                <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es el valor total?</strong></b><br /><br />
                Este campo se calculará automáticamente cuando ingreses la cantidad y su valor unitario.
            </div>
        </div>
        <div style="display:none;">
            <div id="DescripcionGastom">
                <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es la descripción?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar la descripción.
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
