﻿@model INI.Models.DataBase.tblValoracionBitacora

<style>
    label, input, select {
        margin-top: 7px;
    }
</style>

<div class="panel panel-default" style="margin-top:0px;">
    <div class="panel-heading"><strong>Agregar valoración de bitácora</strong></div>
    <div class="panel-body">
        @using (Html.BeginForm("CargarValoracionBitacora", "IEP", FormMethod.Post, new { @id = "frmIdValoracion", enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.idValoracion)
            @Html.HiddenFor(model => model.idGrupoInvestigacion)

            <form class="form-horizontal" style="width:500px;">

                <div class="form-group">
                    <label id="" for="descripcionValoracion" class="col-sm-2 control-label">Descripción <span style="color:red;">*</span></label>
                    <div class="col-sm-10">
                        @Html.TextAreaFor(model => model.descripcionValoracion, new { @class = "form-control", @style = "margin-top:10px;", placeholder = "Describe brevemente el contenido del archivo" })
                        @Html.ValidationMessageFor(model => model.descripcionValoracion, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <label id="" for="archivoValoracion" class="col-sm-2 control-label">Archivo <span style="color:red;">*</span></label>
                    <div class="col-sm-10">
                        <div class="input-control file">
                            <input type="file" name="archivoValoracion" id="archivoValoracion" data-val-required="El archivo es obligatorio" data-val="true" class="input-validation-error ArchivoFeria" accept="application/pdf" data-val-regex-pattern=".*\.pdf$" data-val-regex="Solo se admiten archivos .pdf" data-val-length-max="255" data-val-length="Máximo 255 caracteres" data-val="true" data-target="webuiPopover3" aria-invalid="true" aria-describedby="archivoValoracion-error" />
                            <button class="btn btn-file"></button>
                        </div>
                        <span class="field-validation-valid" style="color:red; !important"><span id="prueavaValoracion"></span></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn primary" style="margin-top:15px;" id="enviarValoracion">Guardar</button>
                        <button id="CerrarValoracion" name="CerrarValoracion" type="button" class="btn primary" style="margin-top:15px;">Regresar</button>
                    </div>
                </div>
            </form>
        }

        <div style="display:none;">
            <div id="descripcionValoracionm">
                <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es la descripción?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar una breve descripción sobre el contenido del archivo.
            </div>
        </div>
        <div style="display:none;">
            <div id="archivoValoracionm">
                <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es el archivo?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes subir el archivo con el formato establecido para la valoración de la bitácora.
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

