﻿@model INI.Models.DataBase.tblForoProyectoInvestigacion
<link href="~/Content/tooltipbootstrap/jquery.webui-popover.css" rel="stylesheet" />
@using (Html.BeginForm("AgregarForo", "IEP"))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.idUser)
    @Html.HiddenFor(model => model.idGrupoInvestigacion)
    @Html.HiddenFor(model => model.idForo)
    @Html.HiddenFor(model => model.Fecha)
    @Html.HiddenFor(model => model.Respuestas)

    <form class="form-horizontal">
        <div class="form-group">
            <label id="Tituloe" for="Titulo" class="col-sm-2 control-label">Título <span style="color:red;">*</span></label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control", placeholder = "Escribe el título del foro" } })
                @Html.ValidationMessageFor(model => model.Titulo, String.Empty, new { @style = "color:red;!important" })
            </div>
        </div>
      
       <div class="form-group">
           <label id="Mensajee" for="Mensaje" class="col-sm-2 control-label" style="margin-top:10px;">Mensaje <span style="color:red;">*</span></label>
           <div class="col-sm-10">
               @Html.TextAreaFor(model => model.Mensaje, new { @class = "form-control", @style = "margin-top:10px;", placeholder = "Escribe el mensaje" })
               @Html.ValidationMessageFor(model => model.Mensaje, String.Empty, new { @style = "color:red;!important" })
           </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn primary" style="margin-top:15px;" id="enviarForo">Guardar</button>
                <button id="Cerrar" name="Cerrar" type="button" class="btn primary" style="margin-top:15px;">Regresar</button>
            </div>
        </div>
    </form>
    
    <div style="display:none;">
        <div id="tituloa">
            <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
            <b><strong>Cuál es el título?</strong></b><br /><br />
            Este campo es obligatorio. Aquí debes ingresar un título.
        </div>
    </div>
    <div style="display:none;">
        <div id="tituloae">
            <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
            <b><strong>Cuál es tu título?</strong></b><br /><br />
            Este campo es obligatorio. Aquí debes ingresar un título.
        </div>
    </div>
    
    <div style="display:none;">
        <div id="mensajea">
            <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
            <b><strong>Cuál es el mensaje?</strong></b><br /><br />
            Este campo es obligatorio. Aquí debes ingresar un mensaje.
        </div>
    </div>
    <div style="display:none;">
        <div id="mensajeae">
            <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
            <b><strong>Cuál es el mensaje?</strong></b><br /><br />
            Este campo es obligatorio. Aquí debes ingresar un mensaje.
        </div>
    </div>
}