﻿@model INI.Models.DataBase.tblComentarioGrupo

<link href="~/Content/tooltipbootstrap/jquery.webui-popover.css" rel="stylesheet" />

@using (Html.BeginForm("AgregarComentario", "IEP"))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.idGrupo)
    @Html.HiddenFor(model => model.UserId)
    @Html.HiddenFor(model => model.Aprobado)

    <form class="form-horizontal">
      <div class="form-group">
          <label id="Comentarioe" for="inputEmail3" class="col-sm-2 control-label">Comentario <span style="color:red;">*</span></label>
          <div class="col-sm-10">
              @Html.TextAreaFor(model => model.Comentario, new { @class = "form-control", @style = "margin-top:10px;", placeholder = "Escribe un comentario" })
              @Html.ValidationMessageFor(model => model.Comentario, String.Empty, new { @style = "color:red;!important" })
          </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn primary" style="margin-top:15px;">Guardar</button>
          <button id="Cerrar" name="Cerrar" type="button" class="btn primary" style="margin-top:15px;">Regresar</button>
        </div>
      </div>
    </form>
    
    <div style="display:none;">
        <div id="Comentarioa">
            <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
            <b><strong>Cuál es tu comentario?</strong></b><br /><br />
            Este campo es obligatorio. Aquí debes ingresar un comentario.
        </div>
    </div>
    <div style="display:none;">
        <div id="Comentarioae">
            <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
            <b><strong>Cuál es tu comentario?</strong></b><br /><br />
            Este campo es obligatorio. Aquí debes ingresar un comentario.
        </div>
    </div>
}
