﻿@model INI.Models.DataBase.tblPropagacionGrupo

<div id="detailsDiv3">
    <style>
        label, input, select {
            margin-top: 7px;
        }
    </style>

    <div class="panel panel-default" style="margin-top:0px;">
        <div class="panel-heading"><strong>Editar feria</strong></div>
        <div class="panel-body">
            @using (Html.BeginForm("EditarFeria", "IEP", FormMethod.Post, new { @id = "frmEditarFeriaAjax", enctype = "multipart/form-data" }))
            {
                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.id)
                @Html.HiddenFor(model => model.idGrupoInvestigacion)

                <form class="form-horizontal" style="width:500px;">

                    <div class="form-group">
                        <label id="" for="idTipoFeria" class="col-sm-2 control-label">Feria <span style="color:red;">*</span></label>
                        <div id="idTipoFeriaferia" class="col-sm-10">
                            @Html.DropDownListFor(model => model.idTipoFeria, null, "Seleccionar feria", new { @class = "form-control idtipoferia2" })
                            @Html.ValidationMessageFor(model => model.idTipoFeria, String.Empty, new { @style = "color:red;!important", @class = "idtipoferia2v" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label id="" for="Archivo" class="col-sm-2 control-label">Archivo <span style="color:red;">*</span></label>
                        <div class="col-sm-10" id="Archivoferia">
                            <div class="fileUpload button" style="background-color: transparent;">
                                <input name="nombre_archivofer" id="nombre_archivofer" type="text" readonly="readonly" style="width:500px; height:25px;" />
                                <img src="~/images/folder-open-solid.png" />
                                <input type="file" nombre="arcferia" name="Archivo" id="Archivo" data-val-required="El archivo es obligatorio" data-val="true" class="input-validation-error archivoferia2 upload" accept="application/pdf,image/jpeg,image/png" data-val-regex-pattern="([a-zA-Z0-9\s_\\.\-:])+(.pdf|.png|.jpg)$" data-val-regex="Solo se admiten archivos .pdf, .jpg o .png" data-val-length-max="50" data-val-length="Máximo 50 caracteres" data-val="true" data-target="webuiPopover3" aria-invalid="true" aria-describedby="Archivo-error" />
                            </div>
                        </div>
                        <div class="col-sm-offset-2 col-sm-12">
                            @Html.ValidationMessageFor(model => model.Archivo, String.Empty, new { @style = "color:red;!important", @class = "archivoferia2v" })
                            <span class="field-validation-valid" style="color:red; !important"><span id="archivoferia2v"></span></span>
                        </div>
                    </div>
                    @Html.Display("  ")
                    <div class="form-group">
                        <label class="col-sm-2 control-label">&nbsp </label>
                        <div class="col-sm-10">
                            <a class="image-button" href="~/Upload/@Model.Archivo" target="_blank">
                                Ver archivo
                                <i class="icon-download-2 bg-red fg-white"></i>
                            </a>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12"></div>
                    </div>

                    <div class="form-group">
                        <label id="" for="Descripcion" class="col-sm-2 control-label">Descripción <span style="color:red;">*</span></label>
                        <div class="col-sm-10" id="Descripcionferia">
                            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control descripcion2", placeholder = "Escribe la descripción" } })
                            @Html.ValidationMessageFor(model => model.Descripcion, String.Empty, new { @style = "color:red;!important", @class = "descripcion2v" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn primary" style="margin-top:15px;" id="enviarFeria">Guardar</button>
                            <button id="CerrarEditarFeria" name="CerrarEditarFeria" type="button" class="btn primary" style="margin-top:15px;">Regresar</button>
                        </div>
                    </div>
                </form>
            }

            <div style="display:none;">
                <div id="idTipoFeriaferiam">
                    <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                    <b><strong>Cuál es la feria?</strong></b><br /><br />
                    Este campo es obligatorio. Aquí debes seleccionar la feria.
                </div>
            </div>
            <div style="display:none;">
                <div id="Descripcionferiam">
                    <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                    <b><strong>Cuál es la descripción?</strong></b><br /><br />
                    Este campo es obligatorio. Aquí debes ingresar la descripción.
                </div>
            </div>
            <div style="display:none;">
                <div id="Archivoferiam">
                    <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                    <b><strong>Cuál es el archivo?</strong></b><br /><br />
                    Este campo es obligatorio. Aquí debes subir el archivo evidencia de la feria.
                </div>
            </div>

        </div>
    </div>

    <script>
        var expresion2 = /.*\.(pdf|png|jpg)$/;
        $('.archivoferia2').bind('change', function () {
            $('#nombre_archivofer').val($('input[nombre = arcferia]').val());
            if (this.files[0].size > 4194304) {
                $(".archivoferia2v").html('El tamaño del archivo no debe sobrepasar 4 MB');
            }
            else if (!expresion2.test(this.files[0].name)) {
                $(".archivoferia2v").html('Solo se admiten archivos .pdf, .png o .jpg');
            }
            else {
                $(".archivoferia2v").html('');
            }
        });

        $("#frmEditarFeriaAjax").submit(function (e) {
            if ($('.idtipoferia2').val() == '') {
                $(".idtipoferia2v").html('El tipo feria es obligatorio');
            }
            else {
                $(".idtipoferia2v").html('');
            }

            if ($('.descripcion2').val() == '') {
                $(".descripcion2v").html('La descripción es obligatoria');
            }
            else {
                $(".descripcion2v").html('');
            }

            if ($('.idtipoferia2').val() == '') {
                return false;
            }
            else if ($('.descripcion2').val() == '')
            {
                return false;
            }
            else
            {
                if ($('.archivoferia2')[0].files[0].size > 4194304) {
                    //$(".evidencia2v").html('El tamaño del archivo no debe sobrepasar 4 MB');
                    return false;
                }
                else if (!expresion2.test($('.archivoferia2')[0].files[0].name)) {
                    //$(".evidencia2v").html('Solo se admiten archivos .pdf o .jpg');
                    return false;
                }
                else {
                    $(".archivoferia2v").html('');
                    return true;
                }
            }
        });

        $('.idtipoferia2').webuiPopover({ url: '#idTipoFeriaferiam', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('.archivoferia2').webuiPopover({ url: '#Descripcionferiam', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('.descripcion2').webuiPopover({ url: '#Archivoferiam', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });

        $("#CerrarEditarFeria").click(function () {
            $('#editar-feria').dialog('close');
        });
    </script>
</div>