﻿@model INI.Models.DataBase.tblConceptosEstadoArte

<div id="detailsDiv2">
    <style>
        label, input, select {
            margin-top: 7px;
        }
    </style>

    <div class="panel panel-default" style="margin-top:0px;">
        <div class="panel-heading"><strong>Editar concepto</strong></div>
        <div class="panel-body">
            @using (Html.BeginForm("EditarConcepto", "IEP", FormMethod.Post, new { @id = "frmEditarConceptoAjax" }))
            {
                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.id)
                @Html.HiddenFor(model => model.idEstadoArte)
                @Html.HiddenFor(model => model.tblEstadoArteProyectoInvestigacion.idGrupoInvestigacion)

                <form class="form-horizontal" style="width:500px;">

                    <div class="form-group">
                        <label id="" for="Autor" class="col-sm-2 control-label">Autor <span style="color:red;">*</span></label>
                        <div class="col-sm-6">
                            @Html.EditorFor(model => model.Autor, new { htmlAttributes = new { @class = "form-control autor2", placeholder = "Escribe el autor" } })
                            @Html.ValidationMessageFor(model => model.Autor, String.Empty, new { @style = "color:red;!important", @class = "autor2v" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label id="" for="Publicacion" class="col-sm-2 control-label">Año <span style="color:red;">*</span></label>
                        <div class="col-sm-2">
                            @Html.EditorFor(model => model.Publicacion, new { htmlAttributes = new { @class = "form-control publicacion2", placeholder = "Escribe el año" } })
                            @Html.ValidationMessageFor(model => model.Publicacion, String.Empty, new { @style = "color:red;!important", @class = "publicacion2v" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                        </div>
                    </div>

                    <div class="form-group">
                        <label id="" for="Texto" class="col-sm-2 control-label">Descripción <span style="color:red;">*</span></label>
                        <div class="col-sm-10">
                            @Html.TextAreaFor(model => model.Texto, new { @class = "form-control texto2", @style = "margin-top:10px;", placeholder = "Escribe la descripción" })
                            @Html.ValidationMessageFor(model => model.Texto, String.Empty, new { @style = "color:red;!important", @class = "texto2v" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn primary" style="margin-top:15px;">Guardar</button>
                            <button id="CerrarEditarConcepto" name="CerrarEditarConcepto" type="button" class="btn primary" style="margin-top:15px;">Regresar</button>
                        </div>
                    </div>
                </form>
            }

            <div style="display:none;">
                <div id="Autorm">
                    <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                    <b><strong>Cuál es el autor?</strong></b><br /><br />
                    Este campo es obligatorio. Aquí debes ingresar el autor.
                </div>
            </div>
            <div style="display:none;">
                <div id="Aniom">
                    <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                    <b><strong>Cuál es el año?</strong></b><br /><br />
                    Este campo es obligatorio. Aquí debes ingresar el año.
                </div>
            </div>
            <div style="display:none;">
                <div id="Textom">
                    <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                    <b><strong>Cuál es la descripción?</strong></b><br /><br />
                    Este campo es obligatorio. Aquí debes ingresar la descripción.
                </div>
            </div>

        </div>
    </div>

    <script>
        $("#frmEditarConceptoAjax").submit(function (e) {
            if ($('.autor2').val() == '') {
                $(".autor2v").html('El autor es obligatorio');
            }
            else {
                $(".autor2v").html('');
            }

            if ($('.publicacion2').val() == '') {
                $(".publicacion2v").html('El año es obligatorio');
            }
            else if ($('.publicacion2').val() < 1450 || $('.publicacion2').val() > 2100) {
                $(".publicacion2v").html('El año debe ser superior a 1450 y menor de 2100');
            }
            else {
                $(".publicacion2v").html('');
            }

            if ($('.texto2').val() == '') {
                $(".texto2v").html('La descripción es obligatoria');
            }
            else {
                $(".texto2v").html('');
            }

            if ($('.autor2').val() == '') {
                return false;
            }
            else if ($('.publicacion2').val() == '')
            {
                return false;
            }
            else if ($('.texto2').val() == '') {
                return false;
            }
            else {
                return true;
            }
        });

        $('.autor2').webuiPopover({ url: '#Autorm', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('.publicacion2').webuiPopover({ url: '#Aniom', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('.texto2').webuiPopover({ url: '#Textom', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });

        $("#CerrarEditarConcepto").click(function () {
            $('#editar-concepto').dialog('close');
        });
    </script>
</div>