﻿@model INI.Models.DataBase.tblPresupuestoProyectoInvestigacion

<div id="detailsDiv">
    <style>
        label, input, select {
            margin-top: 7px;
        }
    </style>

    <div class="panel panel-default" style="margin-top:0px;">
        <div class="panel-heading"><strong>Editar presupuesto</strong></div>
        <div class="panel-body">
        @using (Html.BeginForm("EditarPresupuesto", "IEP", FormMethod.Post, new { @id = "frmEditarPresupuesto" }))
        {
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.idGrupoInvestigacion)

        <form class="form-horizontal" style="width:500px;">

            <div class="form-group">
                <label id="" for="idRubro" class="col-sm-2 control-label">Rubro <span style="color:red;">*</span></label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(model => model.idRubro, null, "Seleccionar rubro", new { @class = "form-control idrubro2" })
                    @Html.ValidationMessageFor(model => model.idRubro, String.Empty, new { @style = "color:red;!important", @class = "idrubro2v" })
                </div>
            </div>

            <div class="form-group">
                <label id="" for="ValorRubro" class="col-sm-2 control-label">Cantidad <span style="color:red;">*</span></label>
                <div class="col-sm-2">
                    @Html.EditorFor(model => model.ValorRubro, new { htmlAttributes = new { @class = "form-control valorrubro2", placeholder = "Escribe la cantidad" } })
                    @Html.ValidationMessageFor(model => model.ValorRubro, String.Empty, new { @style = "color:red;!important", @class = "valorrubro2v" })
                </div>
            </div>

            <div class="form-group">
                <label id="" for="ValorUnitario" class="col-sm-2 control-label">Valor unitario <span style="color:red;">*</span></label>
                <div class="col-sm-2">
                    @Html.EditorFor(model => model.ValorUnitario, new { htmlAttributes = new { @class = "form-control valorunitario2", placeholder = "Escribe el valor unitario" } })
                    @Html.ValidationMessageFor(model => model.ValorUnitario, String.Empty, new { @style = "color:red;!important", @class = "valorunitario2v" })
                </div>
            </div>

            <div class="form-group">
                <label id="" for="Total" class="col-sm-2 control-label">Total <span style="color:red;">*</span></label>
                <div class="col-sm-2">
                    @Html.EditorFor(model => model.Total, new { htmlAttributes = new { @class = "form-control total2", placeholder = "Escribe el valor total", @readonly = true } })
                    @Html.ValidationMessageFor(model => model.Total, String.Empty, new { @style = "color:red;!important", @class = "total2v" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12"></div>
            </div>

            <div class="form-group">
                <label id="" for="DescripcionGasto" class="col-sm-2 control-label">Descripción <span style="color:red;">*</span></label>
                <div class="col-sm-10">
                    @Html.TextAreaFor(model => model.DescripcionGasto, new { @class = "form-control descripciongasto2", @style = "margin-top:10px;", placeholder = "Escribe la descripción" })
                    @Html.ValidationMessageFor(model => model.DescripcionGasto, String.Empty, new { @style = "color:red;!important", @class = "descripciongasto2v" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn primary" style="margin-top:15px;">Guardar</button>
                    <button id="Cerrar" name="Cerrar" type="button" class="btn primary" style="margin-top:15px;" onclick="javascript: $('#editar-presupuesto').dialog('close');">Regresar</button>
                </div>
            </div>
        </form>
        }

        </div>
    </div>

    <script>
        var expresion2 = /([a-zA-Z0-9\s_\\.\-:])+(.pdf|.png|.jpg)$/;
        $("#frmEditarPresupuesto").submit(function (e) {
            if ($('.idrubro2').val() == '') {
                $(".idrubro2v").html('El rubro es obligatorio');
            }
            else {
                $(".idrubro2v").html('');
            }
            
            if ($('.valorrubro2').val() == '') {
                $(".valorrubro2v").html('El valor del rubro es obligatorio');
            }
            else {
                $(".valorrubro2v").html('');
            }

            if ($('.valorrubro2').val() < 1 || $('.valorrubro2').val() > 1000) {
                $(".valorrubro2v").html('La cantidad debe estar entre 1 y 1000');
            }
            else {
                $(".valorrubro2v").html('');
            }

            if ($('.valorunitario2').val() == '') {
                $(".valorunitario2v").html('El valor unitario es obligatorio');
            }
            else {
                $(".valorunitario2v").html('');
            }

            if ($('.valorunitario2').val() < 1 || $('.valorunitario2').val() > 10000000) {
                $(".valorunitario2v").html('El valor unitario debe estar entre $1 y $10.000.000');
            }
            else {
                $(".valorunitario2v").html('');
            }

            if ($('.descripciongasto2').val() == '') {
                $(".descripciongasto2v").html('La descripción del gasto es obligatoria');
            }
            else {
                $(".descripciongasto2v").html('');
            }

            if ($('.idrubro2').val() == '') {
                return false;
            }
            else if ($('.valorrubro2').val() == '') {
                return false;
            }
            else if ($('.valorrubro2').val() < 1 || $('.valorrubro2').val() > 1000) {
                return false;
            }
            else if ($('.valorunitario2').val() == '') {
                return false;
            }
            else if ($('.valorunitario2').val() < 1 || $('.valorunitario2').val() > 10000000) {
                return false;
            }
            else if ($('.descripciongasto2').val() == '') {
                return false;
            }
            else {
                return true;
            }
        });

        $('.ArchivoFeria').bind('change', function () {
            if (this.files[0].size > 4194304) {
                $("#prueavaFeria").html('El tamaño del archivo no debe sobrepasar 4 MB');
            }
            else if (!expresion2.test(this.files[0].name)) {
                $("#prueavaFeria").html('Solo se admiten archivos .pdf, .png o .jpg');
            }
            else {
                $("#prueavaFeria").html('');
            }
        });

        $('#enviarFeria').bind("click", function () {
            var imgVal = $('.ArchivoFeria').val();
            if (imgVal == '') {
                $("#prueavaFeria").html('El archivo es obligatorio');
                return false;
            }
        });

        $('.valorrubro2').change(function () {
            var fc = $('.valorunitario2').val();
            var cm = $(this).val() * fc;
            $('.total2').val(cm);
        });

        $('.valorunitario2').change(function () {
            var fc = $('.valorrubro2').val();
            var cm = $(this).val() * fc;
            $('.total2').val(cm);
        });

        $('.idrubro2').webuiPopover({ url: '#idRubrom', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('.valorrubro2').webuiPopover({ url: '#ValorRubrom', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('.valorunitario2').webuiPopover({ url: '#ValorUnitariom', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('.total2').webuiPopover({ url: '#Totalm', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('.descripciongasto2').webuiPopover({ url: '#DescripcionGastom', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
    </script>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>