﻿@model INI.Models.DataBase.tblPreguntaInvestigacion

<div class="panel panel-default" style="margin-top:0px;">
    <div class="panel-heading"><strong>Pregunta de investigación</strong></div>
    <div class="panel-body">
        @using (Html.BeginForm("EditarPreguntaInvestigacion", "IEP", FormMethod.Post, new { @id = "frmId", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.id)
            @Html.HiddenFor(model => model.idGrupoInvestigacion)
            @Html.HiddenFor(model => model.FechaCreacion)
            @Html.HiddenFor(model => model.FechaModificacion)
            @Html.HiddenFor(model => model.Consecutivo)
            @Html.HiddenFor(model => model.PreguntaPrincipal)
            

                <div class="form-group">
                    <label id="holita" for="Pregunta" class="control-label">Pregunta <span style="color:red;">*</span></label>
                    <div class="">
                        @Html.TextAreaFor(model => model.Pregunta, new { @class = "form-control", @style = "margin-top:10px;", placeholder = "Escribe la pregunta" })
                        @Html.ValidationMessageFor(model => model.Pregunta, String.Empty, new { @style = "color:red;!important" })
                        <span class="field-validation-valid" style="color:red; !important"><span id="prueava"></span></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="">
                        <button type="submit" class="button primary" style="margin-top:15px;">Guardar</button>
                        <button id="Cerrar" name="Cerrar" type="button" class="button primary" style="margin-top:15px;">Regresar</button>
                    </div>
                </div>
        }
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#Cerrar").click(function () {
            $('#dialog-edit').dialog('close');
        });

        var expresion = /^[a-zA-Z0-9 ñáéíóúÁÉÍÓÚÑ¿?.,:;¡!()'"-]+$/;
        var expresion2 = /^\s+$/;
        $("#frmId").submit(function (e) {
            //e.preventDefault();
            if($('#Pregunta').val() == ""){
                $("#prueava").html('La pregunta es obligatoria');
                return false;
            }
            else if ($('#Pregunta').val().length > 500) {
                $("#prueava").html('Solo se permite hasta 500 caracteres');
                return false;
            }
            else if (expresion2.test($('#Pregunta').val())) {
                $("#prueava").html('La pregunta es obligatoria');
                return false;
            }
            else if (!expresion.test($('#Pregunta').val())) {
                $("#prueava").html('Solo se permite caracteres alfanuméricos');
                return false;
            }
            else {
                $("#prueava").html('');
            }
        });
    });
</script>
