﻿@model INI.Models.DataBase.tblRecoleccionInformacionProyectoInvestigacion

<div id="detailsDiv">
    <style>
        label, input, select {
            margin-top: 7px;
        }
    </style>

    <div class="panel panel-default" style="margin-top:0px;">
        <div class="panel-heading"><strong>Editar información</strong></div>
        <div class="panel-body">
            @using (Html.BeginForm("EditarRecoleccionInformacion", "IEP", FormMethod.Post, new { @id = "frmEditarRecoleccionAjax", enctype = "multipart/form-data" }))
            {
                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.id)
                @Html.HiddenFor(model => model.idGrupoInvestigacion)

                <form class="form-horizontal" style="width:500px;">

                    <div class="form-group">
                        <label id="" for="idInstrumento" class="col-sm-2 control-label">Instrumento <span style="color:red;">*</span></label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(model => model.idInstrumento, null, "Seleccionar instrumento", new { @class = "form-control idinstrumento2" })
                            @Html.ValidationMessageFor(model => model.idInstrumento, String.Empty, new { @style = "color:red;!important", @class = "idinstrumento2v" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label id="" for="Descripcion" class="col-sm-2 control-label">Descripción <span style="color:red;">*</span></label>
                        <div class="col-sm-10">
                            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control descripcion2", placeholder = "Escribe la descripción" } })
                            @Html.ValidationMessageFor(model => model.Descripcion, String.Empty, new { @style = "color:red;!important", @class = "descripcion2v" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label id="" for="Evidencia" class="col-sm-2 control-label">Evidencia <span style="color:red;">*</span></label>
                        <div class="col-sm-10">
                            <div class="fileUpload button" style="background-color: transparent;">
                                <input name="nombre_archivo" id="nombre_archivo" type="text" readonly="readonly" style="width:500px; height:25px;" />
                                <img src="~/images/folder-open-solid.png" />
                                <input type="file" nombre="recevidencia" name="Evidencia" id="Evidencia" data-val-required="El archivo es obligatorio" data-val="true" class="input-validation-error evidencia2 upload" accept="application/pdf,image/jpeg" data-val-length-max="50" data-val-length="Máximo 50 caracteres" data-val="true" data-target="webuiPopover3" aria-invalid="true" aria-describedby="Evidencia-error" />
                            </div>
                        </div>
                        <div class="col-sm-offset-2 col-sm-12">
                            @Html.ValidationMessageFor(model => model.Evidencia, String.Empty, new { @style = "color:red;!important", @class = "evidencia2v" })
                            <span class="field-validation-valid" style="color:red;!important"><span id="prueavaInformacion"></span></span>
                        </div>
                    </div>

                    @Html.Display("  ")
                    <div class="form-group">
                        <label class="col-sm-2 control-label">&nbsp </label>
                        <div class="col-sm-10">
                            <a class="image-button" href="~/Upload/@Model.Evidencia" target="_blank">
                                Ver archivo
                                <i class="icon-download-2 bg-red fg-white"></i>
                            </a>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12"></div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn primary" style="margin-top:15px;" id="enviarEditarInformacion">Guardar</button>
                            <button id="CerrarEditarInformacion" name="CerrarEditarInformacion" type="button" class="btn primary" style="margin-top:15px;">Regresar</button>
                        </div>
                    </div>
                </form>
            }

            <div style="display:none;">
                <div id="Instrumentorecinfom">
                    <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                    <b><strong>Cuál es el instrumento?</strong></b><br /><br />
                    Este campo es obligatorio. Aquí debes ingresar el instrumento.
                </div>
            </div>
            <div style="display:none;">
                <div id="Descripcionrecinfom">
                    <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                    <b><strong>Cuál es la descripción?</strong></b><br /><br />
                    Este campo es obligatorio. Aquí debes ingresar la descripción.
                </div>
            </div>
            <div style="display:none;">
                <div id="Evidenciarecinfom">
                    <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                    <b><strong>Cuál es la evidencia?</strong></b><br /><br />
                    Este campo es obligatorio. Aquí debes subir un archivo de evidencia.
                </div>
            </div>

        </div>
    </div>

    <script>
        var expresioni = /.*\.(pdf|jpg)$/;
        $('.evidencia2').bind('change', function () {
            $('#nombre_archivo').val($('input[nombre = recevidencia]').val());
            if (this.files[0].size > 4194304) {
                $("#prueavaInformacion").html('El tamaño del archivo no debe sobrepasar 4 MB');
            }
            else if (!expresioni.test(this.files[0].name)) {
                $("#prueavaInformacion").html('Solo se admiten archivos .pdf o .jpg');
            }
            else {
                $("#prueavaInformacion").html('');
            }
        });

        $("#frmEditarRecoleccionAjax").submit(function (e) {
            if ($('.idinstrumento2').val() == '') {
                $(".idinstrumento2v").html('El instrumento es obligatorio');
            }
            else {
                $(".idinstrumento2v").html('');
            }

            if ($('.descripcion2').val() == '') {
                $(".descripcion2v").html('La descripción es obligatoria');
            }
            else {
                $(".descripcion2v").html('');
            }

            if ($('.idinstrumento2').val() == '') {
                return false;
            }
            else if ($('.descripcion2').val() == '')
            {
                return false;
            }
            else {
                if ($('.evidencia2')[0].files[0].size > 4194304) {
                    //$(".evidencia2v").html('El tamaño del archivo no debe sobrepasar 4 MB');
                    return false;
                }
                else if (!expresioni.test($('.evidencia2')[0].files[0].name)) {
                    //$(".evidencia2v").html('Solo se admiten archivos .pdf o .jpg');
                    return false;
                }
                else {
                    $(".evidencia2v").html('');
                    return true;
                }
            }
        });

        $('.idinstrumento2').webuiPopover({ url: '#Instrumentorecinfom', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('.descripcion2').webuiPopover({ url: '#Descripcionrecinfom', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('.evidencia2').webuiPopover({ url: '#Evidenciarecinfom', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });

        $("#CerrarEditarInformacion").click(function () {
            $('#editar-recoleccion').dialog('close');
        });
    </script>
</div>