﻿@model IEnumerable<INI.Models.DataBase.tblComentarioGrupo>

<div style="padding-top: 3px; padding-bottom: 3px;"><strong>Comentarios</strong></div>
@foreach (var item in Model) {
    <div class="ballon left" style="padding-left: 5px;">
        <div>
            @Html.DisplayFor(modelItem => item.Comentario)
        </div>        
        <div style="padding-left: 5px;">
            Escrito por &#8594; @Html.DisplayFor(modelItem => item.AspNetUsers.Name)&nbsp;@Html.DisplayFor(modelItem => item.AspNetUsers.SureName)
        </div>        
    </div>
    <hr />
}    