﻿@model INI.Models.DataBase.tblPropagacionGrupo

<style>
    label, input, select {
        margin-top: 7px;
    }
</style>

<div class="panel panel-default" style="margin-top:0px;">
    <div class="panel-heading"><strong>Agregar feria</strong></div>
    <div class="panel-body">
        @using (Html.BeginForm("NuevaPropagacion", "IEP", FormMethod.Post, new { @id = "frmIdFeria", enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.id)
            @Html.HiddenFor(model => model.idGrupoInvestigacion)

            <form class="form-horizontal" style="width:500px;">

                <div class="form-group">
                    <label id="" for="idTipoFeria" class="col-sm-2 control-label">Feria <span style="color:red;">*</span></label>
                    <div id="idTipoFeriaferia" class="col-sm-10">
                        @Html.DropDownListFor(model => model.idTipoFeria, null, "Seleccionar feria", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.idTipoFeria, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <label id="" for="Archivo" class="col-sm-2 control-label">Archivo <span style="color:red;">*</span></label>
                    <div class="col-sm-10" id="Archivoferia">
                        <div class="fileUpload button" style="background-color: transparent;">
                            <input name="nombre_archivofer" id="nombre_archivofer" type="text" readonly="readonly" style="width:500px; height:25px;" />
                            <img src="~/images/folder-open-solid.png" />
                            <input type="file" nombre="arcferia" name="Archivo" id="Archivo" data-val-required="El archivo es obligatorio" data-val="true" class="input-validation-error ArchivoFeria upload" accept="application/pdf,image/jpeg,image/png" data-val-regex-pattern="([a-zA-Z0-9\s_\\.\-:])+(.pdf|.png|.jpg)$" data-val-regex="Solo se admiten archivos .pdf, .jpg o .png" data-val-length-max="255" data-val-length="Máximo 255 caracteres" data-val="true" data-target="webuiPopover3" aria-invalid="true" aria-describedby="Archivo-error" />
                        </div>
                    </div>
                    <div class="col-sm-offset-2 col-sm-12">
                        @Html.ValidationMessageFor(model => model.Archivo, String.Empty, new { @style = "color:red;!important" })
                        <span class="field-validation-valid" style="color:red; !important"><span id="prueavaFeria"></span></span>
                    </div>
                </div>

                <div class="form-group">
                    <label id="" for="Descripcion" class="col-sm-2 control-label">Descripción <span style="color:red;">*</span></label>
                    <div class="col-sm-10" id="Descripcionferia">
                        @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", placeholder = "Escribe la descripción" } })
                        @Html.ValidationMessageFor(model => model.Descripcion, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn primary" style="margin-top:15px;" id="enviarFeria">Guardar</button>
                        <button id="CerrarFerias" name="CerrarFerias" type="button" class="btn primary" style="margin-top:15px;">Regresar</button>
                    </div>
                </div>
            </form>
        }

        <div style="display:none;">
            <div id="idTipoFeriaferiam">
                <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es la feria?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes seleccionar la feria.
            </div>
        </div>
        <div style="display:none;">
            <div id="Descripcionferiam">
                <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es la descripción?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar la descripción.
            </div>
        </div>
        <div style="display:none;">
            <div id="Archivoferiam">
                <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es el archivo?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes subir el archivo evidencia de la feria.
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
