﻿@model INI.Models.DataBase.tblRecoleccionInformacionProyectoInvestigacion

<style>
    label, input, select {
        margin-top: 7px;
    }
</style>

<div class="panel panel-default" style="margin-top:0px;">
    <div class="panel-heading"><strong>Agregar información</strong></div>
    <div class="panel-body">
        @using (Html.BeginForm("AgregarInformacion", "IEP", FormMethod.Post, new { @id = "frmIdInformacion", enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.id)
            @Html.HiddenFor(model => model.idGrupoInvestigacion)

            <form class="form-horizontal" style="width:500px;">

                <div class="form-group">
                    <label id="" for="idInstrumento" class="col-sm-2 control-label">Instrumento <span style="color:red;">*</span></label>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(model => model.idInstrumento, null, "Seleccionar instrumento", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.idInstrumento, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <label id="" for="Descripcion" class="col-sm-2 control-label">Descripción <span style="color:red;">*</span></label>
                    <div class="col-sm-10">
                        @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", placeholder = "Escribe la descripción" } })
                        @Html.ValidationMessageFor(model => model.Descripcion, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <label id="" for="Evidencia" class="col-sm-2 control-label">Evidencia <span style="color:red;">*</span></label>
                    <div class="col-sm-10">
                        <div class="fileUpload button" style="background-color: transparent;">
                            <input name="nombre_archivo" id="nombre_archivo" type="text" readonly="readonly" style="width:500px; height:25px;" />
                            <img src="~/images/folder-open-solid.png" />
                            <input type="file" nombre="recevidencia" name="Evidencia" id="Evidencia" data-val-required="El archivo es obligatorio" data-val="true" class="input-validation-error Evidencia upload" accept="application/pdf,image/jpeg" data-val-length-max="50" data-val-length="Máximo 50 caracteres" data-val="true" data-target="webuiPopover3" aria-invalid="true" aria-describedby="Evidencia-error" />
                        </div>
                    </div>
                    <div class="col-sm-offset-2 col-sm-12">
                        @Html.ValidationMessageFor(model => model.Evidencia, String.Empty, new { @style = "color:red;!important" })
                        <span class="field-validation-valid" style="color:red;!important"><span id="prueavaInformacion"></span></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn primary" style="margin-top:15px;" id="enviarInformacion">Guardar</button>
                        <button id="CerrarInformacion" name="Cerrar" type="button" class="btn primary" style="margin-top:15px;">Regresar</button>
                    </div>
                </div>
            </form>
        }

        <div style="display:none;">
            <div id="Instrumentorecinfom">
                <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es el instrumento?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar el instrumento.
            </div>
        </div>
        <div style="display:none;">
            <div id="Descripcionrecinfom">
                <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es la descripción?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar la descripción.
            </div>
        </div>
        <div style="display:none;">
            <div id="Evidenciarecinfom">
                <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es la evidencia?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes subir un archivo de evidencia.
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}