﻿@model INI.Models.DataBase.tblGrupoInvestigacion
<link href="~/Content/tooltipbootstrap/jquery.webui-popover.css" rel="stylesheet" />
<style>
    label, input, select {
        margin-top: 7px;
    }
</style>

@using (Html.BeginForm("RegistrarGrupo", "IEP", FormMethod.Post, new { id = "CreateGroup", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model => model.idInstitucion)
    @Html.HiddenFor(model => model.idUsuario)
    
    <form class="form-horizontal">
        <div class="form-group">
            <label id="Nombree" for="Nombre" class="col-sm-3 control-label">Nombre <span style="color:red;">*</span></label>
            <div class="col-sm-9" class="col-sm-3 control-label">
                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", placeholder = "Escribe el nombre del grupo" })
                @Html.ValidationMessageFor(model => model.Nombre, String.Empty, new { @style = "color:red;!important" })
            </div>
        </div>

        <div class="form-group">
            <label id="TipoGrupoe" for="TipoGrupo" class="col-sm-3 control-label">Tipo investigación <span style="color:red;">*</span></label>
            <div class="col-sm-9 tipogruporeg">
                <div class="radio">
                    <label><input type="radio" name="TipoGrupo" id="TipoGrupo" value="1">Pre-estructurados</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="TipoGrupo" id="TipoGrupo" value="2" checked>Abiertos</label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label id="idLineaInvestigacione" for="idLineaInvestigacion" class="col-sm-3 control-label">Línea investigación <span style="color:red;">*</span></label>
            <div class="col-sm-9" class="col-sm-3 control-label">
                @Html.DropDownListFor(model => model.idLineaInvestigacion, null, "Seleccionar línea", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idLineaInvestigacion, String.Empty, new { @style = "color:red;!important" })
            </div>
        </div>

        <div class="form-group">
            <label id="Avatare" for="Avatar" class="col-sm-3 control-label">Imagen </label>
            <div class="col-sm-9" class="col-sm-3 control-label">
                <div class="input-control file">
                    <input type="file" name="Avatar" id="Avatar" accept="image/jpeg,image/png">
                    <button class="btn btn-file"></button>
                </div>
                @Html.ValidationMessageFor(model => model.Avatar, String.Empty, new { @style = "color:red;!important" })
                <span class="field-validation-valid" style="color:red;!important"><span id="prueava"></span></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn primary" style="margin-top:15px;">Guardar</button>
                <button id="Cerrar" name="Cerrar" type="button" class="btn primary" style="margin-top:15px;">Regresar</button>
            </div>
        </div>
    </form>
    
    <div style="display:none;">
        <div id="nombream">
            <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
            <b><strong>Cuál es el nombre del grupo?</strong></b><br /><br />
            Este campo es obligatorio. Aquí debes ingresar el nombre del grupo.
        </div>
    </div>
    <div style="display:none;">
        <div id="nombreame">
            <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
            <b><strong>Cuál es el nombre del grupo?</strong></b><br /><br />
            Este campo es obligatorio. Aquí debes ingresar el nombre del grupo.
        </div>
    </div>
    
    <div style="display:none;">
        <div id="tipogrupoam">
            <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
            <b><strong>Cuál es el tipo de investigación del grupo?</strong></b><br /><br />
            Este campo es obligatorio. Aquí debes seleccionar el tipo de investigación del grupo.
        </div>
    </div>
    <div style="display:none;">
        <div id="tipogrupoame">
            <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
            <b><strong>Cuál es el tipo de investigación del grupo?</strong></b><br /><br />
            Este campo es obligatorio. Aquí debes seleccionar el tipo de investigación del grupo.
        </div>
    </div>
    
    <div style="display:none;">
        <div id="idlineainvestigacionam">
            <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
            <b><strong>Cuál es el la línea de investigación del grupo?</strong></b><br /><br />
            Este campo es obligatorio. Aquí debes seleccionar la línea de investigación del grupo.
        </div>
    </div>
    <div style="display:none;">
        <div id="idlineainvestigacioname">
            <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
            <b><strong>Cuál es el la línea de investigación del grupo?</strong></b><br /><br />
            Este campo es obligatorio. Aquí debes seleccionar la línea de investigación del grupo.
        </div>
    </div>
    
    <div style="display:none;">
        <div id="avataram">
            <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
            <b><strong>Tienes una imagen que identifique al grupo?</strong></b><br /><br />
            Aquí debes ingresar una imagen que identifique al grupo.
        </div>
    </div>
    <div style="display:none;">
        <div id="avatarame">
            <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
            <b><strong>Tienes una imagen que identifique al grupo?</strong></b><br /><br />
            Aquí debes ingresar una imagen que identifique al grupo.
        </div>
    </div>
}

