﻿@model INI.Models.DataBase.tblGrupoInvestigacion
@using INI.Models.DataBase

@{
    investicEntities db = new investicEntities();
}

@if (Model != null)
{
    <div>
        <h2>Bitácoras</h2>
        <ul class="nav nav-tabs" style="color: transparent;">
            <li class="active"><a data-toggle="tab" href="#bitacora1">Uno</a></li>
            <li><a data-toggle="tab" href="#bitacora2">Dos</a></li>
            <li><a data-toggle="tab" href="#bitacora3">Tres</a></li>
            <li><a data-toggle="tab" href="#bitacora4">Cuatro</a></li>
            <li><a data-toggle="tab" href="#bitacora5">Cinco</a></li>
            <li><a data-toggle="tab" href="#bitacora6">Seis</a></li>
            <li><a data-toggle="tab" href="#bitacora7">Siete</a></li>
        </ul>

        <div class="tab-content" style="background-color: #ffffff; margin-top: 0px; padding: 10px 10px 10px 10px; ">
            <div id="bitacora1" class="tab-pane fade in active">
                <h3>1. Estar en la onda de Ondas</h3>

                @{
                    var tblrefle = new INI.Models.DataBase.tblReflexionProyectoInvestigacion();
                    var tblmcoinv = new List<INI.Models.DataBase.tblMiembroGrupo>();
                    var tblestinv = new List<INI.Models.DataBase.tblMiembroGrupo>();
                    if (Model.tblReflexionProyectoInvestigacion.Count() > 0)
                    {
                        tblrefle = Model.tblReflexionProyectoInvestigacion.OrderByDescending(m => m.id).First();
                    }
                    if (Model.tblMiembroGrupo.Count() > 0)
                    {
                        tblmcoinv = Model.tblMiembroGrupo.Where(m => m.tblRol.id == 1).ToList();
                    }
                    if (Model.tblMiembroGrupo.Count() > 0)
                    {
                        tblestinv = Model.tblMiembroGrupo.Where(m => m.tblRol.id == 2).ToList();
                    }
                }
                <div class="row" style="margin-top:10px;">
                    <div class="col-sm-12">
                        <h5>Información general</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3" style="text-align: right;">
                        <span><b>Nombre:</b></span>
                    </div>
                    <div class="col-sm-9">
                        <span>@Model.Nombre</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3" style="text-align: right;">
                        <span><b>Institución:</b></span>
                    </div>
                    <div class="col-sm-9">
                        <span>
                            @if (Model.tblInstitucion != null)
                            {
                                @Model.tblInstitucion.Nombre
                            }
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3" style="text-align: right;">
                        <span><b>Municipio:</b></span>
                    </div>
                    <div class="col-sm-9">
                        <span>
                            @if (Model.tblInstitucion != null && Model.tblInstitucion.tblMunicipios != null)
                            {
                                @Model.tblInstitucion.tblMunicipios.NombreMunicipio
                            }
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3" style="text-align: right;">
                        <span><b>Creación:</b></span>
                    </div>
                    <div class="col-sm-9">
                        <span>
                            @Model.FechaCreacion
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3" style="text-align: right;">
                        <span><b>Tipo:</b></span>
                    </div>
                    <div class="col-sm-9">
                        <span>
                            @if (Model.TipoGrupo == 1)
                            {
                                @Html.DisplayName("Pre-Estructurados")
                            }
                            else
                            {
                                @Html.DisplayName("Abiertos")
                            }
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3" style="text-align: right;">
                        <span><b>Línea:</b></span>
                    </div>
                    <div class="col-sm-9">
                        <span>
                            @if (Model.tblLineaInvestigacion != null)
                            {
                                @Model.tblLineaInvestigacion.Nombre
                            }
                        </span>
                    </div>
                </div>

                <div class="row" style="margin-top:10px;">
                    <div class="col-sm-12">
                        <h5>Bitácora del maestro</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <span><b>Proceso de conformación del grupo:</b></span>
                        <p>@tblrefle.Proceso</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <span><b>Motivación para participar en este proyecto:</b></span>
                        <p>@tblrefle.Motivacion</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <span><b>Reflexión:</b></span>
                        <p>@tblrefle.Reflexion</p>
                    </div>
                </div>

                <div class="row" style="margin-top:10px;">
                    <div class="col-sm-12">
                        <h5>Maestros coinvestigadores</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <table class="table">
                            <tr>
                                <th>Nombre</th>
                                <th>Dirección</th>
                                <th>Rol</th>
                            </tr>
                            @foreach (var item in tblmcoinv)
                            {
                                <tr>
                                    <td>@String.Format("{0} {1}", item.AspNetUsers.Name, item.AspNetUsers.LastName)</td>
                                    <td>@item.AspNetUsers.Address</td>
                                    <td>@item.tblRol.Nombre</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>

                <div class="row" style="margin-top:10px;">
                    <div class="col-sm-12">
                        <h5>Estudiantes investigando</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <table class="table">
                            <tr>
                                <th>Nombre</th>
                                <th>Dirección</th>
                                <th>Rol</th>
                            </tr>
                            @foreach (var item in tblestinv)
                            {
                                <tr>
                                    <td>@String.Format("{0} {1}", item.AspNetUsers.Name, item.AspNetUsers.LastName)</td>
                                    <td>@item.AspNetUsers.Address</td>
                                    <td>@item.tblRol.Nombre</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>

            <div id="bitacora2" class="tab-pane fade">
                <h3>2. Perturbación de las Ondas</h3>
                @{
                                var tblpproyin = new INI.Models.DataBase.tblPreguntaProyectoInvestigacion();
                                var tblpreprin = new INI.Models.DataBase.tblPreguntaInvestigacion();
                                var tblpreinv = new List<INI.Models.DataBase.tblPreguntaInvestigacion>();
                                if (Model.tblPreguntaProyectoInvestigacion.Count() > 0)
                                {
                                    tblpproyin = Model.tblPreguntaProyectoInvestigacion.OrderByDescending(m => m.id).First();
                                }
                                if (Model.tblPreguntaInvestigacion.Count() > 0)
                                {
                                    tblpreprin = Model.tblPreguntaInvestigacion.OrderByDescending(m => m.id).First();
                                    tblpreinv = Model.tblPreguntaInvestigacion.OrderBy(m => m.Consecutivo).ToList();
                                }
                }
                
                <div class="row">
                    <div class="col-sm-4" style="text-align: right;">
                        <span><b>Insignia:</b></span>
                    </div>
                    <div class="col-sm-8">
                        <span>
                            @if (Model.Avatar != null)
                            {
                                <img class="media-object img-rounded" src="~/images/Avatars/@Model.Avatar" style="width: 120px;" />
                            }
                            else
                            {
                                <img class="media-object img-rounded" src="~/images/grupo_noimagen.png" style="width: 120px;" />
                            }
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4" style="text-align: right;">
                        <span><b>Pregunta seleccionada:</b></span>
                    </div>
                    <div class="col-sm-8">
                        <span>
                            @foreach (var item in tblpreinv)
                            {
                                if (item.PreguntaPrincipal) { 
                                    @item.Pregunta
                                }
                            }
                        </span>
                    </div>
                </div>

                <div class="row" style="margin-top:10px;">
                    <div class="col-sm-12">
                        <h5>Preguntas realizadas por los integrantes del grupo:</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div style="padding-left:5px;">
                            @foreach (var item in tblpreinv)
                            {
                                if (!item.PreguntaPrincipal) { 
                                    <p style="margin-bottom:6px;">@item.Pregunta</p>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top:10px;">
                    <div class="col-sm-12">
                        <h5>Información consultada que les permitió cambiar, ampliar o reformular las preguntas iniciales:</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <span>@tblpproyin.InformacionUno</span>
                        <p style="padding-left: 25px; font-size: small;">@tblpproyin.FuenteUno</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <span>@tblpproyin.InformacionDos</span>
                        <p style="padding-left: 25px; font-size: small;">@tblpproyin.FuenteDos</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <span>@tblpproyin.InformacionTres</span>
                        <p style="padding-left: 25px; font-size: small;">@tblpproyin.FuenteTres</p>
                    </div>
                </div>
            </div>

            <div id="bitacora3" class="tab-pane fade">
                <h3>3. Superposición de las Ondas</h3>
                @{
                    var tblprob = new INI.Models.DataBase.tblProblemaInvestigacion();
                    var tblprobmaestro = new INI.Models.DataBase.tblProblemaProyectoInvestigacion();
                    if (Model.tblProblemaInvestigacion.Count() > 0)
                    {
                        tblprob = Model.tblProblemaInvestigacion.OrderByDescending(m => m.id).First();
                    }
                    if (Model.tblProblemaProyectoInvestigacion.Count() > 0)
                    {
                        tblprobmaestro = Model.tblProblemaProyectoInvestigacion.OrderByDescending(m => m.id).First();
                    }

                }
                <div class="row">
                    <div class="col-sm-12">
                        <span><b>Descripción del problema a investigar:</b></span>
                        <p>@tblprob.Descripcion</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <span><b>Importancia de resolver el problema o avanzar en su solución:</b></span>
                        <p>@tblprob.Justificacion</p>
                    </div>
                </div>

                <div class="row" style="margin-top:10px;">
                    <div class="col-sm-12">
                        <h5>Para el maestro</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <span><b>Diferencias entre la forma de pensar de niños y jóvenes sobre la forma de pensar de los adultos:</b></span>
                        <p>@tblprobmaestro.Como</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <span><b>Reflexión:</b></span>
                        <p>@tblprobmaestro.Reflexion</p>
                    </div>
                </div>
            </div>

            <div id="bitacora4" class="tab-pane fade">
                <h3>4. Presupuesto del proyecto</h3>
                @{
                    double sumatoria = 0;
                    var PresupuestoResumido = from p in Model.tblPresupuestoProyectoInvestigacion
                    group p by p.tblRubro.Rubro into g
                    select new
                    {
                        Rubro = g.Key,
                        Total = g.Sum(m => m.Total)
                    };
                }
                    <table class="table striped hovered">
                        <thead>
                            <tr>
                                <th>Rubro</th>
                                <th class="text-right">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var itemPresupuesto in PresupuestoResumido)
                            {
                                <tr>
                                    <td>
                                        @itemPresupuesto.Rubro
                                    </td>
                                    <td class="text-right">
                                        @Html.DisplayFor(item => itemPresupuesto.Total, "Currency")
                                    </td>
                                </tr>
                                sumatoria = sumatoria + itemPresupuesto.Total;
                            }
                            <tr>
                                <td class="text-right">Total presupuesto</td>
                                <td class="text-right">
                                    @String.Format("{0:c}", sumatoria)
                                </td>
                            </tr>
                        </tbody>
                    </table>
            </div>

            <div id="bitacora5" class="tab-pane fade">
                <h3>5. Recorrido trayectorias</h3>
                @{
                            bool ThereIsError = false;
                            INI.Models.DataBase.tblEstadoArteProyectoInvestigacion tblesart = new INI.Models.DataBase.tblEstadoArteProyectoInvestigacion();
                            ICollection<INI.Models.DataBase.tblConceptosEstadoArte> tblconceptos = new List<INI.Models.DataBase.tblConceptosEstadoArte>();
                            try
                            {
                                tblesart = Model.tblEstadoArteProyectoInvestigacion.First();
                                tblconceptos = tblesart.tblConceptosEstadoArte;
                            }
                            catch (Exception)
                            {

                                ThereIsError = true;
                            }
                }

                    @if (!ThereIsError)
                    {
                        <div class="row">
                            <div class="col-sm-4" style="text-align: right;">
                                <span><b>Temas:</b></span>
                            </div>
                            <div class="col-sm-8">
                                <span>@tblesart.TemaInvestigacion</span>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-4" style="text-align: right;">
                                <span><b>&nbsp;</b></span>
                            </div>
                            <div class="col-sm-8">
                                <span><a class="image-button size2" href="~/Upload/@tblesart.MapaConceptual" target="_blank">
                                    Descargar
                                    <i class="icon-download-2 bg-red fg-white"></i>
                                </a></span>
                            </div>
                        </div>
                        
                        <hr />
                        <div class="row" style="padding:0 10px 0 10px;">
                            <div class="listview">
                                @foreach (var conc in tblconceptos)
                                {
                                    <a href="#" class="list">
                                        <div class="list-content">
                                            <img src="~/images/Icon-user.png" class="icon">
                                            <div class="data">
                                                <span class="list-title">@conc.Autor</span>
                                                <p style="font-size:10px;">@conc.Texto</p>
                                                <span class="list-remark">
                                                    Año: @conc.Publicacion.ToString()
                                                </span>
                                            </div>
                                        </div>
                                    </a>
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="notify">
                                <span class="notify-closer"></span>
                                <span class="notify-text">Bitácora vacía</span>
                            </div>
                        </div>
                    }
            </div>

            <div id="bitacora6" class="tab-pane fade">
                <h3>6. Reflexión de la onda</h3>
                @{
                    ThereIsError = false;
                    INI.Models.DataBase.tblReflexionOnda tblrfl = new INI.Models.DataBase.tblReflexionOnda();
                    try
                    {
                        tblrfl = Model.tblReflexionOnda.OrderByDescending(m => m.id).First();
                    }
                    catch
                    {
                        ThereIsError = true;
                    }
                }
                <div class="row">
                    <div class="col-sm-12">
                        <span><b>Introducción:</b></span>
                        <p>@tblrfl.Introduccion</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <span><b>Conformación grupo:</b></span>
                        <p>@tblrfl.ConformacionGrupo</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <span><b>Objetivo de la investigación:</b></span>
                        <p>@tblrfl.ObjetivoInvestigacion</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <span><b>Actividades realizadas:</b></span>
                        <p>@tblrfl.ActividadasRealizadas</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <span><b>Conceptos principales:</b></span>
                        <p>@tblrfl.ConceptosPrincipales</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <span><b>Espacios de participación:</b></span>
                        <p>@tblrfl.EspaciosParticipacion</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <span><b>Conclusiones:</b></span>
                        <p>@tblrfl.Conclusiones</p>
                    </div>
                </div>
            </div>

            <div id="bitacora7" class="tab-pane fade">
                <h3>7. Propagación de la onda</h3>
                @{
                    //string query = "SELECT tblPropagacionGrupo.Descripcion, tblPropagacionGrupo.Archivo, tblTipoFeria.TipoFeria FROM tblPropagacionGrupo, tblTipoFeria WHERE tblPropagacionGrupo.idTipoFeria=tblTipoFeria.id AND idGrupoInvestigacion = " + Model.id + " ORDER BY idTipoFeria ASC";
                    //var resultadovb = db.Database.SqlQuery<tblPropagacionGrupo>(query);
                    
                    var fer = (from pd in db.tblPropagacionGrupo
                               join od in db.tblTipoFeria on pd.idTipoFeria equals od.id
                               where pd.idGrupoInvestigacion == Model.id
                               orderby od.id
                               select new
                               {
                                   od.TipoFeria,
                                   pd.Descripcion,
                                   pd.Archivo,
                               });
                }

                <table class="table">
                    <tr>
                        <th style="min-width:120px;">
                            Tipo
                        </th>
                        <th>
                            Descripción
                        </th>
                        <th style="min-width:100px;">
                            Archivo
                        </th>
                    </tr>
                    @foreach (var item in fer)
                    {
                        <tr>
                            <td>
                                @item.TipoFeria
                            </td>
                            <td>
                                @item.Descripcion
                            </td>
                            <td>
                                <a class="image-button size2" href="~/Upload/@item.Archivo" target="_blank">
                                    Descargar
                                    <i class="icon-download-2 bg-red fg-white"></i>
                                </a>
                            </td>
                        </tr>
                    }
                    @if(!(fer.Count()>0)){
                        <tr>
                            <td>No hay registros</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
}
else{
    <h1>El modelo esta vacio</h1>
}