﻿@model INI.Models.DataBase.MiembrosGrupoCoinvestigador

<table id="CoresearchTeachersTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Nombres")
            </th>
            <th>
                @Html.DisplayName("Apellidos")
            </th>
            <th>
                @Html.DisplayName("Usuario")
            </th>
            <th>
                @Html.DisplayName("Correo")
            </th>
            <th>
                @Html.DisplayName("Invitar")
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
