﻿@model INI.Models.DataBase.UploadFile

<style>
    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 10px;
    }

        .fileUpload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }
</style>

<link href="~/Content/tooltipbootstrap/jquery.webui-popover.css" rel="stylesheet" />

<div class="panel panel-default" style="margin-top:0px;">
    <div class="panel-heading">@(Model.Acceptance ? "Carta de aceptación" : "Carta de compromiso")</div>
    <div class="panel-body">
        @using (Html.BeginForm("UploadFile", "IEP", FormMethod.Post, new { @id = "frmId", enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.ResearchGroupId)
            @Html.HiddenFor(model => model.Acceptance)
            
            <form class="form-horizontal" style="width:500px;">

                <div class="form-group">
                    <label id="" for="FileToUpload" class="col-sm-2 control-label">Archivo <span style="color:red;">*</span></label>
                    <div class="col-sm-10">
                        <div class="fileUpload button" style="background-color: transparent;">
                            <input name="nombre_archivo" id="nombre_archivo" type="text" readonly="readonly" style="width:500px; height:25px;" />
                            <img src="~/images/folder-open-solid.png" />
                            <input type="file" class="upload" name="FileToUpload" id="FileToUpload" data-val-required="El archivo es obligatorio" data-val="true" class="input-validation-error" accept="application/pdf,image/jpeg,image/png,image/gif" data-val-regex-pattern="([a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ\s_\\.\-:])+(.pdf|.png|.jpg|.gif)$" data-val-regex="Solo se admiten archivos .pdf, .jpg, .png o .gif" data-val-length-max="50" data-val-length="Máximo 50 caracteres" data-val="true" data-target="webuiPopover3" aria-invalid="true" aria-describedby="FileToUpload-error" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-offset-2 col-sm-12">
                    <span class="field-validation-valid" style="padding-left:10px; color:red; !important"><span id="prueava"></span></span>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" id="Enviar" name="Enviar" class="button primary" style="margin-top:15px;">Guardar</button>
                        <button id="Cerrar" name="Cerrar" type="button" class="button primary" style="margin-top:15px;">Regresar</button>
                    </div>
                </div>
            </form>
            
            <div style="display:none;">
                <div id="fileuploadm">
                    <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
                    <b><strong>Cuál es el documento de soporte?</strong></b><br /><br />
                    Aquí debes seleccionar un documento de soporte.
                </div>
            </div>
        }
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#Cerrar").click(function () {
            $('#UploadFile').dialog('close');
        });

        var expresion = /([a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ\s_\\.\-:])+(.pdf|.png|.jpg|.gif)$/;
        $("#frmId").submit(function (e) {
            //e.preventDefault();
            if ($('#FileToUpload')[0].files[0].size > 4194304) {
                $("#prueava").html('El tamaño de la imagen no debe sobrepasar 4 MB');
                return false;
            }
            else if (!expresion.test($('#FileToUpload')[0].files[0].name)) {
                $("#prueava").html('Solo se admiten archivos .pdf, .jpg, .png o .gif');
                return false;
            }
            else {
                $("#prueava").html('');
            }
        });

        $('#FileToUpload').bind('change', function () {
            $('#nombre_archivo').val($('input[type = file]').val());
            if (this.files[0].size > 4194304) {
                $("#prueava").html('El tamaño de la imagen no debe sobrepasar 4 MB');
            }
            else if (!expresion.test(this.files[0].name)) {
                $("#prueava").html('Solo se admiten archivos .pdf, .jpg, .png o .gif');
            }
            else {
                $("#prueava").html('');
            }
        });

        $('#Enviar').bind("click", function () {
            var imgVal = $('#FileToUpload').val();
            if (imgVal == '') {
                $("#prueava").html('El archivo es obligatorio');
                return false;
            }
        });
    });
</script>
