﻿@model INI.Models.DataBase.tblGrupoInvestigacion

@using INI.Models.DataBase
@using dl = ClassLibrary

@{
    ViewBag.Title = "Bitacoras";
    Layout = "~/Views/Shared/_LayoutGrupo.cshtml";
    string msj = ViewBag.Message;
    var rol = AspNetUsersRoles.IsUserInRole("Maestro", User.Identity.Name);
    investicEntities db = new investicEntities();
}

<style>
    .content {
        overflow-y: scroll !important;
    }
</style>

<link href="~/Content/tooltipbootstrap/jquery.webui-popover.css" rel="stylesheet" />

@section Style{
    <link href="~/Content/DataTables-1.10.4/css/jquery.dataTables.css" rel="stylesheet" />
}
@Html.HiddenFor(model => model.id)
@Html.HiddenFor(model => model.TipoGrupo)
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        @*<a href="~/IEP/IrAlProyecto/@ViewBag.InfoGrupo.idGrupo">*@
                        <a href="javascript:history.back(1)">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/Home/MenuMaestro">
                                <img src="~/images/botones_ruta_migas/iep/btn_maestro.png" title="Maestro" />
                            </a>
                        }
                        else
                        {
                            <a href="~/Home/MenuEstudiante">
                                <img src="~/images/botones_ruta_migas/iep/btn_estudiantes.png" title="Estudiantes" />
                            </a>
                        }

                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Home/MenuIEP">
                            <img src="~/images/botones_ruta_migas/iep/btn_IEP.png" title="IEP" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/IEP/Index">
                                <img src="~/images/botones_ruta_migas/iep/btn_grupos_a.png" title="Mis Grupos" />
                            </a>
                        }
                        else
                        {
                            <a href="~/IEP/Estudiante">
                                <img src="~/images/botones_ruta_migas/iep/btn_grupos_a.png" title="Mis Grupos" />
                            </a>
                        }
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/IEP/IrAlProyecto/@ViewBag.InfoGrupo.idGrupo">
                            <img src="~/images/botones_ruta_migas/iep/btn_grupo_a.png" title="Mi Grupo" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/iep/btn_mis_bitacoras.png" title="Mis Bitacoras" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<div id="wizard">

    <h1>Estar en la Onda de Ondas</h1>
    <div>
        <div class="grid fluid">
            <div class="row">
                <div class="span6">
                    <strong>
                        INFORMACIÓN INSTITUCIONAL DEL GRUPO
                    </strong>
                </div>
                <div class="span3">
                    @if (Model.TipoGrupo == 1)
                    {
                        ViewBag.Id = Model.id;
                        <a class="button large bg-darkCobalt fg-white" href="/IEP/DocumentosSoporte/@Model.id">
                            Documentos soporte
                        </a>
                    }
                </div>
                @*<div class="span3">
        <button id="lnkNuevaParticipacion" class="btn large bg-darkCobalt fg-white">Participación<br />estudiantes</button>
    </div>*@
            </div>
            <div class="row">
                <div class="span2">
                    @Html.DisplayName("Nombre")
                </div>
                <div class="span10">
                    <strong>
                        @Html.DisplayFor(model => model.Nombre)
                    </strong>
                </div>
            </div>
            <div class="row">
                <div class="span2">
                    @Html.DisplayName("Institución")
                </div>
                <div class="span10">
                    <strong>
                        @Html.DisplayFor(model => model.tblInstitucion.Nombre)
                    </strong>
                </div>
            </div>
            <div class="row">
                <div class="span2">
                    @Html.DisplayName("Municipio")
                </div>
                <div class="span3">
                    <strong>
                        @Html.DisplayFor(model => model.tblInstitucion.tblMunicipios.NombreMunicipio)
                    </strong>
                </div>
                <div class="span2">
                    @Html.DisplayName("Creación")
                </div>
                <div class="span3">
                    <strong>
                        @Html.DisplayFor(model => model.FechaCreacion)
                    </strong>
                </div>
            </div>
            <div class="row">
                <div class="span2">
                    @Html.DisplayName("Tipo")
                </div>
                <div class="span10">
                    @if (Model.tblLineaInvestigacion.Categoria == 1)
                    {
                        <strong>Pre-Esctructruado</strong>
                    }
                    else
                    {
                        <strong>Abierto</strong>
                    }

                </div>
            </div>
            <div class="row">
                <div class="span2">
                    @Html.DisplayName("Línea")
                </div>
                <div class="span10">
                    <strong>
                        @Html.DisplayFor(model => model.tblLineaInvestigacion.Nombre)
                    </strong>
                </div>
            </div>
            <div class="row">
                @{
                    string querypg = "SELECT TOP 1 idGrupoInvestigacion, descripcionParticipacion, archivoParticipacion FROM tblParticipacionGrupo WHERE idGrupoInvestigacion = " + Model.id + " ORDER BY idParticipacion DESC";
                    var resultadopg = db.Database.SqlQuery<tblParticipacionGrupo>(querypg);
                }
                </p>
                @if (resultadopg.Count() > 0)
                {
                    <table class="table">
                        <tr>
                            <th>Participación de estudiantes</th>
                            <th>Archivo</th>
                        </tr>
                        @foreach (var item in resultadopg)
                        {
                            <tr>
                                <td>@item.descripcionParticipacion</td>
                                <td>
                                    <a class="image-button size2" href="~/Upload/@item.idGrupoInvestigacion/@item.archivoParticipacion" target="_blank">
                                        Descargar
                                        <i class="icon-download-2 bg-red fg-white"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </table>
                }
            </div>
            <div class="row">
                <div class="span3 offset2 text-center">
                    @*<a href="/IEP/MaestroCoinvestigador/@Model.id">
                        <img src="/Images/icon-user.png" class="cycle polaroid shadow bd-darkGreen bg-green" style="width: 120px; height:120px;" />
                    </a>*@
                </div>
                <div class="span3 text-center">
                    <a href="/IEP/ParaElMaestro/?idGrupo=@Model.id">
                        <img src="/Images/IEP/libro.png" class="cycle polaroid bg-orange bg-amber shadow" style="width: 120px; height:120px;" />
                    </a>
                </div>
                <div class="span3 text-center">
                    @*<a href="/IEP/MiembroGrupo/@Model.id">
                        <img src="/Images/icon-user.png" class="cycle polaroid bg-darkCobalt bg-cobalt shadow" style="width: 120px; height:120px;" />
                    </a>*@
                </div>
            </div>
            <div class="row">
                <div class="span3 offset2 text-center">
                    @*<strong>Registro maestros coinvestigadores</strong>*@
                </div>
                <div class="span3 text-center">
                    <strong>Bitácora - Para el maestro</strong>
                </div>
                <div class="span3 text-center">
                    @*<strong>Registro estudiantes investigadores</strong>*@
                </div>
            </div>
        </div>
    </div>


    @if (Model.TipoGrupo == 2)
    {
        <h1>Perturbación de la Onda</h1>
        <div>
            <div class="grid fluid">
                @if (Model != null)
                {
                    if (Model.TipoGrupo == 2)
                    {
                        <div class="row">
                            <div class="span12">
                                <strong>
                                    Escriba cinco de las preguntas que formularon los integrantes del grupo de investigación
                                </strong>
                            </div>
                        </div>
                        foreach (var item in Model.tblPreguntaInvestigacion.OrderBy(m => m.Consecutivo))
                        {
                            <div class="row">
                                <div class="span12">
                                    @item.Pregunta
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="span3 offset2 text-center">
                                @*<a href="/IEP/Pregunta/@Model.id">
                                    <img src="~/Images/icon-user.png" class="cycle polaroid bg-darkCobalt bg-cobalt shadow" style="width: 120px; height:120px;" />
                                </a>*@
                            </div>
                            <div class="span3 text-center">
                                <a href="/IEP/PreguntaParaElMaestro?idGrupoInvestigacion=@Model.id">
                                    <img src="~/Images/IEP/libro.png" class="cycle polaroid bg-orange bg-amber shadow" style="width: 120px; height:120px;" />
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3 offset2 text-center">
                                @*<strong>Para el grupo de investigación.</strong>*@
                            </div>
                            <div class="span3 text-center">
                                <strong>Para el maestro.</strong>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

        <h1>Superposición de la onda</h1>
        <div>
            @if (Model != null)
            {
                if (Model.TipoGrupo == 2)
                {
                    <div class="grid fluid">
                        <div class="row">
                            <div class="span12">
                                <strong>
                                    Descripción del problema que se quiere investigar
                                </strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span12">
                                @Model.tblProblemaInvestigacion.First().Descripcion
                            </div>
                        </div>
                        <div class="row">
                            <div class="span12">
                                <strong>
                                    Con base en el punto anterior, justifiquen la importancia de resolver el problema o avanzar en su solucion
                                </strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span12">
                                @Model.tblProblemaInvestigacion.First().Justificacion
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3 offset2 text-center">
                                @*<a href="/IEP/ElProblema?idGrupoInvestigacion=@Model.id">
                                    <img src="/Images/icon-user.png" class="cycle polaroid bg-darkCobalt bg-cobalt shadow" style="width: 120px; height:120px;" />
                                </a>*@
                            </div>
                            <div class="span3 text-center">
                                <a href="/IEP/ElProblemaParaElProfesor?idGrupoInvestigacion=@Model.id">
                                    <img src="~/Images/IEP/libro.png" class="cycle polaroid bg-orange bg-amber shadow" style="width: 120px; height:120px;" />
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3 offset2 text-center">
                                @*<strong>Para el grupo de investigación.</strong>*@
                            </div>
                            <div class="span3 text-center">
                                <strong>Para el maestro.</strong>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>

        <h1>Presupuesto Proyecto</h1>
        <div>
            <h3>Presupuesto</h3>
            @*<button id="lnkPresupuesto" class="button large bg-green">Ingresar presupuesto</button>
            <a href="/IEP/PresupuestoDetallado/@Model.id" class="button large bg-green">Presupuesto Detallado</a>*@
            <hr />
            @if (Model != null)
            {
                double sumatoria = 0;
                var PresupuestoResumido = from p in Model.tblPresupuestoProyectoInvestigacion
                                          group p by p.tblRubro.Rubro into g
                                          select new
                                          {
                                              Rubro = g.Key,
                                              Total = g.Sum(m => m.Total)
                                          };
                if (Model.TipoGrupo == 2)
                {
                    <table class="table striped hovered">
                        <thead>
                            <tr>
                                <th>Rubro</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var itemPresupuesto in PresupuestoResumido)
                            {
                                <tr>
                                    <td>
                                        @itemPresupuesto.Rubro
                                    </td>
                                    <td class="text-right">
                                        @Html.DisplayFor(item => itemPresupuesto.Total, "Currency")
                                    </td>
                                </tr>
                                sumatoria = sumatoria + itemPresupuesto.Total;
                            }

                            <tr>
                                <td class="text-right">Total presupuesto</td>
                                <td class="text-right">
                                    @String.Format("{0:c}", sumatoria)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
            }
        </div>

        <h1>Recorrido trayectorias</h1>
        <div>
            @if (Model != null)
            {
                if (Model.TipoGrupo == 2)
                {
                    if (Model.tblEstadoArteProyectoInvestigacion.Count == 1)
                    {
                        @*<button id="lnkEstadoArte" class="button large bg-green">Estado del arte</button>*@
                        <div class="grid fluid">
                            <div class="row">
                                <div class="span7" style="min-width:100px;"><strong><h3>Recorrido trayectorias</h3></strong></div>
                            </div>
                            <div class="row">
                                <div class="">
                                    <strong>
                                        Tema:
                                    </strong>
                                </div>
                                <div class="span7">
                                    @Html.DisplayFor(model => model.tblEstadoArteProyectoInvestigacion.First().TemaInvestigacion)
                                </div>
                                <div class="span1">
                                    <a class="image-button size2" href="~/Upload/@Model.tblEstadoArteProyectoInvestigacion.FirstOrDefault().MapaConceptual" target="_blank">
                                        Descargar
                                        <i class="icon-download-2 bg-red fg-white"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <hr />

                        @*<button id="lnkConcepto" class="button large bg-green">Agregar concepto</button>*@<span><h3>Concepto:</h3></span>
                        <table class="table">
                        <thead>
                            <tr>
                                <th style="min-width:100px;">Autor</th>
                                <th style="min-width:100px;">Año</th>
                                <th>Descripción</th>
                                
                            </tr>
                            
                        </thead>
                        <tbody>
                        @foreach (var conc in Model.tblEstadoArteProyectoInvestigacion.First().tblConceptosEstadoArte)
                        {
                            <tr>
                                <td>@conc.Autor</td>
                                <td>@conc.Publicacion</td>
                                <td>@conc.Texto</td>
                                    
                            </tr>
                        }
                        </tbody>
                     </table>
                        <hr />
                        @*<button id="lnkInformacion" class="button large bg-green">Agregar información</button>*@<span><h3>Información</h3></span>
                        <table id="tbl_recolinfo">
                            <thead>
                                <tr>
                                    <th style="min-width:120px;">Instrumento</th>
                                    <th style="min-width:200px;">Descripción</th>
                                    <th style="min-width:120px;">Evidencia</th>
                                </tr>

                            </thead>
                            <tbody>
                                @foreach (var infor in Model.tblRecoleccionInformacionProyectoInvestigacion.Where(m => m.idGrupoInvestigacion == Model.id))
                                {
                                    @*@Html.Partial("_Informacion", infor)*@

                                    <tr>
                                        <td>
                                            @Html.Display("  ")@infor.tblHerramientasRecoleccionInformacion.HerramientaRecoleccion
                                        </td>
                                        <td>
                                            @Html.Display("  ")@infor.Descripcion
                                        </td>
                                        <td>
                                            @Html.Display("  ")
                                            <a class="image-button size2" href="~/Upload/@infor.Evidencia" target="_blank">
                                                Descargar
                                                <i class="icon-download-2 bg-red fg-white"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    }
                    else
                    {
                        <button id="lnkEstadoArte" class="button large bg-green">Estado del arte</button>
                    }
                }
            }
        </div>

        <h1>Reflexión de la Onda</h1>

            tblReflexionOnda tblrfl = new tblReflexionOnda();
            if (Model.tblReflexionOnda.Count > 0)
            {
                tblrfl = Model.tblReflexionOnda.OrderByDescending(m => m.id).First();
            }



            <div>
                <h4>Reflexión de la Onda</h4>
                <form action="/IEP/AgregarReflexionDeLaOnda" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="idGrupoInvestigacion" name="idGrupoInvestigacion" value="@Model.id" />

                    <div class="row">
                        <div class="span11">


                            @*<strong>
                                    <label for="">1. Escribe la Introducción</label>
                                </strong>*@


                            <div class="span2 text-right">


                                <div style="margin: auto; width: 175px;">


                                    <strong onmouseover="tooltip.pop(this, '#Introduccion', { sticky: true })">
                                        <label for="">1. Escribe la Introducción</label>
                                    </strong>


                                    <div style="display:none;">
                                        <div id="Introduccion">
                                            <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
                                            <b><strong>¿Cuál es la introducción?</strong></b><br /><br />
                                            Este campo es obligatorio. Aquí debes ingresar una introducción.
                                        </div>
                                    </div>
                                </div>


                            </div>



                        </div>
                    </div>
                    <div class="row">
                        <div class="input-control textarea">
                            <textarea cols="20" id="Introduccion" name="Introduccion" rows="2" required="required" maxlength="500" title="Ingrese una Introducción">@tblrfl.Introduccion</textarea>
                            <span class="field-validation-valid" data-valmsg-for="Introduccion" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span12">


                            @*<strong>
                                    <label for="">2. Estar en la onda de Ondas</label><br>
                                    <label for="">2.1. Como se conformó el grupo?</label>
                                </strong>*@
                            <strong>
                                <label for="">2. Estar en la onda de Ondas</label>
                            </strong><br>
                            <div class="span2 text-right">


                                <div style="margin: auto; width: 261px;">


                                    <strong onmouseover="tooltip.pop(this, '#g', { sticky: true })">

                                        <label for="">2.1. ¿Cómo se conformó el grupo?</label>
                                    </strong>


                                    <div style="display:none;">
                                        <div id="g">
                                            <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
                                            <b><strong>¿Cómo se conformó el grupo?</strong></b><br /><br />
                                            Este campo es obligatorio. Aquí debes explicar cómo se conformo el grupo.
                                        </div>
                                    </div>
                                </div>


                            </div>








                        </div>
                    </div>
                    <div class="row">
                        <div class="input-control textarea" onmouseover="tooltip.pop(this, '#g', { sticky: true })">
                            <textarea cols="20" id="ConformacionGrupo" name="ConformacionGrupo" rows="2" required="required" maxlength="500" title="Ingrese como se conformo el grupo">@tblrfl.ConformacionGrupo</textarea>
                            <span class="field-validation-valid" data-valmsg-for="ConformacionGrupo" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span12">


                            @*<strong>
                                    <label for="">2.2. Diseño de la trayectoria de la indagación</label><br>
                                    <label for="">Escriba el objetivo de la investigación</label>
                                </strong>*@



                            <strong>
                                <label for="">2.2. Diseño de la trayectoria de la indagación</label>
                            </strong><br>
                            <div class="span2 text-right">


                                <div style="margin: auto; width: 261px;">


                                    <strong onmouseover="tooltip.pop(this, '#inv', { sticky: true })">

                                        <label for="">Escriba el objetivo de la investigación</label>
                                    </strong>


                                    <div style="display:none;">
                                        <div id="inv">
                                            <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
                                            <b><strong>¿Cuál es el objetivo de la investigación?</strong></b><br /><br />
                                            Este campo es obligatorio. Aquí debes ingresar el objetivo de la investigación.
                                        </div>
                                    </div>
                                </div>


                            </div>





                        </div>
                    </div>
                    <div class="row">
                        <div class="input-control textarea" onmouseover="tooltip.pop(this, '#inv', { sticky: true })">
                            <textarea cols="20" id="ObjetivoInvestigacion" name="ObjetivoInvestigacion" rows="2" required="required" maxlength="500" title="Ingrese objetivo de la investigación">@tblrfl.ObjetivoInvestigacion</textarea>
                            <span class="field-validation-valid" data-valmsg-for="ObjetivoInvestigacion" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span11">



                            @*<strong>
                                    <label for="">2.3. Recorrido de las trayectorias</label><br>
                                    <label for="">Escriba las actividades realizadas</label>
                                </strong>*@


                            <strong>
                                <label for="">2.3. Recorrido de las trayectorias</label>
                            </strong><br>
                            <div class="span2 text-right">


                                <div style="margin: auto; width: 232px;">


                                    <strong onmouseover="tooltip.pop(this, '#realizadas', { sticky: true })">

                                        <label for="">Escriba las actividades realizadas</label>
                                    </strong>


                                    <div style="display:none;">
                                        <div id="realizadas">
                                            <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
                                            <b><strong>¿Cuáles son las actividades realizadas?</strong></b><br /><br />
                                            Este campo es obligatorio. Aquí debes ingresar las actividades realizadas.
                                        </div>
                                    </div>
                                </div>


                            </div>



                        </div>
                    </div>
                    <div class="row">
                        <div class="input-control textarea" onmouseover="tooltip.pop(this, '#realizadas', { sticky: true })">
                            <textarea cols="20" id="ActividadasRealizadas" name="ActividadasRealizadas" rows="2" required="required" maxlength="500" title="Ingrese las actividades realizadas">@tblrfl.ActividadasRealizadas</textarea>
                            <span class="field-validation-valid" data-valmsg-for="ActividadasRealizadas" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span12">



                            @*<strong>
                                    <label for="">3. Reflexión de la Onda</label><br>
                                    <label for="">Escriba los conceptos principales</label>
                                </strong>*@


                            <strong>
                                <label for="">3. Reflexión de la Onda</label>
                            </strong><br>
                            <div class="span2 text-right">


                                <div style="margin: auto; width: 232px;">


                                    <strong onmouseover="tooltip.pop(this, '#principales', { sticky: true })">

                                        <label for="">Escriba los conceptos principales</label>
                                    </strong>


                                    <div style="display:none;">
                                        <div id="principales">
                                            <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
                                            <b><strong>¿Cuáles son los conceptos principales?</strong></b><br /><br />
                                            Este campo es obligatorio. Aquí debes ingresar los conceptos principales.
                                        </div>
                                    </div>
                                </div>


                            </div>




                        </div>
                    </div>
                    <div class="row">
                        <div class="input-control textarea" onmouseover="tooltip.pop(this, '#principales', { sticky: true })">
                            <textarea cols="20" id="ConceptosPrincipales" name="ConceptosPrincipales" rows="2" required="required" maxlength="500" title="Ingrese tus conceptos principaless">@tblrfl.ConceptosPrincipales</textarea>
                            <span class="field-validation-valid" data-valmsg-for="ConceptosPrincipales" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span12">



                            @*<strong>
                                    <label for="">3.1. Reflexión de la Onda</label><br>
                                    <label for="">Escriba los espacios de participación</label>
                                </strong>*@


                            <div class="span2 text-right">


                                <div style="margin: auto; width: 254px;">


                                    <strong onmouseover="tooltip.pop(this, '#participacion', { sticky: true })">

                                        <label for="">Escriba los espacios de participación</label>
                                    </strong>


                                    <div style="display:none;">
                                        <div id="participacion">
                                            <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
                                            <b><strong>¿Cuál es tu participación?</strong></b><br /><br />
                                            Este campo es obligatorio. Aquí debes ingresar una participación.
                                        </div>
                                    </div>
                                </div>


                            </div>






                        </div>
                    </div>
                    <div class="row">
                        <div class="input-control textarea" onmouseover="tooltip.pop(this, '#participacion', { sticky: true })">
                            <textarea cols="20" id="EspaciosParticipacion" name="EspaciosParticipacion" rows="2" required="required" maxlength="500" title="Ingrese su Espacios participación">@tblrfl.EspaciosParticipacion</textarea>
                            <span class="field-validation-valid" data-valmsg-for="EspaciosParticipacion" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="span11">



                            @*<strong>
                                    <label for="">4. Conclusiones</label>
                                </strong>*@



                            <div class="span2 text-right">


                                <div style="margin: auto; width: 108px;">


                                    <strong onmouseover="tooltip.pop(this, '#Conclusiones', { sticky: true })">

                                        <label for="">4. Conclusiones</label>
                                    </strong>


                                    <div style="display:none;">
                                        <div id="Conclusionesbm">
                                            <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
                                            <b><strong>¿Cuáles son tus conclusiones?</strong></b><br /><br />
                                            Este campo es obligatorio. Aquí debes ingresar algunas conclusiones.
                                        </div>
                                    </div>
                                </div>


                            </div>







                        </div>
                    </div>
                    <div class="row">
                        <div class="input-control textarea" onmouseover="tooltip.pop(this, '#Conclusiones', { sticky: true })">
                            <span id="pruebita">
                                <textarea cols="20" id="Conclusiones" name="Conclusiones" rows="2" required="required" maxlength="500" title="Ingrese su Conclusiones">@tblrfl.Conclusiones</textarea>
                                <span class="field-validation-valid" data-valmsg-for="Conclusiones" data-valmsg-replace="true"></span>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span6">
                            
                        </div>
                    </div>
                </form>


            </div>

            <h1>Propagación de la Onda</h1>

            var grpprop = Model.tblPropagacionGrupo.GroupBy(g => g.idTipoFeria);
            ViewBag.idTipoFeria = new SelectList(db.tblTipoFeria, "id", "TipoFeria");

            <div>
                <h2>Ferias</h2>
                @*<button id="lnkFerInstitucional" class="button bg-green">Feria Institucional</button>*@

                <p>
                    @*@Html.ActionLink("Create New", "Create")*@
                    @*<button id="lnkNuevaPropagacion" class="button large bg-green">Agregar</button>*@
                </p>
                @foreach (var grp in grpprop)
                {
                    <strong><label>@grp.First().tblTipoFeria.TipoFeria</label></strong>

                    <table class="table">
                        <tr>
                            <th>
                                Descripción
                            </th>
                            <th style="min-width:125px;">
                                Archivo
                            </th>
                            @*<th>

                                </th*@>
                        </tr>

                        @foreach (var item in grp)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Descripcion)
                                </td>
                                <td>
                                    <a class="image-button size2" href="~/Upload/@item.Archivo" target="_blank">
                                        Descargar
                                        <i class="icon-download-2 bg-red fg-white"></i>
                                    </a>
                                </td>
                                @*<td>
                                        @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                                        @Html.ActionLink("Details", "Details", new { id=item.id }) |
                                        @Html.ActionLink("Delete", "Delete", new { id=item.id })
                                    </td>*@
                            </tr>
                        }

                    </table>
                }

                @*@{
                        var feriaInstitucional = Model.tblPropagacionGrupo.Where(m => m.idTipoFeria == 1);
                        if (feriaInstitucional.Count() > 0)
                        {
                            Html.RenderPartial("_ImagenesGrupo", feriaInstitucional);
                        }
                    }*@
            </div>

            <h1>Resumen del proyecto</h1>

            <div>
                <div>
                    <p>
                        @*<button id="lnkNuevaValoracion" class="button large bg-green">Agregar valoración</button>*@<span><h3>Valoración</h3></span>
                        @{
                string query = "SELECT TOP 1 idGrupoInvestigacion, descripcionValoracion, archivoValoracion FROM tblValoracionBitacora ORDER BY idValoracion DESC";
                var resultadovb = db.Database.SqlQuery<tblValoracionBitacora>(query);
                        }
                    </p>
                    @if (resultadovb.Count() > 0)
                    {
                        <table class="table">
                            <tr>
                                <th>Descripción</th>
                                <th>Archivo</th>
                            </tr>
                            @foreach (var item in resultadovb)
                            {
                                <tr>
                                    <td>@item.descripcionValoracion</td>
                                    <td>
                                        <a class="image-button size2" href="~/Upload/@item.idGrupoInvestigacion/@item.archivoValoracion" target="_blank">
                                            Descargar
                                            <i class="icon-download-2 bg-red fg-white"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                </div>

                <div>
                    <button id="btn_bitresumen" class="btn large primary">Resumen</button><a href="/Home/ReporteProyectoInvestigacion2/@Model.id" class="button large primary" style="float:right;">Descargar resumen</a>
                    <div id="tabs_resumen" style="display:none">
                        @Html.Partial("~/Views/IEP/_ResumenIEP.cshtml", Model)
                    </div>
                </div>
            </div>

    }
</div>

@if (Model.TipoGrupo == 2)
{
    <div id="ingresar-presupuesto">
        @{
    tblPresupuestoProyectoInvestigacion tblpresupuesto = new tblPresupuestoProyectoInvestigacion();
    if (Model != null)
    {
        tblpresupuesto.idGrupoInvestigacion = Model.id;
    }
    ViewBag.idRubro = new SelectList(db.tblRubro, "id", "Rubro");
    Html.RenderPartial("_AgregarPresupuesto", tblpresupuesto);
        }
    </div>
    <div id="ingresar-estado-arte">
        @{
    tblEstadoArteProyectoInvestigacion tblestadoarte = new tblEstadoArteProyectoInvestigacion();
    if (Model != null)
    {
        tblestadoarte.idGrupoInvestigacion = Model.id;
    }
    Html.RenderPartial("_AgregarEstadoArte", tblestadoarte);
        }
    </div>
    <div id="ingresar-conceptos-principales">
        @{
    tblConceptosEstadoArte tblconcepto = new tblConceptosEstadoArte();
    if (Model != null)
    {
        if (Model.tblEstadoArteProyectoInvestigacion.Count == 1)
        {
            tblconcepto.idEstadoArte = Model.tblEstadoArteProyectoInvestigacion.First().id;
        }
    }
    Html.RenderPartial("_AgregarConcepto", tblconcepto);
        }
    </div>
    <div id="ingresar-informacion">
        @{
    tblRecoleccionInformacionProyectoInvestigacion tblinformacion = new tblRecoleccionInformacionProyectoInvestigacion();
    if (Model != null)
    {
        tblinformacion.idGrupoInvestigacion = Model.id;
    }
    ViewBag.idInstrumento = new SelectList(db.tblHerramientasRecoleccionInformacion, "id", "HerramientaRecoleccion");
    Html.RenderPartial("_RecoleccionInformacion", tblinformacion);
        }
    </div>
    <div id="ingresar-feria-institucional">
        @{
    tblPropagacionGrupo tblFeriaInstitucional = new tblPropagacionGrupo();
    tblFeriaInstitucional.id = 0;
    tblFeriaInstitucional.idGrupoInvestigacion = Model.id;
    tblFeriaInstitucional.idTipoFeria = 1;
    Html.RenderPartial("_CargarImagenesFerias", tblFeriaInstitucional);
        }
    </div>

    @*Propagación*@
    <div id="pr-insertar">
        @{
    tblPropagacionGrupo tblpro = new tblPropagacionGrupo();
    tblpro.id = 0;
    tblpro.idGrupoInvestigacion = Model.id;
    tblpro.idTipoFeria = 1;
    Html.RenderPartial("_NuevaPropagacion", tblpro);
        }
    </div>

    <div id="valoracion-insertar">
        @{
    tblValoracionBitacora tblValoracionBitacora = new tblValoracionBitacora();
    tblValoracionBitacora.idValoracion = 0;
    tblValoracionBitacora.idGrupoInvestigacion = Model.id;
    Html.RenderPartial("_CargarValoracionBitacora", tblValoracionBitacora);
        }
    </div>

    <!-- Botón que activa el panel -->
    <a href="#" id="abre_tab">
        <div id="tab">
            <div id="tab_interna">
            </div>
        </div>
    </a>
}

<div id="participacion-insertar">
    @{
        tblParticipacionGrupo tblParticipacionGrupo = new tblParticipacionGrupo();
        tblParticipacionGrupo.idParticipacion = 0;
        tblParticipacionGrupo.idGrupoInvestigacion = Model.id;
        Html.RenderPartial("_CargarParticipacionGrupo", tblParticipacionGrupo);
    }
</div>

<!-- Panel oculto -->
<div class="panel_lateral" style="display: none;">
    <div class="contenido">
        @{
            ViewBag.IdGrupo = Model.id;
            Html.RenderPartial("_ListaComentarios", Model.tblComentarioGrupo.Where(m => m.Aprobado.Value));
        }
    </div>
</div>



@section scripts {
    <link href="~/Content/Investic/Comentarios.css" rel="stylesheet" />

    @Styles.Render("~/Content/csswizard")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/iepwizard")
    <script src="~/Scripts/metro-ui/metro.min.js"></script>
    @*<script src="~/Scripts/Investic/BinnacleTwo.js"></script>*@
    <script>
        $(function () {
            $('#btn_bitresumen').click(function () {
                $('#tabs_resumen').slideDown();
            });
            $('#tbl_recolinfo').dataTable({
                "sPaginationType": "full_numbers",
                "oLanguage": {
                    "sUrl": "../../Lang/es-CO.txt"
                }
            });
        });
    </script>

    <script>
        $('input').attr('readonly', true);
        $('textarea').attr('readonly', true);
        $('select').attr('readonly', true);
    </script>

    <script src="~/Scripts/tooltipbootstrap/jquery.webui-popover.js"></script>
    <script>
        $('#idRubro').webuiPopover({ url: '#idRubrom', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#ValorRubro').webuiPopover({ url: '#ValorRubrom', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#ValorUnitario').webuiPopover({ url: '#ValorUnitariom', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#Total').webuiPopover({ url: '#Totalm', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#DescripcionGasto').webuiPopover({ url: '#DescripcionGastom', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#TemaInvestigacion').webuiPopover({ url: '#TemaInvestigacionm', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#MapaConceptual').webuiPopover({ url: '#MapaConceptualm', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });

        $('#pruebita').webuiPopover({ url: '#Conclusionesbm', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });

        $('#Archivoferia').webuiPopover({ url: '#Archivoferiam', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#idTipoFeriaferia').webuiPopover({ url: '#idTipoFeriaferiam', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#Descripcionferia').webuiPopover({ url: '#Descripcionferiam', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });

        $('#Autor').webuiPopover({ url: '#Autorm', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#Publicacion').webuiPopover({ url: '#Aniom', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#Texto').webuiPopover({ url: '#Textom', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });

        $('#idInstrumento').webuiPopover({ url: '#Instrumentorecinfom', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#Descripcion').webuiPopover({ url: '#Descripcionrecinfom', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#Evidencia').webuiPopover({ url: '#Evidenciarecinfom', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });

        $('#descripcionValoracion').webuiPopover({ url: '#descripcionValoracionm', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#archivoValoracion').webuiPopover({ url: '#archivoValoracionm', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });

        $('#descripcionParticipacion').webuiPopover({ url: '#descripcionParticipacionm', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#archivoParticipacion').webuiPopover({ url: '#archivoParticipacionm', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
    </script>

    <script>
        $(document).ready(function () {
            // Presupuesto
            $("#Cerrar").click(function () {
                $('#ingresar-presupuesto').dialog('close');
                $('#ingresar-estado-arte').dialog('close');
            });


            // Estado del arte
            $("#CerrarEstadoArte").click(function () {
                $('#ingresar-estado-arte').dialog('close');
            });

            var expresion = /([a-zA-Z0-9\s_\\.\-:])+(.pdf|.jpg)$/;
            $("#frmIdEstadoArte").submit(function (e) {
                if ($('#MapaConceptual')[0].files[0].size > 4194304) {
                    $("#prueavaEstadoArte").html('El tamaño del archivo no debe sobrepasar 4 MB');
                    return false;
                }
                else if (!expresion.test($('#MapaConceptual')[0].files[0].name)) {
                    $("#prueavaEstadoArte").html('Solo se admiten archivos .pdf o .jpg');
                    return false;
                }
                else {
                    $("#prueavaEstadoArte").html('');
                }
            });

            $('#MapaConceptual').bind('change', function () {
                if (this.files[0].size > 4194304) {
                    $("#prueavaEstadoArte").html('El tamaño del archivo no debe sobrepasar 4 MB');
                }
                else if (!expresion.test(this.files[0].name)) {
                    $("#prueavaEstadoArte").html('Solo se admiten archivos .pdf o .jpg');
                }
                else {
                    $("#prueavaEstadoArte").html('');
                }
            });

            $('#enviarMapaConceptual').bind("click", function () {
                var imgVal = $('#MapaConceptual').val();
                if (imgVal == '') {
                    $("#prueavaEstadoArte").html('El archivo es obligatorio');
                    return false;
                }
            });

            // Concepto
            $("#CerrarConcepto").click(function () {
                $('#ingresar-conceptos-principales').dialog('close');
            });

            // Información
            $("#CerrarInformacion").click(function () {
                $('#ingresar-informacion').dialog('close');
            });

            var expresion = /([a-zA-Z0-9\s_\\.\-:])+(.pdf|.jpg)$/;
            $("#frmIdInformacion").submit(function (e) {
                if ($('#Evidencia')[0].files[0].size > 4194304) {
                    $("#prueavaInformacion").html('El tamaño del archivo no debe sobrepasar 4 MB');
                    return false;
                }
                else if (!expresion.test($('#Evidencia')[0].files[0].name)) {
                    $("#prueavaInformacion").html('Solo se admiten archivos .pdf o .jpg');
                    return false;
                }
                else {
                    $("#prueavaInformacion").html('');
                }
            });

            $('#Evidencia').bind('change', function () {
                if (this.files[0].size > 4194304) {
                    $("#prueavaInformacion").html('El tamaño del archivo no debe sobrepasar 4 MB');
                }
                else if (!expresion.test(this.files[0].name)) {
                    $("#prueavaInformacion").html('Solo se admiten archivos .pdf o .jpg');
                }
                else {
                    $("#prueavaInformacion").html('');
                }
            });

            $('#enviarInformacion').bind("click", function () {
                var imgVal = $('#Evidencia').val();
                if (imgVal == '') {
                    $("#prueavaInformacion").html('El archivo es obligatorio');
                    return false;
                }
            });

            // Ferias
            $("#CerrarFerias").click(function () {
                $('#pr-insertar').dialog('close');
            });

            var expresion = /([a-zA-Z0-9\s_\\.\-:])+(.pdf|.png|.jpg)$/;
            $("#frmIdFeria").submit(function (e) {
                if ($('.ArchivoFeria')[0].files[0].size > 4194304) {
                    $("#prueavaFeria").html('El tamaño del archivo no debe sobrepasar 4 MB');
                    return false;
                }
                else if (!expresion.test($('.ArchivoFeria')[0].files[0].name)) {
                    $("#prueavaFeria").html('Solo se admiten archivos .pdf o .jpg');
                    return false;
                }
                else {
                    $("#prueavaFeria").html('');
                }
            });

            $('.ArchivoFeria').bind('change', function () {
                if (this.files[0].size > 4194304) {
                    $("#prueavaFeria").html('El tamaño del archivo no debe sobrepasar 4 MB');
                }
                else if (!expresion.test(this.files[0].name)) {
                    $("#prueavaFeria").html('Solo se admiten archivos .pdf, .png o .jpg');
                }
                else {
                    $("#prueavaFeria").html('');
                }
            });

            $('#enviarFeria').bind("click", function () {
                var imgVal = $('.ArchivoFeria').val();
                if (imgVal == '') {
                    $("#prueavaFeria").html('El archivo es obligatorio');
                    return false;
                }
            });

            // Valoración
            $("#CerrarValoracion").click(function () {
                $('#valoracion-insertar').dialog('close');
            });

            var expresion = /([a-zA-Z0-9\s_\\.\-:])+(.pdf)$/;
            $("#frmIdValoracion").submit(function (e) {
                if ($('#archivoValoracion')[0].files[0].size > 4194304) {
                    $("#prueavaValoracion").html('El tamaño del archivo no debe sobrepasar 4 MB');
                    return false;
                }
                else if (!expresion.test($('#archivoValoracion')[0].files[0].name)) {
                    $("#prueavaValoracion").html('Solo se admiten archivos .pdf');
                    return false;
                }
                else {
                    $("#prueavaValoracion").html('');
                }
            });

            $('#archivoValoracion').bind('change', function () {
                if (this.files[0].size > 4194304) {
                    $("#prueavaValoracion").html('El tamaño del archivo no debe sobrepasar 4 MB');
                }
                else if (!expresion.test(this.files[0].name)) {
                    $("#prueavaValoracion").html('Solo se admiten archivos .pdf');
                }
                else {
                    $("#prueavaValoracion").html('');
                }
            });

            $('#enviarValoracion').bind("click", function () {
                var imgVal = $('#archivoValoracion').val();
                if (imgVal == '') {
                    $("#prueavaValoracion").html('El archivo es obligatorio');
                    return false;
                }
            });

            // Participación
            $("#CerrarParticipacion").click(function () {
                $('#participacion-insertar').dialog('close');
            });

            var expresionpg = /([a-zA-Z0-9\s_\\.\-:])+(.pdf)$/;
            $("#frmIdParticipacion").submit(function (e) {
                if ($('#archivoParticipacion')[0].files[0].size > 4194304) {
                    $("#prueavaParticipacion").html('El tamaño del archivo no debe sobrepasar 4 MB');
                    return false;
                }
                else if (!expresionpg.test($('#archivoParticipacion')[0].files[0].name)) {
                    $("#prueavaParticipacion").html('Solo se admiten archivos .pdf');
                    return false;
                }
                else {
                    $("#prueavaValoracion").html('');
                }
            });

            $('#archivoParticipacion').bind('change', function () {
                if (this.files[0].size > 4194304) {
                    $("#prueavaParticipacion").html('El tamaño del archivo no debe sobrepasar 4 MB');
                }
                else if (!expresionpg.test(this.files[0].name)) {
                    $("#prueavaParticipacion").html('Solo se admiten archivos .pdf');
                }
                else {
                    $("#prueavaParticipacion").html('');
                }
            });

            $('#enviarParticipacion').bind("click", function () {
                var imgVal = $('#archivoParticipacion').val();
                if (imgVal == '') {
                    $("#prueavaParticipacion").html('El archivo es obligatorio');
                    return false;
                }
            });
        });
    </script>
}
