﻿@model IEnumerable<INI.Models.DataBase.tblComentarioGrupo>

@using INI.Models.DataBase
@using dl = ClassLibrary

@{
    Layout = "~/Views/Shared/_LayoutGrupo.cshtml";
    ViewBag.Title = "Comentarios del Proyecto";
    string msj = ViewBag.Message;
    int idGrupoInvestigacion = (int)ViewBag.idGrupoinvestigacion;    
    var idUsuario = AspNetUsers.GetUserId(User.Identity.Name);
    var rol = AspNetUsersRoles.IsUserInRole("Maestro", User.Identity.Name);
    bool esCreador = tblGrupoInvestigacion.Find(idGrupoInvestigacion).idUsuario.Equals(idUsuario);
    investicEntities db = new investicEntities();
}
                      <div id="ruta_miga">
                          <table>
                              <tr>
                                  <td rowspan="2">
                                      <ul id="img_fijos">
                                          <li>
                                              @*<a href="~/IEP/IrAlProyecto/@ViewBag.idGrupoinvestigacion">*@
                                              <a href="javascript:history.back(1)">
                                                  <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                                              </a>
                                          </li>
                                      </ul>
                                  </td>
                                  <td>
                                      <ul>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                                          </li>
                                      </ul>

                                  </td>
                              </tr>

                              <tr>
                                  <td>
                                      <ul id="img_variables">
                                          <li>
                                              <a href="~/Home">
                                                  <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              @if (rol == true)
                                              {
                                                  <a href="~/Home/MenuMaestro">
                                                      <img src="~/images/botones_ruta_migas/iep/btn_maestro.png" title="Maestro" />
                                                  </a>
                                              }
                                              else
                                              {
                                                  <a href="~/Home/MenuEstudiante">
                                                      <img src="~/images/botones_ruta_migas/iep/btn_estudiantes.png" title="Estudiantes" />
                                                  </a>
                                              }

                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              <a href="~/Home/MenuIEP">
                                                  <img src="~/images/botones_ruta_migas/iep/btn_IEP.png" title="IEP" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              @if (rol == true)
                                              {
                                                  <a href="~/IEP/Index">
                                                      <img src="~/images/botones_ruta_migas/iep/btn_grupos_a.png" title="Mis Grupos" />
                                                  </a>
                                              }
                                              else
                                              {
                                                  <a href="~/IEP/Estudiante">
                                                      <img src="~/images/botones_ruta_migas/iep/btn_grupos_a.png" title="Mis Grupos" />
                                                  </a>
                                              }
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              <a href="~/IEP/IrAlProyecto/@ViewBag.idGrupoinvestigacion">
                                                  <img src="~/images/botones_ruta_migas/iep/btn_grupo_a.png" title="Mi Grupo" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/iep/btn_comentario.png" title="Comentario" />
                                          </li>
                                      </ul>
                                  </td>
                              </tr>
                          </table>
                      </div>
<p>
    <button id="lnkCrearForo" class="btn primary" onclick="javascript: Comentar();">Agregar Comentario</button>
</p>

<table id="ComentariosProyecto" class="table striped hovered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comentario)
            </th>
            <th>
                @Html.DisplayName("Nombre")
            </th>
            <th>
                @Html.DisplayName("Estado")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Comentario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUsers.Name) &nbsp; @Html.DisplayFor(modelItem => item.AspNetUsers.SureName)
                </td>
                <td>
                    @{
                        string aprobado = "No Aprobado";
                        if (item.Aprobado.Value)
                        {
                            aprobado = "Aprobado";
                        }
                    }
                    @aprobado
                </td>
                <td class="text-right" style="width:130px;">
                    @{
                        if (esCreador) { 
                            <a href="/IEP/AprobarComentario/@item.id" title="Aprobar">Aprobar</a>
                            <span>&nbsp;|&nbsp;</span>
                            <a href="#" onclick="javascript:DeleteComentario('@item.id')" title="Eliminar">Eliminar</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>

</table>



<div id="nuevo-foro">
    @{
        tblComentarioGrupo tblComentario = new tblComentarioGrupo();
        tblComentario.idGrupo = idGrupoInvestigacion;
        tblComentario.UserId = AspNetUsers.GetUserId(User.Identity.Name);
        tblComentario.Aprobado = false;
        Html.RenderPartial("_CrearComentario", tblComentario);
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")    
    <script src="~/Scripts/DataTables-1.10.3/media/js/jquery.dataTables.js"></script>
    <script src="~/Scripts/Investic/iep-0.1.comentarioproyecto.js"></script>
    <script>
        AlertMessage('@msj');
    </script>
    <script src="~/Scripts/tooltipbootstrap/jquery.webui-popover.js"></script>
    <script>
        $('#Comentario').webuiPopover({ url: '#Comentarioa', trigger: 'hover', style: 'inverse', placement: 'top' });
        $('#Comentarioe').webuiPopover({ url: '#Comentarioae', trigger: 'hover', style: 'inverse', placement: 'top' });
    </script>
    <script>
        $(document).ready(function () {
            $("#Cerrar").click(function () {
                $('#nuevo-foro').dialog('close');
            });
        });
    </script>
}

