﻿@model INI.Models.DataBase.tblMaestroCoInvestigador
<link href="~/Content/tooltipbootstrap/jquery.webui-popover.css" rel="stylesheet" />
@{
    ViewBag.Title = "Maestro Investigador";
    Layout = "~/Views/Shared/_InvIEP.cshtml";
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/Home/MenuIEP">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                            <a href="~/Home/MenuMaestro">
                                <img src="~/images/botones_ruta_migas/iep/btn_maestro.png" title="Maestro" />
                            </a>

                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Home/MenuIEP">
                            <img src="~/images/botones_ruta_migas/iep/btn_IEP.png" title="IEP" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/iep/btn_crear_maestro.png" title="" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
 
<style>
    label, input, select {
        margin-top: 7px;
    }
</style>

<h2>@ViewBag.Title</h2>

<div class="panel panel-default" style="margin-top:95px;">
    <div class="panel-heading"><strong>Crear Maestro</strong></div>
    <div class="panel-body">
        @using (Html.BeginForm("CrearMaestro", "IEP"))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.id)
            @Html.HiddenFor(model => model.idUsuario)
            @Html.HiddenFor(model => model.idInstitucion)

            <form class="form-horizontal" style="width:500px;">
                <div class="form-group">
                    <label id="idAreaConocimientoe" for="idAreaConocimiento" class="col-sm-2 control-label">Área conocimiento <span style="color:red;">*</span></label>
                    <div class="col-sm-6">
                        @Html.DropDownListFor(model => model.idAreaConocimiento, null, "Seleccionar área", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.idAreaConocimiento, String.Empty, new { @style = "color:red;!important" })
                    </div>
                    <label id="TiempoOndase" for="TiempoOndas" class="col-sm-2 control-label">Tiempo en ondas </label>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(model => model.TiempoOndas, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TiempoOndas, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                    </div>
                </div>

                <div class="form-group">
                    <label id="Institutione" for="Institution" class="col-sm-2 control-label">Institución <span style="color:red;">*</span></label>
                    <div class="col-sm-10">
                        <!-- data-val-required="El Nombre es obligatorio" data-val-regex-pattern="^[a-zA-Z ñáéíóúÁÉÍÓÚÑ]+$" data-val-regex="Carácter no valido para Nombre" data-val-length-max="150" data-val-length="Máximo 150 caracteres" data-val="true" -->
                        @Html.TextBoxFor(model => model.Institution, new { @class = "form-control", placeholder = "Escribe el nombre de la Institución Educativa" })
                        @Html.ValidationMessageFor(model => model.Institution, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <label id="Pregradoe" for="Pregrado" class="col-sm-2 control-label">Pregrado <span style="color:red;">*</span></label>
                    <div class="col-sm-10">
                        @Html.EditorFor(model => model.Pregrado, new { htmlAttributes = new { @class = "form-control", placeholder = "Escribe el título de pregrado" } })
                        @Html.ValidationMessageFor(model => model.Pregrado, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <label id="Postgradoe" for="Postgrado" class="col-sm-2 control-label">Postgrado </label>
                    <div class="col-sm-10">
                        @Html.EditorFor(model => model.Postgrado, new { htmlAttributes = new { @class = "form-control", placeholder = "Escribe el título de postgrado" } })
                        @Html.ValidationMessageFor(model => model.Postgrado, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <label id="Otroe" for="Otro" class="col-sm-2 control-label">Otro estudio </label>
                    <div class="col-sm-10">
                        @Html.EditorFor(model => model.Otro, new { htmlAttributes = new { @class = "form-control", placeholder = "Escribe otro estudio" } })
                        @Html.ValidationMessageFor(model => model.Otro, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <label id="ExperienciaAreaConocimientoe" for="ExperienciaAreaConocimiento" class="col-sm-2 control-label">Experiencia <span style="color:red;">*</span></label>
                    <div class="col-sm-10">
                        @Html.TextAreaFor(model => model.ExperienciaAreaConocimiento, new { @class = "form-control", @style = "margin-top:10px;", placeholder = "Escribe tu experiencia" })
                        @Html.ValidationMessageFor(model => model.ExperienciaAreaConocimiento, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn primary" style="margin-top:15px;">Guardar</button>
                    </div>
                </div>
            </form>
        }

        <!-- Mensajes de ayuda -->
        <div style="display:none;">
            <div id="idareaconocimientoa">
                <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>¿Cuál es tu área de conocimiento?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes seleccionar el área de conocimiento.
            </div>
        </div>
        <div style="display:none;">
            <div id="idareaconocimientoae">
                <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>¿Cuál es tu área de conocimiento?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes seleccionar el área de conocimiento.
            </div>
        </div>

        <div style="display:none;">
            <div id="tiempoondasa">
                <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>¿Cuál es el tiempo en ondas?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar el tiempo de ondas (años).
            </div>
        </div>
        <div style="display:none;">
            <div id="tiempoondasae">
                <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>¿Cuál es el tiempo en ondas?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar el tiempo en ondas (años).
            </div>
        </div>

        <div style="display:none;">
            <div id="institutiona">
                <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>¿Cuál es tu institución educativa?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes seleccionar una institución educativa. <i>Se irán desplegando las opciones a medida que ingresas su nombre</i>.
            </div>
        </div>
        <div style="display:none;">
            <div id="institutionae">
                <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>¿Cuál es tu institución educativa?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes seleccionar una institución educativa. <i>Se irán desplegando las opciones a medida que ingresas su nombre</i>.
            </div>
        </div>

        <div style="display:none;">
            <div id="pregradoa">
                <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>¿Cuál es tu estudio de pregrado?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar el nombre de tu estudio de pregrado.
            </div>
        </div>
        <div style="display:none;">
            <div id="pregradoae">
                <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>¿Cuál es tu estudio de pregrado?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar el nombre de tu estudio de pregrado.
            </div>
        </div>

        <div style="display:none;">
            <div id="postgradoa">
                <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>¿Cuál es tu estudio de postgrado?</strong></b><br /><br />
                Aquí debes ingresar el nombre de tu estudio de postgrado.
            </div>
        </div>
        <div style="display:none;">
            <div id="postgradoae">
                <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>¿Cuál es tu estudio de postgrado?</strong></b><br /><br />
                Aquí debes ingresar el nombre de tu estudio de postgrado.
            </div>
        </div>

        <div style="display:none;">
            <div id="otroa">
                <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>¿Qué otro estudio tienes?</strong></b><br /><br />
                Aquí debes ingresar el nombre de tu estudio.
            </div>
        </div>
        <div style="display:none;">
            <div id="otroae">
                <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>¿Qué otro estudio tienes?</strong></b><br /><br />
                Aquí debes ingresar el nombre de tu estudio.
            </div>
        </div>

        <div style="display:none;">
            <div id="experienciaareaconocimientoa">
                <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>¿Cuál es tu experiencia?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar tu experiencia.
            </div>
        </div>
        <div style="display:none;">
            <div id="experienciaareaconocimientoae">
                <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>¿Cuál es tu experiencia?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar tu experiencia.
            </div>
        </div>
        </div>
    </div>

        @section Scripts {
            <link href="~/Content/themes/base/all.css" rel="stylesheet" />
            <script src="~/Scripts/jquery-ui.min-1.11.1.js"></script>
            @Scripts.Render("~/bundles/jqueryval")
            <script>
                $(function () {
                    $("#Institution").autocomplete({
                        appendTo: "#register-research-group",
                        autoFocus: true,
                        source: function (request, response) {
                            $.ajax({
                                url: "/Utilidades/AutoCompleteInstitucion",
                                type: "POST",
                                dataType: "json",
                                data: { term: request.term },
                                success: function (data) {
                                    if (data.totalResultsCount==0) {
                                        var result = [
                                         {
                                             label: 'No se encontró instituciones con ese nombre',
                                             value: response.term
                                         }
                                        ];
                                        response(result);
                                    }
                                    else {
                                        // normal response
                                        response($.map(data.Institutions, function (item) {
                                                var valueStr = item.Name + " - " + item.Municipio;
                                                return { label: valueStr, value: item.id };
                                            }));
                                    }
                                }
                            })
                        },
                        select: function (event, ui) {
                            $("#idInstitucion").val(ui.item.value);
                            $("#Institution").val(ui.item.label);
                            return false;
                        },
                        change: function (event, ui) {
                            if (ui.item.label == 'No se encontró instituciones con ese nombre, vuelve a ingresar su nombre.') {
                                //alert('Saliste' + ui.item.value);
                                $("#Institution").css("color", "red");
                            } else {
                                $("#Institution").css("color", "#444444");
                            }
                        },
                        messages: {
                            noResults: "", results: function (resultsCount) { }
                        }
                    });
                });
            </script>
            <script src="~/Scripts/tooltipbootstrap/jquery.webui-popover.js"></script>
            <script>
                $('#idAreaConocimiento').webuiPopover({ url: '#idareaconocimientoa', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
                $('#idAreaConocimientoe').webuiPopover({ url: '#idareaconocimientoae', trigger: 'hover', style: 'inverse', placement: 'right', width: '500px' });
                $('#TiempoOndas').webuiPopover({ url: '#tiempoondasa', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
                $('#TiempoOndase').webuiPopover({ url: '#tiempoondasae', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
                $('#Institution').webuiPopover({ url: '#institutiona', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
                $('#Institutione').webuiPopover({ url: '#institutionae', trigger: 'hover', style: 'inverse', placement: 'right', width: '500px' });
                $('#Pregrado').webuiPopover({ url: '#pregradoa', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
                $('#Pregradoe').webuiPopover({ url: '#pregradoae', trigger: 'hover', style: 'inverse', placement: 'right', width: '500px' });
                $('#Postgrado').webuiPopover({ url: '#postgradoa', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
                $('#Postgradoe').webuiPopover({ url: '#postgradoae', trigger: 'hover', style: 'inverse', placement: 'right', width: '500px' });
                $('#Otro').webuiPopover({ url: '#otroa', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
                $('#Otroe').webuiPopover({ url: '#otroae', trigger: 'hover', style: 'inverse', placement: 'right', width: '500px' });
                $('#ExperienciaAreaConocimiento').webuiPopover({ url: '#experienciaareaconocimientoa', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
                $('#ExperienciaAreaConocimientoe').webuiPopover({ url: '#experienciaareaconocimientoae', trigger: 'hover', style: 'inverse', placement: 'right', width: '500px' });
            </script>
        }
