﻿@model INI.Models.DataBase.tblDocumentosSoporte

@using INI.Models.DataBase
@using dl = ClassLibrary

@{
    Layout = "~/Views/Shared/_LayoutGrupo.cshtml";
    ViewBag.Title = "Documentos de soporte";
    string msj = ViewBag.Message;
    var rol = AspNetUsersRoles.IsUserInRole("Maestro", User.Identity.Name);
    
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/IEP/IrABitacoras/@ViewBag.InfoGrupo.idGrupo">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/Home/MenuMaestro">
                                <img src="~/images/botones_ruta_migas/iep/btn_maestro.png" title="Maestro" />
                            </a>
                        }
                        else
                        {
                            <a href="~/Home/MenuEstudiante">
                                <img src="~/images/botones_ruta_migas/iep/btn_estudiantes.png" title="Estudiantes" />
                            </a>
                        }

                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Home/MenuIEP">
                            <img src="~/images/botones_ruta_migas/iep/btn_IEP.png" title="IEP" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/IEP/Index">
                                <img src="~/images/botones_ruta_migas/iep/btn_grupos_a.png" title="Mis Grupos" />
                            </a>
                        }
                        else
                        {
                            <a href="~/IEP/Estudiante">
                                <img src="~/images/botones_ruta_migas/iep/btn_grupos_a.png" title="Mis Grupos" />
                            </a>
                        }
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/IEP/IrAlProyecto/@ViewBag.InfoGrupo.idGrupo">
                            <img src="~/images/botones_ruta_migas/iep/btn_grupo_a.png" title="Mi Grupo" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/IEP/IrABitacoras/@ViewBag.InfoGrupo.idGrupo">
                            <img src="~/images/botones_ruta_migas/iep/btn_mi_bita_a.png" title="Mi Bitacora" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/IEP/IrABitacoras/@ViewBag.InfoGrupo.idGrupo">
                            <img src="~/images/botones_ruta_migas/iep/btn_onda_ondas_a.png" title="Estar  en la onda de  ondas" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/iep/btn_documentos_soporte.png" title="Documentos soporte" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>

<div class="panel panel-default" style="margin-top:60px;">
    <div class="panel-heading"><strong>@ViewBag.Title</strong></div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.id)
            @Html.HiddenFor(model => model.idGrupoInvestigacion)
            
            <form class="form-horizontal" style="width:500px;">

                <div class="form-group">
                    <label id="" for="cartaCompromiso" class="col-sm-3 control-label">Carta de compromiso <span style="color:red;"></span></label>
                    <div class="col-sm-9">
                        @if (ViewBag.esCreadorGrupo == true)
{
                        <a href="#" class="image-button size2" onclick="javascript:UploadCommitment(@Model.id);" title="Cargar archivo">
                            Cargar
                            <i class="icon-upload-3 bg-green fg-white"></i>
                        </a>
                        }
                        @{
                            if (@Model.CartaCompromiso != null)
                            { 
                                <a class="image-button size2" href="~/Upload/@Model.CartaCompromiso" target="_blank">
                                    Descargar
                                    <i class="icon-download-2 bg-red fg-white"></i>
                                </a>
                            }
                        }
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                    </div>
                </div>

                <div class="form-group">
                    <label id="" for="cartaAceptacion" class="col-sm-3 control-label">Carta de aceptación <span style="color:red;"></span></label>
                    <div class="col-sm-9">
                        @if (ViewBag.esCreadorGrupo == true)
                        {
                        <a href="#" class="image-button size2" onclick="javascript:UploadAcceptance(@Model.id);" title="Cargar archivo">
                            Cargar
                            <i class="icon-upload-3 bg-green fg-white"></i>
                        </a>
                        }
                        @{
                            if (@Model.CartaAceptacion != null) {
                                <a class="image-button size2" href="~/Upload/@Model.CartaAceptacion" target="_blank">
                                    Descargar
                                    <i class="icon-download-2 bg-red fg-white"></i>
                                </a>
                            }
                        }
                    </div>
                </div>
            </form>
        }
    </div>
</div>
<div id="UploadFile">
</div>

        @section Scripts{
            @Scripts.Render("~/bundles/jqueryval")

            @if (ViewBag.esCreadorGrupo != true)
            {
                <script>
                    $('input').attr('readonly', true);
                    $('textarea').attr('readonly', true);
                    $('select').attr('readonly', true);
                </script>
            }

            <script>
                $(function () {
                    $('#UploadFile').dialog({
                        autoOpen: false,
                        height: 420,
                        width: 980,
                        modal: true,
                        title: "Subir archivo",
                        show: {
                            effect: "blind",
                            duration: 1000
                        },
                        hide: {
                            effect: "explode",
                            duration: 1000
                        }
                    });
                });
                function UploadAcceptance(id) {
                    $('#UploadFile').load("/IEP/UploadFileAceptance/".concat(id));
                    $('#UploadFile').dialog('open');
                }
                function UploadCommitment(id) {
                    $('#UploadFile').load("/IEP/UploadFileCommitment/".concat(id));
                    $('#UploadFile').dialog('open');
                }
            </script>
            <script src="~/Scripts/tooltipbootstrap/jquery.webui-popover.js"></script>
            <script>
                $('#FileToUpload').webuiPopover({ url: '#fileuploadm', trigger: 'hover', style: 'inverse', placement: 'top' });
            </script>

        }
