﻿@model INI.Models.DataBase.tblPropagacionGrupo

@using INI.Models.DataBase
@using dl = ClassLibrary

@{
    ViewBag.Title = "Editar feria";
    Layout = "~/Views/Shared/_LayoutGrupo.cshtml";
    var rol = AspNetUsersRoles.IsUserInRole("Maestro", User.Identity.Name);
}

<link href="~/Content/tooltipbootstrap/jquery.webui-popover.css" rel="stylesheet" />

<style>
    label, input, select {
        margin-top: 7px;
    }
</style>
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/EjeInvestigacion/">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/PanelAdministrativo">
                            <img src="~/images/botones_ruta_migas/admin/btn_admin_a.png" title="Administrador" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />

                    </li>
                    <li>
                        <a href="~/EjeInvestigacion/">
                            <img src="~/images/botones_ruta_migas/admin/btn_ejes_inv_a.png" title="Ejes de investigación" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_editar.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<div class="panel panel-default" style="margin-top:0px;">
    <div class="panel-heading"><strong>Editar feria</strong></div>
    <div class="panel-body">
        @using (Html.BeginForm("EditarFeria", "IEP", FormMethod.Post, new { @id = "frmIdFeria", enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.id)
            @Html.HiddenFor(model => model.idGrupoInvestigacion)

            <form class="form-horizontal" style="width:500px;">

                <div class="form-group">
                    <label id="" for="idTipoFeria" class="col-sm-2 control-label">Feria <span style="color:red;">*</span></label>
                    <div id="idTipoFeriaferia" class="col-sm-10">
                        @Html.DropDownListFor(model => model.idTipoFeria, null, "Seleccionar feria", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.idTipoFeria, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <label id="" for="Archivo" class="col-sm-2 control-label">Archivo <span style="color:red;">*</span></label>
                    <div class="col-sm-10" id="Archivoferia">
                        <input type="file" name="Archivo" id="Archivo" data-val-required="El archivo es obligatorio" data-val="true" class="input-validation-error ArchivoFeria" accept="application/pdf,image/jpeg,image/png" data-val-regex-pattern="([a-zA-Z0-9\s_\\.\-:])+(.pdf|.png|.jpg)$" data-val-regex="Solo se admiten archivos .pdf, .jpg o .png" data-val-length-max="50" data-val-length="Máximo 50 caracteres" data-val="true" data-target="webuiPopover3" aria-invalid="true" aria-describedby="Archivo-error" />
                        <span class="field-validation-valid" style="color:red; !important"><span id="prueavaFeria"></span></span>
                    </div>
                </div>
                @Html.Display("  ")
                <div class="form-group">
                    <label class="col-sm-2 control-label">&nbsp </label>
                    <div class="col-sm-10">
                        <a class="image-button" href="~/Upload/@Model.Archivo" target="_blank">
                            Ver archivo
                            <i class="icon-download-2 bg-red fg-white"></i>
                        </a>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12"></div>
                </div>

                <div class="form-group">
                    <label id="" for="Descripcion" class="col-sm-2 control-label">Descripción <span style="color:red;">*</span></label>
                    <div class="col-sm-10" id="Descripcionferia">
                        @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", placeholder = "Escribe la descripción" } })
                        @Html.ValidationMessageFor(model => model.Descripcion, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn primary" style="margin-top:15px;" id="enviarFeria">Guardar</button>
                        @Html.ActionLink("Regresar", "IrABitacoras", "IEP", new { @id = Model.idGrupoInvestigacion }, new { @class = "button medium primary", style = "margin-top:15px;" })
                    </div>
                </div>
            </form>
        }

        <div style="display:none;">
            <div id="idTipoFeriaferiam">
                <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es la feria?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes seleccionar la feria.
            </div>
        </div>
        <div style="display:none;">
            <div id="Descripcionferiam">
                <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es la descripción?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar la descripción.
            </div>
        </div>
        <div style="display:none;">
            <div id="Archivoferiam">
                <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es el archivo?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes subir el archivo evidencia de la feria.
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
    <script src="~/Scripts/tooltipbootstrap/jquery.webui-popover.js"></script>

    <script>
        $("#CerrarFerias").click(function () {
            $('#pr-insertar').dialog('close');
        });

        var expresion2 = /([a-zA-Z0-9\s_\\.\-:])+(.pdf|.png|.jpg)$/;
        $("#frmIdFeria").submit(function (e) {
            if ($('.ArchivoFeria')[0].files[0].size > 4194304) {
                $("#prueavaFeria").html('El tamaño del archivo no debe sobrepasar 4 MB');
                return false;
            }
            else if (!expresion2.test($('.ArchivoFeria')[0].files[0].name)) {
                $("#prueavaFeria").html('Solo se admiten archivos .pdf, .png o .jpg');
                return false;
            }
            else {
                $("#prueavaFeria").html('');
            }
        });

        $('.ArchivoFeria').bind('change', function () {
            if (this.files[0].size > 4194304) {
                $("#prueavaFeria").html('El tamaño del archivo no debe sobrepasar 4 MB');
            }
            else if (!expresion2.test(this.files[0].name)) {
                $("#prueavaFeria").html('Solo se admiten archivos .pdf, .png o .jpg');
            }
            else {
                $("#prueavaFeria").html('');
            }
        });

        $('#enviarFeria').bind("click", function () {
            var imgVal = $('.ArchivoFeria').val();
            if (imgVal == '') {
                $("#prueavaFeria").html('El archivo es obligatorio');
                return false;
            }
        });
    </script>

    <script>
        $('#idTipoFeria').webuiPopover({ url: '#idTipoFeriaferiam', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#Archivo').webuiPopover({ url: '#Archivoferiam', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#Descripcion').webuiPopover({ url: '#Descripcionferiam', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
    </script>
    }
