﻿@model INI.Models.DataBase.tblConceptosEstadoArte

@using INI.Models.DataBase
@using dl = ClassLibrary

@{
    ViewBag.Title = "Editar concepto";
    Layout = "~/Views/Shared/_LayoutGrupo.cshtml";
    var rol = AspNetUsersRoles.IsUserInRole("Maestro", User.Identity.Name);
}

<link href="~/Content/tooltipbootstrap/jquery.webui-popover.css" rel="stylesheet" />

<style>
    label, input, select {
        margin-top: 7px;
    }
</style>
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/EjeInvestigacion/">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/PanelAdministrativo">
                            <img src="~/images/botones_ruta_migas/admin/btn_admin_a.png" title="Administrador" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />

                    </li>
                    <li>
                        <a href="~/EjeInvestigacion/">
                            <img src="~/images/botones_ruta_migas/admin/btn_ejes_inv_a.png" title="Ejes de investigación" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_editar.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<div class="panel panel-default" style="margin-top:0px;">
    <div class="panel-heading"><strong>Editar concepto</strong></div>
    <div class="panel-body">
        @using (Html.BeginForm("EditarConcepto", "IEP", FormMethod.Post, new { @id = "frmIdConcepto" }))
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.id)
            @Html.HiddenFor(model => model.idEstadoArte)
            @Html.HiddenFor(model => model.tblEstadoArteProyectoInvestigacion.idGrupoInvestigacion)

            <form class="form-horizontal" style="width:500px;">

                <div class="form-group">
                    <label id="" for="Autor" class="col-sm-2 control-label">Autor <span style="color:red;">*</span></label>
                    <div class="col-sm-6">
                        @Html.EditorFor(model => model.Autor, new { htmlAttributes = new { @class = "form-control", placeholder = "Escribe el autor" } })
                        @Html.ValidationMessageFor(model => model.Autor, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <label id="" for="Publicacion" class="col-sm-2 control-label">Año <span style="color:red;">*</span></label>
                    <div class="col-sm-2">
                        @Html.EditorFor(model => model.Publicacion, new { htmlAttributes = new { @class = "form-control", placeholder = "Escribe el año" } })
                        @Html.ValidationMessageFor(model => model.Publicacion, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                    </div>
                </div>

                <div class="form-group">
                    <label id="" for="Texto" class="col-sm-2 control-label">Descripción <span style="color:red;">*</span></label>
                    <div class="col-sm-10">
                        @Html.TextAreaFor(model => model.Texto, new { @class = "form-control", @style = "margin-top:10px;", placeholder = "Escribe la descripción" })
                        @Html.ValidationMessageFor(model => model.Texto, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn primary" style="margin-top:15px;">Guardar</button>
                        @Html.ActionLink("Regresar", "IrABitacoras", "IEP", new { @id = Model.tblEstadoArteProyectoInvestigacion.idGrupoInvestigacion }, new { @class = "button medium primary", style = "margin-top:15px;" })
                    </div>
                </div>
            </form>
        }

        <div style="display:none;">
            <div id="Autorm">
                <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es el autor?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar el autor.
            </div>
        </div>
        <div style="display:none;">
            <div id="Aniom">
                <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es el año?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar el año.
            </div>
        </div>
        <div style="display:none;">
            <div id="Textom">
                <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es la descripción?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar la descripción.
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/tooltipbootstrap/jquery.webui-popover.js"></script>

    <script>
        $('#Autor').webuiPopover({ url: '#Autorm', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#Publicacion').webuiPopover({ url: '#Aniom', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#Texto').webuiPopover({ url: '#Textom', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
    </script>
    }

