﻿@model INI.Models.DataBase.tblRecoleccionInformacionProyectoInvestigacion

@using INI.Models.DataBase
@using dl = ClassLibrary

@{
    ViewBag.Title = "Editar información";
    Layout = "~/Views/Shared/_LayoutGrupo.cshtml";
    var rol = AspNetUsersRoles.IsUserInRole("Maestro", User.Identity.Name);
}

<link href="~/Content/tooltipbootstrap/jquery.webui-popover.css" rel="stylesheet" />

<style>
    label, input, select {
        margin-top: 7px;
    }
</style>
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/EjeInvestigacion/">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/PanelAdministrativo">
                            <img src="~/images/botones_ruta_migas/admin/btn_admin_a.png" title="Administrador" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />

                    </li>
                    <li>
                        <a href="~/EjeInvestigacion/">
                            <img src="~/images/botones_ruta_migas/admin/btn_ejes_inv_a.png" title="Ejes de investigación" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_editar.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<div class="panel panel-default" style="margin-top:0px;">
    <div class="panel-heading"><strong>Editar información</strong></div>
    <div class="panel-body">
        @using (Html.BeginForm("EditarRecoleccionInformacion", "IEP", FormMethod.Post, new { @id = "frmIdInformacion", enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.id)
            @Html.HiddenFor(model => model.idGrupoInvestigacion)

            <form class="form-horizontal" style="width:500px;">

                <div class="form-group">
                    <label id="" for="idInstrumento" class="col-sm-2 control-label">Instrumento <span style="color:red;">*</span></label>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(model => model.idInstrumento, null, "Seleccionar instrumento", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.idInstrumento, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <label id="" for="Descripcion" class="col-sm-2 control-label">Descripción <span style="color:red;">*</span></label>
                    <div class="col-sm-10">
                        @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", placeholder = "Escribe la descripción" } })
                        @Html.ValidationMessageFor(model => model.Descripcion, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <label id="" for="Evidencia" class="col-sm-2 control-label">Evidencia <span style="color:red;">*</span></label>
                    <div class="col-sm-10">
                        <input type="file" name="Evidencia" id="Evidencia" data-val-required="El archivo es obligatorio" data-val="true" class="input-validation-error" accept="application/pdf,image/jpeg" data-val-length-max="50" data-val-length="Máximo 50 caracteres" data-val="true" data-target="webuiPopover3" aria-invalid="true" aria-describedby="Evidencia-error" />
                        @Html.ValidationMessageFor(model => model.Evidencia, String.Empty, new { @style = "color:red;!important" })
                        <span class="field-validation-valid" style="color:red;!important"><span id="prueavaInformacion"></span></span>
                    </div>
                </div>

                @Html.Display("  ")
                <div class="form-group">
                    <label class="col-sm-2 control-label">&nbsp </label>
                    <div class="col-sm-10">
                        <a class="image-button" href="~/Upload/@Model.Evidencia" target="_blank">
                            Ver archivo
                            <i class="icon-download-2 bg-red fg-white"></i>
                        </a>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12"></div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn primary" style="margin-top:15px;" id="enviarInformacion">Guardar</button>
                        @Html.ActionLink("Regresar", "IrABitacoras", "IEP", new { @id = Model.idGrupoInvestigacion }, new { @class = "button medium primary", style = "margin-top:15px;" })
                    </div>
                </div>
            </form>
        }

        <div style="display:none;">
            <div id="Instrumentorecinfom">
                <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es el instrumento?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar el instrumento.
            </div>
        </div>
        <div style="display:none;">
            <div id="Descripcionrecinfom">
                <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es la descripción?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar la descripción.
            </div>
        </div>
        <div style="display:none;">
            <div id="Evidenciarecinfom">
                <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es la evidencia?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes subir un archivo de evidencia.
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/tooltipbootstrap/jquery.webui-popover.js"></script>

    <script>
        $("#CerrarInformacion").click(function () {
            $('#ingresar-informacion').dialog('close');
        });

        var expresioni = /([a-zA-Z0-9\s_\\.\-:])+(.pdf|.jpg)$/;
        $("#frmIdInformacion").submit(function (e) {
            if ($('#Evidencia')[0].files[0].size > 4194304) {
                $("#prueavaInformacion").html('El tamaño del archivo no debe sobrepasar 4 MB');
                return false;
            }
            else if (!expresioni.test($('#Evidencia')[0].files[0].name)) {
                $("#prueavaInformacion").html('Solo se admiten archivos .pdf o .jpg');
                return false;
            }
            else {
                $("#prueavaInformacion").html('');
            }
        });

        $('#Evidencia').bind('change', function () {
            if (this.files[0].size > 4194304) {
                $("#prueavaInformacion").html('El tamaño del archivo no debe sobrepasar 4 MB');
            }
            else if (!expresioni.test(this.files[0].name)) {
                $("#prueavaInformacion").html('Solo se admiten archivos .pdf o .jpg');
            }
            else {
                $("#prueavaInformacion").html('');
            }
        });

        $('#enviarInformacion').bind("click", function () {
            var imgVal = $('#Evidencia').val();
            //if (imgVal == '') {
            //    $("#prueavaInformacion").html('El archivo es obligatorio');
            //    return false;
            //}
        });
    </script>

    <script>
        $('#idInstrumento').webuiPopover({ url: '#Instrumentorecinfom', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#Descripcion').webuiPopover({ url: '#Descripcionrecinfom', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#Evidencia').webuiPopover({ url: '#Evidenciarecinfom', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
    </script>
    }

