﻿@model INI.Models.DataBase.tblProblemaInvestigacion
@using INI.Models.DataBase
@{
    ViewBag.Title = "La superposición de la Onda";
    Layout = "~/Views/Shared/_LayoutGrupo.cshtml";
var rol = AspNetUsersRoles.IsUserInRole("Maestro", User.Identity.Name);
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/IEP/IrABitacoras/@ViewBag.InfoGrupo.idGrupo/?posEle=2">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/Home/MenuMaestro">
                                <img src="~/images/botones_ruta_migas/iep/btn_maestro.png" title="Maestro" />
                            </a>
                        }
                        else
                        {
                            <a href="~/Home/MenuEstudiante">
                                <img src="~/images/botones_ruta_migas/iep/btn_estudiantes.png" title="Estudiantes" />
                            </a>
                        }

                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Home/MenuIEP">
                            <img src="~/images/botones_ruta_migas/iep/btn_IEP.png" title="IEP" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/IEP/Index">
                                <img src="~/images/botones_ruta_migas/iep/btn_grupos_a.png" title="Mis Grupos" />
                            </a>
                        }
                        else
                        {
                            <a href="~/IEP/Estudiante">
                                <img src="~/images/botones_ruta_migas/iep/btn_grupos_a.png" title="Mis Grupos" />
                            </a>
                        }
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/IEP/IrAlProyecto/@ViewBag.InfoGrupo.idGrupo">
                            <img src="~/images/botones_ruta_migas/iep/btn_grupo_a.png" title="Mi Grupo" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/IEP/IrABitacoras/@ViewBag.InfoGrupo.idGrupo">
                            <img src="~/images/botones_ruta_migas/iep/btn_mi_bita_a.png" title="Mi Bitacora" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/IEP/IrABitacoras/@ViewBag.InfoGrupo.idGrupo/?posEle=2">
                            <img src="~/images/botones_ruta_migas/iep/btn_superp_ondas_a.png" title="La  superposición de la onda" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/iep/btn_para_grupo.png" title="Para el grupo" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>

<style>
    label, input, select {
        margin-top: 7px;
    }
</style>

<link href="~/Content/tooltipbootstrap/jquery.webui-popover.css" rel="stylesheet" />

<div class="panel panel-default" style="margin-top:0px;">
    <div class="panel-heading"><strong>La superposición de la Onda</strong></div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.id)
            @Html.HiddenFor(model => model.idGrupoInvestigacion)

            <form style="width:500px;">
                <div class="form-group">
                    <label id="" for="Descripcion" class="control-label">Descripción del problema que se quiere investigar <span style="color:red;">*</span></label>
                    <div class="">
                        @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control", @style = "margin-top:10px;", placeholder = "Escribe la descripción" })
                        @Html.ValidationMessageFor(model => model.Descripcion, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>
                
                <div class="form-group">
                    <label id="" for="Justificacion" class="control-label">Con base en el punto anterior, justifiquen la importancia de resolver el problema o avanzar en su solución <span style="color:red;">*</span></label>
                    <div class="">
                        @Html.TextAreaFor(model => model.Justificacion, new { @class = "form-control", @style = "margin-top:10px;", placeholder = "Escribe la justificación" })
                        @Html.ValidationMessageFor(model => model.Justificacion, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="">
                        <button type="submit" class="btn primary" style="margin-top:15px;">Guardar</button>
                    </div>
                </div>
            </form>
        }

        <div style="display:none;">
            <div id="Descripcionm">
                <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es la descripción del problema que se quiere investigar?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar la descripción del problema que se quiere investigar.
            </div>
        </div>

        <div style="display:none;">
            <div id="Justificacionm">
                <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es la justificación?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar la justificación de la importancia para resolver el problema o avanzar en su solución.
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/tooltipbootstrap/jquery.webui-popover.js"></script>
    <script>
        $('#Descripcion').webuiPopover({ url: '#Descripcionm', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#Justificacion').webuiPopover({ url: '#Justificacionm', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
    </script>
}

<div class="verticalSpan1"></div>


