﻿@model IEnumerable<INI.Models.DataBase.MisGrupos>

@using INI.Models.DataBase
@using dl = ClassLibrary

@{
    ViewBag.SubTitle = "Mis grupos de investigación";
    Layout = "~/Views/Shared/_InvIEP.cshtml";
    string msj = ViewBag.Message;
    var userId = AspNetUsers.GetUserId(User.Identity.Name);
    var TieneGrupo = tblGrupoInvestigacion.ExistGroup(userId).ToString().ToLower();
    investicEntities db = new investicEntities();
}
                      <div id="ruta_miga">
                          <table>
                              <tr>
                                  <td rowspan="2">
                                      <ul id="img_fijos">
                                          <li>
                                              @*<a href="~/Home/MenuIEP">*@
                                              <a href="javascript:history.back(1)">
                                                  <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                                              </a>
                                          </li>
                                      </ul>
                                  </td>
                                  <td>
                                      <ul>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                                          </li>
                                      </ul>

                                  </td>
                              </tr>

                              <tr>
                                  <td>
                                      <ul id="img_variables">
                                          <li>
                                              <a href="~/Home">
                                                  <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" title="Información general" />
                                          </li>                                         
                                          <li>
                                              <a href="~/Home/MenuEstudiante">
                                                  <img src="~/images/botones_ruta_migas/iep/btn_estudiantes.png" title="Estudiantes" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" title="Información general" />
                                          </li>
                                          <li>
                                              <a href="~/Home/MenuIEP">
                                                  <img src="~/images/botones_ruta_migas/iep/btn_IEP.png" title="IEP" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" title="Información general" />
                                          </li>
                                          <li>
                                              <a href="~/IEP/Estudiante">
                                                  <img src="~/images/botones_ruta_migas/iep/btn_grupos.png" title="Mis Grupos" />
                                              </a>
                                          </li>
                                      </ul>
                                  </td>
                              </tr>
                          </table>
                      </div>

                      <div class="grid fluid" style="margin-top:55px;">
                          <div class="row">
                              <div class="span12 text-center">
                                  <h4>@ViewBag.SubTitle</h4>
                              </div>
                          </div>
                          <div class="row">
                              @if (AspNetUsersRoles.IsUserInRole("Maestro", User.Identity.Name))
                              {
                                  <div class="offset10 span2 text-right">
                                      <a id="lnkCreate" href="#" class="button info"><i class="icon-new on-left"></i>Crear Grupo</a>
                                      <a id="lnkEdit" href="#" class="button info" style="display:none;"><i class="icon-new on-left"></i>Modificar Grupo</a>
                                  </div>
                              }
                          </div>
                          <div class="row">
                              <div class="span12">
                                  <table id="misGrupos" class="table striped hover">
                                      <thead>
                                          <tr>
                                              <th class="span2"></th>
                                              <th class="span2">Imagen</th>
                                              <th class="span8">Descripción</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          @foreach (var item in Model)
                                          {
                                              <tr>
                                                  <td class="text-center">
                                                      @Html.ActionLink("Ir al Proyecto", "IrAlProyecto", "IEP", new { id = item.id }, new { @class = "button info" })
                                                  </td>
                                                  <td class="text-center">
                                                      @if (item.Avatar != null)
                                                      {
                                                          <img class="media-object img-rounded" src="~/images/Avatars/@item.Avatar" style="width: 196px;" />
                                                      }
                                                      else
                                                      {
                                                          <img class="media-object img-rounded" src="~/images/grupo_noimagen.png" style="width: 196px;" />
                                                      }
                                                  </td>
                                                  <td>
                                                      @Html.DisplayFor(modelItem => item.Informacion, "InfoGrupo")
                                                  </td>
                                              </tr>
                                          }
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </div>


@section Scripts{
    <script src="~/Scripts/DataTables-1.10.3/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Investic/iep-0.1-index.js"></script>
    <script>
        AlertMessage('@msj');
        DisableButton(@TieneGrupo);
    </script>
}
