﻿@model IEnumerable<INI.Models.DataBase.tblForoProyectoInvestigacion>

@using INI.Models.DataBase
@using dl = ClassLibrary

@{
    Layout = "~/Views/Shared/_LayoutGrupo.cshtml";
    ViewBag.Title = "Foro";
    string msj = ViewBag.Message;
    int idGrupoInvestigacion = (int)ViewBag.idGrupoinvestigacion;
    var rol = AspNetUsersRoles.IsUserInRole("Maestro", User.Identity.Name);
    investicEntities db = new investicEntities();
}

                      <div id="ruta_miga">
                          <table>
                              <tr>
                                  <td rowspan="2">
                                      <ul id="img_fijos">
                                          <li>
                                              @*<a href="~/IEP/IrAlProyecto/@ViewBag.InfoGrupo.idGrupo">*@
                                              <a href="javascript:history.back(1)">
                                                  <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                                              </a>
                                          </li>
                                      </ul>
                                  </td>
                                  <td>
                                      <ul>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                                          </li>
                                      </ul>

                                  </td>
                              </tr>

                              <tr>
                                  <td>
                                      <ul id="img_variables">
                                          <li>
                                              <a href="~/Home">
                                                  <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              @if (rol == true)
                                              {
                                                  <a href="~/Home/MenuMaestro">
                                                      <img src="~/images/botones_ruta_migas/iep/btn_maestro.png" title="Maestro" />
                                                  </a>
                                              }
                                              else
                                              {
                                                  <a href="~/Home/MenuEstudiante">
                                                      <img src="~/images/botones_ruta_migas/iep/btn_estudiantes.png" title="Estudiantes" />
                                                  </a>
                                              }

                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              <a href="~/Home/MenuIEP">
                                                  <img src="~/images/botones_ruta_migas/iep/btn_IEP.png" title="IEP" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              @if (rol == true)
                                              {
                                                  <a href="~/IEP/Index">
                                                      <img src="~/images/botones_ruta_migas/iep/btn_grupos_a.png" title="Mis Grupos" />
                                                  </a>
                                              }
                                              else
                                              {
                                                  <a href="~/IEP/Estudiante">
                                                      <img src="~/images/botones_ruta_migas/iep/btn_grupos_a.png" title="Mis Grupos" />
                                                  </a>
                                              }
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              <a href="~/IEP/IrAlProyecto/@ViewBag.InfoGrupo.idGrupo">
                                                  <img src="~/images/botones_ruta_migas/iep/btn_grupo_a.png" title="Mi Grupo" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/iep/btn_foro.png" title="Foro" />
                                          </li>
                                      </ul>
                                  </td>
                              </tr>
                          </table>
                      </div>
<p>
    <button id="lnkCrearForo" class="btn primary" onclick="javascript: Nuevo();">Crear Foro</button>
</p>

<div class="panel-group" id="accordion">
@{int i = 0;}
@foreach (var item in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse@(i)">
                    Titulo: @item.Titulo | Autor: @item.AspNetUsers.Name @item.AspNetUsers.SureName | Respuestas: @item.Respuestas.ToString()
                </a>
            </div>
        </div>
        <div id="collapse@(i)" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="media">
                    <div class="media-body container well">
                        <dl class="dl-horizontal">
                            <dt style="padding-bottom:5px;">Asunto:&nbsp&nbsp</dt>
                            <dd class="linkify1">
                                @(item.Mensaje)
                                <div style="padding-left: 5px;">
                                    <i>Escrito por &#8594; <strong>@(item.AspNetUsers.Name) @(item.AspNetUsers.SureName)</strong></i>
                                </div>
                            </dd>
                            <dt>&nbsp</dt>
                            <dd>
                                <div style="padding-left: 5px;">
                                    <i>Publicado el @item.Fecha</i>
                                </div>
                            </dd>
                            <dt>&nbsp</dt>
                            <dd><button id="lnkResponderForo" onclick="javascript: Responder('@item.id', '@item.Titulo');" class="btn primary" style="margin-top:10px;">Responder</button></dd>
                        </dl>
                    </div>
                </div>

                @if (item.tblForoProyectoInvestigacion1.Count > 0){
                    foreach (var itemRes in item.tblForoProyectoInvestigacion1){
                        <div class="media">
                            <div class="col-sm-offset-1">
                                <div class="media-body container well">
                                    <div class="linkify1">@(itemRes.Mensaje)</div>
                                    <div style="padding-left: 5px;">
                                        <i>Escrito por &#8594; <strong>@(itemRes.AspNetUsers.Name) @(itemRes.AspNetUsers.SureName)</strong></i>
                                    </div>
                                    <div style="padding-left: 3px;">
                                        <i>Publicado el @itemRes.Fecha</i>
                                    </div>
                                    <dt>&nbsp</dt>
                                    <dd><button id="lnkResponderForo2" onclick="javascript: Responder('@itemRes.id', '@itemRes.Titulo');" class="btn primary" style="margin-top:10px;">Responder</button></dd>
                                </div>
                            </div>
                        </div>
                        
                            foreach (var itemNuevo in ViewBag.forostodos)
                            {
                                if (itemRes.id == itemNuevo.idForo)
                                {
                                    <div class="media">
                                        <div class="col-sm-offset-2">
                                            <div class="media-body container well">
                                                <div class="linkify1">@itemNuevo.Mensaje</div>
                                                <div style="padding-left: 5px;">
                                                    <i>Escrito por &#8594; <strong>@(itemNuevo.AspNetUsers.Name) @(itemNuevo.AspNetUsers.SureName)</strong></i>
                                                </div>
                                                <div style="padding-left: 3px;">
                                                    <i>Publicado el @itemNuevo.Fecha</i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        
                    }
                }
            </div>
        </div>
    </div>
    i++;
}
</div>

<div id="nuevo-foro">
    @{
        tblForoProyectoInvestigacion tblforo = new tblForoProyectoInvestigacion();
        tblforo.idGrupoInvestigacion = idGrupoInvestigacion;
        tblforo.Respuestas = 0;
        tblforo.idUser = AspNetUsers.GetUserId(User.Identity.Name);
        Html.RenderPartial("_CrearForo", tblforo);
    }
</div>

@section Scripts {    
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/linkify/linkify.min.js"></script>
    <script src="~/Scripts/linkify/linkify-jquery.min.js"></script>
    <script src="~/Scripts/Investic/iep-0.1-foroproyecto.js"></script>

    <script src="~/Scripts/tooltipbootstrap/jquery.webui-popover.js"></script>
    <script>
        $('#Titulo').webuiPopover({ url: '#tituloa', trigger: 'hover', style: 'inverse', placement: 'top' });
        $('#Tituloe').webuiPopover({ url: '#tituloae', trigger: 'hover', style: 'inverse', placement: 'top' });
        $('#Mensaje').webuiPopover({ url: '#mensajea', trigger: 'hover', style: 'inverse', placement: 'top' });
        $('#Mensajee').webuiPopover({ url: '#mensajeae', trigger: 'hover', style: 'inverse', placement: 'top' });
    </script>

    <script type="text/javascript">
        //$(window).load(function () {
        //    $('#myModal').modal('show');
        //});
    </script>

    <script>
        $(document).ready(function () {
            $("#Cerrar").click(function () {
                $('#nuevo-foro').dialog('close');
            });
        });
    </script>

    <script>
    $('.linkify1').linkify({
        target: "_blank"
    });
    </script>
}
