﻿@model INI.Models.DataBase.tblGrupoInvestigacion
@using INI.Models.DataBase
@{
    ViewBag.Title = "Grupo";
    Layout = "~/Views/Shared/_LayoutGrupo.cshtml";
    var rol = AspNetUsersRoles.IsUserInRole("Maestro", User.Identity.Name);
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        @if (rol == true)
                        {
                            @*<a href="~/IEP/Index">*@
                            <a href="javascript:history.back(1)">
                                <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                            </a>
                        }
                        else
                        {
                            @*<a href="~/IEP/Estudiante">*@
                            <a href="javascript:history.back(1)">
                                <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                            </a>
                        }
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/Home/MenuMaestro">
                                <img src="~/images/botones_ruta_migas/iep/btn_maestro.png" title="Maestro" />
                            </a>
                        }
                        else
                        {
                            <a href="~/Home/MenuEstudiante">
                                <img src="~/images/botones_ruta_migas/iep/btn_estudiantes.png" title="Estudiantes" />
                            </a>
                        }

                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Home/MenuIEP">
                            <img src="~/images/botones_ruta_migas/iep/btn_IEP.png" title="IEP" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/IEP/Index">
                                <img src="~/images/botones_ruta_migas/iep/btn_grupos_a.png" title="Mis Grupos" />
                            </a>
                        }
                        else
                        {
                            <a href="~/IEP/Estudiante">
                                <img src="~/images/botones_ruta_migas/iep/btn_grupos_a.png" title="Mis Grupos" />
                            </a>
                        }
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/iep/btn_grupo.png" title="Mi Grupo" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br />
<div class="panel panel-default">
    <div class="panel-body">
        <div class="media">
            <div class="media-left">
                @if (Model.Avatar != null)
                {
                    <img class="media-object img-rounded" src="~/images/Avatars/@Model.Avatar" style="width: 196px;" />
                }
                else
                {
                    <img class="media-object img-rounded" src="~/images/grupo_noimagen.png" style="width: 196px;" />
                }
            </div>
            <div class="media-body container well">
                <dl class="dl-horizontal">
                    <dt style="padding-bottom:5px;">Línea de investigación:&nbsp&nbsp</dt>
                    <dd>@Model.tblLineaInvestigacion.Nombre</dd>
                    <dt style="padding-bottom:5px;">Maestro:&nbsp&nbsp</dt>
                    <dd>@Model.AspNetUsers.Name @Model.AspNetUsers.SureName</dd>
                    <dt style="padding-bottom:5px;">Coinvestigadores:&nbsp&nbsp</dt>
                    @{string[] coinv;}
                    @if ((ViewBag.members).Count != 0)
                    {
                        foreach (var person in ViewBag.members)
                        {
                            coinv = person.Split(',');
                            <dd>@coinv[0] @coinv[1] (correo: @coinv[2], teléfono: @coinv[3])</dd>
                            <dt style="padding-bottom:5px;">&nbsp</dt>
                        }
                    }
                    else
                    {
                        <span>No hay maestros colaboradores asignados</span>
                    }
                </dl>
            </div>
        </div>
    </div>
</div>

