﻿@model IEnumerable<INI.Models.DataBase.MisGrupos>

@using INI.Models.DataBase
@using dl = ClassLibrary

@{
    ViewBag.SubTitle = "Mis grupos de investigación";
    Layout = "~/Views/Shared/_InvIEP.cshtml";
    string msj = ViewBag.Message;
    var userId = AspNetUsers.GetUserId(User.Identity.Name);
    var rol = AspNetUsersRoles.IsUserInRole("Maestro", User.Identity.Name);
    var TieneGrupo = tblGrupoInvestigacion.ExistGroup(userId).ToString().ToLower();
    investicEntities db = new investicEntities();
}
                      <div id="ruta_miga">
                          <table>
                              <tr>
                                  <td rowspan="2">
                                      <ul id="img_fijos">
                                          <li>
                                              @*<a href="~/Home/MenuIEP">*@
                                              <a href="javascript:history.back(1)">
                                                  <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                                              </a>
                                          </li>
                                      </ul>
                                  </td>
                                  <td>
                                      <ul>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                                          </li>
                                      </ul>

                                  </td>
                              </tr>

                              <tr>
                                  <td>
                                      <ul id="img_variables">
                                          <li>
                                              <a href="~/Home">
                                                  <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png"  />
                                          </li>
                                          <li>
                                              @if (rol == true)
                                              {
                                                  <a href="~/Home/MenuMaestro">
                                                      <img src="~/images/botones_ruta_migas/iep/btn_maestro.png" title="Maestro" />
                                                  </a>
                                              }
                                              else
                                              {
                                                  <a href="~/Home/MenuEstudiante">
                                                      <img src="~/images/botones_ruta_migas/iep/btn_estudiantes.png" title="Estudiantes" />
                                                  </a>
                                              }

                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png"  />
                                          </li>
                                          <li>
                                              <a href="~/Home/MenuIEP">
                                                  <img src="~/images/botones_ruta_migas/iep/btn_IEP.png" title="IEP" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png"  />
                                          </li>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/iep/btn_grupos.png" title="Mis Grupos" />
                                          </li>
                                      </ul>
                                  </td>
                              </tr>
                          </table>
                      </div>                    
<!-- Modal HTML -->
<div class="modal fade" id="otra" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" id="contmodal">
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-10"></div>
                    <div class="col-sm-2"><button type="button" data-dismiss="modal"><img src="~/images/popups/boton_cerrar.svg" width="20" height="20" /></button></div>
                </div>


            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-7">
                        <h2 id="textopopiep">¿Tienes dudas sobre el <br /> manejo del componente IEP? </h2>
                        <p id="contpop">Hemos preparado un instructivo para ti, en él conocerás las funciones principales del componente <strong>IEP</strong> y como manejarlas.</p>
                    </div>
                    <div class="col-sm-5"><img src="~/images/popups/IEP/pili_iep.svg" width="200" height="300" /></div>

                </div>
            </div>
            <div class="modal-footer">
                <a href="#"><img src="~/images/popups/boton_instructivo.svg" width="150" height="70" /></a>
            </div>
        </div>

    </div>
</div>
<br /><br /><br />
<div class="grid fluid" style="margin-top:55px;">
    <div class="row">
        <div class="span12 text-left">
            <h4>@ViewBag.SubTitle</h4>
            <p>A continuación se encuentran listados los grupos de Investigación como Estrategia Pedagógica a los que perteneces. Para conocer más sobre el funcionamiento de este módulo haz clic en el botón "Ver instructivo" ubicado en la parte inferior-derecha de la pantalla. </p>
        </div>
    </div>
    <div class="row">
        @if (AspNetUsersRoles.IsUserInRole("Maestro",User.Identity.Name)) { 
        <div class="offset10 span2 text-right">
            <a id="lnkCreate" href="#" class="button info"><i class="icon-new on-left"></i>Crear Grupo</a>
            <a id="lnkEdit" href="#" class="button info" style="display:none;"><i class="icon-new on-left"></i>Modificar Grupo</a>
        </div>
        }
    </div>

    <div class="row">
        <div class="span12">
            <table id="misGrupos" class="table striped hover">
                <thead>
                    <tr>
                        <th class="span2"></th>
                        <th class="span2">Imagen</th>
                        <th class="span8">Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td class="text-center">
                            @Html.ActionLink("Ir al Proyecto", "IrAlProyecto", "IEP", new { id = item.id }, new { @class = "button info" })
                        </td>
                        <td class="text-center">
                            @if (item.Avatar != null)
                            {
                                <img class="media-object img-rounded" src="~/images/Avatars/@item.Avatar" style="width: 196px;" />
                            }
                            else
                            {
                                <img class="media-object img-rounded" src="~/images/grupo_noimagen.png" style="width: 196px;" />
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Informacion, "InfoGrupo")
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            <br />
            @*<center> @Html.AtrasInvestic()</center>*@
        </div>
    </div>
</div>

@if(TieneGrupo=="false"){
<div id="register-research-group">
    @{
        tblGrupoInvestigacion tblgrupoinvestigacionnuevo = new tblGrupoInvestigacion();
        ViewBag.idLineaInvestigacion = new SelectList(db.tblLineaInvestigacion.Where(m => m.Categoria == 2), "id", "Nombre");
        tblgrupoinvestigacionnuevo.FechaCreacion = DateTime.Now;
        tblgrupoinvestigacionnuevo.idUsuario = userId;
        tblgrupoinvestigacionnuevo.idInstitucion = tblMaestroCoInvestigador.GetIdInstitucion(tblgrupoinvestigacionnuevo.idUsuario);
        tblgrupoinvestigacionnuevo.Codigo = dl.Codigos.ResearchGroupCode();
        Html.RenderPartial("_RegistrarGrupo", tblgrupoinvestigacionnuevo);
    }
</div>
}
else { 
<div id="edit-research-group">
    @{
        tblGrupoInvestigacion tblgrupoinvestigacion = tblGrupoInvestigacion.FindByUserId(userId);
        if (tblgrupoinvestigacion != null) { 
            ViewBag.idLineaInvestigacion = new SelectList(db.tblLineaInvestigacion.Where(m => m.Categoria == tblgrupoinvestigacion.tblLineaInvestigacion.Categoria),
                "id", "Nombre", tblgrupoinvestigacion.idLineaInvestigacion);
            Html.RenderPartial("_ModificarGrupo", tblgrupoinvestigacion);
        }
    }
</div>
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/DataTables-1.10.3/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Investic/iep-0.1-index.js"></script>
    <script>
        var expresioncg = /([a-zA-Z0-9\s_\\.\-:])+(.png|.jpg)$/;

        $("#frmId").submit(function (e) {
            //e.preventDefault();
            if ($('#Avatar')[0].files[0].size > 4194304) {
                $("#prueava").html('El tamaño de la imagen no debe sobrepasar 4 MB');
                return false;
            }
            else if (!expresioncg.test($('#Avatar')[0].files[0].name)) {
                $("#prueava").html('Solo se admiten archivos .png o .jpg');
                return false;
            }
            else {
                $("#prueava").html('');
            }
        });
        $('#Avatar').bind('change', function () {
            if (this.files[0].size > 4194304) {
                $("#prueava").html('El tamaño de la imagen no debe sobrepasar 4 MB');
            }
            else if (!expresioncg.test($('#Avatar')[0].files[0].name)) {
                $("#prueava").html('Solo se admiten archivos .png o .jpg');
            }
            else {
                $("#prueava").html('');
            }
        });

        $("#CreateGroup").submit(function (e) {
            //e.preventDefault();
            if ($('#Avatar')[0].files[0].size > 4194304) {
                $("#prueava").html('El tamaño de la imagen no debe sobrepasar 4 MB');
                return false;
            }
            else if (!expresioncg.test($('#Avatar')[0].files[0].name)) {
                $("#prueava").html('Solo se admiten archivos .png o .jpg');
                return false;
            }
            else {
                $("#prueava").html('');
            }
        });
    </script>
<script type="text/javascript">
    //$(document).ready(function () {
        //$(window).load(function () {
        //    $("#otra").modal('show');
        //});
    //});
</script>
                      <script>
                          $(document).ready(function () {
                              $("#Cerrar").click(function () {
                                  $("#edit-research-group").dialog('close');
                                  $("#register-research-group").dialog('close');
                              });
                          });
                      </script>
    <script src="~/Scripts/tooltipbootstrap/jquery.webui-popover.js"></script>
    <script>
        $('#Nombre').webuiPopover({ url: '#nombream', trigger: 'hover', style: 'inverse', placement: 'top' });
        //$('#TipoGrupo').webuiPopover({ url: '#tipogrupoam', trigger: 'hover', style: 'inverse', placement: 'top' });
        $('.tipogruporeg').webuiPopover({ url: '#tipogrupoam', trigger: 'hover', style: 'inverse', placement: 'top' });
        $('#idLineaInvestigacion').webuiPopover({ url: '#idlineainvestigacionam', trigger: 'hover', style: 'inverse', placement: 'top' });
        $('#Avatar').webuiPopover({ url: '#avataram', trigger: 'hover', style: 'inverse', placement: 'top' });
        $('#Nombree').webuiPopover({ url: '#nombreame', trigger: 'hover', style: 'inverse', placement: 'top' });
        $('#TipoGrupoe').webuiPopover({ url: '#tipogrupoame', trigger: 'hover', style: 'inverse', placement: 'top' });
        $('#idLineaInvestigacione').webuiPopover({ url: '#idlineainvestigacioname', trigger: 'hover', style: 'inverse', placement: 'top' });
        $('#Avatare').webuiPopover({ url: '#avatarame', trigger: 'hover', style: 'inverse', placement: 'top' });
    </script>
    <script>
        DisableButton(@TieneGrupo);
    </script>
}