﻿@model IEnumerable<INI.Models.DataBase.tblInvitacionGrupo>

@using INI.Models.DataBase
@using dl = ClassLibrary

@{
    Layout = "~/Views/Shared/_InvIEP.cshtml";
    ViewBag.SubTitle = "Invitaciones";
    var rol = AspNetUsersRoles.IsUserInRole("Maestro", User.Identity.Name);
    string msj = ViewBag.Message;
}
                      <div id="ruta_miga">
                          <table>
                              <tr>
                                  <td rowspan="2">
                                      <ul id="img_fijos">
                                          <li>
                                              @*<a href="~/IEP/Index">*@
                                              <a href="javascript:history.back(1)">
                                                  <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                                              </a>
                                          </li>
                                      </ul>
                                  </td>
                                  <td>
                                      <ul>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                                          </li>
                                      </ul>

                                  </td>
                              </tr>

                              <tr>
                                  <td>
                                      <ul id="img_variables">
                                          <li>
                                              <a href="~/Home">
                                                  <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" title="Información general" />
                                          </li>
                                          <li>
                                              @if (rol == true)
                                              {
                                                  <a href="~/Home/MenuMaestro">
                                                      <img src="~/images/botones_ruta_migas/iep/btn_maestro.png" title="Maestro" />
                                                  </a>
                                              }
                                              else
                                              {
                                                  <a href="~/Home/MenuEstudiante">
                                                      <img src="~/images/botones_ruta_migas/iep/btn_estudiantes.png" title="Estudiantes" />
                                                  </a>
                                              }

                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" title="Información general" />
                                          </li>
                                          <li>
                                              <a href="~/Home/MenuIEP">
                                                  <img src="~/images/botones_ruta_migas/iep/btn_IEP.png" title="IEP" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" title="Información general" />
                                          </li>
                                          <li>
                                                    <a href="~/IEP/Invitaciones">
                                                        <img src="~/images/botones_ruta_migas/iep/btn_invitaciones.png" title="Invitaciones" />
                                                    </a>
                                          </li>
                                      </ul>
                                  </td>
                              </tr>
                          </table>
                      </div>
                      <div class="grid fluid" style="margin-top:115px;">
                          <div class="row">
                              <div class="span12 text-left">
                                  <h4>@ViewBag.SubTitle</h4>
                                  <p>A continuación se encuentran listadas las invitaciones para hacer parte de un grupo de investigación. Para conocer más sobre el funcionamiento de esta opción haz clic en el botón "Ver instructivo" ubicado en la parte inferior-derecha de la pantalla. </p>
                              </div>
                          </div>
                      </div>


<table id="invitaciones" class="table striped hovered">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Estado")
            </th>
            <th>
                @Html.DisplayName("Nombre Grupo")
            </th>
            <th>
                @Html.DisplayName("Institución")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if(item.Aceptada == false){
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Aceptada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tblGrupoInvestigacion.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tblGrupoInvestigacion.tblInstitucion.Nombre)
                </td>
                <td>
                    @if(item.Aceptada == false){
                        @Html.ActionLink("Aceptar", "Aceptar", new { id = item.id })
                        <span> | </span>
                        @Html.ActionLink("Rechazar", "Rechazar", new { id = item.id })
                    }
                    else{
                        <span>Ya perteneces a este grupo</span>
                    }
                </td>
            </tr>
            }
        }
    </tbody>
</table>
<br />
@*<center> @Html.AtrasInvestic()</center>*@

@section Scripts{
    <script src="~/Scripts/DataTables-1.10.3/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Investic/iep-0.1-invitaciones.js"></script>
}

