﻿@model IEnumerable<INI.Models.DataBase.tblMiembroGrupo>

@using INI.Models.DataBase
@using dl = ClassLibrary

@{
    ViewBag.Title = "Integrantes Grupo de Investigación";
    Layout = "~/Views/Shared/_LayoutGrupo.cshtml";
    string msj = ViewBag.Message;
    int idGrupoInvestigacion = (int)ViewBag.idGrupoInvestigacion;
    var idUsuario = AspNetUsers.GetUserId(User.Identity.Name);
    bool esCreador = tblGrupoInvestigacion.Find(idGrupoInvestigacion).idUsuario.Equals(idUsuario);
    var rol = AspNetUsersRoles.IsUserInRole("Maestro", User.Identity.Name);
}
                      <div id="ruta_miga">
                          <table>
                              <tr>
                                  <td rowspan="2">
                                      <ul id="img_fijos">
                                          <li>
                                              <a href="~/IEP/IrABitacoras/@ViewBag.InfoGrupo.idGrupo/?posEle=0">
                                                  <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                                              </a>
                                          </li>
                                      </ul>
                                  </td>
                                  <td>
                                      <ul>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                                          </li>
                                      </ul>

                                  </td>
                              </tr>

                              <tr>
                                  <td>
                                      <ul id="img_variables">
                                          <li>
                                              <a href="~/Home">
                                                  <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              @if (rol == true)
                                              {
                                                  <a href="~/Home/MenuMaestro">
                                                      <img src="~/images/botones_ruta_migas/iep/btn_maestro.png" title="Maestro" />
                                                  </a>
                                              }
                                              else
                                              {
                                                  <a href="~/Home/MenuEstudiante">
                                                      <img src="~/images/botones_ruta_migas/iep/btn_estudiantes.png" title="Estudiantes" />
                                                  </a>
                                              }

                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              <a href="~/Home/MenuIEP">
                                                  <img src="~/images/botones_ruta_migas/iep/btn_IEP.png" title="IEP" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              @if (rol == true)
                                              {
                                                  <a href="~/IEP/Index">
                                                      <img src="~/images/botones_ruta_migas/iep/btn_grupos_a.png" title="Mis Grupos" />
                                                  </a>
                                              }
                                              else
                                              {
                                                  <a href="~/IEP/Estudiante">
                                                      <img src="~/images/botones_ruta_migas/iep/btn_grupos_a.png" title="Mis Grupos" />
                                                  </a>
                                              }
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              <a href="~/IEP/IrAlProyecto/@ViewBag.InfoGrupo.idGrupo">
                                                  <img src="~/images/botones_ruta_migas/iep/btn_grupo_a.png" title="Mi Grupo" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              <a href="~/IEP/IrABitacoras/@ViewBag.InfoGrupo.idGrupo">
                                                  <img src="~/images/botones_ruta_migas/iep/btn_mi_bita_a.png" title="Mi Bitacora" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              <a href="~/IEP/IrABitacoras/@ViewBag.InfoGrupo.idGrupo/?posEle=0">
                                                  <img src="~/images/botones_ruta_migas/iep/btn_onda_ondas_a.png" title="Estar  en la onda de  ondas" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/iep/btn_est_coin.png" title="Para el maestro" />
                                          </li>
                                      </ul>
                                  </td>
                              </tr>
                          </table>
                      </div>
<h4>@ViewBag.Title</h4>

<div class="grid">
    <div class="row">
        <div class="span6">
            @if (esCreador) { 
            <div class="button-set">
                @*<button class="image-button primary fg-white size3" onclick="javascript: $('#AddMember').dialog('open');">
                    Registrar Integrante
                    <i class="icon-plus bg-cobalt"></i>
                </button>*@
                <button class="image-button primary fg-white size3" onclick="javascript: $('#AddExistMember').dialog('open');">
                    Agregar Integrante
                    <i class="icon-plus bg-cobalt"></i>
                </button>
            </div>
            }
        </div>
    </div>
</div>
<table id="MemberGroupTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Usuario")
            </th>
            <th>
                @Html.DisplayName("Nombre")
            </th>
            <th>
                @Html.DisplayName("Apellido")
            </th>
            <th>
                @Html.DisplayName("Dirección")
            </th>
            <th>
                @Html.DisplayName("Rol")
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUsers.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUsers.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUsers.SureName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUsers.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tblRol.Nombre)
                </td>
                <td>
                    @if(esCreador){
                        <a class="button" href="~/IEP/EliminarMiembroColaborador/@item.id" title="Eliminar"><i class="icon-remove"></i></a>
                    }
                </td>
            </tr>
        </tbody>
    }
</table>



<div id="AddExistMember">
    @{
        investicEntities db = new investicEntities();
        var emg = new INI.Models.DataBase.MiembrosEstudianteinvestigador();
        var userId = AspNetUsers.GetUserId(User.Identity.Name);
        //emg.idGrupoInvestigacion = Model.First().idGrupoInvestigacion;
        //emg.Usuarios = tblGrupoInvestigacion.UserStudentNotInGroup(emg.idGrupoInvestigacion);
    }
    @Html.Partial("_SeleccionarEstudiante", emg)
</div>

@section scripts {
    <script src="~/Scripts/DataTables-1.10.3/media/js/jquery.dataTables.js"></script>
    <!--<script src="~/Scripts/Investic/iep-0.1-GroupMember.js"></script>-->
    <script>
    $(document).ready(function () {
        $("#AddExistMember").dialog({
            autoOpen: false,
            height: 480,
            width: 980,
            modal: true,
            title: "Agregar miembro",
            show: {
                effect: "blind",
                duration: 1000
            },
            hide: {
                effect: "fade",
                duration: 1000
            }
        });

        $('#CoresearchTeachersTable').DataTable({
            "bServerSide": true,
            "sAjaxSource": "../../IEP/AjaxHandlerEstudiante",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "idGroup", "value": @idGrupoInvestigacion });
            },
            "bProcessing": true,
            "iDisplayStart": 0,
            "iDIsplayLength": 10,
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "Sin resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Sin resultados",
                "infoFiltered": "(filtrado de _MAX_ registros)",
                "search": "Buscar",
                "paginate": {
                    "previous": "Anterior",
                    "next": "Siguiente"
                }
            },
            "aoColumns": [
                            { "sName": "Nombres" },
                            { "sName": "Apellidos" },
                            { "sName": "Usuario" },
                            { "sName": "Correo" },
                            { "sName": "Invitar" }
            ]
        }
        );
    });
    </script>
}
