﻿@model INI.Models.DataBase.tblReflexionProyectoInvestigacion
@using INI.Models.DataBase
@{
    ViewBag.Title = "Bitacora - Para el maestro";
    Layout = "~/Views/Shared/_LayoutGrupo.cshtml";
    var rol = AspNetUsersRoles.IsUserInRole("Maestro", User.Identity.Name);
}

<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/IEP/IrABitacoras/@ViewBag.InfoGrupo.idGrupo/?posEle=0">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/Home/MenuMaestro">
                                <img src="~/images/botones_ruta_migas/iep/btn_maestro.png" title="Maestro" />
                            </a>
                        }
                        else
                        {
                            <a href="~/Home/MenuEstudiante">
                                <img src="~/images/botones_ruta_migas/iep/btn_estudiantes.png" title="Estudiantes" />
                            </a>
                        }

                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Home/MenuIEP">
                            <img src="~/images/botones_ruta_migas/iep/btn_IEP.png" title="IEP" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/IEP/Index">
                                <img src="~/images/botones_ruta_migas/iep/btn_grupos_a.png" title="Mis Grupos" />
                            </a>
                        }
                        else
                        {
                            <a href="~/IEP/Estudiante">
                                <img src="~/images/botones_ruta_migas/iep/btn_grupos_a.png" title="Mis Grupos" />
                            </a>
                        }
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/IEP/IrAlProyecto/@ViewBag.InfoGrupo.idGrupo">
                            <img src="~/images/botones_ruta_migas/iep/btn_grupo_a.png" title="Mi Grupo" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/IEP/IrABitacoras/@ViewBag.InfoGrupo.idGrupo">
                            <img src="~/images/botones_ruta_migas/iep/btn_mi_bita_a.png" title="Mi Bitacora" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/IEP/IrABitacoras/@ViewBag.InfoGrupo.idGrupo/?posEle=0">
                            <img src="~/images/botones_ruta_migas/iep/btn_onda_ondas_a.png" title="Estar  en la onda de  ondas" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/iep/btn_para_ma.png" title="Para el maestro" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>

<link href="~/Content/tooltipbootstrap/jquery.webui-popover.css" rel="stylesheet" />

<div class="panel panel-default" style="margin-top:0px;">
    <div class="panel-heading"><strong>Bitácora para el maestro</strong></div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.id)
            @Html.HiddenFor(model => model.idGrupoInvestigacion)
            @Html.HiddenFor(model => model.FechaInicio)
            @Html.HiddenFor(model => model.UltimaModificacion)
            @Html.HiddenFor(model => model.ConceptoAsesor)
            <form style="width:500px;">

                <div class="form-group">
                    <label id="idGrupoInvestigacione" for="idGrupoInvestigacion" class="control-label">Cuenta el proceso que hubo en su institución para conformar el grupo de investigación <span style="color:red;">*</span></label>
                    <div class="">
                        @Html.TextAreaFor(model => model.Proceso, new { @class = "form-control", @style = "margin-top:10px;", placeholder = "Escribe el proceso" })
                        @Html.ValidationMessageFor(model => model.Proceso, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <label id="idInstrumentoe" for="idInstrumento" class="control-label">Explique cuáles fueron los motivos que lo llevaron a participar en Ondas <span style="color:red;">*</span></label>
                    <div class="">
                        @Html.TextAreaFor(model => model.Motivacion, new { @class = "form-control", @style = "margin-top:10px;", placeholder = "Escribe la motivación" })
                        @Html.ValidationMessageFor(model => model.Motivacion, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <label id="Evidenciae" for="Evidencia" class="control-label">Breve reflexión sobre el grupo de investigación, por parte del Maestro/Coinvestigador <span style="color:red;">*</span></label>
                    <div class="">
                        @Html.TextAreaFor(model => model.Reflexion, new { @class = "form-control", @style = "margin-top:10px;", placeholder = "Escribe la reflexión" })
                        @Html.ValidationMessageFor(model => model.Reflexion, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="">
                        <button type="submit" class="btn primary" style="margin-top:15px;">Guardar</button>
                    </div>
                </div>
            </form>
        }

        <div style="display:none;">
            <div id="cuenta">
                <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Dé cuenta del proceso que hubo</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar el proceso de la institución para crear el grupo de investigación.
            </div>
        </div>

        <div style="display:none;">
            <div id="Explique">
                <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es la explicación?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar una explicación.
            </div>
        </div>

        <div style="display:none;">
            <div id="reflexion">
                <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es la reflexión?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar una reflexión.
            </div>
        </div>

        <div style="display:none;">
            <div id="Seguimiento">
                <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es el seguimiento?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar el seguimiento.
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @if (ViewBag.esCreadorGrupo != true)
    {
        <script>
            $('input').attr('readonly', true);
            $('textarea').attr('readonly', true);
            $('select').attr('readonly', true);
        </script>
    }

    <script src="~/Scripts/tooltipbootstrap/jquery.webui-popover.js"></script>
    <script>
        $('#Proceso').webuiPopover({ url: '#cuenta', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#Motivacion').webuiPopover({ url: '#Explique', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#Reflexion').webuiPopover({ url: '#reflexion', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
    </script>

}