﻿@model INI.Models.DataBase.tblPreguntaProyectoInvestigacion
@using INI.Models.DataBase
@{
    Layout = "~/Views/Shared/_LayoutGrupo.cshtml";
    ViewBag.Title = "Para el maestro";
var rol = AspNetUsersRoles.IsUserInRole("Maestro", User.Identity.Name);
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/IEP/IrABitacoras/@ViewBag.InfoGrupo.idGrupo/?posEle=1">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/Home/MenuMaestro">
                                <img src="~/images/botones_ruta_migas/iep/btn_maestro.png" title="Maestro" />
                            </a>
                        }
                        else
                        {
                            <a href="~/Home/MenuEstudiante">
                                <img src="~/images/botones_ruta_migas/iep/btn_estudiantes.png" title="Estudiantes" />
                            </a>
                        }

                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Home/MenuIEP">
                            <img src="~/images/botones_ruta_migas/iep/btn_IEP.png" title="IEP" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/IEP/Index">
                                <img src="~/images/botones_ruta_migas/iep/btn_grupos_a.png" title="Mis Grupos" />
                            </a>
                        }
                        else
                        {
                            <a href="~/IEP/Estudiante">
                                <img src="~/images/botones_ruta_migas/iep/btn_grupos_a.png" title="Mis Grupos" />
                            </a>
                        }
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/IEP/IrAlProyecto/@ViewBag.InfoGrupo.idGrupo">
                            <img src="~/images/botones_ruta_migas/iep/btn_grupo_a.png" title="Mi Grupo" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/IEP/IrABitacoras/@ViewBag.InfoGrupo.idGrupo">
                            <img src="~/images/botones_ruta_migas/iep/btn_mi_bita_a.png" title="Mi Bitacora" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/IEP/IrABitacoras/@ViewBag.InfoGrupo.idGrupo/?posEle=1">
                            <img src="~/images/botones_ruta_migas/iep/btn_pert_ondas_a.png" title="Estar  en la onda de  ondas" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/iep/btn_para_ma.png" title="Para el maestro" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<h4>@ViewBag.Title</h4>
<style>
    label, input, select {
        margin-top: 7px;
    }
</style>

<link href="~/Content/tooltipbootstrap/jquery.webui-popover.css" rel="stylesheet" />

<div class="panel panel-default" style="margin-top:0px;">
    <div class="panel-heading"><strong>Perturbación de las Ondas - Pregunta para el maestro</strong></div>
    <div class="panel-body">
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model => model.idGrupoInvestigacion)
            @Html.HiddenFor(model => model.ConceptoAsesor)
            @Html.HiddenFor(model => model.Revision)

            <form style="width:500px;">
                <strong>¿Qué información consultada les permitió cambiar, ampliar o reformular las preguntas iniciales</strong>
                <div class="form-group">
                    <label id="" for="InformacionUno" class="control-label">Información 1 <span style="color:red;">*</span></label>
                    <div class="">
                        @Html.TextAreaFor(model => model.InformacionUno, new { @class = "form-control", @style = "margin-top:10px;", placeholder = "Escribe la información" })
                        @Html.ValidationMessageFor(model => model.InformacionUno, String.Empty, new { @style = "color:red;!important" })
            </div>
        </div>

                <div class="col-sm-offset-2 form-group">
                    <label id="" for="FuenteUno" class="control-label">Fuente <span style="color:red;">*</span></label>
                    <div class="">
                        @Html.EditorFor(model => model.FuenteUno, new { htmlAttributes = new { @class = "form-control", placeholder = "Escribe la fuente de información" } })
                        @Html.ValidationMessageFor(model => model.FuenteUno, String.Empty, new { @style = "color:red;!important" })
            </div>
        </div>

                <div class="form-group">
                    <label id="" for="InformacionDos" class="control-label">Información 2 <span style="color:red;">*</span></label>
                    <div class="">
                        @Html.TextAreaFor(model => model.InformacionDos, new { @class = "form-control", @style = "margin-top:10px;", placeholder = "Escribe la información" })
                        @Html.ValidationMessageFor(model => model.InformacionDos, String.Empty, new { @style = "color:red;!important" })
            </div>
            </div>

                <div class="col-sm-offset-2 form-group">
                    <label id="" for="FuenteDos" class="control-label">Fuente <span style="color:red;">*</span></label>
                    <div class="">
                        @Html.EditorFor(model => model.FuenteDos, new { htmlAttributes = new { @class = "form-control", placeholder = "Escribe la fuente de información" } })
                        @Html.ValidationMessageFor(model => model.FuenteDos, String.Empty, new { @style = "color:red;!important" })
        </div>
                </div>

                <div class="form-group">
                    <label id="" for="InformacionTres" class="control-label">Información 3 <span style="color:red;">*</span></label>
                    <div class="">
                        @Html.TextAreaFor(model => model.InformacionTres, new { @class = "form-control", @style = "margin-top:10px;", placeholder = "Escribe la información" })
                        @Html.ValidationMessageFor(model => model.InformacionTres, String.Empty, new { @style = "color:red;!important" })
            </div>
        </div>

                <div class="col-sm-offset-2 form-group">
                    <label id="" for="FuenteTres" class="control-label">Fuente <span style="color:red;">*</span></label>
                    <div class="">
                        @Html.EditorFor(model => model.FuenteTres, new { htmlAttributes = new { @class = "form-control", placeholder = "Escribe la fuente de información" } })
                        @Html.ValidationMessageFor(model => model.FuenteTres, String.Empty, new { @style = "color:red;!important" })
            </div>
            </div>

                <div class="form-group">
                    <div class="col-sm-12">
        </div>
                </div>

                <div class="form-group">
                    <label id="" for="Reflexion" class="control-label">Breve reflexión sobre el desarollo de la bitácora # 2 por parte del Maestro/co-investigador <span style="color:red;">*</span></label>
                    <div class="">
                        @Html.TextAreaFor(model => model.Reflexion, new { @class = "form-control", @style = "margin-top:10px;", placeholder = "Escribe la reflexión" })
                        @Html.ValidationMessageFor(model => model.Reflexion, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="">
                        <button type="submit" class="btn primary" style="margin-top:15px;">Guardar</button>
                    </div>
            </div>
            </form>
        }

        <div style="display:none;">
            <div id="InformacionUnom">
                <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es la información #1?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar la información #1 consultada que les permitió cambiar, ampliar o reformular las preguntas iniciales.
        </div>
            </div>

        <div style="display:none;">
            <div id="InformacionDosm">
                <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es la información #2?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar la información #2 consultada que les permitió cambiar, ampliar o reformular las preguntas iniciales.
            </div>
        </div>

        <div style="display:none;">
            <div id="InformacionTresm">
                <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es la información #3?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar la información #3 consultada que les permitió cambiar, ampliar o reformular las preguntas iniciales.
            </div>
        </div>

        <div style="display:none;">
            <div id="FuenteUnom">
                <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es la fuente de información #1?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar la fuente de información #1.
            </div>
        </div>

        <div style="display:none;">
            <div id="FuenteDosm">
                <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es la fuente de información #2?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar la fuente de información #2.
            </div>
        </div>

        <div style="display:none;">
            <div id="FuenteTresm">
                <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es la fuente de información #3?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar la fuente de información #3.
            </div>
            </div>

        <div style="display:none;">
            <div id="reflexion">
                <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es la reflexión?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar una breve reflexión sobre el desarrollo de la bitácora 2 por parte del maestro/coinvestigador.
        </div>
            </div>

        </div>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @if (ViewBag.esCreadorGrupo != true)
    {
        <script>
            $('input').attr('readonly', true);
            $('textarea').attr('readonly', true);
            $('select').attr('readonly', true);
        </script>
    }

    <script src="~/Scripts/tooltipbootstrap/jquery.webui-popover.js"></script>
    <script>
        $('#InformacionUno').webuiPopover({ url: '#InformacionUnom', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#InformacionDos').webuiPopover({ url: '#InformacionDosm', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#InformacionTres').webuiPopover({ url: '#InformacionTresm', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#FuenteUno').webuiPopover({ url: '#FuenteUnom', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#FuenteDos').webuiPopover({ url: '#FuenteDosm', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#FuenteTres').webuiPopover({ url: '#FuenteTresm', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#Reflexion').webuiPopover({ url: '#reflexion', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
    </script>
}
