﻿@model IEnumerable<INI.Models.DataBase.tblPreguntaInvestigacion>
@using INI.Models.DataBase

@{
    Layout = "~/Views/Shared/_LayoutGrupo.cshtml";
    ViewBag.Title = "PERTURBACIÓN DE LA ONDA";
    INI.Models.DataBase.tblPreguntaInvestigacion mainQuestion = Model.Where(m => m.PreguntaPrincipal).FirstOrDefault();
    investicEntities db = new investicEntities();
var rol = AspNetUsersRoles.IsUserInRole("Maestro", User.Identity.Name);
}
                      <link href="~/Content/tooltipbootstrap/jquery.webui-popover.css" rel="stylesheet" />
                      <div id="ruta_miga">
                          <table>
                              <tr>
                                  <td rowspan="2">
                                      <ul id="img_fijos">
                                          <li>
                                              <a href="~/IEP/IrABitacoras/@ViewBag.InfoGrupo.idGrupo/?posEle=1">
                                                  <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                                              </a>
                                          </li>
                                      </ul>
                                  </td>
                                  <td>
                                      <ul>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                                          </li>
                                      </ul>

                                  </td>
                              </tr>

                              <tr>
                                  <td>
                                      <ul id="img_variables">
                                          <li>
                                              <a href="~/Home">
                                                  <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              @if (rol == true)
                                              {
                                                  <a href="~/Home/MenuMaestro">
                                                      <img src="~/images/botones_ruta_migas/iep/btn_maestro.png" title="Maestro" />
                                                  </a>
                                              }
                                              else
                                              {
                                                  <a href="~/Home/MenuEstudiante">
                                                      <img src="~/images/botones_ruta_migas/iep/btn_estudiantes.png" title="Estudiantes" />
                                                  </a>
                                              }

                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              <a href="~/Home/MenuIEP">
                                                  <img src="~/images/botones_ruta_migas/iep/btn_IEP.png" title="IEP" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              @if (rol == true)
                                              {
                                                  <a href="~/IEP/Index">
                                                      <img src="~/images/botones_ruta_migas/iep/btn_grupos_a.png" title="Mis Grupos" />
                                                  </a>
                                              }
                                              else
                                              {
                                                  <a href="~/IEP/Estudiante">
                                                      <img src="~/images/botones_ruta_migas/iep/btn_grupos_a.png" title="Mis Grupos" />
                                                  </a>
                                              }
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              <a href="~/IEP/IrAlProyecto/@ViewBag.InfoGrupo.idGrupo">
                                                  <img src="~/images/botones_ruta_migas/iep/btn_grupo_a.png" title="Mi Grupo" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              <a href="~/IEP/IrABitacoras/@ViewBag.InfoGrupo.idGrupo">
                                                  <img src="~/images/botones_ruta_migas/iep/btn_mi_bita_a.png" title="Mi Bitacora" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              <a href="~/IEP/IrABitacoras/@ViewBag.InfoGrupo.idGrupo/?posEle=1">
                                                  <img src="~/images/botones_ruta_migas/iep/btn_pert_ondas_a.png" title="Estar  en la onda de  ondas" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/iep/btn_para_ma.png" title="Para el maestro" />
                                          </li>
                                      </ul>
                                  </td>
                              </tr>
                          </table>
                      </div>               
<h4>@ViewBag.Title</h4>

<div class="tab-control" data-role="tab-control">
    <ul class="tabs">
        <li class="active"><a href="#_page_1">2.1 Escriba cinco de ...</a></li>
        <li><a href="#_page_2">2.2 Escriba la pregunta ...</a></li>
    </ul>

    <div class="frames">
        <div class="frame" id="_page_1">
            <div>
                <strong>
                    Escriban cinco de las preguntas que formularon inicialmente los integrantes del grupo de investigación
                </strong>
            </div>
            <br />
            @foreach (var q in Model.Where(m => m.Consecutivo <= 5).Where(m => m.PreguntaPrincipal == false))
            {
                <div class="balloon right">
                    <div class="padding10">
                        @q.Consecutivo : @q.Pregunta
                    </div>
                    <div class="padding5">
                        @Html.ActionLink("Modificar", "EditarPreguntaInvestigacion", new { id = q.id }, new { @class = "lnkEdit" })
                    </div>
                </div>
            }
        </div>

        <div class="frame" id="_page_2">
            <div>
                <strong>
                    Escriba la pregunta seleccionada
                </strong>
            </div>
            <br />
            <div class="balloon right">
                <div class="padding10">
                    @if (mainQuestion != null)
                    {
                        <text>
                            @mainQuestion.Pregunta
                        </text>
                    }
                </div>
                <div class="padding5">
                    @Html.ActionLink("Modificar", "EditarPreguntaInvestigacion", new { id = mainQuestion.id }, new { @class = "lnkEdit" })
                </div>
            </div>
        </div>
    </div>
</div>

                      <div style="display:none;">
                          <div id="Preguntam">
                              <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
                              <b><strong>Cuál es la pregunta?</strong></b><br /><br />
                              Este campo es obligatorio. Aquí debes ingresar una de las preguntas de investigación.
                          </div>
                      </div>

<div id="dialog-edit" style="display: none">
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Está seguro de querer eliminar esta pregunta?
    </p>
</div>


@section Scripts {        
    <script src="~/Scripts/DataTables-1.10.3/media/js/jquery.dataTables.js"></script>
    <script src="~/Scripts/Investic/iep-0.1-BinnacleTwo.js"></script>    

    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/tooltipbootstrap/jquery.webui-popover.js"></script>
    <script>
        //$('#Pregunta').webuiPopover({ url: '#Preguntam', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#dialog-edit').webuiPopover({ url: '#Preguntam', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
    </script>
}