﻿@model IEnumerable<INI.Models.DataBase.tblPresupuestoProyectoInvestigacion>

@using INI.Models.DataBase
@using dl = ClassLibrary

<link href="~/Content/tooltipbootstrap/jquery.webui-popover.css" rel="stylesheet" />

@{
    ViewBag.Title = "Presupuesto Detallado";
    Layout = "~/Views/Shared/_LayoutGrupo.cshtml";
    string msj = ViewBag.Message;
    investicEntities db = new investicEntities();
    var rol = AspNetUsersRoles.IsUserInRole("Maestro", User.Identity.Name);
    double sumatoria = 0;
}
                      <div id="ruta_miga">
                          <table>
                              <tr>
                                  <td rowspan="2">
                                      <ul id="img_fijos">
                                          <li>
                                              <a href="~/IEP/IrABitacoras/@ViewBag.InfoGrupo.idGrupo/?posEle=3">
                                                  <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                                              </a>
                                          </li>
                                      </ul>
                                  </td>
                                  <td>
                                      <ul>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                                          </li>
                                      </ul>

                                  </td>
                              </tr>

                              <tr>
                                  <td>
                                      <ul id="img_variables">
                                          <li>
                                              <a href="~/Home">
                                                  <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              @if (rol == true)
                                              {
                                                  <a href="~/Home/MenuMaestro">
                                                      <img src="~/images/botones_ruta_migas/iep/btn_maestro.png" title="Maestro" />
                                                  </a>
                                              }
                                              else
                                              {
                                                  <a href="~/Home/MenuEstudiante">
                                                      <img src="~/images/botones_ruta_migas/iep/btn_estudiantes.png" title="Estudiantes" />
                                                  </a>
                                              }

                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              <a href="~/Home/MenuIEP">
                                                  <img src="~/images/botones_ruta_migas/iep/btn_IEP.png" title="IEP" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              @if (rol == true)
                                              {
                                                  <a href="~/IEP/Index">
                                                      <img src="~/images/botones_ruta_migas/iep/btn_grupos_a.png" title="Mis Grupos" />
                                                  </a>
                                              }
                                              else
                                              {
                                                  <a href="~/IEP/Estudiante">
                                                      <img src="~/images/botones_ruta_migas/iep/btn_grupos_a.png" title="Mis Grupos" />
                                                  </a>
                                              }
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              <a href="~/IEP/IrAlProyecto/@ViewBag.InfoGrupo.idGrupo">
                                                  <img src="~/images/botones_ruta_migas/iep/btn_grupo_a.png" title="Mi Grupo" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              <a href="~/IEP/IrABitacoras/@ViewBag.InfoGrupo.idGrupo">
                                                  <img src="~/images/botones_ruta_migas/iep/btn_mi_bita_a.png" title="Mi Bitacora" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              <a href="~/IEP/IrABitacoras/@ViewBag.InfoGrupo.idGrupo/?posEle=3">
                                                  <img src="~/images/botones_ruta_migas/iep/btn_presupuesto_a.png" title="Presupuesto proyecto" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/iep/btn_presupuesto_det.png" title="Presupuesto detallado" />
                                          </li>
                                      </ul>
                                  </td>
                              </tr>
                          </table>
                      </div>

<p>
    <button id="lnkCrearPresupuesto" class="btn primary">Agregar presupuesto</button>
</p>

<table id="PresupuestoDetallado" class="table striped hovered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tblRubro.Rubro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionGasto)
            </th>
            <th style="min-width:100px;">
                @Html.DisplayName("Cantidad")
            </th>
            <th style="min-width:120px;">
                @Html.DisplayName("Vl Unitario")
            </th>
            <th style="min-width:120px;">
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th style="min-width:120px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(m => m.idRubro))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.tblRubro.Rubro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescripcionGasto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorRubro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorUnitario)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.Total, "Currency")
                </td>
                <td class="text-right">
                    <a href="#" data-url='@Url.Action("EditarPresupuesto", "IEP", new { id = item.id })' class="js-reload-details">Editar</a> | 
                    <a class="" href="#" onclick="javascript:DeletePresupuesto(@item.id);" title="Eliminar">Eliminar</a>
                </td>
            </tr>
            sumatoria = sumatoria + item.Total;
        }
    </tbody>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class ="text-right">Total presupuesto</tdclass>
        <td class="text-right">
            @String.Format("{0:c}", sumatoria)
        </td>
        <td></td>
    </tr>
</table>

<div id="ingresar-presupuesto">
    @{
        tblPresupuestoProyectoInvestigacion tblpresupuesto = new tblPresupuestoProyectoInvestigacion();
        if (Model != null)
        {
            tblpresupuesto.idGrupoInvestigacion = Model.First().idGrupoInvestigacion;
        }
        ViewBag.idRubro = new SelectList(db.tblRubro, "id", "Rubro");
        Html.RenderPartial("_AgregarPresupuesto", tblpresupuesto);
    }
</div>

<div id="editar-presupuesto">
    @{
        tblPresupuestoProyectoInvestigacion tblpresupuestoe = new tblPresupuestoProyectoInvestigacion();
        if (Model != null)
        {
            tblpresupuestoe.idGrupoInvestigacion = Model.First().idGrupoInvestigacion;
        }
        ViewBag.idRubro = new SelectList(db.tblRubro, "id", "Rubro");
        Html.RenderPartial("_EditarPresupuesto", tblpresupuestoe);
    }
</div>

@section Scripts {        
    <script src="~/Scripts/DataTables-1.10.3/media/js/jquery.dataTables.js"></script>
    <script src="~/Scripts/Investic/iep-0.1-Presupuesto.js"></script>

    <script src="~/Scripts/tooltipbootstrap/jquery.webui-popover.js"></script>
    <script>
        $('#idRubro').webuiPopover({ url: '#idRubrom', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#ValorRubro').webuiPopover({ url: '#ValorRubrom', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#ValorUnitario').webuiPopover({ url: '#ValorUnitariom', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#Total').webuiPopover({ url: '#Totalm', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#DescripcionGasto').webuiPopover({ url: '#DescripcionGastom', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#TemaInvestigacion').webuiPopover({ url: '#TemaInvestigacionm', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#MapaConceptual').webuiPopover({ url: '#MapaConceptualm', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
    </script>

    <script>
        // Presupuesto
        $("#Cerrar").click(function () {
            $('#ingresar-presupuesto').dialog('close');
        });

        $('#ValorRubro').change(function () {
            var fc = $('#ValorUnitario').val();
            var cm = $(this).val() * fc;
            $('#Total').val(cm);
        });

        $('#ValorUnitario').change(function () {
            var fc = $('#ValorRubro').val();
            var cm = $(this).val() * fc;
            $('#Total').val(cm);
        });

        $('.js-reload-details').on('click', function(evt) {
            evt.preventDefault();
            evt.stopPropagation();

            var $detailsDiv = $('#detailsDiv'),
                url = $(this).data('url');

            $.get(url, function(data) {
                $detailsDiv.replaceWith(data);
            });

            $('#editar-presupuesto').dialog('open');
        });
    </script>
}
