﻿<link href="~/Content/tooltipbootstrap/jquery.webui-popover.css" rel="stylesheet" />
<script src="~/Scripts/js/jquery-1.9.1.min.js"></script>
<div class="panel panel-default">
    <div class="panel-body">
@using (Html.BeginForm("leerXml", "IEP", FormMethod.Post, new { enctype = "multipart/form-data", id = "form1" }))
{
   
            <div class="media-body container well">
                <dl class="dl-horizontal">
                    <dt style="padding-bottom:5px;">
                        <div class="span2 text-right">
                            <div id="archivoasubire" style="margin: auto; width: auto;">
                                <strong>
                                    Archivo <span class="requerido">*</span>
                                </strong>
                            </div>
                        </div>
                    </dt>
                    <dd>
                        <div class="input-control text size4">
                            <div id="archivoasubir" class="input-control file">
                                <input id="archivo_xml" name="archivo_xml" type="file" required message="Error Usted no selecciono el archivo [xml]" data-val="true" data-val-required="El archivo es  obligatorio" />
                                <button class="btn btn-file"></button>
                            </div>
                            <div class="errorDiv" style="color:red !important;" ></div>
                            <input type="submit" value="Subir información" class="button large primary" id="enviar" />
                            @*@Html.ValidationMessageFor("archivo_xml", String.Empty, new { @style = "color:red;!important" })*@
                        </div>

                    </dd>
                </dl>
            </div>
    
                                <div style="display:none;">
                                    <div id="Archivo">
                                        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
                                        <b><strong>¿Cuál es tu archivo?</strong></b><br /><br />
                                        Este campo es obligatorio. Aquí debes seleccionar un archivo para actualizar la información del grupo.
                                    </div>
                                </div>
                                <div style="display:none;">
                                    <div id="Archivoe">
                                        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
                                        <b><strong>¿Cuál es tu archivo?</strong></b><br /><br />
                                        Este campo es obligatorio. Aquí debes seleccionar un archivo para actualizar la información del grupo.
                                    </div>
                                </div>
    }
        </div>
    </div>
<script>
    //$(document).ready(function () {
    //    //Validacion de  campo select id_coleccion
    //    $('#id_coleccion').attr('data-val', 'true');
    //    $('#id_coleccion').attr('data-val-range', 'La  colección es obligatoria');
    //    $('#id_coleccion').attr('data-val-range-min', '1');
    //    //Agregar atribitos textarea palabras clave
    //    $('#palabra_clave').attr('cols', '100');
    //    $('#palabra_clave').attr('placeholder', 'Informática, Tecnología');
    //    //Validacion de  campo select id_idioma
    //    $('#tblIdiomas_ID').attr('data-val', 'true');
    //    $('#tblIdiomas_ID').attr('data-val-range', 'El idioma es obligatorio');
    //    $('#tblIdiomas_ID').attr('data-val-range-min', '1');
    //});

    $("#enviar").click(function (e) {

        var file = $("#archivo_xml").val();  //Fetch the filename of the submitted file

        if (file == '') {    //Check if a file was selected
        //Place warning text below the upload control
                $(".errorDiv").html("El archivo es obligatorio.");
                e.preventDefault();
        }
        else {
            //Check file extension
                var ext = file.split('.').pop().toLowerCase();   //Check file extension if valid or expected
                if ($.inArray(ext, ['xml']) == -1) {
                    $(".errorDiv").html("Seleccione un archivo valido (xml).");
                    e.preventDefault(); //Prevent submission of form
                }
                else {
                    //Do your logic here, file upload, stream. etc.. if file was successfully validated
                }
        }
    });
</script>
