﻿@model INI.Models.DataBase.tbNetVirtualGroup
@using INI.Models.DataBase
@{
    Layout = "~/Views/Shared/_InvRVC.cshtml";
    ViewBag.Title = "Create";
    String ctrl = ViewBag.ControllerName;
    var rol = AspNetUsersRoles.IsUserInRole("Maestro", User.Identity.Name);
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/tbNetVirtualGroups/Index/?activo=1">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                        <a href="~/Home/MenuMaestro">
                            <img src="~/images/botones_ruta_migas/iep/btn_maestro.png" title="Maestro" />
                        </a>
                        }
                        else
                        {
                        <a href="~/Home/MenuEstudiante">
                            <img src="~/images/botones_ruta_migas/iep/btn_estudiantes.png" title="Estudiantes" />
                        </a>
                        }

                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/tbNetVirtualGroups/Index">
                            <img src="~/images/botones_ruta_migas/rvc/btn_RVC.png" title="Red virtual conocimiento" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/tbNetVirtualGroups/Index/?activo=1">
                            <img src="~/images/botones_ruta_migas/rvc/btn_red_a.png" title="Mis red" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_crear.png" title="Crear" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br />
@*@Html.ActionLink("RVC", "Index", "tbNetVirtualGroups", null, new { @class = "button bg-blue large" })*@

@*<label style="font-size:20px;font-family:Chewy;color:#00B8D4">Nueva red virtual de conocimiento</label>*@

@using (Html.BeginForm("Create", ctrl, FormMethod.Post, new { enctype = "multipart/form-data", id = "frm_redvirtual" }))
{
    @Html.AntiForgeryToken()
    <div class="panel">
        <div class="panel-header">
            <label style="font-family:Chewy"> Crear nueva red virtual de conocimiento</label>
        </div>
        <div class="panel-content">
            <div class="grid">
                <div class="row">
                    <div class="span12">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="span2">
                        <div style="padding-left:37px">
                            <label id="lbl_name" class="control-label">Nombre <span style="color:red">*</span></label>
                        </div>
                    </div>
                    <div class="span10">
                        <div class="input-control text" data-role="input-control">
                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @placeholder = "Nombre" } })
                            @if (ViewBag.SqlError != null)
                            {
                                <span style="color:red">@ViewBag.SqlError</span>
                            }
                            @Html.ValidationMessageFor(model => model.name, "", new { @style = "color:red;!important" })
                            <button class="btn-clear" tabindex="-1" type="button"></button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span2">
                        <div style="padding-left:37px">
                            <label id="lbl_descripcion" class="control-label">Descripción <span style="color:red">*</span></label>
                        </div>
                    </div>
                    <div class="span10">
                        <div class="input-control text" data-role="input-control">
                            @Html.EditorFor(model => model.description, new { htmlAttributes = new { @placeholder = "Escriba la descripción de la red" } })
                            @Html.ValidationMessageFor(model => model.description, "", new { @style = "color:red;!important" })
                            <button class="btn-clear" tabindex="-1" type="button"></button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span2">
                        <div style="padding-left:37px">
                            <label id="lbl_emblema" class="control-label">Emblema<span style="color:red">*</span></label>
                        </div>
                    </div>
                    <div class="span10">
                        <div id="imagered" class="input-control file info-state" data-role="input-control">
                            @Html.EditorFor(model => model.photo, new { htmlAttributes = new { @tabindex = "-1", @style = "z-index: 0;" } })
                            @*@Html.ValidationMessageFor(model => model.photo, "", new { @style = "color:red;!important" })*@
                            <input type="text" id="__input_file_wrapper__" readonly="" style="z-index: 1; cursor: default;">
                            <button class="btn-file" type="button"></button>
                        </div>
                        <span id="lbl_redvirtualrequerided" style="color:red; display:none">La imagen es obligatoria</span><br />
                        <span id="lbl_redvirtual" style="color:red; display:none" >Solo se admiten imagenes .jpg y .png</span><br />
                        <span id="lbl_redvirtualsize" style="color:red; display:none" >Solo se admiten imagenes con tamaño inferior o igual a 3Mb</span>
                    </div>
                </div>
                <div class="row">
                    <div class="span2">
                        <div  style="padding-left:37px">
                            <input type="submit" value="Guardar" class="button medium primary" />
                        </div>
                    </div>
                    <div class="span10">
                        <div>
                            <a href="@Url.Action("Index")" class="button medium primary">Regresar</a>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div style="display:none;">
    <div id="nombrered">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es el nombre de la red?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar el nombre de la red virtual de conocimiento.
    </div>
</div>
<div style="display:none;">
    <div id="nombrered2">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es el nombre de la red?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar el nombre de la red virtual de conocimiento.
    </div>
</div>
<div style="display:none;">
    <div id="descripcion">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Descripción de la red</strong></b><br /><br />
        En este campo escriba la descripción de la red.
    </div>
</div>
<div style="display:none;">
    <div id="descripcion2">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Descripción de la red</strong></b><br /><br />
        En este campo escriba la descripción de la red.
    </div>
</div>
<div style="display:none;">
    <div id="emblema">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Imagen de la red</strong></b><br /><br />
        Este campo es obligatorio. En este campo elija la imagen de la red.
    </div>
</div>
<div style="display:none;">
    <div id="emblema2">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Imagen de la red</strong></b><br /><br />
        Este campo es obligatorio. En este campo elija la imagen de la red.
    </div>
</div>


@section Scripts {

    <script>
        $(function () {
            $("#lbl_redvirtual").hide();

            $("#frm_redvirtual").submit(function (e) {

                var filesize = 0;
                if (this.photo.files[0] !== undefined){
                    filesize = this.photo.files[0].size / 1024;
                }
                var count_errors = 0;
                
                var img = this.photo.value;
                if (img == null || img == "" || filesize==0) {
                    $("#lbl_redvirtualrequerided").show();
                    count_errors++;
                }
                else {
                    $("#lbl_redvirtualrequerided").hide();
                }

                if (img.match("^.*\.(jpg|JPG|png|PNG)$")) {
                    $("#lbl_redvirtual").hide();                    
                }
                else {
                    $("#lbl_redvirtual").show();
                    count_errors++;                    
                }
                if (filesize <= 3*1024) {
                    $("#lbl_redvirtualsize").hide();                    
                }
                else {                    
                    $("#lbl_redvirtualsize").show();
                    count_errors++;
                }
                
                if (count_errors > 0) {                    
                    return false;
                }

            });
        });
    </script>
    
    <script>
        $('#lbl_name').webuiPopover({ url: '#nombrered', trigger: 'hover', style: 'inverse', placement: 'right', width: '500px' });
        $('#name').webuiPopover({ url: '#nombrered2', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#lbl_descripcion').webuiPopover({ url: '#descripcion', trigger: 'hover', style: 'inverse', placement: 'right', width: '500px' });
        $('#description').webuiPopover({ url: '#descripcion2', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#lbl_emblema').webuiPopover({ url: '#emblema', trigger: 'hover', style: 'inverse', placement: 'right', width: '500px' });
        $('#imagered').webuiPopover({ url: '#emblema2', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
    </script>

}
