﻿@model INI.Models.DataBase.tbNetVirtualGroup
@using INI.Models.DataBase
@{
    Layout = "~/Views/Shared/_InvRVC.cshtml";
    ViewBag.Title = "Delete";
    String ctrl=ViewBag.ControllerName;
    var rol = AspNetUsersRoles.IsUserInRole("Maestro", User.Identity.Name);
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/tbNetVirtualGroups/Index/?activo=1">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/Home/MenuMaestro">
                                <img src="~/images/botones_ruta_migas/iep/btn_maestro.png" title="Maestro" />
                            </a>
                        }
                        else
                        {
                            <a href="~/Home/MenuEstudiante">
                                <img src="~/images/botones_ruta_migas/iep/btn_estudiantes.png" title="Estudiantes" />
                            </a>
                        }

                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/tbNetVirtualGroups/Index">
                            <img src="~/images/botones_ruta_migas/rvc/btn_RVC.png" title="Red virtual conocimiento" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/tbNetVirtualGroups/Index/?activo=1">
                            <img src="~/images/botones_ruta_migas/rvc/btn_red_a.png" title="Mis red" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_inha_ocul.png" title="Eliminar" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>

<br /><br /><br /><br />
<h3 style="font-family: Chewy">Aquí puedes deshabilitar u ocultar tu red</h3>
<div> 
    <div class="panel">
        <div class="panel-header">
            <label>@Model.name</label> 
        </div>
        <div class="panel-content" style="background-color:white">
            <img src="@Url.Action("DowloadFile", "tbNetVirtualGroups", new { id = Model.id, FileId = "photo" })" width="180px" style="display: inline;"/>
            <label style="font-size: large;display: inline;">@Html.Raw(Model.description)</label> 
        </div>
    </div>

    @if (AspNetUsersRoles.IsUserInRole("Administrator", User.Identity.Name))
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m=>m.id)
            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="button large primary" />
            </div>
        }
    }
    <div class="grid">
        <div class="row">
            <div class="span3">
                
                @using (Html.BeginForm("Disabled", "tbNetVirtualGroups"))
                {                    
                    @Html.AntiForgeryToken()                    
                    @Html.HiddenFor(m => m.id)
                    <div class="form-actions no-color">
                        <input type="submit" value="Habilitar/Deshabiitar" class="button medium primary" style="margin-left: 25px;"  data-hint="Inhabilite o habilite|Aquí puede inhabilitar o habilitar la RVC, si desea inhabilitar la red se mostrará en la lista pero no podrá usarse hasta que este vuelva a habilitar." data-hint-position="bottom"/>
                    </div>
                }
            </div>
            <div class="span2">
                @using (Html.BeginForm("Hidden", "tbNetVirtualGroups"))
                {                    
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.id)
                    <div class="form-actions no-color">
                        <input type="submit" value="Ocultar" class="button medium primary" data-hint="Ocultar|Aquí puede ocultar la red si lo desea, ésta dejará de mostrarse en la lista y ya no podrá tener acceso a ella, a menos de que se contacte con el administrador de la plataforma." data-hint-position="bottom"/>
                    </div>
                }
            </div>
            <div class="span3">
                <div>
                    <a href="@Url.Action("Index")" class="button medium primary">Regresar</a>
                </div>
            </div>
        </div>
    </div>
 </div>
