﻿@model INI.Models.DataBase.tbNetVirtualGroup
@using INI.Models.DataBase
@{
    Layout = "~/Views/Shared/_InvRVC.cshtml";
    ViewBag.Title = "Details";
    String ctrl=ViewBag.ControllerName;
    var rol = AspNetUsersRoles.IsUserInRole("Maestro", User.Identity.Name);
    
}
<script>
    //Activo para migas----------------------
    @{ int posicionEle = Convert.ToInt16(Request.Params["activo"]); } 
    //alert(@posicionEle);
</script>
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/tbNetVirtualGroups/Index/?activo=@posicionEle">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/Home/MenuMaestro">
                                <img src="~/images/botones_ruta_migas/iep/btn_maestro.png" title="Maestro" />
                            </a>
                        }
                        else
                        {
                            <a href="~/Home/MenuEstudiante">
                                <img src="~/images/botones_ruta_migas/iep/btn_estudiantes.png" title="Estudiantes" />
                            </a>
                        }

                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/tbNetVirtualGroups/Index">
                            <img src="~/images/botones_ruta_migas/rvc/btn_RVC.png" title="Red virtual conocimiento" />
                        </a>
                    </li>
                    <li>
                            <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/tbNetVirtualGroups/Index/?activo=@posicionEle">
                            <img src="~/images/botones_ruta_migas/rvc/btn_red_a.png" title="Mis red" />
                        </a>                        
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_detalle.png" title="Detalle" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br />
@*@if(INI.Models.DataBase.AspNetUsersRoles.IsUserInRole("Administrator", User.Identity.Name) || INI.Models.DataBase.AspNetUsersRoles.IsUserInRole("Editor", User.Identity.Name))
{
    @Html.ActionLink("Atrás", "Aprobar", "RVC", null, new { @class = "button large primary" })
}
else
{
    @Html.ActionLink("Atrás", "Index", null, new { @class = "button large primary" })
}*@

<br /><br />
<div class="panel">
    <div class="panel-header">
       @Model.name
    </div>
    <div class="panel-content" style="background-color:white">
        <img src="@Url.Action("DowloadFile", "tbNetVirtualGroups", new { id = Model.id, FileId = "photo" })" width="200px" />
        @Html.Raw(Model.description)
    </div>
    <div class="row">
        <div class="span4" style="padding-left:40px">
            @*<a href="@Url.Action("Index")" class="button medium primary">Regresar</a>*@
        </div>
    </div>
</div>    


