﻿@model INI.Models.DataBase.tbNetVirtualGroup
@using INI.Models.DataBase
@{
    Layout = "~/Views/Shared/_InvRVC.cshtml";
    ViewBag.Title = "Edit";
    String ctrl = ViewBag.ControllerName;
    var rol = AspNetUsersRoles.IsUserInRole("Maestro", User.Identity.Name);
}

<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/tbNetVirtualGroups/Index/?activo=1">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                        <a href="~/Home/MenuMaestro">
                            <img src="~/images/botones_ruta_migas/iep/btn_maestro.png" title="Maestro" />
                        </a>
                        }
                        else
                        {
                        <a href="~/Home/MenuEstudiante">
                            <img src="~/images/botones_ruta_migas/iep/btn_estudiantes.png" title="Estudiantes" />
                        </a>
                        }

                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/tbNetVirtualGroups/Index">
                            <img src="~/images/botones_ruta_migas/rvc/btn_RVC.png" title="Red virtual conocimiento" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/tbNetVirtualGroups/Index/?activo=1">
                            <img src="~/images/botones_ruta_migas/rvc/btn_red_a.png" title="Mis red" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_editar.png" title="Editar" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br />

@using (Html.BeginForm("Edit", ctrl, FormMethod.Post, new { enctype = "multipart/form-data", id = "frm_edredvirtual" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model => model.state)

    <div class="panel">
        <div class="panel-header" style="font-family:Chewy">
            Editar red virtual de conocimiento
        </div>
        <div class="panel-content">
            <div class="grid">
                <div class="row">
                    <div class="span2">
                        <div style="padding-left:37px">
                            <label>Nombre<span style="color:red">*</span></label>
                        </div>
                    </div>
                    <div class="span10">
                        <div class="input-control text" data-role="input-control">
                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @placeholder = "Nombre" } })
                            @if (ViewBag.SqlError != null)
                            {
                                <span style="color:red">@ViewBag.SqlError</span>
                            }
                            @Html.ValidationMessageFor(model => model.name, "", new { @style = "color:red;!important" })
                            <button class="btn-clear" tabindex="-1" type="button"></button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span2">
                        <div style="padding-left:37px">
                            <label> Descripción<span style="color:red">*</span></label>
                        </div>
                    </div>
                    <div class="span10">
                        <div class="input-control text" data-role="input-control">
                            @Html.EditorFor(model => model.description, new { htmlAttributes = new { @placeholder = "Escriba la descripción de la red" } })
                            @Html.ValidationMessageFor(model => model.description, "", new { @style = "color:red;!important" })
                            <button class="btn-clear" tabindex="-1" type="button"></button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span2">
                        <div style="padding-left:37px">
                            <label>¿Desea actualizar esta imagen?<span style="color:red;">*</span></label>
                        </div>
                    </div>
                    <div class="span2" style="text-align:center">
                        <img src="@Url.Action("DowloadFile", "tbNetVirtualGroups", new { id = Model.id, FileId = "photo" })" width="100px" />
                    </div>
                    <div class="span8">
                        <div class="input-control radio">
                            <label>
                                <input type="radio" id="rd_yes" name="rd_noturlimage" />
                                <span class="check"></span>
                                Sí
                            </label>
                        </div>

                        <div class="input-control radio">
                            <label>
                                <input type="radio" id="rd_no" name="rd_noturlimage" checked />
                                <span class="check"></span>
                                No
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row" id="box_urlimage" style="display:none">
                    <div class="span2" style="padding-left:37px">                        
                        <label>Emblema<span style="color:red;">*</span></label>
                    </div>
                    <div class="span10">
                        <div class="input-control file">
                            @*<input id="photo" name="photo" type="file" maxlength="500" />*@
                            @Html.EditorFor(model => model.photo)
                            <button class="btn btn-file"></button>
                        </div>                        
                        @*@Html.ValidationMessageFor(model => model.photo, String.Empty, new { @style = "color:red;!important" })*@
                        <span id="lbl_redvirtualrequerided" style="color:red; display:none">La imagen es obligatoria</span><br />
                        <span id="lbl_redvirtual" style="color:red; display:none">Solo se admiten imagenes .jpg y .png</span><br />
                        <span id="lbl_redvirtualsize" style="color:red; display:none" >Solo se admiten imagenes con tamaño inferior o igual a 3Mb</span>
                    </div>
                </div>                        
                <div class="row">
                    <div class="span2" style="padding-left:37px">
                        <div>
                            <input type="submit" value="Guardar" class="button medium primary" />
                        </div>
                    </div>
                    <div class="span10">
                        <div>
                            <a href="@Url.Action("Index")" class="button medium primary">Regresar</a>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {

            $("#rd_yes").click(function () {
                $("#box_urlimage").show();
            });
            $("#rd_no").click(function () {
                $("#photo").val("");
                $("#photo").next().val("")
                $("#box_urlimage").hide();
            });
                        
            $("#lbl_redvirtual").hide();

            $("#frm_edredvirtual").submit(function (e) {

                
                
                if ($("input:radio[name=rd_noturlimage]:checked").attr("id") == 'rd_yes') {
                    var filesize = 0;

                    if (this.photo.files[0] !== undefined) {
                        filesize = this.photo.files[0].size / 1024;
                    }
                    var count_errors = 0;

                    var img = this.photo.value;

                    if (img == null || img == "" || filesize == 0) {
                        $("#lbl_redvirtualrequerided").show();
                        count_errors++;
                    }
                    else {
                        $("#lbl_redvirtualrequerided").hide();
                    }

                    if (img == null || img == "" || img.match("^.*\.(jpg|JPG|png|PNG)$")) {
                        $("#lbl_redvirtual").hide();
                        console.log("Validado");
                    }
                    else {
                        $("#lbl_redvirtual").show();
                        count_errors++;
                    }
                    if (filesize <= 3000) {
                        $("#lbl_redvirtualsize").hide();
                    }
                    else {
                        $("#lbl_redvirtualsize").show();
                        count_errors++;
                    }

                    if (count_errors > 0) {
                        return false;
                    }
                }
                

            });
        });
    </script>
}
