﻿@model INI.Models.Mymodels.RVCTotal
@using INI.Models.DataBase
@{
    Layout = "~/Views/Shared/_InvRVC.cshtml";
    String ctrl = ViewBag.ControllerName;
    var modelName = "tbl_" + ctrl;
    var rol = AspNetUsersRoles.IsUserInRole("Maestro", User.Identity.Name);
    ViewBag.Title = "Index";
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        @if (rol == true)
                        {
                            @*<a href="~/Home/MenuMaestro">*@
                            <a href="javascript:history.back(1)">
                                <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                            </a>
                        }
                        else
                        {
                            @*<a href="~/Home/MenuEstudiante">*@
                            <a href="javascript:history.back(1)">
                                <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                            </a>
                        }
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/Home/MenuMaestro">
                                <img src="~/images/botones_ruta_migas/iep/btn_maestro.png" title="Maestro" />
                            </a>
                        }
                        else
                        {
                            <a href="~/Home/MenuEstudiante">
                                <img src="~/images/botones_ruta_migas/iep/btn_estudiantes.png" title="Estudiantes" />
                            </a>
                        }

                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/tbNetVirtualGroups/Index">
                            <img src="~/images/botones_ruta_migas/rvc/btn_RVC.png" title="Red virtual conocimiento" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/rvc/btn_redes.png" title="Mis redes" />                        
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>

<br /><br /><br />
<h1 style="font-family:Chewy;color:#00B8D4">Red virtual de conocimiento</h1>
@if (INI.Models.DataBase.AspNetUsersRoles.IsUserInRole("Maestro", User.Identity.Name) || INI.Models.DataBase.AspNetUsersRoles.IsUserInRole("Administrador", User.Identity.Name))
{
    @Html.ActionLink("Crear RVC", "Create", "tbNetVirtualGroups", null, new { @class = "button large primary" })
}
@Html.ActionLink("Mis recursos", "Index", "tbNetVirtualResources", null, new { @class = "button large primary" })
<div class="tab-control" data-role="tab-control">
    <ul class="tabs">
        <li class="active"><a href="#_page_1" id="pos1">Mis redes</a></li>
        <li><a href="#_page_2" id="pos2">Redes de colaboración</a></li>
        <li><a href="#_page_3" id="pos3">Invitaciones</a></li>
        <li><a href="#_page_4" id="pos4">Mis solicitudes</a></li>
        <li><a href="#_page_5" id="pos5">Otras RVC</a></li>
    </ul>

    <div class="frames">
        <div class="frame" id="_page_1" style="background:#eeeeee">
            @Html.Partial("~/Views/Shared/RVC/MisRedes.cshtml", Model.Misrvc)
        </div>
        <div class="frame" id="_page_2" style="background:#eeeeee">
            @Html.Partial("~/Views/Shared/RVC/RedesColaboracion.cshtml", Model.rvcMiembro)
        </div>
        <div class="frame" id="_page_3" style="background:#eeeeee">
            @Html.Partial("~/Views/Shared/RVC/Invitaciones.cshtml", Model.rvcInvitaciones)
        </div>
        <div class="frame" id="_page_4" style="background:#eeeeee">
            @Html.Partial("~/Views/Shared/RVC/Solicitudes.cshtml", Model.rvcSolicitudes)
        </div>
        <div class="frame" id="_page_5" style="background:#eeeeee">
            @Html.Partial("~/Views/Shared/RVC/OtrasRedes.cshtml", Model.rvcOtros)
        </div>

    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            
            $('#tbl_mr').DataTable(
                {
                    "language": {
                        "url": "../Lang/es-Co.txt"
                    }
                }
                );
            $('#tbl_rc').DataTable(
                {
                    "language": {
                        "url": "../Lang/es-Co.txt"
                    }
                }
                );
            $('#tbl_inv').DataTable(
                {
                    "language": {
                        "url": "../Lang/es-Co.txt"
                    }
                }
                );
            $('#tbl_or').DataTable(
                {
                    "language": {
                        "url": "../Lang/es-Co.txt"
                    }
                }
                );
            $('#tbl_sol').DataTable(
                {
                    "language": {
                        "url": "../Lang/es-Co.txt"
                    }
                }
                );
            //Other networks
            $(".btnrvcor").click(function () {
                var obj1 = $(this);
                var id = $(this).attr("id");
                console.log(id);
                $.get("/RVC/RequestBelong/" + id, function (data) {
                    obj1.hide();
                    //var not1 = $.Notify.show(data.rta);
                    AlertMessage(data.rta);
                });
            });
            //Acept Invitation
            $(".btnrvcinv").click(function () {
                var obj2 = $(this);
                var id = $(this).attr("id");
                console.log(id);
                $.get("/RVC/AceptRequest/" + id, function (data) {
                    obj2.hide();
                    //var not2 = $.Notify.show(data.rta);
                    AlertMessage(data.rta);
                });
            });

            //Activo para migas----------------------
             @{ int posicionEle = Convert.ToInt16(Request.Params["activo"]); }            
            var posEle = "#pos"+@posicionEle;
            //alert( 'Actvo: '+posEle);
            $(posEle).trigger("click");
            //---------------------------------------
        });
    </script>
}
