﻿@model INI.Models.DataBase.tblAsesorZona
@using INI.Models.DataBase
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
    var usu = User.Identity.Name;
    var rol = AspNetUsersRoles.IsUserInRole("Administrador", User.Identity.Name);
    if (!rol) { rol = AspNetUsersRoles.IsUserInRole("Administrator", User.Identity.Name); }
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/AsesorZonas">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                            {
                                <a href="~/Noticias">
                                    <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                                </a>
                            }
                            else
                            {
                                <a href="~/Admin/Editor?nombreu=@usu">
                                    <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                                </a>
                            }
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/AsesorZonas">
                            <img src="~/images/botones_ruta_migas/editor/btn_asesor_a.png" title="Asesores de zona" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_crear.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br /><br /><br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel">
        <div class="panel-header" style="font-family:Chewy">
            Ingresar nuevo coordinador pedagógico
        </div>   
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })     
        <div class="panel-content" style="margin-left:15px">
            <div class="grid">
                <div class="row">
                    <div id="lb_nameasesor" class="span2">
                        <label style="margin-left: 10px"><strong> Nombres completos<span style="color:red;">*</span></strong></label>
                    </div>
                    <div class="span10" id="box_nameasesor">
                        @Html.EditorFor(model => model.aseZon_nombre, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombres" } })
                        @Html.ValidationMessageFor(model => model.aseZon_nombre, "", new { @style = "color:red;!important" })
                       
                    </div>
                </div>
                <div class="row">
                    <div id="lb_apellidoasesor" class="span2">
                        <strong style="margin-left: 10px">Apellidos<span style="color:red;">*</span></strong>
                    </div>
                    <div class="span10" id="box_apellidoasesor">
                        @Html.EditorFor(model => model.aseZon_apellido, new { htmlAttributes = new { @class = "form-control", @placeholder = "Apellidos" } })
                        @Html.ValidationMessageFor(model => model.aseZon_apellido, "", new { @style = "color:red;!important" })                        
                        @if (ViewBag.SqlError != null)
                        {
                            <span style="color:red;!important">@ViewBag.SqlError</span>
                        }
                    </div>
                </div>

                <div class="row">
                    <div id="lb_correoasesor" class="span2">
                        <strong style="margin-left: 10px">Correo<span style="color:red;">*</span></strong>
                    </div>
                    <div class="span10" id="box_correoasesor">
                        @Html.EditorFor(model => model.aseZon_correo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Correo electrónico" } })
                        @Html.ValidationMessageFor(model => model.aseZon_correo, "", new { @style = "color:red;!important" })
                    </div>
                </div>
                <div class="row">
                    <div id="lb_phoneasesor" class="span2">
                        <strong style="margin-left: 10px">Teléfono<span style="color:red;">*</span></strong>
                    </div>
                    <div class="span10" id="box_phoneasesor">
                        @Html.EditorFor(model => model.aseZon_telefono, new { htmlAttributes = new { @class = "form-control", @placeholder = "Teléfono" } })
                        @Html.ValidationMessageFor(model => model.aseZon_telefono, "", new { @style = "color:red;!important" })
                    </div>
                </div>
                <div class="row">
                    <div id="lb_municipioAsesor" class="span2">
                        <strong style="margin-left: 10px">Municipio<span style="color:red;">*</span></strong>
                    </div>
                    <div class="span10" id="box_municipioAsesor">
                        @Html.DropDownList("tblMunicipio_ID")
                        @Html.ValidationMessageFor(model => model.tblMunicipios.idMunicipio,"", new { @style = "color:red;!important" })
                    </div>
                </div>
                <div class="row">
                    <div class="span2">
                        <strong style="margin-left: 10px">Está activo</strong>
                    </div>
                    <div class="span10">
                        @Html.CheckBox("estaActivo", true, new { @disabled = "disabled" })
                    </div>
                </div>
                <div class="row">
                    <div class="span2">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Guardar" class="button medium primary" />
                        </div>
                    </div>
                    <div class="span10">
                        <a href="@Url.Action("Index")" class="button medium primary">Regresar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}    

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

    <div style="display:none;">
        <div id="nameasesor">
            <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
            <b><strong>¿Cuál es tu nombre?</strong></b><br /><br />
            Este campo es obligatorio. Aquí debe ingresar un nombre.
        </div>
    </div>
    <div style="display:none;">
        <div id="apellidoasesor">
            <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
            <b><strong>¿Cuál es tu apellido?</strong></b><br /><br />
            Este campo es obligatorio. Aquí debe ingresar un apellido.
        </div>
    </div>
    <div style="display:none;">
        <div id="correoasesor">
            <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
            <b><strong>¿Cuál es tu correo?</strong></b><br /><br />
            Este campo es obligatorio. Aquí debe ingresar un correo electrónico.
        </div>
    </div>
    <div style="display:none;">
        <div id="phoneasesor">
            <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
            <b><strong>¿Cuál es tu teléfono?</strong></b><br /><br />
            Este campo es obligatorio. Aquí debe ingresar un teléfono.
        </div>
    </div>
    <div style="display:none;">
        <div id="municipioAsesor">
            <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
            <b><strong>¿Cuál es tu municipio?</strong></b><br /><br />
            Este campo es obligatorio. Aquí debe escoger un municipio:.
        </div>
    </div>
<div style="display:none;">
    <div id="boxnameasesor">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es tu nombre?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debe ingresar un nombre.
    </div>
</div>
<div style="display:none;">
    <div id="boxapellidoasesor">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es tu apellido?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debe ingresar un apellido.
    </div>
</div>
<div style="display:none;">
    <div id="boxcorreoasesor">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es tu correo?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debe ingresar un correo electrónico.
    </div>
</div>
<div style="display:none;">
    <div id="boxphoneasesor">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es tu teléfono?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debe ingresar un teléfono.
    </div>
</div>
<div style="display:none;">
    <div id="boxmunicipioAsesor">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es tu municipio?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debe escoger un municipio:.
    </div>
</div>

