﻿@model INI.Models.DataBase.tblAsesorZona
@using INI.Models.DataBase
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
    var usu = User.Identity.Name;
    var rol = AspNetUsersRoles.IsUserInRole("Administrador", User.Identity.Name);
    if (!rol) { rol = AspNetUsersRoles.IsUserInRole("Administrator", User.Identity.Name); }
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/AsesorZonas">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                            {
                                <a href="~/Noticias">
                                    <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                                </a>
                            }
                            else
                            {
                                <a href="~/Admin/Editor?nombreu=@usu">
                                    <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                                </a>
                            }
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/AsesorZonas">
                            <img src="~/images/botones_ruta_migas/editor/btn_asesor_a.png" title="Asesores de zona" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_eliminar.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br /><br /><br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel">
        <div class="panel-header" style="font-family:Chewy">
            ¿Está seguro que desea eliminar este coordinador?
        </div>
        <div class="panel-content">
            <div class="grid">
                <div class="row">
                    <div class="span4" style="margin-left:10px">
                        Nombres completos del coordinador:
                    </div>
                    <div class="span8">
                        @Html.DisplayFor(model => model.aseZon_nombre)
                    </div>
                </div>
                <div class="row">
                    <div class="span4" style="margin-left:10px">
                        Apellidos del coordinador:
                    </div>
                    <div class="span8">
                        @Html.DisplayFor(model => model.aseZon_apellido)
                    </div>
                </div>
                <div class="row">
                    <div class="span4" style="margin-left:10px">
                        Correo Electrónico:
                    </div>
                    <div class="span8">
                        @Html.DisplayFor(model => model.aseZon_correo)
                    </div>
                </div>
                <div class="row">
                    <div class="span4" style="margin-left:10px">
                        Teléfono de contacto:
                    </div>
                    <div class="span8">
                        @Html.DisplayFor(model => model.aseZon_telefono)
                    </div>
                </div>
                <div class="row">
                    <div class="span4" style="margin-left:10px">
                        @*<dt>
                                @Html.DisplayNameFor(model => model.tblEquipo_ID)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.tblEquipo_ID)
                            </dd>*@
                        Municipio al que estaba registrado:
                    </div>
                    <div class="span8">
                        @Html.Label(Model.tblMunicipios.NombreMunicipio)
                    </div>
                </div>
                <div class="row">
                    <div class="span2" style="margin-left:10px">
                        <input type="submit" value="Eliminar" class="button meduim primary" />
                    </div>
                    <div class="span10">
                        <div class="form-actions no-color">                            
                            <a href="@Url.Action("Index")" class="button medium primary">Regresar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
        @*@using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color" style="margin-left:15px">
                
            </div>
        }*@
    

