﻿@model INI.Models.DataBase.tblAsesorZona
@using INI.Models.DataBase
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
    var usu = User.Identity.Name;
    var rol = AspNetUsersRoles.IsUserInRole("Administrador", User.Identity.Name);
    if (!rol) { rol = AspNetUsersRoles.IsUserInRole("Administrator", User.Identity.Name); }
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/AsesorZonas">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/Noticias">
                                <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                            </a>
                        }
                        else
                        {
                            <a href="~/Admin/Editor?nombreu=@usu">
                                <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                            </a>
                        }
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/AsesorZonas">
                            <img src="~/images/botones_ruta_migas/editor/btn_asesor_a.png" title="Asesores de zona" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_editar.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br /><br /><br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel">
        <div class="panel-header" style="font-family:Chewy">
            Actualizar datos del coordinador pedagógico
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        @Html.HiddenFor(model => model.tblAsesorZona_ID)
        <div class="panel-content">
            <div class="grid">
                <div class="row">
                    <div class="span4" id="ed_nameasesor">
                        <strong style="margin-left: 15px">Nombres completos<span style="color:red;">*</span></strong>
                    </div>
                    <div class="span8" id="boxed_nameasesor">
                        @Html.EditorFor(model => model.aseZon_nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.aseZon_nombre, "", new { @style = "color:red;!important" })
                        
                    </div>
                </div>
                <div class="row">
                    <div class="span4" id="ed_apellidoasesor">
                        <strong style="margin-left: 15px">Apellidos completos<span style="color:red;">*</span></strong>
                    </div>
                    <div class="span8" id="boxed_apellidoasesor">
                        @Html.EditorFor(model => model.aseZon_apellido, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.aseZon_apellido, "", new { @style = "color:red;!important" })
                        @if (ViewBag.SqlError != null)
                        {
                            <span style="color:red">@ViewBag.SqlError</span>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="span4" id="ed_correoasesor">
                        <strong style="margin-left: 15px">Correo del asesor de zona<span style="color:red;">*</span></strong>
                        @*@Html.LabelFor(model => model.aseZon_correo, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    </div>
                    <div class="span8" id="boxed_correoasesor">
                        @Html.EditorFor(model => model.aseZon_correo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.aseZon_correo, "", new { @style = "color:red;!important" })
                    </div>
                </div>
                <div class="row"> 
                    <div class="span4" id="ed_phoneasesor">
                        <strong style="margin-left: 15px">Teléfono del asesor de zona<span style="color:red;">*</span></strong>
                        @*@Html.LabelFor(model => model.aseZon_telefono, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    </div>
                    <div class="span8" id="boxed_phoneasesor">
                        @Html.EditorFor(model => model.aseZon_telefono, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.aseZon_telefono, "", new { @style = "color:red;!important" })
                    </div>
                </div>

                @*<div class="form-group">
                        @Html.LabelFor(model => model.tblEquipo_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.tblEquipo_ID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.tblEquipo_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>*@
                <div class="row">
                    <div class="span4" id="ed_municipioAsesor">
                        <strong style="margin-left: 15px">Municipio</strong>
                    </div>
                    <div class="span8" id="boxed_municipioAsesor">
                        @Html.DropDownList("tblMunicipio_ID", String.Empty)
                        @Html.ValidationMessageFor(model => model.tblMunicipios.idMunicipio)
                    </div>
                </div>
                <div class="row">
                    <div class="span2">
                        <strong style="margin-left: 15px">Está activo</strong>
                    </div>
                    <div class="span10">
                        @Html.CheckBox("estaActivo")
                    </div>
                </div>
                <div class="row">
                    <div class="span2">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Guardar" class="button medium primary" />
                        </div>
                    </div>
                    <div class="span10">
                        <a href="@Url.Action("Index")" class="button medium primary">Regresar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
    
    
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
<div style="display:none;">
    <div id="ednameasesor">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea cambiar el nombre?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debe ingresar un nombre.
    </div>
</div>
<div style="display:none;">
    <div id="edapellidoasesor">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea actualizar el apellido?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debe ingresar un apellido.
    </div>
</div>
<div style="display:none;">
    <div id="edcorreoasesor">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea actualizar el correo?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debe ingresar un correo electrónico.
    </div>
</div>
<div style="display:none;">
    <div id="edphoneasesor">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea actualizar el teléfono?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debe ingresar un teléfono.
    </div>
</div>
<div style="display:none;">
    <div id="edmunicipioAsesor">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea cambiar el municipio?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debe escoger un municipio:.
    </div>
</div>
<div style="display:none;">
    <div id="edboxnameasesor">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea cambiar el nombre?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debe ingresar un nombre.
    </div>
</div>
<div style="display:none;">
    <div id="edboxapellidoasesor">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea actualizar el apellido?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debe ingresar un apellido.
    </div>
</div>
<div style="display:none;">
    <div id="edboxcorreoasesor">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea actualizar el correo?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debe ingresar un correo electrónico.
    </div>
</div>
<div style="display:none;">
    <div id="edboxphoneasesor">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea actualizar el teléfono?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debe ingresar un teléfono.
    </div>
</div>
<div style="display:none;">
    <div id="edboxmunicipioAsesor">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea cambiar el municipio?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debe escoger un municipio.
    </div>
</div>