﻿@model IEnumerable<INI.Models.DataBase.tblAsesorZona>
@using INI.Models.DataBase
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
    var usu = User.Identity.Name;
    var rol = AspNetUsersRoles.IsUserInRole("Administrador", User.Identity.Name);
    if (!rol) { rol = AspNetUsersRoles.IsUserInRole("Administrator", User.Identity.Name); }
}
                      <div id="ruta_miga">
                          <table>
                              <tr>
                                  <td rowspan="2">
                                      <ul id="img_fijos">
                                          <li>
                                              @if (rol == true)
                                              {
                                                  @*<a href="~/Noticias">*@
                                                  <a href="javascript:history.back(1)">
                                                      <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                                                  </a>
                                              }
                                              else
                                              {
                                                  @*<a href="~/Admin/Editor?nombreu=@usu">*@
                                                  <a href="javascript:history.back(1)">
                                                      <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                                                  </a>
                                              }
                                              </li>
                                        </ul>
                                  </td>
                                  <td>
                                      <ul>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                                          </li>
                                      </ul>

                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <ul id="img_variables">
                                          <li>
                                              <a href="~/Home">
                                                  <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              @if (rol == true)
                                                {
                                                    <a href="~/Noticias">
                                                        <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a href="~/Admin/Editor?nombreu=@usu">
                                                        <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                                                    </a>
                                                }
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/editor/btn_asesores.png" title="Asesores de zona" />
                                          </li>
                                      </ul>
                                  </td>
                              </tr>
                          </table>
                      </div>
                      <br /><br /><br /><br /><br /><br /><br />
@*<h2 style="font-family:Chewy">Registro de Coordinadores Pedagógicos</h2>*@

<p>
    <label class="button large bg-green">@Html.ActionLink("Crear nuevo coordinador", "Create")</label>
</p>
<table class="table" id="tabla">
    <thead>
        <tr>
            <th>
                Nombres Completos
            </th>
            <th>
                Apellidos Completos
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aseZon_correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aseZon_telefono)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.tblEquipo_ID)
            </th>*@
            <th>
                Municipio
            </th>
            
            <th width="10%" >
                Está Activo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.aseZon_nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.aseZon_apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.aseZon_correo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.aseZon_telefono)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.tblEquipo_ID)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.tblMunicipios.NombreMunicipio)
                </td>

                <td align="center">
                    @* Asesor *@
                    @Html.DisplayFor(modelItem => item.estaActivo.Value)
                    
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.tblAsesorZona_ID }) |
                    @*@Html.ActionLink("Ver", "Details", new { id = item.tblAsesorZona_ID }) |*@
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.tblAsesorZona_ID })
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script src="~/Scripts/DataTables-1.10.4/jquery.dataTables.js"></script>
    <script>
        $(function () {
            $('#tabla').dataTable({
                "sPaginationType": "full_numbers",
                "oLanguage": {
                    "sUrl": "../../Lang/es-CO.txt"
                }
            });

        });

    </script>
}