﻿@model INI.Models.DataBase.tbNetVirtualForo
<div id="fororpl">
    @using (Html.BeginForm("AgregarForo", "RVCWall"))
    {
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.idUser)
        @Html.HiddenFor(model => model.idGrupoInvestigacion)
        @Html.HiddenFor(model => model.idForo)
        @Html.HiddenFor(model => model.Fecha)
        @Html.HiddenFor(model => model.Respuestas)

        <form class="form-horizontal">
            <div class="form-group">
                <label id="lbl_titulo" for="Titulo" class="col-sm-2 control-label">Titulo </label>
                <div class="col-sm-10">
                    @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control", placeholder = "", @readonly = true } })
                    @Html.ValidationMessageFor(model => model.Titulo, String.Empty, new { @style = "color:red;!important" })
                </div>
            </div>

            <div class="form-group">
                <label id="lbl_mesage" for="Mensaje" class="col-sm-2 control-label" style="margin-top:10px;">Mensaje </label>
                <div class="col-sm-10">
                    @Html.TextAreaFor(model => model.Mensaje, new { @class = "form-control", @style = "margin-top:10px;", placeholder = "Escribe el mensaje" })
                    @Html.ValidationMessageFor(model => model.Mensaje, String.Empty, new { @style = "color:red;!important" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="button bg-blue large" style="margin-top:15px;" id="enviarForo">Replicar</button>
                </div>
            </div>
        </form>
    }
</div>