﻿@model IEnumerable<INI.Models.DataBase.tbNetVirtualForo>
@using INI.Models.DataBase
@using dl = ClassLibrary

@{
    Layout = "~/Views/Shared/_InvRVC.cshtml";
    ViewBag.Title = "Foro";
    string msj = ViewBag.Message;
    int idGrupoInvestigacion = (int)ViewBag.idGrupoinvestigacion;
    investicEntities db = new investicEntities();
    var rol = AspNetUsersRoles.IsUserInRole("Maestro", User.Identity.Name);
}
                      <div id="ruta_miga">
                          <table>
                              <tr>
                                  <td rowspan="2">
                                      <ul id="img_fijos">
                                          <li>
                                              <a href="~/RVCWall/Index/@idGrupoInvestigacion">
                                                  <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                                              </a>
                                          </li>
                                      </ul>
                                  </td>
                                  <td>
                                      <ul>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                                          </li>
                                      </ul>

                                  </td>
                              </tr>

                              <tr>
                                  <td>
                                      <ul id="img_variables">
                                          <li>
                                              <a href="~/Home">
                                                  <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              @if (rol == true)
                                              {
                                                  <a href="~/Home/MenuMaestro">
                                                      <img src="~/images/botones_ruta_migas/iep/btn_maestro.png" title="Maestro" />
                                                  </a>
                                              }
                                              else
                                              {
                                                  <a href="~/Home/MenuEstudiante">
                                                      <img src="~/images/botones_ruta_migas/iep/btn_estudiantes.png" title="Estudiantes" />
                                                  </a>
                                              }

                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              <a href="~/tbNetVirtualGroups">
                                                  <img src="~/images/botones_ruta_migas/rvc/btn_RVC.png" title="Red virtual conocimiento" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              <a href="~/RVCWall/Index/@idGrupoInvestigacion">
                                                  <img src="~/images/botones_ruta_migas/rvc/btn_red_colab_a.png" title="Red de colaboración" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/rvc/btn_foro.png" title="Foro" />
                                          </li>
                                      </ul>
                                  </td>
                              </tr>
                          </table>
                      </div>
<br /><br /><br /><br />
<p>
    <button id="lnkCrearForo" class="bg-green" onclick="javascript: Nuevo();">Crear Foro</button>
</p>
<label style="font-family:Chewy; font-size: 30px; color: #00B8D4">Foros</label>
<div class="panel-group" id="accordion">
    @{int i = 0;}
    @foreach (var item in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse@(i)">
                        Titulo: @item.Titulo | Autor: @AspNetUsers.GetNameById(item.tbNetVirtualUser.id) | Respuestas: @item.Respuestas.ToString()
                    </a>
                </div>
            </div>
            <div id="collapse@(i)" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-body container well linkify1" >
                            <dl class="dl-horizontal">
                                <dt style="padding-bottom:5px;">Asunto:&nbsp&nbsp</dt>
                                <dd>@(item.Mensaje)
                                    <div style="padding-left: 5px;">
                                        <i>Escrito por &#8594; <strong>@AspNetUsers.GetNameById(item.tbNetVirtualUser.id)</strong></i>
                                    </div>                               
                                </dd>
                                <dt>&nbsp</dt>
                                <dd>
                                    <div style="padding-left: 5px;">
                                        <i>Publicado el @item.Fecha</i>
                                    </div>
                                </dd>                                                                
                                <dt>&nbsp</dt>
                                <dd><button id="lnkResponderForo" onclick="javascript: Responder('@item.id', '@item.Titulo');" class="bg-green">Responder</button></dd>
                                @*<dd><button id="@item.id"  class="bg-green lnkResponderForo">Responder</button></dd>*@
                            </dl>
                        </div>
                    </div>
                    @if (item.tbNetVirtualForo1.Count > 0)
                    {
                        foreach (var itemRes in item.tbNetVirtualForo1)
                        {
                            <div class="media">
                                <div class="col-md-offset-1">
                                    <div class="media-body container well linkify1">
                                        @(itemRes.Mensaje)
                                        <div style="padding-left: 5px;">
                                            <i>Escrito por &#8594; <strong>@AspNetUsers.GetNameById(itemRes.tbNetVirtualUser.id)</strong></i>
                                        </div>
                                        <div style="padding-left: 3px;">
                                            <i>Publicado el @item.Fecha</i>
                                        </div>
                                    </div>                                    
                                    <div><button id="lnkResplicarForo" onclick="javascript: Replicar('@itemRes.id', '@itemRes.Titulo');" class="bg-green">Replicar</button></div>
                                </div>
                            </div>
                            if (itemRes.tbNetVirtualForo1.Count > 0)
                            {
                                foreach (var itemRep in itemRes.tbNetVirtualForo1)
                                {
                                    <div class="media" style="width:95%;margin-left:55px">
                                        <div class="col-md-offset-1">
                                            <div class="media-body container well linkify1">
                                                @(itemRep.Mensaje)
                                                <div style="padding-left: 5px;">
                                                    <i>Escrito por &#8594; <strong>@AspNetUsers.GetNameById(itemRep.tbNetVirtualUser.id)</strong></i>
                                                </div>
                                                <div style="padding-left: 3px;">
                                                    <i>Publicado el @itemRep.Fecha</i>
                                                </div>
                                            </div>                                           
                                        </div>
                                    </div>

                                }
                            }

                        }
                    }
                </div>
            </div>
        </div>
        i++;
    }
</div>

<div id="nuevo-foro">
    @{
        tbNetVirtualForo tblforo = new tbNetVirtualForo();
        tblforo.idGrupoInvestigacion = idGrupoInvestigacion;
        tblforo.Respuestas = 0;
        tblforo.idUser = new Guid(AspNetUsers.GetUserId(User.Identity.Name));
        Html.RenderPartial("_CrearForoRVC", tblforo);
    }
</div>
<div id="nueva-respuesta">
        @{
        tbNetVirtualForo tblrtaforo = new tbNetVirtualForo();
        tblrtaforo.idGrupoInvestigacion = idGrupoInvestigacion;
        tblrtaforo.Respuestas = 0;
        tblrtaforo.idUser = new Guid(AspNetUsers.GetUserId(User.Identity.Name));
        Html.RenderPartial("_CrearRespuestaForoRVC", tblrtaforo);
        }
</div>

<div id="nueva-replica">
        @{
        tbNetVirtualForo tblrplforo = new tbNetVirtualForo();
        tblrplforo.idGrupoInvestigacion = idGrupoInvestigacion;
        tblrplforo.Respuestas = 0;
        tblrplforo.idUser = new Guid(AspNetUsers.GetUserId(User.Identity.Name));
        Html.RenderPartial("_CrearReplicaForoRVC", tblrplforo);
        }
</div>

@*<div id="nueva-respuesta">
    @{
        tbNetVirtualForo tblforo2 = new tbNetVirtualForo();
        tblforo2.idGrupoInvestigacion = idGrupoInvestigacion;
        tblforo2.Respuestas = 0;
        tblforo2.idUser = new Guid(AspNetUsers.GetUserId(User.Identity.Name));
        Html.RenderPartial("_CrearRespuestaForoRVC", tblforo2);
    }
</div>*@

@section Scripts {          
    @Scripts.Render("~/bundles/jqueryval")    
    <script src="~/Scripts/linkify/linkify.min.js"></script>
    <script src="~/Scripts/linkify/linkify-jquery.min.js"></script>
    <script src="~/Scripts/RVC/foroproyecto.js"></script>
    <script>
        AlertMessage('@msj');

        $('#lbl_titulo').webuiPopover({ url: '#tituloa', trigger: 'hover', style: 'inverse', placement: 'right', width: '500px' });
        $('#Titulo').webuiPopover({ url: '#tituloa2', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#lbl_mesage').webuiPopover({ url: '#mensajea', trigger: 'hover', style: 'inverse', placement: 'right', width: '500px' });
        $('#Mensaje').webuiPopover({ url: '#mensajea2', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });

    </script>

    <script>
        $('.linkify1').linkify({
            target: "_blank"
        });
    </script>
}

<div style="display:none;">
    <div id="tituloa">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cual es el titulo del foro?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar un titulo.
    </div>
</div>
<div style="display:none;">
    <div id="tituloa2">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cual es el titulo del foro?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar un titulo.
    </div>
</div>

<div style="display:none;">
    <div id="mensajea">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cual es el asunto?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar el asunto.
    </div>
</div>
<div style="display:none;">
    <div id="mensajea2">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cual es el asunto?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar el asunto.
    </div>
</div>














