﻿@model  List<INI.Models.Mymodels.RedVirtualGrupoOtherUser>

<div style="width:auto; height:448px; overflow: auto">
    <table id="tbl_rc" class="table">
        <thead>
            <tr>
                <th>Logo</th>
                <th>Creador</th>
                <th>
                    Nombre
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="#">
                            <img src="@Url.Action("DowloadFile", "tbNetVirtualGroups", new { id = item.id, FileId = "photo" })" width="100px" />
                        </a>
                    </td>
                    <td>
                        <a href="#" data-hint="Owner|Aqui podras saber más sobre el creador de esta red." data-hint-position="bottom">
                            <img src="@Url.Action("DowloadFile", "tbNetVirtualUsers", new { id = item.idUser, FileId = "photo" }) " width=" 50px" />
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

