﻿@model INI.Models.Mymodels.RVCWall
@using INI.Models.DataBase
@{
    ViewBag.Title = "Index";
    int id = Model.id;
    Layout = "~/Views/Shared/_InvRVC.cshtml";
    var rol = AspNetUsersRoles.IsUserInRole("Maestro", User.Identity.Name);
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        @*<a href="~/tbNetVirtualGroups">*@
                        <a href="javascript:history.back(1)">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/Home/MenuMaestro">
                                <img src="~/images/botones_ruta_migas/iep/btn_maestro.png" title="Maestro" />
                            </a>
                        }
                        else
                        {
                            <a href="~/Home/MenuEstudiante">
                                <img src="~/images/botones_ruta_migas/iep/btn_estudiantes.png" title="Estudiantes" />
                            </a>
                        }

                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/tbNetVirtualGroups">
                            <img src="~/images/botones_ruta_migas/rvc/btn_RVC.png" title="Red virtual conocimiento" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/RVCWall/Index/@id">
                            <img src="~/images/botones_ruta_migas/rvc/btn_red_colab_v.png" title="Red de colaboración" />
                            
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>

<br /><br /><br />
<h1 style="font-family:chewy;color:#00b8d4">Red de colaboración</h1>
@if(rol == true){
    @Html.ActionLink("Invitar", "InvitarUsuario", "RVCWall", new {id=id }, new { @class = "button large primary" })
}
@Html.ActionLink("Foro", "ForoRVC", "RVCWall", new { id = id }, new { @class = "button large primary" })
@Html.ActionLink("Chat", "ChatRVC", "RVCWall", new { id = id }, new { @class = "button large primary" })

<div class="tab-control" data-role="tab-control">
    <ul class="tabs">
        <li class="active"><a href="#_page_1">Comentarios</a></li>
        <li><a href="#_page_2">Solicitudes</a></li>
        @*<li><a href="#_page_3">Recursos</a></li>*@        
        @*<li><a href="#_page_4">Publicaciones</a></li>*@  
        <li><a href="#_page_5">Participantes</a></li>  
    </ul>

    <div class="frames">
        <div class="frame" id="_page_1" style="background-color:#eeeeee">
            @Html.Partial("~/Views/Shared/RVCWall/Comentarios.cshtml", Model.Messages)
        </div>
        <div class="frame" id="_page_2" style="background-color:#eeeeee">
            @Html.Partial("~/Views/Shared/RVCWall/Solicitudes.cshtml", Model.Aplicant)
        </div>
        <div class="frame" id="_page_3" style="background-color:#eeeeee">
            @Html.Partial("~/Views/Shared/RVCWall/Recursos.cshtml")
        </div>
        @*<div class="frame" id="_page_4">
            ...
        </div>*@
        <div class="frame" id="_page_5" style="background-color:#eeeeee">
            @Html.Partial("~/Views/Shared/RVCWall/Participantes.cshtml",Model.UsersRVC)            
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#rvc').DataTable(
                 {
                     "language": {
                         "url": "../../Lang/es-Co.txt"
                     }
                 }
                );
            $('#usrrvc').DataTable(
                 {
                     "language": {
                         "url": "../../Lang/es-Co.txt"
                     }
                 }
                );
            
            $(".btnrvc").click(function () {
                var obj = $(this);
                var idr = $(this).attr("id");
                console.log(idr);
                $.get("/RVCWall/AproveRequest", {id:idr,idgrp:@Model.id} , function (data) {
                    obj.hide();
                    //var not = $.Notify.show(data.rta);
                    AlertMessage(data.rta);
                });
            });
            $("#btn_sendmsj").click(function () {
                var idgrusr = $("#hd_id").val();
                var txtmsj = $("#txt_area_msj").val();
                console.log(txtmsj);
                $.get("/RVCWall/SendMessage/", { id: idgrusr, msj: txtmsj }, function (data) {
                    $("#txt_area_msj").val("");
                    //var not = $.Notify.show(data.rta);
                    AlertMessage(data.rta);
                });
            });
            $(".btnusrrvc").click(function(){
                var iduser=$(this).attr("id");
                $.Dialog({
                    overlay: true,
                    shadow: true,
                    flat: true,                    
                    title: 'Redes',
                    content: '',                    
                    width: 500,
                    padding: 10,
                    height:500,
                    onShow: function(_dialog){
                        var content = _dialog.children('.content');
                        content.load("/RVCWall/GetNVKByUser/"+iduser);
                        //content.html('<strong>'+iduser+'</strong>');
                    }
                });
            });
        });
    </script>
}
