﻿@using INI.Models.DataBase
@{
    Layout = "~/Views/Shared/_InvRVC.cshtml";
    ViewBag.Title = "InvitarUsuario";
    int idgrp = ViewBag.Id;
    var rol = AspNetUsersRoles.IsUserInRole("Maestro", User.Identity.Name);
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/RVCWall/Index/@idgrp">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/Home/MenuMaestro">
                                <img src="~/images/botones_ruta_migas/iep/btn_maestro.png" title="Maestro" />
                            </a>
                        }
                        else
                        {
                            <a href="~/Home/MenuEstudiante">
                                <img src="~/images/botones_ruta_migas/iep/btn_estudiantes.png" title="Estudiantes" />
                            </a>
                        }

                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/tbNetVirtualGroups">
                            <img src="~/images/botones_ruta_migas/rvc/btn_RVC.png" title="Red virtual conocimiento" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/RVCWall/Index/@idgrp">
                            <img src="~/images/botones_ruta_migas/rvc/btn_red_colab_a.png" title="Red de colaboración" />

                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/rvc/btn_inv_usuario.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br />
<label style="font-family:Chewy; font-size: 30px; color: #00B8D4">Invitar usuarios</label>
@*<input type="hidden" idgrp="idgrp" value=@id/>*@
<table id="tblAdmin">
    <thead>
        <tr>
            <th>
                Documento
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Genero
            </th>
            <th>
                Correo
            </th>
            <th>
                Dirección
            </th>
            <th>
                Fecha nacimiento
            </th>
            <th>
                Rol
            </th>
            <th>

            </th>
        </tr>
    </thead>

    <tbody></tbody>


</table>
@section scripts{
    <script src="~/Scripts/moment.js"></script>
    <script>

    $(function () {
        $.fn.dataTable.moment('HH:mm MMM D, YY');
        $.fn.dataTable.moment('dddd, MMMM Do, YYYY');
        $('#tblAdmin').DataTable({
            
            "language": {
                "url": "../../Lang/es-Co.txt"
            },
            
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "/RVCWall/getUsers",
                "type": "POST"
            },
            "columns": [
                { "data": "PersonalID" },
                { "data": "Name" },
                { "data": "SureName" },
                { "data": "Genre" },
                { "data": "Email" },
                { "data": "Address" },
                { "data": "BirthDay" },
                { "data": "Rol" },
                {
                    "class": "details-control",
                    "orderable": false,
                    "data": null,
                    "defaultContent": "<button onclick=redirect_action(this,1)>Invitar</button>"
                }
            ]


        });


    });

    (function ($) {

        $.fn.dataTable.moment = function (format, locale) {
            var types = $.fn.dataTable.ext.type;

            // Add type detection
            types.detect.unshift(function (d) {
                // Null and empty values are acceptable
                if (d === '' || d === null) {
                    return 'moment-' + format;
                }

                return moment(d.replace ? d.replace(/<.*?>/g, '') : d, format, locale, true).isValid() ?
                    'moment-' + format :
                    null;
            });

            // Add sorting method - use an integer for the sorting
            types.order['moment-' + format + '-pre'] = function (d) {
                return d === '' || d === null ?
                    -Infinity :
                    parseInt(moment(d.replace ? d.replace(/<.*?>/g, '') : d, format, locale, true).format('x'), 10);
            };
        };

    }(jQuery));

    function redirect_action(obj,action) {
        var mobj = $(obj).closest("tr");
        var iduser=mobj.attr('id');
        console.log(obj);
        console.log(mobj);
        console.log(mobj.attr('id'));
        switch (action) {
            case 1:
                $.get('/RVCWall/SendInvitation/', {id:iduser,idgrp:@idgrp+""}, function (data) {
                    //var not = $.Notify.show(data.rta);
                        AlertMessage(data.rta);
                    });
                    break;

            }


        }
</script>
}
