﻿@*@model IEnumerable<DataBase.tblIntegrantesGrupoInv>*@

@model MAI.Models.DataBase.tblGruposInvestigacion
@using MAI.Models.DataBase

@{
    ViewBag.Title = "Integrantes";
}

<div class="grid fluid">

    @Html.Partial("~/Views/Shared/_GrupoInvestigacion.cshtml", Model)

    <h2>Integrantes</h2>
    <div class="row">
        <table id="miTabla" class="table striped hover">
            <thead>
                <tr>
                    <th class="span2">Identificacion</th>
                    <th class="span4">Nombre</th>
                    <th class="span2">Fecha de Vinculacion</th>
                    <th class="span2"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.tblIntegrantesGrupoInv)
                {
                    <tr>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.AspNetUsers.PersonalID)</td>
                        <td>@Html.DisplayName(AspNetUsers.GetName(item.AspNetUsers.UserName))</td>
                        <td>@Html.DisplayFor(modelItem => item.intGruInv_fechaVinculacion)</td>
                        <td class="text-center">
                            <a href="#" onclick="javascript:DeleteMember(@item.tblIntegrantesGrupoInv_ID);" title="Eliminar"><i class="icon-remove"></i></a>
                            <button class="button danger" onclick="javascript:DeleteMember(@item.tblIntegrantesGrupoInv_ID)">Eliminar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="row">
        <button id="newIntegrante" type="button" class="large bg-green fg-white">
            Agregar Intgrantes
            <i class="icon-plus bg-gren fg-white"></i>
        </button>
    </div>

    <div class="form-group">
        <h3>
            @Html.ActionLink("Regresar", "DetallesGrupo", "GruposInvestigacion", new { id = Model.tblGruposInvestigacion_ID }, null)
        </h3>
    </div>

</div>
<div id="">

</div>

<div id="addMemberDialog">
    @{
        investicEntities db = new investicEntities();
        //List<tblUsuarioPlataforma> usuarios = new List<tblUsuarioPlataforma>();

        //IQueryable<tblUsuarioPlataforma> usuarios = from t in db.tblUsuarioPlataforma
        //                                            where !(from u in db.tblIntegrantesGrupoInv
        //                                                    where u.tblGruposInvestigacion_ID == Model.tblGruposInvestigacion_ID
        //                                                    select u.tblUsuarioPlataforma_ID).Contains(Model.tblUsuarioPlataforma_ID)

        //                                                    //(from q in db.tblGruposInvestigacion
        //                                                    // where q.tblGruposInvestigacion_ID == Model.tblGruposInvestigacion_ID
        //                                                    // select q.tblUsuarioPlataforma_ID)
        //                                            select t;



        List<AspNetUsers> usuarios = (from t in db.AspNetUsers
                                      where !(from u in db.tblIntegrantesGrupoInv
                                              where u.tblGruposInvestigacion_ID == Model.tblGruposInvestigacion_ID 
                                              //|| u.tblUsuarioPlataforma_ID==Model.tblUsuarioPlataforma_ID
                                              select u.tblUsuarioPlataforma_ID).Contains(t.Id)
                                      select t).ToList();
        usuarios.Remove(db.AspNetUsers.Find(Model.tblUsuarioPlataforma_ID));

        ViewBag.tblGruposInvestigacion_ID = Model.tblGruposInvestigacion_ID;
        Html.RenderPartial("AgregarIntegrantes", usuarios);
    }
</div>

@section Scripts{
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.min-1.11.1.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/DataTables-1.10.3/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Investic/mai_MisTablas.js"></script>
    <script src="~/Scripts/Investic/mai_AddIntegranteGrupoInv.js"></script>
    <script src="~/Scripts/Investic/mai_BorrarMiembroGrupInv.js"></script>
}
