﻿@model IEnumerable<SEG.Models.DataBase.cargo>

@{
    ViewBag.Title = "Index";
}

<h4>Cargos</h4>

<p>
    @Html.ActionLink("Nuevo cargo", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Nombre Cargo
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Cargo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id_Cargo }) |
          
            @Html.ActionLink("Borrar", "Delete", new { id=item.Id_Cargo })
        </td>
    </tr>
}

</table>
