﻿@using Microsoft.AspNet.Identity
@model INI.Models.ManageUserViewModel


@using (Html.BeginForm("AdministrarCuenta", "Usuario", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <label>
        Contraseña actual <span class="requerido">*</span>
    </label>
    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Ingrese su contraseña actual" })
    @Html.ValidationMessageFor(m => m.OldPassword, String.Empty, new { @style = "color:red;!important" })
    
    <label>
        Nueva contraseña <span class="requerido">*</span>
    </label>
    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Ingrese su contraseña nueva" })
    @Html.ValidationMessageFor(m => m.NewPassword, String.Empty, new { @style = "color:red;!important" })
    
    <label>
        Confirmar contraseña <span class="requerido">*</span>
    </label>
    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirme su contraseña nueva" })
    @Html.ValidationMessageFor(m => m.ConfirmPassword, String.Empty, new { @style = "color:red;!important" })
    <div id="boton" style="text-align:center;">
        <input type="submit" value="Cambiar contraseña" class="button médium primary" />
    </div>
    <div id="boton" style="text-align:right;">
        <a href="~/Usuario/DesactivarCuenta" class="" style="color:red;" title="Aquí puedes desactivar tu cuenta. ">Desactivar cuenta</a> 
    </div>
        <div class="row">
            <div class="span3 offset9">
                @*@Html.ValidationSummary()*@
            </div>
        </div>
}
