﻿@using INI.Models;
@using Microsoft.AspNet.Identity;
@using dl = ClassLibrary
@{
    ViewBag.Title = "Administrar Cuenta";
    Layout = "~/Views/Shared/_InvCuenta.cshtml";
    string msj = ViewBag.Message;
}
<link href="~/Content/tooltipbootstrap/jquery.webui-popover.css" rel="stylesheet" />
<style>
    #bgDiv {
        margin-top: 120px;
    }

    .row {
        margin-top: 5px;
    }
    li {
        color: red !important;
        list-style: none;
    }

    #boton {
        margin-bottom: 10px;
        margin-top: 10px;
    }
</style>
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        @*<a href="~/Home">*@
                        <a href="javascript:history.back(1)">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Usuario/IniciarSesion">
                            <img src="~/images/botones_ruta_migas/usuarios/btn_usuario_a.png" title="Usuario" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/usuarios/btn_perfil_v.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<div class="row" id="bgDiv">
        <div class="row col-lg-5 col-lg-offset-3">
            <div class="panel panel-default" style="margin-top:0px;">
                <div class="panel-heading"><strong>@ViewBag.Title</strong></div>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        
                        <h4>Usted esta registrado como <strong>@ViewBag.nombres @ViewBag.apellidos</strong>.</h4>
                        <h4>con identificación <strong>@User.Identity.GetUserName()</strong>.</h4>
                        @Html.Partial("_ChangePasswordPartial")
                    </div>   
            </div>
        </div>
    
</div>
</div>
<div style="display:none;">
    <div id="OldPassword1">
        <img src="~/images/ToolTip/p1.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es tu constraseña actual?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar una constraseña actual.
    </div>
</div>
<div style="display:none;">
    <div id="NewPassword1">
        <img src="~/images/ToolTip/p1.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es tu nueva constraseña?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar un nueva clave.
    </div>
</div>
<div style="display:none;">
    <div id="ConfirmPassword1">
        <img src="~/images/ToolTip/p1.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Tienes que confirmar la constraseña</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes confirmar tu clave.
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/tooltipbootstrap/jquery.webui-popover.js"></script>
<script>
    $('#OldPassword').webuiPopover({ url: '#OldPassword1', trigger: 'hover', style: 'inverse', placement: 'right', width: '500px' });
    $('#NewPassword').webuiPopover({ url: '#NewPassword1', trigger: 'hover', style: 'inverse', placement: 'right', width: '500px' });
    $('#ConfirmPassword').webuiPopover({ url: '#ConfirmPassword1', trigger: 'hover', style: 'inverse', placement: 'right', width: '500px' });
</script>
<script src="~/Scripts/Investic/iep-0.1-AlertMessage.js"></script>
}
