﻿@using dl = ClassLibrary
@model INI.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "¿Olvidó confirmar su correo?";
    string msj = ViewBag.Mensaje;
}

<link href="~/Content/tooltipbootstrap/jquery.webui-popover.css" rel="stylesheet" />
<style>
    #bgDiv {
        margin-top: 80px;
    }

    .row {
        margin-top: 5px;
    }
    li {
        color: red !important;
        list-style: none;
    }
    #boton {
        margin-bottom: 10px;
    }
</style>
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Usuario/IniciarSesion">
                            <img src="~/images/botones_ruta_migas/usuarios/btn_usuario_a.png" title="Usuario" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/usuarios/btn_olvido_confirmar.png" /> 
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<div class="row" id="bgDiv">
    @using (Html.BeginForm("ConfirmEmail", "Usuario", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    { @Html.AntiForgeryToken()
        <div class="row col-lg-5 col-lg-offset-3" >
            <div class="panel panel-default" style="margin-top:0px;">
                <div class="panel-heading"><strong>@ViewBag.Title</strong></div>
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1">
                            <label>
                                N° identificación <span class="requerido">*</span>
                            </label>
                            @Html.TextBoxFor(m => m.PersonalID, new { @class = "form-control",placeholder = "Ingrese su n° identificación" })
                            @Html.ValidationSummary("", new { @class = "text-danger" ,@style = "color:red!important;"  })
                            <div id="boton" style="text-align:center;">
                                <input type="submit" class="button medium primary" value="Enviar enlace" />
                            </div>
                        </div>
                    </div>
                    </div>
            <br />
                </div>
        @Html.ValidationSummary(true)
                }
            </div>
<div style="display:none;">
    <div id="PersonalID1">
        <img src="~/images/ToolTip/p1.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Cuál es tu identificación?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar tu número de identificación.
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/tooltipbootstrap/jquery.webui-popover.js"></script>
    <script>
        $('#PersonalID').webuiPopover({ url: '#PersonalID1', trigger: 'hover', style: 'inverse', placement: 'right', width: '500px' });
    </script>
    <script src="~/Scripts/Investic/iep-0.1-AlertMessage.js"></script>
    <script>
        AlertMessage('@msj');
    </script>
}
