﻿@using INI.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Desactivar cuenta";
    Layout = "~/Views/Shared/_InvCuenta.cshtml";
}
<style>
    #bgDiv {
        margin-top: 120px;
    }

    .row {
        margin-top: 5px;
    }

    li {
        color: red !important;
        list-style: none;
    }

    #boton {
        margin-bottom: 10px;
        margin-top: 10px;
    }
</style>
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/Usuario/AdministrarCuenta">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Usuario/AdministrarCuenta">
                            <img src="~/images/botones_ruta_migas/usuarios/btn_usuario_a.png" title="Usuario" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/usuarios/btn_desactivar_cuenta.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<div class="row" id="bgDiv">
    <div class="row col-lg-10 col-lg-offset-1">
        <div class="panel panel-default" style="margin-top:0px;">
            <div class="panel-heading"><strong>@ViewBag.Title</strong></div>
            <div class="row">
                <form id="form1" name="form1" action="~/Usuario/DesactivarCuentaPost" method="post">
                <div class="col-lg-10 col-lg-offset-1">
                    <p style="text-align:justify;">
                        Si crees que no volverás a utilizar la plataforma tecnológica de Investic, puedes solicitar que tu cuenta se elimine definitivamente para que tus datos personales no queden registrados en nuestra base de datos acorde a Ley General de Protección de Datos Personales (Ley 1581 de 2012). Recuerda que no podrás reactivar tu cuenta ni recuperar la información que hayas registrado, por eso se recomienda que se verifique por completo la información de todos los componentes utilizados como proyectos, cursos, recursos, redes y demás puesto que todo lo que se encuentre asociado a tu cuenta será eliminado. Algunas acciones como comentarios, participaciones y contenidos compartidos con otros usuarios o grupos de la plataforma tecnológica, no están asociados al usuario directamente por lo tanto dicha información puede perdurar en el tiempo una vez sea eliminada tu cuenta.<br />
                        Serás informado cuando el procedimiento sea realizado por completo.<br />                        
                    </p>
                    <h4>Usted esta registrado como <strong>@ViewBag.nombres @ViewBag.apellidos</strong>, con identificación <strong>@User.Identity.GetUserName()</strong>.</h4>
                
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="accept" name="accept" value="Accept"> Acepto las condiciones de eliminación de mi cuenta. <span style="color:red;">*</span>
                            <label id="lbl_check" style="display: none; color: red;">Debes aceptar las condiciones de eliminación de la cuenta.</label>
                        </label>
                    </div>
                    <center>
                        <button type="submit" class="button medium primary" style="margin-top:15px;">Enviar solicitud</button>
                    </center>
                    <br />
                </div>
                    </form>
            </div>
        </div>

    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $(function () {
                $("#accept").click(function () {
                    if (!($("#accept").is(':checked'))) {
                        $("#lbl_check").show();
                    } else {
                        $("#lbl_check").hide();
                    }
                });
                $("#form1").submit(function () {
                    var count_errors = 0;
                    if (!($("#accept").is(':checked'))) {
                        $("#lbl_check").show();
                        count_errors++;
                    } else {
                        $("#lbl_check").hide();
                    }
                    if (count_errors > 0) {
                        return false;
                    }
                });
            });
        });

    </script>

    }