﻿
@{
    ViewBag.Title = "EmailEnviado";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_InvContactanos.cshtml";
}

<div style="position:absolute; left:63%;top:20%;">
    
   @*@if (Request.UrlReferrer.ToString().Contains("/Home/Contactenos"))
   {*@
        @*<img src="~/images/mensajes/Contactenos_CorreoEnviado.png" alt="" />*@
       <!-- <style>
            #fondo {
                background-image: url(../images/fondosSecciones/bg_contactarnos.png) !important;
                margin: auto;
                background-repeat: no-repeat;
                background-size: cover;
            }
        </style>
        <div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/Home/Contactenos">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" title="" />
                    </li>
                    <li>
                        <a href="~/Home/Informacion">
                            <img src="~/images/botones_ruta_migas/btn_info_gen.png" title="Información general" />
                        </a>
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/img_mano.png" title="" />
                    </li>
                    <li>
                        <a href="~/Home/Contactenos">
                            <img src="~/images/botones_ruta_migas/info_general/btn_contacto_a.png" title="Contáctanos" />
                        </a>
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/img_mano.png" title="" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/info_general/btn_email_env_v.png" title="" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>-->
        
    @*}
    else
    {*@
        @*<img src="~/images/mensajes/Registro_CorreoEnviado.png" alt="" />*@ 
        <style>
            #fondo {
                background-image: url(../images/fondosSecciones/bg_registrate.png) !important;
                margin: auto;
                background-repeat: no-repeat;
                background-size: cover;
            }
        </style>
        <div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/Usuario/Registrar">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Usuario/IniciarSesion">
                            <img src="~/images/botones_ruta_migas/usuarios/btn_usuario_a.png" title="Usuario" /> 
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Usuario/Registrar">
                            <img src="~/images/botones_ruta_migas/usuarios/btn_registrar_a.png" title="Registrar" />
                        </a>
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/img_mano.png" title="" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/info_general/btn_email_env_v.png" title="" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>    
    @* } *@

</div>

