﻿@using dl = ClassLibrary
@model INI.Models.LoginViewModel

@{
    ViewBag.Title = "Iniciar Sesión";
    string msj = ViewBag.Message;
}

<link href="~/Content/tooltipbootstrap/jquery.webui-popover.css" rel="stylesheet" />
<style>
    #bgDiv {
        margin-top: 100px;
    }

    .row {
        margin-top: 5px;
    }
</style>
<style>
    #ayuda_br {
        width: 180px;
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 10px 0 10px 0;
        z-index: 99;
    }

    .resultitem {
        float: right;
        width: 180px;
        margin: 5px 0 0 0;
        opacity: 0.8;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        transition: all 1s ease;
    }

        .resultitem:hover {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
            opacity: 1;
            margin: 5px 0 0 0;
            right: 0;
        }
</style>

<div id="ruta_miga" style="background: #E6E6E6!Important; z-index:99;">
    <table >
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Usuario/IniciarSesion">
                            <img src="~/images/botones_ruta_migas/usuarios/btn_usuario_a.png" title="Usuario" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/usuarios/btn_iniciar_ses_v.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
    <table style="float:right;margin-top:-75px!Important;" border="0">
        <tr>
            <td>
                <ul id="img_fijos">
                    <li>
                        <a href="~/Home/MapaPublico">
                            <img src="~/images/botones_ruta_migas/btn_mapa_sitio.png" title="Mapa del sitio" />
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<div class="verticalSpan2"></div>
<div class="row" id="loginForm">
        @using (Html.BeginForm("IniciarSesion", "Usuario", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <input data-val="true" data-val-number="The field Latitud must be a number." data-val-required="El campo Latitud es obligatorio." id="Latitud" name="Latitud" type="hidden" value="0">
            <input data-val="true" data-val-number="The field Longitud must be a number." data-val-required="El campo Longitud es obligatorio." id="Longitud" name="Longitud" type="hidden" value="0">
            <input data-val="true" data-val-number="The field Altitud must be a number." data-val-required="El campo Altitud es obligatorio." id="Altitud" name="Altitud" type="hidden" value="0">

            <div class="row col-lg-5 col-lg-offset-3" >
                <div class="panel panel-default" style="margin-top:0px;">
                    <div class="panel-heading"><strong>@ViewBag.Title</strong></div>
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1" >
                            <label>
                                Usuario <span class="requerido">*</span>
                            </label>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control UserNameP", placeholder = "N° identificación usuario" })
                            @Html.ValidationMessageFor(m => m.UserName, String.Empty, new { @style = "color:red;!important" })
                        
                            <label>
                                Contraseña <span class="requerido">*</span>
                            </label>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control PasswordP", placeholder = "Contraseña usuario" })
                            @Html.ValidationMessageFor(m => m.Password, String.Empty, new { @style = "color:red;!important" })

                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                            <div class="" style="text-align:center;">
                                <input type="submit" value="Iniciar Sesión" class="button médium primary" />
                                <p>
                                    @Html.ActionLink("Regístrese", "Registrar") si aún no tiene una cuenta.
                                </p>
                                <p>
                                    @Html.ActionLink("Recordar contraseña", "ForgotPassword") si usted ha olvidado sus credenciales.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @Html.ValidationSummary(true)
        }
</div>
<div style="display:none;">
    <div id="UserName1">
        <img src="~/images/ToolTip/p1.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es tu usuario?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar el documento utilizado para registrarte.
    </div>
</div>
<div style="display:none;">
    <div id="Password1">
        <img src="~/images/ToolTip/p1.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es tu clave?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar tu clave.
    </div>
</div>
<div id="ayuda_br">
    <a href="~/Archivos/doc/Registro de usuario.pdf" target="_blank"><img src="~/images/botonesiep-01.png" class="resultitem" /></a>
    @*<a href="~/Archivos/doc/Manual de Errores MAI.pdf" target="_blank"><img src="~/images/botonesiep-02.png" class="resultitem" /></a>*@
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/tooltipbootstrap/jquery.webui-popover.js"></script>
    
    <script>
        $('.UserNameP').webuiPopover({ url: '#UserName1', trigger: 'hover', style: 'inverse', placement: 'right', width: '500px' });
        $('.PasswordP').webuiPopover({ url: '#Password1', trigger: 'hover', style: 'inverse', placement: 'right', width: '500px' });
    </script>

    <script src="~/Scripts/Investic/iep-0.1-AlertMessage.js"></script>

    <script>
        AlertMessage('@msj');
    </script>
}
