﻿@model INI.Models.RegisterViewModel

@{
    ViewBag.Title = "Registro de Usuario";
    Layout = "~/Views/Shared/_InvBlanco.cshtml";
    string msj = ViewBag.Mensaje;
}

<link href="~/Content/tooltipbootstrap/jquery.webui-popover.css" rel="stylesheet" />
<style>
    #bgDiv{
        margin-top:100px;
    }
    .row{
        margin-top:5px;
    }
    #BirthDay{
        border: 0px;
    }
</style>
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Usuario/IniciarSesion">
                            <img src="~/images/botones_ruta_migas/usuarios/btn_usuario_a.png" title="Usuario" /> 
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/usuarios/btn_registrar_v.png" /> 
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<div id="bgDiv">
    <div class="row col-lg-10 col-lg-offset-1" >
        <div class="panel panel-default" style="margin-top:0px;">
            <div class="panel-heading"><strong>Registro de usuario</strong></div>
            @using (Html.BeginForm("Registrar", "Usuario", FormMethod.Post, new { id = "form1" }))
                                                        {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.RolId, new { Value = "rol" })
                <input type="hidden" id="UserName" name="UserName" value="nn" />
            <div class="panel-body">
                <div class="row">                
                    <div class="col-lg-2">
                            <label>
                                Contraseña <span class="requerido">*</span>
                            </label>
                    </div>
                    <div class="col-lg-4">
                        @Html.PasswordFor(m => m.Password,  new { @class = "form-control", placeholder = "Contraseña usuario" } )
                        @Html.ValidationMessageFor(model => model.Password, String.Empty, new { @style = "color:red;!important" })
                    </div>
                    <div class="col-lg-2">
                        <label>
                            Confirmar contraseña <span class="requerido">*</span>
                        </label>
                    </div>
                    <div class="col-lg-4">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Contraseña usuario" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, String.Empty, new { @style = "color:red;!important" })
                    </div>                
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <label>
                            Nombres<span class="requerido">*</span>
                        </label>
                    </div>
                    <div class="col-lg-4">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Nombres usuario" })
                        @Html.ValidationMessageFor(model => model.Name, String.Empty, new { @style = "color:red;!important" })
                    </div>
                    <div class="col-lg-2">
                        <label>
                            Apellidos <span class="requerido">*</span>
                        </label>
                    </div>
                    <div class="col-lg-4">
                        @Html.TextBoxFor(m => m.SureName, new { @class = "form-control", placeholder = "Apellido usuario" })
                        @Html.ValidationMessageFor(model => model.SureName, String.Empty, new { @style = "color:red;!important" })

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <label>
                            Tipo documento <span class="requerido">*</span>
                        </label>
                    </div>
                    <div class="col-lg-4">
                        <select id="TipoDoc" name="TipoDoc" class="form-control">
                            <option value="0" selected="selected">Cedula de ciudadanía</option>
                            <option value="1">Tarjeta de Identidad</option>
                            <option value="2">Registro Civil de Nacimiento</option>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <label>
                            Documento <span class="requerido">*</span>
                        </label>
                    </div>
                    <div class="col-lg-4">
                        @Html.TextBoxFor(m => m.PersonalID, new { @class = "form-control", placeholder = "Documento usuario" })
                        @Html.ValidationMessageFor(model => model.PersonalID, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <label>
                            Género <span class="requerido">*</span>
                        </label>
                    </div>
                    <div class="col-lg-4">
                        <label>
                            Hombre
                            <input type="radio" id="Genre" name="Genre" value="2" checked="checked">
                            <span class="check"></span>
                            Mujer
                            <input type="radio" id="Genre" name="Genre" value="1">
                            <span class="check"></span>
                        </label>
                    </div>
                    <div class="col-lg-2">
                        <label>
                            Correo <span class="requerido">*</span>
                        </label>
                    </div>
                    <div class="col-lg-4">
                        @Html.EditorFor(m => m.Mail, new { htmlAttributes = new { @class = "form-control", placeholder = "Correo usuario" } })
                        @Html.ValidationMessageFor(model => model.Mail, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <label>
                            Teléfono <span class="requerido">*</span>
                        </label>
                    </div>
                    <div class="col-lg-4">
                        @Html.EditorFor(m => m.Phone, new { htmlAttributes = new { @class = "form-control", placeholder = "Telefono usuario" } })
                        @Html.ValidationMessageFor(model => model.Phone, String.Empty, new { @style = "color:red;!important" })
                    </div>
                    <div class="col-lg-2">
                        <label>
                            Dirección
                        </label>
                    </div>
                    <div class="col-lg-4">
                        @Html.EditorFor(m => m.Address, new { htmlAttributes = new { @class = "form-control", placeholder = "Dirección usuario" }})
                        @Html.ValidationMessageFor(model => model.Address, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <label>
                            Fecha nacimiento <span class="requerido">*</span>
                        </label>
                    </div>
                    <div class="col-lg-4">
                        <div class="input-control text form-control" data-role="datepicker" data-format="dd/mm/yyyy" data-locale="es" data-effect="slide" data-position="top">
                            @Html.TextBoxFor(m => m.BirthDay, "{0:dd/MM/yyyy}", new { @type = "text", placeholder = "Fecha nacimiento",required = "required" })
                            @*<button class="btn btn-date" type="button"></button>*@
                        </div>
                        @Html.ValidationMessageFor(m => m.BirthDay, String.Empty, new { @style = "color:red;!important" })
                        <span id="lbl_fecha" style="color:red;display:none">La fecha nacimiento es obligatoria</span>
                    </div>
                    <div class="col-lg-2">
                        <label>
                            Rol <span class="requerido">*</span>
                        </label>
                    </div>
                    <div class="col-lg-4">
                        <select id="SelectedUserRoleId" name="SelectedUserRoleId" class="form-control">
                            <option value="Maestro">Maestro</option>
                            <option value="Estudiante" selected="selected">Estudiante</option>
                        </select>
                    </div>
                </div>


                <div class="row">
                    <div class="checkbox" style="margin-left:15px; margin-top:-5px;">
                        <label>
                            <input type="checkbox" id="accept" name="accept" checked="checked" value="Accept"> Conozco y acepto los términos y condiciones del sitio y la política de protección de la información personal. <span style="color:red;">*</span>
                            <label id="lbl_check" name="lbl_check" style="display: none; color: red;">Debes estar de acuerdo con nuestros términos y condiciones del sitio.</label>
                            <br />
                            <a href="~/Archivos/doc/términos y condiciones INVESTIC.pdf" target="_blank" title="Ver los términos y condiciones">Ver los términos y condiciones</a>
                        </label>
                    </div>

                    <div class="" style="text-align:center;">
                        <input type="submit" class="button médium primary" value="Regístrarse">
                    </div>
                </div>
                <div class="row">
                    <div class="span4 offset6">
                        @Html.ValidationSummary(true)
                    </div>
                </div>
            </div>
            }
       </div>
    </div>
            
</div>
        <div style="display:none;">
            <div id="Password1">
                <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>¿Cuál es tu clave?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes seleccionar una clave.
            </div>
        </div>
<div style="display:none;">
    <div id="Password2">
        <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es la confirmación de la clave?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar una clave de seis dígitos que coincida con la contraseña ingresada anteriormente.
    </div>
</div>
<div style="display:none;">
    <div id="Name1">
        <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuáles son tus nombres?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar tus nombres.
    </div>
</div>
<div style="display:none;">
    <div id="SureName1">
        <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuáles son tus apellidos?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar tus apellidos.
    </div>
</div>
<div style="display:none;">
    <div id="TipoDocumento">
        <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es tu tipo de identificación?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes seleccionar un tipo de documento de identificación.
    </div>
</div>
<div style="display:none;">
    <div id="PersonalID1">
        <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Qué número de identificación tienes?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar el número de tu documento de identificación.
    </div>
</div>
<div style="display:none;">
    <div id="Genre1">
        <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es tu género?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes seleccionar un género.
    </div>
</div>
<div style="display:none;">
    <div id="Mail1">
        <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es tu correo electrónico?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes registrar tu correo electrónico.
    </div>
</div>
<div style="display:none;">
    <div id="Phone1">
        <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es tu número telefónico?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes registrar tu número de teléfono.
    </div>
</div>
<div style="display:none;">
    <div id="Address1">
        <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es tu dirección de residencia?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes registrar tu dirección.
    </div>
</div>
<div style="display:none;">
    <div id="BirthDay1">
        <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es tu fecha de nacimiento?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes registrar tu fecha de nacimiento.
    </div>
</div>
<div style="display:none;">
    <div id="SelectedUserRoleId1">
        <img src="~/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Qué rol deseas tener?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes seleccionar un rol para el uso de la plataforma.
    </div>
</div>
        @*<div id="contenido" style="position: absolute; top: 250px; left: 0px; background-image: url('../images/img_contenedor_logos.png');background-repeat:no-repeat; width: 83px; height: 129px; ">
            <div><a href="http:\\www.narino.gov.co" target="_blank"><img src="~/images/btn_gobernacion.png" class="links" /></a></div>
            <div><a href="http:\\www.udenar.edu.co" target="_blank"><img src="~/images/btn_udenar.png" class="links" /></a></div>
        </div>*@

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
            <script src="~/Scripts/tooltipbootstrap/jquery.webui-popover.js"></script>
            <script>
                AlertMessage('@msj');
            </script>
            <script>
                $('#Password').webuiPopover({ url: '#Password1', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
                $('#ConfirmPassword').webuiPopover({ url: '#Password2', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
                $('#Name').webuiPopover({ url: '#Name1', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
                $('#SureName').webuiPopover({ url: '#SureName1', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
                $('#TipoDoc').webuiPopover({ url: '#TipoDocumento', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
                $('#PersonalID').webuiPopover({ url: '#PersonalID1', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
                $('#desc_rec_educativoe').webuiPopover({ url: '#desc_rec_educativol', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
                $('#Genre').webuiPopover({ url: '#Genre1', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
                $('#Mail').webuiPopover({ url: '#Mail1', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
                $('#Phone').webuiPopover({ url: '#Phone1', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
                $('#Address').webuiPopover({ url: '#Address1', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
                $('#BirthDay').webuiPopover({ url: '#BirthDay1', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
                $('#SelectedUserRoleId').webuiPopover({ url: '#SelectedUserRoleId1', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });

                $(document).ready(function () {                    
                    $(function () {
                        $("#BirthDay").blur(function () {
                            if ($("#BirthDay").val().length == 0) {
                                $("#lbl_fecha").show();
                            } else {
                                $("#lbl_fecha").hide();
                            }
                        });
                        $("#accept").click(function () {
                            if (!($("#accept").is(':checked'))) {
                                $("#lbl_check").show();
                            } else {
                                $("#lbl_check").hide();
                            }
                        });
                        $("#lbl_fecha").hide();
                        $("#form1").submit(function () {
                            var count_errors = 0;
                            if ($("#BirthDay").val().length == 0) {
                                $("#lbl_fecha").show();
                                count_errors++;
                            } else {
                                $("#lbl_fecha").hide();
                            }
                            if (!($("#accept").is(':checked'))) {
                                $("#lbl_check").show();
                                count_errors++;
                            } else {
                                $("#lbl_check").hide();
                            }
                            if (count_errors > 0) {
                                return false;
                            }
                        });
                    });
                });
            </script>
        }
