﻿@model INI.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Cambiar contraseña";
}

<div class="panel panel-default" style="margin-top:55px;">
    <div class="panel-heading"><strong>@ViewBag.Title.</strong></div>
    <div class="panel-body">
        @using (Html.BeginForm("ResetPassword", "Usuario", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Code)

            <form class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-6" class="col-sm-3 control-label">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Escribe la contraseña" })
                        @Html.ValidationMessageFor(m => m.Password, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-6" class="col-sm-3 control-label">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Vuelve a escribir la contraseña" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-md-6">
                        <input type="submit" class="btn btn-default primary" value="Enviar" />
                    </div>
                </div>
            </form>
        }
    </div>
</div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
