﻿@using SEG.Models.DataBase
@model IEnumerable<SEG.Models.DataBase.fechasreporte>

@{
    ViewBag.Title = "Index";
}

<h2>Fechas de Corte</h2>

<p>
    @Html.ActionLink("Ingresar una nueva fecha", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Ini)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Fin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activa)
        </th>
        <th></th>
    </tr>

    @foreach (fechasreporte item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Ini)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Fin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activa)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {id = item.Id_SemanaTrabajo}) |
                @Html.ActionLink("Detalles", "Details", new {id = item.Id_SemanaTrabajo}) |
                @Html.ActionLink("Borrar", "Delete", new {id = item.Id_SemanaTrabajo})
            </td>
        </tr>
    }

</table>