﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title .INVESTIC</title>
    <link rel="icon" type="image/png" href="favicon.png">
    <link href="~/Content/Investic/Site.css" rel="stylesheet" />
    <link href="~/Content/metro-ui/css/metro-bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/Content/metro-ui/css/metro-bootstrap.css" rel="stylesheet" />
    <link href="~/Content/metro-ui/css/iconFont.min.css" rel="stylesheet" />
    <link href="~/Content/Investic/Site.css" rel="stylesheet" />

    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

</head>
<body class="metro" style="background: url('../../images/como%20vamos/bg_comovamos.png') center no-repeat #558b2f;">

    <nav class="navigation-bar" style="background-color:#575756;">
        <nav class="navigation-bar-content">
            <a class="element" href="/">
                <img src="/favicon.png" height="16" width="16" />
                <span style="font-size:medium;color:azure">Investic</span>
            </a>
            <span class="element-divider"></span>
            <span id="textomenu" style=" font-size:x-small" class=" element">Ciencia, tecnología e innovación para el buen vivir nariñense</span>
            <span class="element-divider"></span>
            <a id="fuentemenu" class="element" href="~/Home/conocenos">
                Conocenos
            </a>
            <span class="element-divider"></span>
            <a id="fuentemenu" class="element" href="~/Home/Investiga">
                Investiga
            </a>
            <span class="element-divider"></span>
            <a id="fuentemenu" class="element" href="~/Home/Contactenos">
                Contáctanos
            </a>
            <span class="element-divider"></span>
            <a id="fuentemenu" class="element" href="~/Home/Recuerdos">
                Recuerdos
            </a>
            <span class="element-divider"></span>

            <span class="element-divider place-right"></span>
            <div class="no-tablet-portrait">
                <div class="element input-element" style="padding:0px; border-spacing:0px;">
                    @if (!Request.IsAuthenticated)
                    {
                        @Html.Partial("_LoginForm")
                    }
                    else
                    {
                        @Html.Partial("_LoginPartial")
                    }
                </div>
                <div class="element place-right">
                    <a class="dropdown-toggle" href="#">
                        <span>¿Eres Nuevo?</span>
                    </a>
                    <ul class="dropdown-menu place-right" data-role="dropdown">
                        <li><a href="#">Registrarse</a></li>
                    </ul>

                    <ul class="dropdown-menu place-right" data-role="dropdown">
                        <li><a href="~/Usuario/MapaSitio">Mapa Del sitio</a></li>
                    </ul>



                </div>
            </div>
        </nav>
    </nav>
    <div class="container">
        <div id="botones" style="background:url('') repeat-x; height:50px; position:absolute; width:100%; left:0;top:45px;">
            <div style="background-color:#E5E5E5">
                <img src="/images/como vamos/logo.png" style="margin:0; float: left;" />
                <div id="titulosmenusec" style="color:#F9C91E;"> ¿Cómo Vamos?</div>
                <div style="padding-bottom:15px;padding-top:14px;margin:0; color:#E5E5E5;">
                    |
                    @*<img id="boton_inicio" src="~/images/inicio.png" style="margin:0; float: right;" />*@

                </div>
                <div style="position:absolute; right:0;top:3%;">
                    <a href="http://www.facebook.com/investic.edu" target="_blank">
                        <img id="boton_facebook" src="~/images/boton_facebook.png" style="margin:0; float: right;margin-top:-2px;" />
                    </a>
                    <a href="http://www.twitter.com/investic_edu" target="_blank">
                        <img id="boton_twitter" src="~/images/boton_twitter.png" style="margin:0; float: right;margin-top:-2px;" />
                    </a>
                    <a href="http://www.youtube.com/user/investicedu" target="_blank"><img id="boton_youtube" src="~/images/boton_youtube.png" style="margin:0; float: right;margin-top:-2px;" /></a>
                </div>
            </div>
        </div>







        @*<div id="botones" style="background:url('') repeat-x; height:50px; position:absolute; width:100%; left:0;top:45px;z-index:2;">
            <div style="background-color:#E5E5E5">
                <table style="background-color:transparent;">
                    <tr>
                        <td align="left"><img src="~/images/como vamos/logo.png" style="margin:0; float: left;" /></td>
                        <td width="75%" align="left"><div id="titulosmenusec" style="color:#F9C91E;"> ¿Cómo Vamos?</div></td>
                        <td width="25%" align="right">
                            <div style="padding-bottom:0px;padding-top:0px;margin:0; color:#E5E5E5">
                                <table>
                                    <tr>
                                        <td><a href="http://www.facebook.com/investic.edu" target="_blank"><img id="facebook" src="/images/boton_facebook.png" style="margin:0; float: left; bottom:0;" /></a></td>
                                        <td><a href="http://www.twitter.com/investic_edu" target="_blank"><img id="twitter" src="/images/boton_twitter.png" style="margin: 0; float: left; bottom: 0;" /></a></td>
                                        <td><a href="http://www.youtube.com/user/investicedu" target="_blank"><img id="youtube" src="/images/boton_youtube.png" style="margin: 0; float: left; bottom: 0;" /></a></td>

                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>*@
            @RenderBody()
        </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/metro-ui")
    <script src="~/Scripts/DataTables-1.10.3/jquery.dataTables.js"></script>
    <script src="~/Scripts/js/Invresources.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>