﻿@model INI.Models.DataBase.tblHojaVida
@using INI.Models.DataBase


<div class="grid fluid">

    <div class="tab-control" data-role="tab-control">
        <ul class="tabs">
            @if ((int)ViewData["Tab"] == 1)
            {
                <li class="active">
                    <a href="#_page_1" class="span3 active panel-header bg-darkPink fg-white" type="button">
                        Básica secundaria
                        <h5 style="text-align:center">
                            @Html.ActionLink("Modificar Información", "EditarHojaVida", new { id = Model.tblHojaVida_ID })
                        </h5>
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a href="#_page_1" class="span3 active panel-header bg-darkPink fg-white" type="button">
                        Básica secundaria y media
                        <h5 style="text-align:center">
                            @Html.ActionLink("Modificar Información", "EditarHojaVida", new { id = Model.tblHojaVida_ID })
                        </h5>
                    </a>
                </li>
            }
            @if ((int)ViewData["Tab"] == 2)
            {
                <li class="active">
                    <a href="#_page_2" class="span3 panel-header bg-darkIndigo fg-white" type="button">
                        Formación profesional
                        <h5 style="text-align:center">
                            @Html.ActionLink("Adicionar Título", "AdicionarTitulo", new { id = Model.tblHojaVida_ID })
                        </h5>
                    </a>
                </li>
            }
            else {
                <li>
                    <a href="#_page_2" class="span3 panel-header bg-darkIndigo fg-white" type="button">
                        Títulos
                        <h5 style="text-align:center">
                            @Html.ActionLink("Adicionar Título", "AdicionarTitulo", new { id = Model.tblHojaVida_ID })
                        </h5>
                    </a>
                </li>
            }
             @if ((int)ViewData["Tab"] == 3)
             {
                <li class="active">
                    <a href="#_page_3" class="span3 panel-header bg-darkCyan fg-white">
                        Idiomas
                        <h5 style="text-align:center">
                            @Html.ActionLink("Adicionar Idioma", "AdicionarIdioma", new { id = Model.tblHojaVida_ID })
                        </h5>
                    </a>
                </li>
             }
             else {
                <li>
                    <a href="#_page_3" class="span3 panel-header bg-darkCyan fg-white">
                        Idiomas
                        <h5 style="text-align:center">
                            @Html.ActionLink("Adicionar Idioma", "AdicionarIdioma", new { id = Model.tblHojaVida_ID })
                        </h5>
                    </a>
                </li>
             }
            @if ((int)ViewData["Tab"] == 4)
            {
                <li class="active">
                    <a href="#_page_4" class="span3 panel-header bg-darkBlue fg-white">
                        Lenguas
                        <h5 style="text-align:center">
                            @Html.ActionLink("Adicionar Lengua", "AdicionarLengua", new { id = Model.tblHojaVida_ID })
                        </h5>
                    </a>
                </li>
            }
            else {
                <li>
                    <a href="#_page_4" class="span3 panel-header bg-darkBlue fg-white">
                        Lenguas
                        <h5 style="text-align:center">
                            @Html.ActionLink("Adicionar Lengua", "AdicionarLengua", new { id = Model.tblHojaVida_ID })
                        </h5>
                    </a>
                </li>
            }
        </ul>

        <div class="frames span12">
            <div class="frame" id="_page_1">
                <div class="panel">                    
                    <div class="panel-content" style="margin-left:20px">
                       <div class="grid">
                           <div class="row">
                               <div class="span1">
                                   <strong> Nombre:</strong>
                               </div>
                               <div class="span4">
                                   @Html.DisplayName(AspNetUsers.GetName(Model.AspNetUsers.UserName))
                               </div>
                           </div>
                           <div class="row">
                               <div class="span3">
                                   <strong>Titulo educación secundaria:</strong>
                               </div>
                               <div class="span4">
                                   @Html.DisplayFor(model => model.hojVid_tituloSecundaria)
                               </div>
                           </div>
                           <div class="row">
                               <div class="span2">
                                   <strong>Fecha de graduación:</strong>
                               </div>
                               <div class="span4">
                                   @Html.DisplayFor(model => model.hojVid_anoGradoSecundaria)
                               </div>
                           </div>
                       </div>
                    </div>
                </div>
                @*<dl class="dl-horizontal">
                    <dt>Nombre: 
                        <dd>@Html.DisplayName(AspNetUsers.GetName(Model.AspNetUsers.UserName))
                    <dt>Titulo Educación Secundaria: 
                        <dd>@Html.DisplayFor(model => model.hojVid_tituloSecundaria)
                    <dt>Año de Graduación: </dt>
                        <dd>@Html.DisplayFor(model => model.hojVid_anoGradoSecundaria)</dd>
                </dl>*@
            </div>
            <div class="frame" id="_page_2">
                <table id="misTitulos" class="table striped hover">
                    <thead>
                        <tr>
                            <th class="span2">Título educación superior</th>
                            <th class="span2">Nivel académico</th>
                            <th class="span2">Fecha de graduación</th>
                            <th class="span1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.tblTituloEducacionSuperior)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => item.titEduSup_nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.tblNivelAcademicoEducacionSuperior.nivAcaEduSup_nombre)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(model => item.titEduSup_anoGraduacion)
                                </td>
                                <td class="text-center">
                                    <a href="@Url.Action("ModificarTitulo", new { id = item.tblTituloEducacionSuperior_ID})" title="Modificar">Editar</a> |
                                    <a href="#" onclick="javascript:BorrarTitulo(@item.tblTituloEducacionSuperior_ID);" title="Eliminar">Eliminar</a>

                                    @*@Html.ActionLink("Modificar", "ModificarTitulo", new { id = item.tblTituloEducacionSuperior_ID }, new { @class = "button primary" })
                                    <button class="button danger" onclick="javascript:BorrarTitulo(@item.tblTituloEducacionSuperior_ID)">Eliminar</button>*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="frame" id="_page_3">
                <table id="misIdiomas" class="table striped hover">
                    <thead>
                        <tr>
                            <th class="span3">Idioma</th>
                            <th class="span3">@Html.DisplayName("Nivel")</th>
                            <th class="span2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.tblNivelIdioma)
                        {
                            <tr>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.tblIdiomas.idi_nombre)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.tblNivel.tblNivel_nivel)
                                </td>
                                <td class="text-center">
                                    <a href="@Url.Action("ModificarIdioma", new { id = item.tblNivelIdioma_ID })" title="Modificar">Editar</a> |
                                    <a href="#" onclick="javascript:BorrarIdioma(@item.tblNivelIdioma_ID);" title="Eliminar">Eliminar</a>

                                    @*@Html.ActionLink("Modificar", "ModificarIdioma", new { id = item.tblNivelIdioma_ID }, new { @class = "button primary" })
                                    <button class="button danger" onclick="javascript:BorrarIdioma(@item.tblNivelIdioma_ID)">Eliminar</button>*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="frame" id="_page_4">
                <table id="misLenguas" class="table striped hover">
                    <thead>
                        <tr>
                            <th class="span3">Lengua</th>
                            <th class="span3">Nivel</th>
                            <th class="span2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.tblNivelLengua)
                        {
                            <tr>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.tblLenguas.len_nombre)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.tblNivel.tblNivel_nivel)
                                </td>
                                <td class="text-center">
                                    <a href="@Url.Action("ModificarLengua", new { id = item.tblNivelLengua_ID })" title="Modificar">Editar</a> |
                                    <a href="#" onclick="javascript:BorrarLengua(@item.tblNivelLengua_ID);" title="Eliminar">Eliminar</a>

                                    @*@Html.ActionLink("Modificar", "ModificarLengua", new { id = item.tblNivelLengua_ID }, new { @class = "button primary" })
                                    <button class="button danger" onclick="javascript:BorrarLengua(@item.tblNivelLengua_ID)">Eliminar</button>*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>