﻿@model IEnumerable<INI.Models.DataBase.tblGaleriaImagenes>
<script type="text/javascript" src="~/Scripts/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/js/jssor.js"></script>
<script type="text/javascript" src="~/Scripts/js/jssor.slider.js"></script>
<script src="~/Scripts/js/Invresources.js"></script>


<script>
    jQuery(document).ready(function ($) {
        var options = {
            $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
            $AutoPlayInterval: 4000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
            $SlideDuration: 500,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
            $DragOrientation: 3,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)
            $UISearchMode: 0,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).

            $ThumbnailNavigatorOptions: {
                $Class: $JssorThumbnailNavigator$,              //[Required] Class to create thumbnail navigator instance
                $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always

                $Loop: 2,                                       //[Optional] Enable loop(circular) of carousel or not, 0: stop, 1: loop, 2 rewind, default value is 1
                $SpacingX: 3,                                   //[Optional] Horizontal space between each thumbnail in pixel, default value is 0
                $SpacingY: 3,                                   //[Optional] Vertical space between each thumbnail in pixel, default value is 0
                $DisplayPieces: 6,                              //[Optional] Number of pieces to display, default value is 1
                $ParkingPosition: 204,                          //[Optional] The offset position to park thumbnail,

                $ArrowNavigatorOptions: {
                    $Class: $JssorArrowNavigator$,              //[Requried] Class to create arrow navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 2,                                 //[Optional] Auto center arrows in parent container, 0 No, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 6                                       //[Optional] Steps to go for each navigation request, default value is 1
                }
            }
        };

        var jssor_slider1 = new $JssorSlider$("slider1_container", options);

        //responsive code begin
        //you can remove responsive code if you don't want the slider scales while window resizes
        function ScaleSlider() {
            var parentWidth = jssor_slider1.$Elmt.parentNode.clientWidth;
            if (parentWidth)
                jssor_slider1.$ScaleWidth(Math.min(parentWidth, 720));
            else
                window.setTimeout(ScaleSlider, 30);
        }
        ScaleSlider();

        $(window).bind("load", ScaleSlider);
        $(window).bind("resize", ScaleSlider);
        $(window).bind("orientationchange", ScaleSlider);
        //responsive code end
    });
</script>

<!-- Jssor Slider Begin -->
<!-- You can move inline styles to css file or css block. -->
<div id="slider1_container" style="position: relative;top:50px; width: 720px;
        height: 480px; overflow: hidden;">

    <!-- Loading Screen -->
    <div u="loading" style="position: absolute; top: 0px; left: 0px;">
        <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
                background-color: #000; top: 0px; left: 0px;width: 100%;height:100%;">
        </div>
        <div style="position: absolute; display: block; background: url(../img/loading.gif) no-repeat center center;
                top: 0px; left: 0px;width: 100%;height:100%;">
        </div>
    </div>

    <!-- Slides Container -->
    <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 720px; height: 480px;
            overflow: hidden;">

        @foreach (var item in Model)
        {
            
            <div>
                <img class="img-thumbnail" u="image" id="img_@item.Imagen_ID" src="@item.Imagen_url" title="@item.Imagen_titulo - @item.Imagen_descripcion" style="width:640px; height:480px;" />
                <img u="thumb" id="img_@item.Imagen_ID" src="@item.Imagen_url" style="width:64px; height:64px;" />
            </div>
            @Html.Hidden(String.Format("ht{0}", item.Imagen_ID), item.Imagen_titulo)
            @Html.Hidden(String.Format("largeImg{0}", item.Imagen_ID), item.Imagen_url)
            @Html.Hidden(String.Format("hd{0}", item.Imagen_ID), item.Imagen_descripcion)
        }

    </div>

    <!-- Thumbnail Navigator Skin Begin -->
    <div u="thumbnavigator" class="jssort07" style="position: absolute; width: 720px; height: 100px; left: 0px; bottom: 0px; overflow: hidden; ">
        <div style=" background-color: #000; filter:alpha(opacity=30); opacity:.3; width: 100%; height:100%;"></div>
        <!-- Thumbnail Item Skin Begin -->
        <style>
            /* jssor slider thumbnail navigator skin 07 css */
            /*
                .jssort07 .p            (normal)
                .jssort07 .p:hover      (normal mouseover)
                .jssort07 .pav          (active)
                .jssort07 .pav:hover    (active mouseover)
                .jssort07 .pdn          (mousedown)
                */
            .jssort07 .i {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 99px;
                height: 66px;
                filter: alpha(opacity=80);
                opacity: .8;
            }

            .jssort07 .p:hover .i, .jssort07 .pav .i {
                filter: alpha(opacity=100);
                opacity: 1;
            }

            .jssort07 .o {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 97px;
                height: 64px;
                border: 1px solid #000;
                transition: border-color .6s;
                -moz-transition: border-color .6s;
                -webkit-transition: border-color .6s;
                -o-transition: border-color .6s;
            }

            * html .jssort07 .o {
                /* ie quirks mode adjust */
                width /**/: 99px;
                height /**/: 66px;
            }

            .jssort07 .pav .o, .jssort07 .p:hover .o {
                border-color: #fff;
            }

            .jssort07 .pav:hover .o {
                border-color: #0099FF;
            }

            .jssort07 .p:hover .o {
                transition: none;
                -moz-transition: none;
                -webkit-transition: none;
                -o-transition: none;
            }
        </style>
        <div u="slides" style="cursor: move;">
            <div u="prototype" class="p" style="POSITION: absolute; WIDTH: 99px; HEIGHT: 66px; TOP: 0; LEFT: 0;">
                <div u="thumbnailtemplate" class="i img-rounded" style="position:absolute;"></div>
                <div class="o img-rounded" style="POSITION: absolute; WIDTH: 99px; HEIGHT: 66px; TOP: 0; LEFT: 0;">
                </div>
            </div>
        </div>
        <!-- Thumbnail Item Skin End -->
        <!-- Arrow Navigator Skin Begin -->
        <style>
            /* jssor slider arrow navigator skin 11 css */
            /*
                .jssora11l              (normal)
                .jssora11r              (normal)
                .jssora11l:hover        (normal mouseover)
                .jssora11r:hover        (normal mouseover)
                .jssora11ldn            (mousedown)
                .jssora11rdn            (mousedown)
                */
            .jssora11l, .jssora11r, .jssora11ldn, .jssora11rdn {
                position: absolute;
                cursor: pointer;
                display: block;
                background: url(../images/a11.png) no-repeat;
                overflow: hidden;
            }

            .jssora11l {
                background-position: -11px -41px;
            }

            .jssora11r {
                background-position: -71px -41px;
            }

            .jssora11l:hover {
                background-position: -131px -41px;
            }

            .jssora11r:hover {
                background-position: -191px -41px;
            }

            .jssora11ldn {
                background-position: -251px -41px;
            }

            .jssora11rdn {
                background-position: -311px -41px;
            }
        </style>
        <!-- Arrow Left -->
        <span u="arrowleft" class="jssora11l" style="width: 37px; height: 37px; top: 123px; left: 8px;">
        </span>
        <!-- Arrow Right -->
        <span u="arrowright" class="jssora11r" style="width: 37px; height: 37px; top: 123px; right: 8px">
        </span>
        <!-- Arrow Navigator Skin End -->
    </div>
    <!-- ThumbnailNavigator Skin End -->
    <a style="display: none" href="http://www.jssor.com">bootstrap slider</a>
    <!-- Trigger -->
</div>


@*<div class="grid">
        <div class="row">
            <div class="span4">
                <div class="carousel" id="carousel1" data-role="carousel" data-width="210%" data-height="520" data-markers-show="false">
                    @foreach (var item in Model)
                    {

                        <div class="slide" >
                             <table border="1">
                                <tr>
                                    <td><div style="background-color:#414141; font-family: Roboto-Medium; font-size: 12pt; color: #E0E0E0;height:25pt; padding:5px;">@item.Imagen_titulo</div></td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">
                                            <img id="img_@item.Imagen_ID" src="@item.Imagen_url" class="cover1" style="width:640px; height:455px;" />
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><div style="background-color: #484872; font-family: 'Roboto-Light'; font-size: 10pt; color: #F9F9F9; height: 25pt; padding: 5px; ">@item.Imagen_descripcion</div><br /></td>
                                </tr>
                            </table>
                        </div>
                        @Html.Hidden(String.Format("ht{0}", item.Imagen_ID), item.Imagen_titulo)
                        @Html.Hidden(String.Format("largeImg{0}", item.Imagen_ID), item.Imagen_url)
                        @Html.Hidden(String.Format("hd{0}", item.Imagen_ID), item.Imagen_descripcion)
                    }
                    <a class="controls left"><i class="icon-arrow-left-3"></i></a>
                    <a class="controls right"><i class="icon-arrow-right-3"></i></a>
                </div>
            </div>

        </div>
    </div>*@
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/metro-ui")
