﻿@model INI.Models.DataBase.tblGruposInvestigacion
@using INI.Models.DataBase

@{
    ViewBag.Title = "_GrupoInvestigacion";
}

<br />
<div>
    <h2 style="font-family:Chewy">Mi grupo de investigación</h2>
</div>

<div class="panel"  data-role="panel">
    <div class="panel-header" >
        <span style="font-family:Chewy">@Html.DisplayFor(model => model.gruInv_nombreGrupo)</span>
    </div>
    <div class="panel-content">
        <div class="grid" style="margin-bottom:15px">
            <div class="row" style="margin-top:0px">
                <div class="span2">
                    <img src="~/images/logo_Grupo/@Model.gruInv_emblema"  style="margin-left:15px;width:50%" />
                </div>
                <div class="span10">
                </div>
            </div>
            <div class="row" style="margin-top:0px">
                <div class="span2">
                    <label style="margin-left:15px"> Creado el:</label>
                </div>
                <div class="span10">
                    @Html.DisplayFor(model => model.gruInv_fechaCreacion)
                </div>
            </div>
            @*<div class="row" style="margin-top:0px">
                <div class="span2">
                    <label style="margin-left:15px">Proyectos:</label>                    
                </div>
                <div class="span10">
                    @Html.DisplayFor(model => model.gruInv_proyectos)                    
                </div>
            </div>*@
            <div class="row" style="margin-top:0px">
                <div class="span2">
                    <label style="margin-left:15px">Estado del grupo:</label>                    
                </div>
                <div class="span10">
                    @Html.DisplayFor(model => model.tblEstado.est_nombre)
                </div>
            </div>
            <div class="row" style="margin-top:0px">
                <div class="span2">
                    <label style="margin-left:15px">Grupo creado por:</label>                     
                </div>
                <div class="span10">
                    @Html.DisplayName(AspNetUsers.GetName(Model.AspNetUsers.UserName))
                </div>
            </div>
        </div>
    </div>
</div>
