﻿@model INI.Models.DataBase.tblProyectosInvestigacion

@{
    var totalInvestic = 0;
    var totalOtraFuente = 0;
    var total = 0;
}



<div class="row" style="top: 95px; font-family:Chewy; color:#FF1643; font-size:22pt; text-align:center;">Docentes Investigando</div>
<div style="top: 140px; background: url('../../images/fondosCapas/bg_docentesInvestigando_Resultados.png') no-repeat; padding: 10px 50px 10px 180px; height: 490px; width: 900px; overflow: auto">
    @*<button type="button" onclick="javascript:history.back()">Regresar</button>*@
    @*<h4>@Html.ActionLink("Regresar", "BusquedaDocenteInvestigando")</h4>*@
    <h3 class="text-alert"><strong>@Html.DisplayFor(m => m.tblPresentacionProyecto.preProy_tituloProy)</strong></h3>
    <div class="row">
        <h4 class="text-info"><strong>PRESENTACIÓN DEL PROYECTO</strong></h4>
        <div class="row">
            <h4><strong>Resumen</strong></h4>
                @if (string.IsNullOrEmpty(Model.tblPresentacionProyecto.preProy_resumenProy))
                {
                    <span>No registra</span>
                }
                else
                {
                    <p>@Html.DisplayFor(m => m.tblPresentacionProyecto.preProy_resumenProy)</p>
                }         
        </div>
        <div class="row">
            <h4><strong>Palabras claves</strong></h4>
                @if (string.IsNullOrEmpty(Model.tblPresentacionProyecto.preProy_palabrasClavesProy))
                {
                    <span>No registra</span>
                }
                else
                {
                    <p>@Html.DisplayFor(m => m.tblPresentacionProyecto.preProy_palabrasClavesProy)</p>
                }
            
        </div>
        <div class="row">
            <h4><strong>Eje de investigación</strong></h4>
                @if (string.IsNullOrEmpty(Model.tblPresentacionProyecto.tblEjeInvestigacion.ejeInv_nombre))
                {
                    <span>No registra</span>
                }
                else
                {
                    <p>@Html.DisplayFor(m => m.tblPresentacionProyecto.tblEjeInvestigacion.ejeInv_nombre)</p>
                }
                @if (string.IsNullOrEmpty(Model.tblPresentacionProyecto.preProy_ejeInvestigacionProy))
                {
                    <span>No registra</span>
                }
                else
                {
                    <p>@Html.DisplayFor(m => m.tblPresentacionProyecto.preProy_ejeInvestigacionProy)</p>
                }            
            
        </div>
    </div>

    <div class="row">
        <h4 class="text-info"><strong>PROBLEMA DE INVESTIGACIÓN</strong></h4>
        <div class="row">
            <h4><strong>Planteamiento del problema</strong></h4>
                @if (string.IsNullOrEmpty(Model.tblProblemaInvestigacionProy.proInvProy_planteamientoProblemaProy))
                {
                    <span>No registra</span>
                 }
                 else
                 {
                    <p>@Html.DisplayFor(m => m.tblProblemaInvestigacionProy.proInvProy_planteamientoProblemaProy)</p>
                 }            
        </div>
        <div class="row">
            <h4><strong>Pregunta de investigación</strong></h4>
                @if (string.IsNullOrEmpty(Model.tblProblemaInvestigacionProy.proInvProy_preguntaInvestigacionProy))
                {
                    <span>No registra</span>
                }
                else
                {
                    <p>@Html.DisplayFor(m => m.tblProblemaInvestigacionProy.proInvProy_preguntaInvestigacionProy)</p>
                }
            
        </div>
        <div class="row">
            <h4><strong>Subpregunta de investigación</strong></h4>
                @if (string.IsNullOrEmpty(Model.tblProblemaInvestigacionProy.proInvProy_subpreguntaInvestigacionProy))
                {
                    <span>No registra</span>
                }
                else
                {
                    <p>@Html.DisplayFor(m => m.tblProblemaInvestigacionProy.proInvProy_subpreguntaInvestigacionProy)</p>
                }
            
        </div>
        <div class="row">
            <h4><strong>Justificación</strong></h4>
                @if (string.IsNullOrEmpty(Model.tblProblemaInvestigacionProy.proInvProy_justificacionProy))
                {
                    <span>No registra</span>
                }
                else
                {
                    <p>@Html.DisplayFor(m => m.tblProblemaInvestigacionProy.proInvProy_justificacionProy)</p>
                }
            
        </div>
        <div class="row">
            <h4><strong>Objetivo general</strong></h4>
                @if (string.IsNullOrEmpty(Model.tblProblemaInvestigacionProy.proInvProy_objetivoGeneralProy))
                {
                    <span>No registra</span>
                }
                else
                {
                    <p>@Html.DisplayFor(m => m.tblProblemaInvestigacionProy.proInvProy_objetivoGeneralProy)</p>
                }
            
        </div>
        <div class="row">
            <h4><strong>Objetivos específicos</strong></h4>
                @if (string.IsNullOrEmpty(Model.tblProblemaInvestigacionProy.proInvProy_objetivosEspecificosProy))
                {
                    <span>No registra</span>
                }
                else
                {
                    <p>@Html.DisplayFor(m => m.tblProblemaInvestigacionProy.proInvProy_objetivosEspecificosProy)</p>
                }
            
        </div>

    </div>

    <div class="row">
        <h4 class="text-info"><strong>MARCO DE REFERENCIA</strong></h4>
        <div class="row">
            <h4><strong>Marco teórico</strong></h4>
                 @if (string.IsNullOrEmpty(Model.tblMarcoReferenciaProy.marRefProy_marcoTeoricoProy))
                {
                    <span>No registra</span>
                 }
                 else
                 {
                    <p>@Html.DisplayFor(m => m.tblMarcoReferenciaProy.marRefProy_marcoTeoricoProy)</p>
                 }
            
        </div>
        <div class="row">
            <h4><strong>Marco de antecedentes</strong></h4>
                 @if (string.IsNullOrEmpty(Model.tblMarcoReferenciaProy.marRefProy_marcoAntecedentesProy))
                {
                    <span>No registra</span>
                 }
                 else
                 {
                    <p>@Html.DisplayFor(m => m.tblMarcoReferenciaProy.marRefProy_marcoAntecedentesProy)</p>
                 }
            
        </div>
        <div class="row">
            <h4><strong>Marco contextual</strong></h4>
                 @if (string.IsNullOrEmpty(Model.tblMarcoReferenciaProy.marRefProy_marcoConceptualProy))
                {
                    <span>No registra</span>
                 }
                 else
                 {
                    <p>@Html.DisplayFor(m => m.tblMarcoReferenciaProy.marRefProy_marcoConceptualProy)</p>
                 }            
        </div>
    </div>

    <div class="row">
        <h4 class="text-info"><strong>MÉTODO</strong></h4>
        <div class="row">
            <h4><strong>Paradigma metodológico</strong></h4>
                 
                    <p>@Html.DisplayFor(m => m.tblMetodoProy.tblParadigmaMetodologico.parMet_nombre)</p>
                   
            
                    <p>@Html.DisplayFor(m => m.tblMetodoProy.metProy_paradigmaMetodologicoProy)</p>
                   
            
        </div>
        <div class="row">
            <h4><strong>Paradigma epistemológico</strong></h4>
                
                    <p>@Html.DisplayFor(m => m.tblMetodoProy.tblParadigmaEpistemologico.parEpi_nombre)</p>
                 
                    <p>@Html.DisplayFor(m => m.tblMetodoProy.tblTipoEstudioProy.tipEst_nombre)</p>
                
                    <p>@Html.DisplayFor(m => m.tblMetodoProy.tblDiseniosProy.disProy_nombre)</p>
                 
                    <p>@Html.DisplayFor(m => m.tblMetodoProy.metProy_paradigmaEpistemologicoProy)</p>
                  
            
        </div>
        <div class="row">
            <h4><strong>Población y muestra</strong></h4>
             @if (string.IsNullOrEmpty(Model.tblMetodoProy.metProy_poblacionMuestraProy))
                {
                    <span>No registra</span>
             }
             else
             {
                <p>@Html.DisplayFor(m => m.tblMetodoProy.metProy_poblacionMuestraProy)</p>
             }  
            
        </div>
        <div class="row">
            <h4><strong>Técnicas e instrumentos de recolección de información</strong></h4>
                 @if (string.IsNullOrEmpty(Model.tblMetodoProy.metProy_tecnicasInstrumentosProy))
                {
                    <span>No registra</span>
                 }
                 else
                 {
                    <p>@Html.DisplayFor(m => m.tblMetodoProy.metProy_tecnicasInstrumentosProy)</p>
                 }  
            
        </div>
        <div class="row">
            <h4><strong>Procedimientos</strong></h4>
             @if (string.IsNullOrEmpty(Model.tblMetodoProy.metProy_procedimientoProy))
                {
                    <span>No registra</span>
             }
             else
             {
                <p>@Html.DisplayFor(m => m.tblMetodoProy.metProy_procedimientoProy)</p>
             }  
            
        </div>
        <div class="row">
            <h4><strong>Plan de análisis de datos e información</strong></h4>
                 @if (string.IsNullOrEmpty(Model.tblMetodoProy.metProy_planAnalisisDatosProy))
                {
                    <span>No registra</span>
                 }
                 else
                 {
                    <p>@Html.DisplayFor(m => m.tblMetodoProy.metProy_planAnalisisDatosProy)</p>
                 }  
            
        </div>
    </div>

    <div class="row">
        <h4 class="text-info"><strong>CARACTERÍSTICAS</strong></h4>
        <div class="row">
            <h4><strong>Resultados esperados</strong></h4>
                 @if (string.IsNullOrEmpty(Model.tblCaracteristicasProy.carProy_resultadosEsperadosProy))
                {
                    <span>No registra</span>
                 }
                 else
                 {
                    <p>@Html.DisplayFor(m => m.tblCaracteristicasProy.carProy_resultadosEsperadosProy)</p>
                 }  
            
        </div>
        <div class="row">
            <h4><strong>Caracterización de la investigación</strong></h4>
             @if (string.IsNullOrEmpty(Model.tblCaracteristicasProy.carProy_caracterizacionProy))
                {
                    <span>No registra</span>
             }
             else
             {
                <p>@Html.DisplayFor(m => m.tblCaracteristicasProy.carProy_caracterizacionProy)</p>
             }  
            
        </div>
    </div>

    <div class="row">
        <h4 class="text-info"><strong>CRONOGRAMA</strong></h4>
        <table class="table striped hover">
            <thead>
                <tr>
                    <th>Actividad</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Final</th>
                    <th>Indicador</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.tblCronogramaProy.tblFechaCronograma)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => item.cro_Actividad)</td>
                        <td class="text-center">@Html.DisplayFor(m => item.cro_FechaInicio)</td>
                        <td class="text-center">@Html.DisplayFor(m => item.cro_FechaFin)</td>
                        <td>@Html.DisplayFor(m => item.cro_Indicador)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="row">
        <h4 class="text-info"><strong>PRESUPUESTO</strong></h4>
        <table class="table striped hover">
            <thead>
                <tr>
                    <th>Rubro</th>
                    <th>Fuente</th>
                    <th>Valor</th>
                    <th>Justificación</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.tblPresupuestoProy.tblRubroPresupuesto)
                {
                    if (string.Format("{0}", item.rubPre_fuente).ToUpper().Equals("INVESTIC"))
                    {
                        totalInvestic += Int32.Parse(item.rubPre_valor.ToString());
                    }
                    else
                    {
                        totalOtraFuente += Int32.Parse(item.rubPre_valor.ToString());
                    }
                    <tr>
                        <td>@Html.DisplayFor(m => item.tblRubro.Rubro)</td>
                        <td>@Html.DisplayFor(m => item.rubPre_fuente)</td>
                        <td class="text-right">
                            @Html.DisplayFor(m => item.rubPre_valor, "Currency")
                        </td>
                        <td>@Html.DisplayFor(m => item.rubPre_justificacion)</td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            @{
                total = totalInvestic + totalOtraFuente;
            }
            <h4><strong>Total Aporte Investic: @totalInvestic.ToString("C0")</strong></h4>
            <h4><strong>Total Otras Fuentes: @totalOtraFuente.ToString("C0")</strong></h4>
            <h4><strong>Total Presupuesto: @total.ToString("C0")</strong></h4>
        </div>
    </div>

    <div class="row">
        <h4 class="text-info"><strong>REFERENCIAS</strong></h4>
        <div class="row">
            <h4><strong>Referencias</strong></h4>
             @if (string.IsNullOrEmpty(Model.tblReferenciasProy.refProy_referencias))
                {
                    <span>No registra</span>
             }
             else
             {
                <p>@Html.DisplayFor(m => m.tblReferenciasProy.refProy_referencias)</p>
             }  
            
        </div>
    </div>

</div>
