﻿@using Microsoft.AspNet.Identity
@using INI.Models.DataBase

@{
    ViewBag.Title = "_InvChamilo";
    Layout = "~/Views/Shared/_LayoutInvestic.cshtml";
}

<style>
    /* Dropdown Button */
    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

        /* Dropdown button on hover & focus */
        .dropbtn:hover, .dropbtn:focus {
            background-color: #3e8e41;
        }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        margin-top: 50px;
        background-color: #f9f9f9;
        min-width: 260px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            /* Change color of dropdown links on hover */
            .dropdown-content a:hover {
                background-color: #f1f1f1;
            }

    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {
        display: block;
    }
</style>


@section Style{
    @*<link href="~/Content/tooltip.css" rel="stylesheet" />*@
    <link href="~/Content/tooltipbootstrap/jquery.webui-popover.css" rel="stylesheet" />
}
@section Submenu{
<div id="submenus" style="background-color: #B2B2B2; position: relative; width: 100%; height: 48px; float: left; ">
    <img src="~/images/logosSecciones/logo_editor.png" style="margin:0; float: left;" />
    <div id="titulosmenusec" style="color: #CD1626;"> Editor</div>
    <div><a id="btnmenusec" href="/Noticias">Noticias</a></div>
    <div><a id="btnmenusec" href="/AsesorZonas">Coordinadores</a></div>
    <div><a id="btnmenusec" href="/Tutores">Tutores</a></div>
    <div><a id="btnmenusec" href="/Metas">Metas</a></div>
    <div><a id="btnmenusec" href="/CategoriaImagenes">Cat. Imágenes</a></div>
    <div><a id="btnmenusec" href="/GaleriaImagenes">Gal. Imágenes</a></div>
    <div><a id="btnmenusec" href="/Revistas">Revista digital</a></div>
    <div><a id="btnmenusec" href="/Repositorios">Rp digital</a></div>
    <div>@Html.ActionLink("RVC", "Aprobar", "RVC", null, new { id = "btnmenusec" })</div>
    
    <div class="dropdown">
        <a id="btnmenusec" onclick="myFunction()" href="#" class="dropbtn">Gestión de listas</a>
        <div id="myDropdown" class="dropdown-content">
            <a href="~/ParadigmaEpistemologico/Index" accesskey="P"><u>P</u>aradigma Epistemológico</a>
            <a href="~/TipoEstudioProy/Index" accesskey="T"><u>T</u>ipo Estudio de Proyectos</a>
            <a href="~/EjeInvestigacion/Index" accesskey="E"><u>E</u>jes de Investigación</a>
            <a href="~/DiseniosProy/Index" accesskey="D"><u>D</u>iseños de Proyectos</a>
            <a href="~/ParadigmaMetodologico/Index" accesskey="M">Paradigma <u>M</u>etodológico</a>
            <a href="~/Rubro/Index" accesskey="u">R<u>u</u>bros de Proyectos</a>
            <!--<a href="~/RecoleccionInformacionProyectoInvestigacions/Index" accesskey="I">Recolección <u>I</u>nformación de Proyectos Investigación</a>-->
            <a href="~/HerramientasRecoleccionInformacion/Index" accesskey="H"><u>H</u>erramientas de Recolección de Información</a>
        </div>
    </div>

    @*<a class="dropdown-toggle" href="#" id="btnmenusec" accesskey="g">
        <span><b><u>G</u>estión de Lista</b></span>
    </a>
    <ul class="dropdown-menu place-right" data-role="dropdown">
        <li><a href="~/ParadigmaEpistemologico/Index" accesskey="P"><u>P</u>aradigma epistemológico</a></li>
        <li><a href="~/TipoEstudioProy/Index" accesskey="T"><u>T</u>ipo de estudio del proyecto</a></li>
        <li><a href="~/EjeInvestigacion/Index" accesskey="E"><u>E</u>jes de investigación</a></li>
        <li><a href="~/DiseniosProy/Index" accesskey="D"><u>D</u>iseño del proyecto</a></li>
        <li><a href="~/ParadigmaMetodologico/Index" accesskey="M">Paradigma <u>M</u>etodológico</a></li>
        <li><a href="~/Rubro/Index" accesskey="u">R<u>u</u>bro</a></li>
        <li><a href="~/RubroPresupuesto/Index" accesskey="R"><u>R</u>ubro presupuestal</a></li>
        <li><a href="~/RecoleccionInformacionProyectoInvestigacions/Index" accesskey="I">Recolección <u>I</u>nformación del proyecto de investigación</a></li>
        <li><a href="~/HerramientasRecoleccionInformacion/Index" accesskey="H"><u>H</u>erramientas de recolección de información</a></li>

    </ul>*@


    @*<div style="padding-bottom:15px;padding-top:14px;margin:0; color:#E5E5E5;"></div>*@
</div>
}

<div class="container">
    @RenderBody()
</div>

@*INDEX Repository*@
<div style="display:none;">
    <div id="categoria">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Categorías</strong></b><br /><br />
        Para gestionar categorías de clic aquí.
    </div>
</div>
<div style="display:none;">
    <div id="Subcategoria">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Subcategorías</strong></b><br /><br />
        Para gestionar las subcategorías de clic aquí.
    </div>
</div>
<div style="display:none;">
    <div id="repository">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Repositorios</strong></b><br /><br />
        Para gestionar los repositorios de clic aquí.
    </div>
</div>

@section Script{
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/jqueryval") 
    @*<script src="/Scripts/tooltip.js"></script>*@
    <script>

        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {

                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }

        //Repositorio digital- crud
        $('#btn_categoria').webuiPopover({ url: '#categoria', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#btn_subcategoria').webuiPopover({ url: '#Subcategoria', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#btn_repository').webuiPopover({ url: '#repository', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#btn_newrepository').webuiPopover({ url: '#newrepository', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#btn_newcategory').webuiPopover({ url: '#newcategory', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#btn_newsubcategory').webuiPopover({ url: '#newsubcategory', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#lb_urlportada').webuiPopover({ url: '#urlportada', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#box_urlportada').webuiPopover({ url: '#boxurlportada', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#lb_category').webuiPopover({ url: '#category', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#box_category').webuiPopover({ url: '#boxcategory', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#lb_subcategory').webuiPopover({ url: '#subcategory', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#box_subcategory').webuiPopover({ url: '#boxsubcategory', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#lb_titlerepository').webuiPopover({ url: '#titlerepository', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#box_titlerepository').webuiPopover({ url: '#boxtitlerepository', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#lb_descriptionrep').webuiPopover({ url: '#descriptionrep', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#box_descriptionrep').webuiPopover({ url: '#boxdescriptionrep', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#lb_urlrepository').webuiPopover({ url: '#urlrep', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#box_urlrepository').webuiPopover({ url: '#boxurlrep', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });

        $('#lb_edittitlerepository').webuiPopover({ url: '#edittitlerep', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#box_edittitlerepository').webuiPopover({ url: '#boxedittitlerep', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#lb_editdescriptionrep').webuiPopover({ url: '#editdescriptionrep', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#box_editdescriptionrep').webuiPopover({ url: '#boxeditdescriptionrep', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#lb_editurlrepository').webuiPopover({ url: '#editurlrepository', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#box_editurlrepository').webuiPopover({ url: '#boxediturlrepository', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#lb_editurlportadarep').webuiPopover({ url: '#editurlportadarep', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#btn_editurlportadarep').webuiPopover({ url: '#boxediturlportadarep', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#lb_editcategoryrep').webuiPopover({ url: '#editcategoryrep', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#box_editcategoryrep').webuiPopover({ url: '#boxeditcategoryrep', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#lb_editsubcategoryrep').webuiPopover({ url: '#editsubcategoryrep', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#box_editsubcategoryrep').webuiPopover({ url: '#boxeditsubcategoryrep', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });       

        $('#lb_namecategory').webuiPopover({ url: '#namecategory', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#box_namecategory').webuiPopover({ url: '#boxnamecategory', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#lb_urlportadacategory').webuiPopover({ url: '#urlportadacategory', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#box_urlportadacategory').webuiPopover({ url: '#boxurlportadacategory', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#lb_editnamecateg').webuiPopover({ url: '#editnamecategory', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#box_editnamecateg').webuiPopover({ url: '#boxeditnamecategory', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#lb_editurlimagecateg').webuiPopover({ url: '#editurlimagecategory', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#box_editurlimagecateg').webuiPopover({ url: '#boxediturlimagecategory', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });

        $('#lb_namesubcategory').webuiPopover({ url: '#namesubcategory', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#box_namesubcategory').webuiPopover({ url: '#boxnamesubcategory', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#lb_urlimagesubcateg').webuiPopover({ url: '#urlimagesubcateg', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#btn_urlimagesubcateg').webuiPopover({ url: '#boxurlimagesubcateg', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#lb_categorysubcateg').webuiPopover({ url: '#categorysubcateg', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#box_categorysubcateg').webuiPopover({ url: '#boxcategorysubcateg', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });

        $('#lb_editnamesubcategory').webuiPopover({ url: '#editnamesubcategory', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#box_editnamesubcategory').webuiPopover({ url: '#boxeditnamesubcategory', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#lb_editurlimagesubcateg').webuiPopover({ url: '#editurlimagesubcateg', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#btn_editurlimagesubcateg').webuiPopover({ url: '#boxediturlimagesubcateg', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#lb_editcategorysubcateg').webuiPopover({ url: '#editcategorysubcateg', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#box_editcategorysubcateg').webuiPopover({ url: '#boxeditcategorysubcateg', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });

        //Noticias- crud
        $('#lb_titularnew').webuiPopover({ url: '#Titularnew', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#box_titularnew').webuiPopover({ url: '#boxTitularnew', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#lb_descripnew').webuiPopover({ url: '#Descripcionnew', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#box_descripnew').webuiPopover({ url: '#boxDescripcionnew', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#lb_imgnew').webuiPopover({ url: '#Imagennew', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#box_imgnew').webuiPopover({ url: '#boxImagennew', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#lb_audionew').webuiPopover({ url: '#Audionew', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#box_audionew').webuiPopover({ url: '#boxAudionew', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#lb_contetnnew').webuiPopover({ url: '#Contenidonew', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#box_contetnnew').webuiPopover({ url: '#boxContenidonew', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#lb_photonew').webuiPopover({ url: '#PiedeFotonew', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#box_photonew').webuiPopover({ url: '#boxPiedeFotonew', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#lb_datenew').webuiPopover({ url: '#Fechanew', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#box_datenew').webuiPopover({ url: '#boxFechanew', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#lb_autornew').webuiPopover({ url: '#Autornew', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#box_autornew').webuiPopover({ url: '#boxAutornew', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        
        $('#lb_nameasesor').webuiPopover({ url: '#nameasesor', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#lb_apellidoasesor').webuiPopover({ url: '#apellidoasesor', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#lb_phoneasesor').webuiPopover({ url: '#phoneasesor', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#lb_correoasesor').webuiPopover({ url: '#correoasesor', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#lb_municipioAsesor').webuiPopover({ url: '#municipioAsesor', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#box_nameasesor').webuiPopover({ url: '#boxnameasesor', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#box_apellidoasesor').webuiPopover({ url: '#boxapellidoasesor', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#box_phoneasesor').webuiPopover({ url: '#boxphoneasesor', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#box_correoasesor').webuiPopover({ url: '#boxcorreoasesor', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#box_municipioAsesor').webuiPopover({ url: '#boxmunicipioAsesor', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });

        $('#ed_nameasesor').webuiPopover({ url: '#ednameasesor', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#ed_apellidoasesor').webuiPopover({ url: '#edapellidoasesor', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#ed_phoneasesor').webuiPopover({ url: '#edphoneasesor', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#ed_correoasesor').webuiPopover({ url: '#edcorreoasesor', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#ed_municipioAsesor').webuiPopover({ url: '#edmunicipioAsesor', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#boxed_nameasesor').webuiPopover({ url: '#edboxnameasesor', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#boxed_apellidoasesor').webuiPopover({ url: '#edboxapellidoasesor', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#boxed_phoneasesor').webuiPopover({ url: '#edboxphoneasesor', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#boxed_correoasesor').webuiPopover({ url: '#edboxcorreoasesor', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#boxed_municipioAsesor').webuiPopover({ url: '#edboxmunicipioAsesor', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });

        $('#lb_nameTutor').webuiPopover({ url: '#nameTutor', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#lb_apellidoTutor').webuiPopover({ url: '#apellidoTutor', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#lb_correoTutor').webuiPopover({ url: '#correoTutor', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#lb_phoneTutor').webuiPopover({ url: '#phoneTutor', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#lb_institucionTutor').webuiPopover({ url: '#institucionTutor', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#box_nameTutor').webuiPopover({ url: '#boxnameTutor', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#box_apellidoTutor').webuiPopover({ url: '#boxapellidoTutor', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#box_correoTutor').webuiPopover({ url: '#boxcorreoTutor', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#box_phoneTutor').webuiPopover({ url: '#boxphoneTutor', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#box_institucionTutor').webuiPopover({ url: '#boxinstitucionTutor', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
    </script>  

}
