﻿@using Microsoft.AspNet.Identity
@using INI.Models.DataBase

@{
    ViewBag.Title = "_InvRecuerdos";
    Layout = "~/Views/Shared/_LayoutInvestic.cshtml";
}

@section Submenu{
@*<div id="submenus" style="background-color: #B2B2B2; position: relative; width: 100%; height: 48px; float: left; ">
    <img src="~/images/logosSecciones/logo_recuerdos.png" style="margin:0; float: left;" />
    <div id="titulosmenusec" style="color: #8BBE37;"> Recuerdos</div>
    @*<div style="padding-bottom:15px;padding-top:14px;margin:0; color:#E5E5E5;"></div>
<div>
    <div id="tituloruta">
        Dónde Estoy?
        <font id="ruta">@Html.MvcSiteMap().SiteMapPath()</font>
    </div>

</div>
    </div>*@
}

<div class="container">
    @RenderBody()
</div>

@section Script{
    @RenderSection("scripts", required: false)
}