﻿@using Microsoft.AspNet.Identity
@using INI.Models.DataBase

@{
    ViewBag.Title = "Investic-Administrator";
    Layout = "~/Views/Shared/_LayoutInvestic.cshtml";
    
}
<link href="~/Content/Investic/ruta_migas.css" rel="stylesheet" />
<style>
    /* Dropdown Button */
    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

        /* Dropdown button on hover & focus */
        .dropbtn:hover, .dropbtn:focus {
            background-color: #3e8e41;
        }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        margin-top:50px;
        background-color: #f9f9f9;
        min-width: 260px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            /* Change color of dropdown links on hover */
            .dropdown-content a:hover {
                background-color: #f1f1f1;
            }

    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {
        display: block;
    }
</style>
    @section Submenu{
        <div id="submenus" style="background-color: #B2B2B2; position: relative; width: 100%; height: 48px; float: left; ">
            <img src="~/images/logosSecciones/logo_seguimiento.png" style="margin:0; float: left;" />
            <div id="titulosmenusec" style="color: #BDBDBD">Administrador</div>
            <div><a id="btnmenusec" href="/PanelAdministrativo">Usuarios</a></div>
            <div><a id="btnmenusec" href="/LogAcceso">Log de acceso</a></div>
            <div><a id="btnmenusec" href="/InfoGeneral">Email contáctanos</a></div>
            <div><a id="btnmenusec" href="/PanelAdministrativo/LimpiaUsuarios">Limpiar usuarios</a></div>
            <div><a id="btnmenusec" href="/InfoGeneral/litar_link_cvemp">Links CVE</a></div>
            @*<div><a id="btnmenusec" href="/PanelAdministrativo/CuentasUsuarios">Cuentas usuarios</a></div>*@

            <div class="dropdown">
                @*<a id="btnmenusec" onclick="myFunction()" href="#" class="dropbtn">Gestión de listas</a>*@
                <div id="myDropdown" class="dropdown-content">
                    <a href="~/ParadigmaEpistemologico/Index" accesskey="P"><u>P</u>aradigma epistemológico</a>
                    <a href="~/TipoEstudioProy/Index" accesskey="T"><u>T</u>ipo Estudio de proyectos</a>
                    <a href="~/EjeInvestigacion/Index" accesskey="E"><u>E</u>jes de investigación</a>
                    <a href="~/DiseniosProy/Index" accesskey="D"><u>D</u>iseños de proyectos</a>
                    <a href="~/ParadigmaMetodologico/Index" accesskey="M">Paradigma <u>m</u>etodológico</a>
                    <a href="~/Rubro/Index" accesskey="u">R<u>u</u>bros de proyectos</a>
                    <!--<a href="~/RecoleccionInformacionProyectoInvestigacions/Index" accesskey="I">Recolección <u>I</u>nformación de Proyectos Investigación</a>-->
                    <a href="~/HerramientasRecoleccionInformacion/Index" accesskey="H"><u>H</u>erramientas de recolección de información</a>
                </div>
            </div>

        </div>
        @*<div><a id="btnmenusec" href="/Contrato/Seleccionar">Datos Contrato</a></div>
            <div><a id="btnmenusec" href="/contractual/Create">Asignar Responsabilidades</a></div>
            <div><a id="btnmenusec" href="/agendar/Seleccionar">Agendar Tarea</a></div>
            <div><a id="btnmenusec" href="/Usuarios/Index">Usuarios</a></div>*@

    }

    <div class="container">
        @RenderBody()
    </div>

    @section Script{
        @RenderSection("scripts", required: false)
        <script>
            /* When the user clicks on the button,
            toggle between hiding and showing the dropdown content */
            function myFunction() {
                document.getElementById("myDropdown").classList.toggle("show");
            }

            // Close the dropdown if the user clicks outside of it
            window.onclick = function (event) {
                if (!event.target.matches('.dropbtn')) {

                    var dropdowns = document.getElementsByClassName("dropdown-content");
                    var i;
                    for (i = 0; i < dropdowns.length; i++) {
                        var openDropdown = dropdowns[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                    }
                }
            }
        </script>
    }
