﻿@using Microsoft.AspNet.Identity
@using INI.Models.DataBase

@{
    Layout = "~/Views/Shared/_LayoutInvestic.cshtml";
    var rol = AspNetUsersRoles.IsUserInRole("Maestro", User.Identity.Name);
}
@section Style{
    <link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    @RenderSection("Style", required: false)

    <style>
        #ayuda_br {
            width: 180px;
            position: fixed;
            bottom: 0;
            right: 0;
            padding: 10px 0 10px 0;
            z-index: 99;
        }

        .resultitem {
            float: right;
            width: 180px;
            margin: 5px 0 0 0;
            opacity: 0.8;
            
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            transition: all 1s ease;
        }

            .resultitem:hover {
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
                opacity: 1;
                margin: 5px 0 0 0;
                right: 0;
            }
    </style>
}

@section Submenu{
    <div id="submenus" style="background-color: #B2B2B2; position: relative; width: 100%; height: 48px; float: left; ">
            <img src="~/images/logosSecciones/logo_iep.png" style="margin:0; float: left;" />
            <div id="titulosmenusec" style="color:#FF6C00"> IEP</div>
            <span class="element-divider"></span>
            <div><a id="btnmenusec" href="~/IEP">Mis Grupos </a></div>
            <div><a id="btnmenusec" href="~/IEP/Invitaciones">Mis Invitaciones </a></div>
            @*<div><a id="btnmenusec" href="~/IEP/ForoProyecto">Foros </a></div>
            <div><a id="btnmenusec" href="~/IEP/ComentarioProyecto">Comentarios </a></div>*@
            <div style="padding-bottom:15px;padding-top:14px;margin:0; color:#E5E5E5;"></div>
        </div>
}

<div class="container">
    @RenderBody()
    <div id="ayuda_br">
        @if (rol == true)
        {
            <a href="~/Archivos/doc/IEP - Maestros.pdf" target="_blank"><img src="~/images/botonesiep-01.png" class="resultitem" /></a>
        }
        else
        {
            <a href="~/Archivos/doc/IEP - Estudiantes.pdf" target="_blank"><img src="~/images/botonesiep-01.png" class="resultitem" /></a>
        }
        
        <a href="~/Archivos/doc/Manual de Errores IEP.pdf" target="_blank"><img src="~/images/botonesiep-02.png" class="resultitem" /></a>
    </div>
</div>

@section Script{
    @RenderSection("Scripts", required: false)
}
