﻿@using Microsoft.AspNet.Identity
@using INI.Models.DataBase

@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_LayoutInvestic.cshtml";
}

@section Submenu{
<div id="submenus" style="background-color: #B2B2B2; position: relative; width: 100%; height: 48px; float: left; ">
    <img src="~/images/logosSecciones/logo_hv.png" style="margin:0; float: left;" />
    <div id="titulosmenusec" style="color:#99CC33"> Hoja de Vida</div>
    <div><a id="btnmenusec" href="~/Usuario/AdministrarCuenta">Perfil </a></div>
       
        @if (AspNetUsersRoles.IsUserInRole("Maestro", User.Identity.Name))
        {
            <div><a id="btnmenusec" href="~/MAI/FormacionYExperiencia">Formación </a></div>
            <div><a id="btnmenusec" href="~/MAI/Investigacion">Experiencia </a></div>
        }    
    <div style="padding-bottom:15px;padding-top:14px;margin:0; color:#E5E5E5;"></div>
</div>
}

<div class="container">
    @RenderBody()
</div>

@section Script{
    @RenderSection("scripts", required: false)
}
