﻿@using Microsoft.AspNet.Identity
@using INI.Models.DataBase

@{
    ViewBag.Title = "_InvChamilo";
    Layout = "~/Views/Shared/_LayoutInvestic.cshtml";
    var rol = AspNetUsersRoles.IsUserInRole("Maestro", User.Identity.Name);
}
@section Style{
    <link href="~/Content/Investic/RVC/RVC.css" rel="stylesheet" />  
    <style>
    #ayuda_br {
        width: 180px;
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 10px 0 10px 0;
        z-index: 999;
    }

    .resultitem {
        float: right;
        width: 180px;
        margin: 5px 0 0 0;
        opacity: 0.8;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        transition: all 1s ease;
    }

        .resultitem:hover {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
            opacity: 1;
            margin: 5px 0 0 0;
            right: 0;
        }
</style>

 
    
}


@section Submenu{
    @*<img src="~/images/logosSecciones/logo_rvc.svg" style="margin:0; float: left;width:7.5em" />
    <div id="titulosmenusec" style="color: #00B8D4;"> Red virtual de conocimiento</div>
    @*<div><a id="btnmenusec" href="/Noticias">Noticias</a></div>
    <div><a id="btnmenusec" href="/AsesorZonas">Asesores</a></div>
    <div><a id="btnmenusec" href="/Tutores">Tutores</a></div>
    <div><a id="btnmenusec" href="/Metas">Metas</a></div>
    <div><a id="btnmenusec" href="/CategoriaImagenes">Categorias de Imágenes</a></div>
    <div><a id="btnmenusec" href="/GaleriaImagenes">Galeria de Imágenes</a></div>
    <div><a id="btnmenusec" href="/Revistas">Revista digital</a></div>
    <div><a id="btnmenusec" href="/Repositorios">Rp digital</a></div>
    <div>   

                     
        <a class="dropdown-toggle" href="#" id="btnmenusec" accesskey="g">
            <span><b><u>G</u>estión de Lista</b></span>
        </a>
        <ul class="dropdown-menu place-right" data-role="dropdown" >
            <li><a href="~/ParadigmaEpistemologico/Index" accesskey="P"><u>P</u>aradigma Epistemologico</a></li>
            <li><a href="~/TipoEstudioProy/Index" accesskey="T"><u>T</u>ipo Estudio Proy</a></li>
            <li><a href="~/EjeInvestigacion/Index" accesskey="E"><u>E</u>je Investigación</a></li>
            <li><a href="~/DiseniosProy/Index" accesskey="D"><u>D</u>isenios Proy</a></li>
            <li><a href="~/ParadigmaMetodologico/Index" accesskey="M">Paradigma <u>M</u>etodologico</a></li>
            <li><a href="~/Rubro/Index" accesskey="u">R<u>u</u>bro</a></li>
            <li><a href="~/RubroPresupuesto/Index" accesskey="R"><u>R</u>ubro Presupuesto</a></li>
            <li><a href="~/RecoleccionInformacionProyectoInvestigacions/Index" accesskey="I">Recolección <u>I</u>nformación Proyecto Investigación</a></li>
            <li><a href="~/HerramientasRecoleccionInformacion/Index" accesskey="H"><u>H</u>erramientas Recolección Información</a></li>
                        
        </ul>
        
        </div>*@

    @*<div style="padding-bottom:15px;padding-top:14px;margin:0; color:#E5E5E5;"></div>*@
}

<div class="container">
    @RenderBody()
    <div id="ayuda_br">
        @if(rol == true){
            <a href="~/Archivos/doc/Red Virtual de Conocimiento - Maestros.pdf"><img src="~/images/botonesiep-01.png" class="resultitem" /></a>
        }
        else
        {
            <a href="~/Archivos/doc/Red Virtual de Conocimiento - Estudiantes.pdf"><img src="~/images/botonesiep-01.png" class="resultitem" /></a>
        }
        @*<a href="~/Archivos/doc/Manual de Errores APR.pdf" target="_blank"><img src="~/images/botonesiep-02.png" class="resultitem" /></a>*@
    </div>
    @*<center>@Html.AtrasInvestic()</center>*@
</div>

@section Script{    
    
    @RenderSection("scripts", required: false)   
}