﻿@using Microsoft.AspNet.Identity
@using INI.Models.DataBase

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title .INVESTIC</title>
    <link rel="icon" type="image/png" href="favicon.png">
    <link href="~/Content/metro-ui/css/metro-bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/Content/metro-ui/css/metro-bootstrap.css" rel="stylesheet" />
    <link href="~/Content/metro-ui/css/iconFont.min.css" rel="stylesheet" />
    <link href="~/Content/Investic/Site.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />

</head>
<body class="metro" style="background: url('../../images/Investiga/investigadividido-02.png') center no-repeat #558b2f;background-size: cover;">   
    @*
        Inicia Barra Superior negra
        Menú general de la plataforma
    *@
    <nav class="navigation-bar" style="background-color:#575756;">
        <nav class="navigation-bar-content">
            <a class="element" href="/">
                <img src="/favicon.png" height="16" width="16" />
                <span style="font-size:medium;color:azure">Investic</span>
            </a>
            
            @*<span class="element-divider"></span><span id="textomenu" style=" font-size:x-small" class="element">Ciencia, tecnología e innovación para el buen vivir nariñense</span>*@
            @if (@Request.RawUrl != "/Home/Conocenos"){ <span class="element-divider"></span><a id="fuentemenu" class="element" href="~/Home/Conocenos">Conócenos</a> }
            @if (@Request.RawUrl != "/Home/Aprendizaje" && @Request.RawUrl != "/Home/Investigacion"){ <span class="element-divider"></span><a id="fuentemenu" class="element" href="~/Home/Aprendizaje">Investiga</a> }
            @if (@Request.RawUrl != "/Home/Contactenos"){ <span class="element-divider"></span><a id="fuentemenu" class="element" href="~/Home/Contactenos">Contáctanos</a> }
            @if (@Request.RawUrl != "/Home/Recuerdos"){ <span class="element-divider"></span><a id="fuentemenu" class="element" href="~/Home/Recuerdos">Recuerdos</a> }
            @if (@Request.RawUrl != "/Home/comovamos"){ <span class="element-divider"></span><a id="fuentemenu" class="element" href="~/Home/comovamos">¿Cómo Vamos?</a> }

            @if (Request.IsAuthenticated)
            {
                var uname = User.Identity.Name;
                
                if (AspNetUsersRoles.IsUserInRole("Maestro", uname) || AspNetUsersRoles.IsUserInRole("Estudiante", uname))
                { 
                    if (@Request.RawUrl != "/Home/Chamilo"){ <span class="element-divider place-right"></span><a id="fuentemenu" class="element" href="~/Home/Chamilo">APR</a> }
                    if (@Request.RawUrl != "/Home/MAE"){ <span class="element-divider place-right"></span><a id="fuentemenu" class="element" href="~/Home/MAE">MAE</a> }
                    if (@Request.RawUrl != "/Home/IEP"){ <span class="element-divider place-right"></span><a id="fuentemenu" class="element" href="~/Home/IEP">IEP</a> }
                }
            }
            <span class="element-divider place-right"></span>
            <div class="no-tablet-portrait">
                <div class="element input-element" style="padding:0px; border-spacing:0px;">
                    @if (!Request.IsAuthenticated)
                    {
                        <div class="element place-right">
                            <a class="dropdown-toggle" href="#">
                                <span>¿Eres Nuevo?</span>
                            </a>
                            <ul class="dropdown-menu place-right" data-role="dropdown">
                                <li><a href="#">Registrarse</a></li>
                            </ul>
                        </div>
                        @Html.Partial("_LoginForm")
                    }
                    else
                    {
                        @Html.Partial("_LoginPartial")
                    }
                </div>
            </div>
        </nav>
    </nav>
    @*
        Termina Barra Superior negra
    *@
    <div id="botones" style="background:url('') repeat-x; height:50px; position:absolute; width:100%; left:0;top:45px;z-index:2;">
        <div style="background-color:#E5E5E5;position:relative;">

            @if (@Request.RawUrl == "/Home/Aprendizaje" || @Request.RawUrl == "/Home/Investigacion")
            {
                <img src="~/images/Investiga/investigadividido-05.png" style="margin:0; float: left;" />
                <div id="titulosmenusec" style="color:#871E80"> Investiga</div>
                <div><a id="btnmenusec" href="~/Home/Aprendizaje">Aprendizaje </a></div>
                <div><a id="btnmenusec" href="~/Home/Investigacion">Investigación</a></div>
                <div style="padding-bottom:15px;padding-top:14px;margin:0; color:#E5E5E5;"></div>
            }
            
            @if (@Request.RawUrl == "/Home/Chamilo")
            {
                <img src="~/images/Investiga/investigadividido-05.png" style="margin:0; float: left;" />
                <div id="titulosmenusec" style="color:#558b2f"> Aprendizaje</div>
                
                
                if (AspNetUsersRoles.IsUserInRole("Maestro", User.Identity.Name))
                {        
                    <div><a id="btnmenusec" href="~/Home/">Crear Curso</a></div>
                }
                <div><a id="btnmenusec" href="~/Home/">Mis Cursos</a></div>
                <div><a id="btnmenusec" href="~/Home/">Catálogo de Cursos</a></div>
                <div style="padding-bottom:15px;padding-top:14px;margin:0; color:#E5E5E5;"></div>
            }
        
        </div>
        
        <div style="position:absolute; right:0;top:3%;">
            <a href="http://www.facebook.com/investic.edu" target="_blank"><img id="boton_facebook" src="~/images/boton_facebook.png" style="margin:0; float: right;margin-top:-2px;" /></a>
            <a href="http://www.twitter.com/investic_edu" target="_blank"><img id="boton_twitter" src="~/images/boton_twitter.png" style="margin:0; float: right;margin-top:-2px;" /></a>
            <a href="http://www.youtube.com/user/investicedu" target="_blank"><img id="boton_youtube" src="~/images/boton_youtube.png" style="margin:0; float: right;margin-top:-2px;" /></a>
        </div>
    </div>
    <div class="container">

        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/metro-ui")

    <script src="~/Scripts/DataTables-1.10.3/jquery.dataTables.js"></script>
    <script src="~/Scripts/js/Invresources.js"></script>
    <script>
        $(function () {
            $("#catalogo").click(function () {
                $("#chamilo").attr("src", "http://investic.udenar.edu.co:90/chamilo/main/auth/courses.php");
            })
            $("#cursos").click(function () {
                $("#chamilo").attr("src", "http://investic.udenar.edu.co:90/chamilo/user_portal.php?&origin=");
            })
            $("#crear").click(function () {
                $("#chamilo").attr("src", "http://investic.udenar.edu.co:90/chamilo/main/create_course/add_course.php");
            })
        })
        </script>
    @RenderSection("scripts", required: false)
</body>
</html>