﻿@using Microsoft.AspNet.Identity
@using INI.Models.DataBase

@{
    ViewBag.Title = "_InvInvestiga";
    Layout = "~/Views/Shared/_LayoutInvestic.cshtml";
}
@section Style{
    <link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    @RenderSection("Style", required: false)

    <style>
        #ayuda_br {
            width: 180px;
            position: fixed;
            bottom: 0;
            right: 0;
            padding: 10px 0 10px 0;
            z-index:99;
        }

        .resultitem {
            float: right;
            width: 180px;
            margin: 5px 0 0 0;
            opacity: 0.8;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            transition: all 1s ease;
        }

            .resultitem:hover {
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
                opacity: 1;
                margin: 5px 0 0 0;
                right: 0;
            }
    </style>
}

@section Submenu{
<div id="submenus" style="background-color: #B2B2B2; position: relative; width: 100%; height: 48px; float: left; ">
    <img src="~/images/logosSecciones/logo_mai.png" style="margin:0; float: left;" />
    <div id="titulosmenusec" style="color: #FCE68D;"> MAI</div>
    <div><a id="btnmenusec" href="~/GruposInvestigacion/MisGrupos">Mi Grupo </a></div>
    <div><a id="btnmenusec" href="~/IntegrantesGrupoInv/Integrantes">Integrantes </a></div>
    <div><a id="btnmenusec" href="~/ProyectosInvestigacion/Proyectos">Proyectos </a></div>
    <div style="padding-bottom:15px;padding-top:14px;margin:0; color:#E5E5E5;"></div>
</div>
}

<div class="container">
    @RenderBody()
    <div id="ayuda_br">
        <a href="~/Archivos/doc/MAI.pdf" target="_blank"><img src="~/images/botonesiep-01.png" class="resultitem" /></a>
        <a href="~/Archivos/doc/Manual de Errores MAI.pdf" target="_blank"><img src="~/images/botonesiep-02.png" class="resultitem" /></a>
    </div>
</div>

@section Script{
  
    @RenderSection("ScriptsMAI", required: false);
}
