﻿@using Microsoft.AspNet.Identity
@using INI.Models.DataBase
@using INI.Controllers.Administracion
@{ 
    if (Request.IsAuthenticated)
    {
        NavigationManager.registrerNewUrl(User.Identity.Name, Request.Url.PathAndQuery);
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Bundles/MobileCSS")
    @Scripts.Render("~/Bundles/MobileJS")
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/Investic/investicmobile.min.css" />
    <script>
        $(function () {
            window.location.href = "http://investic.udenar.edu.co:8070/";
        });
    </script>

</head>

<body>
    @RenderBody()
</body>
</html>