﻿@{
    ViewBag.Title = "INVESTIGACIÓN COMO ESTRATEGIA PEDAGÓGICA";
    Layout = "~/Views/Shared/_InvIEP.cshtml";    
}

@section Style{
    @RenderSection("Style", required: false)
}
<br />
@*<div class="button-set margin10" style="margin-top:55px;">*@
    <div class="button-set margin10" style="margin-top:105px;">
        <a href="/IEP" class="button">
            <i class="icon-home"></i>
        </a>
        <a href="/IEP/IrAlProyecto/@ViewBag.InfoGrupo.idGrupo" class="button">Mi Grupo</a>
        <a href="/IEP/IrABitacoras/@ViewBag.InfoGrupo.idGrupo" class="button">Mis Bitácoras</a>
        <a href="/IEP/ForoProyecto/@ViewBag.InfoGrupo.idGrupo" class="button">Foro</a>
        <a href="/IEP/ComentarioProyecto/@ViewBag.InfoGrupo.idGrupo" class="button">Comentario</a>

    </div>

@if (ViewBag.InfoGrupo != null)
{
    var infogrupo = (INI.Models.DataBase.InformacionGrupo)ViewBag.InfoGrupo;
    Html.RenderPartial("_InformacionGrupo", infogrupo);
}

@RenderBody()

@section Scripts{
    @RenderSection("scripts", required: false)
}

<div id="d_rta" class="alert alert-success"></div>


@*<a href="/IEP/OffLineMetodo/@ViewBag.InfoGrupo.idGrupo" class="button medium primary" id="offLinesId">Generar Archivo!</a>*@ 
<a href="http://investic.udenar.edu.co/Archivos/RecursosEducativos/18052016122544-IEP.rar" class="button médium primary" id="offLinesId">Descargar versión IEP Offline</a>
<a href="http://investic.udenar.edu.co/Archivos/doc/Manual IEP Offline-Install.pdf" class="button médium primary" id="offLinesId">Descargar manual instalación IEP Offline</a>
    @*<center>@Html.AtrasInvestic()</center>*@
 <br />
<br />

<script type="text/javascript">

    $('#offLinesId').click(function () {
        
        $.get(function (data)
        {
            $("#d_rta").html(data.rta);
            $("#d_rta").show();
        });
     })
</script>

