﻿@*@model INI.Models.LoginViewModel*@
@using Microsoft.AspNet.Identity


@using (Html.BeginForm("IniciarSesion", "Usuario", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <span class="element-divider place-right"></span>

    <input class="element place-right link fg-white" type="submit" value="Iniciar sesión" tabindex="147" />
    <input id="Password" name="Password" type="password" class="place-right password" tabindex="146"  placeholder="Contraseña" />
    <input id="UserName" name="UserName" type="text" class="place-right UserName" tabindex="145" placeholder="Usuario" />
}
<script src="~/Scripts/jquery-2.1.1.min.js"></script>

