﻿@model INI.Models.RangeFechas.DateRange

<br /><br />

@{
    var startdate = System.DateTime.Now.AddMonths(-1);
    var enddate = System.DateTime.Now;

    string sd = startdate.Year + "/" + startdate.Month + "/" + startdate.Day;
    string ed = enddate.Year + "/" + enddate.Month + "/" + enddate.Day;   
    

}

<form action="/LogAcceso/GetReport" method="post">
    @Html.AntiForgeryToken()
    <input id="IsAdvancedSearch" name="IsAdvancedSearch" type="hidden" value=false />
    <input id="IsRole" name="IsRole" type="hidden" value=true />
    <input id="ReportType" name="ReportType" type="hidden" value=1 />
    <div class="grid">
        <div class="row">
            <div class="span2">
                <label id="_fechainicial"><strong style="cursor:pointer">Fecha inicial</strong></label>
            </div>
            <div class="span4 input-control text" data-role="datepicker" data-format="dd/mm/yyyy" data-locale="es" data-effect="slide" data-position="top" data-date="@sd">
                @Html.TextBoxFor(m => m.StartDate, "{0:dd/MM/yyyy}", new { @type = "text" })
                <button class="btn btn-date" type="button"></button>                
                @*@Html.ValidationMessageFor(m => m.StartDate, "", new { @class = "text-danger" })*@
            </div>
        </div>
        <div class="row">
            <div class="span2">
                <label id="_fechafinal"><strong style="cursor:pointer">Fecha final</strong></label>
            </div>
            <div class="span4 input-control text" data-role="datepicker" data-format="dd/mm/yyyy" data-locale="es" data-effect="slide" data-position="top" data-date="@ed">
                @Html.TextBoxFor(m => m.EndDate, "{0:dd/MM/yyyy}", new { @type = "text" })
                <button class="btn btn-date" type="button"></button>
                <span id="val_enddate" style="display:none;color:red">La fecha final es menor que la fecha inicial</span>
                @*@Html.ValidationMessageFor(m => m.EndDate, "", new { @class = "text-danger" })*@
            </div>
        </div>
        <div class="row">
            <div class="span2">
                <label id="lbl_report_type"><strong style="cursor:pointer">Formato</strong></label>
            </div>
            <div class="span10">
                <div class="input-control radio">
                    <label>
                        <input id="rd_excel" name="rd_reporttype" type="radio" checked/>
                        <span class="check"></span>
                        Excel
                    </label>
                </div>

                @*<div class="input-control radio">
                    <label>
                        <input id="rd_pdf" name="rd_reporttype"  type="radio" />
                        <span class="check"></span>
                        PDF
                    </label>
                </div>*@
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span2">
            <strong>Reporte avanzado</strong>
        </div>
        <div class="span2">
            <div class="input-control switch" id="chk_repadvance">
                <label>
                    <input id="chk_isAR" type="checkbox" />
                    <span class="check"></span>
                </label>
            </div>
        </div>
        <div id="grp_rd_ar" class="span4" style="display:none">
            <div id="chk_roladvance" class="input-control radio">
                <label>
                    <input type="radio" id="rdreportto1" name="rdreportto" checked="checked"/>
                    <span class="check" ></span>
                    Rol
                </label>
            </div>
            <div id="chk_useradvance" class="input-control radio">
                <label>
                    <input type="radio" id="rdreportto2"  name="rdreportto" />
                    <span class="check"></span>
                    Usuario
                </label>
            </div>            
        </div>
        <div id="txt_repo" class="span4" style="display:none">
            <div id="criterio_report" class="input-control text" data-role="input-control">
                <input type="text" name="criterion" placeholder="Criterio">
                <button class="btn-clear" tabindex="-1" type="button"></button>
            </div>
        </div>
    </div>    
    <br />
    
        <input id="btn_downloadreport" type="submit" value="Descargar" class="button large primary" />
    
</form>

<div style="display:none;">
    <div id="fechainicial">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Fecha inicial</strong></b><br /><br />
        En este espacio selecciona desde que fecha se quiere generar el reporte.
    </div>
</div>
<div style="display:none;">
    <div id="fechainicial2">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Fecha inicial</strong></b><br /><br />
        En este espacio selecciona desde que fecha se quiere generar el reporte.
    </div>
</div>

<div style="display:none;">
    <div id="fechafinal1">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Fecha final</strong></b><br /><br />
        En este espacio selecciona hasta que fecha se quiere generar el reporte.
    </div>
</div>

<div style="display:none;">
    <div id="report_type">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Reportes</strong></b><br /><br />
        En este espacio puede seleccionar el formato con el que se generará el reporte.
    </div>
</div>

<div style="display:none;">
    <div id="fechafinal2">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Fecha final</strong></b><br /><br />
        En este espacio selecciona hasta que fecha se quiere generar el reporte.
    </div>
</div>
<div style="display:none;">
    <div id="checkreportavance">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Reporte avanzado</strong></b><br /><br />
        Aquí puede generar su reporte filtrado por usuario y rol.
    </div>
</div>
<div style="display:none;">
    <div id="criterios">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Criterio</strong></b><br /><br />
        Ingresar el criterio a buscar, esto examinará si la palabra buscada esta contenida en el usuario o rol.
    </div>
</div>
<div style="display:none;">
    <div id="roles_log">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Roles</strong></b><br /><br />
        Si seleccionas esta opción, en criterio debe ingresar el rol del usuario a buscar.
    </div>
</div>
<div style="display:none;">
    <div id="usuarioid">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Usuario</strong></b><br /><br />
        Si seleccionas esta opción en criterio debe ingresar el nombre del usuario a buscar.
    </div>
</div>
<div style="display:none;">
    <div id="reportlog">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Reporte</strong></b><br /><br />
        Generar su reporte.
    </div>
</div>
<div style="display:none;">
    <div id="shwichreport">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Log de Acceso</strong></b><br /><br />
        Habilite o deshabilite el log de acceso.
    </div>
</div>
<div style="display:none;">
    <div id="downloadreport">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Descargar</strong></b><br /><br />
        Clic en descargar para ver el resultado de la consulta.
    </div>
</div>
