﻿@using Microsoft.AspNet.Identity
@using INI.Models.DataBase

@{
    var role = "Invitado";
    var uname = User.Identity.GetUserName();
    string UserId = AspNetUsers.GetUserId(uname);
    
    if (AspNetUsersRoles.IsUserInRole("Maestro", uname))
    {
        role = "Maestro";
    }
    else if (AspNetUsersRoles.IsUserInRole("Estudiante", uname))
    {
        role = "Estudiante";
    }
    else if (AspNetUsersRoles.IsUserInRole("Editor", uname))
    {
        role = "Editor";
    }
    else if (AspNetUsersRoles.IsUserInRole("Administrador", User.Identity.Name))
    {
        role = "Administrador";
    }
    else if (AspNetUsersRoles.IsUserInRole("Contratista", User.Identity.Name))
    {
        role = "Contratista";
    }
    else if (AspNetUsersRoles.IsUserInRole("Coordinador", User.Identity.Name))
    {
        role = "Coordinador";
    }
    else if (AspNetUsersRoles.IsUserInRole("Administrator", User.Identity.Name))
    {
        role = "Administrator";
    }
                
}
@if (Request.IsAuthenticated)
{
    @Html.ActionLink(string.Format("Soy {0} - " + @role, AspNetUsers.GetName(@User.Identity.Name)), "AdministrarCuenta", "Usuario")
    <span>&nbsp&nbsp|&nbsp&nbsp</span>
    <a href="/Usuario/Salir2" title="Salir">Cerrar sesión</a>
    if ((AspNetUsersRoles.IsUserInRole("Administrator", User.Identity.Name)) || (AspNetUsersRoles.IsUserInRole("Administrador", User.Identity.Name)))
    {
        <br /><span><a href="/Administrator"><b>Administración del sitio</b></a></span>
    }
    else if ((AspNetUsersRoles.IsUserInRole("Editor", User.Identity.Name)))
    {
        <br /><span><a href="/Noticias"><b>Administración del sitio</b></a></span>
    }
}