﻿@model IEnumerable<INI.Models.DataBase.tblNoticias>


<div data-role="collapsible-set">
    @foreach (var item in Model)
    {
        if (item.estaActivo.Value == true && item.estaActivo != null)
        {
            <div data-role="collapsible">
                <h4 id="divNoticia_@item.Noticia_ID" class="dummyCss"><a href="#" class="titularNoticiaSlider" accesskey="T">@item.not_titulo</a></h4>
                <div style="padding:5px;">
                    <img id="img_@item.Noticia_ID" src="@item.not_urlimage" width="20" height="20" />
                </div>

                <p class="descSliderNoticias">@Html.Raw(item.not_contenido)</p>
                @Html.Hidden(String.Format("ht{0}", item.Noticia_ID), item.not_titulo)
                @Html.Hidden(String.Format("largeImg{0}", item.Noticia_ID), item.not_urlimage)
                @Html.Hidden(String.Format("PotCast{0}", item.Noticia_ID), item.not_urlpotcast)
                @Html.Hidden(String.Format("hd{0}", item.Noticia_ID), item.not_descripcion)
                @Html.Hidden(String.Format("hc{0}", item.Noticia_ID), item.not_contenido)
                @Html.Hidden(String.Format("pf{0}", item.Noticia_ID), item.not_piedefoto)
                @Html.Hidden(String.Format("au{0}", item.Noticia_ID), item.not_autor)
                @Html.Hidden(String.Format("nf{0}", item.Noticia_ID), item.not_fecha)
            </div>
        }

    }
</div>
