﻿@model IEnumerable<INI.Models.DataBase.tblNoticias>


<div class="nivel slider-vertical">
    <div style="font-family:Chewy;font-size:20pt;" >En<U>t</U>érate</div>
    <div class="contenedor-slider">
        <div class="bloque-slider">
            @foreach (var item in Model)
            {
               if (item.estaActivo.Value == true && item.estaActivo!=null)
                {
                     <div class="modulo-slider">
                        <div id="divNoticia_@item.Noticia_ID" class="dummyCss" ><a href="#" class="titularNoticiaSlider" accesskey="T" title="Clic para ampliar información ">@item.not_titulo</a></div>
                         <div style="padding:5px; padding-left:25px;">
                                 <img id="img_@item.Noticia_ID" src="@item.not_urlimage" width="140" class="img-thumbnail" />
                         </div>
                        @*<p class="descSliderNoticias">@item.not_descripcion</p>*@
                        @Html.Hidden(String.Format("ht{0}", item.Noticia_ID), item.not_titulo)
                        @Html.Hidden(String.Format("largeImg{0}", item.Noticia_ID), item.not_urlimage)
                        @Html.Hidden(String.Format("PotCast{0}", item.Noticia_ID), item.not_urlpotcast)                    
                        @Html.Hidden(String.Format("hd{0}", item.Noticia_ID), item.not_descripcion)
                        @Html.Hidden(String.Format("hc{0}", item.Noticia_ID), item.not_contenido)
                        @Html.Hidden(String.Format("pf{0}", item.Noticia_ID), item.not_piedefoto)
                        @Html.Hidden(String.Format("au{0}", item.Noticia_ID), item.not_autor)
                        @Html.Hidden(String.Format("nf{0}", item.Noticia_ID), item.not_fecha)
                    </div>
                }
            }
        </div>
        @*<div class="divsubir-slider">
            <img src="~/images/Flecha-arriba.png" class="subir-slider" />
        </div>
        <div class="divbajar-slider">
            <img src="~/images/Flecha_abajo.png" class="bajar-slider" />
        </div>*@
</div>
</div>
