﻿<table style="background:none; margin:auto;" align="center" cellpadding="0">
    <tr>
        <td>
            <img src="~/images/etiqueta_investic.png" />
        </td>
    </tr>
</table>
<table style="background: none; margin: auto;" align="center" cellpadding="15">
    <tr>
        <td width="300" valign="top">
            <img id="enterate" src="~/images/enterate.png" />
            <div id="contenidoNoticiasFrame" style="position:absolute;background-color:rgba(232, 230, 230,0.5);">
                @Html.Partial("~/Views/Shared/_NoticiasFull.cshtml", Model)
            </div>

        </td>
        <td width="700">
            @*<div style="max-width: 600px; overflow-x: auto; top:100px ;max-height: 500px; overflow-y: auto; padding:20px; ">*@
            <div style="max-width: 600px; top:100px ;max-height: 500px; padding:20px; ">
                @*Cambiado por Edwin Pacheco F.*@
                <div id="divtituloNoticia" class="titularNoticia" style="font-family:Roboto-Black"></div>
                <div id="divimgNoticia"></div>
                <div id="divPiedeFoto" class="footerImage" style="font-family:Roboto-Italic"></div>
                <hr style="background-color:#575756;margin-top: 5px;margin-bottom: 10px;" />
                <div id="divFecha" class="fechaPublicacion"></div>
                <span id="divdescNoticia" class="introNoticia" style="font-family:Roboto-Medium"></span><br />
                <div style="max-width: 600px; overflow-x: auto; top:100px ;max-height: 500px; overflow-y: auto; padding:20px; ">
                    <div id="divtituloNoticia" class="titularNoticia"></div><br />
                    <div id="divimgNoticia"><br /></div>
                    <div id="divPotCastNoticia"><br /></div>
                    <div id="divPiedeFoto" class="footerImage"></div><br />
                    <div id="divFecha" class="fechaPublicacion"></div><br />
                    <div id="divdescNoticia" class="introNoticia"></div><br />
                    <div id="divcontenidoNoticia" class="contenidoNoticia"></div>
                    <div id="divPotCastNoticia"></div>
                    <hr style="background-color:#575756" /><br />
                </div>
            </div>
        </td>
        <td width="100" align="center">
            <div class="volver" id="regresar"><img class="cursores" src="~/images/volver.png" /></div>
            <img id="regresar" src="~/images/betoGif.gif" width="400" height="500" />
        </td>
    </tr>
</table>
