﻿@using Microsoft.AspNet.Identity
@using INI.Models.DataBase

@{
    ViewBag.Title = "_RecursosEducativos";
    Layout = "~/Views/Shared/_LayoutInvestic.cshtml";
}

@section Submenu{
    @*<div id="submenus" style="background-color: #B2B2B2; position: relative; width: 100%; height: 48px; float: left; ">
        <img src="~/images/logosSecciones/logo_investiga.png" style="margin:0; float: left;" />
        <div id="titulosmenusec" style="color:#871E80"> Investiga</div>
        <div><a id="btnmenusec" href="~/Home/Aprendizaje">Aprendizaje </a></div>
        <div><a id="btnmenusec" href="~/Home/Investigacion">Investigación</a></div>
        <div style="padding-bottom:15px;padding-top:14px;margin:0; color:#E5E5E5;"></div>

        <div>
            <div id="tituloruta">
                Dónde Estoy?
                <font id="ruta">@Html.MvcSiteMap().SiteMapPath()</font>
            </div>

        </div>
        </div>*@
}

<div class="container">
    @RenderBody()
</div>

@section Script{
    @RenderSection("scripts", required: false)
}
