﻿@model INI.Models.DataBase.Repositorio
@using INI.Models.DataBase
@{
    ViewBag.Title = "Crear repositorio digital";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
    var usu = User.Identity.Name;
    var rol = AspNetUsersRoles.IsUserInRole("Administrador", User.Identity.Name);
    if (!rol) { rol = AspNetUsersRoles.IsUserInRole("Administrator", User.Identity.Name); }
}

<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/Repositorios">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/Noticias">
                                <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                            </a>
                        }
                        else
                        {
                            <a href="~/Admin/Editor?nombreu=@usu">
                                <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                            </a>
                        }
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Repositorios">
                            <img src="~/images/botones_ruta_migas/editor/btn_rep_dig_a.png" title="Repositorios" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_crear.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br /><br /><br />

@using (Html.BeginForm("Create", "Repositorios", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm_rep" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="panel">
        <div class="panel-header">
            <label style="font-family:Chewy">Crear repositorio digital</label>
        </div>
        <div class="panel-content">
            <div class="grid">                
                <div class="row">
                    <div class="">
                        <label id="lb_titlerepository" class="control-label col-md-2">Título<span style="color:red;">*</span></label>
                    </div>
                    <div class="span10" id="box_titlerepository">
                        @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                        @if (ViewBag.SqlError != null)
                        {
                            <span class="text-danger">@ViewBag.SqlError</span>
                        }
                        @Html.ValidationMessageFor(model => model.title, "", new { @style = "color:red;!important" })                        
                    </div>
                </div>
                <div class="row">
                    <div class="">
                        <label id="lb_descriptionrep" class="control-label col-md-2" style="cursor:pointer">Descripción</label>
                    </div>
                    <div id="box_descriptionrep" class="span10" style="cursor:pointer">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @style = "color:red;!important" })
                    </div>
                </div>
                <div class="row">
                    <div class="">
                        <label id="lb_urlrepository" class="control-label col-md-2" style="cursor:pointer">Url repositorio<span style="color:red;">*</span></label>
                    </div>
                    <div id="box_urlrepository" class="span10" style="cursor:pointer">
                        <div class="input-control file">
                            @Html.EditorFor(model => model.urlRepositorio, new { htmlAttributes = new { @class = "form-control" } })                            
                        </div>
                        @Html.ValidationMessageFor(model => model.urlRepositorio, "", new { @style = "color:red;!important" })
                    </div>
                </div>
                <div class="row">
                    <div class="">
                        <label id="lb_urlportada" class="control-label col-md-2" style="cursor:pointer">Archivo de portada<span style="color:red;">*</span></label>
                    </div>
                    <div class="span10" style="cursor:pointer">
                        <div class="input-control file">
                            <input id="urlfront" name="urlfront" type="file" maxlength="500" data-transform="input-control" required message="Error Usted no selecciono el archivo [images/..../jpeg,png,jpg,svg]" accept="images/..../png, images/..../jpeg, images/..../jpg, images/..../svg" z-index="99" size="500" title="Error Usted no selecciono el archivo [png/jpeg/jpg/svg]"/>
                            @*@Html.EditorFor(model => model.urlfront, new { htmlAttributes = new { @class = "form-control" } })*@                            
                            <button id="box_urlportada" class="btn btn-file"></button>                           
                        </div>
                        @*@Html.ValidationMessageFor(model => model.urlfront, "", new { @style = "color:red;!important" })*@
                        <span id="lbl_Rq_urlfront" style="color:red;display:none">La imagen es requerida.</span><br/>         
                        <span id="lbl_urlfront" style="color:red;display:none">Solo se permiten imágenes con extensiones .png, .jpg, .jpeg, .svg</span>
                        <br/>         
                        <span id="lbl_repvirtualsize" style="color:red;display:none">Solo se admiten imágenes con tamaño inferior o igual a 3Mb</span>
                    </div>
                </div>

                <div class="row">
                    <div class="">
                        <label id="lb_category" class="control-label col-md-2" style="cursor:pointer">Categoría<span style="color:red;">*</span></label>
                    </div>
                    <div id="box_category" class="span10" style="cursor:pointer">
                        @Html.DropDownList("id_Categoria", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SubCategoriaRepositorio.id_categoria, "", new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="row" id="box_subcat">
                    <div class="">
                        <label id="lb_subcategory" class="control-label col-md-2" style="cursor: pointer; min-width: 200px;">Subcategoría<span style="color:red;">*</span></label>
                    </div>
                    <div id="box_subcategory" class="span10" style="cursor:pointer">
                        @Html.DropDownListFor(model => model.id_SubCategoria, null, "Seleccionar subcategoría", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.id_SubCategoria, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="row">
                    <div class="span2" id="box_btnsubmit" style="padding-left:30px">
                        <div>
                        <input type="submit" class="button medium primary" value="Guardar" />
                    </div>
                    </div>
                    <div class="span10">
                        <div>                            
                            <a href="@Url.Action("Index")" class="button medium primary">Regresar</a>
                        </div>
                    </div>
                </div>
                <div class="row" id="box_msj_catvalidate" style="display:none">
                    <div class="span10" style="padding-left:20px">
                        <div>
                            <span style="color:red">La categoría aún no tiene subcategorías</span>
                        </div>
                    </div>
                    <div class="span2">
                    </div>
                </div>
            </div>
        </div>
    </div> 
}


@section scripts{

    <script>
        $(function () {
            $("#lbl_urlfront").hide();
            $("#frm_rep").submit(function (e) {
                
                var img = this.urlfront.value;
                var cerror = 0;

                if (img != null && img != "") {
                    $("#lbl_Rq_urlfront").hide();
                    $("#lbl_urlfront").hide();                    
                }
                else {
                    $("#lbl_Rq_urlfront").show();
                    cerror++;
                }
                if (cerror == 0) {
                    var filesize = this.urlfront.files[0].size / 1024;
                    if (filesize <= 3*1024) {
                        $("#lbl_repvirtualsize").hide();
                    }
                    else {
                        $("#lbl_repvirtualsize").show();
                        cerror++;
                    }
                }
                
                if (img.match("^.*\.(png|PNG|jpg|JPG|jpeg|JPEG|svg|SVG)$")) {
                    $("#lbl_urlfront").hide();
                   
                    console.log("Validado");
                }
                else {
                    $("#lbl_urlfront").show();
                    cerror++;
                }
               
                if (cerror > 0) return false;
            });

            $("#id_Categoria").change(function () {

                var lst_subcategoria = $("#id_SubCategoria");
                var lst_categoria = $("#id_Categoria");

                $.ajax({
                    cache: false,
                    type: 'GET',
                    async: false,
                    dataType: 'json',
                    url: "/Repositorios/GetSubcategoria/".concat(lst_categoria.val()),
                    success: function (result) {
                        lst_subcategoria.find("option").remove();
                        
                        if (result.length==0){
                            $("#box_subcat").hide();
                            $("#box_btnsubmit").hide();
                            $("#box_msj_catvalidate").show();
                            
                        }
                        else {
                            $("#box_subcat").show();
                            $("#box_btnsubmit").show();
                            $("#box_msj_catvalidate").hide();
                        $.each(result, function (index, item) {
                            lst_subcategoria.append("<option value='" + item.id + "'>" + item.nombre + "</option>");

                        });
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert("error status " + xhr.status);
                        alert("error error trow" + thrownError);
                    }
                });
            });
        });
    </script>
}
<div style="display:none;">
    <div id="titlerepository">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Título del repositorio</strong></b><br /><br />
        Ingrese el título definido para el repositorio.
    </div>
</div>
<div style="display:none;">
    <div id="boxtitlerepository">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Título del repositorio</strong></b><br /><br />
        Ingrese el título definido para el repositorio.
    </div>
</div>
<div style="display:none;">
    <div id="descriptionrep">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Descripción</strong></b><br /><br />
        Ingrese una breve descripción del repositorio.
    </div>
</div>
<div style="display:none;">
    <div id="boxdescriptionrep">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Descripción</strong></b><br /><br />
        Ingrese una breve descripción del repositorio.
    </div>
</div>
<div style="display:none;">
    <div id="urlrep">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Url repositorio</strong></b><br /><br />
        Ingrese la url definida para el repositorio.
    </div>
</div>
<div style="display:none;">
    <div id="boxurlrep">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Url repositorio</strong></b><br /><br />
        Ingrese la url definida para el repositorio.
    </div>
</div>
<div style="display:none;">
    <div id="urlportada">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Imagen de portada</strong></b><br /><br />
        Ingrese la imagen de portada del repositorio.
    </div>
</div>
<div style="display:none;">
    <div id="boxurlportada">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Imagen de portada</strong></b><br /><br />
        Ingrese la imagen de portada del repositorio.
    </div>
</div>
<div style="display:none;">
    <div id="category">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Categoria</strong></b><br /><br />
        Seleccione la categoria.
    </div>
</div>
<div style="display:none;">
    <div id="boxcategory">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Categoria</strong></b><br /><br />
        Seleccione la categoria.
    </div>
</div>
<div style="display:none;">
    <div id="subcategory">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Subcategoria</strong></b><br /><br />
        Seleccione la subcategoria.
    </div>
</div>
<div style="display:none;">
    <div id="boxsubcategory">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Subcategoria</strong></b><br /><br />
        Seleccione la subcategoria.
    </div>
</div>
