﻿@model INI.Models.DataBase.Repositorio
@using INI.Models.DataBase
@{
    ViewBag.Title = "Eliminar repositorio";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
    var usu = User.Identity.Name;
    var rol = AspNetUsersRoles.IsUserInRole("Administrador", User.Identity.Name);
    if (!rol) { rol = AspNetUsersRoles.IsUserInRole("Administrator", User.Identity.Name); }
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/Repositorios">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/Noticias">
                                <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                            </a>
                        }
                        else
                        {
                            <a href="~/Admin/Editor?nombreu=@usu">
                                <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                            </a>
                        }
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Repositorios">
                            <img src="~/images/botones_ruta_migas/editor/btn_rep_dig_a.png" title="Repositorios" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_eliminar.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br /><br /><br />

<style>
    .myrow {
        margin-top: 2px !important;
        margin-left: 20px;
    }
</style>

<h2 style="font-family:Chewy">¿Está seguro que desea eliminar este registro?</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="panel">
        <div class="panel-header" style="font-family:Chewy">
            Eliminar
        </div>
        <div class="panel-content">
            <div class="grid">
                <div class="row myrow">
                    <div class="span2">
                        Título:
                    </div>
                    <div class="span10">
                        @Html.DisplayFor(model => model.title)
                    </div>
                </div>
                <div class="row myrow">
                    <div class="span2">
                        Descripción:
                    </div>
                    <div class="span10">
                        @Html.DisplayFor(model => model.Description)
                    </div>
                </div>
                <div class="row myrow">
                    <div class="span2">
                        Url repositorio:
                    </div>
                    <div class="span10">
                        @Html.DisplayFor(model => model.urlRepositorio)
                    </div>
                </div>
                <div class="row myrow">
                    <div class="span2">
                        Imagen de portada:
                    </div>
                    <div class="span10">
                        @Html.DisplayFor(model => model.urlfront)
                    </div>
                </div>
                <div class="row myrow">
                    <div class="span2">
                        Subcategoría:
                    </div>
                    <div class="span10">
                        @Html.DisplayFor(model => model.SubCategoriaRepositorio.nombre)
                    </div>
                </div>
                <div class="row">
                    <div class="span2" style="padding-left:30px">
                        <input type="submit" value="Eliminar" class="button medium primary" />
                    </div>
                    <div class="span10">
                        <div>
                            <a href="@Url.Action("Index")" class="button medium primary">Regresar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

