﻿@model INI.Models.DataBase.Repositorio
@using INI.Models.DataBase
@{
    ViewBag.Title = "Editar repositorio digital";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
    var usu = User.Identity.Name;
    var rol = AspNetUsersRoles.IsUserInRole("Administrador", User.Identity.Name);
    if (!rol) { rol = AspNetUsersRoles.IsUserInRole("Administrator", User.Identity.Name); }
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/Repositorios">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/Noticias">
                                <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                            </a>
                        }
                        else
                        {
                            <a href="~/Admin/Editor?nombreu=@usu">
                                <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                            </a>
                        }
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Repositorios">
                            <img src="~/images/botones_ruta_migas/editor/btn_rep_dig_a.png" title="Repositorios" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_editar.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br /><br /><br />

@using (Html.BeginForm("Edit", "Repositorios", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm_repd" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model => model.urlfront)

    <div class="panel">
        <div class="panel-header">
            <label style="font-family:Chewy">Editar repositorio digital</label>
        </div>
        <div class="panel-content">
            <div class="grid">                
                <div class="row">
                    <div class="">
                        <label id="lb_edittitlerepository" class="control-label col-md-2" style="cursor: pointer; min-width: 200px;">Título<span style="color:red;">*</span></label>
                    </div>
                    <div id="box_edittitlerepository" class="span10" style="cursor:pointer">
                        @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                        @if (ViewBag.SqlError != null)
                        {
                            <span style="color:red">@ViewBag.SqlError</span>
                        }
                        @Html.ValidationMessageFor(model => model.title, "", new { style = "color:red;!important" })
                    </div>
                </div>
                <div class="row">
                    <div class="">
                        <label id="lb_editdescriptionrep" class="control-label col-md-2" style="cursor: pointer; min-width: 200px;">Descripción</label>
                    </div>
                    <div id="box_editdescriptionrep" class="span10" style="cursor:pointer">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="">
                        <label id="lb_editurlrepository" class="control-label col-md-2" style="cursor: pointer; min-width: 200px;">Url repositorio<span style="color:red;">*</span></label>
                    </div>
                    <div id="box_editurlrepository" class="span10" style="cursor:pointer">
                        @Html.EditorFor(model => model.urlRepositorio, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.urlRepositorio, "", new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="row myrow">
                    <div class="">
                        <label style="margin-left: 15px; min-width: 200px;">¿Desea actualizar la portada?</label>
                    </div>
                    <div class="" style="text-align:center">
                        <a style="font-size:25px" href="@Model.urlfront" target="_blank"><img src="@Model.urlfront" width="200" /></a>
                    </div>
                    <div class="span8">
                        <div class="input-control radio">
                            <label>
                                <input type="radio" id="rd_yes" name="rd_notportada" />
                                <span class="check"></span>
                                Sí
                            </label>
                        </div>

                        <div class="input-control radio">
                            <label>
                                <input type="radio" id="rd_no" name="rd_notportada" checked />
                                <span class="check"></span>
                                No
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row" id="box_portada" style="display:none">
                    <div class="">
                        <label id="lb_editurlportadarep" class="control-label col-md-2" style="cursor: pointer; min-width: 200px;">Archivo de portada<span style="color:red;">*</span></label>
                    </div>
                    <div class="span10">
                        <div class="input-control file">
                            <input id="urlfront_file" name="urlfront_file" type="file" data-transform="input-control" accept="images/..../png, images/..../jpeg, images/..../jpg, images/..../svg" z-index="99" title="Error Usted no selecciono el archivo [png/jpeg/jpg/svg]"/>
                            <button id="btn_editurlportadarep" class="btn btn-file"></button>                            
                        </div>
                        @*@Html.ValidationMessageFor(model => model.urlfront, "", new { @style = "color:red;!important" })*@
                        <label id="lbl_not_portada" style="color:red;display:none">Solo se permiten imagenes con extensiones .png, .jpg, .jpeg, .svg</label><br />
                        <span id="lbl_edrepvirtualsize" style="color:red;display:none">Solo se admiten imágenes con tamaño inferior o igual a 3Mb</span>
                    </div>
                </div>
                <div class="row">
                    <div class="">
                        <label id="lb_editcategoryrep" class="control-label col-md-2" style="cursor: pointer; min-width: 200px;">Categoría<span style="color:red;">*</span></label>
                    </div>
                    <div id="box_editcategoryrep" class="span10" style="cursor:pointer">
                        @Html.DropDownList("id_Categoria", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SubCategoriaRepositorio.id_categoria, "", new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="row">
                    <div class="">
                        <label id="lb_editsubcategoryrep" class="control-label col-md-2" style="cursor: pointer; min-width: 200px;">Subcategoría<span style="color:red;">*</span></label>
                    </div>
                    <div id="box_editsubcategoryrep" class="span10" style="cursor:pointer">
                        @Html.DropDownListFor(model => model.id_SubCategoria, null, "Seleccionar subcategoría", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.id_SubCategoria, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="row">
                    <div class="span2" style="padding-left:30px">
                        <input type="submit" value="Guardar" class="button medium primary" />
                    </div>
                    <div class="span10">
                        <div>
                            <a href="@Url.Action("Index")" class="button medium primary">Regresar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts{
    <script>
        $(function () {
            $("#rd_yes").click(function () {
                $("#box_portada").show();
            });
            $("#rd_no").click(function () {
                $("#urlfront_file").val("");
                $("#urlfront_file").next().val("")
                $("#box_portada").hide();
            });
            
            $("#lbl_not_portada").hide();
            $("#frm_repd").submit(function (e) {
                
                var img = this.urlfront_file.value;
                var cerror = 0;
                if (img == "" || img == null || img.match("^.*\.(png|PNG|jpg|JPG|jpeg|JPEG|svg|SVG)$")) {
                    $("#lbl_not_portada").hide();                    
                }
                else {
                    $("#lbl_not_portada").show();
                    cerror++;
                }
                if (cerror == 0 && this.urlfront.value) {
                    var filesize = this.urlfront_file.files[0].size / 1024;
                    if (filesize <= 3*1024) {
                        $("#lbl_edrepvirtualsize").hide();
                    }
                    else {
                        $("#lbl_edrepvirtualsize").show();
                        cerror++;
                    }
                }
                if (cerror > 0) return false;
            });

            $("#id_Categoria").change(function () {

                var lst_subcategoria = $("#id_SubCategoria");
                var lst_categoria = $("#id_Categoria");

                $.ajax({
                    cache: false,
                    type: 'GET',
                    async: false,
                    dataType: 'json',
                    url: "/Repositorios/GetSubcategoria/".concat(lst_categoria.val()),
                    success: function (result) {
                        lst_subcategoria.find("option").remove();
                        $.each(result, function (index, item) {
                            lst_subcategoria.append("<option value='" + item.id + "'>" + item.nombre + "</option>");

                        });
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert("error status " + xhr.status);
                        alert("error error trow" + thrownError);
                    }
                });
            });
        });
    </script>
}
<div style="display:none;">
    <div id="edittitlerep">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Título del repositorio</strong></b><br /><br />
        Edite el título del repositorio.
    </div>
</div>
<div style="display:none;">
    <div id="boxedittitlerep">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Título del repositorio</strong></b><br /><br />
        Edite el título del repositorio.
    </div>
</div>
<div style="display:none;">
    <div id="editdescriptionrep">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Descripción</strong></b><br /><br />
        Edite la descripción del repositorio.
    </div>
</div>
<div style="display:none;">
    <div id="boxeditdescriptionrep">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Descripción</strong></b><br /><br />
        Edite la descripción del repositorio.
    </div>
</div>
<div style="display:none;">
    <div id="editurlrepository">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Url repositorio</strong></b><br /><br />
        Edite la url definida al repositorio.
    </div>
</div>
<div style="display:none;">
    <div id="boxediturlrepository">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Url repositorio</strong></b><br /><br />
        Edite la url definida al repositorio.
    </div>
</div>
<div style="display:none;">
    <div id="editurlportadarep">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Imagen de portada</strong></b><br /><br />
        Si lo desea cambie la imagen de portada del repositorio.
    </div>
</div>
<div style="display:none;">
    <div id="boxediturlportadarep">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Imagen de portada</strong></b><br /><br />
        Si lo desea cambie la imagen de portada del repositorio.
    </div>
</div>
<div style="display:none;">
    <div id="editcategoryrep">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Categoría</strong></b><br /><br />
        Seleccione una categoría de la lista.
    </div>
</div>
<div style="display:none;">
    <div id="boxeditcategoryrep">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Categoría</strong></b><br /><br />
        Seleccione una categoría de la lista.
    </div>
</div>
<div style="display:none;">
    <div id="editsubcategoryrep">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Subcategoría</strong></b><br /><br />
        Seleccione la subcategoría de la lista.
    </div>
</div>
<div style="display:none;">
    <div id="boxeditsubcategoryrep">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Subcategoría</strong></b><br /><br />
        Seleccione la subcategoría de la lista.
    </div>
</div>
