﻿@model INI.Models.DataBase.tblRecoleccionInformacionProyectoInvestigacion

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_InvAdministrator.cshtml";
}
<link href="~/Content/tooltipbootstrap/jquery.webui-popover.css" rel="stylesheet" />

<style>
    label, input, select {
        margin-top: 7px;
    }
</style>
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/RecoleccionInformacionProyectoInvestigacions/">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/PanelAdministrativo">
                            <img src="~/images/botones_ruta_migas/admin/btn_admin_a.png" title="Administrador" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />

                    </li>
                    <li>
                        <a href="~/RecoleccionInformacionProyectoInvestigacions/">
                            <img src="~/images/botones_ruta_migas/admin/btn_rec_info_v.png" title="Recolección de información" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_crear.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br />
<div class="panel panel-default" style="margin-top:55px;">
    <div class="panel-heading"><strong>Crear elemento de recolección de información de proyectos de investigación</strong></div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <form class="form-horizontal" style="width:500px;">

                <div class="form-group">
                    <label id="idGrupoInvestigacione" for="idGrupoInvestigacion" class="col-sm-2 control-label">Identificador <span style="color:red;">*</span></label>
                    <div class="col-sm-4">
                        @Html.DropDownListFor(model => model.idGrupoInvestigacion, null, "Seleccionar una opción", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.idGrupoInvestigacion, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <label id="idInstrumentoe" for="idInstrumento" class="col-sm-2 control-label">Instrumento <span style="color:red;">*</span></label>
                    <div class="col-sm-4">
                        @Html.DropDownListFor(model => model.idInstrumento, null, "Seleccionar una opción", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.idInstrumento, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                    </div>
                </div>

                <div class="form-group">
                    <label id="Evidenciae" for="Evidencia" class="col-sm-2 control-label">Nombre evidencia <span style="color:red;">*</span></label>
                    <div class="col-sm-4">
                        @Html.EditorFor(m => m.Evidencia, new { htmlAttributes = new { @class = "form-control", placeholder = "Escribe el nombre de la evidencia" } })
                        @Html.ValidationMessageFor(model => model.Evidencia, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                    </div>
                </div>

                <div class="form-group">
                    <label id="Descripcione" for="Descripcion" class="col-sm-2 control-label">Descripción evidencia <span style="color:red;">*</span></label>
                    <div class="col-sm-10">
                        @Html.EditorFor(m => m.Descripcion, new { htmlAttributes = new { @class = "form-control", placeholder = "Escribe la descripción" } })
                        @Html.ValidationMessageFor(model => model.Descripcion, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="button medium primary" style="margin-top:15px;">Crear nuevo ítem</button>
                        @Html.ActionLink("Regresar al listado", "Index", null, new { @class = "button medium primary", style = "margin-top:15px;" })
                    </div>
                </div>
            </form>
            @Html.ValidationSummary(true)
        }

        <div style="display:none;">
            <div id="idGrupoInvestigacionm">
                <img src="~/images/ToolTip/p2.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es el identificador para el grupo de investigación?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes seleccionar el identificador del grupo de investigación.
            </div>
        </div>
        <div style="display:none;">
            <div id="idGrupoInvestigacionme">
                <img src="~/images/ToolTip/p2.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es el identificador para el grupo de investigación?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes seleccionar el identificador del grupo de investigación.
            </div>
        </div>

        <div style="display:none;">
            <div id="idInstrumentom">
                <img src="~/images/ToolTip/p2.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es el nombre del instrumento?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes seleccionar el nombre del instrumento.
            </div>
        </div>
        <div style="display:none;">
            <div id="idInstrumentome">
                <img src="~/images/ToolTip/p2.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es el nombre del instrumento?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes seleccionar el nombre del instrumento.
            </div>
        </div>

        <div style="display:none;">
            <div id="Evidenciam">
                <img src="~/images/ToolTip/p2.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es el nombre de la evidencia?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar el nombre de la evidencia.
            </div>
        </div>
        <div style="display:none;">
            <div id="Evidenciame">
                <img src="~/images/ToolTip/p2.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es el nombre de la evidencia?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar el nombre de la evidencia.
            </div>
        </div>

        <div style="display:none;">
            <div id="Descripcionm">
                <img src="~/images/ToolTip/p2.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es la descripción de la evidencia?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar la descripción de la evidencia.
            </div>
        </div>
        <div style="display:none;">
            <div id="Descripcionme">
                <img src="~/images/ToolTip/p2.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>Cuál es la descripción de la evidencia?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar la descripción de la evidencia.
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/tooltipbootstrap/jquery.webui-popover.js"></script>
    <script>
        $('#idGrupoInvestigacion').webuiPopover({ url: '#idGrupoInvestigacionm', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#idGrupoInvestigacione').webuiPopover({ url: '#idGrupoInvestigacionme', trigger: 'hover', style: 'inverse', placement: 'right', width: '500px' });
        $('#idInstrumento').webuiPopover({ url: '#idInstrumentom', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#idInstrumentoe').webuiPopover({ url: '#idInstrumentome', trigger: 'hover', style: 'inverse', placement: 'right', width: '500px' });
        $('#Evidencia').webuiPopover({ url: '#Evidenciam', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#Evidenciae').webuiPopover({ url: '#Evidenciame', trigger: 'hover', style: 'inverse', placement: 'right', width: '500px' });
        $('#Descripcion').webuiPopover({ url: '#Descripcionm', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#Descripcione').webuiPopover({ url: '#Descripcionme', trigger: 'hover', style: 'inverse', placement: 'right', width: '500px' });
    </script>

}
