﻿@model INI.Models.DataBase.tblRecoleccionInformacionProyectoInvestigacion

@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_InvAdministrator.cshtml";
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/RecoleccionInformacionProyectoInvestigacions/">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/PanelAdministrativo">
                            <img src="~/images/botones_ruta_migas/admin/btn_admin_a.png" title="Administrador" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />

                    </li>
                    <li>
                        <a href="~/RecoleccionInformacionProyectoInvestigacions/">
                            <img src="~/images/botones_ruta_migas/admin/btn_rec_info_v.png" title="Recolección de información" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_detalle.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br />
<h2>Detalle</h2>

<div>
    <h4>Recolección Información Proyecto Investigación</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Evidencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evidencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblGrupoInvestigacion.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblGrupoInvestigacion.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblHerramientasRecoleccionInformacion.HerramientaRecoleccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblHerramientasRecoleccionInformacion.HerramientaRecoleccion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Atrás", "Index")
</p>
