﻿@model INI.Models.Mymodels.NavigationLog

@{
    Layout = "~/Views/Shared/_InvAdministrator.cshtml";
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/LogAcceso">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @*<a href="~/PanelAdministrativo">*@
                        <a href="~/Administrator">
                            <img src="~/images/botones_ruta_migas/admin/btn_admin_a.png" title="Administrador" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/LogAcceso">
                            <img src="~/images/botones_ruta_migas/admin/btn_log_acces_a.png" title="Log de acceso" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/admin/btn_navegacion.png" title="" />
                    </li>
                   
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br /><br /><br />
<div class="panel" data-role="panel">
    <div class="panel-header">
        Log
    </div>
    <div class="panel-content">
        <div class="grid" style="margin-left:20px">
            <div class="row">
                <div class="span2">
                    <strong>Rol</strong>
                </div>
                <div class="span4">
                    @Model.Rol
                </div>
                <div class="span2">
                    <strong>Usuario</strong>
                </div>
                <div class="span4">
                    @Model.Usuario
                </div>
            </div>
            <div class="row">
                <div class="span2">
                    <strong>IP</strong>
                </div>
                <div class="span4">
                    @Model.IP
                </div>
                <div class="span2">
                    <strong>Coordenadas</strong>
                </div>
                <div class="span4">
                    @String.Format("{0},{1}", Model.Latitud, Model.Longitud)
                </div>
            </div>
            <div class="row">
                <div class="span2">
                    <strong>Inicio sesión</strong>
                </div>
                <div class="span4">
                    @Model.FechaInicioSesion
                </div>
                <div class="span2">
                    <strong>Cierre sesión</strong>
                </div>
                <div class="span4">
                    @Model.FechaCierreSesion
                </div>
            </div>
        </div>
    </div>
</div>
<a href="@Url.Action("GetNavigateReport","LogAcceso", new {id= Model.id})" class="button large primary">Descargar</a>

<table id="tbl_navigation" class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Rol
            </th>
            <th>
                IP
            </th>
            <th>
                Fecha
            </th>

            <th>
                URL
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.navigations)
        {
            <tr>
                <td>
                    @Model.Usuario
                </td>
                <td>
                    @Model.Rol
                </td>
                <td>
                    @Model.IP
                </td>
                <td>
                    @item.ImputDateUrl
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Url)
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#tbl_navigation').DataTable({
                "oLanguage": {
                    "sUrl": "../../Lang/es-CO.txt"
                },
            });

        });
    </script>
}

