﻿@model INI.Models.DataBase.tbNetVirtualCategoryResource

@{
    ViewBag.Title = "Crear categoría RVC";
    String ctrl=ViewBag.ControllerName;
    Layout = "~/Views/Shared/_InvRVC.cshtml";
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/tbNetVirtualCategoryResources">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Noticias">
                            <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/RVC/Aprobar">
                            <img src="~/images/botones_ruta_migas/rvc/btn_RVC.png" title="Red vitual de conocimiento" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/tbNetVirtualCategoryResources">
                            <img src="~/images/botones_ruta_migas/editor/btn_categoria_a.png" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                            <img src="~/images/botones_ruta_migas/crud/btn_crear.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br />

<div class="divMetas">
    <h2 style="font-family:Chewy">Crear categoría RVC</h2>
    <hr />

    @using (Html.BeginForm("Create", ctrl, FormMethod.Post, new { enctype = "multipart/form-data", id = "frm_recur" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="grid">
            <div class="row myrow">
                <div class="span2">
                    <label style="cursor:pointer"><strong style="margin-left:15px">Nombre</strong><span style="color:red;">*</span></label>
                </div>
                <div class="span10" data-role="input-control">
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                    
                    @Html.ValidationMessageFor(model => model.name, "", new { @style = "color:red;!important" })
                </div>
            </div>

            <div class="row myrow">
                <div class="span2">
                    <label><strong style="margin-left:15px">Imagen</strong><span style="color:red;">*</span></label>
                </div>
                <div class="span10">
                    <div data-role="input-control file">
                        <input id="image" name="image" type="file" data-transform="input-control" required message="Error Usted no selecciono ningun archivo" />
                        @*@Html.EditorFor(model => model.image, new { htmlAttributes = new { @class = "form-control" } })*@                        
                        @*@Html.ValidationMessageFor(model => model.image, "", new { @class = "text-danger" })*@
                        @*@Html.ValidationMessageFor(model => model.image, String.Empty, new { @style = "color:red;!important" })*@
                    </div>
                    <span id="lbl_Rq_image" style="color:red;display:none">La imagen es requerida.</span><br />         
                    <span id="lbl_recoursesize" style="color:red;display:none">Solo se admiten imágenes con tamaño inferior o igual a 3Mb</span>
                </div>
            </div>
            <div class="row myrow">
                <div class="span2">
                    <input type="submit" value="Guardar" class="button medium primary" style="margin-left:15px" />
                </div>
                <div class="span10">
                    <div class="span4" style="padding-left:40px">
                        <a href="@Url.Action("Index")" class="button medium primary">Regresar</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section scripts{
    <script>
        $(function () {
            $("#frm_recur").submit(function (e) {

                var img = this.image.value;

                var cerror = 0;
                if (img != null && img != "") {
                    $("#lbl_Rq_image").hide();                    
                }
                else {
                    $("#lbl_Rq_image").show();
                    cerror++;
                }

                var filesize = this.image.files[0].size / 1024;
                if (filesize <= 3 * 1024) {
                    $("#lbl_recoursesize").hide();
                }
                else {
                    $("#lbl_recoursesize").show();
                    cerror++;                    
                }
                if (cerror > 0) return false;
            });
        });
    </script>
}
