﻿@model INI.Models.DataBase.tbNetVirtualCategoryResource

@{
    ViewBag.Title = "Details";
    String ctrl=ViewBag.ControllerName;
    Layout = "~/Views/Shared/_InvRVC.cshtml";
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/tbNetVirtualCategoryResources">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Noticias">
                            <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/RVC/Aprobar">
                            <img src="~/images/botones_ruta_migas/rvc/btn_RVC.png" title="Red vitual de conocimiento" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/tbNetVirtualCategoryResources">
                            <img src="~/images/botones_ruta_migas/editor/btn_categoria_a.png" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_detalle.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br />
<style>
    .myrow {
        margin-top: 2px !important;
        margin-left: 20px;
    }
</style>

<br />

@*@Html.ActionLink("Atrás", "Index", null, new { @class = "button large primary" })*@

<div class="panel">
    <div class="panel-header" style="font-family:Chewy">
        Detalles
    </div>
    <div class="panel-content">
        <div class="grid">
            <div class="row myrow">
                <div class="span2">
                    Nombre: 
                </div>
                <div class="span10">
                    @Html.DisplayFor(model => model.name)
                </div>
            </div>
            
            <div class="row myrow">
                <div class="span2">
                    Imagen:
                </div>
                <div class="span10">
                    <a href="@Url.Action("DowloadFile", new { id = Model.id, FileId = "image" })" target="_blank" class="glyphicon glyphicon-download-alt"></a>
                </div>
            </div>           
                        
        </div>
    </div>
    
    
    @*<dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

     
        <dt>
            Imagen
        </dt>
        <dd>
            <a href="@Url.Action("DowloadFile", new { id = Model.id, FileId = "image" })" target="_blank" class="glyphicon glyphicon-download-alt"></a>
            @*<img src="@Url.Action("DowloadFile", new { id = item.id, FileId = "image" })" width="100px"/>
               
        <dd>
    </dl>*@
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id })
    
</p>
