﻿@model INI.Models.DataBase.tbNetVirtualCategoryResource

@{
    ViewBag.Title = "Edit";
    String ctrl=ViewBag.ControllerName;
    Layout = "~/Views/Shared/_InvRVC.cshtml";
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/tbNetVirtualCategoryResources">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Noticias">
                            <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/RVC/Aprobar">
                            <img src="~/images/botones_ruta_migas/rvc/btn_RVC.png" title="Red vitual de conocimiento" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/tbNetVirtualCategoryResources">
                            <img src="~/images/botones_ruta_migas/editor/btn_categoria_a.png" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_editar.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br />

<div class="divMetas">
    <h2 style="font-family:Chewy">Editar categoría RVC</h2>
    <hr />

    @using (Html.BeginForm("Edit", ctrl, FormMethod.Post, new { enctype = "multipart/form-data", id="frm_edrecur" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="grid">
            <div class="row myrow">
                <div class="span2">
                    <label><strong style="margin-left:15px">Nombre </strong><span style="color:red;">*</span></label>
                </div>
                <div class="span10" data-role="input-control">
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })                    
                    @Html.ValidationMessageFor(model => model.name, "", new { @style = "color:red;!important" })
                </div>
            </div>
            <div class="row">
                <div class="span2">
                    <label style="margin-left:15px">¿Desea actualizar la imagen?<span style="color:red;">*</span></label>
                </div>
                <div class="span2" style="text-align:center">
                    <a style="font-size:25px" href="@Model.image" target="_blank"><img src="@Model.image" style="width:60%" /></a>
                </div>
                <div class="span8">
                    <div class="input-control radio">
                        <label>
                            <input type="radio" id="rd_yes" name="rd_notportada" />
                            <span class="check"></span>
                            Sí
                        </label>
                    </div>

                    <div class="input-control radio">
                        <label>
                            <input type="radio" id="rd_no" name="rd_notportada" checked />
                            <span class="check"></span>
                            No
                        </label>
                    </div>
                </div>
            </div>
            <div class="row myrow" id="box_imagen" style="display:none">
                <div class="span2">
                    <label><strong style="margin-left:15px">Imagen </strong><span style="color:red;">*</span></label>
                </div>
                <div class="span10">
                    <div data-role="input-control file">
                        @*@Html.EditorFor(model => model.image, new { htmlAttributes = new { @class = "form-control" } })*@
                        <input id="image" name="image" type="file" data-transform="input-control" required message="Error Usted no selecciono ningun archivo" />                    
                        @*@Html.ValidationMessageFor(model => model.image, "", new { @class = "text-danger" })*@                
                    </div>
                    <span id="lbl_Rq_image" style="color:red;display:none">La imagen es requerida.</span><br />
                    <span id="lbl_recoursesize" style="color:red;display:none">Solo se admiten imágenes con tamaño inferior o igual a 3Mb</span>
                </div>                
            </div>
            <div class="row myrow">
                <div class="span2" style="margin-left:15px">
                    <input type="submit" value="Guardar" class="button medium primary" />
                </div>
                <div class="span10">
                    <div class="span4" style="padding-left:40px">
                        <a href="@Url.Action("Index")" class="button medium primary">Regresar</a>
                    </div>
                </div>
            </div>    
        </div>              
    }
</div>

@section scripts{
    <script>
        $(function () {
            $("#rd_yes").click(function () {
                $("#box_imagen").show();
            });
            $("#rd_no").click(function () {
                $("#image").val("");
                $("#image").next().val("")               
            });

            $("#frm_edrecur").submit(function (e) {

                var img = this.image.value;

                var cerror = 0;
                if (img != null && img != "") {
                    $("#lbl_Rq_image").hide();
                }
                else {
                    $("#lbl_Rq_image").show();
                    cerror++;
                }

                var filesize = this.image.files[0].size / 1024;
                if (filesize <= 3 * 1024) {
                    $("#lbl_recoursesize").hide();
                }
                else {
                    $("#lbl_recoursesize").show();
                    cerror++;
                }
                if (cerror > 0) return false;
            });
        });
    </script>
}




