﻿@model IEnumerable<INI.Models.DataBase.tbNetVirtualCategoryResource>
@{
    ViewBag.Title = "Index";    
    Layout = "~/Views/Shared/_InvRVC.cshtml";
}
                      <div id="ruta_miga">
                          <table>
                              <tr>
                                  <td rowspan="2">
                                      <ul id="img_fijos">
                                          <li>
                                              @*<a href="~/RVC/Aprobar">*@
                                              <a href="javascript:history.back(1)">
                                                  <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                                              </a>
                                          </li>
                                      </ul>
                                  </td>
                                  <td>
                                      <ul>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                                          </li>
                                      </ul>

                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <ul id="img_variables">
                                          <li>
                                              <a href="~/Home">
                                                  <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              <a href="~/Noticias">
                                                  <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              <a href="~/RVC/Aprobar">
                                                  <img src="~/images/botones_ruta_migas/rvc/btn_RVC.png" title="Red vitual de conocimiento" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/editor/btn_categorias.png" />
                                          </li>
                                      </ul>
                                  </td>
                              </tr>
                          </table>
                      </div>
                      <br /><br /><br /><br />
<p>
    @Html.ActionLink("Nueva categoría", "Create", null, new { @class = "button large primary" })
</p>
<table id="tbl_catR" class="table">
	<thead>
		<tr>
            
			<th>
				Nombre
			</th>
            <th>
                Vista previa
            </th>
			<th></th>
		</tr>
	</thead>
	<tbody>

	@foreach (var item in Model) {
		<tr>
			<td>@Html.DisplayFor(modelItem => item.name)</td>
            <td><img src="@Url.Action("DowloadFile", new { id = item.id, FileId = "image" })" width="25px" /></td>
			
            <td>
                <a href="@Url.Action("DowloadFile", new { id = item.id, FileId = "image" })" target="_blank" class="icon-download-2">Imagen</a>
                @*<img src="@Url.Action("DowloadFile", new { id = item.id, FileId = "image" })" width="100px"/>*@
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id }) | @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
				@*@Html.ActionLink(" ", "Edit", new { id = item.id }, new { @class = "icon-pencil" }) |
                @Html.ActionLink(" ", "Details", new { id = item.id, }, new { @class = "icon-clipboard-2" }) |
                @Html.ActionLink(" ", "Delete", new { id = item.id }, new { @class = "icon-cancel-2" })*@
			</td>
		</tr>
	}
	</tbody>
</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#tbl_catR').DataTable(
                {
                    "language": {
                        "url": "Lang/es-Co.txt"
                    }
                }
                );
        });
    </script>
}
