﻿@model INI.Models.DataBase.tblTutorZona
@using INI.Models.DataBase
<link href="~/Content/tooltipbootstrap/jquery.webui-popover.css" rel="stylesheet" />
@{
    ViewBag.Title = "Registrar tutor";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
    var usu = User.Identity.Name;
    var rol = AspNetUsersRoles.IsUserInRole("Administrador", User.Identity.Name);
    if (!rol) { rol = AspNetUsersRoles.IsUserInRole("Administrator", User.Identity.Name); }
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/Tutores">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/Noticias">
                                <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                            </a>
                        }
                        else
                        {
                            <a href="~/Admin/Editor?nombreu=@usu">
                                <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                            </a>
                        }
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Tutores">
                            <img src="~/images/botones_ruta_migas/editor/btn_tutor_a.png" title="Tutores" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_crear.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br /><br /><br />


@using (Html.BeginForm()) 
{    
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.tblInstitucionEducativa_ID)
    <div class="panel">       
        <div class="panel-header" style="font-family:Chewy">
            Crear tutor
        </div>        
        @Html.ValidationSummary(true)
        
        <div class="panel-content">
            <div class="grid" style="margin-left:20px">
                <div class="row">
                    <div id="lb_nameTutor" class="span2">
                        <strong>Nombre<span style="color:red;">*</span></strong>
                    </div>
                    <div id="box_nameTutor" class="span10 input-control text">
                        @Html.EditorFor(model => model.tutZon_nombre, new { htmlAttributes = new { @placeholder = "Nombre del tutor" } })                        
                        @Html.ValidationMessageFor(model => model.tutZon_nombre, "", new { @style = "color:red;!important" })
                        
                    </div>
                </div>
                <div class="row">
                    <div id="lb_apellidoTutor" class="span2">
                        <strong>@Html.DisplayName("Apellido")<span style="color:red;">*</span></strong>
                    </div>
                    <div id="box_apellidoTutor" class="span10 input-control text">
                        @Html.EditorFor(model => model.tutZon_apellido, new { htmlAttributes = new { @placeholder = "Apellidos" } })
                        @Html.ValidationMessageFor(model => model.tutZon_apellido, "", new { @style = "color:red;!important" })
                        @if (ViewBag.SqlError != null)
                        {
                            <span style="color:red">@ViewBag.SqlError</span>
                        }
                    </div>
                </div>
                <div class="row">
                    <div id="lb_correoTutor" class="span2">
                        <strong>@Html.DisplayName("Correo")<span style="color:red;">*</span></strong>
                    </div>
                    <div id="box_correoTutor" class="span10 input-control text">
                        @Html.EditorFor(model => model.tutZon_correo, new { htmlAttributes = new { @placeholder = "Correo electrónico" } })
                        @Html.ValidationMessageFor(model => model.tutZon_correo, "", new { @style = "color:red;!important" })
                    </div>
                </div>
                <div class="row">
                    <div id="lb_phoneTutor" class="span2">
                        <strong>@Html.DisplayName("Teléfono")<span style="color:red;">*</span></strong>
                    </div>
                    <div id="box_phoneTutor" class="span10 input-control text">
                        @Html.EditorFor(model => model.tutZon_telefono, new { htmlAttributes = new { @placeholder = "Teléfono" } })
                        @Html.ValidationMessageFor(model => model.tutZon_telefono, "", new { @style = "color:red;!important" })
                    </div>
                </div>
                <div class="row">
                    <div id="lb_institucionTutor" for="Institution" class="span2">
                        <strong>@Html.DisplayName("Institución educativa")<span style="color:red;">*</span></strong>
                    </div>
                    <div id="box_institucionTutor" class="span10 input-control text">
                        @Html.TextBox("Institution", null, new { placeholder = "Nombre de la institución", required = "required", message = "Institución es requerida", value = ViewBag.Institution })
                        @*@Html.ValidationMessageFor(model => model.tblInstitucionEducativa_ID, "", new { @style = "color:red;!important" })*@
                        <span id="lbl_Institution" style="color:red"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="span2">
                        <strong>@Html.DisplayName("Está activo")</strong>
                    </div>
                    <div class="span10">
                        @Html.CheckBox("estaActivo", true, new { @disabled = "disabled" })
                    </div>
                </div>
                <div class="row">
                    <div class="span2">                        
                        <input type="submit" value="Guardar" class="button medium primary" />
                    </div>
                    <div class="span10">
                        <div>                            
                            <a href="@Url.Action("Index")" class="button medium primary">Regresar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}       

        @section Scripts {

            <link href="~/Content/themes/base/all.css" rel="stylesheet" />
            
            @Scripts.Render("~/bundles/jqueryval")
            <script>
                $(function () {
                    $("form").submit(function (e) {
                        var valinstitution = $("#tblInstitucionEducativa_ID").val();
                        if (valinstitution == '') {
                            $("#lbl_Institution").html('No se encontró instituciones con ese nombre.');
                            return false;
                        }
                        else if (valinstitution == 'No se encontró instituciones con ese nombre.') {
                            $("#lbl_Institution").html('No se encontró instituciones con ese nombre.');
                            return false;
                        }
                        else {
                            $("#lbl_Institution").html('');
                            return true;
                        }
                    });
                    $("#Institution").autocomplete({
                        appendTo: "#register-research-group",
                        autoFocus: true,
                        source: function (request, response) {
                            $.ajax({
                                url: "/Utilidades/AutoCompleteInstitucion",
                                type: "POST",
                                dataType: "json",
                                data: { term: request.term },
                                success: function (data) {
                                    if (data.totalResultsCount == 0) {
                                        var result = [
                                            {
                                                label: 'No se encontró instituciones con ese nombre.',
                                                value: response.term
                                            }
                                        ];
                                        response(result);                                       
                                    }
                                    else {
                                        response($.map(data.Institutions, function (item) {
                                            var valueStr = item.Name + " - " + item.Municipio;
                                            return { label: valueStr, value: item.id };
                                        }));
                                    }
                                    
                                }
                            })
                        },
                        select: function (event, ui) {
                            $("#tblInstitucionEducativa_ID").val(ui.item.value);
                            $("#Institution").val(ui.item.label);
                            return false;
                        },
                        change: function (event, ui) {
                            if (ui.item.label == 'No se encontró instituciones con ese nombre.') {
                                $("#lbl_Institution").html(ui.item.label);
                                //$("#Institution").css("color", "red");
                            } else {
                                $("#lbl_Institution").html('');
                                //$("#Institution").css("color", "#444444");
                            }
                        },
                        messages: {
                            noResults: "", results: function (resultsCount) { }
                        }
                    });
                });
            </script>
            <script src="~/Scripts/tooltipbootstrap/jquery.webui-popover.js"></script>
        }

        <div style="display:none;">
            <div id="nameTutor">
                <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>¿Cuál es tu nombre?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar un nombre.
            </div>
        </div>
        <div style="display:none;">
            <div id="apellidoTutor">
                <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>¿Cuál es tu apellido?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar un apellido.
            </div>
        </div>
        <div style="display:none;">
            <div id="correoTutor">
                <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>¿Cuál es tu correo?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar un correo.
            </div>
        </div>
        <div style="display:none;">
            <div id="phoneTutor">
                <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>¿Cuál es tu teléfono?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar un teléfono.
            </div>
        </div>
        <div style="display:none;">
            <div id="institucionTutor">
                <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>¿Cuál es tu institución?</strong></b><br /><br />
                Este campo es obligatorio. Aquí puede empezar ingresando el nombre de la institución y se irá completando en la lista.
            </div>
        </div>

    <div style="display:none;">
        <div id="boxnameTutor">
            <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
            <b><strong>¿Cuál es tu nombre?</strong></b><br /><br />
            Este campo es obligatorio. Aquí debes ingresar un nombre.
        </div>
    </div>
    <div style="display:none;">
        <div id="boxapellidoTutor">
            <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
            <b><strong>¿Cuál es tu apellido?</strong></b><br /><br />
            Este campo es obligatorio. Aquí debes ingresar un apellido.
        </div>
    </div>
    <div style="display:none;">
        <div id="boxcorreoTutor">
            <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
            <b><strong>¿Cuál es tu correo?</strong></b><br /><br />
            Este campo es obligatorio. Aquí debes ingresar un correo.
        </div>
    </div>
    <div style="display:none;">
        <div id="boxphoneTutor">
            <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
            <b><strong>¿Cuál es tu teléfono?</strong></b><br /><br />
            Este campo es obligatorio. Aquí debes ingresar un teléfono.
        </div>
    </div>
    <div style="display:none;">
        <div id="boxinstitucionTutor">
            <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
            <b><strong>¿Cuál es tu institución?</strong></b><br /><br />
            Este campo es obligatorio. Aquí puede empezar ingresando el nombre de la institución y se irá completando en la lista.
        </div>
    </div>