﻿@model INI.Models.DataBase.tblTutorZona
@using INI.Models.DataBase
@{
    ViewBag.Title = "Editar Tutor";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
    var usu = User.Identity.Name;
    var rol = AspNetUsersRoles.IsUserInRole("Administrador", User.Identity.Name);
    if (!rol) { rol = AspNetUsersRoles.IsUserInRole("Administrator", User.Identity.Name); }
}

<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/Tutores">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>


            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/Noticias">
                                <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                            </a>
                        }
                        else
                        {
                            <a href="~/Admin/Editor?nombreu=@usu">
                                <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                            </a>
                        }
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Tutores">
                            <img src="~/images/botones_ruta_migas/editor/btn_tutor_a.png" title="Tutores" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_editar.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br /><br /><br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)
    @Html.HiddenFor(model=>model.tblInstitucionEducativa_ID)
    @Html.HiddenFor(model => model.tblTutorZona_ID)

    <div class="panel">
        <div class="panel-header" style="font-family:Chewy">
            Actualizar los datos del tutor
        </div>
        <div class="panel-content" style="margin-left:15px">
            <div class="grid">
                <div class="row">
                    <div id="l_nameTutor" class="span2">
                        <strong>Nombre<span style="color:red;">*</span></strong>                        
                    </div>
                    <div id="box_nameTutor" class="span10 input-control text">
                        @Html.EditorFor(model => model.tutZon_nombre)
                        @Html.ValidationMessageFor(model => model.tutZon_nombre, "", new { @style = "color:red;!important" })
                                            
                    </div>
                </div>
                <div class="row">
                    <div id="l_apellidoTutor" class="span2">
                        <strong>Apellido<span style="color: red">*</span></strong>
                    </div>
                    <div id="box_apellidoTutor" class="span10 input-control text">
                        @Html.EditorFor(model => model.tutZon_apellido)
                        @Html.ValidationMessageFor(model => model.tutZon_apellido, "", new { @style = "color:red;!important" })
                        @if (ViewBag.SqlError != null)
                        {
                            <span style="color:red">@ViewBag.SqlError</span>
                        }
                        
                    </div>
                </div>
                <div class="row">
                    <div id="l_correoTutor" class="span2">
                        <strong>Correo<span style="color: red">*</span></strong>
                    </div>
                    <div  id="box_correoTutor" class="span10 input-control text">
                        @Html.EditorFor(model => model.tutZon_correo)
                        @Html.ValidationMessageFor(model => model.tutZon_correo, "", new { @style = "color:red;!important" })
                    </div>
                </div>
                <div class="row">
                    <div id="l_phoneTutor" class="span2">
                        <strong>Teléfono<span style="color: red">*</span></strong>
                    </div>
                    <div id="box_phoneTutor" class="span10 input-control text">
                        @Html.EditorFor(model => model.tutZon_telefono)
                        @Html.ValidationMessageFor(model => model.tutZon_telefono, "", new { @style = "color:red;!important" })
                    </div>
                </div>
                <div class="row">
                    <div id="l_institucionTutor" class="span2">
                        <strong>Institución educativa<span style="color: red">*</span></strong>
                    </div>
                    <div id="box_institucionTutor" class="span10 input-control text">
                        @Html.TextBox("Institution", null, new { placeholder = "Nombre de la institución", value=ViewBag.Institution })
                        @*@Html.ValidationMessageFor(model => model.tblInstitucionEducativa_ID, "", new { @style = "color:red;!important" })*@
                        <span id="lbl_Institution" style="color:red"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="span2">
                        <strong>Está activo</strong> 
                    </div>
                    <div class="span10">
                        @Html.CheckBox("estaActivo")
                    </div>
                </div>
                <div class="row">
                    <div class="span2">
                        <input type="submit" value="Guardar" class="button medium primary" />
                    </div>
                    <div class="span10">
                        <a href="@Url.Action("Index")" class="button medium primary">Regresar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
                    $(function () {
                        $("form").submit(function (e) {
                            var valinstitution = $("#tblInstitucionEducativa_ID").val();
                            if (valinstitution == '') {
                                $("#lbl_Institution").html('No se encontró instituciones con ese nombre.');
                                return false;
                            }
                            else if (valinstitution == 'No se encontró instituciones con ese nombre.') {
                                $("#lbl_Institution").html('No se encontró instituciones con ese nombre.');
                                return false;
                            }
                            else {
                                $("#lbl_Institution").html('');
                                return true;
                            }
                        });
                        $("#Institution").autocomplete({
                            appendTo: "#register-research-group",
                            autoFocus: true,
                            source: function (request, response) {
                                $.ajax({
                                    url: "/Utilidades/AutoCompleteInstitucion",
                                    type: "POST",
                                    dataType: "json",
                                    data: { term: request.term },
                                    success: function (data) {
                                        if (data.totalResultsCount == 0) {
                                            var result = [
                                                {
                                                    label: 'No se encontró instituciones con ese nombre.',
                                                    value: response.term
                                                }
                                            ];
                                            response(result);
                                        }
                                        else {
                                            response($.map(data.Institutions, function (item) {
                                                var valueStr = item.Name + " - " + item.Municipio;
                                                return { label: valueStr, value: item.id };
                                            }));
                                        }

                                    }
                                })
                            },
                            select: function (event, ui) {
                                $("#tblInstitucionEducativa_ID").val(ui.item.value);
                                $("#Institution").val(ui.item.label);
                                return false;
                            },
                            change: function (event, ui) {
                                if (ui.item.label == 'No se encontró instituciones con ese nombre.') {
                                    $("#lbl_Institution").html(ui.item.label);
                                    //$("#Institution").css("color", "red");
                                } else {
                                    $("#lbl_Institution").html('');
                                    //$("#Institution").css("color", "#444444");
                                }
                            },
                            messages: {
                                noResults: "", results: function (resultsCount) { }
                            }
                        });
                    });

                    $('#l_nameTutor').webuiPopover({ url: '#nameTutor', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
                    $('#l_apellidoTutor').webuiPopover({ url: '#apellidoTutor', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
                    $('#l_correoTutor').webuiPopover({ url: '#correoTutor', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
                    $('#l_phoneTutor').webuiPopover({ url: '#phoneTutor', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
                    $('#l_institucionTutor').webuiPopover({ url: '#institucionTutor', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
                    $('#b_nameTutor').webuiPopover({ url: '#boxnameTutor', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
                    $('#box_apellidoTutor').webuiPopover({ url: '#boxapellidoTutor', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
                    $('#box_correoTutor').webuiPopover({ url: '#boxcorreoTutor', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
                    $('#box_phoneTutor').webuiPopover({ url: '#boxphoneTutor', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
                    $('#box_institucionTutor').webuiPopover({ url: '#boxinstitucionTutor', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
                </script>
}

<div style="display:none;">
    <div id="nameTutor">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea actualizar el nombre?</strong></b><br /><br />
        Aquí puede editar el nombre. Este campo es obligatorio. 
    </div>
</div>
<div style="display:none;">
    <div id="apellidoTutor">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea actualizar el apellido?</strong></b><br /><br />
        Aquí puede editar el apellido. Este campo es obligatorio. 
    </div>
</div>
<div style="display:none;">
    <div id="correoTutor">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea actualizar el correo?</strong></b><br /><br />
        Aquí puede editar el correo. Este campo es obligatorio. 
    </div>
</div>
<div style="display:none;">
    <div id="phoneTutor">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea actualizar el teléfono?</strong></b><br /><br />
        Aquí puede editar el teléfono. Este campo es obligatorio. 
    </div>
</div>
<div style="display:none;">
    <div id="institucionTutor">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea actualizar la institución?</strong></b><br /><br />
        Aquí puede editar la institución ingresando el nombre y se irá completando en la lista.. Este campo es obligatorio. 
    </div>
</div>

<div style="display:none;">
    <div id="boxnameTutor">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea actualizar el nombre?</strong></b><br /><br />
        Aquí puede editar el nombre. Este campo es obligatorio. 
    </div>
</div>
<div style="display:none;">
    <div id="boxapellidoTutor">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea actualizar el apellido?</strong></b><br /><br />
        Aquí puede editar el apellido. Este campo es obligatorio.
    </div>
</div>
<div style="display:none;">
    <div id="boxcorreoTutor">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea actualizar el correo?</strong></b><br /><br />
        Aquí puede editar el correo. Este campo es obligatorio. 
    </div>
</div>
<div style="display:none;">
    <div id="boxphoneTutor">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea actualizar el teléfono?</strong></b><br /><br />
        Aquí puede editar el teléfono. Este campo es obligatorio. 
    </div>
</div>
<div style="display:none;">
    <div id="boxinstitucionTutor">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea actualizar la institución?</strong></b><br /><br />
        Aquí puede editar la institución ingresando el nombre y se irá completando en la lista.. Este campo es obligatorio. 
    </div>
</div>