﻿@model IEnumerable<INI.Models.DataBase.tblTutorZona>
@using INI.Models.DataBase
@{
    ViewBag.Title = "Tutores TIC";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
    var usu = User.Identity.Name;
    var rol = AspNetUsersRoles.IsUserInRole("Administrador", User.Identity.Name);
    if (!rol) { rol = AspNetUsersRoles.IsUserInRole("Administrator", User.Identity.Name); }
}
                      <div id="ruta_miga">
                          <table>
                              <tr>
                                  <td rowspan="2">
                                      <ul id="img_fijos">
                                          <li>
                                              @if (rol == true)
                                              {
                                                  @*<a href="~/Noticias">*@
                                                  <a href="javascript:history.back(1)">
                                                      <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                                                  </a>
                                              }
                                              else
                                              {
                                                  @*<a href="~/Admin/Editor?nombreu=@usu">*@
                                                  <a href="javascript:history.back(1)">
                                                      <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                                                  </a>
                                              }
                                          </li>
                                      </ul>
                                  </td>
                                  <td>
                                      <ul>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                                          </li>
                                      </ul>

                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <ul id="img_variables">
                                          <li>
                                              <a href="~/Home">
                                                  <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              @if (rol == true)
                                                {
                                                    <a href="~/Noticias">
                                                        <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a href="~/Admin/Editor?nombreu=@usu">
                                                        <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                                                    </a>
                                                }
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/editor/btn_tutores.png" title="Tutores" />
                                          </li>
                                      </ul>
                                  </td>
                              </tr>
                          </table>
                      </div>
                      <br /><br /><br /><br /><br /><br />

<p>
    <label class="button large bg-green">@Html.ActionLink("Registrar tutor", "Create")</label>
</p>
    <table id="Tabla_1" class="table striped hover" style="width:100%">
        <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Apellido
                </th>
                <th>
                    Correo
                </th>
                <th>
                    Teléfono
                </th>
                <th>
                    Institución
                </th>


                <th width="10%">
                    Está Activo
                </th>

                <th ></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.tutZon_nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tutZon_apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tutZon_correo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tutZon_telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tblInstitucion.Nombre)
                </td>
                <td align="center" >
                    @* Tutor *@
                    @if (item.estaActivo != null)
                    { @Html.DisplayFor(modelItem => item.estaActivo.Value)
                    }
                    
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.tblTutorZona_ID }) |
                    @*@Html.ActionLink("Ver", "Details", new { id = item.tblTutorZona_ID }) |*@
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.tblTutorZona_ID })
                </td>
            </tr>
        }

    </table>
    @section Scripts{
        <script src="~/Scripts/DataTables-1.10.4/jquery.dataTables.js"></script>
        <script>
            $(function () {
                $('#Tabla_1').dataTable({
                    "sPaginationType": "full_numbers",
                    "oLanguage": {
                        "sUrl": "../../Lang/es-CO.txt"
                    }
                });


                $(function () {
                    $('#Tabla_2').dataTable({
                        "sPaginationType": "full_numbers",
                        "oLanguage": {
                            "sUrl": "../../Lang/es-CO.txt"
                        }
                    });

                });
            });

        </script>
    }
