﻿body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;   
}


.metro .access {
    background-color: #fdfdfd !important;
    border: 1px #ccc solid;
    margin: 0 0 10px 0;
    min-height: 100px;
    padding: 0px 40px 20px 60px;
    position: relative;
}

.metro .access:before,
.metro .access:after {
    content: "";
    display: table;
}

.metro .access:after { clear: both; }

.metro .access:before {
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    color: #999999 !important;
    color: #000000;
    color: rgba(0, 0, 0, 0.6);
    content: "Control de Acceso";
    font-family: 'Segoe UI Semibold_', 'Open Sans Bold', Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    font-size: 1.4rem;
    font-weight: bold;
    left: -21px;
    letter-spacing: 0.02em;
    line-height: 1.6rem;
    line-height: 1.4rem;
    margin: 5px 10px;
    position: absolute;
    top: 80px;
    transform: rotate(-90deg);
}

.verticalSpan1 { height: 40px; }

.verticalSpan2 { height: 80px; }

.verticalSpan3 { height: 120px; }

.metro .user {
    background: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.6);
    height: 60px;
    margin-top: 3px;
    width: 250px;
}

input#UserName {
    -moz-border-radius-bottomleft: 20px;
    -moz-border-radius-topleft: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -webkit-border-top-left-radius: 20px;
    background-color: #E6E6E6;
    border: 1px solid #848484;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    color: #2E2E2E;
    height: 20px;
    margin-top: 5px;
    outline: 0;
    padding-left: 10px;
    width: 150px;
}


div.errorMessage {
    background-color: #ffffff;
    border: 1px solid #ff0000;
    display: none;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: text-bottom;
    width: 200px;
}

div.errorMessage #errorTitle {
    background-color: #ff0000;
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bold;
    height: 30px;
    padding-top: 10px;
    text-align: center;
}

div.errorMessage #errorMessage {
    font-size: 1em;
    height: 90px;
    padding-top: 10px;
}

div.errorMessage #errorButtons {
    height: 30px;
    text-align: center;
}

textarea
{
    resize:none;
}
.xmaslights {
    padding-bottom: 16px !important;
    background: url('../Images/pooflight.gif') repeat-x bottom left !important;
    
}
