﻿@model IEP.Models.DataBase.tblGrupoInvestigacion

@using (Html.BeginForm("ModificarGrupo", "IEP", FormMethod.Post, new { id = "CreateGroup", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model => model.idInstitucion)
    @Html.HiddenFor(model => model.idUsuario)
    @Html.HiddenFor(model => model.idLineaInvestigacion)
    @Html.HiddenFor(model => model.TipoGrupo)
    @Html.HiddenFor(model => model.Codigo)
    @Html.HiddenFor(model => model.FechaCreacion)
    <div class="grid fluid">
        <div class="row">
            <div class="span2">
                <strong>
                    @Html.DisplayName("Nombre ")
                </strong>
            </div>
            <div class="span10 input-control text">
                @Html.TextBoxFor(model => model.Nombre, new { placeholder = "Nombre del grupo" })
                <button class="btn-clear"></button>
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-alert" })
            </div>
        </div>
        <div class="row">
            <div class="span2">
                <strong>
                    @Html.DisplayName("Tipo investigación")
                </strong>
            </div>
            <div class="span4">
                @if (Model.tblLineaInvestigacion.Categoria == 1)
                {
                    @Html.DisplayName("Tipo investigación Pre-Estructurados")
                }
                else
                {
                    @Html.DisplayName("Tipo investigación Abiertos")
                }
            </div>
            <div class="span2">
                <strong>
                    @Html.DisplayName("Linea Investigación")
                </strong>
            </div>
            <div class="span4 input-control select">
                @Html.DropDownList("idLineaInvestigacion", "Linea de Investigación")
                @Html.ValidationMessageFor(model => model.idLineaInvestigacion)
            </div>
        </div>
        <div class="row">
            <div class="span2">
                <strong>
                    @Html.DisplayName("Imagen")
                </strong>
            </div>
            <div class="span4 input-control file">
                <input id="Avatar" name="Avatar" type="file" />
                <button class="btn-file"></button>
            </div>
            <div class="span4 offset2">
                <input type="submit" value="Modificar Grupo" class="button large info" />
            </div>
        </div>
        <div class="row">
            <div class="span2">
                <strong>@Html.DisplayName("Insignia.......")</strong>
            </div>
            <div class="span10">
                <img src="~/images/Avatars/@Model.Avatar" width="96" height="96" />
            </div>
        </div>
    </div>
}

