﻿@model IEP.Models.DataBase.tblRecoleccionInformacionProyectoInvestigacion

@using (Html.BeginForm("AgregarInformacion", "IEP", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model => model.idGrupoInvestigacion)

    <div class="grid fluid">
        <div class="row">
            <div class="span2">
                Instrumento:
            </div>
            <div class="span10 input-control select">
                @Html.DropDownList("idInstrumento", "Instrumento Recoleccion")
            </div>
        </div>
        <div class="row">
            <div class="span2">
                Descripción:
            </div>
            <div class="span10 input-control text">
                @Html.EditorFor(model => model.Descripcion)
            </div>
        </div>
        <div class="row">
            <div class="span2">
                Evidencia:
            </div>
            <div class="span10">
                <input type="file" name="Evidencia" id="Evidencia" accept="application/pdf,image/jpeg" />
            </div>
        </div>
        <div class="row">
            <button class="button large bg-green">Enviar</button>
        </div>
    </div>
}
