﻿@model IEP.Models.DataBase.tblGrupoInvestigacion

@using (Html.BeginForm("RegistrarGrupo", "IEP", FormMethod.Post, new { id = "CreateGroup", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model => model.idInstitucion)
    @Html.HiddenFor(model => model.idUsuario)
    <div class="grid fluid">
        <div class="row">
            <div class="span2">
                <strong>
                    @Html.DisplayName("Nombre ")
                </strong>
            </div>
            <div class="span10 input-control text">
                @Html.TextBoxFor(model => model.Nombre, new { placeholder = "Nombre del grupo" })
                <button class="btn-clear"></button>
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-alert" })
            </div>
        </div>
        <div class="row">
            <div class="span2">
                <strong>
                    @Html.DisplayName("Tipo investigación")
                </strong>
            </div>
            <div class="span4">
                <div class="input-control radio" data-role="input-control">
                    <label>
                        Pre-Estructurados
                        <input type="radio" name="TipoGrupo" value="1">
                        <span class="check"></span>
                    </label>
                </div>
                <div class="input-control radio" data-role="input-control">
                    <label>
                        Abiertos
                        <input type="radio" name="TipoGrupo" value="2" checked>
                        <span class="check"></span>
                    </label>
                </div>
            </div>
            <div class="span2">
                <strong>
                    @Html.DisplayName("Linea Investigación")
                </strong>
            </div>
            <div class="span4 input-control select">
                @Html.DropDownList("idLineaInvestigacion", "Linea de Investigación")
                @Html.ValidationMessageFor(model => model.idLineaInvestigacion)
            </div>
        </div>
        <div class="row">
            <div class="span2">
                <strong>
                    @Html.DisplayName("Imagen")
                </strong>
            </div>
            <div class="span4 input-control file">
                <input id="Avatar" name="Avatar" type="file" />
                <button class="btn-file"></button>
            </div>
            <div class="span4 offset2">
                <input type="submit" value="Registrar Grupo" class="button large info" />
            </div>
        </div>
    </div>
}

