﻿@model MAI.Models.DataBase.tblRubroPresupuesto

@{
    ViewBag.Title = "Create";
}

<div class="row">
    @using (Html.BeginForm("Create", "RubrosPresupuesto"))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("tblPresupuestoProy_ID", Model.tblPresupuestoProy_ID)

        <div class="row">
            <div class="span2">
                <strong>Rubro</strong>
            </div>
            <div class="span4 input-control select">
                @Html.DropDownList("tblRubro_ID")
                @Html.ValidationMessage("Especifique el rubro")
            </div>
            <div class="span2">
                <strong>Valor</strong>
            </div>
            <div class="span4 input-control text">
                @Html.EditorFor(m => m.rubPre_valor)
                @Html.ValidationMessage("Ingrese un valor en pesos")
            </div>
        </div>
        <div class="row">
            <div class="span2">
                <strong>Fuente</strong>
            </div>
            <div class="span4 input-control text">
                @Html.EditorFor(m => m.rubPre_fuente)
                @Html.ValidationMessage("Especifique la fuente de ingresos")
            </div>
            <div class="span2">
                <strong>Justificacion</strong>
            </div>
            <div class="span4 input-control text">
                @Html.EditorFor(m => m.rubPre_justificacion)
                @Html.ValidationMessage("Justifique el gasto")
            </div>
        </div>

        <div class="row">
            <button class="large bg-green fg-white" type="submit">
                Agregar Fecha
                <i class="icon-plus bg-green fg-white"></i>
            </button>
        </div>
    }
</div>

@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>tblRubroPresupuesto</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.rubPre_fuente, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.rubPre_fuente, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.rubPre_fuente, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.rubPre_justificacion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.rubPre_justificacion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.rubPre_justificacion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
