﻿#header
{
    padding: 20px;
    background-color: #222222;
    border-bottom: #222222 solid 1px;
    color: #999999;
    font-size: 24px;
}
.submitButton
{
    background-color: #222222;
    border: #222222 solid 1px;
    padding: 4px;
    cursor: pointer;
    color:#999999;
}

.submitButton:hover
{
    background-color: white;
    color:#222222;
}

.login
{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 10px;
    border: solid 1px #999999;
    color: #222222;
}

.login .textBox
{
    width: 222px;
}


.login #divButton
{
    padding: 4px;
    text-align: right;
}

.chatRoom
{
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-top:100px;
    border: solid 1px #0096a6;
}
.Privatemessage{
    overflow:hidden;
    position:relative; 
    margin:0px auto; 
    padding:0px;
    width:250px;
    height:200px;
}
.chatRoom .title
{
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
    background-color: #26c6da;
    border-bottom: solid 1px #0096a6;
    color:#ffffff;
}

.chatRoom .content
{
    height: 300px;
    clear: both;
}

.chatRoom .content .chatWindow
{
    float: left;
    width: 409px;
    height: 300px;
    border-right: solid 1px #0096a6;
    overflow:hidden;
    position:relative; margin:0px auto; padding:0px;
    background-color:#b2ebf2;
    /*overflow-y: scroll;
    overflow:auto;*/
}

.chatRoom .content .chatWindow .message
{
    padding: 4px;
}

.chatRoom .content .chatWindow .message .userName
{
    font-weight: bold;
}

.chatRoom .content .users
{
    float: right;
    width: 239px;
    height: 300px;
    overflow:hidden;
    position:relative;
    margin:0px auto; padding:0px;
    background-color:#b2ebf2;
}

.chatRoom .content .users .user
{
    display: block;
    cursor: pointer;
    padding: 4px;
    background-color: #f9f9f9;
    border-bottom: solid 1px #0096a6;
}

.chatRoom .content .users .loginUser
{
    display: block;
    padding: 4px;
    color: #ffffff;
    border-bottom: solid 1px #0096a6;
}

.chatRoom .content .users .user:hover
{
    background-color: #e1e1e1;
}

.chatRoom .messageBar
{
    border-top: solid 1px #0096a6;
    padding: 4px;
}

.chatRoom .messageBar .textbox
{
    width: 573px;
}

.disconnect
{
    position: absolute;
    margin: 10px;
    background-color: #ffcbcb;
    padding: 4px;
    border: solid 1px red;
}


.draggable
{
    position: absolute;
    border: #0096a6 solid 1px !important;
    width: 250px;
}

.draggable .header
{
    cursor: move;
    background-color: #26c6da;
    border-bottom: #0096a6 solid 1px;
    color: #ffffff;
    line-height: 2.3rem;
}

.draggable .selText
{
    color: #ffffff;
    padding: 4px;
    font-size: 16px;
}

.draggable .messageArea
{
    width: 250px;    
    height: 200px;
    background-color: #b2ebf2;
    border-bottom: #0096a6 solid 1px; 
    border-right:#0096a6 solid 1px;   
}

.draggable .messageArea .message
{
    padding: 4px;
}

.draggable .buttonBar
{
    width: 250px;
    padding:4px;
    background-color: #b2ebf2;    
    border-right:#0096a6 solid 1px;
}

.draggable .buttonBar .msgText
{
    width: 182px;
}

.draggable .buttonBar .button
{
    margin-left:4px;
    width: 55px;
    background-color: #60a917;
    color: #ffffff;
}
