﻿@model INI.Models.DataBase.tblEjeInvestigacion
@using INI.Models.DataBase
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
    var usu = User.Identity.Name;
    var rol = AspNetUsersRoles.IsUserInRole("Administrador", User.Identity.Name);
    if (!rol) { rol = AspNetUsersRoles.IsUserInRole("Administrator", User.Identity.Name); }
}

<link href="~/Content/tooltipbootstrap/jquery.webui-popover.css" rel="stylesheet" />

<style>
    label, input, select {
        margin-top: 7px;
    }
</style>
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/EjeInvestigacion/">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/Noticias">
                                <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                            </a>
                        }
                        else
                        {
                            <a href="~/Admin/Editor?nombreu=@usu">
                                <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                            </a>
                        }
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />

                    </li>
                    <li>
                        <a href="~/EjeInvestigacion/">
                            <img src="~/images/botones_ruta_migas/admin/btn_ejes_inv_a.png" title="Ejes de investigación" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_crear.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br />
<div class="panel panel-default" style="margin-top:55px;">
    <div class="panel-heading"><strong>Crear ejes de investigación</strong></div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <form class="form-horizontal" style="width:500px;">
                <input type="hidden" id="UserName" name="UserName" value="nn" />

                <div class="form-group">
                    <label id="ejeInv_nombree" for="ejeInv_nombre" class="col-sm-2 control-label">Nombre eje <span style="color:red;">*</span></label>
                    <div class="col-sm-4">
                        @Html.EditorFor(m => m.ejeInv_nombre, new { htmlAttributes = new { @class = "form-control", placeholder = "Escribe el nombre del eje de investigación" } })
                        @Html.ValidationMessageFor(model => model.ejeInv_nombre, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="button medium primary" style="margin-top:15px;">Guardar</button>
                        @Html.ActionLink("Regresar", "Index", null, new { @class = "button medium primary", style = "margin-top:15px;" })
                    </div>
                </div>
            </form>
            @Html.ValidationSummary(true)
        }

        <div style="display:none;">
            <div id="ejeInv_nombrem">
                <img src="~/images/ToolTip/p2.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>¿Cuál es el nombre del eje de investigación?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar el nombre del eje de investigación.
            </div>
        </div>
        <div style="display:none;">
            <div id="ejeInv_nombreme">
                <img src="~/images/ToolTip/p2.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>¿Cuál es el nombre del eje de investigación?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar el nombre del eje de investigación.
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/tooltipbootstrap/jquery.webui-popover.js"></script>
    <script>
        $('#ejeInv_nombre').webuiPopover({ url: '#ejeInv_nombrem', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
        $('#ejeInv_nombree').webuiPopover({ url: '#ejeInv_nombreme', trigger: 'hover', style: 'inverse', placement: 'right', width: '500px' });
    </script>

}
