﻿@model INI.Models.Adds.TutoresAsesores


<h4 class="titulosregiones">@Model.nomregion</h4>
<br />
@Model.nasesores Asesores en Zona
<br />

@Model.ntutores Tutores en Zona
<br />
<h3>Investigación</h3>
@Model.Gruposinv Grupos de Investigación Estudiantiles
<br />
@Model.estinvestigando Estudiantes Investigando
<br />
@Model.Gruposinvdoc Grupos de Investigación Docente
<br />
@Model.docenteinvestigando Docentes Investigando
<br />
<h3>Formación en TIC</h3>
@Model.esteducativos EStablecimientos Educativos
<br />
@Model.padresformados40 Padres formados en Curso de 40 horas
<br />
@Model.estudiantesFormados180 Estudiantes formados en Curso de 180 horas
<br />
@Model.docentesFormados120 Docentes formados en Curso de 120 horas
<br />
@Model.docentesFormados180 Docentes formados en Curso de 180 horas
