﻿@model  IEnumerable<INI.Models.Adds.VerinfoCursos>

<div id="ajxload" style="position: relative;left: 305px;display:none;">
    <img src="/images/Investiga/apr/ajax-loader.gif">
</div>

@foreach (var item in Model)
{
    <div style="width: 50%;float: left;">
        <img align="left" src="../../images/Investiga/apr/icono_ambientes.png" alt="" style=" vertical-align:middle;" />
        <strong style="font-size: 1.5em;"><a onclick="descurso(@item.idCurso);" style="cursor:pointer">@Html.DisplayFor(modelItem => item.NombreCurso)</a></strong><br />
        <strong style="font-size: 0.5em;">Profesor: </strong> @item.Profesor <br />
        <strong style="font-size: 0.5em;">Sede Educativa: </strong> @item.SedeEducativa<br />
        <strong style="font-size: 0.5em;">Municipio: </strong>@item.municipio<br />
        <strong style="font-size: 0.5em;">Fecha de creación:</strong>@item.Fcreacion<br />

    </div>

}

