﻿
@model IEnumerable<INI.Models.DataBase.tblTutorZona>
    
   
@if(Model.Count()!=0){

    <h3 class="titulosregiones">
        @Model.First().tblInstitucion.tblMunicipios.tblRegion.reg_nombre <br />
    </h3>
    foreach (var item in @Model)
    {

        if (@item.estaActivo == true)
        {
                <br /><br />
                <b>Municipio</b>
                @Html.DisplayFor(modelItem => item.tblInstitucion.tblMunicipios.NombreMunicipio)
                <br />
                <b>Institución</b>
                @item.tblInstitucion.Nombre
            <br />
                <b>Tutor</b>
                @Html.Label(String.Format("{0}{1}", item.tutZon_nombre, item.tutZon_apellido).ToString());
                <b>Correo</b>
                @item.tutZon_correo
                <br />
                <b>Telefono</b>
                @item.tutZon_telefono
            <hr />
        }

    }
}
else{
<p> En el Momento no hay datos</p>

}