﻿@model IEnumerable<INI.Models.DataBase.course_category>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.parent_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tree_pos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.children_count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.auth_course_child)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.auth_cat_child)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.parent_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tree_pos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.children_count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.auth_course_child)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.auth_cat_child)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
