﻿@model INI.Models.BusquedaInvestigacion.SearchProyect
@using INI.Models.DataBase

@{
    ViewBag.Title = "Busqueda de Proyectos";
    Layout = "~/Views/Shared/_InvInvestiga.cshtml";
    investicEntities db = new investicEntities();

    var startdate = System.DateTime.Now.AddMonths(-1);
    var enddate = System.DateTime.Now; 

    string sd = startdate.Year + "/" + startdate.Month + "/" + startdate.Day;
    string ed = enddate.Year + "/" + enddate.Month + "/" + enddate.Day;
    string ed2 = enddate.Year + "/" + enddate.Month + "/" + (enddate.Day + 1);
    string hoy = enddate.Day + "/" + enddate.Month + "/" + enddate.Year;
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        @*<a href="~/Home/Investigacion">*@
                        <a href="javascript:history.back(1)">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" title=" " />
                    </li>
                    <li>
                        <a href="~/Home/Informacion">
                            <img src="~/images/botones_ruta_migas/btn_info_gen.png" title="Información general" />
                        </a>
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/img_mano.png" title=" " />
                    </li>
                    <li>
                        <a href="~/Home/Investigacion">
                            <img src="~/images/botones_ruta_migas/info_general/btn_investiga_a.png" title="Investiga" />
                        </a>
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/img_mano.png" title="" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/info_general/btn_doc_inves.png" title="" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<style>
    #tblEjeInvestigacion_ID {
        width:450px;
    }
</style>
@*<link href="~/Content/tooltip.css" rel="stylesheet" />
<script src="~/Scripts/tooltip.js"></script>*@

<div class="row" style="position: fixed; top: 107px; font-family:Chewy; color:#FF1643; font-size:22pt; text-align:center;">Docentes Investigando</div>
<div style="overflow-y:scroll; overflow-x:hidden;position: fixed; top: 147px; background: url('../../images/fondosCapas/bg_docentesInvestigando_Consulta.png') no-repeat; padding: 10px 10px 10px 100px; height:490px; width:900px; color:#fff;">
    @using (Html.BeginForm())
    {   
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
    <input type="hidden" name="hoy" id="hoy" value="@hoy" />
        <table style="background-color: transparent; margin-left: auto; margin-right: auto; width:600px;" border="0">
            <tr>
                <td colspan="2">
                    <label>Aquí puedes consultar sobre proyectos de investigación desarrollados en el departamento Nariño</label>
                </td>
            </tr>
            <tr>
                <td rowspan="3">
                    <label>Deseo buscar: </label>
                    <div class="input-control radio" data-role="input-control">
                        <label>
                            Proyectos de investigación
                            <input type="radio" name="EsProyectoInvestigacion" id="EsProyectoInvestigacion" value="1" checked="">
                            <span class="check"></span>
                        </label>
                    </div>
                    <br />
                    <div class="input-control radio" data-role="input-control">
                        <label>
                            Grupos de investigación
                            <input type="radio" name="EsProyectoInvestigacion" id="EsProyectoInvestigacion" value="2">
                            <span class="check"></span>
                        </label>
                    </div>
                    <br />
                    <div class="input-control radio" data-role="input-control">
                        <label>
                            Todos
                            <input type="radio" name="EsProyectoInvestigacion" id="EsProyectoInvestigacion" value="3">
                            <span class="check"></span>
                        </label>
                    </div>
                </td>
                <td>
                    <div style="margin: auto; width: auto;">
                        <label>Palabras claves: </label>
                        <label id="lb_Tituloa">
                            @Html.TextBoxFor(m => (m.Titulo), new { @style = "color:black" })<br />
                            @Html.ValidationMessageFor(m => m.Titulo, String.Empty, new { @style = "color:red;!important" })
                            <span id="title_validate" style="color:red;display:none">El título es obligatorio</span>
                        </label>
                    </div>
                </td>
                
            </tr>
            <tr>
                <td>
                    &nbsp;
                    <div style="margin: auto; width: auto; display:none;">
                        <label>Palabras Claves: </label>
                        <label id="lb_PalabrasClaves">
                            @Html.TextBoxFor(m => m.PalabrasClave, new { @style = "color:black" })
                            @Html.ValidationMessageFor(m => m.PalabrasClave, String.Empty, new { @style = "color:red;!important" })
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <button id="btnEsBA" type="button" class="button medium primary">Opciones avanzadas</button>
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div>
                        <button class="large primary fg-white" type="submit">
                            Buscar
                            <i class="icon-search primary fg-white"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </table>        
        <div id="opcionesAvanzadas" style="display:none;">
            @Html.Hidden("EsBusquedaAvanzada", "1")
            <table style="background-color:transparent; margin-left:90px; margin-right:auto;">
                <tr>
                    <td colspan="3">
                        <label>Línea de investigación</label>
                        @Html.DropDownList("tblEjeInvestigacion_ID", null, new { style = "color: black;" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Fecha de publicación</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Desde: </label>
                        <div class="input-control text" data-role="datepicker" data-format="dd/mm/yyyy">
                            @Html.TextBoxFor(m => m.FechaDesde, "{0:dd/MM/yyyy}", new { style = "color: black;" })
                            <button class="btn btn-date" type="button"></button>
                            <span id="val_inidate" style="display:none;color:red">La fecha inicial es mayor que la fecha de hoy</span>
                        </div>
                    </td>
                    <td>
                        <label>&nbsp;</label>
                    </td>
                    <td>
                        <label>Hasta: </label>
                        <div class="input-control text" data-role="datepicker" data-format="dd/mm/yyyy">
                            @Html.TextBoxFor(m => m.FechaHasta, "{0:dd/MM/yyyy}", new { style = "color: black;" })
                            <button class="btn btn-date" type="button"></button>
                            <span id="val_enddate" style="display:none;color:red">La fecha final es menor que la fecha inicial</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Autor: </label>
                        @Html.TextBoxFor(m => m.Autor, new { @style = "color: black" })
                    </td>
                </tr>
            </table>
        </div>
    @*<br /><center>@Html.AtrasInvestic()</center>*@
    }
</div>
@*<div class="row" style="position:fixed; top: 175px; right:250px;">
    <img src="~/images/otros/marcador.png" />
</div>*@

@section Scripts{
    <script>
        $(function () {
            var error = 0;
            $("form").submit(function () {
                var val = $("input:radio[name=EsProyectoInvestigacion]:checked").val();
                if (val != 3) {
                    var title = $("#Titulo").val();
                    if (title == "") {
                        $("#title_validate").show();
                        errors = 1;
                    }
                    else {
                        $("#title_validate").hide();
                        errors = 0;
                    }
                }
                else {
                    errors = 0;
                }
                if (errors > 0) {
                    return false;
                }
                var startdate = $("#FechaDesde").val();
                var enddate = $("#FechaHasta").val();
                var f_hoy = $("#hoy").val();
                
                var sdate = startdate.split('/');
                var edate = enddate.split('/');
                var fhoy = f_hoy.split('/');

                var s_date = new Date(parseInt(sdate[2]), parseInt(sdate[1]) - 1, parseInt(sdate[0]), 0, 0, 0);
                var e_date = new Date(parseInt(edate[2]), parseInt(edate[1]) - 1, parseInt(edate[0]), 0, 0, 0);
                var h_date = new Date(parseInt(fhoy[2]), parseInt(fhoy[1]) - 1, parseInt(fhoy[0]), 0, 0, 0);

                if (s_date > h_date) {
                    $("#val_inidate").show();
                    return false;
                }
                else {
                    $("#val_inidate").hide();
                }

                if (s_date > e_date) {
                    $("#val_enddate").show();
                    return false;
                }
                else {
                    $("#val_enddate").hide();
                }

            });
            $("input:radio[name=EsProyectoInvestigacion]").click(function () {
                var val = $("input:radio[name=EsProyectoInvestigacion]:checked").val();
                $("#title_validate").hide();
                if (val == 3) {
                    $("#Titulo").val("");
                    $("#Titulo").attr("disabled", "disabled");
                    $("#PalabrasClave").val("");
                    $("#PalabrasClave").attr("disabled", "disabled");;
                    $("#btnEsBA").attr("disabled", true);
                    $("#EsBusquedaAvanzada").attr("value", 1);
                    //Oculta capa de opciones avanzadas
                    $('#opcionesAvanzadas').slideUp();
                }
                else {
                    $("#Titulo").removeAttr("disabled");
                    $("#PalabrasClave").removeAttr("disabled");
                    $("#btnEsBA").attr("disabled", false);
                    $("#EsBusquedaAvanzada").attr("value", 1);
                    $('#opcionesAvanzadas').slideUp();
                }
            });
            $("#Titulo").focusout(function () {
                var val = $("input:radio[name=EsProyectoInvestigacion]:checked").val();
                if (val != 3) {
                    var title = $("#Titulo").val();
                    if (title == "") {
                        $("#title_validate").show();
                        errors = 1;
                    }
                    else {
                        $("#title_validate").hide();
                        errors = 0;
                    }
                }
            });

            $("#btnEsBA").click(function () {
                //Verifica campo oculto
                var ba = $("#EsBusquedaAvanzada").attr("value");
                if (ba == 1) {
                    $("#EsBusquedaAvanzada").attr("value", 2);
                    //Despliega capa de opciones avanzadas
                    $('#opcionesAvanzadas').slideDown();
                } else {
                    $("#EsBusquedaAvanzada").attr("value", 1);
                    //Oculta capa de opciones avanzadas
                    $('#opcionesAvanzadas').slideUp();
                }
            });
        });
        $('#lb_Tituloa').webuiPopover({ url: '#Tituloa', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#lb_PalabrasClaves').webuiPopover({ url: '#PalabrasClaves', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
    </script>

@Scripts.Render("~/bundles/jqueryval")
}
<div style="display:none;">
    <div id="Tituloa">
        <img src="/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Digite un título</strong></b><br /><br />
        Este campo es obligatorio. Aquí debe ingresar un título.
    </div>
</div>
<div style="display:none;">
    <div id="PalabrasClaves">
        <img src="/images/ToolTip/p5.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuáles son sus palabras claves?</strong></b><br /><br />
        Aquí debe ingresar una palabra clave.
    </div>
</div>