﻿@model IEnumerable<INI.Models.DataBase.CategoriaRepositorio>

@{
    ViewBag.Title = "Categorias repositorio";
    Layout = "~/Views/Shared/_LayoutRepositorio.cshtml";
    var n = Model.Count();
    int m = n % 3;
    int nr=n/3;
    int index=0;
    nr = m == 0 ? nr : nr + 1;
}

                      <div id="ruta_miga">
                          <table >
                              <tr>
                                  <td rowspan="2">
                                      <ul id="img_fijos">
                                          <li>
                                              <a href="~/Home">
                                                  <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                                              </a>
                                          </li>
                                      </ul>
                                  </td>
                                  <td>
                                      <ul>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                                          </li>
                                      </ul>

                                  </td>
                              </tr>

                              <tr>
                                  <td>
                                      <ul id="img_variables">
                                          <li>
                                              <a href="~/Home">
                                                  <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" title="" />
                                          </li>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/info_general/btn_rep_dig_v.png" title="" />
                                          </li>
                                      </ul>
                                  </td>
                              </tr>
                          </table>
                      </div>

<div style="background-color:rgba(238, 238, 238, 1);min-height:440px; margin-top:90px;">
    @if (Model.Count() > 0)
    {
        <div class="grid">
            @for (int i = 0; i < nr; i++)
            {
                <div class="row">
                    @for (int j = 0; j < 3; j++)
                    {
                        if (index < n) { 
                            var item = Model.ElementAt(index);
                            <div class="span4" style="margin-top:20px;margin-left:0px">
                                <div style="width:100px;margin: 0 auto;text-align:center">
                                    <a href="/Home/SubCategoriasRepositorio/@item.id"><img src="@item.urlimg" style="width:100px; height:100px" /></a>
                                    <span style="font-family:Chewy;font-size:12pt;color:#616161">@item.nombre</span>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="span4" style="margin-top:20px;margin-left:0px"></div>
                        }
                        index++;

                    }
                </div>
            }
        </div>
        @*foreach (var item in Model)
        {
            <div>
                <a href="/Home/SubCategorias/@item.id"><img src="@item.urlimg"  style="width:100px; height:100px"/></a>
                <h2>@item.nombre</h2>
            </div>
            
            <br />
        }*@
    }
    else
    {
        <br /><br />
        <h1>Aun no se han cargado categorias</h1>
    }
</div>
@*<center>@Html.AtrasInvestic()</center>*@