﻿@using INI.Models.Adds
@using INI.Models.Database

@{
    ViewBag.Title = "Cómo Vamos?";
    Layout = "~/Views/Shared/_InvComoVamos.cshtml";

}

<table style="background-color: transparent; margin-top:20px; position:absolute; top:25px;">
    <tr>
        <td style="width:310px;">
            <div id="cuentatodo" style="padding-left:0px;">
                <img src="../../images/como%20vamos/departamento.png" alt="" />
                @{
                    Html.RenderAction("cuentacomovamos", new { id = 0 });
                }
            </div>
        </td>
        <td style="padding-top:15px;">
            <img id="Narino" src="/images/lorraine/mapa/Narino.png" usemap="#test" />
            <map id="test" name="test">
                <area id="sh1" shape="poly" alt="Sanquianga" title="Sanquianga" coords="142,129,167,89,204,78,224,87,252,85,267,94,269,129,278,160,281,175,298,183,320,175,341,175,355,164,376,163,380,184,374,197,378,212,350,211,342,223,315,211,312,227,280,225,276,203,266,196,257,202,247,193,234,193,215,187,214,197,193,205,178,180,162,161,143,148,138,123" href="#" onclick="enter(1)" onmouseover="countmapa(1)" />
                <area id="sh2" shape="poly" alt="Pacifico Sur" title="Pacifico Sur" coords="61,273,92,239,112,239,118,247,142,246,146,226,141,221,120,211,112,170,142,122,143,148,166,161,158,187,150,204,160,225,162,239,160,251,172,255,177,290,184,293,200,277,199,325,180,313,159,324,153,359,114,330,80,299,59,280" href="#" onclick="enter(2)" onmouseover="countmapa(2)" />
                <area id="sh3" shape="poly" alt="Telembi" title="Telembi" coords="168,164,189,202,215,201,214,185,236,194,247,192,256,197,267,196,276,207,278,223,309,226,305,242,296,233,270,245,272,254,259,265,277,285,277,293,269,297,265,315,248,315,238,324,239,347,225,351,225,362,196,370,189,359,167,366,154,358,160,319,187,315,197,326,202,277,180,293,175,262,160,249,163,232,151,204,162,172" href="#" onclick="enter(3)" onmouseover="countmapa(3)" />
                <area id="sh4" shape="poly" alt="Pie de monte costero" title="Pie de monte costero" coords="198,371,225,361,225,360,225,352,241,347,237,322,252,314,269,309,276,327,276,336,296,360,296,368,301,369,301,381,288,395,280,391,275,404,256,404,246,395,228,407,216,408,211,403,211,397,192,382,201,377" href="#" onclick="enter(4)" onmouseover="countmapa(4)" />
                <area id="sh5" shape="poly" alt="Exprovincia de Obando" title="Exprovincia de Obando" coords="232,410,254,432,275,433,289,425,303,424,320,432,307,449,330,461,344,461,346,468,339,482,336,511,342,518,349,512,370,510,380,515,397,515,404,509,411,513,420,510,417,500,416,492,413,481,425,464,410,437,410,427,383,401,372,403,368,391,352,387,350,391,330,398,314,393,304,397,293,388,286,396,281,391,274,402,253,403,249,395,226,408" href="#" onclick="enter(6)" onmouseover="countmapa(6)" />
                <area id="sh6" shape="poly" alt="Sabana" title="Sabana" coords="296,387,301,376,305,377,315,363,313,352,322,338,322,350,325,359,332,359,338,360,344,356,351,366,348,377,353,379,354,387,350,392,327,398,320,394,314,394,308,392,305,399,298,391" href="#" onclick="enter(5)" onmouseover="countmapa(5)" />
                <area id="sh7" shape="poly" alt="Abades" title="Abades" coords="306,380,302,368,297,365,282,340,275,335,268,310,270,295,278,291,278,284,286,286,294,294,302,301,310,295,319,296,335,311,330,324,337,337,331,357,328,360,323,355,322,341,314,350,314,359,312,367,307,373" href="#" onclick="enter(7)" onmouseover="countmapa(7)" />
                <area id="sh8" shape="poly" alt="Occidente" title="Occidente" coords="335,359,332,356,336,340,331,330,331,316,334,311,339,311,343,302,348,300,347,313,347,323,351,330,353,338,362,342,368,350,371,353,363,363,351,366,348,365,344,355,338,361" href="#" onclick="enter(8)" onmouseover="countmapa(8)" />
                <area id="sh9" shape="poly" alt="Cordillera" title="Cordillera" coords="307,242,303,240,305,234,311,232,309,227,315,221,319,213,340,222,351,209,359,214,367,209,376,213,378,205,371,199,379,186,381,191,391,197,387,208,397,210,400,218,395,224,392,224,391,232,385,233,381,245,382,252,375,268,387,271,391,283,389,293,378,302,367,296,362,294,364,281,352,287,345,280,330,286,321,269,314,261,318,251,312,243" href="#" onclick="enter(9)" onmouseover="countmapa(9)" />
                <area id="sh10" shape="poly" alt="Centro" title="Centro" coords="414,444,407,434,409,428,389,407,377,407,367,391,359,390,349,379,349,366,355,366,372,355,367,353,361,341,353,338,352,327,355,322,361,325,361,332,366,334,371,325,377,325,384,312,383,306,379,303,382,298,394,313,391,318,398,327,391,341,396,350,400,347,411,358,416,356,421,364,421,374,421,387,425,382,428,390,432,387,434,391,427,406,418,415,418,422,416,434" href="#" onclick="enter(10)" onmouseover="countmapa(10)" />
                <area id="sh11" shape="poly" alt="Juananbu" title="Juananbu" coords="423,364,414,355,410,356,400,352,399,348,397,351,392,343,397,331,396,325,390,318,391,314,395,311,383,300,389,293,390,269,394,271,411,268,413,273,422,270,425,267,428,272,420,275,423,278,423,290,428,290,427,297,419,310,420,317,432,324,431,331,439,336,442,334,452,342,447,345,443,341,439,345,445,349,434,353,429,357" href="#" onclick="enter(11)" onmouseover="countmapa(11)" />
                <area id="sh12" shape="poly" alt="Rio Mayo" title="Rio Mayo" coords="451,342,440,333,438,337,432,331,432,325,417,314,428,292,423,292,424,284,420,277,429,270,429,266,434,261,441,262,448,259,455,262,454,268,457,271,460,270,471,279,465,290,466,295,454,301,451,303,454,315,452,323,457,334" href="#" onclick="enter(12)" onmouseover="countmapa(12)" />
                <area id="sh13" shape="poly" alt="Guambuyaco" title="Guambuyaco" coords="255,265,259,260,262,264,270,253,268,247,291,232,299,234,302,241,309,241,314,245,317,250,315,258,317,268,324,270,330,282,329,287,348,281,350,285,364,280,364,293,369,297,378,300,382,306,381,317,373,326,364,334,359,331,359,326,355,322,351,326,347,323,347,300,336,310,328,308,315,295,301,299,288,293,286,285,276,283" href="#" onclick="enter(13)" onmouseover="countmapa(13)" />
            </map>
        </td>
        <td>
            <img src="../../images/como%20vamos/img_pipe.png" alt="" style="bottom:5px; " />
        </td>
    </tr>
</table>


   <div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/Home/Informacion">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" title="Información general" />
                    </li>
                    <li>
                        <a href="~/Home/Informacion">
                            <img src="~/images/botones_ruta_migas/btn_info_gen.png" title="Información general" />
                        </a>
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/img_mano.png" title="Información general" />
                    </li>
                    <li>
                        <a href="~/Home/comovamos">
                            <img src="~/images/botones_ruta_migas/info_general/btn_como_vamos.png" title="Cómo Vamos?" />
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
@section scripts{

    <link href="~/Content/lorraine/mapa.css" rel="stylesheet" />
    <script src="~/Scripts/lorraine/mapa.js"></script>
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui-1.11.1.js"></script>
    <script>
        $("#pie").click(function () {
            $("#divSubregion").slideDown(750);
        });

        $("#close").click(function () {
            $("#divSubregion").slideUp(750);
        });
        function countmapa(id) {
            $("#cuentatodo").load("/Home/cuentacomovamos/" + id);
        }
        function enter(area) {
            $("#mapas").load("/Home/_Subregion/" + area);
            //$("#cuentatodo").load("/Home/cuentamunicipios/" + area);
            //$("#divSubregion").slideDown(750);
            //$("#divSubregion").show();
            //$("#divSubregion").dialog("open");
        }
        function entersubregion(id) {
            $("#cuentatodo").load("/Home/cuentamunicipios?idmun=" + id);
            //$("#divSubregion").dialog("close");
            //$("#divInstituciones").html("");
            //$("#divInstituciones").load("/Institutions?id=" + id);
            //$("#divSubregion").hide();
            //$("#divInstituciones").dialog("open");
        }
        $(function () {
            //$("#divSubregion").load({
            //    autoOpen: true,
            //    height: 650,
            //    width: 980,
            //    modal: false
            //});
            //$("#divInstituciones").dialog({
            //    autoOpen: false,
            //    height: 650,
            //    width: 980,
            //    modal: true,
            //    close: function () {
            //        $("#Grupos").empty();
            //        $("#divSubregion").dialog("open");
            //    }
            //});
        });
        /*ruta de migas version animada*/
        //$("#ruta_migas").append($($("#ruta_miga")));
    </script>

    <script src="~/Scripts/jquery-ui-1.11.1.js"></script>
    <script src="~/Scripts/institutions/Institutions.js"></script>

}
