﻿@{
    ViewBag.Title = "Contáctenos";
    Layout = "~/Views/Shared/_InvContactanos.cshtml";
}

<link href="~/Content/tooltipbootstrap/jquery.webui-popover.css" rel="stylesheet" />
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/Home/Informacion">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" title="Información general" />
                    </li>
                    <li>
                        <a href="~/Home/Informacion">
                            <img src="~/images/botones_ruta_migas/btn_info_gen.png" title="Información general" />
                        </a>
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/img_mano.png" title="Información general" />
                    </li>
                    <li>
                            <img src="~/images/botones_ruta_migas/info_general/btn_contacto.png" title="Contáctanos" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<div class="panel panel-default" style="margin-top:75px;">
    <div class="panel-heading"><strong>Enviar mensaje</strong></div>
    <div class="panel-body">
        @using (Html.BeginForm("Contactenos", "Home", FormMethod.Post, new { id = "form1" }))
        {
            @Html.AntiForgeryToken()
            <form class="form-horizontal" style="width:500px;">
                <input type="hidden" id="UserName" name="UserName" value="nn" />

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="nombres">Nombre <span style="color:red;">*</span></label>
                    <div class="col-sm-4">
                        <input type="text" placeholder="Escribe tu nombre" name="nombres" id="nombres" data-val-required="El nombre es obligatorio" data-val-length-max="64" data-val-length="El nombre debe contener máximo 64 caracteres de longitud." data-val="true" class="form-control" data-target="webuiPopover0">
                        <span style="color:red;!important" data-valmsg-replace="true" data-valmsg-for="nombres" class="field-validation-valid"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="apellidos">Apellidos <span style="color:red;">*</span></label>
                    <div class="col-sm-4">
                        <input type="text" placeholder="Escribe tus apellidos" name="apellidos" id="apellidos" data-val-required="El apellido es obligatorio" data-val-length-max="64" data-val-length="El apellido debe contener máximo 64 caracteres de longitud." data-val="true" class="form-control" data-target="webuiPopover0">
                        <span style="color:red;!important" data-valmsg-replace="true" data-valmsg-for="apellidos" class="field-validation-valid"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">&nbsp</div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="email">Correo <span style="color:red;">*</span></label>
                    <div class="col-sm-4">
                        <input id="email" class="form-control text-box single-line" type="email" value="" placeholder="Escribe tu correo" name="email" data-val-required="El correo electrónico es obligatorio" data-val-length-max="64" data-val-length="Máximo 64 caracteres." data-val-email="Dirección de correo no válida" data-val="true" data-target="webuiPopover7">
                        <span style="color:red;!important" data-valmsg-replace="true" data-valmsg-for="email" class="field-validation-valid"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="celular">Teléfono o celular <span style="color:red;">*</span></label>
                    <div class="col-sm-4">
                        <input id="celular" class="form-control text-box single-line input-validation-error" type="tel" value="" placeholder="Escribe tu número de teléfono o celular" name="celular" data-val-required="El número de teléfono o celular es obligatorio" data-val-regex-pattern="^[0-9 ]+$" data-val-regex="Número de teléfono no válido. Solo debes ingresar números sin puntos ni comas." data-val-phone="El campo teléfono no es un número de teléfono válido." data-val-length-max="16" data-val-length="Máximo 16 caracteres." data-val="true" data-target="webuiPopover8" aria-required="true" aria-invalid="true" aria-describedby="Phone-error">
                        <span style="color:red;!important" data-valmsg-replace="true" data-valmsg-for="celular" class="field-validation-valid"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">&nbsp</div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="mensaje">Mensaje <span style="color:red;">*</span></label>
                    <div class="col-sm-10">
                        <textarea style="margin-top:10px;" rows="2" placeholder="Escribe el mensaje" name="mensaje" id="mensaje" data-val-required="El mensaje es obligatorio" data-val-regex-pattern="^[a-zA-Z0-9 ñáéíóúÁÉÍÓÚÑ]+$" data-val-regex="Carácter no válido para mensaje" data-val-length-max="500" data-val-length="Máximo 500 caracteres" data-val="true" cols="20" class="form-control" data-target="webuiPopover2"></textarea>
                        <span style="color:red;!important" data-valmsg-replace="true" data-valmsg-for="mensaje" class="field-validation-valid"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="accept" name="accept" checked="checked" value="Accept"> Conozco y acepto los términos y condiciones del sitio y la política de protección de la información personal. <span style="color:red;">*</span>
                                <label id="lbl_check" name="lbl_check" style="display: none; color: red;">Debes estar de acuerdo con nuestros términos y condiciones del sitio.</label>
                                <br />
                                <a href="~/Archivos/doc/términos y condiciones INVESTIC.pdf" target="_blank" title="Ver los términos y condiciones">Ver los términos y condiciones</a>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="button medium primary" style="margin-top:15px;">Enviar mensaje</button>
                    </div>
                </div>

                @*<div class="form-group">
                    <div class="col-sm-12">&nbsp</div>
                </div>*@
                    
</form>
            <div class="col-lg-12">
                <div id="map-canvas" style="height:220px; width:100%; padding:30px 0 20px 0;"></div><br /><br />
                <label style="font-weight:bold;">Universidad de Nariño - Sede Torobajo <br />Bloque tecnológico - Aula 104 <br /> Email: plataformainvestic@gmail.com <br /> Telefono: 320 632 5587 </label>
            </div>
            @Html.ValidationSummary(true)
        }

        <div style="display:none;">
            <div id="nombreme">
                <img src="~/images/ToolTip/p2.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>¿Cuál es tu nombre?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar tu nombre.
            </div>
        </div>
        <div style="display:none;">
            <div id="apellidome">
                <img src="~/images/ToolTip/p2.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>¿Cuál es tu apellido?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar el apellido.
            </div>
        </div>
        <div style="display:none;">
            <div id="correome">
                <img src="~/images/ToolTip/p2.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>¿Cuál es tu correo electrónico?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar tu correo electrónico.
            </div>
        </div>
        <div style="display:none;">
            <div id="telefonome">
                <img src="~/images/ToolTip/p2.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>¿Cuál es tu número de teléfono o celular?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar el número de teléfono o celular.
            </div>
        </div>
        <div style="display:none;">
            <div id="mensajeme">
                <img src="~/images/ToolTip/p2.svg" style="float:right;margin-left:12px;" alt="" />
                <b><strong>¿Cuál es el mensaje?</strong></b><br /><br />
                Este campo es obligatorio. Aquí debes ingresar el mensaje a enviar.
            </div>
        </div>

    </div>
</div>

@section scripts{
@Scripts.Render("~/bundles/jqueryval")

<script src="~/Scripts/tooltipbootstrap/jquery.webui-popover.js"></script>
<script>
    $('#nombres').webuiPopover({ url: '#nombreme', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
    $('#apellidos').webuiPopover({ url: '#apellidome', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
    $('#email').webuiPopover({ url: '#correome', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
    $('#celular').webuiPopover({ url: '#telefonome', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
    $('#mensaje').webuiPopover({ url: '#mensajeme', trigger: 'hover', style: 'inverse', placement: 'top', width: '500px' });
</script>

    <script>
        $(document).ready(function () {
            $(function () {
                $("#accept").click(function () {
                    if (!($("#accept").is(':checked'))) {
                        $("#lbl_check").show();
                    } else {
                        $("#lbl_check").hide();
                    }
                });
                $("#form1").submit(function () {
                    var count_errors = 0;
                    if (!($("#accept").is(':checked'))) {
                        $("#lbl_check").show();
                        count_errors++;
                    } else {
                        $("#lbl_check").hide();
                    }
                    if (count_errors > 0) {
                        return false;
                    }
                });
            });
        });
        $("#accept").click(function () {
            if ($("#accept").is(':checked')) {
                $("#enviarCorreo").removeAttr('disabled');
            }
            else {
                $("#enviarCorreo").attr('disabled', 'disabled');
            }
        });

        var map;
        function initialize() {
            var mylocalize = new google.maps.LatLng(1.232858, -77.293053)
            var mapOptions = {
                zoom: 15,
                center: mylocalize
            };
            map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);
            var marker = new google.maps.Marker({
                position: mylocalize,
                map: map,
                title: 'Oficina INVESTIC'
            });

        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
}

<script>
    function notifyOnErrorInput(input){
        var message = input.data('validateHint');
        $.Notify({
            caption: 'Error',
            content: message,
            type: 'alert'
        });
    }
    /*ruta de migas version animada*/
    //$("#ruta_migas").append($($("#ruta_miga")));
</script>