﻿@{
    ViewBag.Title = "Conocenos";
    Layout = "~/Views/Shared/_Layout.Phone.cshtml";
}
@*<img src="~/images/mobile/aroinvestic.png" style="text-align:left;float:left;" />
<h2 id="titlesection">Conócenos</h2>
<ul data-role="listview">
    <li>@Html.ActionLink("¿Quiénes Sómos?", "Conocenos", "Home")</li>
    <li>@Html.ActionLink("Aspectos Generales", "General", "Home")</li>
    <li>@Html.ActionLink("Equipos de Trabajo", "EquiposTrabajo", "Home")</li>
    <li>@Html.ActionLink("Alternativas", "Alternativas", "Home")</li>
    <li>@Html.ActionLink("Asesores de Zona", "VerAsesores", "Home")</li>
    <li>@Html.ActionLink("Tutores de Zona", "TutoresTIC", "Home")</li>
</ul>
<div>
    <h4>Objetivo General</h4>
    <div>
        Desarrollar capacidades y habilidades para el fomento de competencias científicas y tecnológicas que impulsen la apropiación del conocimiento y la productividad en la comunidad y establecimientos educativos del Departamento de Nariño.
    </div>
    <h4>Objetivos Específicos</h4>
    <div>
        <ul>
            <li>Formar el espíritu científico y de apropiación de las TIC en la escuela y en diferentes instancias de socialización.</li>

            <li>
                Apropiar mecanismos de CT+I que garanticen la comprensión del conocimiento por diversos actores de la sociedad apoyado en TIC.
            </li>

            <li> Desarrollar mecanismos de evaluación de los procesos de apropiación y de impacto de los proyectos de CT+I.</li>
</ul>
    </div>
    <h4>Componentes Acompañamiento</h4>
    <div>
        <ul>
            <li>Seguimiento y formación de los grupos de investigación infantiles y juveniles y los proyectos de aula siguiendo la ruta metodológica de la IEP, apoyada en TIC para la transformación de la Institucionalidad Educativa.</li>

            <li>
                Formación a estudiantes y comunidad en general para la producción del conocimiento a través del uso y apropiación de las TIC.
            </li>

            <li>Apoyo a grupos de investigación.</li>

            <li>
                Adquisición de recursos tecnológicos que se requieren para participar en el Proyecto.
            </li>

            <li>
                Desarrollo de una Plataforma Tecnológica para el apoyo a proyectos de investigación, proyectos productivos y al componente curricular a través de OVAS y AVAS virtuales.
            </li>

            <li>
                Desarrollo de ferias de investigación.</li>

            <li>Desarrollo de un componente de evaluación y seguimiento a través de la Plataforma.</li>
</ul>
    </div>
</div>*@



