﻿@using INI.Models.DataBase;

@{
    var title = "Investic - Mapa del Sitio";
    Layout = null;
    var db = new investicEntities();
}
<head>
    <title>@title</title>
    <link rel="stylesheet" href="/Content/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <style>
        .blanquito a {
            font-family: 'Roboto', sans-serif;
            color: #FFFFFF;
            text-decoration: none;
        }
    </style>
</head>
<body style="padding:0; margin:0; border:0;">
    <div>
        @if (Request.IsAuthenticated)
        {
            <div style="position: absolute; left: 50%;">
                <div style="padding: 6px 10px 10px 10px; text-align: center; color: #ffffff; width: 400px; position: relative; left: -50%; border: 0; border-bottom-left-radius: 1em; border-bottom-right-radius: 1em; background-color: #25b5c7; ">
                    <div class="blanquito">
                        @Html.Partial("_LoginPartial2")
                    </div>
                </div>
            </div>
        }
        <object type="text/html" data="/C2/c2_mapaadministrador" style="width:100%; height:100%; overflow:auto;" id="miObjeto" name="miObjeto"></object>
    </div>
</body>

<script>
    window.onload = function () {
        document.getElementById("miObjeto").focus();
    };
</script>