﻿@model IEnumerable<INI.Models.DataBase.tblNoticias>

@{
    ViewBag.Title = "Bienvenidos";
    //Layout = "~/Views/Shared/_LayoutOld.cshtml";anterior layout sin ruta migas
    Layout = "~/Views/Shared/_LayoutNoticias.cshtml";
}


<link rel="stylesheet" type="text/css" href="~/Content/Invstyles/slider-vertical.css" media="all" />
<link rel="stylesheet" type="text/css" href="~/Content/Invstyles/Indexbotones.css" media="all" />
<link rel="stylesheet" type="text/css" href="~/Content/Investic/Site.css" media="all" />

                      <div id="ruta_miga">
                          <table style="float:left;"  border="0">
                              <tr>
                                  <td rowspan="2">
                                      <ul id="img_fijos">
                                          <li>
                                              <a href="~/Home">
                                                  <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                                              </a>
                                          </li>
                                      </ul>
                                  </td>
                                  <td>
                                      <ul>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                                          </li>
                                      </ul>

                                  </td>
                              </tr>

                              <tr>
                                  <td>
                                      <ul id="img_variables">
                                          <li>
                                              <a href="~/Home">
                                                  <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" title="" />
                                          </li>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/info_general/btn_noticias.png" title="Recursos educativos" />
                                          </li>
                                      </ul>
                                  </td>
                              </tr>
                          </table>
                          <table style="float:right;" border="0">
                              <tr>
                                  <td>
                                      <ul id="img_fijos">
                                          <li>
                                              <a href="~/Home/MapaPublico">
                                                  <img src="~/images/botones_ruta_migas/btn_mapa_sitio.png" title="Mapa del sitio" />
                                              </a>
                                          </li>
                                          </ul>
                                   </td>
                              </tr>
                          </table>
                      </div>

@section scripts{
<script src="~/Scripts/js/slider-vertical.js"></script>
<script type="text/javascript">


    //function ayuda() {
    //    $('Document').attr('data-target', '#myModal');
    //}
    $(document).ready(function () {
        $(window).load(function () {

           // $("#otra").modal('show');
        });
    });
    $(function () {


        $("#conocenos").click(function () {
            $(location).attr('href', "Home/Conocenos");
        });

        $("#investiga").click(function () {
            //$(location).attr('href', "Investiga");
        });

        $("#contactanos").click(function () {
            //$(location).attr('href', "Contactanos");
        });

        $("#recuerdos").click(function () {
            //$(location).attr('href', "Recuerdos");
        });

        $("#comovamos").click(function () {
            //$(location).attr('href', "Comovamos");
        });

        $("#pie").click(function () {
            $("#noticias").slideDown(750);
        });

        $("#regresar").click(function () {
            document.location = '@Url.Action("Index")';
        });
        moverSlider();
        $(".bajar-slider").click(function () {
            bajarSlider();
        });

        $(".subir-slider").click(function () {
            subirSlider();
        });

        $(".slider-vertical").mouseover(function () {
            verificar = 0;
        });

        $(".slider-vertical").mouseout(function () {
            verificar = 1;
        });
    });

    $(function () {
        loadresource(@Model.ToList()[0].Noticia_ID);
        $("div.dummyCss").click(function () {
            var noticia_id = $(this).attr("id");
            var id = noticia_id.substr(11, noticia_id.length);
            loadresource(id);
        });
    });

    function loadresource(id){
        var title = $("#ht" + id).val();
        var desc = $("#hd" + id).val();
        var largeImg = $("#largeImg" + id).val();
        var PotCast = $("#PotCast" + id).val();
        var largeContent = $("#hc" + id).val();
        var piedefoto = $("#pf" + id).val();
        var autor = $("#au" + id).val();
        var fecha = $("#nf" + id).val();


        $("#divtituloNoticia").html(title);
        $("#divdescNoticia").html(desc);
        $("#divimgNoticia img:last-child").remove();
        $("#divimgNoticia").append('<img id="myImg" src="' + largeImg + '" class="img-thumbnail" />');
        //
        if (PotCast != "") {
            $("#divPotCastNoticia").show();
            $("#divPotCastNoticia audio:last-child").remove();
            $("#divPotCastNoticia").append('<audio controls>  <source src="' + PotCast + '" type="audio/mpeg"></audio>');
        }
        else {
            $("#divPotCastNoticia").hide();
        }
        //
        $("#divcontenidoNoticia").html(largeContent);
        $("#divPiedeFoto").html(piedefoto);
        $("#divFecha").html(fecha.substr(0, 10) + ' - Por: ' + autor);
        $("#noticias").slideDown(750);

    }
</script>
}

<body>
    <div id="contenidoNoticias" style="position: absolute; top: 120px; color: #ED7D04; left: 100px; background-color: rgba(232, 230, 230,0.5);">
        @Html.Partial("~/Views/Shared/_Noticias.cshtml", Model)
    </div>
    <div id="noticias" >
        <br />

        <div class="grid" >
            <div class="row">
                <div class="span12">
                    <div style="background:none; margin:auto; margin-left:200px;margin-top:10px;" align="center">
                        <img src="~/images/etiqueta_investic.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="row" style="background: none; margin: auto;" align="center">
                <div class="span4">
                    <div valign="top">
                        <img id="enterate" src="~/images/enterate.png" style="opacity:0;" />@*Cambio de la opaciondad edwnar*@
                        <div id="contenidoNoticiasFrame" style="position:absolute;background-color:rgba(232, 230, 230,0.5);">
                            @Html.Partial("~/Views/Shared/_NoticiasFull.cshtml", Model)
                        </div>
                    </div>
                </div>
                <div class="span8">
                    <div>
                        <div style="max-width: 600px; top:0px ;max-height: 500px; padding:10px; ">
                            @*Cambiado por Edwnar.*@
                            <div id="divtituloNoticia" class="titularNoticia" style="font-family: Chewy; text-align: center; font-size: 22px;"></div>
                            <div id="divimgNoticia"></div>
                            <div id="divPiedeFoto" class="footerImage" style="font-family:Roboto-Italic"></div>
                            <hr style="background-color:#575756;margin-top: 5px;margin-bottom: 10px;" />
                            <div id="divFecha" class="fechaPublicacion"></div>
                            <span id="divdescNoticia" class="introNoticia" style="font-family:Roboto-Medium;font-size:1.5em;text-transform:uppercase;"></span>
                            <div style="max-width: 600px; overflow-x: auto; top:100px ;max-height: 500px; overflow-y: auto; padding:20px; ">
                                @*<div id="divtituloNoticia" class="titularNoticia"></div><br />
                                <div id="divimgNoticia"><br /></div>
                                <div id="divPotCastNoticia"><br /></div>
                                <div id="divPiedeFoto" class="footerImage"></div><br />
                                <div id="divFecha" class="fechaPublicacion"></div><br />
                                <div id="divdescNoticia" class="introNoticia"></div><br /> Modificado edwnar*@
                                <div id="divcontenidoNoticia" class="contenidoNoticia"></div>
                                <div id="divPotCastNoticia"></div>
                                <hr style="background-color:#575756" /><br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span2">
                    <div align="center">
                        <!--<div class="volver" id="regresar"><img class="cursores" src="~/images/volver.png" /></div>-->
                        <img id="regresar" src="~/images/betoGif.gif" width="100" height="120" />
                    </div>
                </div>
            </div>
        </div>           
        <!--
        <div id="redesSociales" style="float:right; position:fixed; bottom:0px; right:0px;">
            <table>
                <tr>
                    <td><a href="http://www.facebook.com/investic.edu" target="_blank"><img id="facebook" src="~/images/boton_facebook.png" accesskey="f" style="margin:0; float: left; bottom:0;" /></a></td>
                    <td><a href="http://www.twitter.com/investic_edu" target="_blank"><img id="twitter" src="~/images/boton_twitter.png" style="margin: 0; float: left; bottom: 0;" /></a></td>
                    <td><a href="http://www.youtube.com/user/investicedu" target="_blank"><img id="youtube" src="~/images/boton_youtube.png" style="margin: 0; float: left; bottom: 0;" /></a></td>
                </tr>
            </table>
        </div>
            -->
    </div>
</body>