﻿@*@using INI.Models.DataBase;
@model IEnumerable<INI.Models.DataBase.tblGaleriaImagenes>*@

@{
    ViewBag.Title = "Investiga";
    Layout = "~/Views/Shared/_Layout.Phone.cshtml";

}


<h2>Página de Recuerdos - </h2>