﻿
@{
    Layout = "~/Views/Shared/_RecursosEducativos.cshtml";
}

<div id="ruta_miga">
    <table >
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        @*<a href="~/Home">*@
                        <a href="javascript:history.back(1)">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" title="" />
                    </li>
                    <li>
                            <img src="~/images/botones_ruta_migas/rec_edu/btn_rec_edu_v.png" title="Recursos educativos" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<div class="row">
    <div id="catalogo" style="margin-top: 90px; clear: both; background: #FFFFFF;" class="col-lg-10 col-lg-offset-1">
        @*<div style="position:absolute; top: 20%; width: 100%; height: 80%;">*@
            
                            <table style="width:100%;margin:auto;">
                                <tr>
                                    <th colspan="2" style="text-align: center; color: #33691E; font-size: 2.0em; font-family:Chewy;" >
                                        Catálogo de recursos educativos
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <div id="" style="text-align: center; color: #33691E;">
                                            <span style="text-align: center; font-size: 1.5em; font-family: Chewy; ">Colecciones</span>
                                            <table style="background-color:transparent;">
                                                <tr>
                                                    <td>
                                                        <div>
                                                            <img id="1" data-name="Lista Recursos de tecnología e informática" class="imgColecciones" src="~/images/Investiga/apr/tec_informatica.png" />
                                                        </div>
                                                    </td>
                                                    <td>Tecnología e Informática</td>

                                                    <td>
                                                        <div>
                                                            <img id="2" data-name="Lista Recursos de proyectos transversales" class="imgColecciones" src="~/images/Investiga/apr/pry_trans.png" />
                                                        </div>
                                                    </td>
                                                    <td>Proyectos Transversales</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div>
                                                            <img id="3" data-name="Lista Recursos de ciencia naturales"  class="imgColecciones" src="~/images/Investiga/apr/ciencias_n.png" />
                                                        </div>
                                                    </td>
                                                    <td>Ciencias Naturales</td>

                                                    <td>
                                                        <div>
                                                            <img id="4" data-name="Lista Recursos de investigación" class="imgColecciones" src="~/images/Investiga/apr/inv.png" />
                                                        </div>
                                                    </td>
                                                    <td>Investigación</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div>
                                                            <img id="5" data-name="Lista Recursos de matemáticas" class="imgColecciones" src="~/images/Investiga/apr/matematicas.png" />
                                                        </div>
                                                    </td>
                                                    <td>Matemáticas</td>

                                                    <td>
                                                        <div>
                                                            <img id="6" data-name="Lista Recursos de ciencias sociales" class="imgColecciones" src="~/images/Investiga/apr/sociales.png" />
                                                        </div>
                                                    </td>
                                                    <td>Ciencias Sociales</td>


                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div>
                                                            <img id="7" data-name="Lista Recursos de lenguaje" class="imgColecciones" src="~/images/Investiga/apr/lenguaje.png" />
                                                        </div>
                                                    </td>
                                                    <td>Lenguaje</td>
                                                    <td>
                                                        <div>
                                                            <img id="8" data-name="Lista Recursos de otras categorias" class="imgColecciones" src="~/images/Investiga/apr/otros.png" />
                                                        </div>
                                                    </td>
                                                    <td>Otros</td>

                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                    <td>
                                        <center><span id="categoria" style="text-align: center; font-size: 1.2em; font-family: Chewy; color:#ff6a00;">Lista recursos educativos</span></center>
                                            <div id="divResultados" style="padding-left:45px;padding-top: 20px; height: 100%; width: 100%; max-width: 100%; max-height: 450px; overflow: auto; ">

                                            </div>
</td>
                                </tr>
                            </table>

        </div>

    @*</div>*@
</div>
@section Scripts{
    <link href="~/Content/themes/base/autocomplete.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables-1.10.4/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#divResultados').load('/Home/getRecByCollections/');
        });
            $(function () {
                $("img.imgColecciones").click(function () {
                    var id = $(this).attr("id");
                    var coleccion = $(this).attr("data-name");
                    $("#categoria").text(coleccion);
                    $('#divResultados').load('/Home/getRecByCollections/' + id);
                });
            });
    </script>
}