﻿@using INI.Models.DataBase;
@model IEnumerable<INI.Models.DataBase.tblGaleriaImagenes>

@{
    ViewBag.Title = "Recuerdos";
    Layout = "~/Views/Shared/_InvRecuerdos.cshtml";
    var db = new investicEntities();

}
                      <div id="ruta_miga">
                          <table>
                              <tr>
                                  <td rowspan="2">
                                      <ul id="img_fijos">
                                          <li>
                                              <a href="~/Home/Informacion">
                                                  <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                                              </a>
                                          </li>
                                      </ul>
                                  </td>
                                  <td>
                                      <ul>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                                          </li>
                                      </ul>

                                  </td>
                              </tr>

                              <tr>
                                  <td>
                                      <ul id="img_variables">
                                          <li>
                                              <a href="~/Home">
                                                  <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" title="Información general" />
                                          </li>
                                          <li>
                                              <a href="~/Home/Informacion">
                                                  <img src="~/images/botones_ruta_migas/btn_info_gen.png" title="Información general" />
                                              </a>
                                          </li>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/img_mano.png" title="Información general" />
                                          </li>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/info_general/btn_recuerdos.png" title="" />
                                          </li>
                                      </ul>
                                  </td>
                              </tr>
                          </table>
                      </div>

                      <div class="row" style="margin-top:70px;">

                          @Html.Partial("~/Views/Shared/_GaleriaImagenes.cshtml", db.tblCategoriaImagenes)

                          <div id="divImagenesRecuerdos" style="position:absolute ;top:100px; left:350px; ">
                              @*@Html.Partial("~/Views/Shared/_GaleriaImagenesRecuerdos.cshtml", db.tblGaleriaImagenes.Where(m => m.cat_ID == 1).ToList())*@
                              @*<a class="dummyCss" href="@Url.Action("getImagesByCategory", "GaleriaImagenes", new { id = UrlParameter.Optional })">Add an Admin</a>*@
                          </div>
                      </div>
  @*<center>@Html.AtrasInvestic()</center>*@                 

@section scripts{
<script type="text/javascript">

    $(function () {
        $("img.thumb").click(function () {
            
            var img_id = $(this).attr("id");
            var id = img_id.substr(4, img_id.length);

            //var title = $("#ht" + id).val();
            //var desc = $("#hd" + id).val();

            $('#divImagenesRecuerdos').load('/GaleriaImagenes/getImagesByCategory/' + id);
            //$("#TitulardeNoticia").html(title);
            //$("#DescripciondeNoticia").html(desc);



            //var htmlText = '<a href="Url.Action("getImagesByCategory", "GaleriaImagenes", new { id = '+id+' })">Add an Admin</a>';

            //var title = $("#ht" + id).val();
            //var largeImg = $("#largeImg" + id).val();
            //var desc = $("#hd" + id).val();

            //$("a.dummyCss").each(function () {
            //    //$("#divImagenesRecuerdos a:last-child").remove();
            //    var newUrl = $(this).attr('href').replace('GaleriaImagenes/getImagesByCategory', 'GaleriaImagenes/getImagesByCategory/'+id);
            //    $(this).attr('href', newUrl);
            //});

            //$("#divImagenesRecuerdos").html(title);
            //$("#divImagenesRecuerdos").html(desc);
            //$("#divImagenesRecuerdos").fadeOut();
            //$("#divImagenesRecuerdos").fadeIn();

            //$("#divHeader").html(title);
            //$("#divLargeImg img:last-child").remove();
            //$("#divLargeImg").append('<img id="myImg" src="' + largeImg + '" />');
            //$("#divContent").html(desc);
            //$(".panel").fadeOut();
            //$(".panel").fadeIn();

        });
    });


</script>
}          