﻿@model IEnumerable<INI.Models.DataBase.MisGrupos>

@using INI.Models.DataBase
@using dl = ClassLibrary

@{
    ViewBag.SubTitle = "Resultado de busqueda";
    Layout = "~/Views/Shared/_InvInvestiga.cshtml";
    investicEntities db = new investicEntities();
}
<div class="verticalSpan2"></div>
<div class="grid fluid">
    <div class="row">
        <div class="span12 text-center">
            <h4>@ViewBag.SubTitle</h4>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <table id="misGrupos" class="table striped hover">
                <thead>
                    <tr>
                        <th class="span2"></th>
                        <th class="span2">Imagen</th>
                        <th class="span8">Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">
                                @*@Html.ActionLink("Ir al Proyecto", "VisualizarGrupoEstudiantes", "Home", new { idGrupoInvestigacion = item.id }, new { @class = "button info" })*@
                                <a href="~/Home/VisualizarGrupoEstudiantes?idGrupoInvestigacion=@item.id">Ver Grupo</a></td>
                            <td class="text-center">
                                <img src="~/images/Avatars/@item.Avatar" width="96" height="96" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Informacion, "InfoGrupo")
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/DataTables-1.10.3/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Investic/iep-0.1-index.js"></script>
}