﻿@model INI.Models.BusquedaInvestigacion.Group_Result
@*@model List<INI.Models.DataBase.tblProyectosInvestigacion>*@
@using INI.Models.DataBase

<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        @*<a href="~/Home/BusquedaEstudiantesInvestigando">*@
                        <a href="javascript:history.back(1)">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" title=" " />
                    </li>
                    <li>
                        <a href="~/Home/Informacion">
                            <img src="~/images/botones_ruta_migas/btn_info_gen.png" title="Información general" />
                        </a>
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/img_mano.png" title=" " />
                    </li>
                    <li>
                        <a href="~/Home/Investigacion">
                            <img src="~/images/botones_ruta_migas/info_general/btn_investiga_a.png" title="Investiga" />
                        </a>
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/img_mano.png" title="" />
                    </li>
                    <li>
                        <a href="~/Home/BusquedaEstudiantesInvestigando">
                            <img src="~/images/botones_ruta_migas/info_general/btn_estu_inves_a.png" title="Estudiantes ivestigando" />
                        </a>
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/img_mano.png" title="" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/info_general/btn_proyectos.png" title="" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
@{
    ViewBag.Title = "Resultados de busqueda";
    Layout = "~/Views/Shared/_InvInvestiga.cshtml";
    investicEntities db = new investicEntities();
}

    <div class="row" style="position: fixed; top: 110px; font-family:Chewy; color:#FFEB3B; font-size:22pt; text-align:center;">Estudiantes Investigando</div>
    <div style="overflow-y:auto;position: fixed; top: 150px; background: url('../../images/fondosCapas/bg_estudiantesInvestigando_Resultados.png') no-repeat; padding: 10px 50px 10px 75px; height:490px; width:900px;">    
    <div class="panel">
        @*<div class="panel-header">
            <label style="font-family:Chewy">Busqueda</label>
        </div>*@
        <div class="panel-content">
            <div class="grid" style="margin-left:15px">
                <table width="90%" align="center">
                    <tr>
                        <th colspan="4"><center><h2><label> Criterios de búsqueda </label></h2></center></th>
                    </tr>  
                    <tr>
                        <th><label>Palabras claves:</label></th>
                        <td>@Model.Search_Proyect.Titulo </td>
                        <th><label>Búsqueda por:</label></th>
                        <td>
                            @{
                                var proy = Model.Search_Proyect.EsProyectoInvestigacion;
                                var bavanzada = Model.Search_Proyect.EsBusquedaAvanzada;
                            }
                            @switch (proy)
                            {
                                case 1:
                                    <span>Problema de investigación</span>
                                    break;
                                case 2:
                                <span>Grupos de investigación</span>
                                    break;
                                default:
                                <span> Todos</span>
                                    break;
                            }
                        </td>
                    </tr>
                    @if (bavanzada == 2)
                    {
                        <tr>
                            <th colspan="4"><center><h2><label> Criterios de búsqueda </label></h2></center></th>
                        </tr>
                        <tr>
                            <th><label>Fecha desde:</label></th>
                            <td>@Model.Search_Proyect.FechaDesde</td>
                            <th><label>Fecha hasta:</label></th>
                            <td>@Model.Search_Proyect.FechaHasta</td>
                        </tr>
                        <tr>
                            <th><label>Autor</label></th>
                            <td colspan ="3">@Model.Search_Proyect.Autor</td>
                        </tr>
                        
                    }  
                </table>    
                <div class="row" style="display:none;">
                    <div class="span2">
                        <label>Palabras claves</label>
                    </div>
                    <div class="span2">
                        @Model.Search_Proyect.PalabrasClave
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <table id="misGrupos" class="table striped hover">
            <thead>
                <tr>
                    <th class="span2"></th>
                    <th class="span2">Imagen</th>
                    <th class="span8">Descripción</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Mis_Grupos)
                                {
                    <tr>
                        <td class="text-center">
                            @*@Html.ActionLink("Ir al Proyecto", "VisualizarGrupoEstudiantes", "Home", new { idGrupoInvestigacion = item.id }, new { @class = "button info" })*@
                            <a href="~/Home/VisualizarGrupoEstudiantes?idGrupoInvestigacion=@item.id">Ver Grupo</a>
                        </td>
                        <td class="text-center">
                            @if (String.IsNullOrEmpty(item.Avatar))
                            {
                                <img src = "/images/Personajes.png" width="96" height="96" />
                            }
                            else
                            {
                                <img src="~/images/Avatars/@item.Avatar" width="96" height="96" />
                            }
                            
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Informacion, "InfoGrupo")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>    

    <div class="row" style="position:fixed; bottom: 50px; right:200px;">    
    </div>
@section scripts{
    
    <script src="~/Scripts/DataTables-1.10.3/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Investic/iep-0.1-index.js"></script>
    
}
