﻿@model INI.Models.BusquedaInvestigacion.Mis_Proyectos
@using INI.Models.DataBase
@using dl = ClassLibrary


@{
    ViewBag.Title = "Resultados de busqueda";
    Layout = "~/Views/Shared/_InvInvestiga.cshtml";
    investicEntities db = new investicEntities();
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        @*<a href="~/Home/BusquedaDocenteInvestigando">*@
                        <a href="javascript:history.back(1)">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" title=" " />
                    </li>
                    <li>
                        <a href="~/Home/Informacion">
                            <img src="~/images/botones_ruta_migas/btn_info_gen.png" title="Información general" />
                        </a>
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/img_mano.png" title=" " />
                    </li>
                    <li>
                        <a href="~/Home/Investigacion">
                            <img src="~/images/botones_ruta_migas/info_general/btn_investiga_a.png" title="Investiga" />
                        </a>
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/img_mano.png" title="" />
                    </li>
                    <li>
                        <a href="~/Home/BusquedaDocenteInvestigando">
                            <img src="~/images/botones_ruta_migas/info_general/btn_doc_inves_a.png" title="Docentes investigando" />
                        </a>
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/img_mano.png" title="" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/info_general/btn_proyectos.png" title="" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<div class="row" style="position: fixed; top: 107px;margin-left:50px; font-family:Chewy; color:#FF1643; font-size:22pt; text-align:center;">Docentes Investigando</div>
<img src="../../images/fondosCapas/bg_docentesInvestigando_Resultados.png" style="position:fixed;top:147px;width:1178px;left:73px;height:500px">
<div style="position: relative; top: 115px; padding: 10px 50px 10px 150px; height:470px; width:1093px; overflow-x:hidden; overflow-y:auto">
    
    @*<div class="verticalSpan2"></div>*@
    <div class="panel">        
            <div class="panel-content">
                <div class="grid" style="margin-left:15px">
                    
                    <div class="row">
                        <table width="90%" align="center">
                            <tr>
                                <th colspan="4"><center><h2><label> Criterios de búsqueda </label></h2></center></th>
                            </tr>
                            <tr>
                                <th>Palabras claves:</th>
                                <td>@Model.busqueda_docentes.Titulo</td>
                                <th>Búsqueda por:</th>
                                <td>@{
                                        var proy = Model.busqueda_docentes.EsProyectoInvestigacion;
                                        var bavanzada = Model.busqueda_docentes.EsBusquedaAvanzada;
                                    }
                                    @switch (proy)
                                    {
                                        case 1:
                                            <span>Proyectos de investigación</span>
                                            break;
                                        case 2:
                                        <span>Grupos de investigación</span>
                                            break;
                                        default:
                                        <span>Todos</span>
                                            break;
                                    }
                                </td>
                            </tr>
                            @if (bavanzada == 2)
                            {
                                <tr>
                                    <th colspan="4"><center><label> Búsqueda avanzada </label></center></th>
                                </tr>
                                <tr>
                                    <th><label>Fecha desde:</label></th>
                                    <td>@Model.busqueda_docentes.FechaDesde</td>
                                    <th><label>Fecha hasta</label></th>
                                    <td>@Model.busqueda_docentes.FechaHasta</td>
                                </tr>
                                <tr>
                                    <th><label>Autor</label></th>
                                    <td colspan="3">@Model.busqueda_docentes.Autor</td>
                                </tr>
                            }
                        </table>                        
                    </div>
                    <div class="row" style="display:none;">
                        <div class="span2">
                            <label>Palabras claves</label>
                        </div>
                        <div class="span2">
                            @Model.busqueda_docentes.PalabrasClave
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <div style="width:80%">
                    <table id="misProyectos" >
                        <thead>
                            <tr>
                                <th width="60%">Proyecto</th>
                                <th width="20%">Grupo de investigación</th>
                                <th width="20%">Líder de grupo</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.proyectos_docentes)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(m => item.proyInv_nombreProyecto) <br />
                                        @*@Html.ActionLink("", "", "", new { id = item.tblProyectosInvestigacion_ID }, new { @class = "button info" })*@
                                        @Html.ActionLink("Ver proyecto", "VisualizaProyectoInvestigacion", "Home", new { id = item.tblProyectosInvestigacion_ID }, new { @class = "button info" })
                                    </td>
                                    <td>
                                        @Html.Partial("~/Views/Shared/_InfoGrupoInvestigacion.cshtml", item)
                                    </td>
                                    <td>
                                        @{
                                            AspNetUsers liderGrupo = db.AspNetUsers.Find(item.tblGruposInvestigacion.tblUsuarioPlataforma_ID);
                                        }
                                        @Html.Partial("~/Views/Shared/_InfoLiderGrupo.cshtml", liderGrupo)
                                    </td>
                                </tr>
                                            }
                        </tbody>
                    </table>

                </div>

            </div>
        </div>

        @*<div>
                <table id="misProyectos" class="table striped hover">
                    <thead>
                        <tr>
                            <th class="span4">Proyecto</th>
                            <th class="span4">Grupo de Investigación</th>
                            <th class="span4">Lider de Grupo</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="vertical text-center">
                                <th>
                                    @Html.DisplayFor(m => item.proyInv_nombreProyecto) <br />
              //                      @Html.ActionLink("", "", "", new { id = item.tblProyectosInvestigacion_ID }, new { @class = "button info" })
            //@Html.ActionLink("Ver Proyecto", "VisualizaProyectoInvestigacion", "Home", new { id = item.tblProyectosInvestigacion_ID }, new { @class = "button info" })
            @*</th>
                                    <th>
                                        @Html.Partial("~/Views/Shared/_InfoGrupoInvestigacion.cshtml", item)
                                    </th>
                                    <th>
                                        @{
                                            AspNetUsers liderGrupo = db.AspNetUsers.Find(item.tblGruposInvestigacion.tblUsuarioPlataforma_ID);
                                        }
                                        @Html.Partial("~/Views/Shared/_InfoLiderGrupo.cshtml", liderGrupo)
                                    </th>
                                </tr>
                                            }
                        </tbody>
                    </table>
                </div>*@
</div>

@*<div class="row" style="position:fixed; top: 175px; right:250px;">
    <img src="~/images/otros/marcador.png" />
</div>*@
@section scripts{
    <script src="~/Scripts/DataTables-1.10.3/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Investic/iep-0.1-index.js"></script>
}
