﻿@*@model INI.Models.Database.Adds.Tutores

@{
    ViewBag.Title = "Test";
    Layout = "~/usuarios/Views/Shared/_Layout.cshtml";
}

<h2>Test</h2>

<div>
    <h4>Tutores</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
    @Model.equipos.equ_descripcion
    @Model.tutZon_nombre
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
