﻿
@{
    Layout = null;
}
<center>
    <img src="~/images/cvemp.png">
</center>
<iframe src="@ViewBag.URL" name="cvemp" id="cvemp" width="0" height="0"></iframe>
<meta http-equiv="Refresh" content="1; URL=http://investic.udenar.edu.co/lms_investic/courses/DEESPIRITUEMPRENDEDORAEMPRESARIOSDE/index.php"> 
<script>    
    //window.setTimeout(location.href = "http://investic.udenar.edu.co/lms_investic/courses/DEESPIRITUEMPRENDEDORAEMPRESARIOSDE/index.php", 5000);
</script>
