﻿@model INI.Models.DataBase.tblProyectosInvestigacion

@{
    Layout = "~/Views/Shared/_InvInvestiga.cshtml";
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        @*<a href="~/Home/BusquedaDocenteInvestigando">*@
                        <a href="javascript:history.back(1)">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" title=" " />
                    </li>
                    <li>
                        <a href="~/Home/Informacion">
                            <img src="~/images/botones_ruta_migas/btn_info_gen.png" title="Información general" />
                        </a>
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/img_mano.png" title=" " />
                    </li>
                    <li>
                        <a href="~/Home/Investigacion">
                            <img src="~/images/botones_ruta_migas/info_general/btn_investiga_a.png" title="Investiga" />
                        </a>
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/img_mano.png" title="" />
                    </li>
                    <li>
                        <a href="~/Home/BusquedaDocenteInvestigando">
                            <img src="~/images/botones_ruta_migas/info_general/btn_doc_inves_a.png" title="Docentes investigando" />
                        </a>
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/img_mano.png" title="" />
                    </li>
                    <li>
                            <img src="~/images/botones_ruta_migas/info_general/btn_proyecto_v.png" title="" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<div class="verticalSpan2"></div>
@Html.Partial("~/Views/Shared/_InformeProyecto2.cshtml", Model)
<a href="/Home/ReporteProyectoInvestigacion/@ViewBag.Id">Reporte</a>