﻿@model INI.Models.DataBase.tblGrupoInvestigacion

@{
    ViewBag.Title = "Bienvenidos";
    Layout = "~/Views/Shared/_InvInvestiga.cshtml";
    
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        @*<a href="~/Home/BusquedaEstudiantesInvestigando">*@
                        <a href="javascript:history.back(1)">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" title=" " />
                    </li>
                    <li>
                        <a href="~/Home/Informacion">
                            <img src="~/images/botones_ruta_migas/btn_info_gen.png" title="Información general" />
                        </a>
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/img_mano.png" title=" " />
                    </li>
                    <li>
                        <a href="~/Home/Investigacion">
                            <img src="~/images/botones_ruta_migas/info_general/btn_investiga_a.png" title="Investiga" />
                        </a>
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/img_mano.png" title="" />
                    </li>
                    <li>
                        <a href="~/Home/BusquedaEstudiantesInvestigando">
                            <img src="~/images/botones_ruta_migas/info_general/btn_estu_inves_a.png" title="Estudiantes investigando" />
                        </a>
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/img_mano.png" title="" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/info_general/btn_proyecto_v.png" title="" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
@if (Model != null)
{

    <div style="position: relative; padding: 5px; top: 75px; left: 5px; max-width: 100%; max-height: 90%;overflow:auto;">

        <div style="position: relative; padding: 5px; top: 20px; left: 5px; max-width: 100%; max-height: 100%;">

            <div class="tab-control" data-role="tab-control" data-effect="fade[slide]">
                <ul class="tabs">
                    <li class="active"><a href="#_page_1" class="orange">Bitácora 1</a></li>
                    <li><a href="#_page_2" class="orange">Bitácora 2</a></li>
                    <li><a href="#_page_3" class="orange">Bitácora 3</a></li>
                    <li><a href="#_page_4" class="orange">Bitácora 4</a></li>
                    <li><a href="#_page_5" class="orange">Bitácora 5</a></li>
                    <li><a href="#_page_6" class="orange">Bitácora 6</a></li>
                </ul>

                <div class="frames" style="border: 1px #E51400 solid">
                    @* Bitacora 1 *@
                    @{
                        var tblrefle = new INI.Models.DataBase.tblReflexionProyectoInvestigacion();
                        var tblmcoinv = new List<INI.Models.DataBase.tblMiembroGrupo>();
                        var tblestinv = new List<INI.Models.DataBase.tblMiembroGrupo>();
                        if (Model.tblReflexionProyectoInvestigacion.Count() > 0)
                        {
                            tblrefle = Model.tblReflexionProyectoInvestigacion.OrderByDescending(m => m.id).First();
                        }
                        if (Model.tblMiembroGrupo.Count() > 0)
                        {
                            tblmcoinv = Model.tblMiembroGrupo.Where(m => m.tblRol.id == 1).ToList();
                        }
                        if (Model.tblMiembroGrupo.Count() > 0)
                        {
                            tblestinv = Model.tblMiembroGrupo.Where(m => m.tblRol.id == 2).ToList();
                        }
                    }
                    <div class="frame" id="_page_1" style="background:white; height:100%">
                        <div style="overflow-y:auto">
                            @* Informacion grupo *@
                            <table style="background-color:transparent; line-height:25px;">
                                <tr>
                                    <td><strong>Nombre:</strong></td>
                                    <td>@Model.Nombre</td>
                                    <td><strong>Institución: </strong></td>
                                    @if (Model.tblInstitucion != null)
                                    {
                                        if (String.IsNullOrEmpty(Model.tblInstitucion.Nombre))
                                        {
                                            <td>No registra</td>
                                        }
                                        else { 
                                            <td>@Model.tblInstitucion.Nombre</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>No registra</td>
                                    }
                                </tr>
                                <tr>
                                    <td><strong>Municipio: </strong></td>
                                    @if (Model.tblInstitucion != null && Model.tblInstitucion.tblMunicipios != null)
                                    {
                                        if (String.IsNullOrEmpty(Model.tblInstitucion.tblMunicipios.NombreMunicipio))
                                        {
                                            <td>No registra</td>
                                        }
                                        else { 
                                            <td>@Model.tblInstitucion.tblMunicipios.NombreMunicipio</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>No registra</td>
                                    }
                                    <td><strong>Creación:</strong></td>
                                    <td>@Model.FechaCreacion</td>
                                </tr>
                                <tr>
                                    <td><strong>Tipo:</strong></td>
                                    <td>@Model.TipoGrupo</td>
                                </tr>
                                <tr>
                                    <td><strong>Línea:</strong></td>
                                    @if (Model.tblLineaInvestigacion != null)
                                    {
                                        if (String.IsNullOrEmpty(Model.tblLineaInvestigacion.Nombre))
                                        {
                                            <td>No registra</td>
                                        }
                                        else {
                                            <td>@Model.tblLineaInvestigacion.Nombre</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>No registra</td>
                                    }

                                </tr>
                            </table>
                            <h1>Bitácora Maestro</h1>
                            <table>
                                <tr>
                                <td><strong>Proceso de conformación grupo:</strong>
                                    @if (string.IsNullOrEmpty(tblrefle.Proceso))
                                    {
                                        <span>No registra</span>
                                    }
                                    else
                                    {
                                        <span> @tblrefle.Proceso</span>
                                    }

                                </td></tr>
                                <tr><td><strong>Motivación para participar en este proyecto:</strong>
                                    @if (string.IsNullOrEmpty(tblrefle.Motivacion))
                                    {
                                        <span>No registra</span>
                                    }
                                    else
                                    {
                                        <span> @tblrefle.Motivacion</span>
                                    }                        
                                </td></tr>
                                <tr><td><strong>Reflexión:</strong>
                                    @if (string.IsNullOrEmpty(tblrefle.Reflexion))
                                    {
                                        <span>No registra</span>
                                    }
                                    else
                                    {
                                        <span> @tblrefle.Reflexion</span>
                                    }    
                                </td></tr>
                            </table>
                            @* Cierre informacion grupo *@
                            @* Maestros coinvestigadores *@
                            <h3>Maestros coinvestigadores</h3>
                            @if(tblmcoinv!=null || tblmcoinv.Count()<=0){
                            
                            <table id="tbl_mcoinvestigadores" cellspacing="30">
                                <thead>
                                    <tr>
                                        <th style="width:160px">Nombre</th>
                                        <th style="width:180px">Dirección</th>
                                        <th>Rol</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in tblmcoinv)
                                    {
                                        <tr>
                                            <td rowspan="2" valign="middle">@String.Format("{0} {1}", item.AspNetUsers.Name, item.AspNetUsers.LastName)</td>
                                            <td>@item.AspNetUsers.Address</td>
                                            <td>@item.tblRol.Nombre</td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                            }
                            else {
                                <span>No registra</span>
                            }
                            @* Cierre Maestros coinvestigadores *@
                            <h3>Estudiantes investigando</h3>
                            @if (tblestinv!=null || tblestinv.Count()<=0) { 
                            <table id="tbl_estudiantesinvestigando" cellspacing="30">
                                <thead>
                                    <tr>
                                        <th style="width:160px">Nombre  </th>
                                        <th style="width:180px">  Dirección  </th>
                                        <th>  Rol</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in tblestinv)
                                    {
                                        <tr>
                                            <td rowspan="2" valign="middle">@String.Format("{0} {1}", item.AspNetUsers.Name, item.AspNetUsers.LastName)</td>
                                            <td>@item.AspNetUsers.Address</td>
                                            <td>@item.tblRol.Nombre</td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                            }
                            else
                            {
                                <span>No registra</span>
                            }
                        </div>

                    </div>
                    @* Cierre Bitacora 1 *@
                    @{

                        var tblpproyin = new INI.Models.DataBase.tblPreguntaProyectoInvestigacion();
                        var tblpreprin=new INI.Models.DataBase.tblPreguntaInvestigacion();
                        var tblpreinv = new List<INI.Models.DataBase.tblPreguntaInvestigacion>();
                        if (Model.tblPreguntaProyectoInvestigacion.Count() > 0)
                        {
                            tblpproyin = Model.tblPreguntaProyectoInvestigacion.OrderByDescending(m => m.id).First();
                        }
                        if (Model.tblPreguntaInvestigacion.Count() > 0)
                        {
                            tblpreprin = Model.tblPreguntaInvestigacion.OrderByDescending(m => m.id).First();
                            tblpreinv = Model.tblPreguntaInvestigacion.OrderBy(m => m.Consecutivo).ToList();
                        }


                    }
                    @* Bitacora 2 *@
                    <div class="frame" id="_page_2" style="background:white; height:100%">
                        <table style="background-color:transparent; line-height:25px;">
                            <tr>
                                <td><strong>Insignia</strong></td>
                            </tr>
                            <tr>
                                <td><img src="~/images/Avatars/@Model.Avatar" style="max-height: 256px; max-width: 256px;" /></td>
                            </tr>
                            <tr>
                                <td><strong>Pregunta seleccionada:</strong>
                                    <span>@tblpreprin.PreguntaPrincipal</span>
                                </td>
                            </tr>
                            
                        </table>
                        <h3>Preguntas realizadas por los integrantes del grupo</h3>
                        @foreach (var item in tblpreinv)
                        {
                            <div class="row">
                                <div class="span12">
                                    @item.Pregunta
                                </div>
                            </div>
                        }
                        <table style="background-color:transparent; line-height:20px;">
                            <tr>
                                <td>@tblpproyin.InformacionUno <br /><div style="font-size:small"><i>@tblpproyin.FuenteUno</i></div></td>
                            </tr>
                            <tr>
                                <td>@tblpproyin.InformacionDos <br /><div style="font-size:small"><i>@tblpproyin.FuenteDos</i></div></td>
                            </tr>
                            <tr>
                                <td>@tblpproyin.InformacionTres <br /><div style="font-size:small"><i>@tblpproyin.FuenteTres</i></div></td>
                            </tr>
                        </table>


                    </div>
                    @*Cierre Bitacora 2 *@
                    @* Bitacora 3 *@
                    @{
                        var tblprob = new INI.Models.DataBase.tblProblemaInvestigacion();
                        var tblprobmaestro = new INI.Models.DataBase.tblProblemaProyectoInvestigacion();
                        if (Model.tblProblemaInvestigacion.Count() > 0)
                        {
                            tblprob = Model.tblProblemaInvestigacion.OrderByDescending(m => m.id).First();
                        }
                        if (Model.tblProblemaProyectoInvestigacion.Count() > 0)
                        {
                            tblprobmaestro = Model.tblProblemaProyectoInvestigacion.OrderByDescending(m => m.id).First();
                        }
                    }
                    <div class="frame" id="_page_3" style="background:white; height:100%">
                        <table style="background-color:transparent; line-height:25px;">
                            <tr><td>
                                    <strong>Descripción del problema a investigar: </strong>
                                    @if (string.IsNullOrEmpty(tblprob.Descripcion))
                                    {
                                        <span>No registra</span>
                                    }
                                    else
                                    {
                                        <span> @tblprob.Descripcion</span>
                                    }
                            </td></tr>
                            <tr><td>
                                    <strong>Importancia de resolver el problema o avanzar en su solución: </strong>
                                    @if (string.IsNullOrEmpty(tblprob.Justificacion))
                                    {
                                        <span>No registra</span>
                                    }
                                    else
                                    {
                                        <span> @tblprob.Justificacion</span>
                                    }
                            </td></tr>
                        </table>
                        <h3>Para el maestro</h3>
                        <table>
                            <tr><td><strong>Diferencias entre la forma de pensar de niños, jóvenes sobre la forma de pensar de los adultos: </strong>
                                    @if (string.IsNullOrEmpty(tblprobmaestro.Como))
                                    {
                                        <span>No registra</span>
                                    }
                                    else
                                    {
                                        <span> @tblprobmaestro.Como</span>
                                    }  
                            </td></tr>                            
                            <tr><td><strong>Reflexión bitacora 3</strong>
                                    @if (string.IsNullOrEmpty(tblprobmaestro.Reflexion))
                                    {
                                        <span>No registra</span>
                                    }
                                    else
                                    {
                                        <span> @tblprobmaestro.Reflexion</span>
                                    }  
                                
                            </td></tr>                            
                        </table>
                    </div>

                    @*Cierre Bitacora 3 *@
                    @* Bitacora 4 *@
                    @{
                        double Total = 0;
                        var PresupuestoResumido = from p in Model.tblPresupuestoProyectoInvestigacion
                                                  group p by p.tblRubro.Rubro into g
                                                  select new
                                                  {
                                                      Rubro = g.Key,
                                                      Total = g.Sum(m => m.Total)
                                                  };
                    }
                    <div class="frame" id="_page_4" style="background:white; height:100%">
                        <table class="table striped hovered">
                            <thead>
                                <tr>
                                    <th>Rubro</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var itemPresupuesto in PresupuestoResumido)
                                {
                                    <tr>
                                        <td>
                                            @itemPresupuesto.Rubro
                                        </td>
                                        <td class="text-right">
                                            @Html.DisplayFor(item => itemPresupuesto.Total, "Currency")
                                            @{
                                                Total = Total + itemPresupuesto.Total;
                                            }
                                        </td>
                                    </tr>

                                }
                            </tbody>
                            <tr>
                                <td><strong> Gran Total</strong></td>
                                <td class="text-right">@Total.ToString("C2")</td>
                            </tr>
                        </table>



                    </div>
                    @* Cierre Bitacora 4 *@
                    @* Bitacora 5 *@
                    @{
                                bool ThereIsError = false;
                                INI.Models.DataBase.tblEstadoArteProyectoInvestigacion tblesart = new INI.Models.DataBase.tblEstadoArteProyectoInvestigacion();
                                ICollection<INI.Models.DataBase.tblConceptosEstadoArte> tblconceptos = new List<INI.Models.DataBase.tblConceptosEstadoArte>();
                                try
                                {
                                    tblesart = Model.tblEstadoArteProyectoInvestigacion.First();
                                    tblconceptos = tblesart.tblConceptosEstadoArte;
                                }
                                catch (Exception)
                                {

                                    ThereIsError = true;
                                }

                    }

                    <div class="frame" id="_page_5" style="background:white; height:100%">
                        @if (!ThereIsError)
                        {
                            <div class="grid fluid">
                                <div class="row">
                                    <div class="span1">
                                        <strong>
                                            Temas:
                                        </strong>
                                    </div>
                                    <div class="span7">
                                        @tblesart.TemaInvestigacion
                                    </div>
                                    <div class="span1">
                                        <a class="image-button size2" href="~/Upload/@tblesart.MapaConceptual" target="_blank">
                                            Descargar
                                            <i class="icon-download-2 bg-red fg-white"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="listview">
                                @foreach (var conc in tblconceptos)
                                {
                                    <a href="#" class="list">
                                        <div class="list-content">
                                            <img src="~/images/Icon-user.png" class="icon">
                                            <div class="data">
                                                <span class="list-title">Autor @conc.Autor</span>
                                                <div>
                                                    @conc.Texto
                                                </div>
                                                <span class="list-remark">
                                                    Año: @conc.Publicacion.ToString()
                                                </span>
                                            </div>
                                        </div>
                                    </a>
                                }
                            </div>
                        }
                        else
                        {
                            <div class="notify">
                                <span class="notify-closer"></span>
                                <span class="notify-text">Bitácora vacía</span>
                            </div>
                        }

                    </div>


                    @*Cierre Bitacora 5 *@
                    @* Bitacora 6 *@
                    @{
                        ThereIsError = false;
                        INI.Models.DataBase.tblReflexionOnda tblrfl = new INI.Models.DataBase.tblReflexionOnda();
                        try
                        {
                            tblrfl = Model.tblReflexionOnda.OrderByDescending(m => m.id).First();
                        }
                        catch
                        {
                            ThereIsError = true;
                        }
                    }
                    <div class="frame" id="_page_6" style="background:white; height:100%">
                        <table style="background-color:transparent; line-height:25px;">
                            <tr>
                                <td><strong>Introducción: </strong>
                                    @if (string.IsNullOrEmpty(tblrfl.Introduccion))
                                    {
                                        <span>No registra</span>
                                    }
                                    else
                                    {
                                        <span> @tblrfl.Introduccion</span>
                                    }                                 
                                </td>                                
                            </tr>
                            <tr>
                                <td><strong>Conformación grupo: </strong>
                                    @if (string.IsNullOrEmpty(tblrfl.ConformacionGrupo))
                                    {
                                        <span>No registra</span>
                                    }
                                    else
                                    {
                                        <span> @tblrfl.ConformacionGrupo</span>
                                    }
                                </td>                                
                            </tr>
                            <tr>
                                <td><strong>Objetivo de la investigación: </strong>
                                    @if (string.IsNullOrEmpty(tblrfl.ObjetivoInvestigacion))
                                    {
                                        <span>No registra</span>
                                    }
                                    else
                                    {
                                        <span> @tblrfl.ObjetivoInvestigacion</span>
                                    }                                
                                </td>                                
                            </tr>
                            <tr>
                                <td><strong>Actividades realizadas: </strong>
                                    @if (string.IsNullOrEmpty(tblrfl.ActividadasRealizadas))
                                    {
                                        <span>No registra</span>
                                    }
                                    else
                                    {
                                        <span> @tblrfl.ActividadasRealizadas</span>
                                    }
                                </td>                                
                            </tr>
                            <tr>
                                <td><strong>Conceptos principales: </strong>
                                    @if (string.IsNullOrEmpty(tblrfl.ConceptosPrincipales))
                                    {
                                        <span>No registra</span>
                                    }
                                    else
                                    {
                                        <span> @tblrfl.ConceptosPrincipales</span>
                                    }
                                </td>                                
                            </tr>
                            <tr>
                                <td><strong>Espacios de participación: </strong>
                                    @if (string.IsNullOrEmpty(tblrfl.EspaciosParticipacion))
                                    {
                                        <span>No registra</span>
                                    }
                                    else
                                    {
                                        <span> @tblrfl.EspaciosParticipacion</span>
                                    }
                                </td>                                
                            </tr>
                            <tr>
                                <td><strong>Conclusiones: </strong>
                                    @if (string.IsNullOrEmpty(tblrfl.Conclusiones))
                                    {
                                        <span>No registra</span>
                                    }
                                    else
                                    {
                                        <span> @tblrfl.Conclusiones</span>
                                    }
                                </td>                                
                            </tr>
                        </table>
                    </div>
                    @*Cierre Bitacora 6 *@
                </div>
            </div>

        </div> 

    </div>

}
else
{
    <h1>El modelo esta vacio</h1>
}