﻿@model MAI.Models.DataBase.tblGruposInvestigacion

@{
    ViewBag.Title = "Nuevo Proyecto";
}

<div class="grid fluid">
    @using (Html.BeginForm("CrearProyecto", "ProyectosInvestigacion"))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("tblGruposInvestigacion_ID", Model.tblGruposInvestigacion_ID)

        <div class="row">
            <h2><strong>Nuevo Proyecto</strong></h2>
            <div class="input-control text">
                @Html.TextBox("proyInv_nombreProyecto", null, new { placeholder = "Nombre del Proyecto" })
                <button type="button" class="btn btn-clear" tabindex="-1"></button>
                @Html.ValidationMessage("Digite el nombre de su nuevo proyecto")
            </div>
        </div>

        <div class="row">
            <button class="large bg-green fg-white" type="submit">
                Crear Proyecto
                <i class="icon-plus bg-green fg-white"></i>
            </button>
        </div>
    }
</div>