﻿@model MAI.Models.DataBase.tblProyectosInvestigacion

@using MAI.Models.DataBase

@{
    ViewBag.Title = "EditarProyecto";
}

<div class="grid fluid">

    <div id="informeProyectoDialog">
    </div>
    <button id="lnkInformeProyecto" type="button" class="large bg-green fg-white"
            onclick="javascript: FinalizarProyecto(@Model.tblProyectosInvestigacion_ID);">
        Ver Informe
        <i class="icon-plus bg-gren fg-white"></i>
    </button>

    @{
        investicEntities db = new investicEntities();
        var grupoInvestigacion = db.tblGruposInvestigacion.Find(Model.tblGruposInvestigacion_ID);
        @Html.Partial("~/Views/Shared/_GrupoInvestigacion.cshtml", grupoInvestigacion);

    }

    <h1>Complete su proyecto</h1>

    @Html.Partial("~/Views/Shared/_ProyectoInvestigacion.cshtml", Model)

    <div id="wizard" data-id="@Model.tblProyectosInvestigacion_ID">
        @*Hoja 1 del wizard*@
        <h1>PRESENTACIÓN DEL PROYECTO</h1>
        <div class="overflow">
            @Html.Partial("~/Views/PresentacionProyecto/Edit.cshtml", Model)
        </div>


        @*Hoja 2 del wizard*@
        <h1>PROBLEMA DE INVESTIGACIÓN</h1>
        <div class="overflow">
            @Html.Partial("~/views/ProblemaInvestigacionProy/Edit.cshtml", Model)
        </div>

        @*Hoja 3 del wizard*@
        <h1>MARCO DE REFERENCIA</h1>
        <div class="overflow">
            @Html.Partial("~/Views/MarcoReferenciaProy/Edit.cshtml", Model)
        </div>

        @*Hoja 4 del wizard*@
        <h1>MÉTODO</h1>
        <div class="overflow">
            @Html.Partial("~/Views/MetodoProy/Edit.cshtml", Model)
        </div>

        @*Hoja 5 del wizard*@
        <h1>CARACTERISTICAS</h1>
        <div class="overflow">
            @Html.Partial("~/Views/CaracteristicasProy/Edit.cshtml", Model)
        </div>

        @*Hoja 6 del wizard*@
        @*<h1>ASPECTOS ADMINISTRATIVOS</h1>
            <div class="overflow">

            </div>*@

        @*Hoja 6 CRONOGRAMA*@
        <h1>CRONOGRAMA</h1>
        <div class="overflow">
            @Html.Partial("~/Views/CronogramaProy/Edit.cshtml", Model.tblCronogramaProy)
        </div>

        @*Hoja 7 PRESUPUESTO*@
        <h1>PRESUPUESTO</h1>
        <div class="overflow">
            Presupuesto
        </div>


        @*Hoja 8 del wizard*@
        <h1>REFERENCIAS</h1>
        <div class="overflow">
            @Html.Partial("~/Views/ReferenciasProy/Edit.cshtml", Model)
        </div>
    </div>


    <div class="form-group">
        <h3>
            @Html.ActionLink("Regresar", "DetallesGrupo", "GruposInvestigacion", new { id = Model.tblGruposInvestigacion_ID }, null)
        </h3>
    </div>

</div>

@*<div id="informacion-proyecto">
        @{
            tblProyectosInvestigacion miProyectoTerminado = db.tblProyectosInvestigacion.Find(Model.tblProyectosInvestigacion_ID);
            Html.RenderPartial("InformeProyecto", miProyectoTerminado);
        }
    </div>*@

<div id="addFechaDialog">
    @{
        tblFechaCronograma miNuevaFecha = new tblFechaCronograma();
        miNuevaFecha.tblCronogramaProy_ID = Model.tblCronogramaProy_ID;
        //Html.Partial("~/Views/FechasCronograma/Create.cshtml", miNuevaFecha);
        //Html.RenderPartial("~/Views/FechasCronograma/Create.cshtml", miNuevaFecha);
        Html.RenderPartial("Create", miNuevaFecha);
        //Html.RenderAction("Create", "FechasCronograma", new { id = Model.tblCronogramaProy_ID });
    }
</div>




@section Scripts {
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.min-1.11.1.js"></script>
    <script src="~/Scripts/DataTables-1.10.3/media/js/jquery.dataTables.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.steps.js"></script>
    <link href="~/Content/Investic/jquery.steps.css" rel="stylesheet" />
    <script src="~/Scripts/Investic/mai_WizardProyectos.js"></script>
    @*<script src="~/Scripts/Investic/FechaCronograma.js"></script>*@
    <script src="~/Scripts/Investic/mai_AddIntegranteGrupoInv.js"></script>
    <script src="~/Scripts/Investic/mai_InformeProyecto.js"></script>
    <script src="~/Scripts/Investic/mai_MEpistemologicoCascading.js"></script>

}


