﻿@model MAI.Models.DataBase.tblGruposInvestigacion

@{
    ViewBag.Title = "Proyectos";
}

<div class="grid fluid">
    <div class="row">
        @Html.Partial("~/Views/Shared/_GrupoInvestigacion.cshtml", Model)
        <div class="row">
            <button id="AddNuevoProyecto" type="button" class="large bg-green fg-white">
                Crear Nuevo Proyecto
                <i class="icon-plus bg-green fg-white"></i>
            </button>
        </div>

        <h2>Nuestros Proyectos</h2>

        <table id="miTabla" class="table striped hover">
            <thead>
                <tr>
                    <th class="span4">Nombre del Proyecto</th>
                    <th class="span4">Resumen</th>
                    <th class="span2">Fecha de Creación</th>
                    <th class="span2"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.tblProyectosInvestigacion)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => item.proyInv_nombreProyecto)</td>
                        <td>@Html.DisplayFor(model => item.tblPresentacionProyecto.preProy_resumenProy)</td>
                        <td class="text-center">@Html.DisplayFor(model => item.proyInv_fechaCreacion)</td>
                        @if (item.tblEstado_ID == 1)
                        {
                            <td class="text-center">
                                @Html.ActionLink("Modificar Proyecto", "EditarProyecto", "ProyectosInvestigacion", new { id = item.tblProyectosInvestigacion_ID }, new { @class = "button info" })
                                <input id="deleteProyecto" type="button" value="Eliminar Proyecto" onclick="location.href='@Url.Action("EliminarProyecto", "ProyectosInvestigacion", new { id = item.tblProyectosInvestigacion_ID })'" />
                            </td>
                        }
                        else
                        {
                            <td class="text-center">Proyecto en Evaluación</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="form-group">
        <h3>
            @Html.ActionLink("Regresar", "DetallesGrupo", "GruposInvestigacion", new { id = Model.tblGruposInvestigacion_ID }, null)
        </h3>
    </div>
</div>

<div id="crearProyectoDialog">
    @{
        Html.RenderPartial("CrearProyecto", Model);
    }
</div>

@section Scripts{
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.min-1.11.1.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/DataTables-1.10.3/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Investic/mai_MisTablas.js"></script>
    <script src="~/Scripts/Investic/mai_ProyectosInvestigacion.js"></script>
}
