﻿@model INI.Models.DataBase.tblEvidenciasContratista

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_InvSeguimiento.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>evidencia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Evidencia)

        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Evidencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion_Evidencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion_Evidencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblActividadContratista.Id_Contratista)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblActividadContratista.Id_Contratista)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.UserName)

        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
