﻿@using Microsoft.AspNet.Identity
@model MAI.Models.ManageUserViewModel


@using (Html.BeginForm("AdministrarCuenta", "Usuario", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    <div style="height:40px;"></div>
    <div class="grid">
        <div class="row">
            <div class="span3 offset6">
                <strong>
                    @Html.LabelFor(m => m.OldPassword)
                </strong>
            </div>
            <div class="span4 input-control text">
                @Html.PasswordFor(m => m.OldPassword)
            </div>
        </div>
        <div class="row">
            <div class="span3 offset6">
                <strong>
                    @Html.LabelFor(m => m.NewPassword)
                </strong>
            </div>
            <div class="span4 input-control text">
                @Html.PasswordFor(m => m.NewPassword)
            </div>
        </div>
        <div class="row">
            <div class="span3 offset6">
                <strong>
                    @Html.LabelFor(m => m.ConfirmPassword)
                </strong>
            </div>
            <div class="span4 input-control text">
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
        </div>
        <div class="row">
            <div class="span3 offset9">
                <input type="submit" value="Cambiar contraseña" class="button large" />
            </div>
        </div>
        <div class="row">
            <div class="span3 offset9">
                @Html.ValidationSummary()
            </div>
        </div>
    </div>
}
