﻿@*@using TestMAI.Models.DataBase*@
@model INI.Models.DataBase.AspNetUsers
@using INI.Models.DataBase

@{
    Layout = "~/Views/Shared/_LayoutMAI_Proyectos.cshtml";
    ViewBag.Title = "Crear Grupo";
    var rol = AspNetUsersRoles.IsUserInRole("Maestro", User.Identity.Name);
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/GruposInvestigacion/MisGrupos">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/Home/MenuMaestro">
                                <img src="~/images/botones_ruta_migas/iep/btn_maestro.png" title="Maestro" />
                            </a>
                        }
                        else
                        {
                            <a href="~/Home/MenuEstudiante">
                                <img src="~/images/botones_ruta_migas/iep/btn_estudiantes.png" title="Estudiantes" />
                            </a>
                        }

                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/GruposInvestigacion/MisGrupos">
                            <img src="~/images/botones_ruta_migas/mai/btn_MAI.png" title="MAI" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/GruposInvestigacion/MisGrupos">
                            <img src="~/images/botones_ruta_migas/mai/btn_grupo_a.png" title="Grupo" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_crear.png" title="Crear" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br />

<div style="display:none;">
    <div id="teamname">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Cuál es el nombre del grupo?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar el nombre del grupo MAI.
    </div>
</div>

@using (Html.BeginForm("CrearGrupoInv", "GruposInvestigacion", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.Hidden("tblUsuarioPlataforma_ID", (object)ViewBag.tblUsuarioPlataforma_ID)
    <div class="grid fluid">
        @*Grid Principal*@
        
        <div class="row">
            <div class="span4 offset4 text-center">
                <div class="panel" data-role="panel">
                    <div class="panel-header">
                        Lider de grupo
                    </div>
                    <div class="panel-content">
                        <dl>
                            <dt>Identificación:</dt>
                            <dd>@Html.DisplayFor(model => model.PersonalID)</dd>
                            <dt>Teléfono:</dt>
                            <dd>@Html.DisplayFor(model => model.PhoneNumber)</dd>
                            <dt>Correo electrónico</dt>
                            <dd>@Html.DisplayFor(model => model.Email)</dd>
                        </dl>
                    </div>
                </div>
                @*Información lider de Grupo*@
                
                @*<h2>@Html.DisplayName(tblUsuarioPlataforma.GetName((long)ViewBag.tblUsuarioPlataforma_ID))</h2>*@
                
            </div>
        </div>

        <div class="row">
            <div class="span4 offset4 text-center">
                @*<h3><strong for="teamname" onmouseover="tooltip.pop(this, '#teamname', { sticky: true })" >Nombre del Grupo <span style="color:red">*</span></strong></h3>*@
                <h3><strong>Nombre del Grupo <span style="color:red">*</span></strong></h3>
                <div class="form-group">
                    <div class="input-control text" data-role="input-control" id="box_teamname">
                        @Html.TextBox("gruInv_nombreGrupo", null, new { placeholder = "Nombre del Grupo" })
                        <button type="button" class="btn btn-clear" tabindex="-1"></button>
                        @Html.ValidationMessage("Digite el nombre del grupo")
                    </div>
                </div>
                <h3><strong>Emblema del Grupo</strong></h3>
                <div class="form-group">
                    <div class="input-control file">
                        @Html.TextBox("gruInv_emblema", null, new { placeholder = "Imagen", type = "file" })
                        <button type="button" class="btn btn-file" tabindex="-1"></button>
                    </div>

                    @*<div class="input-control file">
                            <input id="gruInv_emblema" name="gruInv_emblema" type="file" />
                            <button class="btn-file"></button>
                        </div>*@

                </div>
            </div>
        </div>

        <div class="row">
            <button class=" span4 offset4 large bg-green fg-white text-center" type="submit">
                Crear Grupo
                <i class="icon-plus bg-green fg-white"></i>
            </button>
        </div>
    </div>
}

