﻿@model IEnumerable<INI.Models.DataBase.tblGruposInvestigacion>
@using INI.Models.DataBase

@{
    Layout = "~/Views/Shared/_LayoutMAI_Proyectos.cshtml";
    ViewBag.Title = "Grupos de Investigacion";
    var rol = AspNetUsersRoles.IsUserInRole("Maestro", User.Identity.Name);
}
                      <div id="ruta_miga">
                          <table>
                              <tr>
                                  <td rowspan="2">
                                      <ul id="img_fijos">
                                          <li>
                                              @if (rol == true)
                                              {
                                                  @*<a href="~/Home/MenuMaestro">*@
                                                  <a href="javascript:history.back(1)">
                                                      <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                                                  </a>
                                              }
                                              else
                                              {
                                                  @*<a href="~/Home/MenuEstudiante">*@
                                                  <a href="javascript:history.back(1)">
                                                      <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                                                  </a>
                                              }
                                          </li>
                                      </ul>
                                  </td>
                                  <td>
                                      <ul>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                                          </li>
                                      </ul>

                                  </td>
                              </tr>

                              <tr>
                                  <td>
                                      <ul id="img_variables">
                                          <li>
                                              <a href="~/Home">
                                                  <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              @if (rol == true)
                                              {
                                                  <a href="~/Home/MenuMaestro">
                                                      <img src="~/images/botones_ruta_migas/iep/btn_maestro.png" title="Maestro" />
                                                  </a>
                                              }
                                              else
                                              {
                                                  <a href="~/Home/MenuEstudiante">
                                                      <img src="~/images/botones_ruta_migas/iep/btn_estudiantes.png" title="Estudiantes" />
                                                  </a>
                                              }

                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              <a href="~/GruposInvestigacion/MisGrupos">
                                                  <img src="~/images/botones_ruta_migas/mai/btn_MAI.png" title="MAI" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/iep/btn_grupo.png" title="Mi Grupo" />
                                          </li>
                                      </ul>
                                  </td>
                              </tr>
                          </table>
                      </div>

<link href="~/Content/tooltip.css" rel="stylesheet" />
<script src="~/Scripts/tooltip.js"></script>
                      

@Html.AntiForgeryToken()


<div class="grid fluid">
    <!-- Modal HTML -->
    
    <br /><br />
    <table style="background-color:transparent; margin:auto;">
        <tr>
            <td width="20%" align="left">
                <img src="~/images/MAI/Proyecto/personajeProyecto.png" height="120" />
            </td>
            <td width="80%" align="left">
                <div class="span2 text-right">
                    <h2 onmouseover="tooltip.pop(this, '#MiGrupo', { sticky: true })" style="font-family:Chewy">Mi Grupo</h2>
                    @*<div style="display:none;">
                        <div id="MiGrupo">
                            <img src="~/images/ToolTip/p1.svg" style="float:right;margin-left:12px;" alt="" />
                            <b><strong>Cual es tu grupo?</strong></b><br /><br />
                            Información de los grupos.
                        </div>
                    </div>*@
                </div>

                @if (Model.Count().Equals(0))
                {
                    <h2>No tienes un Grupo creado</h2>
                                        <div class="row">
                                            @Html.ActionLink("Crear Grupo", "CrearGrupoInv", "GruposInvestigacion", new { @class = "button large bg-green fg-white" })
                                        </div>
                }
                else
                {
                <div class="row">
                <table id="misGrupos" class="table striped hover">
                    <thead>
                        <tr>
                            @*<th class="span2"></th>*@
                            <th class="span4">Nombre del grupo</th>
                            <th class="span2">Emblema</th>
                            <th class="span2">Fecha de creación</th>
                            <th class="span2">Proyectos de investigación</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                @*<td class="text-center">
                                        @Html.ActionLink("Ir", "DetallesGrupo", "GruposInvestigacion", new { id = item.tblGruposInvestigacion_ID }, new { @class = "button info" })
                                    </td>*@
                                <td>@Html.DisplayFor(modelItem => item.gruInv_nombreGrupo)</td>
                                <td class="text-center">

                                    @if (String.IsNullOrEmpty(item.gruInv_emblema))
                                    {
                                        <img src="/images/Personajes.png" width="110" />
                                    }
                                    else
                                    {
                                    <img src="~/images/logo_Grupo/@item.gruInv_emblema" width="110" />
                                    }

                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.gruInv_fechaCreacion)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.gruInv_proyectos)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                @*<center> @Html.AtrasInvestic()</center>*@
            </div>
    }
         </td>
       </tr>
    </table>
</div>


<div id="crearGrupoDialog">
    @{
        investicEntities db = new investicEntities();
        var idUsuario = AspNetUsers.GetUserId(User.Identity.Name);
        AspNetUsers usuario = db.AspNetUsers.Find(idUsuario);
        Html.RenderPartial("CrearGrupoInv", usuario);
    }
</div>



@section ScriptsMAI_PRY {
    <script src="~/Scripts/DataTables-1.10.3/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Investic/mai_MisTablas.js"></script>
    <script src="~/Scripts/Investic/mai_GruposInvestigacion.js"></script>
    <link href="~/Content/Investic/MAI/mai_Site_Proyecto.css" rel="stylesheet" />
}
