﻿.panel_lateral{        
    background-color: #2184be;
    width:300px;
    height:490px;
    position: absolute;    
    right: -300px;
    top: 345px;
    display:block;
    cursor:pointer;    
    border-radius: 10px 0 0 10px;
    padding: 5px 0 5px 5px; 
    opacity: 0.8;
    filter: alpha(opacity=80); 
    overflow-y: scroll;
}
#tab {
    width:40px;
    height:50px;
    position: absolute;
    right: 0;
    top: 295px;
    display:block;
    cursor:pointer;
    background-color:#232526;
    border-radius: 10px 0 0 10px;
    padding: 5px 0 5px 5px; 
}       
#tab_interna {
    border-radius: 5px 0 0 5px;
    width: 100%;            
    height: 100%;
    background: #CCC url('../../images/left.png') no-repeat center center;
}               
#tab_interna:hover {
    background-position: left;
}
#tab_interna.expandida {
    background: #CCC url('../../images/right.png') no-repeat center center;
}       
#tab_interna.expandida:hover {
    background-position: right;
}