﻿body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;    
}


.metro .access {
  padding: 20px 40px 20px 60px;
  border: 1px #ccc solid;
  position: relative;
  margin: 0 0 10px 0;
  background-color: #fdfdfd !important;
  min-height: 100px;
}
.metro .access:before,
.metro .access:after {
  display: table;
  content: "";
}
.metro .access:after {
  clear: both;
}
.metro .access:before {
  position: absolute;
  content: "Control de Acceso";
  left: -21px;
  top: 80px;
  color: #999999 !important;
  margin: 5px 10px;
  font-family: 'Segoe UI Semibold_', 'Open Sans Bold', Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #000000;
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.4rem;
  line-height: 1.4rem;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.verticalSpan1{
    height: 40px;
}

.verticalSpan2{
    height: 80px;
}

.verticalSpan3{
    height: 120px;
}

.metro .user {
    position: absolute;
    right: 10px;
    background: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.6);    
    width: 250px;
    height: 60px;
    margin-top: 3px;
}

input#UserName.UserName {
    -moz-border-radius-topleft: 20px;
    -webkit-border-top-left-radius: 20px;
    border-top-left-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    -webkit-border-bottom-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid #848484;
    outline:0; 
    margin-top: 5px;
    height:20px; 
    width: 150px; 
    padding-left:10px; 
    background-color : #E6E6E6;    
    color: #2E2E2E;
}

input#Password.password{
    -moz-border-radius-topright: 20px; 
    -webkit-border-top-right-radius: 20px; 
    border-top-right-radius: 20px; 
    -moz-border-radius-bottomright: 20px; 
    -webkit-border-bottom-right-radius: 20px; 
    border-bottom-right-radius: 20px; 
    border: 1px solid #848484; 
    outline:0; 
    margin-top: 5px;
    height:20px; 
    width: 150px; 
    padding-right:10px;
    background-color : #E6E6E6;
    color: #2E2E2E;
}

#informacion-grupo{
    width: 100%;
    height: 50px;
    background-color: green;
}