﻿@model MAI.Models.DataBase.tblProyectosInvestigacion

@using MAI.Models.DataBase

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit", "MetodoProy", FormMethod.Post, new { id = "MetodoProy" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.tblMetodoProy.tblMetodoProy_ID)



    investicEntities db = new investicEntities();
    tblMetodoProy tblMetodoProy = Model.tblMetodoProy;
    //ViewBag.tblCriticoSocial = new SelectList(db.tblCriticoSocial, "tblCriticoSocial_ID", "critSoc_nombre", tblMetodoProy.tblCriticoSocial);
    //ViewBag.tblDisenioProy_ID = new SelectList(db.tblDiseniosProy, "tblDiseniosProy_ID", "disProy_nombre", tblMetodoProy.tblDisenioProy_ID);
    //ViewBag.tblHistoricoHermeneutico = new SelectList(db.tblHistoricoHermeneutico, "tblHistoricoHermeneutico_ID", "hisHerm_nombre", tblMetodoProy.tblHistoricoHermeneutico);
    ViewBag.tblParadigmaEpistemologico_ID = new SelectList(db.tblParadigmaEpistemologico, "tblParadigmaEpistemologico_ID", "parEpi_nombre", tblMetodoProy.tblParadigmaEpistemologico_ID);
    ViewBag.tblParadigmaMetodologico_ID = new SelectList(db.tblParadigmaMetodologico, "tblParadigmaMetodologico_ID", "parMet_nombre", tblMetodoProy.tblParadigmaMetodologico_ID);
    //ViewBag.tblTipoEstudioProy_ID = new SelectList(db.tblTipoEstudioProy, "tblTipoEstudioProy_ID", "tipEst_nombre", tblMetodoProy.tblTipoEstudioProy_ID);


    <div class="gridf fluid">
        @*ESTRUCTURA PARADIGMA METODOLOGICO*@
        <div class="row">
            <div class="span2">
                <strong>Paradigma Metodológico</strong>
            </div>
            <div class="span10 input-control select">
                @Html.DropDownList("tblParadigmaMetodologico_ID", "Seleccione Paradigma Epistemologico")
                @Html.ValidationMessage("Elija el paradigma Metodológico")
            </div>
        </div>
        <div class="row">
            <div class="offset2">
                <div class="input-control textarea">
                    <strong>Justifique el uso de Paradigma Metodológico</strong>
                    @Html.TextAreaFor(m => m.tblMetodoProy.metProy_paradigmaMetodologicoProy)
                    @Html.ValidationMessage("Justifique la elección del Paradigma Metodológico")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset2">
                <div class="panel" data-role="panel">
                    <div class="panel-header bg-blue fg-white">
                        Apreciaciones
                    </div>
                    <div class="panel-content" style="display: none">
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Retroalimentación asesores Investic</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev.tblMetodoProy_Rev.metProy_paradigmaMetodologicoProy)
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Sugerencia Evaluador 1</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev1.tblMetodoProy_Rev.metProy_paradigmaMetodologicoProy)
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Sugerencia Evaluador 2</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev2.tblMetodoProy_Rev.metProy_paradigmaMetodologicoProy)
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Asesoría de Grupo Investigación Colciencias</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev3.tblMetodoProy_Rev.metProy_paradigmaMetodologicoProy)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*ESTRUCTURA PARADIGMA EPISTEMOLOGICO*@
        <div class="row">
            <div class="span2">
                <strong>Paradigma Epistemológico</strong>
            </div>
            <div class="span10 input-control select">
                @Html.DropDownList("tblParadigmaEpistemologico_ID", "Seleccione Paradigma Epistemologico")
                @Html.ValidationMessage("Elija el paradigma Epistemológico")
            </div>

            <div class="offset2">
                <div class="row">
                    <div class="span2">
                        <strong>Tipo de Estudio</strong>
                    </div>
                    <div class="input-control select" data-role="input-control">
                        <select id="tblTipoEstudioProy_ID" name="tblTipoEstudioProy_ID"></select>
                    </div>
                </div>
            </div>

            <div class="offset2">
                <div class="row">
                    <div class="span2">
                        <strong>Diseños</strong>
                    </div>
                    <div class="input-control select" data-role="input-control">
                        <select id="tblDiseniosProy_ID" name="tblDiseniosProy_ID"></select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="offset2">
                    <div class="input-control textarea">
                        <strong>Justifique el uso de Paradigma Metodológico</strong>
                        @Html.TextAreaFor(m => m.tblMetodoProy.metProy_paradigmaEpistemologicoProy)
                        @Html.ValidationMessage("Justifique la eleción del paradigma Epistemológico")
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="offset2">
                <div class="panel" data-role="panel">
                    <div class="panel-header bg-blue fg-white">
                        Apreciaciones
                    </div>
                    <div class="panel-content" style="display: none">
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Retroalimentación asesores Investic</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev.tblMetodoProy_Rev.metProy_paradigmaEpistemologicoProy)
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Sugerencia Evaluador 1</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev1.tblMetodoProy_Rev.metProy_paradigmaEpistemologicoProy)
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Sugerencia Evaluador 2</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev2.tblMetodoProy_Rev.metProy_paradigmaEpistemologicoProy)
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Asesoría de Grupo Investigación Colciencias</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev3.tblMetodoProy_Rev.metProy_paradigmaEpistemologicoProy)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*ESTRUCTURA POBLACION Y MUESTRA*@
        <div class="row">
            <div class="span2">
                <strong>Población y Muestra</strong>
            </div>
            <div class="span10 input-control textarea">
                @Html.TextAreaFor(m => m.tblMetodoProy.metProy_poblacionMuestraProy)
            </div>
        </div>
        <div class="row">
            <div class="offset2">
                <div class="panel" data-role="panel">
                    <div class="panel-header bg-blue fg-white">
                        Apreciaciones
                    </div>
                    <div class="panel-content" style="display: none">
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Retroalimentación asesores Investic</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev.tblMetodoProy_Rev.metProy_poblacionMuestraProy)
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Sugerencia Evaluador 1</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev1.tblMetodoProy_Rev.metProy_poblacionMuestraProy)
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Sugerencia Evaluador 2</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev2.tblMetodoProy_Rev.metProy_poblacionMuestraProy)
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Asesoría de Grupo Investigación Colciencias</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev3.tblMetodoProy_Rev.metProy_poblacionMuestraProy)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*ESTRUCTURA TECNICAS E INSTRUMENTOS*@
        <div class="row">
            <div class="span2">
                <strong>Técnicas e Instrumentos de Recolección de Información</strong>
            </div>
            <div class="span10 input-control textarea">
                @Html.TextAreaFor(m => m.tblMetodoProy.metProy_tecnicasInstrumentosProy)
            </div>
        </div>
        <div class="row">
            <div class="offset2">
                <div class="panel" data-role="panel">
                    <div class="panel-header bg-blue fg-white">
                        Apreciaciones
                    </div>
                    <div class="panel-content" style="display: none">
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Retroalimentación asesores Investic</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev.tblMetodoProy_Rev.metProy_tecnicasInstrumentosProy)
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Sugerencia Evaluador 1</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev1.tblMetodoProy_Rev.metProy_tecnicasInstrumentosProy)
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Sugerencia Evaluador 2</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev2.tblMetodoProy_Rev.metProy_tecnicasInstrumentosProy)
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Asesoría de Grupo Investigación Colciencias</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev3.tblMetodoProy_Rev.metProy_tecnicasInstrumentosProy)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*ESTRUCTURA PROCEDIMIENTO*@
        <div class="row">
            <div class="span2">
                <strong>Procedimiento</strong>
            </div>
            <div class="span10 input-control textarea">
                @Html.TextAreaFor(m => m.tblMetodoProy.metProy_procedimientoProy)
            </div>
        </div>
        <div class="row">
            <div class="offset2">
                <div class="panel" data-role="panel">
                    <div class="panel-header bg-blue fg-white">
                        Apreciaciones
                    </div>
                    <div class="panel-content" style="display: none">
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Retroalimentación asesores Investic</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev.tblMetodoProy_Rev.metProy_procedimientoProy)
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Sugerencia Evaluador 1</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev1.tblMetodoProy_Rev.metProy_procedimientoProy)
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Sugerencia Evaluador 2</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev2.tblMetodoProy_Rev.metProy_procedimientoProy)
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Asesoría de Grupo Investigación Colciencias</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev3.tblMetodoProy_Rev.metProy_procedimientoProy)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*ESTRUCTURA PLAN DE ANALISIS DE DATOS*@
        <div class="row">
            <div class="span2">
                <strong>Plan de Análisis de Datos e Información</strong>
            </div>
            <div class="span10 input-control textarea">
                @Html.TextAreaFor(m => m.tblMetodoProy.metProy_planAnalisisDatosProy)
            </div>
        </div>
        <div class="row">
            <div class="offset2">
                <div class="panel" data-role="panel">
                    <div class="panel-header bg-blue fg-white">
                        Apreciaciones
                    </div>
                    <div class="panel-content" style="display: none">
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Retroalimentación asesores Investic</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev.tblMetodoProy_Rev.metProy_planAnalisisDatosProy)
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Sugerencia Evaluador 1</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev1.tblMetodoProy_Rev.metProy_planAnalisisDatosProy)
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Sugerencia Evaluador 2</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev2.tblMetodoProy_Rev.metProy_planAnalisisDatosProy)
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Asesoría de Grupo Investigación Colciencias</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev3.tblMetodoProy_Rev.metProy_planAnalisisDatosProy)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@*@section Scripts {
        <link href="~/Content/themes/base/all.css" rel="stylesheet" />
        <script src="~/Scripts/jquery-ui.min-1.11.1.js"></script>
        <script src="~/Scripts/Investic/MEpistemologicoCascading.js"></script>
        @Scripts.Render("~/bundles/jqueryval")
    }*@
