﻿@model INI.Models.DataBase.tblFechaCronograma


@{
    ViewBag.Title = "Create";
    Model.cro_FechaInicio = DateTime.Now;
    Model.cro_FechaFin = DateTime.Now;
}

<div class="row">
    @using (Html.BeginForm("Create", "FechasCronograma"))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("tblCronogramaProy_ID", Model.tblCronogramaProy_ID)

        <div class="row">
            <div class="span2">
                <strong>Actividad</strong>
            </div>
            <div class="span10 input-control text">
                @Html.EditorFor(m => m.cro_Actividad)
                @Html.ValidationMessage("¿Que actividad va a realizar?")
            </div>
        </div>
        <div class="row">
            <div class="span2">
                <strong>Fecha inicio</strong>
            </div>
            <div class="span4 input-control text size6" data-role="datepicker" data-format="dd/mm/yyyy" style='max-width: 130px'>
                @Html.TextBoxFor(m => m.cro_FechaInicio, "{0:dd/MM/yyyy}")
                <button class="btn btn-date" type="button"></button>
                @Html.ValidationMessage("Digite fecha de inicio")
            </div>
            <div class="span2">
                <strong>Fecha final</strong>
            </div>
            <div class="span4 input-control text size6" data-role="datepicker" data-format="dd/mm/yyyy" style='max-width: 130px'>
                @Html.TextBoxFor(m => m.cro_FechaFin, "{0:dd/MM/yyyy}")
                <button class="btn btn-date" type="button"></button>
                @Html.ValidationMessage("Digite fecha de inicio")
            </div>
        </div>
        <div class="row">
            <div class="span2">
                <strong>Indicador</strong>
            </div>
            <div class="span10 input-control text">
                @Html.EditorFor(m => m.cro_Indicador)
                @Html.ValidationMessage("Indicador")
            </div>
        </div>
        <div class="row">
            <button class="large bg-green fg-white" type="submit">
                Agregar Fecha
                <i class="icon-plus bg-green fg-white"></i>
            </button>
        </div>
    }
</div>