﻿@model IEnumerable<INI.Models.DataBase.tblProductosContratista>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InvSeguimiento.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_Producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUsers.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblActividadContratista.Id_Contratista)




            
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUsers.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblActividadContratista.Id_Contratista)

        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Producto }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Producto }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Producto })
        </td>
    </tr>
}

</table>
