﻿@*@model TestMAI.Models.DataBase.tblFechaCronograma*@
@model MAI.Models.DataBase.tblCronogramaProy
@using MAI.Models.DataBase;

@{
    ViewBag.Title = "Create";
}

<h2>Cronograma</h2>

<div class="grid fluid">
    <div class="row">
        <table id="miTablaCronograma" class="table striped hover">
            <thead>
                <tr>
                    <th>Actividad</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Final</th>
                    <th>Indicador</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.tblFechaCronograma)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => item.cro_Actividad)</td>
                        <td class="text-center">@Html.DisplayFor(m => item.cro_FechaInicio)</td>
                        <td class="text-center">@Html.DisplayFor(m => item.cro_FechaFin)</td>
                        <td>@Html.DisplayFor(m => item.cro_Indicador)</td>
                        <td>
                            <input type="button" value="Eliminar" onclick="location.href='@Url.Action("Delete", "CronogramaProy", new { id = item.tblFechaCronograma_ID})'" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="row">
        @*<h2>Agregar Fecha al Cronograma</h2>*@
        <button id="agregarFechaCronograma" type="button" class="large bg-green fg-white">
            Agregar Fecha al Cronograma
            <i class="icon-plus bg-gren fg-white"></i>
        </button>
    </div>
</div>

@*<div id="addFechaDialog">
    @{
        investicEntities db = new investicEntities();
        tblFechaCronograma miNuevaFecha = new tblFechaCronograma();
        miNuevaFecha.tblCronogramaProy_ID = Model.tblCronogramaProy_ID;
        Html.RenderPartial("Create", miNuevaFecha);
    //Html.RenderAction("Create", "FechasCronograma", new { id = Model.tblCronogramaProy_ID });
    }
</div>*@




@*@section Scripts{
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.min-1.11.1.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/DataTables-1.10.3/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Investic/MisTablas.js"></script>
    <script src="~/Scripts/Investic/FechaCronograma.js"></script>
}*@
