﻿@model INI.Models.DataBase.tblGaleriaImagenes
@using INI.Models.DataBase
@{
    ViewBag.Title = "Editar imagen";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
    var usu = User.Identity.Name;
    var rol = AspNetUsersRoles.IsUserInRole("Administrador", User.Identity.Name);
    if (!rol) { rol = AspNetUsersRoles.IsUserInRole("Administrator", User.Identity.Name); }
}
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/GaleriaImagenes">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/Noticias">
                                <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                            </a>
                        }
                        else
                        {
                            <a href="~/Admin/Editor?nombreu=@usu">
                                <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                            </a>
                        }
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/GaleriaImagenes">
                            <img src="~/images/botones_ruta_migas/editor/btn_gale_imag_a.png" title="Galeria de imagenes" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_editar.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br /><br /><br />
<style>
    .myrow {
        margin-top: 2px !important;
        margin-left: 20px;
    }
</style>

@using (Html.BeginForm("Edit", "GaleriaImagenes", FormMethod.Post, new { enctype = "multipart/form-data", id = "frn_catimg" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Imagen_url)
    <div class="panel">
        <div class="panel-header" style="font-family:Chewy">
            Editar imagen
        </div>
        <div class="panel-content">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Imagen_ID)
            <div class="grid">
                <div class="row myrow">
                    <div class="span2">
                        <label>Nombre<span style="color:red;">*</span></label>
                    </div>
                    <div id="box_tittle" class="span10">
                        @Html.EditorFor(model => model.Imagen_titulo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre de la imagen" } })
                        @Html.ValidationMessageFor(model => model.Imagen_titulo, "", new { @style = "color:red;!important" })
                        @if (ViewBag.SqlError != null)
                        {
                            <span style="color:red">@ViewBag.SqlError</span>
                        }
                    </div>
                </div>
                <div class="row myrow">
                    <div class="span2">
                        <label>Descripción<span style="color:red;">*</span></label>
                    </div>
                    <div id="box_descrip" class="span10">
                        @Html.EditorFor(model => model.Imagen_descripcion, new { htmlAttributes = new { @class = "form-control", @placeholder = "Descripción de la imagen" } })
                        @Html.ValidationMessageFor(model => model.Imagen_descripcion, "", new { @style = "color:red;!important" })
                    </div>
                </div>
                <div class="row myrow">
                    <div id="lb_edimg" class="span2">
                        <label>¿Desea actualizar la imagen?</label>
                    </div>
                    <div class="span2" style="text-align:center">
                        <a style="font-size:25px" href="@Model.Imagen_url" target="_blank"><img src="@Model.Imagen_url" style="width:60%" /></a>
                    </div>
                    <div class="span8">
                        <div class="input-control radio">
                            <label>
                                <input type="radio" id="rd_yes" name="rd_notportada" />
                                <span class="check"></span>
                                Sí
                            </label>
                        </div>

                        <div class="input-control radio">
                            <label>
                                <input type="radio" id="rd_no" name="rd_notportada" checked />
                                <span class="check"></span>
                                No
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row myrow" id="box_portada" style="display:none">
                    <div class="span2">
                        <label>Url imagen<span style="color:red;">*</span></label>
                    </div>
                    <div id="box_img" class="span10" style="cursor:pointer">
                        <div class="input-control file">
                            <input id="Imagen_urlfile" name="Imagen_urlfile" type="file" maxlength="500" data-transform="input-control" required message="Error Usted no selecciono el archivo [image/jpeg]" />
                            @*<input id="Imagen_url" name="Imagen_url" type="file" maxlength="500" data-transform="input-control" required message="Error Usted no selecciono el archivo [images/..../png,jpg,gif]" accept="images/..../png, images/..../jpg, images/..../gif" z-index="99" size="500" title="Error Usted no selecciono el archivo [png/jpg/gif]" />*@
                            <button class="btn btn-file"></button>
                        </div>
                        @*@Html.ValidationMessageFor(model => model.Imagen_url, "", new { @style = "color:red;!important" })*@
                        <span id="lbl_Rq_Imagen_url" style="color:red;display:none">La imagen es requerida</span><br />
                        <span id="lbl_Imagen_url" style="color:red;display:none">Solo se permiten imagenes con extensión .png, .jpg, .gif</span><br />
                        <span id="lbl_catimagesize" style="color:red;display:none">Solo se admiten imágenes con tamaño inferior o igual a 3Mb</span>
                    </div>
                </div>
                <div class="row myrow">
                    <div class="span2">
                        <label>Categoría</label>
                    </div>
                    <div id="Categoria" class="span10" style="cursor:pointer">
                        <div class="input-control select size4">
                            @Html.DropDownList("cat_ID")
                            @Html.ValidationMessageFor(model => model.cat_ID)
                        </div>
                    </div>
                </div>

                <br />
                <div class="row myrow">
                    <div class="span6">
                        <div>
                            <input type="submit" value="Guardar" class="button medium primary" />
                            @Html.ActionLink("Regresar", "Index", null, new { @class = "button medium primary", style = "margin-left:15px;" })
                        </div>
                    </div>
                    @*<div class="span10">
                            <a href="/GaleriaImagenes" class="button medium primary">Cancelar</a>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
}
<div style="display:none;">
    <div id="boxtitle">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es tu título?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar un título.
    </div>
</div>
<div style="display:none;">
    <div id="boximg">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es la imagen?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar una url de la imagen.
    </div>
</div>
<div style="display:none;">
    <div id="boxdescrip">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es su descripción?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar una descripción.
    </div>
</div>
<div style="display:none;">
    <div id="boxCategoria">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es la categoría?</strong></b><br /><br />
        Aquí puedes seleccionar la categoría.
    </div>
</div>
<div style="display:none;">
    <div id="lbedImage">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Actualizar la imagen</strong></b><br /><br />
        Aquí puedes ingresar una nueva imagen. Este campo es obligatorio.
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(function () {
            
            $("#rd_yes").click(function () {
                $("#box_portada").show();
            });
            $("#rd_no").click(function () {
                $("#Imagen_urlfile").val("");
                $("#Imagen_urlfile").next().val("")
                $("#box_portada").hide();
            });

            $("#lbl_Imagen_url").hide();
            $("#frn_catimg").submit(function (e) {
                var filesize = this.Imagen_urlfile.files[0].size / 1024;
                var img = this.Imagen_urlfile.value;
                var cerror = 0;

                if (img != null && img != "") {
                    $("#lbl_Rq_Imagen_url").hide();
                    $("#lbl_Imagen_url").hide();
                    console.log("Validado");
                }
                else {
                    $("#lbl_Rq_Imagen_url").show();
                    cerror++;
                }
                if (filesize <= 3 * 1024) {
                        $("#lbl_catimagesize").hide();
                }
                else {
                    $("#lbl_catimagesize").show();
                    cerror++;
                }
                
                if (img.match("^.*\.(png|PNG|jpg|JPG|gif|GIF)$")) {
                    $("#lbl_Imagen_url").hide();
                    $("#lbl_Rq_Imagen_url").hide();
                    console.log("Validado");
                }
                else {
                    $("#lbl_Imagen_url").show();
                    cerror++;
                }
                if (cerror > 0) return false;
            });
        });
        $('#box_tittle').webuiPopover({ url: '#boxtitle', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#box_img').webuiPopover({ url: '#boximg', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#box_descrip').webuiPopover({ url: '#boxdescrip', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#Categoria').webuiPopover({ url: '#boxCategoria', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#lb_edimg').webuiPopover({ url: '#lbedImage', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
    </script>
}


