﻿@model IEnumerable<INI.Models.DataBase.tblGaleriaImagenes>
@using INI.Models.DataBase
@{
    Layout = "~/Views/Shared/_InvEditor.cshtml";
    var usu = User.Identity.Name;
    var rol = AspNetUsersRoles.IsUserInRole("Administrador", User.Identity.Name);
    if (!rol) { rol = AspNetUsersRoles.IsUserInRole("Administrator", User.Identity.Name); }
}
                      <div id="ruta_miga">
                          <table>
                              <tr>
                                  <td rowspan="2">
                                      <ul id="img_fijos">
                                          <li>
                                              @if (rol == true)
                                                {
                                                    @*<a href="~/Noticias">*@
                                                  <a href="javascript:history.back(1)">
                                                        <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                                                    </a>
                                                }
                                                else
                                                {
                                                    @*<a href="~/Admin/Editor?nombreu=@usu">*@
                                                  <a href="javascript:history.back(1)">
                                                        <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                                                    </a>
                                                }
                                          </li>
                                      </ul>
                                  </td>
                                  <td>
                                      <ul>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                                          </li>
                                      </ul>

                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <ul id="img_variables">
                                          <li>
                                              <a href="~/Home">
                                                  <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              @if (rol == true)
                                                {
                                                    <a href="~/Noticias">
                                                        <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a href="~/Admin/Editor?nombreu=@usu">
                                                        <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                                                    </a>
                                                }
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/editor/btn_gal_imagenes.png" title="Galeria de imagenes" />
                                          </li>
                                      </ul>
                                  </td>
                              </tr>
                          </table>
                      </div>
                      <br /><br /><br /><br /><br /><br />

    

    <p>
        @Html.ActionLink("Nueva imagen", "Create", "", new { @class = "button large bg-green" })
    </p>

    <table id="Tabla" class="table" style="width:100%">
        <thead>
            <tr>
                <th>
                    Título
                </th>
                <th width="20%">
                    Descripción
                </th>
                <th width="20%">
                    Imagen
                </th>
                <th>
                    Categoría
                </th>
                <th width="15%"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Imagen_titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Imagen_descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Imagen_url)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tblCategoriaImagenes.cat_Nombre)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Imagen_ID }) |
                        @*@Html.ActionLink("Ver", "Details", new { id = item.Imagen_ID }) |*@
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.Imagen_ID })
                    </td>
                </tr>
            }
        </tbody>
    </table>


@section Scripts{
    <script src="~/Scripts/DataTables-1.10.4/jquery.dataTables.js"></script>
    <script>
        $(function () {
            $('#Tabla').dataTable({
                "sPaginationType": "full_numbers",
                "oLanguage": {
                    "sUrl": "../../Lang/es-CO.txt"
                }
            });

        });

    </script>
}