﻿@model SEG.Models.DataBase.evidencia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>evidencia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Evidencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Evidencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion_Evidencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion_Evidencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.actividade.Id_Contratista)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actividade.Id_Contratista)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Evidencia }) |
    @Html.ActionLink("Back to List", "Index")
</p>
