﻿@model INI.Models.DataBase.tbNetVirtualResource
@using INI.Models.DataBase
@{
    ViewBag.Title = "Create";
    String ctrl = ViewBag.ControllerName;
    Layout = "~/Views/Shared/_InvRVC.cshtml";
    var rol = AspNetUsersRoles.IsUserInRole("Maestro", User.Identity.Name);
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/tbNetVirtualResources">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/Home/MenuMaestro">
                                <img src="~/images/botones_ruta_migas/iep/btn_maestro.png" title="Maestro" />
                            </a>
                        }
                        else
                        {
                            <a href="~/Home/MenuEstudiante">
                                <img src="~/images/botones_ruta_migas/iep/btn_estudiantes.png" title="Estudiantes" />
                            </a>
                        }

                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/tbNetVirtualGroups/Index">
                            <img src="~/images/botones_ruta_migas/rvc/btn_RVC.png" title="Red virtual conocimiento" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/tbNetVirtualResources">
                            <img src="~/images/botones_ruta_migas/rvc/btn_mis_rec_a.png" title="Mis recursos" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_crear.png" title="Crear" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br />
@*@Html.ActionLink("Mis recursos", "Index", "tbNetVirtualResources", null, new { @class = "button bg-blue large" })*@

@using (Html.BeginForm("Create", ctrl, FormMethod.Post, new { enctype = "multipart/form-data", id="frm_virtualResource" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="panel">
        <div class="panel-header">
            <strong> Recursos</strong>
        </div>
        <div class="panel-content">
            <div class="grid">
                <div class="row">
                    <div class="span2">
                        <div style="padding-left:37px">
                            <label id="lbl_resourse" class="control-label">Recurso <span style="color:red">*</span></label>
                        </div>
                    </div>
                    <div class="span10">
                        <div class="input-control file info-state" data-role="input-control">
                            @Html.EditorFor(model => model.resource, new { htmlAttributes = new { @class = "form-control" } })                            
                            <button class="btn-file" type="button"></button>
                        </div>                        
                        <span id="lbl_urlresourcereq" style="display:none" class="text-danger">El recurso es obligatorio</span> 
                        <span id="lbl_urlresource" style="display:none" class="text-danger">No se admiten archivos ejecutables</span> 
                    </div>
                </div>

                <div class="row">
                    <div class="span2">
                        <div style="padding-left:37px">
                            <label id="nameresourse" class="control-label">Nombre <span style="color:red">*</span></label>
                        </div>
                    </div>
                    <div class="span10">
                        <div id="namerecurso" class="input-control text" data-role="input-control">
                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                            <button class="btn-clear" tabindex="-1" type="button"></button>
                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span2">
                        <div style="padding-left:37px">
                            <label id="lbl_descripcion" class="control-label">Descripción </label>
                        </div>
                    </div>
                    <div class="span10">
                        <div id="description" class="input-control text" data-role="input-control">
                            @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                            <button class="btn-clear" tabindex="-1" type="button"></button>
                            @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="span2">
                        <div style="padding-left:37px">
                            <label id="lbl_category" class="control-label">Categoría </label>
                        </div>
                    </div>

                    <div class="span10">
                        <div id="category" class="input-control select">
                            @Html.DropDownList("idCategory", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.idCategory, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="span2">

                    </div>
                    <div class="span10">
                        <div>
                            <input type="submit" value="Crear" class="button medium primary" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}

<div style="display:none;">
    <div id="resourse1">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Recurso</strong></b><br /><br />
        Aquí debes anexar el recurso.
    </div>
</div>
<div style="display:none;">
    <div id="resourse2">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Recurso</strong></b><br /><br />
        Aquí debes anexar el recurso.
    </div>
</div>

<div style="display:none;">
    <div id="nombreresourse1">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es el nombre del recurso?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar el nombre del recurso.
    </div>
</div>
<div style="display:none;">
    <div id="nombreresourse2">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es el nombre del recurso?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar el nombre del recurso.
    </div>
</div>

<div style="display:none;">
    <div id="descripcion1">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Descripción del recurso</strong></b><br /><br />
        En este campo escriba la descripción del recurso.
    </div>
</div>
<div style="display:none;">
    <div id="descripcion2">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Descripción del recurso</strong></b><br /><br />
        En este campo escriba la descripción del recurso.
    </div>
</div>

<div style="display:none;">
    <div id="category1">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Categoría</strong></b><br /><br />
        En este campo elija la categoría para el recurso.
    </div>
</div>
<div style="display:none;">
    <div id="category2">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Categoría</strong></b><br /><br />
        En este campo elija la categoría para el recurso.
    </div>
</div>


@section Scripts {

    <script>
        $('#lbl_resourse').webuiPopover({ url: '#resourse1', trigger: 'hover', style: 'inverse', placement: 'right', width: '400px' });
        $('.btn-file').webuiPopover({ url: '#resourse2', trigger: 'hover', style: 'inverse', placement: 'top', width: '400px' });
        $('#nameresourse').webuiPopover({ url: '#nombreresourse1', trigger: 'hover', style: 'inverse', placement: 'right', width: '400px' });
        $('#namerecurso').webuiPopover({ url: '#nombreresourse2', trigger: 'hover', style: 'inverse', placement: 'top', width: '400px' });
        $('#lbl_descripcion').webuiPopover({ url: '#descripcion1', trigger: 'hover', style: 'inverse', placement: 'right', width: '400px' });
        $('#description').webuiPopover({ url: '#descripcion2', trigger: 'hover', style: 'inverse', placement: 'top', width: '400px' });
        $('#lbl_category').webuiPopover({ url: '#category1', trigger: 'hover', style: 'inverse', placement: 'right', width: '400px' });
        $('#category').webuiPopover({ url: '#category2', trigger: 'hover', style: 'inverse', placement: 'top', width: '400px' });
    </script>

    <script>
        $(function () {
            $("#lbl_urlresource").hide();
            
            $("#frm_virtualResource").submit(function (e) {

                var img = this.resource.value;
                if (img != "" && img != null) {
                    $("#lbl_urlresourcereq").hide();
                    console.log("Validado");              
                }
                else{
                    $("#lbl_urlresourcereq").show();
                    return false;
                }
                if (!img.match("^.*\.(exe|Exe|EXE)$")) {
                    $("#lbl_urlresource").hide();
                    console.log("Validado");                    
                }                
                else {
                    $("#lbl_urlresource").show();                    
                    return false;
                }
                
            });
        });
    </script>
}




