﻿@model INI.Models.DataBase.tbNetVirtualResource
@using INI.Models.DataBase
@{
    ViewBag.Title = "Delete";
    String ctrl=ViewBag.ControllerName;
    Layout = "~/Views/Shared/_InvRVC.cshtml";
    var rol = AspNetUsersRoles.IsUserInRole("Maestro", User.Identity.Name);
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/tbNetVirtualResources">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/Home/MenuMaestro">
                                <img src="~/images/botones_ruta_migas/iep/btn_maestro.png" title="Maestro" />
                            </a>
                        }
                        else
                        {
                            <a href="~/Home/MenuEstudiante">
                                <img src="~/images/botones_ruta_migas/iep/btn_estudiantes.png" title="Estudiantes" />
                            </a>
                        }

                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/tbNetVirtualGroups/Index">
                            <img src="~/images/botones_ruta_migas/rvc/btn_RVC.png" title="Red virtual conocimiento" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/tbNetVirtualResources">
                            <img src="~/images/botones_ruta_migas/rvc/btn_mis_rec_a.png" title="Mis recursos" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_eliminar.png" title="Eliminar" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br />
@*@Html.ActionLink("Mis recursos", "Index", "tbNetVirtualResources", null, new { @class = "button bg-blue large" })*@

<label style="font-family:Chewy; font-size:22px; color: #00B8D4">¿Esta seguro de eliminar este recurso?</label>

<div class="panel">
    <div class="panel-header">
        <strong> Detalles</strong>
    </div>
    <div class="panel-content" style="height:370px">
        <div class="grid">
            <div class="row">
                <div class="span2">
                    <div style="padding-left:37px">
                        <label id="lbl_resourse" class="control-label">Recurso </label>
                    </div>
                </div>
                <div class="span10">
                    <div>
                        <a href="@Url.Action("DowloadFile", new { id = Model.id, FileId = "resource" })" target="_blank" class="glyphicon glyphicon-download-alt"></a>
                        @*<img src="@Url.Action("DowloadFile", new { id = Model.id, FileId = "resource" })" width="100px"/>*@                        
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="span2">
                    <div style="padding-left:37px">
                        <label id="lbl_resourse" class="control-label">Nombre </label>
                    </div>
                </div>
                <div class="span10">
                    <div>
                        @Html.DisplayFor(model => model.name)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="span2">
                    <div style="padding-left:37px">
                        <label id="lbl_resourse" class="control-label">Descripción </label>
                    </div>
                </div>
                <div class="span10">
                    <div>
                       @Html.DisplayFor(model => model.description)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="span2">
                    <div style="padding-left:37px">
                        <label id="lbl_resourse" class="control-label">Categoria </label>
                    </div>
                </div>
                <div class="span10">
                    <div>      
                        <img src="@Url.Action("DowloadFile", "tbNetVirtualCategoryResources", new { id = Model.tbNetVirtualCategoryResource.id, FileId = "image" })" width="100px" />
                        @Html.DisplayFor(model => model.tbNetVirtualCategoryResource.name)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="span2">

                </div>
                <div class="span10">                    
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-actions no-color">
                                <input type="submit" value="Eliminar" class="button large primary" />
                            </div>
                        }                    
                </div>
            </div>
        </div>
    </div>
</div>

     
