﻿@model IEnumerable<INI.Models.RVC.NetVirtualResource>
@using INI.Models.DataBase
@{
    String ctrl=ViewBag.ControllerName;
	var modelName = "tbl_"+ctrl;
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InvRVC.cshtml";
    var rol = AspNetUsersRoles.IsUserInRole("Maestro", User.Identity.Name);
}
                      <div id="ruta_miga">
                          <table>
                              <tr>
                                  <td rowspan="2">
                                      <ul id="img_fijos">
                                          <li>
                                              @*<a href="~/tbNetVirtualGroups">*@
                                              <a href="javascript:history.back(1)">
                                                  <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                                              </a>
                                          </li>
                                      </ul>
                                  </td>
                                  <td>
                                      <ul>
                                          <li>
                                              <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                                          </li>
                                      </ul>

                                  </td>
                              </tr>

                              <tr>
                                  <td>
                                      <ul id="img_variables">
                                          <li>
                                              <a href="~/Home">
                                                  <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              @if (rol == true)
                                              {
                                                  <a href="~/Home/MenuMaestro">
                                                      <img src="~/images/botones_ruta_migas/iep/btn_maestro.png" title="Maestro" />
                                                  </a>
                                              }
                                              else
                                              {
                                                  <a href="~/Home/MenuEstudiante">
                                                      <img src="~/images/botones_ruta_migas/iep/btn_estudiantes.png" title="Estudiantes" />
                                                  </a>
                                              }

                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                              <a href="~/tbNetVirtualGroups">
                                                  <img src="~/images/botones_ruta_migas/rvc/btn_RVC.png" title="Red virtual conocimiento" />
                                              </a>
                                          </li>
                                          <li>
                                              <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                                          </li>
                                          <li>
                                                 <img src="~/images/botones_ruta_migas/rvc/btn_mis_rec_v.png" title="Mis recursos" />
                                          </li>
                                      </ul>
                                  </td>
                              </tr>
                          </table>
                      </div>
<br/><br /><br />
<label style="font-family:Chewy; font-size: 30px; color: #00B8D4">Mis Recursos</label>

<p>
    @*@Html.ActionLink(" ", "Create", null, new { @class = "icon-plus-2" })*@
    @Html.ActionLink(" Crear", "Create" ,null, new { @class = "button large primary" })    
    @*@Html.ActionLink("RVC", "Index", "tbNetVirtualGroups", null, new { @class = "button bg-blue large" })*@
    
</p>
<table id="@modelName" class="table">
	<thead>
		<tr>
            
			<th>
				Nombre
			</th>
            
			<th>
				Descripción
			</th>            
			<th>
				Categoría
			</th>
            <th>
                Categoría img
            </th>
			<th></th>
		</tr>
	</thead>
	<tbody>

	@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.description)
			</td>			
			<td>
				@Html.DisplayFor(modelItem => item.Category)
			</td>
            <td>
                <img src="@Url.Action("DowloadFile", "tbNetVirtualCategoryResources", new { id = item.idCategory, FileId = "image" })" width="100px" />
            </td>
			<td>
                
                    <a href="@Url.Action("DowloadFile", new { id = item.id, FileId = "resource" })" target="_blank" class="icon-download-2">Recurso  </a>
                    @*<img src="@Url.Action("DowloadFile", new { id = item.id, FileId = "resource" })" width="100px"/>*@       
                

				@Html.ActionLink("Editar", "Edit", new { id = item.id }) |
               @*@Html.ActionLink(" ", "Details", new { id = item.id, }, new { @class = "icon-clipboard-2" }) |*@
                @Html.ActionLink("Eliminar ", "Delete", new { id = item.id })
			</td>
		</tr>
	}
	</tbody>
</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#@modelName').DataTable
                (
                    {
                        "language": {
                            "url": "Lang/es-Co.txt"
                        }
                    }
                );
        });
    </script>
}
