﻿@model IEnumerable<SEG.Models.DataBase.responsabilidade>

@{

}

<h2>Responsabilidades</h2>

<p>
    @Html.ActionLink("Nueva Responsabilidad", "Create")
</p>
<table id="mitabla" class="table striped hover">
    <thead>
        <tr>
            <th>
               Cedula
            </th>
            <th>
                Usuario
            </th>
            <th>Descripcion</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUser.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=> item.AspNetUser.Nombres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |

                    @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
                </td>
            </tr>

        }
    </tbody>
</table>
@section Scripts {

<script src="~/Scripts/jquery-ui-1.11.1.js"></script>
<script src="~/Scripts/DataTables-1.10.3/jquery.dataTables.min.js"></script>
<script src="~/Scripts/mitabla.js"></script>
<link href="~/Content/themes/base/all.css" rel="stylesheet" />

@Scripts.Render("~/bundles/jqueryval")  
}


