﻿@using INI.Models.DataBase
@model IEnumerable<INI.Models.DataBase.tblResponsabContratista>

@{
    Layout = "~/Views/Shared/_InvSeguimiento.cshtml";
}

<h2>Responsabilidades</h2>

<p>
    @Html.ActionLink("Ingresar Nueva Responsabilidad", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUsers.UserName)
        </th>
        <th></th>
    </tr>

    @foreach (tblResponsabContratista item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUsers.UserName)

            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {id = item.Id}) |
                @Html.ActionLink("Detalles", "Details", new {id = item.Id}) |
                @Html.ActionLink("Borrar", "Delete", new {id = item.Id})
            </td>
        </tr>
    }

</table>