﻿@model INI.Models.DataBase.CategoriaRevista
@using INI.Models.DataBase
@{
    ViewBag.Title = "Crear categoría revista";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
    var usu = User.Identity.Name;
    var rol = AspNetUsersRoles.IsUserInRole("Administrador", User.Identity.Name);
    if (!rol) { rol = AspNetUsersRoles.IsUserInRole("Administrator", User.Identity.Name); }
}
<style>
    .myrow {
        margin-top: 2px !important;
        margin-left: 20px;
    }
</style>
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/CategoriaRevistas">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/Noticias">
                                <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                            </a>
                        }
                        else
                        {
                            <a href="~/Admin/Editor?nombreu=@usu">
                                <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                            </a>
                        }
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Revistas">
                            <img src="~/images/botones_ruta_migas/editor/btn_revista_a.png" title="Revistas" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/CategoriaRevistas">
                            <img src="~/images/botones_ruta_migas/editor/btn_categoria_a.png" title="Categoria revistas" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_crear.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br /><br /><br />

@using (Html.BeginForm("Create", "CategoriaRevistas", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm_crev" }))
{
    @Html.AntiForgeryToken()
    <div class="panel">
        <div class="panel-header" style="font-family:Chewy">
            Crear categoría de revista
        </div>
        <div class="panel-content">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="grid">
                <div class="row myrow">
                    <div id="lb_tittle" class="span2">
                        <label>Nombre<span style="color:red;">*</span></label>
                    </div>
                    <div id="box_tittle" class="span10">
                        @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre de categoría" } })
                        @Html.ValidationMessageFor(model => model.nombre, "", new { @style = "color:red;!important" })
                        @if (ViewBag.SqlError != null)
                        {
                            <span style="color:red">@ViewBag.SqlError</span>
                        }
                    </div>
                </div>
                @*<div class="row myrow">
                    <div class="span2">
                        @Html.LabelFor(model => model.urlimg)
                    </div>
                    <div class="span10">
                        <div class="input-control file">
                            <input id="urlimg" name="urlimg" type="file" accept=".png,.jpg,.gif" />
                            <button class="btn btn-file"></button>                            
                        </div>
                        @Html.ValidationMessageFor(model => model.urlimg)
                    </div>
                </div>*@
                <div class="row myrow">
                    <div id="lb_img" class="span2">
                        <label>Imagen<span style="color:red;">*</span></label>
                    </div>
                    <div id="box_img" class="span10" style="cursor:pointer">
                        <div class="input-control file">
                            <input id="urlimg" name="urlimg" type="file" maxlength="500" data-transform="input-control" required message="Error Usted no selecciono el archivo [images/..../png,jpg,gif]" accept="images/..../png, images/..../jpg, images/..../gif" z-index="99" size="500" title="Error Usted no selecciono el archivo [png/jpg/gif]" />
                            <button class="btn btn-file"></button>
                        </div>
                            @*@Html.ValidationMessageFor(model => model.urlfront, "", new { @style = "color:red;!important" })*@
                            <span id="lbl_Rq_urlimg" style="color:red;display:none">La imagen es requerida</span><br/>
                            <span id="lbl_urlimg" style="color:red;display:none">Solo se permiten imagenes con extensión .png, .jpg, .gif</span><br />
                            <span id="lbl_revistasize" style="color:red;display:none">Solo se admiten imágenes con tamaño inferior o igual a 3Mb</span>
                    </div>
                </div>
                <br />
                <div class="row myrow">
                    <div class="span2">
                        <div>
                            <input type="submit" value="Guardar" class="button medium primary" />
                        </div>
                    </div>
                    <div class="span10">
                        <a href="@Url.Action("Index")" class="button medium primary">Regresar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div style="display:none;">
    <div id="lbtitle">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es tu título?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar un título.
    </div>
</div>
<div style="display:none;">
    <div id="lbimg">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es la imagen de la categoría?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar una url de la imagen.
    </div>
</div>
<div style="display:none;">
    <div id="boxtitle">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es tu título?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar un título.
    </div>
</div>
<div style="display:none;">
    <div id="boximg">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Cuál es la imagen de la categoría?</strong></b><br /><br />
        Este campo es obligatorio. Aquí debes ingresar una url de la imagen.
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            $("#lbl_urlimg").hide();           
            $("#frm_crev").submit(function (e) {
                
                var img = this.urlimg.value;
                var cerror = 0;

                if (img != null && img != "") {
                    $("#lbl_Rq_urlimg").hide();
                    $("#lbl_urlimg").hide();
                    console.log("Validado");
                }
                else {
                    $("#lbl_Rq_urlimg").show();
                    cerror++;
                }
                if (cerror == 0) {
                    var filesize = this.urlimg.files[0].size / 1024;
                    if (filesize <= 3 * 1024) {
                        $("#lbl_revistasize").hide();
                    }
                    else {
                        $("#lbl_revistasize").show();
                        cerror++;
                    }
                }

                if (img.match("^.*\.(png|PNG|jpg|JPG|gif|GIF)$")) {
                    $("#lbl_urlimg").hide();
                    $("#lbl_Rq_urlimg").hide();
                    console.log("Validado");
                }
                else {
                    $("#lbl_urlimg").show();
                    cerror++;
                }
                if (cerror > 0) return false;
            });
        });
        $('#lb_tittle').webuiPopover({ url: '#lbtitle', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#lb_img').webuiPopover({ url: '#lbimg', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#box_tittle').webuiPopover({ url: '#boxtitle', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#box_img').webuiPopover({ url: '#boximg', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
    </script>
}

