﻿@model MAI.Models.DataBase.tblProductosAcademicos

@{
    ViewBag.Title = "Adicionar Producto Academico";
}

<div class="grid fluid">
    <h2>Adicionar Producto Academico</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Hidden("tblHojaVida_ID", (object)ViewBag.idHojaVida)

        <div class="form-control">

            <div class="form-group span6">
                @Html.Label("Titulo del Producto Académico")
                <div class="input-control text" data-role="input-control">
                    @Html.EditorFor(model => model.proaca_tituloProducto)
                    <button type="button" class="btn btn-clear" tabindex="-1"></button>
                    @Html.ValidationMessageFor(model => model.proaca_tituloProducto)
                </div>
            </div>

            <div class="form-group span6">
                @Html.Label("Fecha de Publicación del Producto Académico")
                <div class="input-control text" data-role="datepicker" data-format="dd/mm/yyyy">
                    @Html.TextBoxFor(m => m.proaca_anoTerminacion, "{0:dd/MM/yyyy}")
                    <button class="btn btn-date" type="button"></button>
                    @Html.ValidationMessage("Digite fecha")
                </div>
            </div>

            <div class="form-group span6">
                @Html.Label("Categoría del Producto Académico")
                <div class="input-control select">
                    @Html.DropDownList("tblCategoriaProductos_ID")
                    @Html.ValidationMessageFor(model => model.tblCategoriaProductos_ID)
                </div>
            </div>

            <button class="large bg-green fg-white" type="submit">
                Agregar Producto Académico
                <i class="icon-plus bg-green fg-white"></i>
            </button>

            <div class="form-group">
                <h3>
                    @Html.ActionLink("Regresar", "Investigacion", new { id = (object)ViewBag.idUsuarioPlataforma })
                </h3>
            </div>

        </div>
    }
</div>