﻿@model MAI.Models.DataBase.tblNivelLengua

@{
    ViewBag.Title = "Adicionar Lengua";
}


<div class="grid fluid">
    <h2>Adicionar Lenguas</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Hidden("tblHojaVida_ID", (object)ViewBag.idHojaVida)

        <div class="form-control">
            <div class="form-group span6">
                @Html.Label("Lengua")
                <div class="input-control select">
                    @Html.DropDownList("tblLenguas_ID")
                    @Html.ValidationMessageFor(model => model.tblLenguas_ID)
                </div>
            </div>

            <div class="form-group span6">
                @Html.Label("Nivel")
                <div class="input-control select">
                    @Html.DropDownList("tblNivel_ID")
                    @Html.ValidationMessageFor(model => model.tblNivel_ID)
                </div>
            </div>

            <button class="large bg-green fg-white" type="submit">
                Agregar Lengua
                <i class="icon-plus bg-green fg-white"></i>
            </button>

            <div class="form-group">
                <h3>
                    @Html.ActionLink("Regresar", "FormacionYExperiencia", new { id = (object)ViewBag.idUsuarioPlataforma })
                </h3>
            </div>

        </div>
    }

</div>
