﻿@model MAI.Models.DataBase.tblTituloEducacionSuperior

@{
    ViewBag.Title = "Adicionar Titulo";
}

<div class="grid fluid">
    <h2>Adicionar Titulo</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Hidden("tblHojaVida_ID", (object)ViewBag.idHojaVida)

        <div class="form-control">
            <div class="form-group span6">
                @Html.Label("Titulo Educación Superior")
                <div class="input-control text" data-role="input-control">
                    @Html.EditorFor(model => model.titEduSup_nombre)
                    <button type="button" class="btn btn-clear" tabindex="-1"></button>
                    @Html.ValidationMessageFor(model => model.titEduSup_nombre)
                </div>
            </div>

            <div class="form-group span6">
                @Html.Label("Fecha de Graduación")
                <div class="input-control text" data-role="datepicker" data-format="dd/mm/yyyy">
                    @Html.TextBoxFor(m => m.titEduSup_anoGraduacion, "{0:dd/MM/yyyy}")
                    <button class="btn btn-date" type="button"></button>
                    @Html.ValidationMessage("Digite fecha de graduación")
                </div>
            </div>

            <div class="form-group span6">
                @Html.Label("Nivel Académico")
                <div class="input-control select">
                    @Html.DropDownList("tblNivelAcademicoEducacionSuperior_ID")
                    @Html.ValidationMessageFor(model => model.tblNivelAcademicoEducacionSuperior_ID)
                </div>
            </div>

            <button class="large bg-green fg-white" type="submit">
                Agregar Título
                <i class="icon-plus bg-green fg-white"></i>
            </button>

            <div class="form-group">
                <h3>
                    @Html.ActionLink("Regresar", "FormacionYExperiencia", new { id = (object)ViewBag.idUsuarioPlataforma })
                </h3>
            </div>
        </div>
    }

</div>