﻿@model MAI.Models.DataBase.tblExperienciaProyectos

@{
    ViewBag.Title = "Adicionar Proyecto";
}

<div class="grid fluid">
    <h2>Adicionar Proyecto</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Hidden("tblHojaVida_ID", (object)ViewBag.idHojaVida)

        <div class="form-control">
            <div class="form-group span6">
                @Html.Label("Título del Proyecto")
                <div class="input-control text" data-role="input-control">
                    @Html.EditorFor(model => model.exppro_tituloProyecto)
                    <button type="button" class="btn btn-clear" tabindex="-1"></button>
                    @Html.ValidationMessageFor(model => model.exppro_tituloProyecto)
                </div>
            </div>

            <div class="form-group span6">
                @Html.Label("Fecha de Terminación del Proyecto")
                <div class="input-control text" data-role="datepicker" data-format="dd/mm/yyyy">
                    @Html.TextBoxFor(m => m.exppro_anoTerminacion, "{0:dd/MM/yyyy}")
                    <button class="btn btn-date" type="button"></button>
                    @Html.ValidationMessage("Digite fecha")
                </div>
            </div>

            <button class="large bg-green fg-white" type="submit">
                Agregar Proyecto
                <i class="icon-plus bg-green fg-white"></i>
            </button>

            <div class="form-group">
                <h3>
                    @Html.ActionLink("Regresar", "Investigacion", new { id = (object)ViewBag.idUsuarioPlataforma })
                </h3>
            </div>

        </div>
    }
</div>