﻿@model MAI.Models.DataBase.tblHojaVida

@{
    ViewBag.Title = "Modificar Hoja de Vida";
}

<h2>Modificar Información de Hoja de Vida</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.tblHojaVida_ID)
    @Html.HiddenFor(model => model.tblUsuarioPlataforma_ID)


    <div class="form-control grid">
        <h3>@Html.DisplayFor(model => model.AspNetUsers.UserName)</h3>
        @*<h3>@Html.DisplayFor(model => model.tblUsuarioPlataforma.usuPla_nombre)</h3>*@
        <hr />

        <div class="form-group span6">
            @Html.Label("Titulo Educación Secundaria")
            <div class="input-control text" data-role="input-control">
                @Html.EditorFor(model => model.hojVid_tituloSecundaria)
                <button type="button" class="btn btn-clear" tabindex="-1"></button>
                @Html.ValidationMessageFor(model => model.hojVid_tituloSecundaria)
            </div>
        </div>

        <div class="form-group span6">
            @Html.Label("Año de Graduación")
            <div class="input-control text" data-role="datepicker" data-format="dd/mm/yyyy">
                @Html.TextBoxFor(m => m.hojVid_anoGradoSecundaria, "{0:dd/MM/yyyy}")
                <button class="btn btn-date" type="button"></button>
                @Html.ValidationMessage("Digite fecha")
            </div>
        </div>

        <button class="large bg-green fg-white" type="submit">
            Guardar Cambios
            <i class="icon-upload-3 bg-green fg-white"></i>
        </button>
        <div class="form-group">
            <h3>
                @Html.ActionLink("Regresar", "FormacionYExperiencia", new { id = Model.tblUsuarioPlataforma_ID })
            </h3>
        </div>
    </div>
}
