﻿@model INI.Models.DataBase.CategoriaRepositorio
@using INI.Models.DataBase
@{
    ViewBag.Title = "Crear categoría de repositorio";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
    var usu = User.Identity.Name;
    var rol = AspNetUsersRoles.IsUserInRole("Administrador", User.Identity.Name);
    if (!rol) { rol = AspNetUsersRoles.IsUserInRole("Administrator", User.Identity.Name); }
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/CategoriaRepositorios">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/Noticias">
                                <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                            </a>
                        }
                        else
                        {
                            <a href="~/Admin/Editor?nombreu=@usu">
                                <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                            </a>
                        }
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Repositorios">
                            <img src="~/images/botones_ruta_migas/editor/btn_rep_dig_a.png" title="Repositorios" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/CategoriaRepositorios">
                            <img src="~/images/botones_ruta_migas/editor/btn_categoria_a.png" title="Categoria repositorios" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_crear.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br /><br /><br />

@using (Html.BeginForm("Create", "CategoriaRepositorios", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm_catrep" }))
{
    @Html.AntiForgeryToken()

    <div class="panel">
        <div class="panel-header" style="font-family:Chewy">
            Crear categoría repositorio
        </div>
        <div class="panel-content">
            <div class="grid">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="">
                        <label id="lb_namecategory" class="control-label col-md-2" style="cursor:pointer">Nombre<span style="color:red;">*</span></label>
                    </div>
                    <div id="box_namecategory" class="span10" style="cursor:pointer">
                        @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @if (ViewBag.SqlError != null)
                        {
                            <span style="color:red">@ViewBag.SqlError</span>
                        }
                        @Html.ValidationMessageFor(model => model.nombre, "", new { @style = "color:red;!important" })
                    </div>
                </div>

                <div class="row">
                    <div class="">
                        <label id="lb_urlportadacategory" class="control-label col-md-2" style="cursor:pointer">Url imagen<span style="color:red;">*</span></label>
                    </div>
                    <div class="span10" style="cursor:pointer">
                        <div class="input-control file">
                            <input id="urlimg" name="urlimg" type="file" data-transform="input-control" required message="Error Usted no selecciono el archivo [images/..../jpeg,png,jpg,svg,gif]" accept="images/../png, images/../jpeg, images/../jpg, images/../svg, images/../gif" />
                            <button id="box_urlportadacategory" class="btn btn-file"></button>
                            @*@Html.ValidationMessageFor(model => model.urlimg, "", new { @style = "color:red;!important" })*@
                        </div>
                        <span id="lbl_Rq_urlimg" style="color:red; display:none">La imagen es requerida.</span><br/>
                        <span id="lbl_urlimg" style="color:red; display:none">Solo se permiten imágenes con extensiones .png, .jpg, .jpeg, .svg .gif</span>
                        <br />
                        <span id="lbl_catvirtualsize" style="color:red; display:none">Solo se admiten imágenes con tamaño inferior o igual a 3Mb</span>
                    </div>
                </div>

                <div class="row">
                    <div class="span2" style="padding-left:30px">
                        <input type="submit" value="Guardar" class="button medium primary" />
                    </div>
                    <div class="span10">
                        <a href="@Url.Action("Index")" class="button medium primary">Regresar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts{

    <script>
        $(function () {
            $("#lbl_urlimg").hide();
            $("#frm_catrep").submit(function (e) {

                var img = this.urlimg.value;
                var cerror = 0;
                if (img != null && img != "") {
                    $("#lbl_Rq_urlimg").hide();
                    $("#lbl_urlimg").hide();
                    console.log("Validado");
                }
                else {
                    $("#lbl_Rq_urlimg").show();
                    cerror++;
                }
                if (cerror == 0) {
                    var filesize = this.urlimg.files[0].size / 1024;
                    if (filesize <= 3*1024) {
                        $("#lbl_catvirtualsize").hide();
                    }
                    else {
                        $("#lbl_catvirtualsize").show();
                        cerror++;
                    }
                }

                if (img.match("^.*\.(png|PNG|jpg|JPG|jpeg|JPEG|svg|SVG|gif|GIF)$")) {
                    $("#lbl_urlimg").hide();
                    $("#lbl_Rq_urlimg").hide();
                    console.log("Validado");
                }
                else {
                    $("#lbl_urlimg").show();
                    cerror++;
                }
                if (cerror > 0) return false;
            });

            
        });
    </script>
}

<div style="display:none;">
    <div id="namecategory">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Nombre</strong></b><br /><br />
        Ingrese el nombre de la categoría.
    </div>
</div>
<div style="display:none;">
    <div id="boxnamecategory">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Nombre</strong></b><br /><br />
        Ingrese el nombre de la categoría.
    </div>
</div>
<div style="display:none;">
    <div id="urlportadacategory">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Imagen</strong></b><br /><br />
        Ingrese la imagen de la categoría.
    </div>
</div>
<div style="display:none;">
    <div id="boxurlportadacategory">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Imagen</strong></b><br /><br />
        Ingrese la imagen de la categoría.
    </div>
</div>




