﻿@model INI.Models.DataBase.CategoriaRepositorio
@using INI.Models.DataBase
@{
    ViewBag.Title = "Editar categoría de repositorio";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
    var usu = User.Identity.Name;
    var rol = AspNetUsersRoles.IsUserInRole("Administrador", User.Identity.Name);
    if (!rol) { rol = AspNetUsersRoles.IsUserInRole("Administrator", User.Identity.Name); }
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/CategoriaRepositorios">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/Noticias">
                                <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                            </a>
                        }
                        else
                        {
                            <a href="~/Admin/Editor?nombreu=@usu">
                                <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                            </a>
                        }
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Repositorios">
                            <img src="~/images/botones_ruta_migas/editor/btn_rep_dig_a.png" title="Repositorios" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/CategoriaRepositorios">
                            <img src="~/images/botones_ruta_migas/editor/btn_categoria_a.png" title="Categoria repositorios" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_editar.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br /><br /><br />

@using (Html.BeginForm("Edit", "CategoriaRepositorios", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm_catrep" }))
{
    @Html.AntiForgeryToken()

    <div class="panel">
        <div class="panel-header" style="font-family:Chewy">
            Editar categoría repositorio
        </div>
        <div class="panel-content">
            <div class="grid">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.id)
                @Html.HiddenFor(model => model.urlimg)
                <div class="row">
                    <div class="">
                        <label id="lb_editnamecateg" class="control-label col-md-2" style="cursor:pointer">Nombre<span style="color:red;">*</span></label>
                    </div>
                    <div id="box_editnamecateg" class="span10" style="cursor:pointer">
                        @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @if (ViewBag.SqlError != null)
                        {
                            <span class="text-danger">@ViewBag.SqlError</span>
                        }
                        @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="">
                        <label style="margin-left:15px">¿Desea actualizar la imagen?<span style="color:red;">*</span></label>
                    </div>
                    <div class="" style="text-align:center">
                        <a style="font-size:25px" href="@Model.urlimg" target="_blank"><img src="@Model.urlimg" width="200" /></a>
                    </div>
                    <div class="span8">
                        <div class="input-control radio">
                            <label>
                                <input type="radio" id="rd_yes" name="rd_notportada" />
                                <span class="check"></span>
                                Sí
                            </label>
                        </div>

                        <div class="input-control radio">
                            <label>
                                <input type="radio" id="rd_no" name="rd_notportada" checked />
                                <span class="check"></span>
                                No
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row" id="box_imagen" style="display:none">
                    <div class="">
                        <label id="lb_editurlimagecateg" class="control-label col-md-2" style="cursor:pointer">Url imagen</label>
                    </div>
                    <div class="span10">
                        <div class="input-control file">
                            <input id="urlimg_file" name="urlimg_file" type="file" data-transform="input-control" accept=".png,.jpg,.gif,.svg,.jpeg" value="@Model.urlimg" title="Error Usted no selecciono el archivo [png/jpeg/jpg/svg]" />
                            <button id="box_editurlimagecateg" class="btn btn-file"></button>
                            @*@Html.ValidationMessageFor(model => model.urlimg, "", new { @style = "color:red;!important" })*@
                        </div>
                        @*<label id="lbl_Rq_urlimg" style="color:red;display:none">La imagen es requerida</label>*@
                        <label id="lbl_urlimg" style="color:red;display:none">Solo se permiten imagenes con extensiones .png, .jpg, .jpeg, .svg .gif</label>
                        <br />
                        <span id="lbl_edcatvirtualsize" style="display:none" class="text-danger">Solo se admiten imágenes con tamaño inferior o igual a 3Mb</span>
                    </div>
                </div>

                <div class="row">
                    <div class="span2" style="padding-left:30px">
                        <input type="submit" value="Guardar" class="button medium primary" />
                    </div>
                    <div class="span10">                        
                        <a href="@Url.Action("Index")" class="button medium primary">Regresar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>   
}

@section scripts{
    <script>
        $(function () {
            $("#rd_yes").click(function () {
                $("#box_imagen").show();
            });
            $("#rd_no").click(function () {
                $("#urlimg_file").val("");
                $("#urlimg_file").next().val("")
                $("#box_portada").hide();
            });

            $("#lbl_urlimg").hide();
            $("#frm_catrep").submit(function (e) {

                var img = this.urlimg_file.value;
                var cerror = 0;
                if (img == "" || img == null || img.match("^.*\.(png|PNG|jpg|JPG|jpeg|JPEG|svg|SVG|gif|GIF)$")) {
                    $("#lbl_urlimg").hide();
                    console.log("Validado");
                }
                else {
                    $("#lbl_urlimg").show();
                    cerror++;
                }
                if (cerror == 0 && this.urlimg.value) {
                    var filesize = this.urlimg_file.files[0].size / 1024;
                    if (filesize <= 3 * 1024) {
                        $("#lbl_edcatvirtualsize").hide();
                    }
                    else {
                        $("#lbl_edcatvirtualsize").show();
                        cerror++;
                    }
                }
                if (cerror > 0) return false;

            });            
        });
    </script>
}

<div style="display:none;">
    <div id="editnamecategory">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Nombre de la categoría</strong></b><br /><br />
        Edite el nombre de la categoría.
    </div>
</div>
<div style="display:none;">
    <div id="boxeditnamecategory">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Nombre de la categoría</strong></b><br /><br />
        Edite el nombre de la categoría.
    </div>
</div>
<div style="display:none;">
    <div id="editurlimagecategory">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Imagen</strong></b><br /><br />
        Si lo desea cambie la imagen de la categoría.
    </div>
</div>
<div style="display:none;">
    <div id="boxediturlimagecategory">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Imagen</strong></b><br /><br />
        Si lo desea cambie la imagen de la categoría.
    </div>
</div>




