﻿@model MAI.Models.DataBase.tblProyectosInvestigacion

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit", "CaracteristicasProy", FormMethod.Post, new { id = "CaracteristicasProy" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.tblCaracteristicasProy.tblCaracteristicasProy_ID)

    <div class="grid fluid">
        @*ESTRUCTURA RESULTADOS ESPERADOS*@
        <div class="row">
            <div class="span2">
                <strong>Resultados esperados</strong>
            </div>
            <div class="span10 input-control textarea">
                @Html.TextAreaFor(m => m.tblCaracteristicasProy.carProy_resultadosEsperadosProy)
                @Html.ValidationMessage("Indique los resultados que espera de la investigación")
            </div>
        </div>
        <div class="row">
            <div class="offset2">
                <div class="panel" data-role="panel">
                    <div class="panel-header bg-blue fg-white">
                        Apreciaciones
                    </div>
                    <div class="panel-content" style="display:none">
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Retroalimentación asesores Investic</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev.tblCaracteristicasProy_Rev.carProy_resultadosEsperadosProy)
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Sugerencia Evaluador 1</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev1.tblCaracteristicasProy_Rev.carProy_resultadosEsperadosProy)
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Sugerencia Evaluador 2</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev2.tblCaracteristicasProy_Rev.carProy_resultadosEsperadosProy)
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Asesoría de Grupo Investigación Colciencias</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev3.tblCaracteristicasProy_Rev.carProy_resultadosEsperadosProy)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*ESTRUCTURA CARACTERIZACION DE LA INVESTIGACION*@
        <div class="row">
            <div class="span2">
                <strong>Caracterización de la Investigación</strong>
            </div>
            <div class="span10 input-control textarea">
                @Html.TextAreaFor(m => m.tblCaracteristicasProy.carProy_caracterizacionProy)
                @Html.ValidationMessage("Características de la investigación")
            </div>
        </div>
        <div class="row">
            <div class="offset2">
                <div class="panel" data-role="panel">
                    <div class="panel-header bg-blue fg-white">
                        Apreciaciones
                    </div>
                    <div class="panel-content" style="display:none">
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Retroalimentación asesores Investic</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev.tblCaracteristicasProy_Rev.carProy_caracterizacionProy)
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Sugerencia Evaluador 1</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev1.tblCaracteristicasProy_Rev.carProy_caracterizacionProy)
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Sugerencia Evaluador 2</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev2.tblCaracteristicasProy_Rev.carProy_caracterizacionProy)
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3 text-right">
                                <strong>Asesoría de Grupo Investigación Colciencias</strong>
                            </div>
                            <div class="span9">
                                @Html.DisplayFor(m => m.tblProyectosInvestigacion_Rev3.tblCaracteristicasProy_Rev.carProy_caracterizacionProy)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}