﻿body {
}

h1.title {
        position: absolute;
        right: 20px;
        top: 0px;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 56px;
        color: #fff;
        background: transparent url(bg.png) repeat top left;
        padding: 0px 15px 10px 15px;
    }

    h1.title span {
        font-size: 14px;
        display: block;
    }

    span.reference {
        font-family: Arial;
        position: fixed;
        right: 10px;
        bottom: 10px;
        font-size: 10px;
    }

        span.reference a {
            color: #333;
            text-transform: uppercase;
            text-decoration: none;
            margin-left: 20px;
        }


    * {
        margin: 0;
        padding: 0;
    }


    #overlay {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: #000;
        display: none;
        opacity: 0.9;
    }


    #thumbScroller {
        position: relative;
        height: 600px;
        width: 175px;
        overflow: hidden;
        left: -100px;
        top: 20px;
        max-height: 450px;
        overflow-y: auto;
        padding-left: 5px;
    }

        #thumbScroller .container {
            position: relative;
            top: 0;
            float: left;
        }


        #thumbScroller .content {
            clear: both;
            float: left;
        }


    .thumb {
        width: 130px;
        height: 110px;
        opacity: 0.6;
    }

        .thumb:hover {
            width: 130px;
            height: 113px;
            opacity: 1.0;
        }
