﻿@model INI.Models.DataBase.tblHerramientasRecoleccionInformacion
@using INI.Models.DataBase
@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
    var usu = User.Identity.Name;
    var rol = AspNetUsersRoles.IsUserInRole("Administrador", User.Identity.Name);
    if (!rol) { rol = AspNetUsersRoles.IsUserInRole("Administrator", User.Identity.Name); }
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/HerramientasRecoleccionInformacion/">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/Noticias">
                                <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                            </a>
                        }
                        else
                        {
                            <a href="~/Admin/Editor?nombreu=@usu">
                                <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                            </a>
                        }
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />

                    </li>
                    <li>
                        <a href="~/HerramientasRecoleccionInformacion/">
                            <img src="~/images/botones_ruta_migas/admin/btn_rec_info_a.png" title="Herramientas de recolección de información" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_eliminar.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br />
<div class="panel panel-default" style="margin-top:55px;">
    <div class="panel-heading"><strong>Eliminar herramientas de recolección de información</strong></div>
    <div class="panel-body">
        <p>¿Estás seguro que quieres eliminar la siguiente información?</p>
        <div class="media-body container well">
            <dl class="dl-horizontal">
                <dt style="padding-bottom: 5px; width: 200px;">@Html.DisplayNameFor(model => model.HerramientaRecoleccion):&nbsp&nbsp</dt>
                <dd>@Html.DisplayFor(model => model.HerramientaRecoleccion)</dd>

                <dt style="padding-bottom: 5px; width: 200px;">@Html.DisplayNameFor(model => model.Descripcion):&nbsp&nbsp</dt>
                <dd>@Html.DisplayFor(model => model.Descripcion)</dd>

                <dt style="padding-bottom:2px;">&nbsp&nbsp</dt>
                <dd>&nbsp&nbsp</dd>

                <dt style="padding-bottom:5px;">&nbsp&nbsp</dt>
                <dd>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
    <input type="submit" value="Eliminar" class="button medium primary" />
                        @Html.ActionLink("Regresar al listado", "Index", null, new { @class = "button medium primary" })
                    }

                </dd>
            </dl>
        </div>
    </div>
</div>
