﻿p {
  font-family: "Chewy";
  font-size: 130%;
} 

@font-face {
font-family: Roboto;
src: url('../../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
font-family: Roboto;
font-weight: bold;
src: url('../../fonts/Roboto/Roboto-Bold.ttf');
}

