﻿body {
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: url('../../images/MAI/Proyecto/fondoProyecto.png') no-repeat top scroll;
    background-size: cover;
}


