﻿body {
}
#ruta_miga{
        width:100%;
        background: #E6E6E6;
        z-index:999;
        clear: both;
    }
#ruta_miga table {
        background: none;
    }
#ruta_miga li{
        list-style:none;
        float:left;
    }
#ruta_miga #img_fijos img{
    width:100px;
    margin-top:5px;
    margin-bottom:5px;
}
#ruta_miga #img_variables img{
    //width:130px;
}
#mapa_sitio{
        width:100%;
        background: #E6E6E6;
        z-index:999;
        clear: both;
    }
#mapa_sitio table {
        background: none;
        float:left;
    }
#mapa_sitio li{
        list-style:none;
        float:left;
    }
#mapa_sitio #img_fijos img{
    width:100px;
    height: 58px;
    margin-top:5px;
    margin-bottom:5px;
}
#mapa_sitio #img_variables img{
    //width:130px;
}