﻿@model INI.Models.DataBase.tblCategoriaImagenes
@using INI.Models.DataBase
@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
    string msj = ViewBag.Message;
    var usu = User.Identity.Name;
    var rol = AspNetUsersRoles.IsUserInRole("Administrador", User.Identity.Name);
    if (!rol) { rol = AspNetUsersRoles.IsUserInRole("Administrator", User.Identity.Name); }
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/CategoriaImagenes">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/Noticias">
                                <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                            </a>
                        }
                        else
                        {
                            <a href="~/Admin/Editor?nombreu=@usu">
                                <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                            </a>
                        }
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/CategoriaImagenes">
                            <img src="~/images/botones_ruta_migas/editor/btn_cat_imagen_a.png" title="Categoria de imagenes" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_eliminar.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br /><br /><br />
<style>
    .myrow {
        margin-top: 2px !important;
        margin-left: 20px;
    }
</style>

<div class="panel">
    <div class="panel-header" style="font-family:Chewy">
        ¿Está seguro que desea eliminar esta categoría?
    </div>
    <div class="panel-content">
        <div class="grid">
            <div class="row myrow">
                <div class="span2">
                    @Html.DisplayNameFor(model => model.cat_Nombre)
                </div>
                <div class="span10">
                    @Html.DisplayFor(model => model.cat_Nombre)
                </div>
            </div>
            <div class="row myrow">
                <div class="span2">
                    URL imagen
                </div>
                <div class="span10">
                    @Html.DisplayFor(model => model.cat_Imagen_Portada)
                </div>
            </div>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="button medium primary" />
                <a href="@Url.Action("Index")" class="button medium primary">Regresar</a>
            </div>
        }
    </div>
</div>

<script src="~/Scripts/Investic/iep-0.1-index.js"></script>
<script>

    AlertMessage('@msj');
</script>

