﻿@model INI.Models.DataBase.tblCategoriaImagenes
@using INI.Models.DataBase
@{
    ViewBag.Title = "Editar categoría";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
    var usu = User.Identity.Name;
    var rol = AspNetUsersRoles.IsUserInRole("Administrador", User.Identity.Name);
    if (!rol) { rol = AspNetUsersRoles.IsUserInRole("Administrator", User.Identity.Name); }
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/CategoriaImagenes">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/Noticias">
                                <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                            </a>
                        }
                        else
                        {
                            <a href="~/Admin/Editor?nombreu=@usu">
                                <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                            </a>
                        }
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/CategoriaImagenes">
                            <img src="~/images/botones_ruta_migas/editor/btn_cat_imagen_a.png" title="Categoria de imagenes" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_editar.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br /><br /><br />
<style>
    .myrow {
        margin-top: 2px !important;
        margin-left: 20px;
    }
</style>

@using (Html.BeginForm("Edit", "CategoriaImagenes", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm_edcateg" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m=>m.cat_Imagen_Portada)
    <div class="panel">
        <div class="panel-header" style="font-family:Chewy">
            Editar categoría de imágenes
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.cat_ID)
        <div class="panel-content">
            <div class="grid">
                <div class="row myrow">
                    <div id="lb_edtittle" class="span2">
                        <label>Nombre<span style="color:red;">*</span></label>
                        @*@Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    </div>
                    <div id="box_edtittle" class="span10">
                        @Html.EditorFor(model => model.cat_Nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.cat_Nombre, "", new { @style = "color:red;!important" })
                        @if (ViewBag.SqlError != null)
                            {
                            <span style="color:red">@ViewBag.SqlError</span>
                        }
                    </div>
                </div>
                <div class="row myrow">
                    <div id="lb_edimg" class="span2">
                        <label>¿Desea actualizar la imagen?</label>
                    </div>
                    <div class="span2" style="text-align:center">
                        <a style="font-size:25px" href="@Model.cat_Imagen_Portada" target="_blank"><img src="@Model.cat_Imagen_Portada" style="width:60%" /></a>
                    </div>
                    <div class="span8">
                        <div class="input-control radio">
                            <label>
                                <input type="radio" id="rd_yes" name="rd_notportada" />
                                <span class="check"></span>
                                Sí
                            </label>
                        </div>

                        <div class="input-control radio">
                            <label>
                                <input type="radio" id="rd_no" name="rd_notportada" checked />
                                <span class="check"></span>
                                No
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row myrow" id="box_portada" style="display:none">
                    <div id="box_edimg" class="span2">
                        <label>Imagen<span style="color:red;">*</span></label>
                        @*@Html.LabelFor(model => model.cat_Imagen_Portada, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    </div>
                    <div id="box2_edimg" class="span10" style="cursor:pointer">
                        <div class="input-control file">
                            <input id="cat_Imagen_Portadafile" name="cat_Imagen_Portadafile" type="file" maxlength="500" data-transform="input-control" required message="Error Usted no selecciono el archivo [images/..../png,jpg,gif]" accept="images/..../png, images/..../jpg, images/..../gif" z-index="99" size="500" title="Error Usted no selecciono el archivo [png/jpg/gif]" value="@Model.cat_Imagen_Portada" />
                            <button class="btn btn-file"></button>
                        </div>
                        @*@Html.ValidationMessageFor(model => model.cat_Imagen_Portada, "", new { @style = "color:red;!important" })*@
                        <span id="lbl_Rq_cat_Imagen_Portada" style="color:red;display:none">La imagen es requerida</span><br />
                        <span id="lbl_cat_Imagen_Portada" style="color:red;display:none">Solo se permiten imagenes con extensión .png, .jpg, .gif</span><br />
                        <span id="lbl_categsize" style="color:red;display:none">Solo se admiten imágenes con tamaño inferior o igual a 3Mb</span>
                    </div>
                </div>
                <div class="row myrow">
                    <div class="span2">
                        <input type="submit" value="Guardar" class="button medium primary" />
                    </div>
                    <div class="span10">
                        <a href="@Url.Action("Index")" class="button medium primary">Regresar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts{
    <script>
        $(function () {

            $("#rd_yes").click(function () {
                $("#box_portada").show();
            });
            $("#rd_no").click(function () {
                $("#cat_Imagen_Portadafile").val("");
                $("#cat_Imagen_Portadafile").next().val("")
                $("#box_portada").hide();
            });

            $("#lbl_cat_Imagen_Portada").hide();
            $("#frm_edcateg").submit(function (e) {

                var filesize = this.cat_Imagen_Portadafile.files[0].size / 1024;
                var img = this.cat_Imagen_Portadafile.value;
                var cerror = 0;


                if (img != null && img != "") {
                    $("#lbl_Rq_cat_Imagen_Portada").hide();
                    $("#lbl_cat_Imagen_Portada").hide();
                    console.log("Validado");
                }
                else {
                    $("#lbl_Rq_cat_Imagen_Portada").show();
                    cerror++;
                }
                if (filesize <= 3 * 1024) {
                    $("#lbl_categsize").hide();
                }
                else {
                    $("#lbl_categsize").show();
                    cerror++;
                }

                if (img.match("^.*\.(png|PNG|jpg|JPG|gif|GIF)$")) {
                    $("#lbl_cat_Imagen_Portada").hide();
                    $("#lbl_Rq_cat_Imagen_Portada").hide();
                    console.log("Validado");
                }
                else {
                    $("#lbl_cat_Imagen_Portada").show();
                    cerror++;
                }
                if (cerror > 0) return false;
            });
        });
        $('#lb_edtittle').webuiPopover({ url: '#lbedtitle', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#lb_edimg').webuiPopover({ url: '#lbedImage', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#box_edtittle').webuiPopover({ url: '#boxedTitulo', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#box_edimg').webuiPopover({ url: '#edboxImage', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#box2_edimg').webuiPopover({ url: '#ed2boxImage', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
    </script>
}
<div style="display:none;">
    <div id="lbedtitle">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea actualizar el título?</strong></b><br /><br />
        Aquí puede editar el título. Este campo es obligatorio.
    </div>
</div>
<div style="display:none;">
    <div id="lbedImage">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Actualizar la imagen</strong></b><br /><br />
        Aquí puedes ingresar una nueva imagen. Este campo es obligatorio.
    </div>
</div>
<div style="display:none;">
    <div id="edboxImage">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Actualizar la imagen</strong></b><br /><br />
        Aquí puedes ingresar una nueva imagen. Este campo es obligatorio.
    </div>
</div>
<div style="display:none;">
    <div id="boxedTitulo">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea actualizar el título?</strong></b><br /><br />
        Aquí puede editar el título. Este campo es obligatorio.
    </div>
</div>
<div style="display:none;">
    <div id="ed2boxImage">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Actualizar la imagen</strong></b><br /><br />
        Aquí puedes ingresar una nueva imagen. Este campo es obligatorio.
    </div>
</div>