﻿@model IEnumerable<INI.Models.DataBase.tblResponsabContratista>

@{
    Layout = "~/Views/Shared/_InvSeguimiento.cshtml";

}

<h2>Responsabilidades</h2>

<p>
    @Html.ActionLink("Nueva Responsabilidad", "Create")
</p>
<table id="mitabla" class="table striped hover">
    <thead>
        <tr>
            <th>
               Cedula
            </th>
            <th>
                Usuario
            </th>
            <th>Descripcion</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUsers.UserName)

                </td>
                <td>
                    @Html.DisplayFor(modelItem=> item.AspNetUsers.LastName)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |

                    @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
                </td>
            </tr>

        }
    </tbody>
</table>
@section Scripts {

<script src="~/Scripts/jquery-ui-1.11.1.js"></script>
<script src="~/Scripts/DataTables-1.10.4/jquery.dataTables.js"></script>
<script src="~/Scripts/Investic/seg-0.1-mitabla.js"></script>
<link href="~/Content/themes/base/all.css" rel="stylesheet" />

@Scripts.Render("~/bundles/jqueryval")  
}


