﻿<img id="subregion_img" src="/images/lorraine/mapa/subregion10/subregion.png" usemap="#subregion1" />
<map id="subregion1" name="subregion1">
    <area id="ssh1" shape="poly" alt="Chachagui" title="Chachagui" coords="95,13,101,1,112,15,122,18,122,22,130,34,135,30,144,39,145,49,137,49,134,60,143,75,150,80,154,91,153,107,146,114,146,124,138,135,127,135,120,122,119,130,114,133,102,117,100,97,111,94,113,90,107,83,107,52,113,41,108,35,111,25" href="#" onmouseover="entersubregion(52240)" />
    <area id="ssh2" shape="poly" alt="La Florida" title="La Florida" coords="8,96,18,76,29,79,40,89,42,98,39,109,51,115,51,107,68,92,66,88,71,84,83,85,107,56,107,83,112,87,103,99,64,106,56,121,65,129,67,135,65,161,70,176,59,169,57,160,46,150,46,143,17,127,16,115" href="#" onmouseover="entersubregion(52381)" />
    <area id="ssh3" shape="poly" alt="Narino" title="Narino" coords="57,121,60,107,76,105,101,99,101,116,88,134,90,140,84,146,76,149,71,175,65,161,65,148,64,147,66,136,63,129" href="#" onmouseover="entersubregion(52480)" />
    <area id="ssh4" shape="poly" alt="Pasto" title="Pasto" coords="72,176,74,152,86,142,86,134,100,118,112,134,118,132,120,126,136,136,150,162,164,158,170,168,200,184,206,182,228,198,224,222,230,238,232,272,236,270,250,286,252,328,244,348,222,368,222,388,214,438,194,434,190,424,198,414,184,398,144,362,132,342,92,344,86,334,100,326,102,302,112,296,112,274,98,254,106,236,96,220,86,220,68,186,68,186" href="#" onmouseover="entersubregion(52001)" />
    <area id="ssh5" shape="poly" alt="Tangua" title="Tangua" coords="32,276,30,262,43,251,43,245,66,232,61,192,66,187,74,194,87,223,93,222,105,231,103,248,95,254,113,272,109,283,112,292,108,299,102,302,101,317,99,326,87,333,76,329,75,318,65,304,65,292,60,290,54,293,41,291,35,284,38,279" href="#" onmouseover="entersubregion(52788)" />
    <area id="ssh6" shape="poly" alt="Yacuanquer" title="Yacuanquer" coords="2,213,11,212,24,216,35,207,40,208,53,200,53,195,60,193,64,196,67,222,65,229,66,232,50,241,44,248,31,264,31,273,26,277,17,273,18,260,13,254,4,250,4,242,-1,238,7,227" href="#" onmouseover="entersubregion(52885)" />
</map>
<a href="~/Home/comovamos"><img src="../../../images/como%20vamos/btn_volver_apr.png" alt="" /></a>
<script>
    $(function () {
        jQuery("#ssh1").mouseenter(function () {
            jQuery("#municipality_title").text("Municipio: Chachagui");
        });
        jQuery("#ssh2").mouseenter(function () {
            jQuery("#municipality_title").text("Municipio: La Florida");
        });
        jQuery("#ssh3").mouseenter(function () {
            jQuery("#municipality_title").text("Municipio: Narino");
        });
        jQuery("#ssh4").mouseenter(function () {
            jQuery("#municipality_title").text("Municipio: Pasto");
        });
        jQuery("#ssh5").mouseenter(function () {
            jQuery("#municipality_title").text("Municipio: Tangua");
        });
        jQuery("#ssh6").mouseenter(function () {
            jQuery("#municipality_title").text("Municipio: Yacuanquer");
        });
    });
</script>

