﻿<img id="subregion_img" src="/images/lorraine/mapa/subregion6/subregion.png" usemap="#subregion1" />
<map id="subregion1" name="subregion1">
    <area id="ssh1" shape="poly" alt="Guaitarilla" title="Guaitarilla" coords="276,165,287,150,295,135,305,133,317,138,329,154,335,147,351,147,366,129,381,125,382,115,387,107,395,111,396,120,408,123,418,147,416,149,423,161,423,179,417,192,419,199,430,207,427,220,432,233,419,248,421,258,410,266,390,268,367,255,362,263,347,262,344,254,335,262,336,270,331,275,320,273,320,282,315,284,309,280,288,290,288,283,273,264,264,248,263,237,255,228,263,221,266,210,272,200,268,193" href="#" onmouseover="entersubregion(52320)" />
    <area id="ssh2" shape="poly" alt="Imues" title="Imues" coords="299,323,304,317,302,306,288,298,288,289,305,281,315,284,319,281,319,278,333,271,343,255,346,260,362,261,366,255,391,269,395,263,409,266,421,256,424,264,429,266,425,291,429,294,455,305,459,319,459,352,449,359,440,386,439,394,428,394,424,397,406,385,393,392,388,385,381,387,367,366,373,342,365,331,359,338,336,336,321,331,316,333" href="#" onmouseover="entersubregion(52354)" />
    <area id="ssh3" shape="poly" alt="Ospina" title="Ospina" coords="245,436,242,428,247,415,253,403,255,375,270,342,278,328,299,321,311,332,349,337,361,332,370,336,372,350,364,364,379,386,394,390,374,409,363,406,361,414,351,413,335,425,319,420,317,425,305,422,286,432,283,444,277,441,256,444" href="#" onmouseover="entersubregion(52506)" />
    <area id="ssh4" shape="poly" alt="Sapuyes" title="Sapuyes" coords="1,370,17,360,15,351,1,331,22,334,52,320,56,311,52,301,64,279,73,289,95,285,104,293,102,317,112,327,118,328,180,370,204,351,217,356,227,345,246,341,270,340,268,352,259,363,259,372,244,423,247,437,226,439,217,430,211,418,204,411,164,424,159,419,153,420,148,408,140,408,136,403,124,411,124,407,109,413,107,431,100,441,94,437,87,443,55,425,44,401" href="#" onmouseover="entersubregion(52720)" />
    <area id="ssh5" shape="poly" alt="Tuquerres" title="Tuquerres" coords="94,284,106,270,110,246,130,224,136,228,152,208,160,158,158,146,162,132,154,128,158,112,152,98,168,78,166,60,188,34,194,34,214,18,218,2,228,16,230,42,218,82,208,82,224,118,232,136,250,148,250,154,264,146,280,164,268,182,270,206,258,226,290,286,290,298,298,306,300,318,280,324,272,344,250,344,238,336,220,354,208,350,180,368,100,318,104,292" href="#" onmouseover="entersubregion(52838)" />
</map>
<a href="~/Home/comovamos"><img src="../../../images/como%20vamos/btn_volver_apr.png" alt="" /></a>
<script>
    $(function () {
        jQuery("#ssh1").mouseenter(function () {
            jQuery("#municipality_title").text("Municipio: Guaitarilla");
        });
        jQuery("#ssh2").mouseenter(function () {
            jQuery("#municipality_title").text("Municipio: Imues");
        });
        jQuery("#ssh3").mouseenter(function () {
            jQuery("#municipality_title").text("Municipio: Ospina");
        });
        jQuery("#ssh4").mouseenter(function () {
            jQuery("#municipality_title").text("Municipio: Sapuyes");
        });
        jQuery("#ssh5").mouseenter(function () {
            jQuery("#municipality_title").text("Municipio: Tuquerres");
        });
    });
</script>

