﻿
@{
    ViewBag.Title = "DeleteNoPosible";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/SubCategoriaRevistas">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Noticias">
                            <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Revistas">
                            <img src="~/images/botones_ruta_migas/editor/btn_revista_a.png" title="Revistas" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/SubCategoriaRevistas">
                            <img src="~/images/botones_ruta_migas/editor/btn_sub_categoria_a.png" title="Sub categoria revistas" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_eliminar.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br /><br /><br />
<div class="panel">
    <div class="panel-header" style="font-family:Chewy">
        <label>Eliminar subcategoría</label>
    </div>
    <div class="panel-content">
        <div>No es posible eliminar esta subcategoría porque contiene revistas asociadas</div>
        <br /><br /><br />
        <a href="@Url.Action("Index")" class="button medium primary">Cancelar</a>
    </div>
</div>

