﻿@model INI.Models.DataBase.SubCategoriaRevista
@using INI.Models.DataBase
@{
    ViewBag.Title = "Editar subcategoría de revista";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
    var usu = User.Identity.Name;
    var rol = AspNetUsersRoles.IsUserInRole("Administrador", User.Identity.Name);
    if (!rol) { rol = AspNetUsersRoles.IsUserInRole("Administrator", User.Identity.Name); }
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        <a href="~/SubCategoriaRevistas">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                        {
                            <a href="~/Noticias">
                                <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                            </a>
                        }
                        else
                        {
                            <a href="~/Admin/Editor?nombreu=@usu">
                                <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                            </a>
                        }
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/Revistas">
                            <img src="~/images/botones_ruta_migas/editor/btn_revista_a.png" title="Revistas" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/SubCategoriaRevistas">
                            <img src="~/images/botones_ruta_migas/editor/btn_sub_categoria_a.png" title="Sub categoria revistas" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/crud/btn_editar.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br /><br /><br />
<style>
    .myrow {
        margin-top: 2px !important;
        margin-left: 20px;
    }
</style>

@using (Html.BeginForm("Edit", "SubCategoriaRevistas", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm_edscateg" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.urlimg)

    <div class="panel">
        <div class="panel-header" style="font-family:Chewy">
            Editar subcategoría de revista
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)
        <div class="panel-content">
            <div class="grid">
                <div class="row myrow">
                    <div id="lb_edtittle" class="span2">
                        <label>Nombre<span style="color:red;">*</span></label>
                        @*@Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    </div>
                    <div id="box_edtittle" class="span10">
                        @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.nombre, "", new { @style = "color:red;!important" })
                        @if (ViewBag.SqlError != null)
                        {
                            <span class="text-danger">@ViewBag.SqlError</span>
                        }
                    </div>
                </div>
                <div class="row myrow">
                    <div id="lb_edimg" class="span2">
                        <label>¿Desea actualizar la imagen?</label>
                    </div>
                    <div class="span2" style="text-align:center">
                        <a style="font-size:25px" href="@Model.urlimg" target="_blank"><img src="@Model.urlimg" style="width:60%" /></a>
                    </div>
                    <div class="span8">
                        <div class="input-control radio">
                            <label>
                                <input type="radio" id="rd_yes" name="rd_notportada" />
                                <span class="check"></span>
                                Sí
                            </label>
                        </div>

                        <div class="input-control radio">
                            <label>
                                <input type="radio" id="rd_no" name="rd_notportada" checked />
                                <span class="check"></span>
                                No
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row myrow" id="box_portada" style="display:none">
                    <div id="box_edimg" class="span2">
                        <label>Imagen<span style="color:red;">*</span></label>
                        @*@Html.LabelFor(model => model.urlimg, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    </div>
                    <div id="box2_edimg" class="span10" style="cursor:pointer">
                        <div class="input-control file">
                            <input id="urlimgfile" name="urlimgfile" type="file" maxlength="500" data-transform="input-control" required message="Error Usted no selecciono el archivo [images/..../png,jpg,gif]" accept="images/..../png, images/..../jpg, images/..../gif" z-index="99" size="500" title="Error Usted no selecciono el archivo [png/jpg/gif]" value="@Model.urlimg"/>
                            <button class="btn btn-file"></button>                            
                        </div>                       
                            @Html.ValidationMessageFor(model => model.urlimg, "", new { @style = "color:red;!important" })
                        <span id="lbl_Rq_urlimg" style="color:red;display:none">La imagen es requerida.</span><br />
                        <span id="lbl_urlimg" style="color:red;display:none">Solo se permiten imagenes con extensión .png, .jpg, .gif</span><br />
                        <span id="lbl_scategsize" style="color:red;display:none">Solo se admiten imágenes con tamaño inferior o igual a 3Mb</span>
                    </div>
                </div>
                <div class="row myrow">
                    <div id="lb_categ" class="span2">
                        <label>Categoría</label>
                       @*@Html.LabelFor(model => model.id_categoria, "id_categoria", htmlAttributes: new { @class = "control-label col-md-2" })*@
                    </div>
                    <div id="box_categ" class="span10">
                        @Html.DropDownList("id_categoria", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.id_categoria, "", new { @style = "color:red;!important" })
                    </div>
                </div>
                <br/>
                <div class="row myrow">
                    <div class="span2">
                        <input type="submit" value="Guardar" class="button medium primary" />
                    </div>
                    <div class="span10">                        
                        <a href="@Url.Action("Index")" class="button medium primary">Regresar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section scripts{
    <script>
        $(function () {

            $("#rd_yes").click(function () {
                $("#box_portada").show();
            });
            $("#rd_no").click(function () {
                $("#urlimgfile").val("");
                $("#urlimgfile").next().val("")
                $("#box_portada").hide();
            });

            $("#lbl_urlimg").hide();
            $("#frm_edscateg").submit(function (e) {
                var filesize = this.urlimgfile.files[0].size / 1024;
                var img = this.urlimgfile.value;
                var cerror = 0;

                if (img != null && img != "") {
                    $("#lbl_Rq_urlimg").hide();
                    $("#lbl_urlimg").hide();
                    console.log("Validado");
                }
                else {
                    $("#lbl_Rq_urlimg").show();
                    cerror++;
                }                
                if (filesize <= 3 * 1024) {
                    $("#lbl_scategsize").hide();
                }
                else {
                    $("#lbl_scategsize").show();
                    cerror++;                
                }

                if (img.match("^.*\.(png|PNG|jpg|JPG|gif|GIF)$")) {
                    $("#lbl_urlimg").hide();
                    $("#lbl_Rq_urlimg").hide();
                    console.log("Validado");
                }
                else {
                    $("#lbl_urlimg").show();
                    cerror++;
                }
                if (cerror > 0) return false;
            });
        });
        $('#lb_edtittle').webuiPopover({ url: '#lbedtitle', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#lb_edimg').webuiPopover({ url: '#lbedImage', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#box_edtittle').webuiPopover({ url: '#boxedTitulo', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#box_edimg').webuiPopover({ url: '#edboxImage', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#box2_edimg').webuiPopover({ url: '#ed2boxImage', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
        $('#lb_categ').webuiPopover({ url: '#lbedcateg', trigger: 'hover', style: 'inverse', placement: 'right', width: '300px' });
        $('#box_categ').webuiPopover({ url: '#boxedcateg', trigger: 'hover', style: 'inverse', placement: 'top', width: '300px' });
    </script>
}
<div style="display:none;">
    <div id="lbedtitle">
        <img src="/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea actualizar el título?</strong></b><br /><br />
        Aquí puede editar el título. Este campo es obligatorio.
    </div>
</div>
<div style="display:none;">
    <div id="lbedImage">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Actualizar la imagen</strong></b><br /><br />
        Aquí puede ingresar una nueva imagen. Este campo es obligatorio.
    </div>
</div>
<div style="display:none;">
    <div id="edboxImage">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Actualizar la imagen</strong></b><br /><br />
        Aquí puede ingresar una nueva imagen. Este campo es obligatorio.
    </div>
</div>
<div style="display:none;">
    <div id="boxedTitulo">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>¿Desea actualizar el título?</strong></b><br /><br />
        Aquí puede editar el título. Este campo es obligatorio.
    </div>
</div>
<div style="display:none;">
    <div id="ed2boxImage">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Actualizar la imagen</strong></b><br /><br />
        Aquí puedes ingresar una nueva imagen. Este campo es obligatorio.
    </div>
</div>
<div style="display:none;">
    <div id="lbedcateg">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Actualizar la categoría</strong></b><br /><br />
        Aquí puedes elegir una categoría de la lista. Este campo es obligatorio.
    </div>
</div>
<div style="display:none;">
    <div id="boxedcateg">
        <img src="~/images/ToolTip/p4.svg" style="float:right;margin-left:12px;" alt="" />
        <b><strong>Actualizar la categoría</strong></b><br /><br />
        Aquí puedes elegir una categoría de la lista. Este campo es obligatorio.
    </div>
</div>
