﻿@using Microsoft.AspNet.Identity
@model SEG.Models.ManageUserViewModel

<p>Usted se encuentra logueado como: <strong>@User.Identity.GetUserName()</strong>.</p>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
{
    @Html.AntiForgeryToken()
    <h4>Cambio de Contraseña</h4>
    <hr />
    @Html.ValidationSummary()
    
    <div class="grid fluid">

        <div class="row">
            <div class="span2">
                <strong>Contraseña Actual:</strong>
            </div>
            <div class="span4 input-control text password">
                @Html.PasswordFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
                <button class="btn btn-reveal"></button>
            </div>

        </div>

        <div class="row">
            
            <div class="span2">
                <strong>Nueva Contraseña</strong>
            </div>
            <div class="span4 input-control text password">
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
                <button class="btn btn-reveal"></button>
            </div>




            <div class="span2">
                <strong>Confirme Contraseña</strong>
            </div>
            <div class="span4 input-control text password">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                <button class="btn btn-reveal"></button>
            </div>



        </div>


        <div class="row">


            <div class="span4">
                <strong> </strong>
            </div>
            <div class="span6">
                <input type="submit" class="btn large bg-darkBlue fg-white" value="Cambiar Contraseña" />

            </div>


        </div>



    </div>
    
    
    
    

}