﻿@model SEG.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}

<h2>Iniciar sesión</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new {ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
            {
                @Html.AntiForgeryToken()
                <h4>Por favor ingrese sus datos</h4>
                <hr />
                @Html.ValidationSummary(true)
         <div class="row">
                    <div class="span2">
                    <strong>Cedula</strong>
                    </div>
                     <div class="span4 input-control text password">
                     @Html.TextBoxFor(m => m.Cedula)
                      @Html.ValidationMessageFor(m => m.Cedula)
                     <button class="btn btn-clear"></button>
                </div>

                 <div class="span2">
                 <strong>Contraseña</strong>
                </div>
                <div class="span4 input-control text password">
                 @Html.PasswordFor(m => m.Password)
                 @Html.ValidationMessageFor(m => m.Password)
                <button class="btn btn-reveal"></button>
                </div>
         </div>

    <div class="row">

        <div class="span4">
            <div class="checkbox">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>
        </div>
        <div class="span6">
            <input type="submit" class="btn large bg-darkBlue fg-white" value="Iniciar sesión" />

        </div>


    </div>


            }
        </section>
    </div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
