﻿@model IEnumerable<INI.Models.Mymodels.RedVirtualGrupoOwner>
@using INI.Models.DataBase
@{
    ViewBag.Title = "Aprobar";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
    var usu = User.Identity.Name;
    var rol = AspNetUsersRoles.IsUserInRole("Administrador", User.Identity.Name);
    if (!rol) { rol = AspNetUsersRoles.IsUserInRole("Administrator", User.Identity.Name); }
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        @*<a href="~/Noticias">*@
                        <a href="javascript:history.back(1)">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        @if (rol == true)
                            {
                                <a href="~/Noticias">
                                    <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                                </a>
                            }
                            else
                            {
                                <a href="~/Admin/Editor?nombreu=@usu">
                                    <img src="~/images/botones_ruta_migas/editor/btn_edit_a.png" title="Editor" />
                                </a>
                            }
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <a href="~/RVC/Aprobar">
                            <img src="~/images/botones_ruta_migas/rvc/btn_RVC.png" title="Red vitual de conocimiento" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                        <img src="~/images/botones_ruta_migas/editor/btn_aprobar.png" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br /><br /><br />
@Html.ActionLink("Aprobar", "Aprobar", "RVC", null, new { @class = "button large primary", data_hint = "Aprobar|Aquí podrás aprobar las nuevas RVC.", data_hint_position = "bottom" })                    
@Html.ActionLink("Nueva categoría", "Index", "tbNetVirtualCategoryResources", null, new { @class = "button large primary", data_hint = "Nueva categoria|Aquí podrás crear una nueva categoría.", data_hint_position = "bottom" }) 
<table id="rvc" class="table">
    <thead>
        <tr>
            <th>Logo</th>
            <th>
                Nombre
            </th>
            <th>
                Fecha
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@Url.Action("DowloadFile", "tbNetVirtualGroups", new { id = item.id, FileId = "photo" })" width="100px"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>               
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>                    
                    <button class="btnrvc" id="@item.id">Aprobar</button>                  
                    @Html.ActionLink("Detalles", "Details", "tbNetVirtualGroups", new { id = item.id }, new { data_hint = "Detalles|Aquí podrás saber más sobre esta red.", data_hint_position = "bottom" })                    
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#rvc').DataTable(
                {
                    "language": {
                        "url": "../Lang/es-Co.txt"
                    }
                }
                );

            $(".btnrvc").click(function () {
                var obj = $(this);
                var id = $(this).attr("id");
                console.log(id);
                $.get("/RVC/ChangeState/" + id, function (data) {
                    obj.hide();
                    //var not = $.Notify.show(data.rta);
                    AlertMessage(data.rta);
                });
            });
        });
    </script>
}




