﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InvRVC.cshtml";
}
<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        @*<a href="~/Home">*@
                        <a href="javascript:history.back(1)">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                    <li>
                        <img id="img_mano" src="~/images/botones_ruta_migas/img_mano.png" />
                    </li>
                    <li>
                            <img src="~/images/botones_ruta_migas/rvc/btn_RVC.png" title="Red virtual de conocimiento" />
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br /><br /><br />

<div class="panel">
    <div class="panel-header">
        BIENVENIDO
    </div>
    <div class="panel-content" style="background-color:white">
        <div>
            Esto es un espacio de encuentro virtual diseñado y gestionado con el fin de alcanzar objetivos concretos mediante el trabajo colaborativo en red. La dinámica de este tipo de redes está orientada a la recuperación y reelaboración de los intercambios que se producen entre sus miembros con el fin de obtener productos de conocimiento.<br /><br />

            El objetivo de la red de conocimiento es construir conocimiento nuevo sobre temáticas que interesan y preocupan a los miembros de la red. Los participantes en este tipo de red trabajan en una plataforma virtual.
            
        </div>
        <br />
        Pulsa en el siguiente botón para participar en este espacio.
        <br /><br />
        @Html.ActionLink("Iniciar", "AttachmentUser", "RVC", null, new { @class = "button large primary" })
        @*<a class="button large primary" href="">Iniciar</a>*@
    </div>
</div>

