﻿@{
    @*Layout = null;*@
    Layout = "~/Views/Shared/_InvRVC.cshtml";
}

<div id="ruta_miga">
    <table>
        <tr>
            <td rowspan="2">
                <ul id="img_fijos">
                    <li>
                        @*<a href="~/Home">*@
                        <a href="javascript:history.back(1)">
                            <img src="~/images/botones_ruta_migas/btn_atras_va.png" title="Atras" />
                        </a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <img src="~/images/botones_ruta_migas/label_aqui_estoy.png" />
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                <ul id="img_variables">
                    <li>
                        <a href="~/Home">
                            <img src="~/images/botones_ruta_migas/btn_menu_p.png" title="Menú principal" />
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<br /><br /><br /><br /><br /><br /><br />
<div style="padding-left: 280px; height: 452px; font-family: Chewy, serif; font-size: 24px; background-image: url('/images/error.png'); background-repeat: no-repeat; background-position: top left;">
    <div>
        <h2 style="font-family: Chewy, serif; font-size: 30px;">El recurso al que intentas acceder no se encuentra disponible</h2>
        <div style="font-family: Chewy, serif; font-size: 24px;">Si el problema persiste comunícate con el administrador del sitio.</div>
    </div>
</div>