﻿@model MAI.Models.DataBase.AspNetUsers

@{
    ViewBag.Title = "Index";
    
}

<h2>MODULO MAESTRO INVESTIC</h2>

<div class="grid fluid">
    <div class="row">
        <div class="span2">
            <strong>Nombre</strong>
        </div>
        <div class="span2">
            @Html.DisplayFor(m => m.UserName)
        </div>
    </div>
</div>

<div class="row">
    <h1>Página en construcción</h1>
</div>