﻿@model SEG.Models.DataBase.programa_tareas

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>programa_tareas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Corte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Corte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.responsabilidade.Id_Contratista)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.responsabilidade.Id_Contratista)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tabla_alternativas.Des_Alternativa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tabla_alternativas.Des_Alternativa)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
