﻿@model SEG.Models.DataBase.programa_tareas

@{

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <h4>Programar Tareas</h4>

    @Html.HiddenFor(model => model.Estado)

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="grid fluid">

        <div class="row">
            <div class="span2">
                <strong>Contratista</strong>
            </div>
                 <div class="span2">
                     @ViewData["nombrecom"]
                     @Html.DropDownList("Id_Contratista", null, htmlAttributes: new { @class = "form-control", @style = "display:none" })
             
                
            </div>

        </div>


        <div class="row">
            <div class="span2">
                <strong>Nombre Tarea</strong>
            </div>
            <div class="span6 input-control text">
                @Html.TextBoxFor(m => m.Nombre)
                @Html.ValidationMessageFor(model => model.Nombre)
                
            </div>


        </div>



        <div class="row">
            <div class="span2">
                <strong>Descripcion Tarea</strong>
            </div>
            <div class="span6 input-control textarea">
                @Html.TextAreaFor(m => m.Descripcion)
                @Html.ValidationMessageFor(m => m.Descripcion)
            </div>


        </div>



        <div class="row">

            <div class="span2">
                <strong>Alternativa</strong>
            </div>
            <div class="span2 input-control select">
                @Html.DropDownList("Alternativa")
            </div>

            <div class="span2 text-right">
                <strong>Responsabilidad</strong>
            </div>
            <div class="span2 input-control select">
                @Html.DropDownList("Responsabilidad")
            </div>


        </div>



        <div class="row">

            <div class="span2">
                <strong>Fecha Inicial</strong>
            </div>
            <div class="span2 input-control text" data-role="datepicker" data-format="dd/mm/yyyy" data-locale="es" data-effect="slide" data-position="top">
                @Html.TextBoxFor(m => m.Fecha_Ini, "{0:dd/MM/yyyy}", new { @type = "text" })
                <button class="btn btn-date" type="button"></button>
                @Html.ValidationMessageFor(m => m.Fecha_Ini, "", new { @class = "text-danger" })
            </div>





            <div class="span2 text-right">
                <strong>Fecha Final</strong>
            </div>
            <div class="span2 input-control text" data-role="datepicker" data-format="dd/mm/yyyy" data-locale="es" data-effect="slide" data-position="top">
                @Html.TextBoxFor(m => m.Fecha_Fin, "{0:dd/MM/yyyy}", new { @type = "text" })
                <button class="btn btn-date" type="button"></button>
                @Html.ValidationMessageFor(m => m.Fecha_Fin, "", new { @class = "text-danger" })
            </div>


        </div>

   



        <div class="row">
            <div class="span2">

            </div>
            <div class="span2">
                <input type="submit" class="btn large bg-darkBlue fg-white" value="Asignar!" />
            </div>


        </div>



    </div>



}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts {
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.min-1.11.1.js"></script>
    <script src="~/Scripts/metro-ui/metro.min.js"></script>
    @Styles.Render("~/Content/csswizard")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/wizard")

    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.validate.date.js"></script>

}