﻿@using Microsoft.AspNet.Identity
@using INI.Models.DataBase

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title .INVESTIC</title>
    <link rel="icon" type="image/png" href="favicon.png">
    <link href="~/Content/metro-ui/css/metro-bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/Content/metro-ui/css/metro-bootstrap.css" rel="stylesheet" />
    <link href="~/Content/metro-ui/css/iconFont.min.css" rel="stylesheet" />
    <link href="~/Content/Investic/Site.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <link href="~/Content/Investic/fonts.css" rel="stylesheet" />
    <link href="~/Content/INI/Recuerdos.css" rel="stylesheet" />
</head>

@{
    var bodyStyle = "background: url('../../images/fondosSecciones/bg_paginicio.png') no-repeat top scroll; width: 100%; height: 100%; margin: 0px; padding: 0px; background-size: cover;";
    if(Request.IsAuthenticated)
    {
        bodyStyle = "background: url('../../images/fondosSecciones/bg_paginicio_logged.png') no-repeat top scroll; width: 100%; height: 100%; margin: 0px; padding: 0px; background-size: cover;";
    }

    if (@Request.RawUrl.Contains("/Usuario/"))
    {
        bodyStyle = "background: url('../../images/fondosSecciones/bg_seguimiento.svg') center repeat #558b2f;";
    }

    if (@Request.RawUrl.Contains("/Chat"))
    {
        bodyStyle = "background: url('../../images/fondosSecciones/bg_seguimiento.png') center repeat #558b2f;";
    }
}

<body class="metro" style="@bodyStyle">
    <nav class="navigation-bar" style="background-color: #575756;">
        <nav class="navigation-bar-content">
            <div class="element" id="cabecera" style="padding-top:7px;position:absolute;padding-left:0;">
                @*<div id="menu" class="element">*@
                    <a href="~/Home/Conocenos" accesskey="C"><img id="conocenos" src="~/images/botonesSecciones/conocenos.svg" style="margin:0; float: left;" class="mainButtons" accesskey="C" /></a>
                    <a href="~/Home/Aprendizaje" accesskey="I"><img id="investiga" src="~/images/botonesSecciones/investiga.svg" style="margin:0; float: left;" class="mainButtons" accesskey="I"/></a>
                    <a href="~/Home/Contactenos" accesskey="O"><img id="contactanos" src="~/images/botonesSecciones/contactanos.svg" style="margin:0; float: left;" class="mainButtons"  accesskey="O" /></a>
                    <a href="~/Home/Recuerdos"  accesskey="R"><img id="recuerdos" src="~/images/botonesSecciones/recuerdos.svg" style="margin:0; float: left;" class="mainButtons"  accesskey="R"/></a>
                    <a href="~/Home/comovamos"  accesskey="V"><img id="comovamos" src="~/images/botonesSecciones/comovamos.svg" style="margin:0; float: left;" class="mainButtons" accesskey="V"/></a>
                    @if (Request.IsAuthenticated)
                    {
                        var uname = User.Identity.Name;
                        
                        if (AspNetUsersRoles.IsUserInRole("Maestro", uname))
                        {
                            if (@Request.RawUrl != "/Home/Chamilo")
                            { <a href="~/Home/Chamilo"><img id="comovamos" src="~/images/botonesSecciones/aprendizaje.svg" style="margin:0; float: left;" class="mainButtons" /></a> }
                            if (@Request.RawUrl != "/Home/MAI")
                            { <a href="~/GruposInvestigacion/MisGrupos"><img id="comovamos" src="~/images/botonesSecciones/mai.svg" style="margin:0; float: left;" class="mainButtons" /></a> }
                            if (@Request.RawUrl != "/Home/IEP")
                            { <a href="~/IEP"><img id="comovamos" src="~/images/botonesSecciones/iep.svg" style="margin:0; float: left;" class="mainButtons" /></a> }
                            if (@Request.RawUrl != "/Home/RVC")
                            { <a href="~/RVC"><img id="comovamos" src="~/images/botonesSecciones/rvc.png" style="margin:0; float: left;" class="mainButtons" /></a> }
                        }
                        
                        if (AspNetUsersRoles.IsUserInRole("Estudiante", uname))
                        {
                            if (@Request.RawUrl != "/Home/Chamilo")
                            { <a href="~/Home/Chamilo"><img id="comovamos" src="~/images/botonesSecciones/aprendizaje.svg" style="margin:0; float: left;" class="mainButtons" /></a> }
                            if (@Request.RawUrl != "/Home/IEP")
                            { <a href="~/IEP"><img id="comovamos" src="~/images/botonesSecciones/iep.svg" style="margin:0; float: left;" class="mainButtons" /></a> }
                             if (@Request.RawUrl != "/Home/RVC")
                            { <a href="~/RVC"><img id="comovamos" src="~/images/botonesSecciones/rvc.png" style="margin:0; float: left;" class="mainButtons" /></a> }                                                                                                                                       
                        }

                        if (AspNetUsersRoles.IsUserInRole("Editor", uname))
                        {
                            <a href="~/Noticias" accesskey="D"><img id="editor" src="~/images/botonesSecciones/editor.svg" style="margin:0; float: left;" class="mainButtons" accesskey="D" /></a>
                        }
                        if (AspNetUsersRoles.IsUserInRole("Administrator", uname))
                        {
                            <a href="~/Noticias" accesskey="D"><img id="editor" src="~/images/botonesSecciones/editor.svg" style="margin:0; float: left;" class="mainButtons" accesskey="D" /></a>
                            <a href="~/PanelAdministrativo" accesskey="A"><img id="editor" src="~/images/botonesSecciones/admon.png" style="margin:0; float: left;" class="mainButtons" accesskey="A" /></a>
                        }

                        if (AspNetUsersRoles.IsUserInRole("Administrador", User.Identity.Name)
                            || AspNetUsersRoles.IsUserInRole("Contratista", User.Identity.Name)
                            || AspNetUsersRoles.IsUserInRole("Coordinador", User.Identity.Name))
                        {
                            <a href="~/Seguimiento" accesskey="E"><img id="editor" src="~/images/botonesSecciones/seguimiento.svg" style="margin:0; float: left;" class="mainButtons" accesskey="E" /></a>
                        }
                        <a href="~/Home/Chat" accesskey="T"><img id="comovamos" src="~/images/botonesSecciones/interactua.svg" style="margin:0; float: left;" class="mainButtons" accesskey="T"/></a>
                    }
                @*</div>*@
            </div>
            <span class="element-divider"></span>     
            <div class="no-tablet-portrait">
                @if (!Request.IsAuthenticated)
                {
                    <div class="element place-right">
                        <a class="dropdown-toggle" href="#" accesskey="N">
                            <span>¿Eres <U>N</U>uevo?</span>
                        </a>
                        <ul class="dropdown-menu place-right" data-role="dropdown" >
                            <li><a href="~/Usuario/Registrar" accesskey="g">Re<u>g</u>istrarse</a></li>
                            <li><a href="~/Usuario/MapaSitio" accesskey="S">Mapa del <U>S</U>itio</a></li>
                        </ul>
                    </div>
                    @Html.Partial("_LoginForm")
                }
                else
                {
                    @Html.Partial("_LoginPartial")

                }
            </div>
        </nav>
    </nav>    
    <div class="container">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/metro-ui")
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>