﻿@model INI.Models.DataBase.tblProyectosInvestigacion

@{
    ViewBag.Title = "_ProyectoInvestigación";
}

<div>
    <h2>Información del Proyecto</h2>
</div>
@*<div class="row">
        <h3>@Html.DisplayFor(m => m.proyInv_nombreProyecto)</h3>
    </div>
    <div class="row">
        <strong>@Html.DisplayFor(m => m.tblPresentacionProyecto.preProy_resumenProy)</strong>
    </div>*@

<div>
    <dl class="horizontal">
        <dt>@Html.DisplayName("Titulo del Proyecto")</dt>
        <dd>@Html.DisplayFor(m => m.proyInv_nombreProyecto)</dd>
        <dt>@Html.DisplayName("Resumen")</dt>
        <dd>@Html.DisplayFor(m => m.tblPresentacionProyecto.preProy_resumenProy)</dd>
    </dl>
</div>

